footer.footer__container
  .background-black
   .wrapper
      .footer__holder
         .footer__section
            .footer__block.ml-block
               section( aria-label='Логотип сайта ФИЦТО' )
                  a( href='https://ficto.ru/' target='_blank' ).footer__logo.logo_ficto
            .footer__info.mb2.ml-block
               article.flex.items-center.mb04.mr2
                  .icon-mail.mr1
                  a.hover( href='mailto:it-cube@ficto.ru' ) it-cube@ficto.ru
               article
                  h1.inline-block.mr05 Сайт:
                  a.hover( href='https://mpcenter.ru/' target='_blank' ) mpcenter.ru

      .footer__bottom
         article.footer__block-full &copy;&nbsp;
            span.footer__year
            |   Федеральный институт цифровой трансформации в&nbsp;сфере образования
         #totop.footer__totop
            .icon-arrow-top


