footer.footer__container
   section( aria-label='Информация о федеральном операторе' ).background-gray
      .wrapper
         .footer__holder
            .footer__section
               article.footer__block
                  h1.mb05 Федеральный оператор:
                  span Федеральное государственное автономное научное учреждение &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;

               .hidden
                  article.footer__block
                     h1.mb05 Зона ответственности:
                     span Организационно&ndash;методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации
                  article.footer__block
                     h1.inline-block.mr05 Сайт:
                     a.hover( href='https://ficto.ru/' target='_blank' ) ficto.ru
                  article.footer__block
                     h1.inline-block.mr05 Почта:
                     a.hover( href='mailto:it-cube@ficto.ru' ) it-cube@ficto.ru
                  article.footer__block
                     h1.inline-block.mr05 Горячая линия:
                     a.hover.sm( href='tel:+74951374716' ) 8&nbsp;(495)&nbsp;137-47-16
               .element__more
                  span.hover Подробнее
                  .element__more_arrow
            .footer__section
               article.footer__block
                  h1.mb05 Центр проектного сопровождения:
                  span Федеральный государственный автономное учреждение &laquo;Центр просветительских инициатив Министерства просвещения Российской Федерации&raquo;
               .hidden
                  article.footer__block
                     h1.mb05 Зона ответственности:
                     span Организационно&ndash;методическое и&nbsp;нформационное сопровождение создания Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации, а&nbsp;также организационно&ndash;техническое сопровождение субъектов Российской Федерации в&nbsp;части мониторинга использования субсидии из&nbsp;федерального бюджета с&nbsp;учётом обязательств по&nbsp;достижению значений результатов использования данной субсидии субъектами Российской Федерации
                  article.footer__block
                     h1.inline-block.mr05 Сайт:
                     a.hover( href='https://mpcenter.ru/' target='_blank' ) mpcenter.ru
               .element__more
                  span.hover Подробнее
                  .element__more_arrow

   .background-black
      .wrapper
         .footer__holder
            section( aria-label='Логотип сайта ФИЦТО' ).footer__section
               a( href='https://ficto.ru/' target='_blank' ).footer__logo.logo_ficto
            section( aria-label='Контакты ФИЦТО' ).footer__section.flex
               .footer__contact_holder
                  article.footer__contact
                     a( href='tel:+74950099888' ).footer__icon
                        .icon-phone.mr05
                        .hover.sm 8&nbsp;(495)&nbsp;009-98-88
                  article.footer__contact
                     a( href='mailto:info@ficto.ru' ).footer__icon
                        .icon-mail.mr05
                        .hover info@ficto.ru
               .footer__contact_holder
                  article.footer__contact
                     a( href='https://ok.ru/group/70000001127021' target='_blank' ).footer__icon
                        .icon-ok
                  article.footer__contact
                     a( href='https://vk.com/fganu_ficto' target='_blank' ).footer__icon
                        .icon-vk
         .footer__bottom
            article.footer__block &copy; 2023 Федеральный институт цифровой трансформации в&nbsp;сфере образования
            #totop.footer__totop
               .icon-arrow-top


