section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month
               +month( 'Май' )
               +month( 'Июнь' )
               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )
               +month( 'Октябрь' )
               +month( 'Ноябрь' )
               +month( 'Декабрь' )
               +month( 'Январь' )
               +month( 'Февраль' )
               +month( 'Март' )
               +month( 'Апрель' )
            .slider__calendar
               include __calendar
               include __calendar-null
               include __calendar-1
               include __calendar-2
               +events_calendar-2( '05', 'orange', 'blue', '16-19', 'мая', 'Просветительское мероприятие для руководителей и&nbsp;педагогов Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'г. Волгоград', '31', 'мая', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: https://vk.com/fganu_ficto'  )
               +events_calendar-2( '06', 'blue', 'orange', '28', 'июня', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', 'июнь', 'Прием заявок для участия в&nbsp;I Всероссийском конкурсе педагогов Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;' )
               +events_calendar-1( '07', 'orange', '10', 'июля', 'Окончание приема заявок для участия в&nbsp;І Всероссийском конкурсе педагогов Центров цифрового образования детей &laquo;IT-куб&raquo;')
               +events_calendar-2( '08', 'blue', 'orange', '30', 'августа', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '16-19', 'августа', 'Всероссийский съезд руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'Тюменская область' )
               +events_calendar-2( '09', 'blue', 'orange', '27', 'сентября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '5-7', 'сентября', 'Просветительское мероприятие для руководителей и&nbsp;педагогов Центров  <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'Челябинская область')
               +events_calendar-2( '10', 'orange', 'blue', '3-7', 'октября', 'Просветительское мероприятие для руководителей и&nbsp;педагогов Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'Форум классных руководителей 2023', '25', 'октября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-2( '11', 'blue', 'green', '29', 'ноября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', 'Даты уточняются', 'Детский хакатон по программированию', 'город Екатеринбург')
               +events_calendar-1( '12', 'blue', '27', 'декабря', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-null( '01', 'январе' )
               +events_calendar-null( '02', 'феврале' )
               +events_calendar-null( '03', 'марте' )
               +events_calendar-1( '04', 'blue', '26', 'апреля', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция доступна в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/video-216917614_456239021" target="_blank">https://vk.com/video-216917614_456239021</a>')


