section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month


               +month( 'Ноябрь' )
               +month( 'Декабрь' )
               +month( 'Январь' )
               +month( 'Февраль' )
               +month( 'Март', 'new' )
               +month( 'Апрель' )
               +month( 'Май' )
               +month( 'Июнь' )
               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )
               +month( 'Октябрь' )


            .slider__calendar
               include __calendar
               include __calendar-null
               include __calendar-1
               include __calendar-2
               include __calendar-3
               include __calendar-4
               include __calendar-5
               include __calendar-6
               include __calendar-7
               include __calendar-8
               include __calendar-9



               +events_calendar-null( '11', ''  )
               +events_calendar-null( '12', ''  )

               +events_calendar-null( '01', '' )
               +events_calendar-null( '02', '' )
               +events_calendar-null( '03', ''  )


               +events_calendar-null( '04', '' )

               +events_calendar-null( '05', '' )
               +events_calendar-null( '06', '' )
               +events_calendar-null( '07', '' )
               +events_calendar-null( '08', ''  )
               +events_calendar-null( '09', ''  )
               +events_calendar-null( '10', '' )
