section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month

               +month( 'Октябрь' )
               +month( 'Ноябрь' )
               +month( 'Декабрь' )
               +month( 'Январь' )
               +month( 'Февраль' )
               +month( 'Март', 'new' )
               +month( 'Апрель' )
               +month( 'Май' )
               +month( 'Июнь' )
               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )


            .slider__calendar
               include __calendar
               include __calendar-null
               include __calendar-1
               include __calendar-2
               include __calendar-3
               include __calendar-4
               include __calendar-5
               include __calendar-6
               include __calendar-7
               include __calendar-8
               include __calendar-9

               +events_calendar-6( '10', 'green', 'green', 'green', 'green', 'blue', 'blue',
                  '1', 'октября', 'Старт отборочного этапа Хакатона по&nbsp;виртуальной и&nbsp;дополненной реальности &laquo;PRO VR&raquo;', 'Оренбургская область',
                  '9-11', 'октября', 'Заключительный этап II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'Нижегородская область, г.&nbsp;Нижний Новгород',
                  '14', 'октября', 'Старт заочного этапа Всероссийского научно-технического хакатона по&nbsp;программированию &laquo;Minin Code&raquo;', 'Нижегородская область',
                  '21', 'октября', 'Начало регистрации на Всероссийский хакатон по мобильной, летающей, подводной робототехнике и программированию «СибРобоФест 2024»', 'Новосибирская область',
                  '28', 'октября', 'Совещание с&nbsp;региональными координаторами', '',
                  '', '<strong>октябрь</strong>', 'Мониторинг выполнения показателей центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )

               +events_calendar-9( '11', 'green','green', 'green', 'green', 'orange', 'green', 'green', 'green', 'green',
                  '1', 'ноября', 'Старт отборочного этапа Соревнования по компьютерному спорту «Боевая арена – 5х5 – ПОРТ IT-куб»', 'Московская область',
                  '1', 'ноября', 'Начало приёма заявок на Открытый конкурс программирования среди учащихся «Нам с IT по пути»', 'Липецкая область',
                  '8-10', 'ноября', 'Финальный этап Хакатона по&nbsp;виртуальной и&nbsp;дополненной реальности &laquo;PRO VR&raquo;', 'Оренбургская область, г.&nbsp;Оренбург',
                  '11', 'ноября', 'Старт отборочного этапа Всероссийской олимпиады по программированию на языке Python «PythonQuest»', 'Республика Хакасия',
                  '15', 'ноября', 'Финал II&nbsp;Всероссийского конкурса педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', 'Смоленская область, г.&nbsp;Смоленск',
                  '22-24', 'ноября', 'Финальный этап Соревнования по компьютерному спорту «Боевая арена – 5х5 – ПОРТ IT-куб»', 'Московская область, г.&nbsp;Электросталь',
                  '25', 'ноября', 'Старт отборочного этапа Олимпиады по&nbsp;программированию &laquo;CodeMaster Challenge&raquo;', 'Воронежская область',
                  '27', 'ноября', 'Финал Всероссийской олимпиады по программированию на языке Python «PythonQuest»', 'Республика Хакасия, г.&nbsp;Абакан',
                  '28-29', 'ноября', 'Очный этап Всероссийского научно-технического хакатона по&nbsp;программированию &laquo;Minin Code&raquo;', 'Нижегородская область, г.&nbsp;Нижний Новгород' )

               +events_calendar-4( '12', 'green', 'green', 'green', 'blue',
                  '9-13', 'декабря', 'Заключительный этап Олимпиады по&nbsp;программированию &laquo;CodeMaster Challenge&raquo;', 'Воронежская область, г.&nbsp;Воронеж',
                  '10-13', 'декабря', 'Очный этап Всероссийскиого хакатона по мобильной, летающей, подводной робототехнике и программированию «СибРобоФест 2024»', 'Новосибирская область, г.&nbsp;Новосибирск',
                  '', '<strong>декабрь</strong>', 'Финал Открытого конкурса по программированию среди учащихся «Нам с IT по пути»', 'Липецкая область, г.&nbsp;Липецк',
                  '', '<strong>декабрь</strong>', 'Мониторинг проведения повышения квалификации педагогических работников', '' )


               +events_calendar-1( '1', 'blue',
                  '', '<strong>январь<br>2025</strong>', 'Мониторинг выполнения показателей центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )

               +events_calendar-null( '02', 'феврале' )
               +events_calendar-1( '03',  'orange', '30', 'марта', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей центров <span class="wwnow">&laquo;IT-куб&raquo;</span> (СЗФО, ЦФО)', 'г.&nbsp;Санкт-Петербург'  )
               +events_calendar-5( '04', 'green', 'blue', 'orange', 'green', 'blue', '20', 'апреля', 'Старт Всероссийского конкурса по&nbsp;системному администрированию и&nbsp;информационной безопасности &laquo;Uptime&raquo;', 'Республика Северная Осетия&nbsp;&mdash; Алания', '22', 'апреля', 'Совещание с&nbsp;региональными координаторами', '', '', '<strong>апрель</strong>', 'Прием заявок для&nbsp;участия в&nbsp;II Всероссийском конкурсе педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', 'апрель', 'Прием заявок для&nbsp;участия в&nbsp;II&nbsp;Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>апрель</strong>', 'Мониторинг выполнения показателей центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-4( '05', 'green', 'orange', 'orange', 'green', '15', 'мая', 'Завершение Всероссийского конкурса по&nbsp;системному администрированию и&nbsp;информационной безопасности &laquo;Uptime&raquo;', 'Республика Северная Осетия&nbsp;&mdash; Алания, г.&nbsp;Владикавказ', '21-22', 'мая', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей центров <span class="wwnow">&laquo;IT-куб&raquo;</span> (СКФО, ЮФО, ПФО)', 'Чеченская Республика, г.&nbsp;Грозный', '', '<strong>май</strong>', 'Отборочный этап II&nbsp;Всероссийского конкурса педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>май</strong>', 'Отборочный этап II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )
               +events_calendar-4( '06', 'orange', 'green', 'orange', 'green','14-15', 'июня', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей центров <span class="wwnow">&laquo;IT-куб&raquo;</span> (СФО, ДФО, УФО)', 'Красноярский край, г.&nbsp;Красноярск', '17', 'июня', 'Старт заочного этапа Хакатон по&nbsp;информационной безопасности &laquo;ИТ-вызов&raquo;', 'Удмуртская Республика', '', '<strong>июнь</strong>', 'Отборочный этап II&nbsp;Всероссийского конкурса педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июнь</strong>', 'Отборочный этап II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )
               +events_calendar-3( '07', 'orange', 'green', 'blue', '', '<strong>июль</strong>', 'Отборочный этап II Всероссийского конкурса педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июль</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июль</strong>', 'Мониторинг выполнения показателей центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-4( '08', 'orange', 'green', 'orange', 'green',
                  '20-21', 'августа', 'II&nbsp;Всероссийский съезд руководителей центров <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Как Управлять Будущим&raquo;', 'Челябинская область, г.&nbsp;Челябинск',
                  '23-24', 'августа', 'Очный этап Хакатона по&nbsp;информационной безопасности &laquo;ИТ-вызов&raquo;', 'Удмуртская Республика, г.&nbsp;Ижевск',
                  '', '<strong>август</strong>', 'Отборочный этап II&nbsp;Всероссийского конкурса педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '',
                  '', '<strong>август</strong>', 'Отборочный этап II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', ''  )

               +events_calendar-2( '09', 'orange', 'green',
                  '10', 'сентября', 'Объявление финалистов II&nbsp;Всероссийского конкурса педагогов центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '',
                  '15', 'сентября', 'Объявление финалистов II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )

