section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month

               +month( 'Март', 'new' )
               +month( 'Апрель' )
               +month( 'Май' )
               +month( 'Июнь' )
               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )
               +month( 'Октябрь' )
               +month( 'Ноябрь' )
               +month( 'Декабрь' )
               +month( 'Январь' )
               +month( 'Февраль' )
            .slider__calendar
               include __calendar
               include __calendar-null
               include __calendar-1
               include __calendar-2
               include __calendar-3
               include __calendar-4
               +events_calendar-2( '03',  'orange', 'blue', '30', 'марта', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'СЗФО и&nbsp;ЦФО', '', '<strong>март</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', ''  )
               +events_calendar-4( '04', 'blue', 'orange', 'orange', 'green', '22', 'апреля', 'Совещание с&nbsp;региональными координаторами', '', '26', 'апреля', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'ПФО и&nbsp;УФО', '', '<strong>апрель</strong>', 'Прием заявок для&nbsp;участия в&nbsp;II Всероссийском конкурсе педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', 'апрель', 'Прием заявок для&nbsp;участия в&nbsp;II Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )
               +events_calendar-4( '05', 'orange', 'orange', 'green', 'blue', '22', 'мая', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'СКФО и&nbsp;ЮФО', '', '<strong>май</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>май</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>май</strong>', 'Мониторинг использования оборудования Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-4( '06', 'orange', 'orange', 'green', 'blue', '14', 'июня', '&laquo;Поиск решений&raquo;<br>Окружное совещание для руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'СФО и&nbsp;ДФО', '', '<strong>июнь</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июнь</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июнь</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', ''  )
               +events_calendar-3( '07', 'orange', 'green', 'blue', '', '<strong>июль</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июль</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '29', 'июля', 'Совещание с&nbsp;региональными координаторами', '' )
               +events_calendar-3( '08', 'orange', 'orange', 'green', '15-16', 'августа', 'II Всероссийский съезд руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Как Управлять Будущим&raquo;', '', '', '<strong>август</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>август</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', ''  )
               +events_calendar-3( '09', 'orange', 'green', 'blue', '10', 'сентября', 'Объявление финалистов II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '15', 'сентября', 'Объявление финалистов II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>сентябрь</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-2( '10', 'green', 'blue', '16-18', 'октября', 'Заключительный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '28', 'октября', 'Совещание с региональными координаторами', '' )
               +events_calendar-2( '11', 'orange', 'blue', '15', 'ноября', 'Финал II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>ноябрь</strong>', 'Мониторинг проведения повышения квалификации Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>' )
               +events_calendar-2( '12', 'blue', 'blue', '', '<strong>декабрь</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '', '', '<strong>декабрь</strong>', 'Мониторинг использования оборудования Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-null( '01', 'январе' )
               +events_calendar-null( '02', 'феврале' )

