section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month
               +month( 'Апрель' )
               +month( 'Май' )
               +month( 'Июнь' )
               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )
               +month( 'Октябрь' )
               +month( 'Ноябрь' )
               +month( 'Декабрь' )
            .slider__calendar
               include __calendar
               include __calendar-1
               include __calendar-2
               include __calendar-spec
               +events_calendar-1( '04', 'blue', '26', 'апреля', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-2( '05', 'orange', 'blue', '16-19', 'мая', 'Просветительское мероприятие для руководителей и&nbsp;педагогов', 'г. Волгоград', '31', 'мая', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: https://vk.com/fganu_ficto'  )
               +events_calendar-1( '06', 'blue', '28', 'июня', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>' )
               +events_calendar( '07', 'июль')
               +events_calendar-2( '08', 'blue', 'orange', '30', 'августа', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', 'Даты уточняются', 'Всероссийский съезд руководителей Центров &laquo;IT-куб&raquo;', 'Место уточняется' )
               +events_calendar-2( '09', 'blue', 'orange', '27', 'сентября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', 'Даты уточняются', 'Просветительское мероприятие для руководителей и&nbsp;педагогов', 'Место уточняется')
               +events_calendar-spec( '10', 'orange', 'blue', '3-7', 'октября', 'Просветительское мероприятие для руководителей и&nbsp;педагогов', 'город Москва <br>Форум классных руководителей 2023', '25', 'октября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-2( '11', 'blue', 'green', '29', 'ноября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', 'Даты уточняются', 'Детский хакатон по программированию', 'город Екатеринбург')
               +events_calendar-1( '12', 'blue', '27', 'декабря', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')




