section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month

               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )
               +month( 'Октябрь' )
               +month( 'Ноябрь' )
               +month( 'Декабрь' )
               +month( 'Январь' )
               +month( 'Февраль' )
               +month( 'Март', 'new' )
               +month( 'Апрель' )
               +month( 'Май' )
               +month( 'Июнь' )


            .slider__calendar
               include __calendar
               include __calendar-null
               include __calendar-1
               include __calendar-2
               include __calendar-3
               include __calendar-4
               include __calendar-5
               +events_calendar-3( '07', 'orange', 'green', 'blue', '', '<strong>июль</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июль</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июль</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-4( '08', 'orange', 'green', 'orange', 'green', '20-21', 'августа', 'II Всероссийский съезд руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Как Управлять Будущим&raquo;', '', '23-24', 'августа', 'Очный этап Хакатона по информационной безопасности &laquo;ИТ-вызов&raquo;', 'Удмуртская Республика, г. Ижевск', '', '', '<strong>август</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>август</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', ''  )
               +events_calendar-2( '09', 'orange', 'green', '10', 'сентября', 'Объявление финалистов II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '15', 'сентября', 'Объявление финалистов II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )
               +events_calendar-5( '10', 'green', 'green', 'green', 'blue', 'blue', '1', 'октября', 'Старт отборочного этапа Хакатона по виртуальной и дополненной реальности &laquo;PRO VR&raquo;', 'Оренбургская область, г. Оренбург', '9-11', 'октября', 'Заключительный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '14', 'октября', 'Старт заочного этапа Всероссийского научно-технического хакатона по программированию &laquo;Minin Code&raquo;', 'Нижегородская область, г. Нижний Новгород', '28', 'октября', 'Совещание с региональными координаторами', '', '', '<strong>октябрь</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-4( '11', 'green', 'orange', 'green', 'green', '8-10', 'ноября', 'Финальный этап Хакатона по виртуальной и дополненной реальности &laquo;PRO VR&raquo;', 'Оренбургская область, г. Оренбург', '15', 'ноября', 'Финал II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', 'Смоленская область, г. Смоленск', '25', 'ноября', 'Старт отборочного этапа Олимпиады по программированию &laquo;CodeMaster Challenge&raquo;', '', '28-29', 'ноября', 'Очный этап Всероссийского научно-технического хакатона по программированию &laquo;Minin Code&raquo;', 'Нижегородская область, г. Нижний Новгород' )
               +events_calendar-3( '12', 'green', 'green', 'blue', '6', 'декабря', 'Завершение отборочного этапа Олимпиады по программированию &laquo;CodeMaster Challenge&raquo;', '', '9-13', 'декабря', 'Заключительный этап Олимпиады по программированию &laquo;CodeMaster Challenge&raquo;', 'Воронежская область, г. Воронеж', '', '<strong>декабрь</strong>', 'Мониторинг проведения повышения квалификации педагогических работников', '' )
               +events_calendar-1( '1', 'blue', '', '<strong>январь<br>2025</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-null( '02', 'феврале' )
               +events_calendar-1( '03',  'orange', '30', 'марта', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'СЗФО и&nbsp;ЦФО. Место проведения: г. Санкт-Петербург'  )
               +events_calendar-5( '04', 'green', 'blue', 'orange', 'green', 'blue', '20', 'апреля', 'Старт Всероссийского конкурса по системному администрированию и информационной безопасности &laquo;Uptime&raquo;', 'Республика Северная Осетия – Алания, г. Владикавказ', '22', 'апреля', 'Совещание с&nbsp;региональными координаторами', '', '', '<strong>апрель</strong>', 'Прием заявок для&nbsp;участия в&nbsp;II Всероссийском конкурсе педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', 'апрель', 'Прием заявок для&nbsp;участия в&nbsp;II Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>апрель</strong>', 'Мониторинг выполнения показателей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', '' )
               +events_calendar-4( '05', 'green', 'orange', 'orange', 'green', '15', 'мая', 'Завершение Всероссийского конкурса по системному администрированию и информационной безопасности &laquo;Uptime&raquo;', 'Республика Северная Осетия – Алания, г. Владикавказ', '21-22', 'мая', '&laquo;Поиск решений&raquo;<br>Окружное совещание для&nbsp;руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'СКФО, ЮФО И ПФО. Место проведения: Чеченская Республика, г. Грозный', '', '<strong>май</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>май</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )
               +events_calendar-4( '06', 'orange', 'green', 'orange', 'green','14-15', 'июня', '&laquo;Поиск решений&raquo;<br>Окружное совещание для руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'СФО, ДФО и УФО. Место проведения: Красноярский край, г. Красноярск', '17', 'июня', 'Старт заочного этапа Хакатон по информационной безопасности &laquo;ИТ-вызов&raquo;', 'Удмуртская Республика, г. Ижевск', '', '<strong>июнь</strong>', 'Отборочный этап II Всероссийского конкурса педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '', '', '<strong>июнь</strong>', 'Отборочный этап II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', '' )

