section( aria-label='Календарь мероприятий центра' ).events_calendar__container
   .wrapper
      .events__slider
         #events_calendar__slider
            .slider__month
               include __month
               +month( 'Июнь' )
               +month( 'Июль' )
               +month( 'Август' )
               +month( 'Сентябрь' )
               +month( 'Октябрь' )
               +month( 'Ноябрь' )
               +month( 'Декабрь' )
               +month( 'Январь' )
               +month( 'Февраль' )
               +month( 'Март' )
               +month( 'Апрель' )
               +month( 'Май' )
            .slider__calendar
               include __calendar
               include __calendar-null
               include __calendar-1
               include __calendar-2
               +events_calendar-2( '06', 'blue', 'orange', '28', 'июня', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', '<strong>июнь</strong>', 'Прием заявок для участия в&nbsp;I Всероссийском конкурсе педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;', '<a class="hover inline-block mb" href="./teacher_competition.html">Вся информация о&nbsp;конкурсе</a>' )
               +events_calendar-2( '07', 'orange', 'blue', '10', 'июля', 'Окончание приема заявок для участия в&nbsp;І Всероссийском конкурсе педагогов Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span>', '', '26', 'июля', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-2( '08', 'orange', 'blue', '17-18', 'августа', 'Всероссийский съезд руководителей Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'Тюменская область', '30', 'августа', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>' )
               +events_calendar-2( '09', 'orange', 'blue', '5-7', 'сентября', 'Просветительское мероприятие для руководителей и&nbsp;педагогов Центров  <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'Челябинская область',  '27', 'сентября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-1( '10', 'blue', '25', 'октября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-2( '11', 'blue', 'green', '29', 'ноября', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>', '', 'Даты уточняются', 'Детский хакатон по программированию', 'Свердловская область, г. Верхняя Пышма')
               +events_calendar-1( '12', 'blue', '27', 'декабря', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция пройдет в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/fganu_ficto" target="_blank">https://vk.com/fganu_ficto</a>')
               +events_calendar-null( '01', 'январе' )
               +events_calendar-null( '02', 'феврале' )
               +events_calendar-null( '03', 'марте' )
               +events_calendar-1( '04', 'blue', '26', 'апреля', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция доступна в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/video-216917614_456239021" target="_blank">https://vk.com/video-216917614_456239021</a>')
               +events_calendar-2( '05', 'orange', 'blue', '16-19', 'мая', 'Просветительское мероприятие для руководителей и&nbsp;педагогов Центров <span class="wwnow">&laquo;IT-куб&raquo;</span>', 'г. Волгоград', '31', 'мая', 'Онлайн семинар для руководителей и&nbsp;педагогов', 'Трансляция доступна в&nbsp;группе Вконтакте: <br><a class="hover inline" href="https://vk.com/video-216917614_456239023" target="_blank">https://vk.com/video-216917614_456239023</a>'  )


