.number__diagram
   .diagram__holder
      .diagram__element.diagram_element-gray
         object( type="image/svg+xml", data="assets/data/images/diagram/gray-animated.svg" )
                  img( src='./assets/data/icons/animated/gray.svg' )
      .diagram__element.diagram_element-blue
         object( type="image/svg+xml", data="assets/data/images/diagram/blue-animated.svg" )
                  img( src='./assets/data/icons/animated/blue.svg' )
      .diagram__element.diagram_element-dark
         object( type="image/svg+xml", data="assets/data/images/diagram/dark-animated.svg" )
                  img( src='./assets/data/icons/animated/dark.svg' )
      .diagram__element.diagram_element-red
         object( type="image/svg+xml", data="assets/data/images/diagram/red-animated.svg" )
                  img( src='./assets/data/icons/animated/red.svg' )
      //.diagram__element.diagram_element-gray
      //   .diagram__element-number 21
      //   .diagram__element-bar
      //   .diagram__element-reflection
      //.diagram__element.diagram_element-blue
      //   .diagram__element-number 71
      //   .diagram__element-bar
      //   .diagram__element-reflection
      //.diagram__element.diagram_element-dark
      //   .diagram__element-number 126
      //   .diagram__element-bar
      //   .diagram__element-reflection
      //.diagram__element.diagram_element-red
      //   .diagram__element-number 198
      //   .diagram__element-bar
      //   .diagram__element-reflection
