.number__diagram
   .diagram__holder
      .diagram__element.diagram_element-gray
         .diagram__element-number 21
         .diagram__element-bar
         .diagram__element-reflection
      .diagram__element.diagram_element-blue
         .diagram__element-number 71
         .diagram__element-bar
         .diagram__element-reflection
      .diagram__element.diagram_element-dark
         .diagram__element-number 126
         .diagram__element-bar
         .diagram__element-reflection
      .diagram__element.diagram_element-red
         .diagram__element-number 198
         .diagram__element-bar
         .diagram__element-reflection
