.news__container {
   position: relative;
   z-index: 200;
   overflow: hidden;
   padding-top: 11rem;
   
   margin-top: -2rem;
   margin-bottom: 6rem;
   
   .md-block({
      padding-top: 4rem;
   });
}
#container_news .slick-slide.slick-current.slick-active.slick-center {
   background-color: transparent;
   color: initial;
}
#container_news .slick-arrow {

}
#container_news .first {
   .xs-block({
      display: none;
   })
}
#container_news .second {
   display: none;
   .xs-block({
      display: block;
   })
}
.news__container .caption .wwnow {
   margin-left: .8rem;
   .to( 730px, {
      margin-left: 0;
   })
}

.main_news__container {

}
.main_news__container .row {
   .items-start();
}
.main_news__image {
   .col();
   .size(12);
   .size-xl(12);
   .size-middle(13);
   .size-lg(13);
   .size-md(13);
   .size-sm(24);
   .size-xs(24);
   
   //.news-main();
   height: 25rem;
   
   .ll-block({
      height: 26vw;
   });
   .sm-block({
      margin-bottom: 2rem;
      height: 64vw;
   });
   .xs-block({
      display: none;
   });
}
.main_news__image img {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
.main_news__holder {
   .col();
   .size(12);
   .size-xl(12);
   .size-middle(11);
   .size-lg(11);
   .size-md(11);
   .size-sm(24);
   .size-xs(24);
}

section .main_news__date {
   display: inline-block;
   background-color: @color-blue;
   padding: .6rem 1.4rem;
   margin-bottom: 2rem;
   .xs-block({
      display: flex;
      padding: 0;
      background-color: transparent;
   })
}
section .main_news__date.text-25 {
   .montserrat-semibold();
   color: white;
   .xs-block({
      color: @color-black;
      .montserrat-semibold();
      font-size: 1.7rem;
      line-height: 2.1rem;
   })
}
.main_news__text.text-22 {
   margin-bottom: 3rem;
   .lg-block({
      margin-bottom: 2.5rem;
   });
   .md-block({
      margin-bottom: 1rem;
   });
   .xs-block({
      margin-bottom: .8rem;
   });
}
.main_news__text p {
   .montserrat-semibold();
}
.news__more {
   color: @color-blue;
}
.news__more.inline.hover:after {
   background-color: @color-blue;
}


.row.news__holder {
   .xs-block({
      .column();
   })
}
.news__holder .line {
   .col();
   .size(1);
   .size-xl(1);
   .size-middle(1);
   .size-lg(1);
   .size-md(1);
   .size-sm(1);
   .size-xs(1);
   .size-xxs(1);
   
   .lg-block({
      display: block;
   });
   .xs-block({
      display: none;
   })
}
.news__holder .line:after {
   background-color: @color-black;
}
.news_date__holder {
   .col();
   .size(3);
   .size-xl(3);
   .size-middle(3);
   .size-lg(3);
   .size-md(4);
   .size-sm(4);
   .size-xs(20);
   .size-xxs(6);
   
   padding-top: 1.5rem;
   box-sizing: border-box;
   
}
.news_text__holder {
   .col();
   .size(19);
   .size-xl(19);
   .size-middle(20);
   .size-lg(21);
   .size-md(19);
   .size-sm(19);
   .size-xs(24);
   .size-xxs(17);
   
   padding-top: 1.5rem;
   box-sizing: border-box;
    .md-block({
      padding-top: .8rem;
   });
}
.news_text__holder strong.block.text-22 {
   margin-bottom: 2rem;
   .md-block({
      margin-bottom: 1rem;
   });
   .xs-block({
      margin-bottom: .8rem;
   });
}
.news_date__holder {
   .xs-block({
      .flex();
   })
}
.news__holder.mb3 .news_date__holder .first {
   .xs-block({
      display: none;
   })
}
.news__holder .news_date__holder strong.text-27,
.news__holder .news_date__holder strong.text-22 {
   display: block;
   .xs-block({
      display: flex !important;
       font-size: 1.7rem;
      line-height: 2.1rem;
   })
}


/*  страница одной новости  */
.wrapper.news__container {}
.wrapper.news__container .row {
   .items-start();
}
a.back__holder {
   .col();
   .size(3);
   .size-xl(3);
   .size-middle(4);
   .size-lg(3);
   .size-md(24);
   .size-sm(24);
   .size-xs(24);
   
   .flex();
   .items-center();
   .montserrat-semibold();
   
   
   .md-block({
      order: 1
   })
}
a.back__holder:hover {
   color: @color-blue;
   .tr();
}
a.back__holder:hover .icon-arrow-back {
   .icon-svg( 'arrow-back-hover' );
   transform: translateX(-10px);
   .tr();
}


.news_one__article {
   display: none;
}
.news_one__article.active_news {
   display: block;
}
.news_one__block {
   .col();
   .size(21);
   .size-xl(21);
   .size-middle(20);
   .size-lg(20);
   .size-md(24);
   .size-sm(24);
   .size-xs(24);
   
   .md-block({
      order: 2
   })
}


.news_one__date.text-22 {
   display: inline-block;
   background-color: @color-blue;
   padding: .6rem 1.4rem;
   margin-bottom: 2rem;
   
    .montserrat-semibold();
   color: white;
}

.news_one__article p {
   margin-bottom: 1.5rem;
}
.news_one__article i {
   display: block;
   margin-bottom: 1.5rem;
}
.news_one__article b {
   .montserrat-medium();
}
.news_one__article .news_point {
   position: relative;
   margin-left: 20px;
   margin-bottom: .8rem;
}
.news_one__article .news_point:before {
   .pseudo();
   left: -20px;
   
   width: 7px;
   height: 7px;
   border-radius: 50px;
   
   background-color: #426591;
   
   top: 1.6rem / 2.5;
   .middle-block({
      top: 1.8rem / 2.5;
   });
   .sm-block({
      top: 2.1rem / 2.5;
   });
}
.news_one__article strong {
   display: block;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.news_one__article a {
   color: #003668;
   display: inline-block;
    margin-bottom: 0.3rem;
}

section .news_one__article h1.title {
   .sm-block({
      font-size: 2.4rem;
      line-height: 2.9rem;
   });
   .xxs-block({
      font-size: 2.2rem;
      line-height: 2.5rem;
   });
}
