.news_one__article {
   position: relative;
   opacity: 0;
   z-index: -10;
   display: none;
}

.news_one__article.active_news, .active_news {
   position: relative;
   z-index: 10;
   opacity: 1;
   
   display: block;
}

.all_news__container {
   .wrapper();
   .sm-block({
      padding-right: 10px;
      padding-left: 10px;
   })
}

.one_news__container {
   display: none;
}

.one_news__close {
   .flex();
   .items-center();
   cursor: pointer;
}


.grand_news__container {
   
   .first {
      .xs-block({
         display: none;
      })
   }
   
   .second {
      display: none;
      .xs-block({
         display: block;
      })
   }
}


.grand_news__container.show {
   
   .all_news__container,
   .one_news__container {
      .col();
   }
   
   .one_news__container {
      display: block;
      .size(16);
   }
   
   .all_news__container {
      .size(8);
      padding: 0;
   }
   
   .from(@break_lg, {
      .news_list__container {
         margin-top: 2rem !important;
         margin-left: 1rem;
      }
      
      section .main_news__date {
         padding: 0;
         background-color: transparent;
         color: rgba(41, 44, 51, 0.75);
         margin-bottom: .5rem;
      }
      .main_news__image {
         height: 130px;
         margin-right: 15px;
      }
      .main_news__holder {
         margin-left: 0;
         margin-right: -30px;
         flex-grow: 1;
      }
      .news__holder .line {
         display: none;
      }
      section .main_news__date.text-25 {
         .montserrat-semibold();
         font-size: 1.3rem;
         line-height: 120%;
      }
      .news_date__holder {
         display: flex;
      }
      .row.news__holder {
         display: flex;
         flex-direction: column;
         margin-bottom: 1rem !important;
      }
      .news__holder .first {
         display: none;
      }
      .news__holder .second {
         display: block;
      }
      .news__holder .news_date__holder strong.text-27,
      .news__holder .news_date__holder strong.text-22 {
         color: rgba(41, 44, 51, 0.75);
         min-width: unset;
         display: flex !important;
         font-size: 1.1rem;
         line-height: 120%;
         
      }
      .news_text__holder {
         .montserrat-medium();
         padding-top: .4rem;
         font-size: 1rem;
         .size(24);
      }
      .news_text__holder strong.block.text-22 {
         margin-bottom: .5rem;
         color: rgba(41, 44, 51, 0.6);
         font-size: 1rem;
         .montserrat-medium();
      }
      .main_news__text.text-22 {
         margin-bottom: 1.5rem;
         color: rgba(41, 44, 51, 0.6);
      }
      .materials__pagination_holder {
         .justify-start();
         margin-left: -.5rem;
      }
      
      
   });
   
   .news__more {
      color: rgba(107, 144, 193, 0.8);
   }
   
   .news_one__article strong {
      .montserrat-bold();
   }
   
   .news_one__date.text-22 {
      padding: .7rem 1.6rem;
      font-size: 1.5rem;
      margin-left: auto;
   }
   
   
   .all_news__container {
      .size-xl(10);
      .size-lg(24);
      .lg-block({
         display: none;
      });
   }
   
   .one_news__container {
      .size-xl(14);
      .size-lg(24);
      .lg-block({
         display: block;
      });
   }
   
   .pagination__arrow {
      margin: 0 .5rem;
   }
   
   .pagination_active {
      border-color: rgb(107, 144, 193);
      color: rgb(107, 144, 193);
   }
   
   .pagination__item,
   #prev,
   #next {
      width: 28px;
      height: 28px;
   }
   
}

.news_one__article h1.title {
   .montserrat-bold();
   font-size: 2rem;
   line-height: 2.2rem;
   .middle-block({
      font-size: 2.1rem;
      line-height: 2.3rem;
   });
   .sm-block({
      font-size: 2.4rem;
      line-height: 2.9rem;
   });
   .xxs-block({
      font-size: 2.2rem;
      line-height: 2.5rem;
   });
}

.news_img__slider {
   margin-right: 3rem;
   margin-left: 2.8rem;
}
