.caption__container {
   width: 100%;
   color: @color-black;
   .md-block({
      width: 280px;
      text-align: center;
      margin-left: 80px;
   });
   .xs-block({
      width: 220px;
   });
}
h1.caption__explanations {
   .montserrat-regular();
   font-size: 2.3rem;
   line-height: 2.8rem;
   
   margin-bottom: 2.4rem;
   
   .md-block({
      font-size: 2rem;
      line-height: 2.6rem;
   });
   .sm-block({
       margin-bottom: .5rem;
   })
}
h2.caption__main {
   .montserrat-extrabold();
   font-size: 5rem;
   
   .md-block({
      font-size: 4rem;
   })
}

.caption__pages {
   display: none;
   .md-block({
      display: block;
   })
}
