.caption__container {
   z-index: 500;
   width: 100%;
   color: @color-black;
   .md-block({
      width: 280px;
      text-align: center;
      margin-left: 80px;
   });
   .sm-block({
      margin-left: 72px;
    margin-top: .6rem;
   });
   .xs-block({
      width: 220px;
       margin-top: calc(0.2rem + 9vw);
   });
   .xxs-block({
      width: 220px;
       margin-top: 1.9rem;
      margin-bottom: 2.1rem;
   });
}
h1.caption__explanations {
   .montserrat-regular();
   font-size: 2.3rem;
   line-height: 2.8rem;
   
   margin-bottom: 2.4rem;
   
   .md-block({
      font-size: 2rem;
      line-height: 2.6rem;
       margin-bottom: 1.5rem;
   });
   .sm-block({
       margin-bottom: .1rem;
   });
   .xxs-block({
      font-size: 1.8rem;
      line-height: 2.4rem;
   })
}
h2.caption__main {
   .montserrat-extrabold();
   font-size: 5rem;
   
   .md-block({
      font-size: 4rem;
   });
   .xs-block({
      font-size: 3.8rem;
      line-height: 4rem;
   })
}

.caption__pages {
   display: none;
   .md-block({
      display: block;
   })
}
