header.header__container {
   position: relative;
   z-index: 500;
   width: 100%;
   padding-top: 4rem;
   
   .md-block({
      .logo_kub-adaptive();
   });
   
   .sm-block({
      background-size: auto 100%;
       background-position: 30% center;
   });
   .xs-block({
       background-position: 40% center;
   });
}
header.header__container .wrapper {
   .flex();
   .justify-between();
   flex-wrap: nowrap;
}
.header__logo  {}
