article.news_one__article#news_17-08-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 В Тюмени открылся первый Всероссийский съезд руководителей центров цифрового образования детей
      span.wwnow &laquo;IT&ndash;куб&raquo;
   .news_img__slider.mb4
      img( src='./assets/data/images/news/2023/17.08.2023/Открытие.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/2.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/4.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/5.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/7.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/8.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/9.webp' )
      img( src='./assets/data/images/news/2023/17.08.2023/12.webp' )
   .text-22
      p В&nbsp;Тюмени стартовал первый Всероссийский съезд руководителей центров цифрового образования детей &laquo;IT-куб&raquo;. Он объединил более 200&nbsp;участников из&nbsp;67&nbsp;регионов страны. Мероприятие проходит под&nbsp;девизом &laquo;Как&nbsp;управлять будущим&raquo;.
      p К&nbsp;участникам съезда с&nbsp;видеоприветствием обратился Министр просвещения Российской Федерации Сергей Кравцов.
      p.quote &laquo;Своей работой вы&nbsp;доказываете, что&nbsp;школьникам можно легко и&nbsp;просто рассказывать про&nbsp;информационные технологии, увлекать и&nbsp;вдохновлять их осваивать новые технические решения. Сеть центров активно расширяется в&nbsp;рамках национального проекта &laquo;Образование&raquo;. Знаю, что&nbsp;уже завтра, 18&nbsp;августа, первый &laquo;IT-куб&raquo; откроется и&nbsp;в&nbsp;Тюмени. Всего в&nbsp;стране работает почти 200&nbsp;центров в&nbsp;72&nbsp;субъектах, а&nbsp;ребята получают важные теоретические и&nbsp;практические навыки по&nbsp;восьми ключевым техническим направлениям, которые не&nbsp;только помогают им в учебе, но&nbsp;и&nbsp;становятся замечательным подспорьем в&nbsp;их&nbsp;будущей карьере&raquo;,&nbsp;&mdash; отметил Сергей Кравцов.
      p В&nbsp;торжественной церемонии открытия съезда приняли участие директор Департамента стратегии, программной и&nbsp;проектной деятельности Минпросвещения России Мария Руденок, директор Федерального института цифровой трансформации в&nbsp;сфере образования (ФИЦТО) Сергей Кожевников, заместитель губернатора Тюменской области Алексей Райдер, а&nbsp;также более 20&nbsp;приглашенных экспертов, представляющих государственные учреждения, общественные организации и&nbsp;технологических партнеров, в&nbsp;том&nbsp;числе Агентство стратегических инициатив, Ассоциацию разработчиков программных продуктов &laquo;Отечественный софт&raquo; и&nbsp;другие компании.
      p Директор Департамента стратегии, программной и&nbsp;проектной деятельности Минпросвещения России Мария Руденок подчеркнула важную роль центров &laquo;IT-куб&raquo; в&nbsp;реализации национального проекта &laquo;Образование&raquo; и&nbsp;подготовке профессиональных кадров.
      p.quote &laquo;Мы видим, что&nbsp;центры &laquo;IT-куб&raquo; играют важную роль в&nbsp;национальном проекте &laquo;Образование&raquo;. Их сотрудничество с&nbsp;другими сущностями нацпроекта позволяет создавать интегрированное образовательное пространство и&nbsp;развивать молодое поколение всесторонне, заранее готовя его к&nbsp;будущим задачам и&nbsp;вызовам, подготавливая кадры, способные успешно конкурировать на&nbsp;мировой арене&raquo;,&nbsp;&mdash; сказала Мария Руденок.
      p Со&nbsp;своей стороны директор ФГАНУ &laquo;ФИЦТО&raquo; Сергей Кожевников, отметил существенный потенциал и&nbsp;несомненные успехи Центров &laquo;IT-куб&raquo;, в&nbsp;качестве движущей силы технологического развития российских регионов, и&nbsp;выразил уверенность в&nbsp;продуктивной работе съезда:
      p.quote &laquo;Нас ждут два дня активной работы, обмена опытом, совместных усилий по&nbsp;обсуждению самых актуальных и&nbsp;острых вопросов нашей работы и&nbsp;выработке решений. Мы будем обсуждать стратегию развития, новые проекты, работу с&nbsp;технологическими партнерами для&nbsp;обеспечения новых результатов и&nbsp;достижений наших учеников&raquo;
      p Заместитель губернатора Тюменской области Алексей Райдер рассказал о&nbsp;реализации в&nbsp;регионе технологических образовательных проектов.
      p.quote &laquo;Наш регион является площадкой для многих начинаний. Тюменская область входит в&nbsp;десятку лидеров по&nbsp;&laquo;цифровой зрелости&raquo;. Нам удалось создать комплексные платформенные решения в&nbsp;сфере цифровизации образования, внедрить цифровые сервисы для&nbsp;детей, родителей и&nbsp;педагогов&raquo;,&nbsp;&mdash; сообщил Алексей Райдер.
      p Программа съезда рассчитана на&nbsp;два дня. Знаковым моментом мероприятия станет открытие первого в&nbsp;Тюменской области центра &laquo;IT-куб&raquo;.
      p На&nbsp;проектных сессиях участники съезда обсудят направления развития и&nbsp;поддержки центров &laquo;IT-куб&raquo;, представят лучшие региональные практики и&nbsp;расскажут о&nbsp;сотрудничестве с&nbsp;технологическими партнерами. Также в&nbsp;центре внимания будут различные вопросы развития системы цифрового образования.
      p Съезд завершится 18&nbsp;августа.
