article.news_one__article#news_24-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центры &laquo;IT&#8209;куб&raquo; достойно выступили на&nbsp;XII Всероссийской конференции &laquo;Юные техники и&nbsp;изобретатели&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.24/0.webp ' loading='lazy' title='© Оргкомитет XII Всероссийской конференции «Юные Техники и Изобретатели»')
   .text-22
      p Более 300 школьников из&nbsp;75 регионов страны, в&nbsp;числе которых&nbsp;&mdash; представители Центров цифрового образования &laquo;IT&#8209;куб&raquo;, приняли участие в&nbsp;финале XII&nbsp;конференции &laquo;Юные техники и&nbsp;изобретатели&raquo;. Престижное мероприятие при&nbsp;поддержке профильных комитетов Государственной думы России прошло в&nbsp;московском Доме Союзов в&nbsp;рамках Всероссийского фестиваля ВОИР &laquo;Наука и&nbsp;изобретения для&nbsp;жизни&raquo;.
      p Конференция объединила несколько сотен научных проектов из&nbsp;разных областей&nbsp;&mdash; экономики, промышленности, социальной сферы, медицины, сухопутной и&nbsp;морской логистики, робототехники, дополненной реальности и&nbsp;искусственного интеллекта.

      .italic
         p Оператором XII&nbsp;конференции &laquo;Юные техники и&nbsp;изобретатели&raquo; является Фонд &laquo;Юные техники и&nbsp;изобретатели&raquo; совместно со&nbsp;Всероссийским обществом изобретателей и&nbsp;рационализаторов (ВОИР).

      p.mb1 С&nbsp;приветствием к&nbsp;участникам обратился
         b  заместитель Председателя Правительства Российской Федерации, Председатель Попечительского совета ВОИР Дмитрий Чернышенко:
      p.quote Ваш труд приближает нашу страну к&nbsp;достижению технологического лидерства&nbsp;&mdash; такую национальную цель обозначил Президент Владимир Путин. Со&nbsp;своей стороны Правительство России стремится создать все условия для&nbsp;реализации потенциала и&nbsp;развития талантов каждого человека. <...> Всё это создаёт условия, чтобы на&nbsp;каждом этапе такие увлечённые наукой и&nbsp;разработками люди, как вы, могли реализовать свои идеи, получить новые знания и&nbsp;найти единомышленников.

      p Воспитанники Центров &laquo;IT&#8209;куб&raquo; в&nbsp;очередной раз продемонстрировали свою любознательность и&nbsp;высокий уровень подготовки, предлагали конкретные и&nbsp;смелые технологические решения для самых разных сфер жизни.

      .italic
         p Центры цифрового образования детей &laquo;IT&#8209;куб&raquo; были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo; при&nbsp;поддержке Министерства просвещения Российской Федерации.

      p.mb4 Например,
         b  Даниил Огородников
         |  , обучающийся Центра &laquo;IT&#8209;куб. Липецк&raquo;, под&nbsp;наставничеством педагога дополнительного образования
         b  Александра Горяйнова
         |  (направление &laquo;Программирование роботов&raquo;) представил новаторский метод управления роботизированной системой на&nbsp;основе генеративного подхода обучения с&nbsp;подкреплением.

      img.mb4( src='./assets/data/images/news/2025/09.24/1.webp ' loading='lazy' title='© «IT-куб.Липецк»')

      p Основной замысел его изобретения заключался в&nbsp;разработке и&nbsp;создании модели нейросети обучения без&nbsp;учителя для управления комплексной средой на&nbsp;основе признаков, извлечённых из&nbsp;среды в&nbsp;качестве входных данных для агента.
      p.quote &laquo;Самым главным преимуществом является устранение необходимости ручной настройки: вместо того, чтобы программировать каждый шаг поведения робота, разработчики могут использовать мою модель для обучения агента самостоятельно, взаимодействуя с&nbsp;окружающей средой. Но также можно отметить возможность создания более сложного поведения: RL позволяет обучать роботов выполнять сложные задачи, которые сложно описать в&nbsp;виде правил, например, манипулировать объектами в&nbsp;реальном мире&raquo;,&nbsp;&mdash; поделился
         b  Даниил Огородников.
      p Дорогу на&nbsp;конференцию воспитаннику Центра &laquo;IT&#8209;куб. Брянск&raquo;
         b  Кириллу Варламову
         |  открыла интерактивная математическая викторина, разработанная им совместно с&nbsp;педагогом-наставником
         b  Вероникой Лазукиной
         |  на&nbsp;занятиях по&nbsp;направлению &laquo;Алгоритмика и&nbsp;логика&raquo;.

      p.mb1
         b Педагог-наставник Вероника Лазукина:
      p.mb4.quote В&nbsp;десять лет понимать логику программирования и&nbsp;суметь создать полноценный образовательный продукт&nbsp;&mdash; это большое достижение, Кирилл не&nbsp;просто написал код, он продумал игровую механику, которая делает изучение математики увлекательным. Его викторина&nbsp;&mdash; это первый, но&nbsp;очень уверенный шаг в&nbsp;мир серьёзной разработки.

      img.mb4( src='./assets/data/images/news/2025/09.24/2.webp ' loading='lazy' title='© «IT-куб.Брянск»')

      p От&nbsp;Челябинской области выступило сразу три Центра &laquo;IT&#8209;куб&raquo;: &laquo;IT&#8209;куб. Магнитогорск&raquo;, &laquo;IT&#8209;куб. Сатка&raquo;, &laquo;IT&#8209;куб. Южноуральск&raquo;.
      p Обучающиеся магнитогорского &laquo;IT&#8209;куба&raquo;
         b  Никита Родичкин
         |  и&nbsp;
         b Алёна Меховщикова
         |  под&nbsp;руководством наставника
         b  Маргариты Никифоровой
         |  заняли первое место в&nbsp;номинации &laquo;ИТ-решения в&nbsp;образовании и&nbsp;не&nbsp;только&raquo;.
      p.mb4 Их проект CorpAi, разработанный совместно с&nbsp;АО &laquo;Научно-производственное объединение &laquo;Андроидная техника&raquo;, направлен на&nbsp;автоматизацию процесса развития профессиональных и&nbsp;личностных компетенций сотрудников через корпоративный портал обучения. Разработка ребят представляет собой виртуальный администратор для корпоративного развития сотрудников предприятия на&nbsp;основе нейронных сетей и&nbsp;нацелен на&nbsp;индивидуализацию обучения персонала. Проект прошёл этап очных встреч, обсуждений целей и&nbsp;образовательного контента, и&nbsp;в&nbsp;перспективе будет дорабатываться и&nbsp;развиваться.

      img.mb4( src='./assets/data/images/news/2025/09.24/3.webp ' loading='lazy' title='© «IT-куб.Магнитогорск»')

      p От Центра &laquo;IT&#8209;куб. Сатка&raquo; в&nbsp;финале конференции участвовали
         b  Константин Якушев
         |  и&nbsp;
         b Алексей Нестеров
         |  (МАОУ &laquo;СОШ &#8470;40&raquo;, г.&nbsp;Сатка).
      p Константин представил проект &laquo;Время комфорта: ЖК, о&nbsp;котором вы мечтали&raquo;. Это проект об&nbsp;интеллектуальной инфраструктуре жилого комплекса, объединяющей персональные умные дома, общественные зоны с&nbsp;IoT-управлением, безопасность, энергоэффективность и&nbsp;экологичные решения.
      p Алексей выступил с&nbsp;проектом &laquo;Изготовление стенда. Ремонт и&nbsp;наладка бытовых электроприборов&raquo;. В&nbsp;рамках проекта воспитанники Центра &laquo;IT&#8209;куб&raquo; разработали и&nbsp;собрали два стенда-планшета&nbsp;&mdash; фен и&nbsp;электрическая плита, на&nbsp;которых с&nbsp;помощью электроизмерительного оборудования можно выявить такие неисправности, как обрыв провода, нерабочий регулятор температуры, нагревательных элементов, электродвигателя и&nbsp;т.д. После выявления неисправностей на&nbsp;планшете можно приступать к&nbsp;ремонту уже вполне реальных бытовых приборов.
      p
         b Полина Шамкова
         |  из&nbsp;Центра &laquo;IT&#8209;куб. Южноуральск&raquo; (тренер&nbsp;&mdash;
         b  Сергей Антонов
         | ) представила на&nbsp;конференции проект &laquo;Виртуальная книга почёта&raquo;. Разработка посвящена сохранению памяти о&nbsp;передовиках производства &laquo;Южноуральского завода радиокерамики&raquo;. Книга содержит оцифрованные материалы о&nbsp;сотрудниках, получавших награды в&nbsp;разные годы. Причём для оцифровки документов команда южноуральского IT&#8209;куба разработала собственные программные решения.
      p В итоговом варианте книги насчитывается 1036 страниц с&nbsp;информацией о&nbsp;более чем 2 тыс. заводчанах. Работапо&nbsp;оцифровке материала заняла у Полины около полугода.
      p А
         b  Иван Кунгурцев
         |  из&nbsp;Центра &laquo;IT&#8209;куб. Абакан&raquo; (Республика Хакасия) под&nbsp;руководством своего наставника, педагога дополнительного образования
         b  Арины Яблонцевой
         |  представил на&nbsp;конференции проект &laquo;Разработка интерактивной книги культур хакасского народа&raquo;. Юноша создал интерактивную 3D-игру, посвящённую изучению хакасской культуры. Этот уникальный проект объединяет этнографию, геймдизайн и&nbsp;информационные технологии, демонстрируя, как современные технологии помогают сохранять и&nbsp;популяризировать культурное наследие.

      p.mb1
         b Заместитель руководителя Центра цифрового образования &laquo;IT&#8209;куб&raquo; Елизавета Недопекина:
      p.mb4.quote Поездка на&nbsp;такую значимую площадку, как Государственная дума, стала важным этапом в&nbsp;развитии наших обучающихся и&nbsp;педагогов. Участие в&nbsp;конференции позволило не&nbsp;только продемонстрировать результаты нашей работы, но&nbsp;и&nbsp;обменяться опытом с&nbsp;коллегами из разных регионов, выявить новые перспективные направления и&nbsp;вдохновиться идеями для дальнейших проектов. Это укрепляет мотивацию и&nbsp;расширяет горизонты, что особенно важно для формирования компетенций в&nbsp;современных технологиях и&nbsp;творческом подходе к&nbsp;решению задач.

      img.mb4( src='./assets/data/images/news/2025/09.24/4.webp ' loading='lazy' title='© «IT-куб.Абакан»')

      p.mb4 От&nbsp;Вологодской области на&nbsp;мероприятии в&nbsp;Доме Союзов выступили
         b  Кирилл Чуркин
         |  и&nbsp;
         b Михаил Постников
         | , воспитанники Центра &laquo;IT&#8209;куб. Великий Устюг&raquo; (Великоустюгский округ). Ребята представили проект &laquo;Букболла&raquo;, предназначенный для случайного выбора книг для чтения. Устройство, работающее по&nbsp;принципу пинбола, запускает мячик, который проходит препятствия и&nbsp;попадает в&nbsp;случайный отсек с&nbsp;названием книги. Эта разработка была оценена по&nbsp;достоинству, и&nbsp;с&nbsp;конференции ребята вернулись с&nbsp;дипломами лауреатов.

      img.mb4( src='./assets/data/images/news/2025/09.24/5.webp ' loading='lazy' title='© «IT-куб.Великий Устюг»')

      p Успешное выступление воспитанников IT&#8209;кубов на&nbsp;престижной всероссийской конференции наглядно демонстрирует эффективность системы дополнительного цифрового образования. Разнообразие представленных ребятами проектов подтверждает: современные школьники способны решать сложные технологические задачи с&nbsp;практической пользой для общества. Эти достижения стали возможными благодаря системной работе Центров цифрового образования детей &laquo;IT&#8209;куб&raquo; и&nbsp;свидетельствуют о&nbsp;высоком потенциале нового поколения российских IT&#8209;специалистов.
