article.news_one__article#news_22-04-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 ФГАНУ &laquo;ФИЦТО&raquo; совместно c&nbsp;Центром &laquo;IT&#8209;куб. Химки&raquo; проведёт цифровой квест
   img.mb4( src='./assets/data/images/news/2025/04.22/1.webp' )
   .text-22

      p ФИЦТО и&nbsp;Центр &laquo;IT-куб. Химки&raquo; (Московская область) приглашают обучающихся c&nbsp;10 до&nbsp;16 лет присоединиться к&nbsp;увлекательному цифровому квесту, который пройдёт 25 апреля 2025года в&nbsp;МБОУ СОШ &laquo;Лидер&raquo;.

      p Квест будет проведён в&nbsp;помощью геймифицированного мобильного приложения ФИЦТО, c&nbsp;помощью которого участники разовьют креативное мышление, командную работу и&nbsp;предпринимательские навыки.

      p У участников квеста будет возможность выполнить задания, разгадать загадки, заработать внутриигровую валюту и&nbsp;обменять её на&nbsp;ценные призы.

      p Возможности уникального приложения будут презентованы на&nbsp;круглом столе &laquo;Цифровые стартапы, школьный трамплин&raquo;!

      p Зарегистрироваться на&nbsp;квест можно по&nbsp;ссылке:&nbsp;
         a( href='forms.yandex.ru/u/68061ae8' target='_blank' title='forms.yandex.ru/u/68061ae8') forms.yandex.ru.

