article.news_one__article#news_15-04-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Разработчики ФИЦТО совместно c&nbsp;командой &laquo;IT&#8209;куб. Смоленск&raquo; создали мобильное приложение &laquo;Столовая Минпросвещения&raquo;
   img.mb4( src='./assets/data/images/news/2025/04.15/1.webp ' loading='lazy' title='')
   .text-22

      p Команда победителей I Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; в&nbsp;направлении &laquo;Программирование&raquo; из&nbsp;смоленского Центра &laquo;IT-куб&raquo; участвовала в&nbsp;разработке приложения совместно c&nbsp;командой разработчиков ФИЦТО в&nbsp;течение 2024 года.

      p Разработка проекта велась под&nbsp;кураторством педагога Центра &laquo;IT-куб&raquo; Смоленска Владислава Ковалёва.

      p.mb4 Приложение позволяет работникам министерства и&nbsp;гостям ознакомиться c&nbsp;меню и&nbsp;сделать предзаказ, чтобы не&nbsp;тратить время в&nbsp;очередях. Кроме того, в&nbsp;&laquo;Столовой Минпросвещения&raquo; можно отследить пищевую ценность блюд, а&nbsp;также оставить отзыв.
      .news_img__flex.justify-center
         img.mb4.half( src='./assets/data/images/news/2025/04.15/2.webp ' loading='lazy' title='')

      p По итогам успешной работы над приложением разработчики смоленского Центра &laquo;IT-куб&raquo; Владислав Ковалёв, Алексей Ефременков, Артём Жуков и&nbsp;Георгий Гусев получили ценные награды от&nbsp;команды ФИЦТО.
