article.news_one__article#news_21-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанник Центра &laquo;IT-куб.Кетово&raquo; вошёлв&nbsp;сотню лучших на всероссийском фестивале &laquo;Пилоты будущего&raquo;!
   +image( '10.21', '0', 'mb4', '© Движение первых (Кетовский МО)')
   .text-22
      .italic
         p Всероссийский чемпионат &laquo;Пилоты Будущего&raquo; стартовалв&nbsp;апреле 2025 года и&nbsp;собрал сильнейших участников со всей страны. Всего на чемпионат было подано более 16 000 заявок от&nbsp;ребят со всей России. В отборочных турах, проходившихв&nbsp;89 регионах России, участвовали 14 515 юных пилотов, которых поддерживали 3 138 наставников.

      p В решающие испытания вышли 100 лучших пилотов из 38 регионов страны. 4 октябряв&nbsp;московских &laquo;Лужниках&raquo; состоялись финальные соревнования и&nbsp;церемония награждения победителей.
      p Каждый из 100 участников прошёл серьёзный отбор. Задачей пилотов на Чемпионате было показать лучший индивидуальный результатв&nbsp;пяти дисциплинах: &laquo;Класс 75 мм&raquo;, &laquo;Технический симулятор&nbsp;&mdash; гонки беспилотных воздушных судов&raquo;, &laquo;Дрон-баскетбол&raquo;, &laquo;Сборка дрона&raquo;, &laquo;Скоростной мониторинг&raquo;.
      p.mb3 В эту сотню сильнейших вошёл Илья Машуков, обучающийся Центра &laquo;IT-куб. Кетово&raquo; (Курганская область). Он блестяще прошёл сложный путь от&nbsp;регионального отбора до&nbsp;участияв&nbsp;финале и&nbsp;достойно представил свой регион.


      p.mb2
         b Сергей Деулин, наставник Ильи, педагог Центра &laquo;IT-куб.Кетово&raquo; отметил:
      p.mb3.quote Чемпионат &laquo;Пилоты Будущего&raquo;&nbsp;&mdash; это идеальная среда для проверки компетенций, которые мы формируем на занятияхв&nbsp;Центре &laquo;IT-куб&raquo;. Здесь теория встречается с&nbsp;практикой. Ребята видят, что их навыки&nbsp;&mdash; это не&nbsp;абстрактные знания, а реальный инструмент для решения задач. Для Ильи это бесценный опыт &laquo;боевого&raquo; пилотирования, который закаляет характер и&nbsp;даёт четкое понимание,в&nbsp;каком направлении нужно развиваться дальше. Мы анализируем выступление, разбираем ошибки и&nbsp;уже строим планы на следующие старты.

      p.mb2
         b Комментируя практическую пользу участия, наставник добавил:
      p.mb3.quote Участиев&nbsp;таком фестивале&nbsp;&mdash; это интенсивный курс практических навыков, которые невозможнов&nbsp;полной мере получитьв&nbsp;учебной аудитории. Илья на практике столкнулся с&nbsp;тем, что составляет основу профессии оператора БПЛА:
         br
         br
         | - Пилотированиев&nbsp;стрессовых условиях: полёты на время и&nbsp;точность требуют невероятной концентрации и&nbsp;умения сохранять спокойствие под давлением.
         | - Работа с&nbsp;оборудованием: понимание всех нюансов настройки дрона, его калибровки и&nbsp;оперативного устранения неполадок.
         | - Тактическое мышление: прохождение трассы&nbsp;&mdash; это не&nbsp;просто скорость, это выбор оптимальной траектории, распределение энергии и&nbsp;анализ действий соперников.
      p.mb2
         b Илья Машуков, финалист фестиваля, обучающийся Центра &laquo;IT-куб.Кетово&raquo;:
      p.mb3.quote Это совершенно другой уровень. На тренировках ты знаешь каждую кочку на трассе, а тут&nbsp;&mdash; новая локация, новые люди, давление соревновательного дня. Самый ценный опыт&nbsp;&mdash; это работа с&nbsp;оборудованием &laquo;в поле&raquo;. Пришлось быстро перенастраивать дрон под новые условия, буквально &laquo;на коленке&raquo; проверять связь и&nbsp;камеру. А ещё&nbsp;&mdash; тактика. Ты видишь, как летят другие, и&nbsp;понимаешь, что твой запасной маршрут может оказаться выигрышным. Здесь ты не&nbsp;просто пилот, ты&nbsp;&mdash; инженер, техник и&nbsp;тактикв&nbsp;одном лице. Теперь я точно знаю, над какими навыками мне нужно работать целенаправленно.

      +image( '10.21', '1', 'mb4', '© Движение первых (Кетовский МО)')



      p Навыки, которые получают воспитанники Центров &laquo;IT-куб&raquo;,&nbsp;&mdash; это основа для десятков профессий будущего, которые уже сегодня востребованыв&nbsp;России:
      .ml2.mb3
         p.news_point Оператор БПЛАв&nbsp;МЧС, сельском хозяйстве, строительстве и&nbsp;логистике.
         p.news_point Инженер-проектировщик беспилотных систем.
         p.news_point Специалистпо&nbsp;геодезии и&nbsp;картографии с&nbsp;применением дронов.
         p.news_point Разработчик ПО для автономных полётов.

      p Где найти Центры &laquo;IT-куб&raquo; и&nbsp;как попасть туда на обучение?

      p Для начала можно обратитьсяв&nbsp;министерство образования вашего региона&nbsp;&mdash; вся необходимая информация там есть. Не забывайте об интернет-поисковиках и&nbsp;социальных сетях. У каждого Центра &laquo;IT-куб&raquo; есть свой информационный ресурс: либо раздел на сайте образовательной организации, где он создан, либо отдельный веб-сайт. Там вы найдёте сведения об образовательных программах, доступном оборудовании, расписании занятий и&nbsp;других деталях работы Центра.
      p
         b Важно:
         |  правила приёмав&nbsp;Центры &laquo;IT-куб&raquo; могут отличатьсяв&nbsp;разных регионах. Чтобы узнать точные условия зачисления и&nbsp;задать вопросы, необходимо связаться напрямую с&nbsp;интересующим вас Центром &laquo;IT-куб&raquo;.

      .italic
         strong Справочно
         p Всероссийский чемпионат &laquo;Пилоты будущего»&nbsp;&mdash; результат сотрудничества Движения Первых и&nbsp;Федерации гонок дронов России. Партнёром Чемпионата стало Общероссийское общественное движение содействия патриотическому и&nbsp;спортивному воспитанию граждан &laquo;Здоровое Отечество».
         p Центры цифрового образования детей &laquo;IT-куб» созданыв&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда» национального проекта &laquo;Образование» при поддержке Министерства просвещения Российской Федерации.
