article.news_one__article#news_01-11-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 От Центра &laquo;IT-куб» до&nbsp;космодрома Байконур: уральские школьники покоряют аэрокосмическую отрасль
   +image( '11.01', '0', 'mb4', '© Центр «IT-куб. Уралмаш»')
   .text-22
      .mb4.italic
         p Учащиеся Центра &laquo;IT-куб.Уралмаш» из Свердловской области одержали победу в&nbsp;престижном конкурсе проектов Опытного конструкторского бюро &laquo;Новатор». Трое талантливых воспитанников Центра вошли в&nbsp;десятку лучших участников, получив уникальную возможность посетить легендарный космодром &laquo;Байконур».

      p
         b Максим Изиланов и&nbsp;Михаил Юхман
         | , под руководством педагога дополнительного образования Центра &laquo;IT-куб» Павла Зубова, представили проект в&nbsp;сфере проектирования и&nbsp;конструирования&nbsp;&mdash; прототип модели для полёта человека &laquo;Ночной орёл». В ходе работы над проектом школьники рассчитали аэродинамические параметры, создали 3D-модель прототипа маломобильного устройства, способного перемещать человека, и&nbsp;приступили к&nbsp;тестированию систем управления.

      p.mb4.quote &laquo;Мы занимаемся в&nbsp;лаборатории беспилотных летательных аппаратов и&nbsp;авиамоделирования,&nbsp;&mdash;
         b  поделился победитель конкурса Михаил Юхман
         | .&nbsp;&mdash; Программа обучения включает основы аэродинамики, подбор материалов, проектирование, работу с&nbsp;чертежами, 3D-моделирование и&nbsp;создание реальных прототипов. Наш проект &laquo;Ночной орёл»&nbsp;&mdash; закономерный результат этой системной работы».

      p.mb2
         b Педагог Павел Зубов отметил:
      p.mb4.quote Победа школьников стала возможной благодаря системному обучению в&nbsp;Центре &laquo;IT-куб». Проект &laquo;Ночной орёл»&nbsp;&mdash; персональное летательное устройство нового поколения, решающее проблему ограниченной мобильности. Устройство может использоваться для выполнения специальных задач экстренными службами, в&nbsp;поисково-спасательных операциях, а также для туристических полётов.

      p
         b Екатерина Бузлаева
         |  под руководством директора ИМФИ УрГПУ Рашида Абдулова, представила проектпо&nbsp;физике, в&nbsp;котором исследовала парадоксальное явление движения точки на ободе колеса (например, светодиодная метка). Работа демонстрирует, как светодиодная метка в&nbsp;определённый момент движется назад, хотя всё колесо катится вперёд. Исследование получило высокую оценку жюри конкурса.

      p Достижение учащихся демонстрирует эффективность образовательных программ Центров &laquo;IT-куб» и&nbsp;даёт им серьёзный стимул для дальнейшего развития в&nbsp;сфере технологий.

      .italic
         strong Справочно
         p Конкурс ОКБ &laquo;Новатор» проводился для учащихся 9-11 классов, которые представили проектыпо&nbsp;направлениям промышленного дизайна, проектирования, конструирования, радиотехники, электроники и&nbsp;электротехники с&nbsp;обязательным описанием цели, задач и&nbsp;результатов работы.
         p Центры цифрового образования детей &laquo;IT-куб» были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда» национального проекта &laquo;Образование» при поддержке Министерства просвещения Российской Федерации.
