article.news_one__article#news_19-02-2026_2
   .news_one__date.mb2.text-22
   h1.title.mb5 В Хабаровске выбрали лучших юных инженеров региона
   +image-26( '02.19-2', '1', 'mb4', 'Центр «ТЕХНО-IT-куб» (Хабаровск)')
   .text-22
      p В Хабаровске завершился региональный этап Всероссийского профориентационного технологического конкурса с&nbsp;международным участием «Инженерные кадры России» (ИКаР). Очный этап соревнований, собравший 63&nbsp;участника от&nbsp;5 до&nbsp;18 лет, прошёл в&nbsp;феврале на&nbsp;базе Центра технического и&nbsp;цифрового образования «ТЕХНО-IT-куб». Организатором конкурса в&nbsp;Хабаровском крае выступил Региональный модельный центр дополнительного образования детей.
      p Конкурс ИКаР проводится с&nbsp;2014 года и&nbsp;ежегодно входит в&nbsp;перечень мероприятий Минпросвещения России. Соревновательный сезон 2025/26 учебного года включает три этапа: муниципальный, региональный и&nbsp;всероссийский с&nbsp;международным участием.
      p.mb4 Центр «ТЕХНО-IT-куб» в&nbsp;третий раз принял региональный этап ИКаР. Современная образовательная площадка, оснащенная высокотехнологичным оборудованием, станет местом подготовки команд.

      +image-26( '02.19-2', '2', 'mb4', 'Центр «ТЕХНО-IT-куб» (Хабаровск)')

      p.mb4.quote «Развитие робототехники в&nbsp;Хабаровском крае играет ключевую роль в&nbsp;формировании технологического будущего региона и&nbsp;всей страны,&nbsp;— отметила
         b  директор Центра «ТЕХНО-IT-куб» Елена Хорошилова
         | . — Привлечение детей к&nbsp;изучению основ робототехники способствует раннему выявлению талантов и&nbsp;развитию критического мышления, творческих способностей и&nbsp;навыков решения сложных инженерных задач».

      p Конкурсанты представили свои проекты в&nbsp;четырёх номинациях, две из которых&nbsp;— «ИКаР-ДЕБЮТ» и&nbsp;«ИКаР-ПРОФИ-АГРОТЕХ» — проводились в&nbsp;регионе впервые.
      p Самые юные участники&nbsp;— дошколята из&nbsp;номинации «
         b ИКаРёнок
         | » (возрастная категория 5–7&nbsp;лет)&nbsp;— выступали с&nbsp;темой «Профессии, которые меняют мир!». Особое внимание жюри привлекли проекты «Фабрика мороженого» и&nbsp;«Автоматизированное предприятие по&nbsp;переработке руды», которые ребята выполняли по&nbsp;техническим заданиям реальных хабаровских предприятий.

      p В номинации «
         b ИКаР-СТАРТ
         | » (возрастная категория 7–10&nbsp;лет) участники представили проекты сервисных роботов для производства. Среди них&nbsp;— умная кабинка локомотива, модель автоматических ворот для ремонтного депо ПМС-233, роботизированная система по&nbsp;изготовлению фрипсов, робот-сортировщик деталей и&nbsp;другие.
      p Номинация «
         b ИКаР-ДЕБЮТ
         | » объединила подростков 11–14&nbsp;лет, впервые участвующих в&nbsp;конкурсе. Их работы отличались масштабностью: модель автоматического участка по&nbsp;разбору рельсо-шпальных решёток, автоматизированный козловой кран, робот-очиститель желобов железнодорожного переезда.

      p Ещё одной новой точкой притяжения стала номинация «
         b ИКаР-ПРОФИ-АГРОТЕХ
         | » (возрастная категория 11–18&nbsp;лет), где команды моделировали посевную, рассадопосадочную или кормораздаточную технику. Наибольшее впечатление на&nbsp;судей произвела роботизированная система для посадки саженцев лиственницы.

      p.mb4.quote «Участие наших ребят в&nbsp;региональных этапах всероссийских конкурсов, таких как «Инженерные кадры России», помогает не&nbsp;только приобрести знания и&nbsp;опыт в&nbsp;реальных условиях, но&nbsp;и&nbsp;сформировать конкурентные преимущества среди сверстников, подготовиться к&nbsp;будущей профессиональной деятельности в&nbsp;высокотехнологичных отраслях экономики края и&nbsp;страны,&nbsp;— прокомментировала
         b  Елена Хорошилова
         | .&nbsp;— Именно такие инициативы позволяют создавать условия для дальнейшего продвижения инноваций и&nbsp;разработки новых решений, востребованных на рынке труда и&nbsp;необходимых для устойчивого социально-экономического роста Дальнего Востока России. Каждый проект&nbsp;— это важный вклад каждого ребёнка в&nbsp;собственное профессиональное будущее и&nbsp;перспективу развития родного региона».

      +image-26( '02.19-2', '3', 'mb4', 'Центр «ТЕХНО-IT-куб» (Хабаровск)')

      p По итогам регионального этапа две команды-победителя в&nbsp;номинациях «ИКаРёнок» и&nbsp;«ИКаР-СТАРТ» представят Хабаровский край на&nbsp;XII Всероссийском профориентационном технологическом конкурсе с&nbsp;международным участием «Инженерные кадры России» (ИКаР), который пройдёт в&nbsp;мае 2026&nbsp;года в&nbsp;Челябинске.

      p.italic Центр технического и&nbsp;цифрового образования «ТЕХНО-IT-куб» КГАОУ ДО РМЦ создан в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
