article.news_one__article#news_18-08-2023_2
   .news_one__date.mb2.text-22
   h1.title.mb5 На съезде руководителей Центров
      span.wwnow  &laquo;IT&ndash;куб&raquo;
      |  обсудили внедрение цифровых технологий в&nbsp;систему российского образования
   .news_img__slider.mb4
      img( src='../assets/data/images/news/2023/18.08.2023_2/1.webp' )
      img( src='../assets/data/images/news/2023/18.08.2023_2/2.webp' )
      img( src='../assets/data/images/news/2023/18.08.2023_2/3.webp' )
      img( src='../assets/data/images/news/2023/18.08.2023_2/4.webp' )
      img( src='../assets/data/images/news/2023/18.08.2023_2/5.webp' )
      img( src='../assets/data/images/news/2023/18.08.2023_2/6.webp' )
   .text-22
      p В Тюмени завершил работу первый Всероссийский съезд руководителей центров цифрового образования детей &laquo;IT-куб&raquo; Минпросвещения России, который проходил под&nbsp;девизом &laquo;Как&nbsp;Управлять Будущим&raquo;. Мероприятие объединило более 200&nbsp;представителей центров из&nbsp;67 регионов страны. Съезд проходил при&nbsp;участии Министерства просвещения Российской Федерации и&nbsp;подведомственных ему организаций: федерального оператора сети центров &laquo;IT-куб&raquo; Федерального института цифровой трансформации в&nbsp;сфере образования (ФИЦТО) и&nbsp;Центра просветительских инициатив, а&nbsp;также администрации Тюменской области.
      p Директор Департамента стратегии, программной и&nbsp;проектной деятельности Минпросвещения России Мария Руденок, подводя итоги съезда, предложила создать профессиональное сообщество руководителей центров &laquo;IT-куб&raquo;.
      p.quote &laquo;Вы достигли замечательных результатов&nbsp;&mdash; это видно по&nbsp;успехам ваших выпускников. И&nbsp;сейчас передача этого полезного опыта&nbsp;&mdash; ваша ключевая задача. Надеюсь, что вы как&nbsp;руководители центров &laquo;IT-куб&raquo; уже познакомились на&nbsp;этом съезде со&nbsp;своими коллегами и&nbsp;обменялись с&nbsp;ними опытом. Продолжайте общаться друг с&nbsp;другом и&nbsp;после этого мероприятия, передавайте свой опыт не&nbsp;только своим сотрудникам, но&nbsp;и&nbsp;коллегам из&nbsp;других регионов. Поддерживайте контакты друг с&nbsp;другом и&nbsp;формируйте профессиональное сообщество&raquo;,&nbsp;&mdash; сказала Мария Руденок.
      p Директор ФИЦТО Сергей Кожевников отметил, что&nbsp;съезды руководителей центров &laquo;IT-куб&raquo; будут проводиться регулярно.
      p.quote &laquo;Наш съезд стал достойной площадкой для&nbsp;обмена знаниями и&nbsp;опытом между всеми участниками процесса цифровой трансформации российского образования. За&nbsp;два дня интенсивной работы мы достигли впечатляющих результатов и&nbsp;выработали общие подходы к&nbsp;целому ряду вопросов. Уверен, что&nbsp;это только начало и&nbsp;мероприятия такого рода станут регулярными. Цифровизация и&nbsp;обеспечение технологического суверенитета страны&nbsp;&mdash; ключевые задачи, поставленные перед нами самой жизнью. И&nbsp;наша совместная целенаправленная работа&nbsp;&mdash; еще один шаг в&nbsp;этом направлении&raquo;,&nbsp;&mdash; подчеркнул Сергей Кожевников.
      p В&nbsp;течение двух дней участники съезда обсуждали итоги работы центров &laquo;IT-куб&raquo; и&nbsp;внедрение цифровых технологий в&nbsp;систему российского образования в&nbsp;целом. В&nbsp;рамках проектных сессий рассматривались направления развития и&nbsp;поддержки центров &laquo;IT-куб&raquo;, лучшие региональные практики, разработка образовательных программ и&nbsp;внедрение новых практик.
      p Свои наработки в&nbsp;сфере развития цифрового образования представили участники из&nbsp;Тюменской, Нижегородской, Брянской и&nbsp;Тульской областей, Удмуртской и&nbsp;Чувашской республик
      p Для руководителей центров &laquo;IT-куб&raquo; состоялись две проектно&ndash;ориентированных сессии. Особое внимание в&nbsp;ходе съезда уделялось вопросам взаимодействия бизнеса и&nbsp;образования, сотрудничеству с&nbsp;технологическими партнерами. Кроме того, в&nbsp;ходе деловой игры участники съезда практиковались принимать решения в&nbsp;различных ситуациях по&nbsp;вопросам, связанным с&nbsp;управлением центрами &laquo;IT-куб&raquo;.
      p В рамках работы съезда в&nbsp;Тюмени прошла церемония открытия первого в&nbsp;регионе центра &laquo;IT-куб&raquo;.
      p В ходе торжественной церемонии закрытия съезда руководителям &laquo;IT-кубов&raquo;, участвующим в&nbsp;его работе в&nbsp;качестве спикеров, были вручены благодарственные письма от&nbsp;лица Минпросвещения России. Также результатом работы съезда стало подписание соглашения о&nbsp;сотрудничестве между ФИЦТО и&nbsp;Центральным университетом в&nbsp;рамках развития и&nbsp;поддержки деятельности центров цифрового образования детей &laquo;IT-куб&raquo;.

