article.news_one__article#news_09-10-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Программирование и&nbsp;креатив: стартовал финал II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2024/10-09/1.webp' )

   .text-22
      p Очный этап II Всероссийского хакатона «Обучаюсь. Проектирую. Программирую. Будущее» стартовал в Нижнем Новгороде на площадке «Академии Маяк». В борьбу за звание лучших вступили 30 команд юных айтишников из 23 регионов страны, в первую очередь представляющих центры цифрового образования детей «IT-куб». Организатором мероприятия является федеральный оператор сети центров «IT-куб» Федеральный институт цифровой трансформации в сфере образования (ФГАНУ «ФИЦТО») при поддержке Минпросвещения России.
      p Открывая хакатон, директор Департамента цифровой трансформации и больших данных Минпросвещения России Андрей Горобец поделился своим опытом работы в IT-сфере. Он призвал юных программистов к саморазвитию и пониманию своей роли в развитии общества.
      p.mb4 Со стороны региональных властей участников хакатона приветствовал министр образования и науки Нижегородской области Михаил Пучков. Он рассказал о вкладе Нижнего Новгорода в развитие цифровых технологий и призвал ребят использовать всю мощь нуля и единицы для того, чтобы делать этот мир лучше.

      .row.flex.mb4
         .third.mb-sm
            img( src='./assets/data/images/news/2024/10-09/6.webp' )
         .two-thirds
            img( src='./assets/data/images/news/2024/10-09/3.webp' )

      p Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула отметил важность соглашения для&nbsp;развития цифровой грамотности обучающихся Херсонской области и&nbsp;поблагодарил сарапульских педагогов за&nbsp;готовность взять на&nbsp;себя роль наставников в&nbsp;этом вопросе.
      p.mb4 От лица организаторов хакатона слова напутствия юным программистам произнесла первый заместитель директора ФГАНУ «ФИЦТО» Юлия Пономарёва. Она пожелала ребятам отличного настроения, новых знакомств, знаний и навыков, а также призвала их не бояться ошибок, которые являются ключом к новым достижениям.

      img.mb4( src='./assets/data/images/news/2024/10-09/5.webp' )

      p После торжественной церемонии открытия команды-участники хакатона приступили к работе. В течение трёх дней, с 9 по 11 октября, они будут решать задания (кейсы), специально разработанные для них технологическими партнёрами мероприятия по трём направлениям:
      .ml1.mb4
         p.news_point «Программирование» — ТБанк и Центральный университет
         p.news_point «VR-разработка» — Varwin
         p.news_point «Кибергигиена — КИБЕРПРОТЕКТ

      p Все технологические партнёры мероприятия — признанные игроки на рынке отечественных IT-разработок, а их кейсы для команд хакатона призваны решить реальные бизнес-задачи.
      p В последний день работы II Всероссийского хакатона «Обучаюсь. Проектирую. Программирую. Будущее» пройдёт защита проектов команд-участников по одному из направлений. В каждом направлении жюри определит своих победителей.

      .news_img__slider.mt3.mb4
         img( src='./assets/data/images/news/2024/10-09/4.webp' )
         img( src='./assets/data/images/news/2024/10-09/2.webp' )
         img( src='./assets/data/images/news/2024/10-09/7.webp' )

      p Среди участников хакатона по каждому из направлений есть и команды Донецкой Народной Республики. Они принимают участие в этом событии благодаря проекту «Цифровое наставничество». Этот проект запущен ФГАНУ «ФИЦТО» для ускоренной интеграции образовательных организаций ДНР, ЛНР, Запорожской и Херсонской областей в цифровое образовательное пространство России. Донецкие школьники прошли подготовку с помощью центра «IT-куб» Княгинино (Нижегородская область) и теперь готовы подтвердить свои знания.
      p Современное образование неразрывно связано со здоровым образом жизни. Организаторы мероприятия подготовили для юных айтишников несколько увлекательных спортивных активностей, а также пешую экскурсию по Нижнему Новгороду. II Всероссийский хакатон «Обучаюсь. Проектирую. Программирую. Будущее» продолжает свою работу: участников мероприятия ждут и другие интересные события.
