article.news_one__article#news_19-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Подписано соглашение о&nbsp;сотрудничестве между школой Херсонской области и&nbsp;Центром &raquo;IT-куб&laquo; Болохово
   img.mb4( src='./assets/data/images/news/2024/09.19/1.webp' )
   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo;, Геническая школа &#8470;1 (Херсонская область) и&nbsp;Болоховский машиностроительный техникум (Тульская область) подписали соглашение о&nbsp;сотрудничестве в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;. Фактическим участником соглашения также является Центр &laquo;IT-куб&raquo; города Болохово, действующий на&nbsp;базе машиностроительного техникума.
      p Соглашение подписали заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула, директор Болоховского машиностроительного техникума (ГПОУ&nbsp;ТО &laquo;БМТ&raquo;) Елена Косинова и&nbsp;директор Генической школы &#8470;1 Наталья Галка.
      p Стороны договорились об&nbsp;обмене опытом, организации и&nbsp;проведении совместных онлайн-мероприятий, реализации общих образовательных проектов, профориентационной работе с&nbsp;обучающимися и&nbsp;совместной методической деятельности.
      p.mb4 Как отметил заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула, конечной целью соглашения является забота о&nbsp;будущем юных россиян, потому федеральный оператор готов оказывать участникам программы &laquo;Цифровое наставничество&raquo; любую посильную помощь.

      .row.flex.mb4
         .third.mb-sm
            img( src='./assets/data/images/news/2024/09.19/2.webp' )
         .two-thirds
            img( src='./assets/data/images/news/2024/09.19/3.webp' )

      p.mb4 Директор Генической школы &#8470;1 Наталья Галка поблагодарила участников соглашения за&nbsp;поддержку и&nbsp;внимание к&nbsp;потребностям школы и&nbsp;выразила уверенность в&nbsp;успешном выполнении всех планов образовательной деятельности. Со&nbsp;своей стороны директор ГПОУ&nbsp;ТО &laquo;БМТ&raquo; Елена Косинова от&nbsp;имени техникума выразила готовность делиться с&nbsp;херсонскими коллегами опытом, укреплять дружеские связи и&nbsp;совместно осваивать новые знания.

      img.mb4( src='./assets/data/images/news/2024/09.19/4.webp' )

      p.mb4 Педагоги Центра цифрового образования детей &laquo;IT-куб&raquo; города Болохово уже разработали план вовлечения обучающихся и&nbsp;педагогов Херсонской области в&nbsp;цифровое пространство России и&nbsp;подготовили обучающий материал. Как&nbsp;сообщила руководитель Центра Лариса Марейчева, первая рабочая встреча педагогов Генической школы &#8470;1 и&nbsp;Центра &laquo;IT-куб&raquo; пройдёт уже 30&nbsp;сентября.

      img( src='./assets/data/images/news/2024/09.19/5.webp' )

      .italic
         strong Справочно
         p Проект &laquo;Цифровое наставничество&raquo; запущен ФГАНУ &laquo;ФИЦТО&raquo; как&nbsp;федеральным оператором Центров &laquo;IT-куб&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.
         p Ранее к&nbsp;проекту &laquo;Цифровое наставничество&raquo; подключились &laquo;Гимназия &#8470;6&raquo; ДНР и&nbsp;Центр &laquo;IT-куб&raquo; Липецкой области, ГБУ&nbsp;ДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo; (ДНР) и&nbsp;ЦЦОД &laquo;IT-куб&raquo; города Княгинино (Нижегородская область) и&nbsp;ГБУ&nbsp;ДО ЛНР &laquo;РЦРО &laquo;Интеллектуальный Резерв Республики&raquo; (ЛНР) и&nbsp;АНО &laquo;Центр цифрового образования детей &laquo;IT-куб&raquo; города Ижевска.
