article.news_one__article#news_07-05-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центры &laquo;IT-куб&raquo; участвуют в&nbsp;мероприятиях, приуроченных ко&nbsp;Дню Победы
   img.mb4( src='./assets/data/images/news/2025/05.07/1.webp ' loading='lazy' title='')
   .text-22
      p В&nbsp;преддверии 80-летия победы в&nbsp;Великой Отечественной войне обучающиеся центров &laquo;IT-куб&raquo; создают различные проекты, принимают участие в&nbsp;играх и&nbsp;конкурсах, а&nbsp;также присоединяются к&nbsp;акциям, которые посвящены празднику.
      p.mb4 Ребята из&nbsp;Центра &laquo;IT-куб. Уралмаш&raquo; (Екатеринбург, Свердловская область) лаборатории судо- и&nbsp;авиамоделирования создали в&nbsp;уменьшенном масштабе корабль &laquo;Большой охотник&raquo; и&nbsp;самолёты &laquo;Штурмовик Ил-10&raquo; и&nbsp;&laquo;Пе-2&raquo; времён Великой Отечественной войны. Тем самым обучающиеся центра усовершенствовали свои умения, а&nbsp;также узнали больше о&nbsp;событиях того времени.

      img.mb4( src='./assets/data/images/news/2025/05.07/4.webp ' loading='lazy' title='')

      p Учащиеся группы &laquo;Разработка VR/AR приложений ПРО&raquo; Центра &laquo;IT-куб. Сыктывкар&raquo; (Республика Коми) под&nbsp;руководством педагога Екатерины Войт разработали проект, выполненный на&nbsp;платформе AR-studio. Разработка дает возможность с&nbsp;помощью QR-кода и&nbsp;камеры на&nbsp;телефоне &laquo;оживить&raquo; плакаты, посвящённые победе в&nbsp;Великой Отечественной войне, погрузиться в&nbsp;атмосферу и&nbsp;услышать песни военных лет.
      p.mb4 Центр &laquo;IT-куб. Дятьково&raquo; (Брянская область) провёл межрегиональный конкурс построек в&nbsp;игре Minecraft, приуроченный ко&nbsp;дню Великой Победы. Участники конкурса воссоздали в&nbsp;Minecraft мемориалы, места боевой славы и&nbsp;исторические объекты, связанные с&nbsp;ВОВ. Победитель конкурса Иван Березнев, обучающийся Центра &laquo;IT-куб г.&nbsp;Лиски&raquo; (Воронежская область), воссоздал в&nbsp;игре изображение Рейхстага со&nbsp;знаменем Победы на&nbsp;крыше.


      img.mb4( src='./assets/data/images/news/2025/05.07/6.webp ' loading='lazy' title='')

      p.mb4 Также для&nbsp;воспитанников &laquo;IT-куба&raquo; Дятьково была проведена игра &laquo;Мы вместе!&raquo;, посвящённая празднованию Дня Победы. Три команды соревновались в&nbsp;знании истории, угадывали военные песни и&nbsp;расшифровывали закодированные слова.

      img.mb4( src='./assets/data/images/news/2025/05.07/2.webp ' loading='lazy' title='')


      p.mb4 Ребята из&nbsp;Центра &laquo;IT-куб. Орёл&raquo; (Орловская область) в&nbsp;преддверии праздника присоединились к&nbsp;акции &laquo;Письмо солдату&raquo;. Они написали открытки для&nbsp;военных, участвующих в&nbsp;специальной военной операции.

      img.mb4( src='./assets/data/images/news/2025/05.07/3.webp ' loading='lazy' title='')

      p.mb4 Другие Центры &laquo;IT-куб&raquo; также присоединяются к&nbsp;празднованию Дня Великой Победы и&nbsp;принимают участие в&nbsp;различных мероприятиях.

