article.news_one__article#news_29-05-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Обучающиеся Центра &laquo;IT-куб. Оренбург&raquo; заняли второе место на&nbsp;первом Кубке России по спортивному программированию
   img.mb4( src='./assets/data/images/news/2025/05.29/1.webp' )
   .text-22
      p.mb4 Обучающиеся Центра &laquo;IT-куб. Оренбург&raquo; в&nbsp;составе команды DAVG заняли второе место на&nbsp;первом Кубке России по спортивному программированию.

      img.mb4( src='./assets/data/images/news/2025/05.29/2.webp' )

      p Мероприятие, в&nbsp;котором приняли участие ребята из&nbsp;18 регионов России, прошло в&nbsp;Смоленске. Команда DAVG получила второе место в&nbsp;дисциплине &laquo;Продуктовое программирование&raquo;. Победителями в&nbsp;этой номинации стала команда Hyper-ИСТ из&nbsp;Донецкой Народной Республики, третье место заняла команда STABLE NORTH из&nbsp;Архангельска.
      p.mb4 Трое участников DAVG — Алексей Юматов, Глеб Касилов и&nbsp;Варвара Старикова — являются обучающимися Центра цифрового образования &laquo;IT-куб&raquo; на&nbsp;базе Оренбургского колледжа экономики и&nbsp;информатики, а&nbsp;наставницей команды выступила руководитель Центра Екатерина Дубская.


      img.mb4( src='./assets/data/images/news/2025/05.29/3.webp?v=2' )

      p Ребята в&nbsp;течение 24 часов решали уникальный практический кейс. Они должны были разработать два игровых веб-приложения с&nbsp;элементами геймификации лотереи — одно из&nbsp;которых должно было быть выполнено с&nbsp;учётом законодательства РФ и&nbsp;механики случайности, а&nbsp;второе — свободное от&nbsp;ограничений с&nbsp;использованием бонусной валюты. У&nbsp;продукта должен был быть реальный потенциал для внедрения в&nbsp;бизнес.
      p Организаторами мероприятия являются Министерство спорта Российской Федерации, Федерация спортивного программирования России и&nbsp;Правительство Смоленской области.
