article.news_one__article#news_01-06-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 На втором онлайн-семинаре &laquo;IT&nbsp;в&nbsp;кубе&raquo; анонсировали актуальные мероприятия для педагогов и&nbsp;руководителей Центров
      .wwnow.inline &laquo;IT-куб&raquo;
   img.mb5( src='../assets/data/images/news/01-06-2023.png' )
   .text-22
      p 31 мая состоялся второй онлайн-семинар &laquo;IT в&nbsp;кубе&raquo;,на&nbsp;котором были анонсированы всероссийские мероприятия для педагогов и&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo;.
      strong Всероссийский съезд руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Как Управлять Будущим&raquo;
      p Съезд пройдет с&nbsp;17 по&nbsp;18 августана&nbsp;базе Тюменской области, мероприятия будут проводиться по&nbsp;нескольким направлениям, затрагивая вопросы государственной образовательной политики, вопросы содержательного характера, запланировано участие технологических партнеров, обсуждение административно-управленческих и&nbsp;педагогических практик, представление современных технологических решений и&nbsp;их применение в&nbsp;деятельности Центров &laquo;IT-куб&raquo;.
      strong Всероссийский конкурс педагогов Центров цифрового образования детей &laquo;IT-куб&raquo;
      p Конкурс включает в&nbsp;себя 3 этапа:
      p.mb07 &mdash; Заочный этап продлитсядо&nbsp;10 июля
      p.mb07 &mdash; Очный этап пройдет с&nbsp;5 по&nbsp;7 сентября в&nbsp;Челябинской области
      p &mdash; Заключительный этап состоится в&nbsp;IV квартале 2023&nbsp;года в&nbsp;Москве
      p С более подробной информацией, включая Положениео&nbsp;конкурсе, можно ознакомиться
         span.mr    в&nbsp;специальном
         a( href='https://it-cube.ficto.ru/teacher_competition.html' target='_blank').hover.mr   разделе конкурса
         span на&nbsp;информационном ресурсе Центров &laquo;IT-куб&raquo;.
      p В рубрике &laquo;Региональные практики&raquo; опыт региона в&nbsp;области организационного и&nbsp;методического сопровождения Центров цифрового образования детей &laquo;IT-куб&raquo; в&nbsp;Новосибирской области презентовала Ким Неля Андреевна начальник управления цифрового образования ГАУ ДПО НСО &laquo;НИПКиПРО&raquo;.
      p В семинаре также принял участие стратегический партнер Федерального оператора Центров цифрового образования детей &laquo;IT-куб&raquo;&nbsp;&mdash; Ассоциация разработчиков программных продуктов &laquo;Отечественный софт&raquo;. Ассоциация&nbsp;&mdash; крупнейшее объединение российских производителей тиражируемого программного обеспечения.
      p Руководитель комитета по&nbsp;информатизации образования АРПП &laquo;Отечественный софт&raquo; и&nbsp;программ обучения &laquo;Хаб Знаний МойОфис&raquo; Анастасия Горелова презентовала современные технологические решения, доступные для использования в&nbsp;образовательных учреждениях, а также привела примеры успешного сотрудничества.
      p Итоги семинара подвел начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;&nbsp;&mdash; Даниил Артемович Суханов. Он напомнил, что взаимодействие с&nbsp;разработчиками отечественного программного обеспеченияна&nbsp;всех уровнях образования позволит сформировать суверенную цифровую образовательную среду.
      p
         a( href='https://vk.com/video-216917614_456239023' target='_blank').hover.mr Запись семинара
         | с&nbsp;выступлениями всех спикеров доступна по&nbsp;ссылке в&nbsp;официальном сообществе ФГАНУ &laquo;ФИЦТО&raquo; во Вконтакте.
      strong.mt4 Справочно
      p
         span В соответствии с&nbsp;
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank').hover методическими рекомендациями от&nbsp;2023&nbsp;года
         |  Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo; Министерством просвещения Российской Федерации определено ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;.
