article.news_one__article#news_09-10-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Программирование и&nbsp;креатив: стартовал финал II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2024/10-09/1.webp' )

   .text-22
      p Очный этап II&nbsp;Всероссийского хакатона «Обучаюсь. Проектирую. Программирую. Будущее» стартовал в&nbsp;Нижнем Новгороде на&nbsp;площадке «Академии Маяк». В&nbsp;борьбу за&nbsp;звание лучших вступили 30&nbsp;команд юных айтишников из&nbsp;23 регионов страны, в&nbsp;первую очередь представляющих центры цифрового образования детей «IT-куб». Организатором мероприятия является федеральный оператор сети центров «IT-куб» Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФГАНУ «ФИЦТО») при&nbsp;поддержке Минпросвещения России.
      p.mb4 Открывая хакатон, директор Департамента цифровой трансформации и&nbsp;больших данных Минпросвещения России Андрей Горобец поделился своим опытом работы в&nbsp;IT-сфере. Он призвал юных программистов к&nbsp;саморазвитию и&nbsp;пониманию своей роли в&nbsp;развитии общества.

      img.mb4( src='./assets/data/images/news/2024/10-09/5.webp' )

      p.mb4 Со стороны региональных властей участников хакатона приветствовал министр образования и&nbsp;науки Нижегородской области Михаил Пучков. Он рассказал о&nbsp;вкладе Нижнего Новгорода в&nbsp;развитие цифровых технологий и&nbsp;призвал ребят использовать всю мощь нуля и&nbsp;единицы для того, чтобы делать этот мир лучше.

      .row.flex.mb4
         .third.mb-sm
            img( src='./assets/data/images/news/2024/10-09/9.webp' )
         .two-thirds
            img( src='./assets/data/images/news/2024/10-09/3.webp' )

      p Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула отметил важность соглашения для&nbsp;развития цифровой грамотности обучающихся Херсонской области и&nbsp;поблагодарил сарапульских педагогов за&nbsp;готовность взять на&nbsp;себя роль наставников в&nbsp;этом вопросе.
      p.mb4 От&nbsp; лица организаторов хакатона слова напутствия юным программистам произнесла первый заместитель директора ФГАНУ «ФИЦТО» Юлия Пономарёва. Она пожелала ребятам отличного настроения, новых знакомств, знаний и&nbsp;навыков, а&nbsp;также призвала их не&nbsp;бояться ошибок, которые являются ключом к&nbsp;новым достижениям.

      img.mb4( src='./assets/data/images/news/2024/10-09/8.webp' )

      p После торжественной церемонии открытия команды-участники хакатона приступили к&nbsp;работе. В&nbsp;течение трёх дней, с&nbsp;9 по&nbsp;11&nbsp;октября, они будут решать задания (кейсы), специально разработанные для них технологическими партнёрами мероприятия по&nbsp;трём направлениям:
      .ml1.mb4
         p.news_point «Программирование»&nbsp;&mdash; ТБанк и&nbsp;Центральный университет
         p.news_point «VR-разработка»&nbsp;&mdash; Varwin
         p.news_point «Кибергигиена&nbsp;&mdash; КИБЕРПРОТЕКТ

      p Все технологические партнёры мероприятия&nbsp;&mdash; признанные игроки на&nbsp;рынке отечественных IT-разработок, а&nbsp;их кейсы для команд хакатона призваны решить реальные бизнес-задачи.
      p В&nbsp;последний день работы II&nbsp;Всероссийского хакатона «Обучаюсь. Проектирую. Программирую. Будущее» пройдёт защита проектов команд-участников по&nbsp;одному из&nbsp;направлений. В&nbsp;каждом направлении жюри определит своих победителей.

      .news_img__slider.mt3.mb4
         img( src='./assets/data/images/news/2024/10-09/4.webp' )
         img( src='./assets/data/images/news/2024/10-09/2.webp' )
         img( src='./assets/data/images/news/2024/10-09/11.webp' )
         img( src='./assets/data/images/news/2024/10-09/7.webp' )

      p.mb4 Среди участников хакатона по&nbsp;каждому из направлений есть и&nbsp;команды Донецкой Народной Республики. Они принимают участие в&nbsp;этом событии благодаря проекту «Цифровое наставничество». Этот проект запущен ФГАНУ «ФИЦТО» для&nbsp;ускоренной интеграции образовательных организаций ДНР, ЛНР, Запорожской и Херсонской областей в&nbsp;цифровое образовательное пространство России. Донецкие школьники прошли подготовку с&nbsp;помощью центра «IT-куб» Княгинино (Нижегородская область) и&nbsp;теперь готовы подтвердить свои знания.

      img.mb4( src='./assets/data/images/news/2024/10-09/12.webp' )

      p Современное образование неразрывно связано со&nbsp;здоровым образом жизни. Организаторы мероприятия подготовили для&nbsp;юных айтишников несколько увлекательных спортивных активностей, а&nbsp;также пешую экскурсию по&nbsp;Нижнему Новгороду. II&nbsp;Всероссийский хакатон «Обучаюсь. Проектирую. Программирую. Будущее» продолжает свою работу: участников мероприятия ждут и&nbsp;другие интересные события.
