article.news_one__article#news_27-11-2023
   .news_one__date.mb4.text-22
   h1.title.mb5 Награждены победители Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   .news_img__slider.mb5
      img( src='../assets/data/hackathon/winners/winners/1.jpg' )
      img( src='../assets/data/hackathon/winners/winners/1.jpg' )
      img( src='../assets/data/hackathon/winners/winners/2.jpg' )
      img( src='../assets/data/hackathon/winners/winners/3.jpg' )
      img( src='../assets/data/hackathon/winners/winners/4.jpg' )
      img( src='../assets/data/hackathon/winners/winners/5.jpg' )
      img( src='../assets/data/hackathon/winners/winners/6.jpg' )
   .text-22
      p В&nbsp;Верхней Пышме (Свердловская область) завершился Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;. Торжественная церемония подведения итогов и&nbsp;награждения победителей прошла 26&nbsp;ноября во&nbsp;Дворце технического творчества.
      p Главным организатором события выступил Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;). Событие прошло при&nbsp;поддержке Министерства просвещения Российской Федерации, Правительства Свердловской области, Министерства образования и&nbsp;молодёжной политики Свердловской области, АРПП &laquo;Отечественный софт&raquo;, ПАО&nbsp;Сбербанк, ООО &laquo;Киберпротект&raquo; и&nbsp;компании Varwin. Соорганизатором мероприятия стал Дворец молодёжи. С&nbsp;2018 года Дворец молодёжи выступает региональным оператором национального проекта &laquo;Образование&raquo; в&nbsp;Свердловской области.
      p В&nbsp;хакатоне, продлившемся с&nbsp;24 по&nbsp;26&nbsp;ноября, приняли участие 160&nbsp;обучающихся Центров цифрового образования детей &laquo;IT-куб&raquo; из&nbsp;30&nbsp;регионов России. Юные программисты в&nbsp;возрасте 14–18&nbsp;лет работали в&nbsp;50 командах, каждая из&nbsp;которых решала кейсы по&nbsp;одному из&nbsp;трёх направлений Хакатона. Каждое направление и&nbsp;задания к&nbsp;нему курировал один из&nbsp;технологических партнёров проекта&nbsp;&mdash; крупный отечественный IT-разработчик.
      p По&nbsp;итогам очного этапа каждая из&nbsp;команд проводила презентацию своего проекта перед экспертной комиссией. Победителями стали три команды, по&nbsp;одной в&nbsp;каждом из&nbsp;направлений.

      strong.mb15.ml1 Направление &laquo;Программирование&raquo;
      .ml2
         p.mb07 1&ndash;е место&nbsp;&mdash; Смоленская область
         p.mb07 2&ndash;е место&nbsp;&mdash; Алтайский край
         p.mb07 3&ndash;е место&nbsp;&mdash; Ульяновская область

      strong.mb15.ml1 Направление &laquo;Информационная безопасность&raquo;
      .ml2
         p.mb07 1&ndash;е место&nbsp;&mdash; Удмуртская Республика
         p.mb07 2&ndash;е место&nbsp;&mdash; Свердловская область
         p.mb07 3&ndash;е место&nbsp;&mdash; Красноярский край

      strong.mb15.ml1 Направление &laquo;Диджитал (VR/AR технологии)&raquo;
      .ml2.mb3
         p.mb07 1&ndash;е место&nbsp;&mdash; Свердловская область
         p.mb07 2&ndash;е место&nbsp;&mdash; Оренбургская область
         p.mb07 3&ndash;е место&nbsp;&mdash; Челябинская область

      p Эксперты высоко оценили знания и&nbsp;навыки участников Хакатона, отметив их креативность и&nbsp;глубокий подход к&nbsp;выполнению задания. Юные программисты показали лучшие образцы командной работы, что особенно важно в&nbsp;современной IT-индустрии.
      p И.О.&nbsp;директора ФГАНУ &laquo;ФИЦТО&raquo; Юлия Александровна Пономарёва:
      p.quote.mb08 Все команды показали прекрасный уровень подготовки, что говорит о&nbsp;высоком качестве преподавания профильных дисциплин в&nbsp;Центрах &laquo;IT-куб&raquo;. Уже сейчас это настоящая кузница кадров для&nbsp;высокотехнологичного сегмента российской экономики. Поздравляю победителей и&nbsp;желаю всем участникам Хакатона дальнейших успехов в&nbspIT-сфере!

      strong Справочно
      p
         b Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
         |    был проведён в&nbsp;целях повышения интереса детей к&nbsp;практико&ndash;ориентированным активностям в&nbsp;части разработки решения реальных бизнес&ndash;задач в&nbsp;сфере современных информационных технологий, а&nbsp;также с&nbsp;целью приобретения дополнительных компетенций для&nbsp;реализации творческого потенциала и&nbsp;знаний в&nbsp;проектной деятельности.
      p Организатор мероприятия&nbsp;&mdash; ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;&nbsp;&mdash; в&nbsp;соответствии с&nbsp;
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank').hover методическими рекомендациями от&nbsp;18&nbsp;апреля 2023&nbsp;года
         |    определён Минпросвещения России Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo;.
