article.news_one__article#news_22-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 IT-сфера стала частью инклюзивного конкурса «Проектор»
   +image-26( '01.22', '2', 'mb4', '© Надежда Воробьёва')
   .text-22

      p В смоленском Центре цифрового образования детей «IT-куб» прошла торжественная церемония награждения участников и&nbsp;победителей четвёртого сезона инклюзивного конкурса «Проектор». В&nbsp;нём приняли участие дети с&nbsp;ограниченными возможностями здоровья (ОВЗ) и&nbsp;инвалидностью в&nbsp;возрасте от&nbsp;7 до&nbsp;18&nbsp;лет.
      p Цель конкурса&nbsp;&mdash; не&nbsp;просто выбрать лучшие учебно-исследовательские и&nbsp;проектные работы, а&nbsp;создать среду для мотивации, творческой реализации и&nbsp;помощи в&nbsp;профессиональном самоопределении детей с&nbsp;особыми образовательными потребностями.
      p «Проектор» реализуется совместно с&nbsp;АНО «Центр развития социальных и&nbsp;просветительских инициатив» уже несколько лет. В&nbsp;2024 году проект подтвердил свой высокий статус, став победителем регионального этапа Всероссийской премии #МЫВМЕСТЕ и&nbsp;войдя в&nbsp;топ-1000 лучших социальных инициатив страны.
      p Всего на суд жюри было представлено 18 работ от&nbsp;29 участников из&nbsp;7 образовательных организаций Смоленской области. Традиционно конкурс проходил в&nbsp;пяти номинациях: естественно-научные проекты и&nbsp;учебные исследования; общественно-научные проекты и&nbsp;учебные исследования; проекты и&nbsp;учебные исследования в&nbsp;области точных наук; проекты на&nbsp;краеведческую тематику.
      p.mb4 Центр «IT-куб. Смоленск» является партнёром конкурса с&nbsp;момента его создания. Педагоги Центра выступали экспертами по&nbsp;направлению «IT-технологии» в&nbsp;первом сезоне, а&nbsp;в&nbsp;последующие годы «IT-куб» стал площадкой для церемонии награждения.

      +image-26( '01.22', '1', 'mb4', '© Надежда Воробьёва')

      p.mb4.quote «В этом году участники не обошли и&nbsp;IT-индустрию, – рассказывает
         b  специалист по работе со&nbsp;СМИ Центра «IT-куб. Смоленск» Александра Ковалева
         | . – Например, исследование Сергея Лютакова было направлено на&nbsp;изучение влияния компьютерных игр на&nbsp;подростков, с&nbsp;целью выявления положительных и&nbsp;отрицательных аспектов этого феномена. В&nbsp;результате анализа литературы, анкетирования и&nbsp;анализа полученных данных Сергей пришёл к&nbsp;следующим выводам: некоторые игры способствуют развитию логического мышления, стратегического планирования, улучшению реакции и&nbsp;координации движений. Кроме того, они даже способствуют социализации и&nbsp;развитию коммуникативных навыков. Однако возможные риски включают зависимость, негативное воздействие на&nbsp;физическое и&nbsp;психическое здоровье, снижение успеваемости и&nbsp;повышение уровня агрессии. Для нас также было очень приятно, что партнёры нашего Центра поддержали инициативу! Благодаря им удалось создать для детей настоящий праздник».

      p Конкурс «Проектор»&nbsp;&mdash; яркий пример того, как работают программы развития инклюзивного образования в&nbsp;России. Напомним, Минпросвещения России поддерживает развитие системы инклюзивного образования на всех уровнях образования. Ведомство проводит обучающие мероприятия для педагогических работников и&nbsp;работников административного корпуса по&nbsp;вопросам организации обучения детей с&nbsp;ограниченными возможностями здоровья (ОВЗ) и&nbsp;инвалидностью в&nbsp;условиях инклюзии.
      p.italic Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
