article.news_one__article#news_29-06-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 На&nbsp;очередном онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили федеральные мероприятия и&nbsp;региональные практики
   img.mb4( src='./assets/data/images/news/common.webp' )
   .text-22
      p 28 июня 2023&nbsp;года состоялся очередной, третий по&nbsp;счёту, онлайн&ndash;семинар для&nbsp;педагогов и&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo;. На&nbsp;мероприятии выступили представители Федерального института цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;) и&nbsp;руководители Центров &laquo;IT-куб&raquo; из&nbsp;нескольких регионов России.
      p Открывая семинар, руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo; Софья Андреевна Заика напомнила участникам о&nbsp;проведении
         a( href='https://it-cube.ficto.ru/teacher_competition.html' target='_blank' title='it-cube.ficto.ru/teacher_competition' ).inline-block.hover.mr I Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT-куб&raquo;.
         | В&nbsp;частности, она рассказала о&nbsp;номинациях конкурса, и&nbsp;напомнила о&nbsp;продолжающемся до&nbsp;17 июля приёме заявок.
      p С развёрнутой информацией об анонсированном ранее Всероссийском съезде руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; (17-18 августа, г. Тюмень) выступила заместитель начальника Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО Наталия Валерьевна Минасян. Она проинформировала участников семинара о&nbsp;графике заездов, формате проживания и&nbsp;программе самого мероприятия. На&nbsp;сегодняшний день для&nbsp;очного участия в&nbsp;Съезде уже подано 212 заявок из&nbsp;65 субъектов Российской Федерации.
      p В&nbsp;рамках прошедшего онлайн&ndash;семинара был серьёзно представлен блок представления регионального опыта. В&nbsp;качестве спикеров выступили следующие руководители Центров цифрового образования детей &laquo;IT-куб&raquo;:
      p.news_point Владимир Викторович Косолапов (Нижегородская область) поделился опытом грантовой деятельности в&nbsp;рамках Центров &laquo;IT-куб&raquo;, которая позволяет расширить материальную базу центров и&nbsp;привлечь учащихся к&nbsp;участию в&nbsp;научно&ndash;технологических разработках. В&nbsp;частности, в&nbsp;рамках программы &laquo;РОСМОЛ&raquo; реализуется проект VR&ndash;арены &laquo;No limits&raquo;&nbsp;&mdash; серия образовательных, культурных и&nbsp;коллаборационных мероприятий, посвящённых объединению молодёжи нашей страны посредством технологий виртуальной реальности и&nbsp;совместного творчества.
      p.news_point Юлия Юрьевна Щапова (Мурманская область) представила региональную практику по&nbsp;реализации краткосрочных программ в&nbsp;сетевой форме на&nbsp;базе Центра &laquo;IT-куб&raquo; города Мурманска в&nbsp;каникулярный период. Задачами таких программ является как подготовка обучающихся к&nbsp;различного рода конкурсам и&nbsp;соревнованиям, так и&nbsp;знакомство с&nbsp;направлениями работы Центров &laquo;IT-куб&raquo;. Сетевая форма реализации этих программ позволяет привлечь к&nbsp;сотрудничеству большее число партнёров и&nbsp;увеличить охват обучающихся.
      p.news_point.mb2 Анна Александровна Кешко (Чувашская республика) рассказала о&nbsp;практике частно&ndash;государственного партнёрства в&nbsp;дополнительном образовании детей, подчеркнув, что для&nbsp;малых городов такой формат работы является эффективным способом поддержки работы Центров &laquo;IT-куб&raquo;. Примером такого сотрудничества является проект &laquo;Базовые навыки программирования &laquo;IT-ENERGY&raquo;, реализуемый Центром &laquo;IT-куб&raquo; г. Канаш Мурманской области совместно ООО НПП &laquo;ЭКРА&raquo;.
      p Завершил семинар блок новостей и&nbsp;достижений в&nbsp;сфере развития информационных технологий.
      p
         a( href='https://vk.com/video-216917614_456239028' target='_blank').hover.mr Запись семинара
         | с&nbsp;выступлениями всех спикеров доступна по&nbsp;ссылке в&nbsp;официальном сообществе ФГАНУ &laquo;ФИЦТО&raquo; во&nbsp;Вконтакте.
      p Напоминаем, что онлайн&ndash;семинары &laquo;IT в&nbsp;кубе&raquo; для&nbsp;педагогов и&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; проводятся с&nbsp;апреля 2023&nbsp;года в&nbsp;ежемесячном формате.
      strong.mt4 Справочно
      p В&nbsp;соответствии с&nbsp;
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank').hover.mr методическими рекомендациями от&nbsp;18 апреля 2023&nbsp;года
         | Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo; Министерством просвещения Российской Федерации определено ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;.

