article.news_one__article#news_20-09-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 ФГАНУ &laquo;ФИЦТО&raquo; провело стажировку финалистов городского проекта &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo; из&nbsp;Сургута
   .news_img__slider.mb4
      img( src='./assets/data/images/news/2023/20.09.2023/1.jpg' )
      img( src='./assets/data/images/news/2023/20.09.2023/2.jpg' )
      img( src='./assets/data/images/news/2023/20.09.2023/3.jpg' )
   .text-22
      p Учащиеся&ndash;финалисты городского проекта &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo; (г.&nbsp;Сургут, ХМАО) 18&nbsp;сентября 2023&nbsp;года прошли однодневную стажировку в&nbsp;Федеральном институте цифровой трансформации в&nbsp;сфере образования.
      p В&nbsp;стажировке приняли участие 17&nbsp;старшеклассников (9&nbsp;и&nbsp;11 классы), некоторые из&nbsp;которых являются обучающимися Центров &laquo;IT-куб&raquo; и&nbsp;технопарков &laquo;Кванториум&raquo;. Участвуя в&nbsp;проекте &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo;, они набрали наибольшее количество баллов за&nbsp;свои цифровые и&nbsp;технологичные разработки проектов&nbsp;&mdash; индивидуально и&nbsp;в&nbsp;составе команд.
      p Сургутские школьники познакомились с&nbsp;историей создания, командой и&nbsp;спецификой работы ФГАНУ &laquo;ФИЦТО&raquo;. На&nbsp;примере проектов, реализуемых командой института, старшеклассники смогли наглядно изучить производственный цикл цифровых сервисов и&nbsp;правила информационной безопасности.

         strong.mb15 От&nbsp;имени команды ФГАНУ &laquo;ФИЦТО&raquo; перед учащимися выступили:
      .ml1.mb2
         p.news_point
            b Даниил Артёмович Суханов
            | , начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;
         p.news_point
            b Ольгерд Валерьевич Скрябин
            | , начальник Дирекции проектной деятельности и&nbsp;проектирования информационных систем ФГАНУ &laquo;ФИЦТО&raquo;
         p.news_point
            b Денис Юрьевич Боков
            | , советник директора ФГАНУ &laquo;ФИЦТО&raquo;

      p Практическим моментом стажировки стала экскурсия в&nbsp;Центр обработки данных и&nbsp;Центр мониторинга информационных систем.
      p Завершающим и&nbsp;наиболее ответственным этапом стажировки стала презентация и&nbsp;разбор проектов обучающихся. Финалисты проекта &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo; рассказали о&nbsp;своих разработках, ответили на&nbsp;вопросы сотрудников института и&nbsp;получили от&nbsp;них экспертную оценку и&nbsp;рекомендации.

      p
         strong.mb15 Профессиональную экспертизу проектов провели:
      .ml1.mb2
         p.news_point
            b Ольгерд Валерьевич Скрябин
            | , начальник дирекции проектной деятельности и&nbsp;проектирования информационных систем ФГАНУ &laquo;ФИЦТО&raquo;
         p.news_point
            b Иван Александрович Лягин
            | , заместитель начальника дирекции разработки программного обеспечения ФГАНУ &laquo;ФИЦТО&raquo;
         p.news_point
            b Олег Алексеевич Мулько
            | , ведущий программист дирекции разработки программного обеспечения ФГАНУ &laquo;ФИЦТО&raquo;


      p Презентация продемонстрировала профессионализм и&nbsp;энтузиазм молодых разработчиков и&nbsp;подтвердила высокий уровень обучения цифровым технологиям в&nbsp;Центрах &laquo;IT-куб&raquo;. Представленные на&nbsp;презентации разработки стали свидетельством того, какую серьёзную отдачу для&nbsp;российской экономики и&nbsp;инфраструктуры приносит система цифрового образования.
      p Во&nbsp;время стажировки финалисты проекта &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo; получили новые знания, важные советы и&nbsp;профессиональные рекомендации, что ещё больше поможет им раскрыть свой потенциал в&nbsp;мире цифровых технологий.
      p ФГАНУ &laquo;ФИЦТО&raquo; выражает благодарность всем учащимся, принявшим участие в&nbsp;стажировке, и&nbsp;желает им успехов в&nbsp;дальнейших творческих начинаниях.
