article.news_one__article#news_14-08-2024
   .news_one__date.mb2.text-22
   h1.title.mb4 Подписано соглашение о&nbsp;сотрудничестве между ФГАНУ&nbsp;&laquo;ФИЦТО&raquo;, образовательной организацией ЛНР и&nbsp;Центром &laquo;IT-куб&raquo;&nbsp;Ижевска
   .news_img__slider.mb4
      img( src='../assets/data/images/news/2024/08.14/3.webp' )
      img( src='../assets/data/images/news/2024/08.14/4.webp' )
   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo;, ГБУ&nbsp;ДО&nbsp;ЛНР &laquo;Республиканский центр развития одаренности &laquo;Интеллектуальный резерв Республики&raquo; и&nbsp;АНО &laquo;Центр цифрового образования детей &laquo;IT-куб&raquo; (г.&nbsp;Ижевск) подписали трёхстороннее соглашение о&nbsp;сотрудничестве в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;.
      p Стороны договорились о&nbsp;совместной реализации образовательных проектов, организации и&nbsp;проведении мероприятий, профориентационной работе с&nbsp;обучающимися и&nbsp;совместной методической деятельности.
      p Соглашение подписали заместитель директора ФГАНУ&nbsp;&laquo;ФИЦТО&raquo; Андрей Гамула, директор ГБУ&nbsp;ДО&nbsp;ЛНР &laquo;РЦРО &laquo;Интеллектуальный Резерв Республики&raquo; Лейда Лоскутова (Луганская Народная Республика), а&nbsp;также директор АНО&nbsp;&laquo;Центр цифрового образования детей &laquo;IT-куб&raquo; (г.&nbsp;Ижевск) Оксана Щелчкова.
      p Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула приветствовал участие новых регионов в&nbsp;проекте &laquo;Цифровое наставничество&raquo; и&nbsp;подчеркнул её важность для развития системы образования ДНР, ЛНР, Запорожской и&nbsp;Херсонской областей. Опыт такого сотрудничества будет проанализирован и&nbsp;использован для&nbsp;выработки новых методических рекомендаций.
      p Директор АНО &laquo;Центр цифрового образования детей &laquo;IT-куб&raquo; Оксана Щелчкова выразила готовность поддержать коллег из&nbsp;ЛНР с&nbsp;помощью организации совместных мероприятий, работы с&nbsp;партнёрами и&nbsp;собственных наработок центра &laquo;IT-куб&raquo; в&nbsp;цифровой сфере.
      p Со&nbsp;своей стороны директор ГБУ&nbsp;ДО ЛНР &laquo;РЦРО &laquo;Интеллектуальный Резерв Республики&raquo; Лейда Лоскутова поблагодарила ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;Центр &laquo;IT-куб&raquo; Ижевска за&nbsp;поддержку цифрового образования республики и&nbsp;выразила уверенность в&nbsp;успешности такого сотрудничества, в&nbsp;том числе для&nbsp;дальнейшего развития страны и&nbsp;будущего юных россиян.

      .news_img__flex.mb5.mt5
         img( src='../assets/data/images/news/2024/08.14/1.webp' )
         img( src='../assets/data/images/news/2024/08.14/2.webp' )
         img( src='../assets/data/images/news/2024/08.14/5.webp' )

      strong.mt2 Справочно

      p Проект &laquo;Цифровое наставничество&raquo; запущен ФГАНУ &laquo;ФИЦТО&raquo; как&nbsp;федеральным оператором Центров &laquo;IT-куб&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.
      p Участниками проекта &laquo;Цифровое наставничество&raquo; становится всё большее число образовательных организаций. 31&nbsp;мая соглашение о&nbsp;сотрудничестве с&nbsp;участием ФГАНУ &laquo;ФИЦТО&raquo; подписали &laquo;Гимназия №&nbsp;6&raquo; ДНР и&nbsp;Центр &laquo;IT-куб&raquo; Липецкой области.  21&nbsp;июня на&nbsp;форуме &laquo;Россия&raquo;&nbsp;&mdash; &laquo;Цифровой успех. Образование для&nbsp;будущего&raquo; (ВДНХ) аналогичное соглашение заключили ГБУ&nbsp;ДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo; (ДНР) и&nbsp;ЦЦОД &laquo;IT-куб&raquo; Княгинино (Нижегородская область).
