article.news_one__article#news_22-08-2024
   .news_one__date.mb4.text-22
   h1.title.mb4 Подведены итоги II Всероссийского съезда руководителей центров цифрового образования детей &laquo;IT-куб&raquo;
   .news_img__slider.mb3
      img( src='../assets/data/images/news/2024/22.08/1.webp' )
   .text-22
      i.mb3 Своими наработками поделились технологические компании и&nbsp;эксперты в&nbsp;области цифровых решений.

      p.mt3 Второй день работы II Всероссийского съезда руководителей центров цифрового образования детей &laquo;IT-куб&raquo; в&nbsp;Челябинске продолжился серией мастер-классов от&nbsp;педагогов и&nbsp;руководителей центров, а&nbsp;также решением практических кейсов в&nbsp;рамках стратегической сессии.

      p Основным событием завершающего дня работы съезда стала проектная сессия &laquo;Модели выстраивания сотрудничества центров цифрового образования детей &laquo;IT-куб&raquo; с&nbsp;технологическими партнёрами&raquo;. Сессия собрала ведущих экспертов и&nbsp;представителей технологических компаний, которые поделились своим опытом и&nbsp;перспективными идеями по&nbsp;развитию сотрудничества в&nbsp;области цифрового образования. Модерировал мероприятие директор Центра реализации проектов и&nbsp;научной деятельности ФГАНУ &laquo;ФИЦТО&raquo; Алексей Шумилов.
      p Проектная сессия началась с&nbsp;выступления руководителя образовательного направления компании Varwin Александра Пикулева, который рассказал о&nbsp;тонкостях взаимодействия с&nbsp;технологическими партнёрами в&nbsp;рамках проведения мастер-классов и&nbsp;хакатонов, а&nbsp;также о&nbsp;подготовке детей к&nbsp;Национальной технологической олимпиаде Junior.
      p Координатор образовательных программ Т-Банка Яна Елина представила опыт компании в&nbsp;реализации образовательных проектов для&nbsp;школьников и&nbsp;IT-специалистов, подчеркнув важность интеграции подобных программ в&nbsp;работу центров &laquo;IT-куб&raquo;.
      p Александр Шахов, академический лидер направления разработки в&nbsp;Центральном университете, рассказал о&nbsp;возможностях вуза по&nbsp;подготовке высококлассных IT-специалистов. Со&nbsp;своей стороны директор проектного офиса цифровизации образования компании Ростелеком Евгений Хорошилов, рассказал о&nbsp;работе образовательной платформы &laquo;Ростелеком Лицей&raquo; и&nbsp;направлениях её дальнейшего развития в&nbsp;сотрудничестве с&nbsp;центрами &laquo;IT-куб&raquo;.

      .news_img__slider.mt3.mb4
         img( src='../assets/data/images/news/2024/22.08/2.webp' )
         img( src='../assets/data/images/news/2024/22.08/3.webp' )
         img( src='../assets/data/images/news/2024/22.08/4.webp' )
         img( src='../assets/data/images/news/2024/22.08/5.webp' )
         img( src='../assets/data/images/news/2024/22.08/6.webp' )
         img( src='../assets/data/images/news/2024/22.08/7.webp' )
         img( src='../assets/data/images/news/2024/22.08/8.webp' )
         img( src='../assets/data/images/news/2024/22.08/9.webp' )
         img( src='../assets/data/images/news/2024/22.08/10.webp' )
         img( src='../assets/data/images/news/2024/22.08/11.webp' )

      p Завершили сессию выступления представителей компании &laquo;Киберпротект&raquo;. Руководитель образовательного направления компании Юлия Черникина представила проект &laquo;Кибер Забота&raquo;, нацеленный на&nbsp;обучение педагогов и&nbsp;школьников цифровой гигиене и&nbsp;защите данных. В&nbsp;свою очередь, ведущий менеджер по&nbsp;работе с&nbsp;образовательными организациями компании &laquo;Киберпротект&raquo; Саркис Шмавонян провёл с&nbsp;участниками сессии интерактивную игру&nbsp;&mdash; квиз &laquo;Киберзащитник&raquo;.
      p По&nbsp;окончании проектной сессии прошла церемония закрытия II&nbsp;Всероссийского съезда руководителей центров цифрового образования детей &laquo;IT-куб&raquo;. Подводя итоги двух дней работы, представитель Департамента цифровой трансформации и&nbsp;больших данных Министерства просвещения Российской Федерации Павел Бакунин отметил важную роль центров &laquo;IT-куб&raquo; для&nbsp;достижения национальных целей развития, поставленных Президентом РФ в&nbsp;контексте развития талантов и&nbsp;достижения технологического суверенитета нашей страны.
      p Алексей Шумилов от&nbsp;имени организаторов мероприятия поблагодарил представителей центров &laquo;IT-куб&raquo;, технологических партнёров и&nbsp;экспертов за&nbsp;плодотворную работу. Церемония закрытия съезда завершилась вручением благодарственных писем педагогам и&nbsp;руководителям центров &laquo;IT-куб&raquo;, принявшим активное участие в&nbsp;подготовке и&nbsp;проведении мероприятия.
