article.news_one__article#news_12-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Шестой робототехнический фестиваль «ТехноСТАРТ» объединяет юных инженеров Хабаровского края
   +image-26( '01.12', '0', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')
   .text-22
      p.mb4 В декабре 2025&nbsp;года в&nbsp;шестой раз стартовал региональный робототехнический фестиваль «ТехноСТАРТ». Мероприятие для детей и&nbsp;подростков от&nbsp;5 до&nbsp;18 лет продлится до&nbsp;16 февраля 2026&nbsp;года. Его главная цель&nbsp;&mdash; популяризация инженерных профессий, поддержка талантливых детей в&nbsp;области технического творчества и&nbsp;развитие профессиональных компетенций у обучающихся.

      +image-26( '01.12', '1', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')

      p Фестиваль проводится в&nbsp;рамках реализации комплексного плана мероприятий по поддержке центров «Точка роста», детских технопарков «Кванториум» и&nbsp;центров «IT-куб» в&nbsp;Хабаровском крае. Организаторами традиционно выступают Региональный модельный центр дополнительного образования детей Хабаровского края совместно с&nbsp;образовательными организациями: детскими технопарками «Кванториум» в&nbsp;Комсомольске-на-Амуре и&nbsp;Хабаровске, Центром «IT-куб» в&nbsp;с.&nbsp;Восточное, гимназией п.&nbsp;Чегдомын Хабаровского края. Партнёрами фестиваля стали ведущие технологические компании и&nbsp;вузы региона.


      p.mb2 Мероприятие проходит в&nbsp;очно-дистанционном формате и&nbsp;включает восемь треков:
      .ml2.mb2
         p.news_point Открытые региональные соревнования по робототехнике
         p.news_point Открытый межрайонный заочный чемпионат по&nbsp;робототехнике «ProRobot»
         p.news_point Открытый дистанционный конкурс детского технического творчества «Лего-вызов-2025»
         p.news_point Конкурс «Роботехник»
         p.news_point Городские соревнования по&nbsp;робототехнике
         p.news_point Интеллектуальная игра-викторина «Шестерёнка»
         p.news_point Региональный дистанционный конкурс «Мир роботов»
         p.news_point Городской конкурс рисунков и&nbsp;поделок «Робот моего будущего»


      p Очный этап мероприятия, включающий интерактивно-образовательную программу для гостей и&nbsp;детей-участников от ведущих предприятий-партнёров и&nbsp;образовательных организаций, семинар-практикум для педагогов, специалистов отрасли и&nbsp;мастер-классы, пройдёт
         b  6 февраля 2026&nbsp;года
         |  в&nbsp;Центре «ТЕХНО-IT-куб». Итоги дистанционного этапа подведут
         b  16 февраля 2026&nbsp;года
         | .

      p Соревнования проводятся по&nbsp;пяти номинациям: «РобоСила», «РобоДрайв», «РобоОлимпиада», «ТехноДетки» и&nbsp;«Разработка технического проекта робота». Каждый участник может заявиться только в&nbsp;одну номинацию.
      p.quote «Фестиваль «ТехноСТАРТ» становится важнейшей площадкой для демонстрации потенциала юных талантов Хабаровского края и&nbsp;продвижения инженерных специальностей среди школьников. Это уникальное мероприятие объединяет усилия образовательных учреждений и&nbsp;партнёров, создавая условия для раскрытия способностей ребят в&nbsp;технических дисциплинах и&nbsp;стимулируя интерес к современным профессиям будущего»,&nbsp;&mdash; подчёркивает
         b  Елена Хорошилова, директор Центра «ТЕХНО-IT-куб. Хабаровск»
         | .


      p.mb1.mt3
         b Как принять участие?
      .ml2.mb3
         p.news_point Для участия необходимо&nbsp;
            a( href='https://clck.ru/3REfoS' target='_blank') зарегистрироваться
            |  до&nbsp;30 января 2026&nbsp;года (15:00)
         p.news_point Положение о фестивале и&nbsp;форма регистрации доступны&nbsp;
            a( href='https://disk.360.yandex.ru/d/QgKAAkPm165jmw' target='_blank') по&nbsp;ссылке
            | .
         p.news_point Все вопросы можно задать по&nbsp;телефону: +7 (924) 935-65-75 или по&nbsp;электронной почте:&nbsp;
            a( href='mailto:itcube@rmc27.ru' target='_blank') itcube@rmc27.ru
            | .


      p Победители и&nbsp;призёры открытых региональных соревнований будут награждены дипломами Регионального модельного центра и&nbsp;ценными призами. Все участники получат электронные свидетельства. Итоги дистанционных треков фестиваля будут подведены 16 февраля 2026&nbsp;года.

      .italic
         p Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации. В&nbsp;период реализации национального проекта «Образование» федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров цифрового образования детей «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 №&nbsp;АБ-1339/02) определено ФГАНУ «ФИЦТО».
