article.news_one__article#news_12-10-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Новые звёзды IT: объявлены победители II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2024/10.12/1.webp' )

   .text-22
      p Завершился II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;. В&nbsp;течение трёх дней, с&nbsp;9&nbsp;по 11&nbsp;октября, за&nbsp;звание лучших соревновались 30&nbsp;команд юных программистов из&nbsp;центров цифрового образования детей &laquo;IT-куб&raquo; 23&nbsp;российских регионов. Организатором мероприятия стал федеральный оператор сети центров &laquo;IT-куб&raquo; Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;) при&nbsp;поддержке Минпросвещения России.
      p.mb4 Восходящие звёзды цифровых технологий в&nbsp;возрасте 14–18&nbsp;лет демонстрировали своё мастерство в&nbsp;решении реальных IT-задач, подготовленных технологическими партнёрами мероприятия&nbsp;&mdash; признанными игроками на&nbsp;российском рынке цифровых технологий.

      img.mb4( src='./assets/data/images/news/2024/10.12/2.webp' )

      p.mb4 Погружаясь в&nbsp;решение кейсов, ребята, не&nbsp;просто раскрывали свои возможности, а&nbsp;получали новые знания и&nbsp;совершенствовали навыки командной работы. Представители компаний-партнёров отметили высокий уровень подготовки участников и&nbsp;их способность применять знания для&nbsp;решения реальных задач.

      img.mb4( src='./assets/data/images/news/2024/10.12/3.webp' )

      p Кульминацией борьбы стала защита командных проектов, по&nbsp;итогам которой были объявлены победители во&nbsp;всех направлениях хакатона.

      p.ml1.mb2
         b Направление &laquo;Программирование&raquo; (технологические партнёры&nbsp;&mdash;ТБанк и&nbsp;Центральный университет)
         .ml2.mb1
            p.news_point
               b 1 место:
               |  команда Смоленской области
            p.news_point
               b 2 место:
               |  команда Удмуртской Республики
            p.news_point
               b 3 место:
               |  команда Новосибирской области
            p.news_point.mb1
               b Специальная номинация &laquo;Прорыв года&raquo;:
               |  команда Донецкой Народной Республики
         p.ml2
            b Задание:
            |  разработка приложения для&nbsp;подсчёта удовлетворённости клиентов по&nbsp;различным товарам или услугам.


      p.ml1.mb2
         b Направление &laquo;VR-разработка&raquo; (технологический партнёр&nbsp;&mdash;Varwin)
         .ml2.mb1
            p.news_point
               b 1 место:
               |  команда Приморского края
            p.news_point
               b 2 место:
               |  команда Свердловской области
            p.news_point
               b 3 место:
               |  команда Оренбургской области

         p.ml2
            b Задание:
            |  создание виртуального тура по&nbsp;производственной площадке Уральского завода гражданской авиации с&nbsp;использованием интерактивных и&nbsp;игровых элементов.


      p.ml1.mb2
         b Направление &laquo;Кибергигиена&raquo; (технологический партнёр&nbsp;&mdash;КИБЕРПРОТЕКТ)
         .ml2.mb1
            p.news_point
               b 1 место:
               |  команда Забайкальского края
            p.news_point
               b 2 место:
               |  команда Новосибирской области
            p.news_point
               b 3 место:
               |  команда Ставропольского края
         p.ml2
            b Задание:
            |  создание чат-бота по&nbsp;цифровой гигиене &laquo;Кибербезопасный Новый год&raquo;, предназначенного для&nbsp;повышения уровня осведомлённости пользователей и&nbsp;помощи в&nbsp;усилении безопасности существующих аккаунтов и&nbsp;чувствительных данных.


      p.mb4 Победители II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; были награждены дипломами и&nbsp;ценными призами, а&nbsp;также получили приглашение на&nbsp;стажировку в&nbsp;компанию, курировавшую каждое из&nbsp;направлений. Призёры хакатона, занявшие 2&nbsp;и 3&nbsp;места, получили дипломы, призы от&nbsp;организаторов и&nbsp;награды от&nbsp;технологических партнёров.

      img.mb4( src='./assets/data/images/news/2024/10.12/4.webp' )

      p.mb4 Приятным сюрпризом для&nbsp;победителей хакатона стала дополнительная награда – путёвка в&nbsp;международный детский центр &laquo;Артек&raquo;. Отметим, что руководитель Центра дополнительного образования и&nbsp;детского творчества МДЦ &laquo;Артек&raquo; Диана Кадырова была одним из&nbsp;экспертов состязания и&nbsp;активно участвовала в&nbsp;оценке проектов команд-участников.

      img.mb4( src='./assets/data/images/news/2024/10.12/5.webp' )

      p На&nbsp;церемонии закрытия мероприятия заместитель министра образования и&nbsp;науки Нижегородской области Любовь Широкова поблагодарила юных участников, наставников команд, организаторов и&nbsp;партнёров мероприятия, подчеркнув важность совместной работы для&nbsp;формирования востребованных компетенций и&nbsp;будущего нашей страны.
      p Слова благодарности юным участникам хакатона произнесла первый заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Юлия Пономарёва. Она призвала ребят запомнить опыт, полученный ими во&nbsp;время мероприятия, и&nbsp;хранить в&nbsp;душе радость победы.
      p.mb4 Особо отметили организаторы мероприятия команду Донецкой Народной Республики по&nbsp;направлению &laquo;Программирование&raquo;. Ребята были награждены путёвками в&nbsp;&laquo;Артек&raquo; в&nbsp;рамках номинации &laquo;Прорыв года&raquo;. Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула подчеркнул, что&nbsp;донецкие школьники смогла достойно выступить на&nbsp;хакатоне, хотя в&nbsp;республике пока нет своего центра &laquo;IT-куб&raquo;.

      img.mb4( src='./assets/data/images/news/2024/10.12/6.webp' )

      p Участие в&nbsp;мероприятии учащихся из&nbsp;ДНР стало возможно благодаря проекту &laquo;Цифровое наставничество&raquo;. Он&nbsp;запущен ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускоренной интеграции образовательных организаций ДНР, ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Ребята прошли подготовку с&nbsp;помощью центра &laquo;IT-куб&raquo; Княгинино (Нижегородская область) и&nbsp;подтвердили успешность такого сотрудничества.
      p.mb4 Три дня работы хакатона пролетели незаметно. Организаторы мероприятия обеспечили ребятам отличную возможность снять напряжение и&nbsp;зарядиться энергией. В&nbsp;перерывах хакатона проходила зажигательная игра-разминка &laquo;Спорт в&nbsp;кубе&raquo;. Юные программисты быстро прониклись спортивным азартом и&nbsp;с&nbsp;удовольствием выполняли упражнения. Победители соревнований получили заслуженные награды.

      img.mb4( src='./assets/data/images/news/2024/10.12/7.webp' )

      p Не&nbsp;были забыты и&nbsp;педагоги-наставники: для&nbsp;них проходили семинары и&nbsp;мастер-классы. А&nbsp;для закреплений навыков по&nbsp;кибербезопасности у&nbsp;детей и&nbsp;взрослых компания &laquo;КИБЕРПРОТЕКТ&raquo; провела познавательный квиз. И,&nbsp;конечно, участников хакатона познакомили с&nbsp;достопримечательностями Нижнего Новгорода. Во&nbsp;время экскурсии учащиеся и&nbsp;педагоги прошли познавательную викторину по&nbsp;истории города с&nbsp;помощью мобильного приложения &laquo;Игра первых&raquo; от&nbsp;разработчиков ФГАНУ &laquo;ФИЦТО&raquo;.
      p II Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; подтвердил, что&nbsp;российская молодёжь готова к&nbsp;технологическим вызовам будущего, и&nbsp;продемонстрировал высокий уровень подготовки обучающихся центров &laquo;IT-куб&raquo;.
