article.news_one__article#news_13-10-2025_2
   .news_one__date.mb2.text-22
   h1.title.mb5 Сеть Центров &laquo;IT&#8209;куб&raquo; по&nbsp;всей стране погрузились в&nbsp;мир ИИ&#8209;агентов
   img.mb4( src='./assets/data/images/news/2025/10.13/0.webp' title='Тратататата' )
   .text-22
      p Осенью 2025&nbsp;года стартовал новый сезон Всероссийской образовательной акции &laquo;Урок цифры&raquo;. С&nbsp;22&nbsp;сентября по&nbsp;12&nbsp;октября сеть Центров &laquo;IT-куб&raquo; по&nbsp;всей стране погрузились в&nbsp;мир ИИ-агентов в&nbsp;рамках всероссийской образовательной акции. Школьники и&nbsp;студенты из&nbsp;разных регионов России познакомились с&nbsp;технологиями будущего, которые меняют мир.
      p Образовательный проект реализуется Минпросвещения России, Минцифры России и&nbsp;АНО &laquo;Цифровая экономика&raquo; в&nbsp;поддержку реализации нацпроекта &laquo;Экономика данных&raquo;, а&nbsp;также национальной цели &laquo;Технологическое лидерство&raquo; в&nbsp;партнёрстве с&nbsp;ведущими российскими технологическими компаниями.
      p &laquo;Урок цифры&raquo; показал, как устроены ИИ-агенты, которые не&nbsp;просто отвечают, а&nbsp;действуют самостоятельно. В&nbsp;игровом тренажёре ребята могли настроить ИИ-агентов для кафе, научной лаборатории, туристического Центра и&nbsp;не&nbsp;только.
      p В&nbsp;ходе занятий участники узнали об&nbsp;ИИ-агентах&nbsp;&mdash; это &laquo;умные программы&raquo;. Они могут самостоятельно определять, что нужно сделать для достижения цели, берут на&nbsp;себя рутинные задачи и&nbsp;начинают осваиваться в&nbsp;физическом мире. Они постоянно наращивают автономность: улучшают собственный код, находят и&nbsp;анализируют нужную информацию, учатся на&nbsp;своём опыте, адаптируются в&nbsp;незнакомой среде и&nbsp;принимают решения. Агенты на&nbsp;основе генеративного искусственного интеллекта (GenAI) уже в&nbsp;ближайшие годы могут быть встроены во&nbsp;многие процессы бизнеса и&nbsp;общества.

      p.mb4
         b В Центре &laquo;IT-куб. Свободный&raquo; (Амурская область)
         |  обучающиеся узнали, как работают ИИ-агенты&nbsp;&mdash; умные программы, которые могут сами заказывать еду, строить маршруты и&nbsp;помогать учёным в&nbsp;экспериментах. На&nbsp;тренажёре ребята настраивали агентов для кафе, лаборатории и&nbsp;других мест, отмечая, как интересно было познакомиться с&nbsp;применением ИИ в&nbsp;разных сферах.


      img.mb4( src='./assets/data/images/news/2025/10.13/1.webp' )
      //+image( '10.13', '1', 'mb4', 'Тут источник фото')

      p В Республике Адыгея на&nbsp;базе
         b  Центра цифрового образования IT-куб ГБО ДО РА &laquo;РЕМШ&raquo; (Центр &laquo;IT-куб. Адыгея&raquo;)
         |  состоялся открытый республиканский урок в&nbsp;гибридном формате. Спикером выступил первый заместитель Министра цифрового развития, информационных и&nbsp;телекоммуникационных технологий Республики Адыгея Михаил Семенцов.
      p.mb4 К трансляции подключились педагоги и&nbsp;обучающиеся более чем 30&nbsp;школ республики. &laquo;Урок цифры&raquo; нового сезона позволил сформировать у&nbsp;обучающихся комплексное представление о&nbsp;природе и&nbsp;функциональных возможностях ИИ-агентов. Особое внимание уделили демонстрации ключевых отличий этих систем от&nbsp;больших языковых моделей, а&nbsp;также наглядному представлению их практической ценности в&nbsp;различных отраслях экономики и&nbsp;социальной сферы.

      img.mb4( src='./assets/data/images/news/2025/10.13/2.webp' )

      p К масштабной образовательной инициативе присоединился и&nbsp;
         b Центр &laquo;IT-куб. Болохово&raquo; Тульской области
         | .

      p.quote.mb4 &laquo;Урок цифры&raquo; способствует повышению цифровой грамотности наших школьников и&nbsp;привлекает их к&nbsp;IT-образованию&raquo;,&nbsp;&mdash; отмечает
         b  заведующий Центром IT-куб. Болохово Лариса Марейчева.
         br
         br
         | &laquo;Уверена, что благодаря грамотной организации и&nbsp;методике урок поможет многим ребятам раскрыть свой потенциал в&nbsp;области искусственного интеллекта и&nbsp;успешно адаптироваться к&nbsp;цифровой трансформации&raquo;.

      img.mb4( src='./assets/data/images/news/2025/10.13/3.webp' )

      p Особую практическую значимость проект приобрёл в&nbsp;Иркутской области, где &laquo;IT-куб. Ангарск&raquo; организовал специализированное занятие для студентов первого курса по&nbsp;специальности &laquo;Банковское дело&raquo;. Мероприятие охватило обучающихся групп БД-4 и&nbsp;БД-5, так&nbsp;как именно эти студенты участвуют в&nbsp;федеральном проекте &laquo;Профессионалитет&raquo;, инициированном Правительством РФ для обеспечения качественной интенсивной подготовки кадров по&nbsp;востребованным профессиям и&nbsp;специальностям под запросы конкретных работодателей и&nbsp;при их активном участии.

      p
         b Центр &laquo;IT-куб. Абакан&raquo; в&nbsp;Хакасии
         |  также познакомил школьников с&nbsp;ИИ-агентами на практике.

      p
         b Педагог дополнительного образования Центра &laquo;IT-куб. Абакан&raquo; Дарья Коптева отметила
         | :

      p.quote Урок цифры&nbsp;&mdash; это отличная возможность познакомить ребят с&nbsp;передовыми технологиями в&nbsp;интерактивной и&nbsp;доступной форме. Дети были очень увлечены темой ИИ-агентов, задавали много вопросов и&nbsp;активно участвовали в&nbsp;обсуждении. Такие уроки помогают не&nbsp;только расширить кругозор, но&nbsp;и&nbsp;развить критическое мышление и&nbsp;интерес к&nbsp;сфере IT.

      p К масштабной образовательной акции также подключились Центры &laquo;IT-куб&raquo; из&nbsp;Ульяновской, Амурской, Тамбовской, Смоленской областей, Удмуртской Республики и&nbsp;многих других регионов страны.

      .italic
         strong Справочно:
         p Центры цифрового образования детей &laquo;IT-куб&raquo; созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo; при&nbsp;поддержке Министерства просвещения Российской Федерации.
