article.news_one__article#news_18-08-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 На съезде руководителей Центров
      span.wwnow  &laquo;IT&ndash;куб&raquo;
      |  обсудили взаимодействие с&nbsp;технологическими партнёрами
   .news_img__slider.mb5
      img( src='../assets/data/images/news/18.08.2023/1.jpg' )
      img( src='../assets/data/images/news/18.08.2023/2.jpg' )
      img( src='../assets/data/images/news/18.08.2023/3.jpg' )
      img( src='../assets/data/images/news/18.08.2023/4.jpg' )
      img( src='../assets/data/images/news/18.08.2023/5.jpg' )
   .text-22
      p
         b Участники прошедшего 17–18&nbsp;августа Всероссийского съезда руководителей Центров цифрового образования детей
            span.wwnow &laquo;IT-куб&raquo;
            | обсудили различные аспекты технологического партнёрства с&nbsp;российскими компаниями и&nbsp;заслушали доклады с&nbsp;успешными примерами такого сотрудничества.
      p Предметно эти вопросы были рассмотрены на&nbsp;проектной сессии &laquo;Взаимодействие Центров &laquo;IT-куб&raquo; с&nbsp;технологическими партнёрами&raquo;. Её модератором выступил Даниил Суханов, начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;.
         b  Сессия собрала экспертов в&nbsp;области образования и&nbsp;IT для&nbsp;обсуждения ключевых аспектов сотрудничества Центров &laquo;IT-куб&raquo; с&nbsp;разработчиками отечественных цифровых решений.
      p Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Александр Лямин рассказал
         b  о&nbsp;современных возможностях и&nbsp;цифровых инструментах для&nbsp;организации и&nbsp;управления образовательной деятельностью в&nbsp;Центрах &laquo;IT-куб&raquo;
         | . В&nbsp;свою очередь, технологические партнёры образовательных организаций представили свои разработки и&nbsp;учебные программы для&nbsp;повышения эффективности и&nbsp;большей защищённости образовательных организаций.
      p Анастасия Горелова, руководитель комитета по&nbsp;информатизации АРПП &laquo;Отечественный софт&raquo;, руководитель программ обучения центра &laquo;Хаб&nbsp;Знаний МойОфис&raquo;, продемонстрировала актуальные подходы к&nbsp;использованию отечественных программных продуктов в&nbsp;образовательных процессах. Например, огромные возможности для&nbsp;педагогов и&nbsp;обучающихся открывает пакет решений
         b  &laquo;МойОфис&raquo;
         | . Уже заключены соглашения об&nbsp;оснащении им более 10&nbsp;тысяч школ в&nbsp;22&nbsp;регионах страны.
      p Олег Шутенко, вице-президент корпорации &laquo;Синергия&raquo;, привёл пример
         b  эффективной организации экосистемы непрерывного образования: сад&nbsp;&mdash; школа&nbsp;&mdash; университет
         | . Все образовательные программы корпорации разрабатываются в&nbsp;соответствии с&nbsp;актуальными запросами работодателей. В&nbsp;первую очередь это касается дисциплин в&nbsp;сфере информационных технологий, например, программирования и&nbsp;робототехники.
      p Менеджер по&nbsp;работе с&nbsp;образовательными организациями ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo; Саркис Шмавонян рассказал участникам сессии о&nbsp;всероссийском проекте по&nbsp;
         b обучению детей и&nbsp;взрослых принципам безопасного поведения в&nbsp;сети Интернет
         | , а&nbsp;также поделился разработками компании в&nbsp;сфере информационной безопасности. Дополнил выступление увлекательный квиз, который был организован в&nbsp;конце работы сессии.
      p Примеры работы школьников и&nbsp;студентов с&nbsp;реальными проектами для&nbsp;бизнес-заказчиков привёл в&nbsp;своём выступлении Александр Пикулев, руководитель образовательного направления компании Varwin. Он также
         b  поделился наработками в&nbsp;сфере организации широкого спектра обучающих мероприятий
         |. Высокая результативность образовательных программ достигается, в&nbsp;том числе за&nbsp;счёт использования технологий работы в&nbsp;
         b 3D-пространстве, виртуальной и&nbsp;дополненной реальности
         | .
      p Игорь Алексеев, директор по&nbsp;развитию ООО&nbsp;&laquo;А-Реал Консалтинг&raquo;, в&nbsp;дистанционном формате рассказал
         b  о&nbsp;ситуации в&nbsp;сфере информационной безопасности и&nbsp;об&nbsp;основных способах борьбы с&nbsp;киберугрозами
         |  в&nbsp;Российской Федерации. По&nbsp;последним данным, число кибератак на&nbsp;сектор образования и&nbsp;научных исследований выросло на&nbsp;44%, поэтому учебным организациям следует прикладывать больше усилий по&nbsp;обеспечению своей информационной защиты.
      p Все Центры &laquo;IT-куб&raquo;, участвовавшие в&nbsp;работе съезда, получили от&nbsp;компании &laquo;А-Реал Консалтинг&raquo;
         b  годовую подписку на&nbsp;контент-фильтр&nbsp;ИКС
         | .
      p Также ценные примеры запуска образовательных проектов российскими компаниями были приведены и&nbsp;во&nbsp;время финальной проектной сессии. Руководитель &laquo;Тинькофф Образование&raquo; Варвара Смирнова
         b  поделилась опытом работы компании со&nbsp;школьниками и&nbsp;студентами по&nbsp;подготовке квалифицированных кадров для&nbsp;IT и&nbsp;других направлений
         | . В&nbsp;свою очередь, ректор Центрального университета Евгений Ивашкевич подробно рассказал об&nbsp;образовательной концепции университета нового поколения. Обучение в&nbsp;университете включает в&nbsp;себя сочетание технических и&nbsp;гуманитарных дисциплин и&nbsp;
         b направлено на&nbsp;трудоустройство выпускников по&nbsp;востребованным специальностям
         | .
      p Плодотворная работа проектных сессий Всероссийского съезда руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; позволила
         b обобщить имеющийся опыт сотрудничества между образовательными организациями и&nbsp;разработчиками IT-решений
         | , с&nbsp;тем чтобы сделать этот процесс ещё более эффективным.
