article.news_one__article#news_26-07-2024
   .news_one__date.mb4.text-22
   h1.title.mb4 Открыта страница выставки достижений обучающихся центров &laquo;IT-куб&raquo;
   img.mb5( src='../assets/data/images/news/2024.07.26.webp' )
   .text-22
      i.mb2 Теперь с разработками талантливых ребят можно ознакомиться прямо на официальном сайте сети центров «IT-куб»

      p Виртуальная выставка достижений обучающихся центров «IT-куб» «#Цифровое_Поколение_Наше_Будущее» начала работать на официальном сайте сети центров «IT-куб». С достижениями юных талантов можно познакомиться в&nbsp;
         a( href='https://it-cube.ficto.ru/digital_generation.html' target='_blank' aria-label='открыть в новой вкладке страницу на сайте IT-cube') специальном разделе сайта
         | .
      p Здесь представлены не только индивидуальные разработки обучающихся, но и достижения команд Всероссийского хакатона «Обучаюсь. Проектирую. Программирую. Будущее». Подробнее узнать о достижениях ребят и их проектах можно, просмотрев видеоролики.
      p О запуске проекта виртуальной выставки достижений обучающихся было впервые объявлено на Окружном совещании руководителей центров «IT-куб» в Санкт-Петербурге 30 марта 2024 г. С тех пор от центров «IT-куб» из многих российских регионов поступило десятки заявок с описанием достижений обучающихся. Лучшие примеры творчества юных разработчиков пополнят коллекцию виртуальной выставки.
