article.news_one__article#news_30-07-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Обучающиеся Центра &laquo;IT&#8209;куб. Магнитогорск&raquo; создали смарт-теплицу
   img.mb4( src='./assets/data/images/news/2025/07.30/1.webp ' loading='lazy' title='')
   .text-22
      p Обучающиеся Центра &laquo;IT-куб. Магнитогорск&raquo; создали смарт-теплицу, которая самостоятельно следит за&nbsp;рассадой и&nbsp;решает, когда её поливать.
      p.mb1
         b Педагог дополнительного образования Дмитрий Сергеев
         |  рассказал СМИ о&nbsp;том, как появился этот проект:

      p.quote.mb4 Идею смарт-теплицы предложил ребёнок, когда увидел бабушкину рассаду. Я подумал, что реализация этого проекта может быть достаточно сложной, но&nbsp;дети показали мне, что это достаточно просто, и&nbsp;мы решили заявить его на&nbsp;конкурс

      img.mb4( src='./assets/data/images/news/2025/07.30/2.webp ' loading='lazy' title='')

      p Свой проект ребята, София Терентьева, Всеволод Жебу и&nbsp;Кирилл Гуров, представили на&nbsp;Фестивале проектов &laquo;Технодефиле&raquo; в&nbsp;Челябинске. Команда изобретателей Центра &laquo;IT-куб. Магнитогорск&raquo; под&nbsp;руководством Дмитрия Сергеева стала победителем в&nbsp;направлении &laquo;Сельское хозяйство&raquo;.
      p.mb4 За&nbsp;состоянием растений внутри теплицы следит система из&nbsp;специальных датчиков и&nbsp;модуль технического зрения. Нейросеть самостоятельно считывает размеры растений, прогнозирует их рост и&nbsp;составляет расписание полива.

      img.mb4( src='./assets/data/images/news/2025/07.30/3.webp ' loading='lazy' title='')

      p Разработка имеет компактные габариты, что позволяет устанавливать её не&nbsp;только дома, но&nbsp;и&nbsp;перемещать в&nbsp;классы и&nbsp;лаборатории для&nbsp;занятий селекцией в&nbsp;особых условиях. При&nbsp;необходимости теплицу можно оснастить дополнительными модулями.


      .italic
         strong Справочно
         p В&nbsp;период реализации национального проекта &laquo;Образование&raquo; в&nbsp;соответствии с&nbsp;Методическими рекомендациями по&nbsp;созданию и&nbsp;функционированию Центров &laquo;IT-куб&raquo;, направленными письмом Министерства просвещения Российской Федерации от&nbsp;29.03.2023 &#8470;АБ-1339/02, ФГАНУ &laquo;ФИЦТО&raquo; было определено федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации.
