article.news_one__article#news_17-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 &laquo;Цифровое наставничество&raquo;: сотрудничество организаций Удмуртской Республики, Херсонской области и&nbsp;ЛНР
   img.mb4( src='./assets/data/images/news/2025/09.17/0.webp ' loading='lazy' title='')
   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo; продолжает делиться итогами сотрудничества Центров цифрового образования детей &laquo;IT-куб&raquo; с&nbsp;образовательными организациями воссоединённых территорий России за&nbsp;2024/25 учебный год.
      p В&nbsp;этой статье мы рассказываем о&nbsp;результатах работы команд Центров цифрового образования детей &laquo;IT-куб. Сарапул&raquo; и&nbsp;&laquo;IT-куб. Ижевск&raquo; (Удмуртская Республика), оказавших поддержку образовательным организациям Херсонской области и&nbsp;Луганской Народной Республики.

      .italic
         p Это сотрудничество стало возможным благодаря проекту &laquo;Цифровое наставничество&raquo;, запущенному ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.
         p Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года. В&nbsp;настоящее время к&nbsp;проекту &laquo;Цифровое наставничество&raquo; присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.

      p В&nbsp;течение 2024/25 учебного года в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo; между учебными заведениями была выстроена стабильная коммуникация. Сотрудники Центров &laquo;IT-куб. Сарапул&raquo; и&nbsp;&laquo;IT-куб. Ижевск&raquo; определили зоны поддержки для&nbsp;Ровненской школы Генического муниципального округа (Херсонская область) и&nbsp;Республиканского центра развития одаренности &laquo;Интеллектуальный резерв республики&raquo; (ЛНР) и&nbsp;успешно реализовали совместные образовательные программы.
      p Ярким примером продуктивного межрегионального сотрудничества стало взаимодействие Центра &laquo;IT-куб. Сарапул&raquo; с&nbsp;Ровненской школой Генического муниципального округа, начавшееся в&nbsp;сентябре 2024&nbsp;года.
      p В&nbsp;минувшем учебном году были проведены мероприятия, направленные на&nbsp;демонстрацию эффективного опыта образовательных программ и&nbsp;обмена опытом.

      .italic
         p Центр цифрового образования детей &laquo;IT-куб. Сарапул&raquo; создан &nbsp;базе бюджетного профессионального образовательного учреждения Удмуртской Республики &laquo;Сарапульский техникум машиностроения и&nbsp;информационных технологий&raquo;.

      p Методическая поддержка педагогов включала консультации и&nbsp;методическое сопровождение в&nbsp;течение учебного года, проведение мастер-класса &laquo;Практика применения цифровых образовательных ресурсов в&nbsp;образовательной деятельности&raquo; и&nbsp;методического семинара &laquo;Проектирование дополнительной общеобразовательной общеразвивающей программы&raquo;. На&nbsp;мастер-классе участники обменялись опытом и&nbsp;лучшими практиками в&nbsp;рамках деятельности Центров &laquo;IT-куб&raquo; различных российских регионов. А&nbsp;семинар проводился для&nbsp;педагогов, знакомящихся с&nbsp;нормативной базой разработки дополнительных общеобразовательных программ.
      p.mb4 Совместные мероприятия были проведены и&nbsp;для&nbsp;учащихся двух образовательных организаций. В&nbsp;течение учебного года наставники сопровождали проектную деятельность учащихся, оказывали помощь в&nbsp;выборе тем, консультировали и&nbsp;готовили к&nbsp;участию в&nbsp;различных мероприятиях, активно вовлекая ребят в&nbsp;конкурсное движение. В&nbsp;декабре 2024&nbsp;г. в&nbsp;формате видеоконференции прошёл новогодний IT-квиз для&nbsp;школьников 5-6&nbsp;классов.

      img.mb4( src='./assets/data/images/news/2025/09.17/1.webp ' loading='lazy' title='')

      p Большое внимание в&nbsp;ходе сотрудничества двух организаций уделялось профориентационной работе. Были проведены дни открытых дверей с&nbsp;информацией о&nbsp;специальностях, предлагаемых сарапульским техникумом, условиях обучения и&nbsp;возможностях последующего трудоустройства. Херсонские школьники смогли принять участие в&nbsp;профессиональных пробах по&nbsp;направлениям обучения в&nbsp;IT-кубе Сарапула и&nbsp;в&nbsp;различных мастер-классах по&nbsp;IT-направлениям.

      p.mb1
         b Заместитель директора по&nbsp;дополнительному образованию БПОУ&nbsp;УР &laquo;СТМиИТ&raquo;, руководитель Центра цифрового образования детей &laquo;IT-куб&raquo; г.&nbsp;Сарапула Светлана Волкова:
      p.quote Я рассматриваю проект &laquo;Цифровое наставничество&raquo; как важный ресурс развития нашего IT-куба. Мы смогли выстроить эффективную систему взаимодействия с&nbsp;коллегами из Ровненской школы, которая включала в&nbsp;себя как методическую поддержку педагогов, так и&nbsp;прямое общение с&nbsp;учениками. Реализация проекта предоставила всем участникам процесса возможность для профессионального роста.
         br
         br
         | Для меня крайне важно, что мои коллеги, педагоги дополнительного образования нашего IT-куба, проводя мастер-классы и&nbsp;взаимодействуя с&nbsp;педагогами и&nbsp;учениками Ровненской школы, получили замечательный опыт передачи знаний, прокачали свои преподавательские навыки, освоили новые методики обучения. Помимо этого, участие в&nbsp;столь значимых проектах вселяет уверенность в&nbsp;своих силах, открывает новые горизонты профессионального и&nbsp;личностного развития&raquo;

      p.mb4 В свою очередь команда ижевского IT-куба направила свои усилия на работу с&nbsp;Республиканским центром развития одарённости &laquo;Интеллектуальный резерв республики&raquo; ЛНР, помогая организации образовательного процесса в&nbsp;рамках обучения программированию. Трёхстороннее соглашениепо&nbsp;сотрудничеству организаций с&nbsp;участием ФГАНУ &laquo;ФИЦТО&raquo; было подписано в&nbsp;августе 2024 года.

      img.mb4( src='./assets/data/images/news/2025/09.17/2.webp ' loading='lazy' title='')

      p В течение учебного года сотрудники Центра &laquo;IT-куб. Ижевск&raquo; обучали педагогов Луганской Народной Республикипо&nbsp;программам &laquo;Программирование на Scratch&raquo; и&nbsp;&laquo;Программирование на Python&raquo;.

      p.mb1
         b Директор АНО &laquo;Центр цифрового образования детей &laquo;IT-куб. Ижевск&raquo; Оксана Щелчкова:
      p.quote Мы открывали новые занятия для&nbsp;луганских педагогов на&nbsp;образовательной платформе ижевского IT-куба ShenPy, предоставляя им доступ к&nbsp;тщательно разработанным конспектам, методическим материалам и&nbsp;подробным инструкциям. Это позволило структурировать учебный процесс, поддержать коллег в&nbsp;подготовке к&nbsp;занятиям и&nbsp;в&nbsp;поиске новых подходов к&nbsp;обучению. Также мы предоставляли оперативную поддержку и&nbsp;отвечали на&nbsp;все вопросы. Обратная связь от&nbsp;педагогов помогла нам адаптировать и&nbsp;улучшить наши материалы.

      p.mb1
         b Заместитель директора ФИЦТО Андрей Гамула:
      p.quote Мы достигли главной цели проекта &laquo;Цифровое наставничество&raquo;&nbsp;&mdash; педагоги и&nbsp;ученики воссоединённых территорий активно включились в&nbsp;цифровое образовательное пространство России. Уверен, что установившиеся партнёрские связи между Центрами &laquo;IT-куб&raquo; и&nbsp;образовательными организациями воссоединённых территорий послужат надежной основой для&nbsp;дальнейшего развития цифрового образования и&nbsp;подготовки специалистов для&nbsp;достижения технологического лидерства нашей страны.

      .italic
         strong Справочно
         p В&nbsp;период реализации национального проекта &laquo;Образование&raquo; в&nbsp;соответствии с&nbsp;Методическими рекомендациями по&nbsp;созданию и&nbsp;функционированию Центров &laquo;IT-куб&raquo;, направленными письмом Министерства просвещения Российской Федерации от&nbsp;29.03.2023 &#8470; АБ-1339/02, ФГАНУ &laquo;ФИЦТО&raquo; было определено федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации.
