article.news_one__article#news_30-08-2023_2
   .news_one__date.mb4.text-22
   h1.title.mb5 На онлайн&ndash;семинаре &laquo;IT в кубе&raquo;
      | был анонсирован всероссийский хакатон по&nbsp;программированию для&nbsp;обучающихся Центров
      span.wwnow &laquo;IT&ndash;куб&raquo;
   img.mb5( src='../assets/data/images/news/common.png' )
   .text-22
      p 30&nbsp;августа 2023&nbsp;года состоялся очередной онлайн&ndash;семинар для&nbsp;педагогов и&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo;. В&nbsp;мероприятии приняли участие представители Федерального института цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;) и&nbsp;представители технологических партнёров&nbsp;&mdash; аккредитованных российских ИТ-компаний.
      p Открыл семинар начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo; Даниил Артёмович Суханов. Он подвёл итоги прошедшего в&nbsp;Тюмени 17–18&nbsp;августа съезда руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Как&nbsp;Управлять Будущим&raquo;. В&nbsp;этом масштабном мероприятии приняли участие более 150&nbsp;руководителей &laquo;IT-кубов&raquo; из&nbsp;67&nbsp;регионов России.
      p Во&nbsp;время семинара был анонсирован Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; для&nbsp;обучающихся Центров &laquo;IT-куб&raquo;. Мероприятие пройдет при&nbsp;поддержке Министерства просвещения России, властей Свердловской области, АРПП&nbsp;&laquo;Отечественный софт&raquo;, ПАО&nbsp;Сбербанк, ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo; и&nbsp;компании Varwin.
      p
         strong.mb15 Команды участников могут заявиться по&nbsp;следующим направлениям:
      .ml1.mb2
         p.news_point Программирование
         p.news_point Информационная безопасность
         p.news_point Диджитал (VR/AR технологии)

      p Отборочный&nbsp;&ndash; региональный этап&nbsp;&ndash; хакатона пройдёт с&nbsp;15&nbsp;сентября по&nbsp;10 октября. В&nbsp;рамках этого этапа регионы самостоятельно, на&nbsp;основе общих критериев из&nbsp;Положения о&nbsp;хакатоне, отберут участников, которые пройдут в&nbsp;следующий этап. От&nbsp;каждого из&nbsp;ЦЦОД &laquo;IT-куб&raquo; в&nbsp;каждом из трёх направлений хакатона может принять участие по&nbsp;одной команде численностью от&nbsp;2 до&nbsp;4 человек. В&nbsp;её состав могут войти обучающиеся в&nbsp;возрасте 14–18&nbsp;лет. Таким образом, каждый Центр &laquo;IT-куб&raquo; может направить на&nbsp;мероприятие до&nbsp;трёх команд.
      p С&nbsp;20 октября по&nbsp;10 ноября команды примут участие в&nbsp;онлайн&ndash;встречах с&nbsp;компаниями&ndash;разработчиками кейсов для хакатона. Здесь участникам будет предоставлена дополнительная вводная информация по&nbsp;заданиям и&nbsp;организационным вопросам проведения Хакатона.
      p Финал состоится 24–26&nbsp;ноября в&nbsp;Верхней Пышме (Свердловская область). Команды, занявшие первое место в&nbsp;каждом из направлений, получат возможность пройти командную стажировку в&nbsp;компании&ndash;технологическом партнёре направления.
      p В&nbsp;работе семинара приняли участие и&nbsp;представители технологических партнёров хакатона, которые представили кейсовые задания для команд участников. Региональный директор блока &laquo;Технологии&raquo; ПАО&nbsp;Сбербанк в&nbsp;г.&nbsp;Екатеринбурге (Свердловская область) Василий Александрович Тюменцев представил задание по&nbsp;направлению &laquo;Программирование&raquo;. Оно предполагает разработку софта для&nbsp;автоматизации взаимодействие сотрудников с&nbsp;компанией, предоставляющей услуги корпоративного питания.
      p Со&nbsp;своей стороны руководитель образовательного направления компании Varwin Александр Евгеньевич Пикулев представил кейс по&nbsp;направлению &laquo;Диджитал (VR/AR технологии)&raquo;. Задание предполагает организацию профессиональных проб с&nbsp;использованием технологий виртуальной реальности.
      p От&nbsp;имени технологического партнёра хакатона в&nbsp;направлении &laquo;Информационная безопасность&raquo; выступил Саркис Артушевич Шмавонян, менеджер по&nbsp;работе с&nbsp;образовательными организациями ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo;. Кейсовое задание партнёра посвящено обеспечению безопасности гибридной информационной инфраструктуры нефтегазовой компании.
      p В&nbsp;рамках работы по&nbsp;организации функционирования Центров цифрового образования детей &laquo;IT-куб&raquo; на&nbsp;семинаре выступила руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo; Софья Андреевна Заика. Она анонсировала сбор информации о&nbsp;потребностях сотрудников Центров в&nbsp;курсах повышения квалификации.
      p Запись семинара с&nbsp;выступлениями всех спикеров доступна по&nbsp;ссылке
         a( href='https://vk.com/video-216917614_456239033' target='_blank').inline.hover  в&nbsp;официальном сообществе ФГАНУ &laquo;ФИЦТО&raquo; во&nbsp;Вконтакте
         | .
      strong Справочно
      p В&nbsp;соответствии
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank' ).inline.hover  с&nbsp;методическими рекомендациями от&nbsp;18&nbsp;апреля 2023&nbsp;года
         |  Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo; Министерством просвещения Российской Федерации определено ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;.
