article.news_one__article#news_19-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 На Всероссийском хакатоне выступят команды из&nbsp;23 регионов страны
   img.mb4( src='./assets/data/images/news/2024/09.19/1.webp' )
   .text-22
      p ФГАНУ «ФИЦТО», Геническая школа №1 (Херсонская область) и Болоховский машиностроительный техникум (Тульская область) подписали соглашение о сотрудничестве в рамках проекта «Цифровое наставничество». Фактическим участником соглашения также является Центр «IT-куб» города Болохово, действующий на базе машиностроительного техникума.
      p Соглашение подписали заместитель директора ФГАНУ «ФИЦТО» Андрей Гамула, директор Болоховского машиностроительного техникума (ГПОУ ТО «БМТ») Елена Косинова и директор Генической школы №1 Наталья Галка.
      p Стороны договорились об обмене опытом, организации и проведении совместных онлайн-мероприятий, реализации общих образовательных проектов, профориентационной работе с обучающимися и совместной методической деятельности.
      p.mb4 Как отметил заместитель директора ФГАНУ «ФИЦТО» Андрей Гамула, конечной целью соглашения является забота о будущем юных россиян, потому федеральный оператор готов оказывать участникам программы «Цифровое наставничество» любую посильную помощь.

      .row.flex.mb4
         .third.mb-sm
            img( src='./assets/data/images/news/2024/09.19/2.webp' )
         .two-thirds
            img( src='./assets/data/images/news/2024/09.19/3.webp' )

      p.mb4 Директор Генической школы №1 Наталья Галка поблагодарила участников соглашения за поддержку и внимание к потребностям школы и выразила уверенность в успешном выполнении всех планов образовательной деятельности. Со своей стороны директор ГПОУ ТО «БМТ» Елена Косинова от имени техникума выразила готовность делиться с херсонскими коллегами опытом, укреплять дружеские связи и совместно осваивать новые знания.

      img.mb4( src='./assets/data/images/news/2024/09.19/4.webp' )

      p.mb4 Педагоги Центра цифрового образования детей «IT-куб» города Болохово уже разработали план вовлечения обучающихся и педагогов Херсонской области в цифровое пространство России и подготовили обучающий материал. Как сообщила руководитель Центра Лариса Марейчева, первая рабочая встреча педагогов Генической школы №1 и Центра «IT-куб» пройдёт уже 30 сентября.

      img( src='./assets/data/images/news/2024/09.19/5.webp' )

      .italic
         strong Справочно
         p Проект «Цифровое наставничество» запущен ФГАНУ «ФИЦТО» как федеральным оператором Центров «IT-куб» для ускорения интеграции образовательных организаций ДНР и ЛНР, Запорожской и Херсонской областей в цифровое образовательное пространство России.
         p Ранее к проекту «Цифровое наставничество» подключились «Гимназия № 6» ДНР и Центр «IT-куб» Липецкой области, ГБУ ДО «Центр технического творчества» — «Кванториум» (ДНР) и ЦЦОД «IT-куб» города Княгинино (Нижегородская область) и ГБУ ДО ЛНР «РЦРО «Интеллектуальный Резерв Республики» (ЛНР) и АНО «Центр цифрового образования детей «IT-куб» города Ижевска.
