article.news_one__article#news_25-04-2024
   .news_one__date.mb4.text-22
   h1.title.mb5 Продолжается приём заявок на&nbsp;II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img( src='../assets/data/images/news/25.04.2024.webp' )
   .text-22
      i.mt2.mb2 Приём заявок от команд обучающихся Центров цифрового образования детей «IT-куб» продлится до конца апреля.
      p Центры «IT-куб» по всей России активно подают заявки на участие во II Всероссийском хакатоне «Обучаюсь. Проектирую. Программирую. Будущее». Огромный интерес к мероприятию проявляют педагоги и обучающиеся из новых территорий Российской Федерации.
      p Хакатон проводится с целью повышения мотивации детей к изучению информационных технологий, приобретения дополнительных компетенций через проектную деятельность, формирования у обучающихся осознанного отношения к выбору будущей профессии.
      p В задачи мероприятия входит расширение базовых знаний обучающихся в сфере информационных технологий, развитие у них навыков проектной деятельности и гибких компетенций (коммуникативных, социальных, исследовательских), а также выявление и поддержка юных талантов в сфере IT.
      p II Всероссийский хакатон «Обучаюсь. Проектирую. Программирую. Будущее» проводится по трём направлениям: «Кибергигиена», «VR-разработка» и «Программирование».
      p От каждого Центра «IT-куб» в отборочном (заочном) этапе Хакатона смогут принять участие до трёх команд в составе 2–4 обучающихся возрастом 14–18 лет: по одной команде для каждого из направлений.
      p Хакатон пройдёт с апреля по октябрь 2024 года в два этапа. Отборочный этап в заочном формате проводится на базе субъектов РФ. Заявки на участие в мероприятии должны быть поданы до 30 апреля 2024 г. До 10 июня команды-участники будут работать с заданиями-кейсами.
      p В июле свою работу начнёт экспертная комиссия, которая к 15 сентября отберёт 30 команд-полуфиналистов — по 10 команд в каждом направлении.
      p Важным элементом проведения мероприятия является участие технологических партнёров. Именно они и будут готовить задания для участников хакатона на всех этапах его проведения. Задания будут отражать потребности реального сектора российской экономики.
      p Технологическим партнёром направления «Кибергигиена» является ООО «КИБЕРПРОТЕКТ», направления «VR-разработка» — компания Varwin, направления «Программирование» — АНО ДПО «Тинькофф Образование».
      p Финальный (очный) этап хакатона запланирован на 16–18 октября в Нижнем Новгороде. Команды, прошедшие в полуфинал, будут участвовать в публичной защите своих работ с кейсами технологических партнёров. По итогам защиты в финал хакатона выйдут девять команд — по три в каждом из направлений.
      p Финалистов ожидает ещё одна публичная защита работ. По её итогам жюри определит победителей в каждом из трёх направлений хакатона.
      p Организатором хакатона является Федеральное государственное автономное научное учреждение «Федеральный институт цифровой трансформации в сфере образования» (ФГАНУ «ФИЦТО»).

      p Актуальную информацию о мероприятии можно получить на &nbsp;
         a( href='https://it-cube.ficto.ru/' target='_blank').hover официальном сайте Центров цифрового образования детей &laquo;IT-куб&raquo;
