article.news_one__article#news_03-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центр &laquo;IT&#8209;куб. Болохово&raquo; в&nbsp;День знаний провёл региональный телемост &laquo;Навстречу цифровому будущему!&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.03/0.webp ' loading='lazy' title='© «IT-куб. Болохово»')
   .text-22
      p Команда центра цифрового образования детей &laquo;IT-куб. Болохово&raquo; (Тульская область) организовала телемост, посвящённый внедрению инноваций в&nbsp;образовательный процесс и&nbsp;развитию проекта &laquo;Цифровое наставничество&raquo;. В&nbsp;рамках этого проекта Центр &laquo;IT-куб. Болохово&raquo; сотрудничает c&nbsp;ГБОУ Херсонской области &laquo;Геническая школа &#8470;1&raquo;
      .italic
         p Проект &laquo;Цифровое наставничество&raquo; был запущен ФГАНУ &laquo;ФИЦТО&raquo; в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года.
         p.mb4 В настоящее время к&nbsp;проекту &laquo;Цифровое наставничество&raquo; присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.

      img.mb4( src='./assets/data/images/news/2025/09.03/1.webp ' loading='lazy' title='© «IT-куб. Болохово»')

      p В мероприятии приняли участие педагоги и&nbsp;учащиеся Центра &laquo;IT-куб. Болохово&raquo;, Генической школы &#8470;1, ГОУ ТО &laquo;Донская школа &#8470;1&raquo;, генеральный директор ООО&nbsp;&laquo;АЙТИПЕЛАГ&raquo; Владислав Иваненко, председатель Тульского областного отделения ФКС России Бауржан Коканов и&nbsp;др. От&nbsp;ФГАНУ &laquo;ФИЦТО&raquo; к&nbsp;телемосту присоединились заместитель руководителя отраслевого центра компетенций в&nbsp;сфере производительности труда Татьяна Якубович и&nbsp;начальник отдела проектного сопровождения Андрей Рябов.

      p.mb4.quote &laquo;Телемост стал отличной площадкой для нетворкинга и&nbsp;обмена опытом между школьниками, педагогами и&nbsp;представителями IT-компаний. Особое внимание мы уделили сотрудничеству c&nbsp;Генической школой &#8470;1. Мы недавно подвели итоги совместного проекта за&nbsp;год и&nbsp;уже разработали план мероприятий в&nbsp;рамках &laquo;Цифрового наставничества&raquo; на&nbsp;2025–2026 учебный&nbsp;год&raquo;,&nbsp;&mdash; отметила
         b  заведующий центром &laquo;IT-куб&raquo; Лариса Марейчева.

      img.mb4( src='./assets/data/images/news/2025/09.03/2.webp ' loading='lazy' title='© «IT-куб. Болохово»')

      p Мероприятие прошло в&nbsp;гибридном онлайн/оффлайн-формате и&nbsp;подарило участникам массу положительных эмоций.

      p.mb1
         b Андрей Рябов, начальник отдела проектного сопровождения ФГАНУ &laquo;ФИЦТО&raquo;:

      p.quote Подписание трёхстороннего соглашения между ФИЦТО, Болоховским машиностроительным техникумом, на&nbsp;базе которого действует &laquo;IT-куб. Болохово&raquo;, и&nbsp;Генической школой в&nbsp;сентябре прошлого года стало отправной точкой нашего сотрудничества. Прошедшие за&nbsp;год мероприятия впечатляют&nbsp;&mdash; онлайн-консультации, мастер-классы по&nbsp;робототехнике, семинары, воркшопы, совместное участие в&nbsp;&laquo;Уроке цифры&raquo;, &laquo;Технологическом диктанте&raquo;, шахматных турнирах и&nbsp;нейроарте. Это то&nbsp;самое&nbsp;прочное межрегиональное сотрудничество, ради которого всё и&nbsp;затевалось.
         br
         br
         | Кульминацией этой работы стало создание и&nbsp;успешная апробация мобильного приложения для школы&nbsp;&mdash; практический, осязаемый результат вашего совместного труда&raquo;.

      p Участники мероприятия подвели итоги прошлого учебного года, поделились своими успехами, опытом реализации совместных проектов и&nbsp;планами сотрудничества в&nbsp;новом учебном году, включающими в&nbsp;себя различные формы наставничества и&nbsp;профориентационную деятельность.

      .italic
         strong Справочно
         p ФГАНУ &laquo;ФИЦТО&raquo; находится в&nbsp;ведении Минпросвещения России. В&nbsp;рамках национального проекта &laquo;Образование&raquo; институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 &#8470;АБ-1339/02).
