article.news_one__article#news_18-02-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанники Центра «IT-куб. Абакан» заняли весь пьедестал в&nbsp;компетенции «Программные решения для бизнеса» на&nbsp;чемпионате «Профессионалы»
   +image-26( '02.18', '1', 'mb4', '© Центр «IT-куб. Абакан»')
   .text-22
      p В Абакане завершился региональный этап чемпионата профессионального мастерства «Профессионалы». Мероприятие, объединившее почти 300 участников со&nbsp;всей республики, проходило на&nbsp;базе Хакасского политехнического колледжа. Главная цель&nbsp;— объективно оценить уровень подготовки будущих специалистов и&nbsp;дать старт карьере талантливой молодёжи.
      p Чемпионат охватил 53 профессиональные компетенции. За победу боролись 297 конкурсантов, из&nbsp;которых 38&nbsp;— школьники в&nbsp;категории «Юниоры». Обучающиеся центра цифрового образования «IT-куб. Абакан» заняли все призовые места в&nbsp;компетенции «Программные решения для бизнеса»:

      .ml2.mb3
         p.news_point
            b 1-е место&nbsp;
            | – Владислав Калугин
         p.news_point
            b 2-е место&nbsp;
            | – Александр Есиневич
         p.news_point
            b 3-е место&nbsp;
            | – Михаил Поздняков

      p.mb4 Юные программисты решали сложную и&nbsp;актуальную задачу: им предстояло разработать программное решение для организации по&nbsp;утилизации опасных отходов. Конкурсное задание включало создание модулей десктопного приложения и&nbsp;проектирование мобильного приложения. Завершающим аккордом стала защита проектов, где ребята ярко презентовали результаты своей работы.

      +image-26( '02.18', '2', 'mb4', '© Центр «IT-куб. Абакан»')

      p Не менее напряженная борьба развернулась в&nbsp;компетенции «Веб-технологии» (юниоры). Задания, максимально приближенные к&nbsp;реальным задачам, состояли из трёх модулей: создание интерфейса и&nbsp;дизайна сайта про экскурсии в&nbsp;Республике Хакасия, серверное web-приложение для ведения личной коллекции фильмов и&nbsp;сериалов, клиентская браузерная игра на&nbsp;языке JavaScript про космос.

      p.mb4.quote «Региональный этап чемпионата «Профессионалы» в&nbsp;очередной раз стал для наших ребят площадкой для настоящего триумфа, — прокомментировала итоги
         b  заместитель руководителя Центра цифрового образования детей «IT-куб. Абакан» Елизавета Недопекина
         | . — Результаты этого года говорят сами за&nbsp;себя: ребята буквально «урвали» все призовые места в&nbsp;своей компетенции! Наблюдая за&nbsp;ходом соревнований, я была поражена уровнем их подготовки. На&nbsp;протяжении всех трёх дней они демонстрировали феноменальную уверенность в&nbsp;своих действиях, хладнокровие и&nbsp;по-настоящему профессиональный подход к&nbsp;коду, не&nbsp;оставив конкурентам ни&nbsp;единого шанса на&nbsp;лидерство».


      p.italic Центр цифрового образования детей «IT-куб. Абакан» создан на базе ГБПОУ&nbsp;РХ «Хакасский политехнический колледж» в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
