article.news_one__article#news_08-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 &laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Княгинино&raquo; и&nbsp;ГБОУДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.08/0.webp' )
   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo; продолжает делиться итогами сотрудничества Центров цифрового образования детей &laquo;IT-куб&raquo; c&nbsp;образовательными организациями воссоединённых территорий России за&nbsp;2024/25 учебный год. В&nbsp;этой статье мы рассказываем о&nbsp;результатах работы команды Центра цифрового образования детей &laquo;IT-куб. Княгинино&raquo; (Нижегородская область), оказавшей поддержку по&nbsp;внедрению новых технологий в&nbsp;образовательный процесс ГБОУДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo; (Донецкая Народная Республика).
      .italic
         p Сотрудничество княгининского Центра &laquo;IT-куб&raquo; и&nbsp;донецкого &laquo;Кванториума&raquo; стало возможным благодаря проекту &laquo;Цифровое наставничество&raquo;, запущенному ФГАНУ &laquo;ФИЦТО&raquo; для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.
         p Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года. В&nbsp;настоящее время к&nbsp;проекту &laquo;Цифровое наставничество&raquo; присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.

      p За 2024/25 учебный год в&nbsp;рамках &laquo;Цифрового наставничества&raquo; между учебными заведениями была выстроена стабильная коммуникация. Сотрудники Центра &laquo;IT-куб. Княгинино&raquo; и&nbsp;ГБОУДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo; определили зоны поддержки и&nbsp;успешно реализовали содержательные инициативы в&nbsp;течение всего учебного года.
      p
         b Заместитель директора ФИЦТО Андрей Гамула отметил,
         |  что подписание трёхстороннего соглашения между ФИЦТО, &laquo;IT-куб. Княгинино&raquo; и&nbsp;ГБОУДО &laquo;ЦТТ&nbsp;&mdash; &laquo;Кванториум&raquo; Донецкой Народной Республики в&nbsp;июне прошлого года стало отправной точкой совместного сотрудничества.
      p.quote &laquo;Важнейшим результатом данного проекта считаю создание единой цифровой среды. Это и&nbsp;есть реальная интеграция, когда стираются географические границы, а&nbsp;у&nbsp;детей и&nbsp;педагогов появляется общее образовательное и&nbsp;профессиональное пространство&raquo;,&nbsp;&mdash; подчеркнул он.

      p В рамках проекта в&nbsp;течение прошлого учебного года был реализован комплекс мероприятий, направленных на&nbsp;демонстрацию эффективного опыта реализации образовательных программ и&nbsp;обмен опытом для сотрудников образовательных организаций.
      p.mb4 В ходе ментор-сессий проходили интенсивы, разработанные специалистами &laquo;IT-куб. Княгинино&raquo;. Они были направлены на&nbsp;обмен опытом и&nbsp;лучшими практиками в&nbsp;рамках деятельности Центров различных российских регионов. В&nbsp;рамках этих мероприятий представители &laquo;IT-куб. Княгинино&raquo; поделились опытом учебно-методического обеспечения и&nbsp;организации сетевой деятельности c&nbsp;ГБОУДО &laquo;ЦТТ&nbsp;&mdash; &laquo;Кванториум&raquo; Донецкой Народной Республики.

      img.mb4( src='./assets/data/images/news/2025/09.08/1.webp' )

      p В декабре 2024&nbsp;года &laquo;IT-куб. Княгинино&raquo; совместно c&nbsp;донецким &laquo;Кванториумом&raquo; провели областные соревнования &laquo;IT-ГТО&raquo;. Для педагогов это стало примером того, как наставничество работает на&nbsp;практике. А&nbsp;для школьников появилась возможность проверить себя в&nbsp;цифровых компетенциях: примерить на&nbsp;себя роль программистов и&nbsp;дешифровальщиков, организовать профессиональную фотозону, заняться 3D-моделированием и&nbsp;робототехникой. Также участники смогли управлять квадрокоптерами, роботами-манипуляторами, занимались цифровизацией и&nbsp;даже пробовали свои силы в&nbsp;виртуальной реальности.
      p В первой половине 2025 года были проведены соревнования по&nbsp;робототехнике &laquo;Lego вперёд&raquo; и&nbsp;Молодёжный технический фестиваль &laquo;ИТ-диалог. Твоё цифровое будущее&raquo; c&nbsp;применением дистанционных технологий, что позволило поделиться современными наработками и&nbsp;передовым опытом.
      p.mb4 Соревнования по&nbsp;робототехнике &laquo;Lego вперёд&raquo; были ориентированы на&nbsp;развитие у&nbsp;обучающихся знаний и&nbsp;практических навыков в&nbsp;сфере роботостроения. Участники собирали и&nbsp;программировали робототехнические механизмы, которые должны были выполнить определённый набор действий на&nbsp;специальных полях.

      img.mb4( src='./assets/data/images/news/2025/09.08/2.webp' )

      p.mb4 А молодёжный технический фестиваль &laquo;ИТ-диалог. Твоё цифровое будущее&raquo; способствовал популяризации IT-образования, ориентации на&nbsp;выбор будущей профессии и&nbsp;снижению дефицита кадров в&nbsp;сфере информационных технологий.

      img.mb4( src='./assets/data/images/news/2025/09.08/3.webp' )

      p.mb1
         b Начальник Центра цифрового образования детей &laquo;IT-куб. Княгинино&raquo; Владимир Косолапов:
      p.quote Особая ценность подобных мероприятий в&nbsp;том, что они способствуют объединению: дети получают новые знания и&nbsp;навыки в&nbsp;области программирования, робототехники, 3D-моделирования и&nbsp;инженерных профессий, а&nbsp;наставники&nbsp;&mdash; возможность делиться опытом и&nbsp;видеть живой интерес ребят. Мы видим, что у&nbsp;участников формируются не&nbsp;только ИТ-навыки, но и&nbsp;командное взаимодействие, уверенность в&nbsp;себе и&nbsp;желание учиться дальше.

      p.mb4.quote &laquo;В дальнейшем мы хотим развивать такие инициативы: расширять спектр мероприятий, вовлекать новых партнёров и&nbsp;делать наставничество не&nbsp;разовой акцией, а&nbsp;устойчивой системой. Это наш вклад в&nbsp;подготовку будущих специалистов для цифровой экономики России и&nbsp;в&nbsp;укрепление связей между регионами&raquo;,&nbsp;&mdash; добавил Владимир Косолапов.

      img( src='./assets/data/images/news/2025/09.08/4.webp' )

      .italic
         strong Справочно
         p В период реализации национального проекта &laquo;Образование&raquo; в&nbsp;соответствии c&nbsp;Методическими рекомендациями по&nbsp;созданию и&nbsp;функционированию Центров &laquo;IT-куб&raquo;, направленными письмом Министерства просвещения Российской Федерации от&nbsp;29.03.2023 &#8470;АБ-1339/02, ФГАНУ &laquo;ФИЦТО&raquo; было определено федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации.
         p Центр цифрового образования детей &laquo;IT-куб. Княгинино&raquo; создан в&nbsp;форме структурного подразделения государственного бюджетного общеобразовательного учреждения высшего образования Нижегородского государственного инженерно-экономического университета.


