article.news_one__article#news_20-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанники Центров «IT-куб» Амурской области показали выдающийся результат на чемпионате по подводно-исследовательскому спорту «IFURS-Благовещенск»
   +image-26( '01.20', '0', 'mb4', '© Центр «IT-куб. Благовещенск»')
   .text-22

      p Столица Приамурья впервые стала площадкой для чемпионата по подводно-исследовательскому спорту IFURS. Соревнования состоялись на базе МАОУ «Школа №16 города Благовещенска имени Героя Советского Союза лётчика-космонавта А.А. Леонова». Состязания проводились под патронажем «Океаники» — образовательный проект в области подводной робототехники для детей и взрослых.
      p Чемпионат собрал около 100 участников из разных городов России, а также Китая и Нигерии. Команды амурских Центров цифрового образования «IT-куб» не просто участвовали, а вошли в число сильнейших.
      p Пилоты подводных болидов состязались в трёх спортивных дисциплинах и четырёх возрастных категориях. Задача состояла в том, чтобы дроны прошли трассы разной степени сложности за минимальное время.

      p.mb4.quote «В первую очередь, ребята должны показать мастерство управления. Например, чтобы робот обогнул буй и не запутался, прошёл вдоль бортиков бассейна и не коснулся их. Робот-манипулятор взял клешнями кубик и переложил с одного места на другое, либо корпусом толкал какой-то груз. Важно уметь управлять джойстиком, это не так просто, как кажется», — рассказывает
         b  организатор соревнований в столице Приамурья, педагог дополнительного образования школы № 16 Евгения Дементьева
         | .


      p.mb4 Город Белогорск представили воспитанники Центра «IT-куб. Белогорск» Дмитрий Серёжин и Александр Черей. По итогам упорной двухдневной борьбы с достойными соперниками Дмитрий Серёжин занял 1 место, Александр Черей — 2 место в возрастной категории 12–14 лет в дисциплине «Подводный ниндзя». Дмитрий получил право представить регион в финале чемпионата в Санкт-Петербурге.

      +image-26( '01.20', '1', 'mb4', '© Центр «IT-куб. Белогорск»')

      p.mb4.quote «Наши ребята принимали участие в соревнованиях по подводно‑исследовательскому спорту впервые, после однодневной, можно сказать, подготовки в этом специфическом направлении робототехники, и их достижение тем более вызывает чувство гордости», — говорит
         b  руководитель Центра «IT-куб. Белогорск» Елена Енишевская
         | .

      p.mb4 Из Тынды за победу боролись воспитанники Центра «IT-куб. Тында»
         b  Алексей Проноза
         | ,
         b  Максим Хвалевко
         |  и
         b  Алексей Тучин
         |  (возрастная категория 9–11 лет), а также
         b  Егор Гуриценко
         |  (возрастная категория 12–14 лет). В их копилке два призовых места: у Алексея Пронозы — 2 место, у Алексея Тучина — 3 место.

      +image-26( '01.20', '2', 'mb4', '© Центр «IT-куб. Тында»')

      p.mb4 От Благовещенского Центра «IT-куб» выступали
         b  Александр Павлюк
         |  (возрастная категория 9–11 лет), а также
         b  Данил Зеленский
         |  и
         b  Иван Дегтеренко
         |  (возрастная категория 12–14 лет) под руководством
         b  наставника Александра Стародубца
         | . Александр Павлюк занял пятое место в «Кольцевых гонках», показав достойный результат в сильной группе.

      +image-26( '01.20', '3', 'mb4', '© Центр «IT-куб. Благовещенск»')

      p.mb4.quote «Ребята показали хороший результат. Они получили не только полезный опыт, но и ценные навыки по управлению подводными дронами. Также увидели, насколько широко можно применять эти механизмы в жизни. Такие роботы помогают изучать морское и речное дно, их используют для осмотра кораблей в воде, они помогают в разведке полезных ископаемых под водой, в археологических подводных исследованиях. Соревнования — важный шаг для развития интереса к этой сфере и хорошая профориентация», — уверен
         b  Александр Стародубец, педагог центра «IT-куб» в Благовещенске по направлению «IT-инженерия»
         | .

      p Чемпионат IFURS-Благовещенск стал не просто испытанием навыков, а ярким событием, которое расширило горизонты для юных пилотов Приамурья, открыв им дверь в мир высокотехнологичных подводных исследований.

      p.italic Напомним, Центры цифрового образования детей «IT-куб» были созданы в рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
