article.news_one__article#news_03-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центр &laquo;IT&#8209;куб. Болохово&raquo; в&nbsp;День знаний провёл региональный телемост &laquo;Навстречу цифровому будущему!&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.03/0.webp' )
   .text-22
