article.news_one__article#news_13-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Учащиеся Центра «IT-куб» покоряют Байконур
   +image-26( '01.13', '0', 'mb4', '© Центр «IT-куб.Уралмаш»')
   .text-22
      p Воспитанники Центра цифрового образования «IT-куб.Уралмаш» из&nbsp;Екатеринбурга получили уникальную возможность посетить легендарный космодром Байконур&nbsp;&mdash; награду за&nbsp;успех в&nbsp;конкурсе инновационных проектов Опытного конструкторского бюро «Новатор». Их работа вошла в&nbsp;десятку лучших.

      .italic.mb4
         p Конкурс ОКБ «Новатор» проводился для учащихся 9-11 классов, которые представили проекты по направлениям промышленного дизайна, проектирования, конструирования, радиотехники, электроники и электротехники с обязательным описанием цели, задач и результатов работы.

      +image-26( '01.12', '1', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')

      p Это событие открыло уральским школьникам совместно с другими победителями дверь в&nbsp;удивительный мир современной космонавтики. Они окунулись в&nbsp;атмосферу профессиональной подготовки будущих ракетостроителей, испытателей и&nbsp;разработчиков космических аппаратов. Под руководством опытных наставников ребята узнали, как рождаются реальные ракеты, испытали себя в&nbsp;создании собственных моделей и&nbsp;лично присутствовали при настоящем старте космического корабля.

      .italic.mb4
         p Максим Изиланов и&nbsp;Михаил Юхман под руководством педагога дополнительного образования Центра «IT-куб» Павла Зубова представили на конкурсе прототип летательного аппарата «Ночной орёл». В&nbsp;ходе работы над проектом школьники рассчитывали аэродинамические параметры, создали 3D-модель устройства и&nbsp;приступили к&nbsp;тестированию систем управления.
         p Екатерина Бузлаева под руководством директора Института математики, физики, информатики Уральского государственного педагогического университета Рашида Абдулова представила результаты исследования парадоксального движения точки на&nbsp;ободе катящегося колеса. Это эффект, при котором светодиодная метка на&nbsp;определённом участке траектории движется назад, несмотря на&nbsp;то&nbsp;что всё колесо катится вперёд. Работа получила высокую оценку жюри.

      +image-26( '01.13', '2', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')

      p.mb2
         b Екатерина Бузлаева
         |  поделилась впечатлениями о&nbsp;поездке:
      p.quote.mb4 «Самое сильное впечатление, конечно, произвел монтажно-испытательный цех, где собирают настоящие ракеты. Помните, где в&nbsp;аниме «Евангелион» создавали Еву? Вот это примерно то&nbsp;же самое, возможно, чуть меньше масштабом, но не&nbsp;менее футуристично. Просторы Байконура тоже потрясли&nbsp;&mdash; почти бесконечные степи и&nbsp;длинные дороги. Такое чувство грандиозности трудно описать словами!»
         br
         br
         | «Но настоящий восторг вызвала сама ракета, взлетающая на&nbsp;наших глазах,&nbsp;&mdash;
         b  говорит Екатерина
         | .&nbsp;&mdash; Она кажется яркой белой точкой вдали, слышатся громкий гул и&nbsp;вибрации, проникающие глубоко внутрь груди. Ощущение невероятной силы и&nbsp;мощи техники захватывало дух. Мы увезли домой уникальные сувениры с&nbsp;автографами космонавтов и&nbsp;инженеров&nbsp;&mdash; этот опыт останется памятью на&nbsp;всю жизнь».

      p Посещение Байконура продемонстрировало перспективы российского космоса и&nbsp;укрепило уверенность молодых талантливых ребят в&nbsp;востребованности их навыков и&nbsp;талантов. Образовательные программы Центров «IT-куб» становятся важнейшим ресурсом для воспитания новых поколений отечественных учёных и&nbsp;инженеров.
      .italic
         p Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.

