article.news_one__article#news_20-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 &laquo;Цифровое наставничество&raquo; помогает изучению искусственного интеллекта
   +image( '10.20', '1', 'mb4', '© «IT-Куб. Болохово»')
   .text-22
      .italic.mb4
         p Центр цифрового образования детей &laquo;IT-Куб. Болохово&raquo; 28 октября 2025 года проведёт онлайн-воркшоп &laquo;Искусственный интеллект: Начало пути&raquo;, который станет частью системной работы с&nbsp;образовательными учреждениями воссоединённых территорий. Это очередное мероприятиев&nbsp;рамках проекта &laquo;Цифровое наставничество», направленного на интеграцию воссоединённых территорийв&nbsp;единое цифровое образовательное пространство России.
         p Проект &laquo;Цифровое наставничество» был запущен ФГАНУ &laquo;ФИЦТО»в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областейв&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашениев&nbsp;рамках проекта было подписано 31 мая 2024 года.
         p В настоящее время к&nbsp;проекту &laquo;Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а также Центры &laquo;IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.

      p.mb3.quote &laquo;Мероприятие станет практической помощью всем тем, кто только начал свой путьв&nbsp;мире искусственного интеллекта. Участиев&nbsp;нём педагогов Генической школы Херсонской области&nbsp;&mdash; это очередной шаг к&nbsp;созданию единого образовательного пространства, где каждый имеет доступ к&nbsp;современным цифровым знаниям. Совместное изучение столь важных тем даёт импульс к&nbsp;развитию всей системы цифрового образования»,&nbsp;&mdash;
         b  подчеркнула заведующий Центром &laquo;IT-Куб. Болохово» Лариса Марейчева

      p Мероприятие разработано специально для начинающих. Независимо от&nbsp;предыдущего опытав&nbsp;программировании или математике, практический воркшоп предоставит понятное и&nbsp;доступное введениев&nbsp;ключевые концепции и&nbsp;методы искусственного интеллекта. Участники узнают, что такое машинное обучение, нейронные сети и&nbsp;как они применяютсяв&nbsp;реальном мире. Практические примеры станут отправной точкой для дальнейшего изучения и&nbsp;применения ИИв&nbsp;различных сферах. Программа включает в&nbsp;себя теоретический и&nbsp;практический блок.

      p.mb2
         b Спикеры и&nbsp;темы выступлений:

      p.news_point
         b Владислав Иваненко
         | , генеральный директор ООО &laquo;АЙТИПЕЛАГ» (г. Севастополь) расскажет, что такое искусственный интеллект.
      p.news_point
         b Роман Антропов
         | , ведущий инженер-программист офиса проектного управления и&nbsp;цифровых решений Тульского государственного педагогического университета им. Л.Н. Толстого расскажет, что такое машинное обучение и&nbsp;как оно работает.
      p.news_point
         b Владимир Щеглов
         | , ведущий программист ООО &laquo;Марс» (г. Тула) расскажет о&nbsp;нейронных сетях, их устройстве и&nbsp;принципах работы.
      p.news_point
         b Михаил Писарев
         | , основатель агентства &laquo;SmartAgent. ИИ решения для бизнеса» (Иг. Санкт-Петербург) расскажет практическую сторону в&nbsp;искусственном интеллекте: от&nbsp;алгоритмов к&nbsp;эмоциям.
      p.news_point.mb3
         b Лариса Марейчева
         | , заведующий Центром цифрового образования детей &laquo;IT-Куб» (г. Болохово) проведёт Мастермайнд &laquo;Просто о&nbsp;сложном»

      p Для участия необходимо заполнить регистрационную форму.

      .italic
         strong Справочно
         p ФГАНУ &laquo;ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В рамках национального проекта &laquo;Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров &laquo;IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02).
