article.news_one__article#news_10-08-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 Подведены итоги первого этапа I Всероссийского конкурса педагогов Центров цифрового образования детей
      span.wwnow &laquo;IT&ndash;куб&raquo;
   img.mb5( src='../assets/data/images/news/2023/10-08-2023.jpg' )
   .text-22
      p Конкурсная комиссия подвела итоги первого заочного этапа I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT-куб&raquo;.
      p По&nbsp;итогам рассмотрения всех присланных на&nbsp;конкурс заявок и&nbsp;подсчёта баллов объявлены 20&nbsp;победителей первого этапа конкурса в&nbsp;пяти номинациях. Они проходят во&nbsp;второй (очный) этап конкурса, который пройдёт осенью 2023&nbsp;года.
      p.quote &laquo;Отбор победителей был непростым: участники конкурса отнеслись к&nbsp;конкурсу творчески и&nbsp;креативно, продемонстрировав не&nbsp;только свою заинтересованность и&nbsp;профессионализм, но&nbsp;и&nbsp;авторские методы обучения при работе с&nbsp;детьми. Это свидетельствует о&nbsp;хорошей подготовке наших преподавателей и&nbsp;даёт нам уверенность, в&nbsp;том, что&nbsp;цифровой трансформацией образования в&nbsp;российских регионах занимаются достойные люди. Благодарим всех участников конкурса! Поздравляем полуфиналистов и&nbsp;желаем им успехов в&nbsp;следующем этапе конкурса!&raquo;,&nbsp;&mdash; отметила Председатель конкурсной комиссии Анастасия Горелова (Руководитель комитета по&nbsp;информатизации образования АРПП &laquo;Отечественный софт&raquo;, руководитель программ обучения &laquo;Хаб Знаний МойОфис&raquo;).
      p.mt3
         strong.mb15 Список победителей заочного этапа конкурса
      p.mb08
         b.mr1 &laquo;Программирование&raquo;
         | (программирование роботов, программирование на&nbsp;Python, программирование на&nbsp;Java)
      .ml3
         p.news_point Лапаев Андрей Сергеевич (Нижегородская область)
         p.news_point Макаренко Мария Дмитриевна (Республика Северная Осетия&nbsp;&mdash; Алания)
         p.news_point Ковалев Владислав Алексеевич (Смоленская область)
         p.news_point Мамаев Даниил Станиславович (Новосибирская область)

      p.mt2.mb08
         b.mr1 &laquo;Разработка приложений&raquo;
         | (мобильная разработка, разработка VR/AR&ndash;приложений)
      .ml3
         p.news_point Ильина Ульяна Вячеславовна (Свердловская область)
         p.news_point Анисимов Алексей Евгеньевич (г.&nbsp;Санкт&ndash;Петербург)
         p.news_point Быченок Владимир Васильевич (Челябинская область)
         p.news_point Забеляев Роман Андреевич (Алтайский край)

      p.mt2.mb08
         b &laquo;Системное администрирование&raquo;
      .ml3
         p.news_point Муравцев Денис Сергеевич (Нижегородская область)
         p.news_point Мальцев Алексей Александрович (Челябинская область)
         p.news_point Дьячковский Николай Михайлович (Республика Саха (Якутия))
         p.news_point Канова Мария Идрисовна (Челябинская область)

      p.mt2.mb08
         b &laquo;Кибергигиена и&nbsp;работа с&nbsp;большими данными&raquo;
      .ml3
         p.news_point Диденко Владимир Андреевич (Рязанская область)
         p.news_point Шмелев Алексей Андреевич (Свердловская область)
         p.news_point Кличенко Анна Андреевна (Иркутская область)
         p.news_point Гаан Тамара Валерьевна (Новосибирская область)

      p.mt2.mb08
         b &laquo;Алгоритмика и&nbsp;логика&raquo;
      .ml3
         p.news_point Раздобреева Мария Николаевна (Челябинская область)
         p.news_point Бондарева Елена Николаевна (Ямало&ndash;Ненецкий&nbsp;АО)
         p.news_point Давиденко Алла Владимировна (Кемеровская область)
         p.news_point Мошко Станислав Владимирович (г.&nbsp;Санкт&ndash;Петербург)

      p.mt3 Все педагоги, не&nbsp;прошедшие в&nbsp;следующий этап конкурса, награждаются сертификатами участников конкурса, которые будут направлены на&nbsp;электронную почту.
      p I&nbsp;Всероссийский конкурс педагогов Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo; проводится в&nbsp;рамках реализации Национального проекта &laquo;Образование&raquo; и&nbsp;концепции достижения технологического суверенитета России.
      p Конкурс играет важную роль в&nbsp;развитии высокотехнологичной сферы российского образования. Он не&nbsp;только помогает выявлять самых талантливых педагогов Центров &laquo;IT-куб&raquo;, но&nbsp;и&nbsp;способствует подготовке будущих лидеров в&nbsp;области цифровых технологий.
      p Информация о&nbsp;проведении следующего очного этапа конкурса будет опубликована дополнительно на официальных ресурсах сети Центров цифрового образования детей &laquo;IT-куб&raquo;.

