article.news_one__article#news_25-03-2024
   .news_one__date.mb4.text-22
   h1.title.mb5 Опубликован календарь федеральных мероприятий, проводимых для&nbsp;Центров &laquo;IT-куб&raquo;, на&nbsp;2024 год
   img( src='../assets/data/images/news/2024/25.03.2024.webp' )
   .text-22
      i.mt2.mb2 Федеральный оператор ЦЦОД &laquo;IT-куб&raquo; анонсировал насыщенный график проведения общероссийских мероприятий
      p ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;&nbsp;&mdash; федеральный оператор ЦЦОД &laquo;IT-куб&raquo;&nbsp;&mdash; проведёт в&nbsp;2024 году серию мероприятий для&nbsp;руководителей, педагогов и&nbsp;обучающихся центров &laquo;IT-куб&raquo;.
      p На&nbsp;совещаниях с&nbsp;руководителями Центров &laquo;IT-куб&raquo; в&nbsp;разрезе отдельных федеральных округов будут обсуждаться методические вопросы поддержки и&nbsp;функционирования организаций дополнительного образования. Ближайшее совещание&nbsp;&mdash; по&nbsp;Северо-Западному и&nbsp;Центральному федеральным округам&nbsp;&mdash; пройдёт в&nbsp;Санкт-Петербурге 30&nbsp;марта 2024&nbsp;года.
      p Стратегию развития и&nbsp;общероссийские рабочие вопросы руководители Центров &laquo;IT-куб&raquo; обсудят на&nbsp;Всероссийском съезде руководителей &laquo;Как Управлять Будущим&raquo;. Он пройдёт 15–16&nbsp;августа в&nbsp;Челябинске. Это уже второе мероприятие такого рода: первый съезд руководителей Центров &laquo;IT-куб&raquo; был проведён в&nbsp;августе 2023&nbsp;года в&nbsp;Тюмени.
      p В&nbsp;текущем году продолжится проведение конкурсных мероприятий для&nbsp;педагогов и&nbsp;обучающихся Центров &laquo;IT-куб&raquo;. Так, в&nbsp;несколько этапов пройдёт Всероссийский конкурс педагогов &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;, впервые проведённый в&nbsp;2023 году. Отборочный этап конкурса пройдёт в&nbsp;апреле&ndash;сентябре 2024&nbsp;года. Финал конкурса с&nbsp;защитой проектов состоится 15&nbsp;ноября в&nbsp;Смоленске.
      p Продолжением удачных практик прошлого года станет и&nbsp;II Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;. Отборочный заочный этап для&nbsp;команд обучающихся Центров &laquo;IT-куб&raquo; пройдёт в&nbsp;апреле&ndash;сентябре 2024&nbsp;года. Финальный очный этап хакатона запланирован на&nbsp;16–18&nbsp;октября в&nbsp;Нижнем Новгороде.
      p Также в&nbsp;течение года будут проведены мониторинг выполнения показателей функционирования Центров &laquo;IT-куб&raquo;, мониторинг использования оборудования, поставляемого Центрам &laquo;IT-куб&raquo; и&nbsp;мониторинг проведения повышения квалификации педагогических работников.
      p Кроме того, в&nbsp;2024&nbsp;году пройдёт несколько онлайн-совещаний с&nbsp;региональными координаторами Центров &laquo;IT-куб&raquo;.

      p Более подробно с&nbsp;календарём федеральных мероприятий можно ознакомиться в&nbsp;разделе &laquo;Федеральный календарь&raquo;&nbsp;
         a( href='https://it-cube.ficto.ru/' target='_blank').hover официального сайта Центров &laquo;IT-куб&raquo;
