article.news_one__article#news_13-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Онлайн-хакатон &laquo;Код доступа&raquo; объединит юных программистов из&nbsp;Центров &laquo;IT-куб&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.18/0.webp' )
   .text-22
      .italic
         p Уже через два дня стартует отборочный этап масштабного состязания для обучающихся Центров «IT-куб»!

      p Команда ФИЦТО объявляет о&nbsp;завершении регистрации на&nbsp;Всероссийский онлайн-хакатон «Код доступа», в&nbsp;котором примут участие обучающиеся Центров цифрового образования детей «IT-куб».

      .italic
         p Мероприятие продолжает традиции проведения Всероссийских хакатонов «Обучаюсь. Проектирую. Программирую. Будущее», которое ФИЦТО проводил в&nbsp;2023/24&nbsp;гг. в&nbsp;качестве федерального оператора Сети Центров «IT-куб» при поддержке Министерства просвещения Российской Федерации.

      p Мероприятие пройдёт с&nbsp;15 по&nbsp;17&nbsp;октября 2025 года в&nbsp;геймифицированном мобильном приложении ФИЦТО, которое можно скачать по&nbsp;ссылкам уже сейчас и&nbsp;ознакомиться с&nbsp;его интерфейсом:

      .ml2.mb2
         p.news_point Версия для&nbsp;
            a.hover( href='https://apps.apple.com/app/id6503953951' target='_blank') IOS
         p.news_point Версия для&nbsp;
            a.hover( href='https://www.rustore.ru/catalog/app/ru.dviz.gameoffirsts' target='_blank') Android

      p Ссылки для скачивания вместе с&nbsp;инструкцией также будут направлены на&nbsp;почту участников, указанную при регистрации, за&nbsp;день до&nbsp;мероприятия, а&nbsp;сценарий состязания станет доступен с&nbsp;15&nbsp;октября.

      p Актуальная информация, новости, обновления &nbsp;конкурсная документация доступна на&nbsp;
         a( href='https://it-cube.ficto.ru/hackathon.html' target='_blank') официальной странице Всероссийского онлайн-хакатона «Код доступа»
         | , а&nbsp;также в&nbsp;
         a( href='https://vk.com/club232887795?from=groups' target='_blank') группе Хакатона
         |  в&nbsp;социальной сети «ВКонтакте».

