article.news_one__article#news_30-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Воркшоп &laquo;Искусственный интеллект: Начало пути» объединил педагогов сети Центров &laquo;IT-куб»по&nbsp;всей России
   +image( '10.30', '0', 'mb4', '© Центр «IT-куб. Болохово»')
   .text-22
      .mb4.italic
         p 28 октября 2025 года Центр цифрового образования детей &laquo;IT-куб» на базе Болоховского машиностроительного техникума провёл всероссийский онлайн-воркшоп &laquo;Искусственный интеллект: Начало пути». Мероприятие стало частью системной работыпо&nbsp;интеграции образовательных учреждений воссоединённых территорий в&nbsp;единое цифровое образовательное пространство России.

      p В нём приняли участие более 120 представителей из 26 регионов страны. Среди них&nbsp;&mdash; постоянный партнёр Центра &laquo;IT-куб. Болохово»&nbsp;&mdash; Геническая школа № 1 Херсонской области.

      p.mb4.quote &laquo;Наше мероприятие объединило не&nbsp;только педагогов из разных уголков России, но и&nbsp;наших коллег с&nbsp;воссоединённых территорий,&nbsp;&mdash;
         b отметила заведующий Центром &laquo;IT-куб. Болохово» Лариса Марейчева.&nbsp;&mdash;
         |  Особенно ценно участие Генической школы № 1, с&nbsp;которой мы активно сотрудничаем в&nbsp;рамках проекта &laquo;Цифровое наставничество». Это наглядный пример того, как вместе мы создаем единое образовательное пространство, где каждый может сделать первые уверенные шаги в&nbsp;мир технологий».

      +image( '10.30', '1', 'mb4', '© Центр «IT-куб. Болохово»')

      p.mb4 В программе мероприятия ведущие эксперты из разных городов России простым языком раскрыли основы искусственного интеллекта. Участники разобрались, что такое Искусственный интеллект (ИИ), и&nbsp;где он применяется, узнали принципы машинного обучения и&nbsp;устройство нейронных сетей, а также увидели технологии в&nbsp;действии на реальных примерах.

      +image( '10.30', '2', 'mb4', '© Центр «IT-куб. Болохово»')

      p.mb2
         b Спикерами воркшопа выступили:
      .ml2.mb3
         p.news_point Владислав Иваненко
            | , генеральный директор ООО «АЙТИПЕЛАГ» (г. Севастополь).
         p.news_point Роман Антропов
            | , ведущий инженер-программист офиса проектного управления и&nbsp;цифровых решений Тульского государственного педагогического университета им. Л.Н. Толстого.
         p.news_point Владимир Щеглов
            | , ведущий программист ООО «Марс» (г. Тула).
         p.news_point Михаил Писарев
            | , основатель агентства «SmartAgent. ИИ решения для бизнеса» (г. Санкт-Петербург).

      p
         b Лариса Марейчева
         |  добавила, что мероприятие наглядно показало, как в&nbsp;рамках «Цифрового наставничества» создаются мосты для обмена знаниями и&nbsp;укрепления профессиональных связей между педагогами Центров «IT-куб»по&nbsp;всей стране.

      .italic
         strong Справочно
         p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31 мая 2024 года.
         p В настоящее время к&nbsp;проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а также Центры «IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p ФГАНУ «ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02).
