article.news_one__article#news_19-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанники Центра «IT-куб. Уралмаш» взяли серебро и бронзу на чемпионате по подводной робототехнике
   +image-26( '01.19', '0', 'mb4', '© Центр «IT-куб. Уралмаш»')
   .text-22
      p Во Владимире прошёл чемпионат по подводно-исследовательскому спорту «IFURS-Владимир», собравший более 60 школьников из Владимирской, Ленинградской и Свердловской областей, а также Москвы и Санкт-Петербурга.
      p.mb4 Воспитанники Центра «IT-куба. Уралмаш» (г. Екатеринбург) вернулись с наградами с чемпионата по подводной робототехнике «IFURS-Владимир». В борьбе с более чем 60 участниками из разных регионов воспитанники Центра «IT-куб. Уралмаш» завоевали «серебро» и «бронзу».

      +image-26( '01.19', '1', 'mb4', '© Центр «IT-куб. Уралмаш»')

      p.mb1 Чемпионат включал участников четырёх возрастных категорий и трёх спортивных дисциплин:
      .ml2.mb3
         p.news_point подводный болид — S5 Кольцевые гонки, 9-11 лет
         p.news_point подводный болид — S4 Подводный ниндзя 12-14 лет
         p.news_point подводный болид — S4 Эстафета 15-17 лет
         p.news_point подводный болид — S5 Кольцевые гонки, 18+ лет

      p.mb4 Команда «IT-куба» участвовала в личном первенстве «Подводный ниндзя» и командной эстафете. Дмитрий Таран и Егор Бобровский успели дебютировать на международном уровне — на чемпионате «IFURS-Минск» в ноябре. И именно этот опыт помог им блеснуть во Владимире. Егор показал лучший результат на трассе – всего 40 секунд против минуты и более у других участников. Дмитрий уверенно прошёл финальную дистанцию без ошибок и завоевал бронзовую медаль, получив ценные рейтинговые баллы.

      +image-26( '01.19', '2', 'mb4', '© Центр «IT-куб. Уралмаш»')

      p Команда «Кубовцы» в составе Григория Сидорова и Вероники Орловой произвела настоящий фурор в эстафете. Им удалось пройти сложную трассу – с туннелями, перемещением и сборкой предметов – всего за 6 минут из отведённых 15. В финале ребята уступили всего секунду команде из Владимира, завоевав серебряные медали.

      p.mb4.quote Я была уверена, что мы будем первыми! И я, и Григорий учимся в «IT-кубе» управлять беспилотными аппаратами в воздухе и на земле. И этот опыт очень пригодился для работы под водой, – отметила
         b  Вероника Орлова
         | .

      p.mb2 Заместитель директора Дворца молодёжи
         b  Василий Фёдоров
         |  подчеркнул:
      p.mb4.quote Задания были по силам участникам. Главное – дальше оттачивать навыки, становиться настоящими мастерами и бороться за первые места. Желаю ребятам научиться управлять своим волнением – и тогда все победы будут за нами!

      p Успехи юных робототехников — наглядный результат работы Центров «IT-куб», созданных в рамках нацпроекта «Образование». Такие Центры раскрывают таланты и готовят новое поколение инженеров прямо в регионах. Участвуя в таких проектах, школьники не просто завоевывают медали — они получают ключевые компетенции для будущего, внося свой вклад в технологический суверенитет страны.

      .italic
         p Соревнования организованы Федерацией по подводно-исследовательскому спорту, МАУ ДО «Дворец детского (юношеского) творчества г. Владимира», компанией ООО «ТехноСтандарт» (проект «Океаника»).
         p Центры цифрового образования детей «IT-куб» были созданы в рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
