article.news_one__article#news_28-04-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Команда ФИЦТО провела тестовый запуск геймифицированного мобильного приложения в&nbsp;Центре &laquo;IT&#8209;куб. Химки&raquo;
   img.mb4( src='./assets/data/images/news/2025/04.28/1.webp' )
   .text-22

      p 25 апреля на&nbsp;базе МБОУ СОШ &laquo;Лидер&raquo; c&nbsp;участием ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;Центра &laquo;IT-куб. Химки&raquo; (Московская область) прошло мероприятие &laquo;IT-стартапы. Школьный трамплин&raquo;.

      p.mb4 Команда института в&nbsp;ходе круглого стола &laquo;Цифровые лидеры. Вперёд в&nbsp;будущее&raquo;, прошедшего в&nbsp;рамках мероприятия, провела тестовый запуск геймифицированного мобильного приложения. Участниками события стали 280 школьников, для&nbsp;которых было подготовлено увлекательное соревнование в&nbsp;двух частях.

      img.mb4( src='./assets/data/images/news/2025/04.28/2.webp' )

      p.mb1 В&nbsp;первую часть входило тестирование приложения. Оно состояло из&nbsp;пяти блоков по пять вопросов в&nbsp;каждом, посвящённых тематике мероприятия:

      .ml1.mb3
         p.news_point
            b Принятие решений и&nbsp;управление рисками
         p.news_point
            b Финансовая грамотность
         p.news_point
            b Софтскиллз предпринимателя
         p.news_point
            b Бизнес идеи и&nbsp;маркетинг
         p.news_point
            b Основы предпринимательства


      p.mb4 Во второй части мероприятия прошёл квест, в&nbsp;ходе которого ребята искали спрятанные на&nbsp;территории IT-куба ребусы, разгадывали их и&nbsp;вводили правильные ответы в&nbsp;мобильное приложение.

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2025/04.28/3.webp' )
         img( src='./assets/data/images/news/2025/04.28/4.webp' )

      p За каждую успешно пройденную часть участники игры зарабатывали награды, которые затем можно было обменять на&nbsp;ценные призы.

      p Участников мероприятия приветствовал заместитель директора ФИЦТО Андрей Гамула. Он отметил важность того, что обучающиеся Центра &laquo;IT-куб. Химки&raquo; стали первыми в&nbsp;2025 году участниками апробации геймифицированного мобильного приложения. В&nbsp;будущем, отметил Андрей Гамула, планируется введение мобильного приложения в&nbsp;учебный процесс всех центров &laquo;IT-куб&raquo;.

      p Кроме того, в&nbsp;ходе мероприятия состоялось награждение победителей и&nbsp;призёров завершившегося Регионального хакатона &laquo;Цифровые лидеры будущего&raquo;. Он был проведён МБОУ СОШ &laquo;Лидер&raquo; и&nbsp;действующим на&nbsp;его базе Центром &laquo;IT-куб. Химки&raquo; при поддержке Федерального агентства по делам молодёжи, Министерства образования Московской области и&nbsp;Управления по образованию городского округа Химки.

      p Заместитель директора ФИЦТО Андрей Гамула: &laquo;Очень важно, что на&nbsp;базе центров &laquo;IT-куб&raquo; организовываются такие крупные мероприятия. Участие в&nbsp;хакатонах, конкурсах и&nbsp;соревнованиях помогает юным россиянам разностороннее развиваться, получать новые знания, оттачивать цифровые навыки и&nbsp;учиться работать в&nbsp;команде. Уже сейчас эти ребята стоят на&nbsp;страже технологического суверенитета России, а&nbsp;в&nbsp;будущем станут лидерами цифрового будущего нашей страны&raquo;.

      .italic
         strong Справочно
         p Геймифицированное мобильное приложение, созданное разработчиками ФИЦТО, позволяет проводить увлекательные викторины и&nbsp;квесты по любой тематике. А&nbsp;правильные ответы превращаются в&nbsp;&laquo;движкоины&raquo; для&nbsp;приобретения других наград. Приложение позволяет развивать креативное мышление, стимулирует командную работу и&nbsp;предпринимательские навыки.


