article.news_one__article#news_21-05-2024_2
   .news_one__date.mb2.text-22
   h1.title.mb4 В&nbsp;Грозном открылось окружное совещание руководителей ЦЦОД &laquo;IT-куб&raquo; &laquo;Поиск решений&raquo;
   img.mb4( src='./assets/data/images/news/2024/24_meeting/21.05_otkritie.webp' loading='lazy')
   .text-22
      i.mt2.mb2 Мероприятие объединило руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; Приволжского, Южного и&nbsp;Северо-Кавказского федеральных округов.
      p Окружное совещание руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Поиск решений&raquo; начало свою работу в&nbsp;Грозном (Чеченская Республика). В&nbsp;мероприятии, которое продлится 21–22&nbsp;мая, участвуют более 60&nbsp;Центров &laquo;IT-куб&raquo; из&nbsp;23&nbsp;субъектов РФ.
      p Совещание проходит на&nbsp;площадке ГБНОУ &laquo;Республиканский комплекс общего и&nbsp;дополнительного образования &laquo;Квант&raquo; и&nbsp;объединяет руководителей Центров Приволжского, Южного и&nbsp;Северо-Кавказского федеральных округов. Организатор совещания&nbsp;&mdash; федеральный оператор системы Центров &laquo;IT-куб&raquo; ФГАНУ&nbsp;&laquo;ФИЦТО&raquo;.
      p Открыли совещание министр образования и&nbsp;науки Чеченской Республики Хож-Бауди Буарович Дааев и&nbsp;директор ФГАНУ&nbsp;&laquo;ФИЦТО&raquo; Юлия Александровна Пономарёва.
      p В&nbsp;приветственной речи Юлия Александровна поблагодарила партнёров мероприятия в&nbsp;регионе&nbsp;&mdash; Министерство образования и&nbsp;науки Чеченской Республики, Республиканский комплекс общего и&nbsp;дополнительного образования &laquo;Квант&raquo;, Региональный Общественный фонд имени героя России Ахмата Кадырова.
      p Юлия Пономарёва отметила важность совещаний такого рода, которые призваны аккумулировать опыт, наработки и&nbsp;пути решения проблем, с&nbsp;которыми сталкиваются Центры &laquo;IT-куб&raquo; в&nbsp;различных федеральных округах.
      p В&nbsp;ходе пленарного заседания эксперты ФГАНУ&nbsp;&laquo;ФИЦТО&raquo; обсудили с&nbsp;участниками совещания основные направления развития Центров &laquo;IT-куб&raquo;. Директор Центра реализации проектов и&nbsp;научной деятельности ФГАНУ&nbsp;&laquo;ФИЦТО&raquo; Алексей Шумилов в&nbsp;своём выступлении подробно рассказал о&nbsp;календаре мероприятий федерального оператора. Заместитель директора ФГАНУ&nbsp;&laquo;ФИЦТО&raquo; Андрей Николаевич Гамула посвятил своё выступление процессу вовлечения образовательных организаций ДНР, ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;деятельность Центров цифрового образования детей &laquo;IT-куб&raquo;.
      p Темой выступления начальника Управления реализации проектов ФГАНУ &laquo;ФИЦТО&raquo; Наталии Минасян стала подготовка к&nbsp;запуску выставки достижений обучающихся Центров &laquo;IT-куб&raquo;. Со&nbsp;своей стороны начальник отдела проектного и&nbsp;информационного сопровождения Управления реализации проектов ФГАНУ&nbsp;&laquo;ФИЦТО&raquo; Татьяна Якубович сделала акцент на&nbsp;выполнении показателей функционирования Центров &laquo;IT-куб&raquo;.
      p Программа первого дня работы совещания также включает в&nbsp;себя практико&ndash;ориентированную сессию и&nbsp;серию мастер-классов от&nbsp;призёров Всероссийского конкурса педагогов центров &laquo;IT-куб&raquo; и&nbsp;технологических партнёров.
      p Во&nbsp;второй день совещания будут проведены научно&ndash;практический семинар &laquo;Региональное образование: современное состояние и&nbsp;цифровое завтра&raquo; и&nbsp;круглый стол &laquo;IT: соперничество или&nbsp;сотрудничество?&raquo;.
      p Подробную информацию о&nbsp;мероприятии можно узнать на&nbsp;официальном сайте Центров &laquo;IT-куб&raquo;:
         a( href='https://it-cube.ficto.ru/meetings.html' target='_blank' title='it-cube.ficto.ru/meetings').hover https://it-cube.ficto.ru/meetings.html

      strong Справочно
      p Первое окружное совещание &laquo;Поиск решений&raquo; прошло 30&nbsp;марта 2024&nbsp;года в&nbsp;Санкт-Петербурге в&nbsp;рамках Всероссийского форума &laquo;Цифровой мир в&nbsp;жизни общества&raquo; (29–31&nbsp;марта 2024&nbsp;г.). В&nbsp;нём приняли участие Центры &laquo;IT-куб&raquo; Северо-Западного и&nbsp;Центрального округов.

      p Следующее окружное совещание запланировано на&nbsp;14–15&nbsp;июня 2024&nbsp;года в&nbsp;Красноярске. В&nbsp;нём примут участие руководители Центров &laquo;IT-куб&raquo; Сибирского, Уральского и&nbsp;Дальневосточного федеральных округов.
      p Наиболее важные вопросы со&nbsp;всех окружных совещаний будет вынесены на&nbsp;II&nbsp;Всероссийский съезд руководителей центров &laquo;IT-куб&raquo; &laquo;Как Управлять Будущим&raquo;, который пройдёт 20–21&nbsp;августа 2024&nbsp;г. в&nbsp;Челябинске.
