article.news_one__article#news_20-02-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Школьники Тульской и&nbsp;Херсонской областей приняли участие в&nbsp;шахматном турнире
   +image-26( '02.20', '1', 'mb4', '© Центр «IT-куб.Болохово»')
   .text-22
      p В преддверии Дня защитника Отечества на&nbsp;площадке Центра цифрового образования «IT-Куб.Болохово» (Тульская область) состоялся дистанционный шахматный турнир «ОДИН против ТРЁХ», объединивших юных спортсменов из&nbsp;Тульской и&nbsp;Херсонской областей. Мероприятие прошло в&nbsp;формате телемоста, участие в&nbsp;котором приняли учащиеся Центра «IT-Куб.Болохово» и&nbsp;ГБОУ Херсонской области «Геническая школа №1». Турнир проведён в&nbsp;рамках реализации проекта «Цифровое наставничество».
      p.mb4 Встреча была организована в&nbsp;формате сеанса одновременной игры: юному шахматисту из&nbsp;Болохово предстояло одновременно вести три партии с&nbsp;сильнейшими игроками из&nbsp;Геническа. Таким образом, один участник противостоял трём соперникам, что потребовало от&nbsp;него предельной концентрации внимания, распределения интеллектуальных ресурсов и&nbsp;способности удерживать в&nbsp;голове несколько игровых стратегий.

      +image-26( '02.20', '2', 'mb4', '© Центр «IT-куб.Болохово»')

      p
         b Педагог дополнительного образования Центра «IT-Куб.Болохово» Владимир Безруков
         | , комментируя итоги встречи, отметил высокую нагрузку и&nbsp;значимость подобного опыта для участников:

      p.mb4.quote Формат «ОДИН против ТРЁХ»&nbsp;— это колоссальная нагрузка на&nbsp;интеллект и&nbsp;проверка на&nbsp;стрессоустойчивость. Для ребят из&nbsp;Геническа эта победа стала подтверждением их мастерства, а&nbsp;для нашего сеансёра&nbsp;— бесценным уроком и&nbsp;проверкой на прочность. Подобные встречи укрепляют дружеские связи между нашими регионами

      p
         b Заведующий Центром «IT-Куб.Болохово» Лариса Марейчева
         |  подчеркнула прикладное значение шахматного образования:

      p.mb4.quote Мы увидели блестящую игру! Этот опыт поможет ребятам уверенно чувствовать себя не&nbsp;только в&nbsp;спорте, но&nbsp;и&nbsp;в&nbsp;будущей профессиональной жизни в&nbsp;сфере IT, где умение анализировать и&nbsp;быстро принимать решения ценится превыше всего

      p
         b Учитель информатики Генической школы №1 Херсонской области Никита Якушев
         |  также обратил внимание на&nbsp;связь шахмат и&nbsp;IT-дисциплин:

      p.mb4.quote Как учитель информатики, я вижу в&nbsp;шахматах идеальный тренажер для будущего программиста. Каждая партия&nbsp;— это алгоритм, каждый ход&nbsp;— это строчка кода, ведущая к&nbsp;решению задачи. Сегодня наши ребята из&nbsp;Геническа показали, что умеют выстраивать безупречные логические цепочки, и&nbsp;я&nbsp;искренне горжусь их победой в&nbsp;этом непростом поединке

      p По завершении официальной части турнира участники обменялись виртуальными рукопожатиями, подтвердив готовность к&nbsp;дальнейшему сотрудничеству и&nbsp;новым встречам за&nbsp;шахматной доской.

      .italic
         p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года.
         p К проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также Центры «IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p ФГАНУ «ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В&nbsp;рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 №&nbsp;АБ-1339/02).
