article.news_one__article#news_08-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 &laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Княгинино&raquo; и&nbsp;ГБОУДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.08/0.webp' )
   .text-22
      p ФГАНУ «ФИЦТО» продолжает делиться итогами сотрудничества Центров цифрового образования детей «IT-куб» с образовательными организациями воссоединённых территорий России за 2024/25 учебный год. В этой статье мы рассказываем о результатах работы команды Центра цифрового образования детей «IT-куб. Княгинино» (Нижегородская область), оказавшей поддержку по внедрению новых технологий в образовательный процесс ГБОУДО «Центр технического творчества» — «Кванториум» (Донецкая Народная Республика).
      .italic
         p Сотрудничество княгининского Центра «IT-куб» и донецкого «Кванториума» стало возможным благодаря проекту «Цифровое наставничество», запущенному ФГАНУ «ФИЦТО» для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и Луганской Народной Республики (ЛНР), Запорожской и Херсонской областей в цифровое образовательное пространство России.
         p Первое трёхстороннее соглашение в рамках проекта было подписано 31 мая 2024 года. В настоящее время к проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и Херсонской области, а также центры «IT-куб» Липецкой, Нижегородской, Тульской областей и Удмуртской Республики.

      p За 2024/25 учебный год в рамках «Цифрового наставничества» между учебными заведениями была выстроена стабильная коммуникация. Сотрудники Центра «IT-куб. Княгинино» и ГБОУДО «Центр технического творчества» — «Кванториум» определили зоны поддержки и успешно реализовали содержательные инициативы в течение всего учебного года.
      p Заместитель директора ФИЦТО Андрей Гамула отметил, что подписание трёхстороннего соглашения между ФИЦТО, «IT-куб. Княгинино» и ГБОУДО «ЦТТ — «Кванториум» Донецкой Народной Республики в июне прошлого года стало отправной точкой совместного сотрудничества.
      p.quote «Важнейшим результатом данного проекта считаю создание единой цифровой среды. Это и есть реальная интеграция, когда стираются географические границы, а у детей и педагогов появляется общее образовательное и профессиональное пространство», — подчеркнул он.

      p В рамках проекта в течение прошлого учебного года был реализован комплекс мероприятий, направленных на демонстрацию эффективного опыта реализации образовательных программ и обмен опытом для сотрудников образовательных организаций.
      p.mb4 В ходе ментор-сессий проходили интенсивы, разработанные специалистами «IT-куб. Княгинино». Они были направлены на обмен опытом и лучшими практиками в рамках деятельности Центров различных российских регионов. В рамках этих мероприятий представители «IT-куб. Княгинино» поделились опытом учебно-методического обеспечения и организации сетевой деятельности с ГБОУДО «ЦТТ — «Кванториум» Донецкой Народной Республики.

      img.mb4( src='./assets/data/images/news/2025/09.08/1.webp' )

      p В декабре 2024 года «IT-куб. Княгинино» совместно с донецким «Кванториумом» провели областные соревнования «IT-ГТО». Для педагогов это стало примером того, как наставничество работает на практике. А для школьников появилась возможность проверить себя в цифровых компетенциях: примерить на себя роль программистов и дешифровальщиков, организовать профессиональную фотозону, заняться 3D-моделированием и робототехникой. Также участники смогли управлять квадрокоптерами, роботами-манипуляторами, занимались цифровизацией и даже пробовали свои силы в виртуальной реальности.
      p В первой половине 2025 года были проведены соревнования по робототехнике «Lego вперёд» и Молодёжный технический фестиваль «ИТ-диалог. Твоё цифровое будущее» с применением дистанционных технологий, что позволило поделиться современными наработками и передовым опытом.
      p.mb4 Соревнования по робототехнике «Lego вперёд» были ориентированы на развитие у обучающихся знаний и практических навыков в сфере роботостроения. Участники собирали и программировали робототехнические механизмы, которые должны были выполнить определённый набор действий на специальных полях.

      img.mb4( src='./assets/data/images/news/2025/09.08/2.webp' )

      p.mb4 А молодёжный технический фестиваль «ИТ-диалог. Твоё цифровое будущее» способствовал популяризации IT-образования, ориентации на выбор будущей профессии и снижению дефицита кадров в сфере информационных технологий.

      img.mb4( src='./assets/data/images/news/2025/09.08/3.webp' )

      p.mb1
         b Начальник Центра цифрового образования детей «IT-куб. Княгинино» Владимир Косолапов:
      p.quote Особая ценность подобных мероприятий в том, что они способствуют объединению: дети получают новые знания и навыки в области программирования, робототехники, 3D-моделирования и инженерных профессий, а наставники — возможность делиться опытом и видеть живой интерес ребят. Мы видим, что у участников формируются не только ИТ-навыки, но и командное взаимодействие, уверенность в себе и желание учиться дальше.

      p.mb4.quote «В дальнейшем мы хотим развивать такие инициативы: расширять спектр мероприятий, вовлекать новых партнёров и делать наставничество не разовой акцией, а устойчивой системой. Это наш вклад в подготовку будущих специалистов для цифровой экономики России и в укрепление связей между регионами», — добавил Владимир Косолапов.

      img.mb4( src='./assets/data/images/news/2025/09.08/4.webp' )

      .italic
         strong Справочно
         p В период реализации национального проекта «Образование» в соответствии с Методическими рекомендациями по созданию и функционированию Центров «IT-куб», направленными письмом Министерства просвещения Российской Федерации от 29.03.2023 № АБ-1339/02, ФГАНУ «ФИЦТО» было определено федеральным оператором, осуществляющим организационно-методическое и информационное сопровождение функционирования Центров «IT-куб» в субъектах Российской Федерации.
         p Центр цифрового образования детей «IT-куб. Княгинино» создан в форме структурного подразделения государственного бюджетного общеобразовательного учреждения высшего образования Нижегородского государственного инженерно-экономического университета.


