article.news_one__article#news_24-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанники Центра &laquo;IT-куб&raquo; в&nbsp;Смоленске &laquo;взломали&raquo; код успеха на международном IT-форуме
   +image( '10.24', '0', 'mb4', '© IT-куб. Смоленск')
   .text-22
      .italic
         p В Смоленске завершился международный IT-форум &laquo;Свой код&raquo;, который собрал более 1500 участников из России и&nbsp;зарубежных стран, таких как Беларусь, Кыргызстан, Узбекистан, Камерун и&nbsp;Египет. Мероприятие организовано Министерством цифрового развития России, Правительством Смоленской области и&nbsp;АНО &laquo;Лаборатория Цифровой Трансформации&raquo;.

      p Ученики Центра цифрового образования &laquo;IT-куб. Смоленск&raquo; показали блестящие результаты, заняв призовые места в&nbsp;хакатоне и&nbsp;чемпионатепо&nbsp;программированию. Ребята не&nbsp;просто участвовалив&nbsp;ключевых событиях программы&nbsp;&mdash; хакатоне Smolathon и&nbsp;Чемпионатепо&nbsp;алгоритмическому программированию&nbsp;&mdash; а уверенно заявили о&nbsp;себе, получив ряд основных наград.

      p.mb4 Под руководством наставников Дмитрия Антонова и&nbsp;Татьяны Кудрявцевой команды Центра добились впечатляющих результатов. Так, команда &laquo;Патиссоны&raquo; (Алексей Базин, Сергей Ворожейкин, Никита Евсеев, Савелий Степченков и&nbsp;Денис Шумилов) завоевала второе местов&nbsp;хакатоне, получив сертификат на 150 тысяч рублей.

      +image( '10.24', '1', 'mb4', '© IT-куб. Смоленск')

      p.mb4 Команда &laquo;Фисташечки&raquo; (Александр Андросенко, Алексей Лесничий, Елена Маслова и&nbsp;Константин Сизов) была отмечена специальным призом жюрив&nbsp;размере 50 тысяч рублей.

      +image( '10.24', '2', 'mb4', '© IT-куб. Смоленск')

      p Но на этом успехи &laquo;кубовцев&raquo; не&nbsp;закончились. В индивидуальном чемпионатепо&nbsp;алгоритмическому программированию они и&nbsp;вовсе заняли все призовые места: первое место у Вадима Блинова, второе&nbsp;&mdash; у Маргариты Кондратьевой, третье&nbsp;&mdash; у Артёма Нурмухамедов.

      p.mb4 За внешними результатами стоит серьёзная работа и&nbsp;комплекс навыков, которые ребята приобрелив&nbsp;Центре. Как отметил наставник смоленского Центра &laquo;IT-куб&raquo; Дмитрий Антонов, командам на хакатоне пришлось решать сложнейшую прикладную задачу для &laquo;Центра организации дорожного движения&raquo; Смоленской области.

      +image( '10.24', '3', 'mb4', '© IT-куб. Смоленск')

      p.mb4.quote Задача требовала не&nbsp;только глубокого знания технологий программирования, но и&nbsp;умения разобраться в&nbsp;поставленной проблеме и&nbsp;применить необходимый математический аппарат,&nbsp;&mdash;
         b подчёркивает Антонов
         | .&nbsp;&mdash; Ограниченность во времени, умение работатьв&nbsp;команде, понимать друг друга с&nbsp;полуслова, способность выбрать только важное&nbsp;&mdash; вот слагаемые успеха. Ребята создали наиболее целостное и&nbsp;убедительное решение, грамотно объединив технологию, дизайн, бизнес-логику и&nbsp;эффектную подачу.

      p Наставник добавил, что призовые места заняли ребята, показавшие глубокие знанияв&nbsp;математике и&nbsp;информатике, высочайшую концентрацию и&nbsp;скорость мышления.

      p.quote Центр цифрового образования &laquo;IT-куб&raquo; в&nbsp;Смоленске проявил себя как высокоэффективная и&nbsp;современная площадка,&nbsp;&mdash;
         b  отмечает Дмитрий Антонов
         | .&nbsp;&mdash; Инфраструктура Центра &laquo;IT-куб&raquo;, оснащённаяпо&nbsp;последнему слову техники, и&nbsp;слаженная работа нашей команды создали идеальные условия для продуктивного обучения. Безупречная организация, техническое обеспечение и&nbsp;атмосфера, заряженная на результат,&nbsp;&mdash; вот те кирпичики, из которых сложился общий успех наших ребят.

      .italic
         strong Справочно
         p ФГАНУ &laquo;ФИЦТО&raquo; находитсяв&nbsp;ведении Минпросвещения России. В рамках национального проекта &laquo;Образование&raquo; институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение центров &laquo;IT-куб&raquo;в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02).
