article.news_one__article#news_20-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанники Центров «IT-куб» Амурской области показали выдающийся результат на&nbsp;чемпионате по&nbsp;подводно-исследовательскому спорту «IFURS-Благовещенск»
   +image-26( '01.20', '0', 'mb4', '© Центр «IT-куб. Благовещенск»')
   .text-22

      p Столица Приамурья впервые стала площадкой для чемпионата по&nbsp;подводно-исследовательскому спорту IFURS. Соревнования состоялись на&nbsp;базе МАОУ «Школа №16 города Благовещенска имени Героя Советского Союза лётчика-космонавта А.А.&nbsp;Леонова». Состязания проводились под патронажем «Океаники»&nbsp;&mdash; образовательный проект в&nbsp;области подводной робототехники для детей и&nbsp;взрослых.
      p Чемпионат собрал около 100 участников из&nbsp;разных городов России, а&nbsp;также Китая и&nbsp;Нигерии. Команды амурских Центров цифрового образования «IT-куб» не&nbsp;просто участвовали, а&nbsp;вошли в&nbsp;число сильнейших.
      p Пилоты подводных болидов состязались в&nbsp;трёх спортивных дисциплинах и&nbsp;четырёх возрастных категориях. Задача состояла в&nbsp;том, чтобы дроны прошли трассы разной степени сложности за&nbsp;минимальное время.

      p.mb4.quote «В первую очередь, ребята должны показать мастерство управления. Например, чтобы робот обогнул буй и&nbsp;не&nbsp;запутался, прошёл вдоль бортиков бассейна и&nbsp;не&nbsp;коснулся их. Робот-манипулятор взял клешнями кубик и&nbsp;переложил с&nbsp;одного места на&nbsp;другое, либо корпусом толкал какой-то груз. Важно уметь управлять джойстиком, это не&nbsp;так просто, как кажется»,&nbsp;&mdash; рассказывает
         b  организатор соревнований в&nbsp;столице Приамурья, педагог дополнительного образования школы №16 Евгения Дементьева
         | .


      p.mb4 Город Белогорск представили воспитанники Центра «IT-куб. Белогорск» Дмитрий Серёжин и&nbsp;Александр Черей. По&nbsp;итогам упорной двухдневной борьбы с&nbsp;достойными соперниками Дмитрий Серёжин занял 1 место, Александр Черей&nbsp;&mdash; 2 место в&nbsp;возрастной категории 12–14&nbsp;лет в&nbsp;дисциплине «Подводный ниндзя». Дмитрий получил право представить регион в&nbsp;финале чемпионата в&nbsp;Санкт-Петербурге.

      +image-26( '01.20', '1', 'mb4', '© Центр «IT-куб. Белогорск»')

      p.mb4.quote «Наши ребята принимали участие в&nbsp;соревнованиях по&nbsp;подводно‑исследовательскому спорту впервые, после однодневной, можно сказать, подготовки в&nbsp;этом специфическом направлении робототехники, и&nbsp;их достижение тем более вызывает чувство гордости»,&nbsp;&mdash; говорит
         b  руководитель Центра «IT-куб. Белогорск» Елена Енишевская
         | .

      p.mb4 Из Тынды за&nbsp;победу боролись воспитанники Центра «IT-куб. Тында»
         b  Алексей Проноза
         | ,
         b  Максим Хвалевко
         |  и&nbsp;
         b Алексей Тучин
         |  (возрастная категория 9–11 лет), а&nbsp;также
         b  Егор Гуриценко
         |  (возрастная категория 12–14 лет). В&nbsp;их копилке два призовых места: у&nbsp;Алексея Пронозы&nbsp;&mdash; 2 место, у&nbsp;Алексея Тучина&nbsp;&mdash; 3 место.

      +image-26( '01.20', '2', 'mb4', '© Центр «IT-куб. Тында»')

      p.mb4 От Благовещенского Центра «IT-куб» выступали
         b  Александр Павлюк
         |  и&nbsp;
         b Данил Зеленский
         |  (возрастная категория 9–11&nbsp;лет), а&nbsp;также
         b  Иван Дегтеренко
         |  (возрастная категория 12–14&nbsp;лет) под руководством
         b  наставника Александра Стародубца
         | . Александр Павлюк занял пятое место в&nbsp;«Кольцевых гонках».

      +image-26( '01.20', '3', 'mb4', '© Центр «IT-куб. Благовещенск»')

      p.mb4.quote «Ребята показали хороший результат. Они получили не&nbsp;только полезный опыт, но&nbsp;и&nbsp;ценные навыки по&nbsp;управлению подводными дронами. Также увидели, насколько широко можно применять эти механизмы в&nbsp;жизни. Такие роботы помогают изучать морское и&nbsp;речное дно, их используют для осмотра кораблей в&nbsp;воде, они помогают в&nbsp;разведке полезных ископаемых под водой, в&nbsp;археологических подводных исследованиях. Соревнования&nbsp;&mdash; важный шаг для развития интереса к&nbsp;этой сфере и&nbsp;хорошая профориентация»,&nbsp;&mdash; уверен
         b  Александр Стародубец, педагог центра «IT-куб» в&nbsp;Благовещенске по&nbsp;направлению «IT-инженерия»
         | .

      p Чемпионат IFURS-Благовещенск стал не&nbsp;просто испытанием навыков, а&nbsp;ярким событием, которое расширило горизонты для юных пилотов Приамурья, открыв им дверь в&nbsp;мир высокотехнологичных подводных исследований.

      p.italic Напомним, Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
