article.news_one__article#news_04-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb4 В Минпросвещения России открылась выставка достижений обучающихся центров &laquo;IT-куб&raquo;
   img( src='../assets/data/images/news/2024/04.09/1.webp' ).mb4
   .text-22
      p В здании Министерства просвещения Российской Федерации расположилась экспозиция выставки &laquo;Цифровое поколение&nbsp;&mdash; Наше будущее&raquo;, посвящённая достижениям обучающихся центров цифрового образования детей &laquo;IT-куб&raquo;, а&nbsp;также их педагогам&ndash;наставникам.
      p На инсталляции из кубических стендов собраны 26 рассказов о&nbsp;проектах ребят и&nbsp;педагогов из центров &laquo;IT-куб&raquo; различных регионов России.

      .news_img__slider.mt3.mb4
         img( src='../assets/data/images/news/2024/04.09/2.webp' )
         img( src='../assets/data/images/news/2024/04.09/3.webp' )

      p Выставка знакомит с&nbsp;проектами юных программистов и&nbsp;разработчиков, например, с&nbsp;мобильным приложением для контроля микроклимата промышленных теплиц, чат-ботом доверия для&nbsp;улучшения условий труда, AI-системой для&nbsp;анализа медицинских снимков.
      p Виртуальная версия экспозиции доступна в&nbsp;
         a( href='https://it-cube.ficto.ru/digital_generation.html' target='_blank'  aria-label='открыть в новой вкладке страницу на сайте IT-cube' title='it-cube.ficto.ru/digital_generation') специальном разделе сайта сети центров &laquo;IT-куб&raquo;
         | .
