article.news_one__article#news_24-11-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Финал республиканского хакатона «Pro_СПО.18» объединил более 600&nbsp;юных разработчиков в&nbsp;Удмуртии
   +image( '11.24', '0', 'mb4', '© IT-куб. Сарапул')
   .text-22
      .mb4.italic
         p В Центре цифрового образования &laquo;IT-куб&raquo; на базе Сарапульского техникума машиностроения и&nbsp;информационных технологий завершился республиканский Хакатонпо&nbsp;разработке цифровых профориентационных продуктов &laquo;Pro_СПО.18&raquo;.

      p В хакатоне приняли участие более 600 школьников и&nbsp;их наставников из Удмуртии и&nbsp;Тюменской области. Мероприятие объединило учеников и&nbsp;педагогов для совместной разработки инновационных цифровых продуктов, которые помогут молодёжи осознанно выбрать будущую профессию.
      p В рамках торжественного открытия с&nbsp;приветственными словами выступила
         b  директор техникума Галина Лукоянова
         | . Она высоко оценила уровень организации мероприятия и&nbsp;отметила особую атмосферу творчества и&nbsp;позитива.

      p.mb4.quote &laquo;В процессе работы участники приобрели новые знания, умения, проявили креативное мышление, ораторские способности. На протяжении двух дней на площадках царили взаимопонимание, взаимопомощь и&nbsp;сотрудничество&raquo;,&nbsp;&mdash; добавила она.

      p.mb Республиканский хакатон &laquo;Pro_СПО.18&raquo; проходил в&nbsp;два этапа. В рамках заочного этапа участникам было необходимо зарегистрироваться и&nbsp;решить всей командой техническое заданиепо&nbsp;выбранному треку. В очном финале в&nbsp;течение ограниченного времени команды должны были разработать программный продукт для популяризации сведений о&nbsp;среднем профессиональном образовании Удмуртской Республики.

      +image( '11.24', '1', 'mb4', '© IT-куб. Сарапул')

      p В рамках заочного этапа команды соревновались в&nbsp;трёх треках: &laquo;Разработка профориентационного мультфильма в&nbsp;среде Scratch&raquo; (10-14 лет), &laquo;Мобильная разработка&raquo; (14-18 лет) и&nbsp;&laquo;VR-разработка&raquo; (14-18 лет).
      p В финал вышли 15 команд из Ижевска, Глазова, Сарапула и&nbsp;Тюмени. Ребята работали над проектами в&nbsp;трёх номинациях: &laquo;Создание виртуальных экскурсийпо&nbsp;колледжам Удмуртии&raquo;, &laquo;Разработка мобильных приложений об учебных заведениях СПО республики&raquo; и&nbsp;&laquo;Разработка мультфильма &laquo;Путешествиепо&nbsp;заводу &laquo;Элеконд&raquo;. Работы участников оценивало жюри из представителей социальных партнёров.
      p В рамках образовательной программы мероприятия юные разработчики приняли участие в&nbsp;экскурсиях на градообразующие предприятия Сарапула: АО &laquo;Сарапульский электрогенераторный завод&raquo; и&nbsp;АО &laquo;Элеконд&raquo;. Кроме того, для наставников команд был проведён мастер-класспо&nbsp;обучению алгоритмике и&nbsp;геймдизайну с&nbsp;помощью российского 3D-конструктора &laquo;Блоксели&raquo;.
      p Интерактивный формат мероприятия предусматривал и&nbsp;разминку&nbsp;&mdash; физкультурная пауза помогла участникам зарядиться энергией и&nbsp;сохранить продуктивность. Сочетание профессиональных навыков, мотивации и&nbsp;командной работы создало на хакатоне уникальную творческую атмосферу.

      p.mb2
         b Заместитель директорапо&nbsp;дополнительному образованию Сарапульского техникума машиностроения и&nbsp;информационных технологий, руководитель Центра цифрового образования детей &laquo;IT-куб&raquo; г. Сарапула Светлана Волкова:
      p.quote Для нас важно, чтобы IT-образование было не&nbsp;теоретическим, а прикладным. Хакатон показал эффективность решения школьниками реальных кейсов от&nbsp;промышленных предприятий Сарапула. Это позволяет выявить талантливых ребят, мотивирует их более глубоко изучать программирование и&nbsp;видеть перспективы работы в&nbsp;родном регионе.


   .italic
      p Организатор Хакатонапо&nbsp;разработке цифровых профориентационных продуктов &laquo;Pro_СПО.18&raquo;&nbsp;&mdash; Центр цифрового образования детей &laquo;IT-куб&raquo; г. Сарапула на базе бюджетного профессионального образовательного учреждения Удмуртской Республики &laquo;Сарапульский техникум машиностроения и&nbsp;информационных технологий&raquo; при государственного поддержке Общероссийского общественно движения детей и&nbsp;молодёжи &laquo;Движение первых&raquo;, Министерства образования и&nbsp;науки Удмуртской Республики.
      p Центры цифрового образования детей &laquo;IT-куб&raquo; были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo; при поддержке Министерства просвещения Российской Федерации.




