article.news_one__article#news_17-11-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Шахматный турнир объединил школьников Тульской и&nbsp;Херсонской областей
   +image( '11.17', '0', 'mb4', '© Центр «IT-куб. Болохово»')
   .text-22
      .mb4.italic
         p Воспитанники Центра цифрового образования детей &laquo;IT-куб. Болохово» (Тульская область) и&nbsp;учащиеся Генической школы №1 из Херсонской области приняли участие в&nbsp;шахматном онлайн-турнире в&nbsp;рамках проекта &laquo;Цифровое наставничество».

      p В прямом эфире команды юных шахматистов обменялись приветствиями, продемонстрировав сплоченность и&nbsp;спортивный дух, что стало отличным началом соревнования. После напряжённой интеллектуальной борьбы победу одержала команда IT-куба. Однако, как отметили организаторы, главным итогом стало не&nbsp;распределение мест, а приобретенный опыт командной работы и&nbsp;взаимопонимания.
      p.mb4 Онлайн-турнир стал отличным дополнением к&nbsp;плодотворному сотрудничеству между Центром &laquo;IT-куб. Болохово» и&nbsp;херсонской школой, показав высокую эффективность цифрового формата взаимодействия между образовательными организациями различных регионов России.

      +image( '11.17', '1', 'mb4', '© Центр «IT-куб. Болохово»')

      p.mb2
         b Заведующий Центром &laquo;IT-Куб.Болохово» Лариса Марейчева
         |  поделилась своим мнением о&nbsp;прошедшем турнире:
      p.mb4.quote Для нас такие встречи&nbsp;&mdash; это не&nbsp;просто турниры, а настоящие мосты дружбы. Когда ребята из разных регионов вместе играют, общаются, поддерживают друг друга&nbsp;&mdash; это и&nbsp;есть та самая живая интеграция, которая объединяет страну. Мы видим, как загораются глаза у детей, как появляется общий интерес. Шахматы отлично показывают, что мы можем быть одной командой.

      p Напоминаем, что соглашение, заложившее основы сотрудничества двух образовательных организаций, было заключено 19 сентября 2024 года в&nbsp;рамках проекта &laquo;Цифровое наставничество». Его подписали ФГАНУ &laquo;ФИЦТО», Геническая школа №1 (Херсонская область) и&nbsp;Болоховский машиностроительный техникум (Тульская область), на базе которого действует Центр &laquo;IT-куб» города Болохово.
      p За минувший год в&nbsp;рамках сотрудничества был проведён комплекс мероприятий, включающий онлайн-консультации и&nbsp;мастер-классыпо&nbsp;робототехнике, выбору оборудования и&nbsp;цифровых платформ, а также разработку методических материалов с&nbsp;практическими примерами AR-проектов и&nbsp;веб-приложений, разработанных Центром. В новом учебном году сотрудничество двух организаций продолжается.

      .italic
         strong Справочно
         p Проект &laquo;Цифровое наставничество» был запущен ФГАНУ &laquo;ФИЦТО» в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31 мая 2024 года.
         p К проекту &laquo;Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а также Центры &laquo;IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p ФГАНУ &laquo;ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В рамках национального проекта &laquo;Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров &laquo;IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02).
