article.news_one__article#news_12-10-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Новые звёзды IT: объявлены победители II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2024/10.12/1.webp' )

   .text-22
      p Завершился II Всероссийский хакатон «Обучаюсь. Проектирую. Программирую. Будущее». В течение трёх дней, с 9 по 11 октября, за звание лучших соревновались 30 команд юных программистов из центров цифрового образования детей «IT-куб» 23 российских регионов. Организатором мероприятия стал федеральный оператор сети центров «IT-куб» Федеральный институт цифровой трансформации в сфере образования (ФГАНУ «ФИЦТО») при поддержке Минпросвещения России.
      p.mb4 Восходящие звёзды цифровых технологий в возрасте 14–18 лет демонстрировали своё мастерство в решении реальных IT-задач, подготовленных технологическими партнёрами мероприятия — признанными игроками на российском рынке цифровых технологий.

      img.mb4( src='./assets/data/images/news/2024/10.12/2.webp' )

      p.mb4 Погружаясь в решение кейсов, ребята, не просто раскрывали свои возможности, а получали новые знания и совершенствовали навыки командной работы. Представители компаний-партнёров отметили высокий уровень подготовки участников и их способность применять знания для решения реальных задач.

      img.mb4( src='./assets/data/images/news/2024/10.12/3.webp' )

      p Кульминацией борьбы стала защита командных проектов, по итогам которой были объявлены победители во всех направлениях хакатона.

      p.ml1.mb2
         b Направление «Программирование» (технологические партнёры — ТБанк и Центральный университет)
         .ml2.mb1
            p.news_point
               b 1 место:
               |  команда Смоленской области
            p.news_point
               b 2 место:
               |  команда Удмуртской Республики
            p.news_point
               b 3 место:
               |  команда Новосибирской области
            p.news_point.mb1
               b Специальная номинация «Прорыв года»:
               |  команда Донецкой Народной Республики
         p.ml2
            b Задание:
            |  разработка приложения для подсчёта удовлетворённости клиентов по различным товарам или услугам.


      p.ml1.mb2
         b Направление «VR-разработка» (технологический партнёр — Varwin)
         .ml2.mb1
            p.news_point
               b 1 место:
               |  команда Приморского края
            p.news_point
               b 2 место:
               |  команда Свердловской области
            p.news_point
               b 3 место:
               |  команда Оренбургской области

         p.ml2
            b Задание:
            |  создание виртуального тура по производственной площадке Уральского завода гражданской авиации с использованием интерактивных и игровых элементов.


      p.ml1.mb2
         b Направление «Кибергигиена» (технологический партнёр — КИБЕРПРОТЕКТ)
         .ml2.mb1
            p.news_point
               b 1 место:
               |  команда Забайкальского края
            p.news_point
               b 2 место:
               |  команда Новосибирской области
            p.news_point
               b 3 место:
               |  команда Ставропольского края
         p.ml2
            b Задание:
            |  создание чат-бота по цифровой гигиене «Кибербезопасный Новый год», предназначенного для повышения уровня осведомлённости пользователей и помощи в усилении безопасности существующих аккаунтов и чувствительных данных.


      p.mb4 Победители II Всероссийского хакатона «Обучаюсь. Проектирую. Программирую. Будущее» были награждены дипломами и ценными призами, а также получили приглашение на стажировку в компанию, курировавшую каждое из направлений. Призёры хакатона, занявшие 2 и 3 места, получили дипломы, призы от организаторов и награды от технологических партнёров.

      img.mb4( src='./assets/data/images/news/2024/10.12/4.webp' )

      p.mb4 Приятным сюрпризом для победителей хакатона стала дополнительная награда – путёвка в международный детский центр «Артек». Отметим, что руководитель Центра дополнительного образования и детского творчества МДЦ «Артек» Диана Кадырова была одним из экспертов состязания и активно участвовала в оценке проектов команд-участников.

      img.mb4( src='./assets/data/images/news/2024/10.12/5.webp' )

      p На церемонии закрытия мероприятия заместитель министра образования и науки Нижегородской области Любовь Широкова поблагодарила юных участников, наставников команд, организаторов и партнёров мероприятия, подчеркнув важность совместной работы для формирования востребованных компетенций и будущего нашей страны.
      p Слова благодарности юным участникам хакатона произнесла первый заместитель директора ФГАНУ «ФИЦТО» Юлия Пономарёва. Она призвала ребят запомнить опыт, полученный ими во время мероприятия, и хранить в душе радость победы.
      p Особо отметили организаторы мероприятия команду Донецкой Народной Республики по направлению «Программирование». Ребята были награждены путёвками в «Артек» в рамках номинации «Прорыв года». Заместитель директора ФГАНУ «ФИЦТО» Андрей Гамула подчеркнул, что донецкие школьники смогла достойно выступить на хакатоне, хотя в республике пока нет своего центра «IT-куб».

      img.mb4( src='./assets/data/images/news/2024/10.12/6.webp' )

      p Участие в мероприятии учащихся из ДНР стало возможно благодаря проекту «Цифровое наставничество». Он запущен ФГАНУ «ФИЦТО» для ускоренной интеграции образовательных организаций ДНР, ЛНР, Запорожской и Херсонской областей в цифровое образовательное пространство России. Ребята прошли подготовку с помощью центра «IT-куб» Княгинино (Нижегородская область) и подтвердили успешность такого сотрудничества.
      p Три дня работы хакатона пролетели незаметно. Организаторы мероприятия обеспечили ребятам отличную возможность снять напряжение и зарядиться энергией. В перерывах хакатона проходила зажигательная игра-разминка «Спорт в кубе». Юные программисты быстро прониклись спортивным азартом и с удовольствием выполняли упражнения. Победители соревнований получили заслуженные награды.

      img.mb4( src='./assets/data/images/news/2024/10.12/7.webp' )

      p Не были забыты и педагоги-наставники: для них проходили семинары и мастер-классы. А для закреплений навыков по кибербезопасности у детей и взрослых компания «КИБЕРПРОТЕКТ» провела познавательный квиз. И, конечно, участников хакатона познакомили с достопримечательностями Нижнего Новгорода. Во время экскурсии учащиеся и педагоги прошли познавательную викторину по истории города с помощью мобильного приложения «Игра первых» от разработчиков ФГАНУ «ФИЦТО».
      p II Всероссийский хакатон «Обучаюсь. Проектирую. Программирую. Будущее» подтвердил, что российская молодёжь готова к технологическим вызовам будущего, и продемонстрировал высокий уровень подготовки обучающихся центров «IT-куб».
