article.news_one__article#news_14-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Приближается старт Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;!
   +image( '10.14', '0', 'mb4', '')
   .text-22
      .italic
         p Уже завтра стартует Всероссийский онлайн-хакатон &laquo;Код доступа&raquo;, в&nbsp;котором примут участие обучающиеся Центров цифрового образования детей &laquo;IT-куб&raquo;.

      p Участников ждут три увлекательных дня в&nbsp;геймифицированном мобильном приложении с&nbsp;интересными заданиями и&nbsp;незабываемыми впечатлениями.

      .italic
         p Мероприятие продолжает традиции проведения Всероссийских хакатонов &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;, которое ФИЦТО проводил в&nbsp;2023/24&nbsp;гг. в&nbsp;качестве федерального оператора Сети Центров &laquo;IT-куб&raquo; при&nbsp;поддержке Министерства просвещения Российской Федерации.

      p.mb2 Мероприятие начнётся 15&nbsp;октября в&nbsp;13:00 и&nbsp;продлится до&nbsp;17&nbsp;октября 2025&nbsp;года в&nbsp;геймифицированном мобильном приложении ФИЦТО, которое можно скачать по&nbsp;ссылкам уже сейчас и&nbsp;ознакомиться с&nbsp;его интерфейсом:

      .ml2.mb3
         p.news_point Версия для&nbsp;
            a.hover( href='https://apps.apple.com/app/id6503953951' target='_blank') IOS
         p.news_point Версия для&nbsp;
            a.hover( href='https://www.rustore.ru/catalog/app/ru.dviz.gameoffirsts' target='_blank') Android

      p.mb2
         b Изучите инструкцию:

         p.mb1
            b 1.
            |  Ответы в&nbsp;заданиях по&nbsp;умолчанию пишутся с&nbsp;заглавной буквы и&nbsp;слитно. Там, где это обосновано результатами программирования, могут использоваться иные комбинации и&nbsp;варианты символов.
         p.mb1
            b 2.
            |  Внимательно смотрите тексты заданий и&nbsp;сверяйтесь с&nbsp;их формулировками.
         p.mb1
            b 3.
            |  В случае, если вы успешно прошли задания и&nbsp;успели обменять в&nbsp;мастерской движкоины на&nbsp;бронзовый, серебряный или золотой ключ, ОБЯЗАТЕЛЬНО напишите об&nbsp;этом на&nbsp;электронную почту
            a( href='mailto:d.dorfman@ficto.ru' target='_blank' ) d.dorfman@ficto.ru
            | , приложив скриншот.
         p.mb4
            b 4.
            |  Перед каждым этапом участникам хакатона, дошедшим до&nbsp;данного этапа, на&nbsp;электронные почты будет разослан пароль для доступа к&nbsp;заданиям.

      p По возникающим вопросам, пожалуйста, общайтесь с&nbsp;организаторами внутри группы Хакатона &laquo;ВКонтакте&raquo;.
      p Актуальная информация и&nbsp;новости также будут опубликованы на официальной странице мероприятия

      .italic
         p В&nbsp;презентации содержится информация о&nbsp;регистрации и&nbsp;входе в&nbsp;геймифицированное приложение ФИЦТО, а&nbsp;также о&nbsp;порядке выполнения заданий внутри приложения.
