article.news_one__article#news_26-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 ФИЦТО исполнит 16&nbsp;новогодних желаний детей из&nbsp;Тульской и&nbsp;Херсонской областей
   +image( '12.26', '0', 'mb4', 'фото ИИ')
   .text-22
      .mb4.italic
         p Команда Федерального института цифровой трансформации в&nbsp;сфере образования (ФИЦТО) присоединилась к&nbsp;духу всероссийской благотворительной акции «Ёлка желаний». Эта добрая традиция, заложенная Президентом России Владимиром Путиным в&nbsp;2018&nbsp;году, ежегодно объединяет государственных и&nbsp;общественных деятелей для того, чтобы подарить праздник и&nbsp;поддержку детям.

      p Следуя этой миссии, ФИЦТО в&nbsp;рамках проекта «Цифровое наставничество» совместно с&nbsp;Центром «IT-куб. Болохово» впервые организовал уникальную digital-акцию&nbsp;— «IT-Ёлка Желаний». Накануне праздника в Центре была запущена первая цифровая ёлка, на&nbsp;виртуальных ветвях которой дети оставляли свои заветные желания. В&nbsp;канун Нового года команда института сняла с&nbsp;неё несколько символических шариков, в&nbsp;которых оказались 16&nbsp;детских мечтаний. Теперь заветные подарки уже отправляются к&nbsp;своим юным мечтателям.
      p Теперь виртуальные шарики обрели имена и&nbsp;адреса. Подарки для этих замечательных ребят уже в&nbsp;пути:

      p.mt4.mb2 Юные IT-специалисты из Болохово (Тульская область):
      .ml2.mb3
         p.news_point 8-летняя Юлия Бабкина
         p.news_point 9-летний Руслан Булыга
         p.news_point 8-летняя Василиса Васильева
         p.news_point 9-летний Леонид Герасименко
         p.news_point 8-летний Владислав Зайцев
         p.news_point 8-летний Роман Ильин
         p.news_point 9-летняя Виктория Кильянова
         p.news_point 9-летний Максим Кузнецов
         p.news_point 10-летний Олег Шатов
         p.news_point 9-летний Ярослав Холин

      p.mb2 Ученики Генической школы (Херсонская область):
      .ml2.mb4
         p.news_point 9-летний Андрей Гречанюк
         p.news_point 9-летний Кирилл Попов
         p.news_point 9-летний Егор Жданов
         p.news_point 8-летняя София Зуева
         p.news_point 6-летняя Анна Свичкаренко
         p.news_point 8-летний Иван Мальцев

      p.mb4.quote «В этом году мы запустили нашу первую, уникальную цифровую «IT-Ёлку». И&nbsp;на&nbsp;неё попали желания в&nbsp;том числе и&nbsp;ребят из&nbsp;Генической школы Херсонской области. Команда ФИЦТО с&nbsp;радостью взяла эти виртуальные шары, чтобы исполнить их в&nbsp;реальности. Эта ёлка, как и&nbsp;та, что стоит у&nbsp;вас дома, обладает одним волшебным свойством&nbsp;— она исполняет мечты. Но она&nbsp;— особенная, она создана в&nbsp;цифре, чтобы объединять детей через расстояния. Под Новый год любая мечта, будь&nbsp;то наушники для Юлии из&nbsp;Болохово или умная колонка для Анны из&nbsp;Херсонской области, заслуживает того, чтобы сбыться. Особенно ценно, что наше первое цифровое чудо&nbsp;— это не&nbsp;просто подарок, а&nbsp;живая связь, часть большого проекта «Цифровое наставничество», который создаёт единое образовательное пространство для всех детей России»,&nbsp;—
         b  отметил заместитель директора ФГАНУ «ФИЦТО» Андрей Гамула
         | .

      p От лица всего учреждения сотрудники ФИЦТО передали детям искренние новогодние поздравления и&nbsp;наилучшие пожелания крепкого здоровья, благополучия и&nbsp;больших успехов в&nbsp;освоении цифровых технологий.
      p.mb4 В акции также приняли участие партнёры Центра «IT-Куб.Болохово», благодаря чему общее количество исполненных желаний увеличилось. Всего в&nbsp;рамках «IT-Ёлка Желаний» сбудутся мечты 26&nbsp;детей. К&nbsp;инициативе присоединились: ООО «Айтипелаг», ООО «Компания Бревис», Агентство SmartAgent&nbsp;— ИИ решения для бизнеса, ООО «Марс», компания «РобоТехник».

      p.mb4.quote «Участие наших бизнес-партнёров в&nbsp;таких инициативах&nbsp;— это важный вклад в&nbsp;развитие социальной ответственности и&nbsp;практическая поддержка будущих IT-специалистов. Вместе мы не&nbsp;просто дарим подарки, а&nbsp;показываем детям, что их увлечение технологиями ценится и&nbsp;поддерживается профессиональным сообществом»,&nbsp;—
         b  подчеркнула заведующий Центром «IT-Куб. Болохово» Лариса Марейчива
         | .

      p.mb4.quote «Акция «IT-Ёлка Желаний» стала ярким примером того, как технологии и&nbsp;добрые дела объединяются, чтобы создавать настоящее новогоднее чудо и&nbsp;дарить радость детям из&nbsp;разных уголков нашей страны»,&nbsp;—
         b  добавил Андрей Гамула
         | .

      p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года.К&nbsp;проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также Центры «IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики. ФГАНУ «ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В&nbsp;рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 №&nbsp;АБ-1339/02).
