article.news_one__article#news_03-02-2026_2
   .news_one__date.mb2.text-22
   h1.title.mb5 Хакатон «Код большой страны» в&nbsp;Смоленске посвятили единству народов России
   +image-26( '02.03-2', '1', 'mb4', '© Центр «IT-куб. Смоленск»')
   .text-22
      p.italic В смоленском Центре цифрового образования «IT-куб» прошёл юбилейный, пятый хакатон по&nbsp;программированию под&nbsp;символичным названием «Код большой страны». Тема выбрана не&nbsp;случайно&nbsp;— 2026&nbsp;год Указом Президента России Владимира Путина объявлен Годом единства народов России. Именно этой идеей были проникнуты все проекты молодых разработчиков в&nbsp;возрасте от&nbsp;13 до&nbsp;16&nbsp;лет.
      p В соревновании приняли участие шесть команд, каждая из&nbsp;которых работала под&nbsp;руководством опытных менторов&nbsp;— учеников и&nbsp;выпускников Центра IT-куб», имеющих большой опыт в&nbsp;межрегиональных и&nbsp;всероссийских состязаниях.
      p.quote «Каждый год мы выбираем тему, в&nbsp;стилистике которой оформляем мероприятие. В&nbsp;этом году стилистика и&nbsp;тематика основного задания связаны с&nbsp;тем, что 2026&nbsp;год является Годом единства народов России»,&nbsp;— пояснила
         b  Татьяна Кудрявцева, руководитель Центра «IT-куб. Смоленск»
         | .

      p Генеральным партнёром и&nbsp;автором конкурсного кейса выступил смоленский филиал оператора сотовой связи. Компания предложила участникам создать подарочное приложение для абонентов, связанное с&nbsp;культурным наследием народов России.
      p Всего за&nbsp;восемь часов напряжённой работы команды представили готовые проекты: сайты, мобильные приложения, чат-боты и&nbsp;игры, посвящённые культуре Чувашии, Башкирии, Ингушетии, Татарстана, Якутии и&nbsp;других регионов.

      p.mb4
         b Победителем 
         |  юбилейного хакатона стала команда
         b  «Крамбл Куки»
         | . Их проект&nbsp;— интерактивный сайт-гид по&nbsp;достопримечательностям Чувашской Республики.

      +image-26( '02.03-2', '2', 'mb4', '© Центр «IT-куб. Смоленск»')

      p.mb4.quote «Наш проект представляет собой сайт, разработанный для наших спонсоров. На&nbsp;нём представлено культурное наследие Чувашии: интерактивная карта с&nbsp;достопримечательностями, а&nbsp;также удобная информация о&nbsp;местоположении офисов оператора-партнёра. Кроме того, на&nbsp;сайте будет квиз, который генерируется с помощью нейронной сети, и&nbsp;различная информация о&nbsp;народе, памятниках и, в&nbsp;принципе, о&nbsp;республике»,&nbsp;— рассказала
         b  участница команды-победительницы, обучающая Центра «IT-куб. Смоленск» Алина Лунева
         | .

      +image-26( '02.03-2', '3', 'mb4', '© Центр «IT-куб. Смоленск»')

      p Особенность проекта&nbsp;— уникальный квиз с&nbsp;вопросами, который искусственный интеллект создает индивидуально для каждого пользователя, позволяя в&nbsp;игровой форме познакомиться с&nbsp;историей и&nbsp;традициями чувашского народа.
      p
         b Специальный приз 
         |  жюри получила команда
         b  «Бульба-Хак»
         | , разработавшая игру о&nbsp;традициях белорусского народа, живущего в&nbsp;России. Сюжет игры повествует о&nbsp;герое из&nbsp;Екатеринбурга, который путешествует по&nbsp;городам и&nbsp;узнаёт о&nbsp;культуре белорусов.
      p Хакатон в Центре «IT-куб. Смоленск»&nbsp;— это не&nbsp;просто конкурс, а&nbsp;важная ступень в&nbsp;профессиональном становлении юных программистов. Как отметила Татьяна Кудрявцева, это опыт командной работы, передача знаний от&nbsp;старших к&nbsp;младшим и&nbsp;возможность реализовать свежие идеи.


      p.mb4.quote «Мы видим, что именно эта площадка является стартовой, базовой для тех, кто движется дальше и&nbsp;успешно представляет и&nbsp;наш Центр, и&nbsp;себя, и&nbsp;наш регион на&nbsp;всероссийских и&nbsp;международных соревнованиях»,&nbsp;— подчеркнула
         b  Татьяна Кудрявцева
         | .

      +image-26( '02.03-2', '4', 'mb4', '© Центр «IT-куб. Смоленск»')

      p Пятый, юбилейный хакатон «Код большой страны» наглядно показал: цифровые технологии могут быть мощным инструментом для сохранения культурного кода нации и&nbsp;укрепления единства многонациональной России уже сегодня&nbsp;— через творчество и&nbsp;инновации подрастающего поколения.

      p.italic Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при&nbsp;поддержке Министерства просвещения Российской Федерации.

