article.news_one__article#news_19-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Воспитанники Центра «IT-куб. Уралмаш» взяли серебро и&nbsp;бронзу на&nbsp;чемпионате по&nbsp;подводной робототехнике
   +image-26( '01.19', '0', 'mb4', '© Центр «IT-куб. Уралмаш»')
   .text-22
      p Во Владимире прошёл чемпионат по подводно-исследовательскому спорту «IFURS-Владимир», собравший более 60&nbsp;школьников из&nbsp;Владимирской, Ленинградской и&nbsp;Свердловской областей, а&nbsp;также Москвы и&nbsp;Санкт-Петербурга.
      p.mb4 Воспитанники Центра «IT-куба. Уралмаш» (г.&nbsp;Екатеринбург) вернулись с&nbsp;наградами с&nbsp;чемпионата по&nbsp;подводной робототехнике «IFURS-Владимир». В&nbsp;борьбе с&nbsp;более чем 60&nbsp;участниками из разных регионов воспитанники Центра «IT-куб. Уралмаш» завоевали серебро и&nbsp;бронзу.

      +image-26( '01.19', '1', 'mb4', '© Центр «IT-куб. Уралмаш»')

      p.mb1 Чемпионат включал участников четырёх возрастных категорий и&nbsp;трёх спортивных дисциплин:
      .ml2.mb3
         p.news_point подводный болид&nbsp;&mdash; S5 Кольцевые гонки, 9-11&nbsp;лет
         p.news_point подводный болид&nbsp;&mdash; S4 Подводный ниндзя 12-14&nbsp;лет
         p.news_point подводный болид&nbsp;&mdash; S4 Эстафета 15-17&nbsp;лет
         p.news_point подводный болид&nbsp;&mdash; S5 Кольцевые гонки, 18+&nbsp;лет

      p.mb4 Команда «IT-куба» участвовала в личном первенстве «Подводный ниндзя» и&nbsp;командной эстафете. Дмитрий Таран и&nbsp;Егор Бобровский успели дебютировать на&nbsp;международном уровне&nbsp;&mdash; на&nbsp;чемпионате «IFURS-Минск» в&nbsp;ноябре. И&nbsp;именно этот опыт помог им&nbsp;блеснуть во&nbsp;Владимире. Егор показал лучший результат на&nbsp;трассе&nbsp;&mdash; всего 40 секунд против минуты и&nbsp;более у&nbsp;других участников. Дмитрий уверенно прошёл финальную дистанцию без ошибок и&nbsp;завоевал бронзовую медаль, получив ценные рейтинговые баллы.

      +image-26( '01.19', '2', 'mb4', '© Центр «IT-куб. Уралмаш»')

      p Команда «Кубовцы» в&nbsp;составе Григория Сидорова и&nbsp;Вероники Орловой произвела настоящий фурор в&nbsp;эстафете. Им удалось пройти сложную трассу&nbsp;&mdash; с&nbsp;туннелями, перемещением и&nbsp;сборкой предметов&nbsp;&mdash; всего за&nbsp;6 минут из&nbsp;отведённых 15. В&nbsp;финале ребята уступили всего секунду команде из&nbsp;Владимира, завоевав серебряные медали.

      p.mb4.quote Я была уверена, что мы будем первыми! И я, и&nbsp;Григорий учимся в&nbsp;«IT-кубе» управлять беспилотными аппаратами в&nbsp;воздухе и&nbsp;на&nbsp;земле. И&nbsp;этот опыт очень пригодился для работы под водой,&nbsp;&mdash; отметила
         b  Вероника Орлова
         | .

      p.mb2 Заместитель директора Дворца молодёжи
         b  Василий Фёдоров
         |  подчеркнул:
      p.mb4.quote Задания были по&nbsp;силам участникам. Главное&nbsp;&mdash; дальше оттачивать навыки, становиться настоящими мастерами и&nbsp;бороться за&nbsp;первые места. Желаю ребятам научиться управлять своим волнением&nbsp;&mdash; и&nbsp;тогда все победы будут за&nbsp;нами!

      p Успехи юных робототехников&nbsp;&mdash; наглядный результат работы Центров «IT-куб», созданных в&nbsp;рамках нацпроекта «Образование». Такие Центры раскрывают таланты и&nbsp;готовят новое поколение инженеров прямо в&nbsp;регионах. Участвуя в&nbsp;таких проектах, школьники не&nbsp;просто завоевывают медали&nbsp;&mdash; они получают ключевые компетенции для будущего, внося свой вклад в&nbsp;технологический суверенитет страны.

      .italic
         p Соревнования организованы Федерацией по&nbsp;подводно-исследовательскому спорту, МАУ&nbsp;ДО «Дворец детского (юношеского) творчества г.&nbsp;Владимира», компанией ООО&nbsp;«ТехноСтандарт» (проект «Океаника»).
         p Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при&nbsp;поддержке Министерства просвещения Российской Федерации.
