article.news_one__article#news_12-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Шестой робототехнический фестиваль «ТехноСТАРТ» объединяет юных инженеров Хабаровского края
   +image-26( '01.12', '0', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')
   .text-22
      p.mb4 В декабре 2025 года в шестой раз стартовал региональный робототехнический фестиваль «ТехноСТАРТ». Мероприятие для детей и подростков от 5 до 18 лет продлится до 16 февраля 2026 года. Его главная цель — популяризация инженерных профессий, поддержка талантливых детей в области технического творчества и развитие профессиональных компетенций у обучающихся.

      +image-26( '01.12', '1', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')

      p Фестиваль проводится в рамках реализации комплексного плана мероприятий по поддержке центров «Точка роста», детских технопарков «Кванториум» и центров «IT-куб» в Хабаровском крае. Организаторами традиционно выступают Региональный модельный центр дополнительного образования детей Хабаровского края совместно с образовательными организациями: детскими технопарками «Кванториум» в Комсомольске-на-Амуре и Хабаровске, Центром «IT-куб» в с. Восточное, гимназией п. Чегдомын Хабаровского края. Партнёрами фестиваля стали ведущие технологические компании и вузы региона.


      p.mb2 Мероприятие проходит в очно-дистанционном формате и включает восемь треков:
      .ml2.mb2
         p.news_point Открытые региональные соревнования по робототехнике
         p.news_point Открытый межрайонный заочный чемпионат по робототехнике «ProRobot»
         p.news_point Открытый дистанционный конкурс детского технического творчества «Лего-вызов-2025»
         p.news_point Конкурс «Роботехник»
         p.news_point Городские соревнования по робототехнике
         p.news_point Интеллектуальная игра-викторина «Шестерёнка»
         p.news_point Региональный дистанционный конкурс «Мир роботов»
         p.news_point Городской конкурс рисунков и поделок «Робот моего будущего»


      p Очный этап мероприятия, включающий интерактивно-образовательную программу для гостей и детей-участников от ведущих предприятий-партнёров и образовательных организаций, семинар-практикум для педагогов, специалистов отрасли и мастер-классы, пройдёт
         b  6 февраля 2026 года
         | в Центре «ТЕХНО-IT-куб». Итоги дистанционного этапа подведут
         b  16 февраля 2026 года
         | .

      p Соревнования проводятся по пяти номинациям: «РобоСила», «РобоДрайв», «РобоОлимпиада», «ТехноДетки» и «Разработка технического проекта робота». Каждый участник может заявиться только в одну номинацию.
      p.quote «Фестиваль «ТехноСТАРТ» становится важнейшей площадкой для демонстрации потенциала юных талантов Хабаровского края и продвижения инженерных специальностей среди школьников. Это уникальное мероприятие объединяет усилия образовательных учреждений и партнёров, создавая условия для раскрытия способностей ребят в технических дисциплинах и стимулируя интерес к современным профессиям будущего», — подчёркивает
         b  Елена Хорошилова, директор Центра «ТЕХНО-IT-куб. Хабаровск»
         | .


      p.mb1.mt3
         b Как принять участие?
      .ml2.mb3
         p.news_point Для участия необходимо&nbsp;
            a( href='https://clck.ru/3REfoS' target='_blank') зарегистрироваться
            |  до 30 января 2026 года (15:00)
         p.news_point Положение о фестивале и форма регистрации доступны&nbsp;
            a( href='https://disk.360.yandex.ru/d/QgKAAkPm165jmw' target='_blank') по ссылке
            | .
         p.news_point Все вопросы можно задать по телефону: +7 (924) 935-65-75 или по электронной почте:&nbsp;
            a( href='mailto:itcube@rmc27.ru' target='_blank') itcube@rmc27.ru
            | .


      p Победители и призёры открытых региональных соревнований будут награждены дипломами Регионального модельного центра и ценными призами. Все участники получат электронные свидетельства. Итоги дистанционных треков фестиваля будут подведены 16 февраля 2026 года.

      .italic
         p Центры цифрового образования детей «IT-куб» были созданы в рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации. В период реализации национального проекта «Образование» федеральным оператором, осуществляющим организационно-методическое и информационное сопровождение Центров цифрового образования детей «IT-куб» в субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от 29.03.2023 № АБ-1339/02) определено ФГАНУ «ФИЦТО».
