article.news_one__article#news_29-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центры &laquo;IT-куб» достойно выступили на конкурсе инноваций &laquo;Таланты XXI века»
   +image( '10.29', '0', 'mb4', '© Пресс-служба Центра всестороннего развития детей «Прогресс»')
   .text-22
      .mb4.italic
         p На базе оздоровительного комплекса &laquo;Литвиново» в&nbsp;Московской области состоялся конкурс инновационных идей &laquo;Таланты XXI века», объединивший учащихся России и&nbsp;Белоруссии. В&nbsp;течение нескольких дней свыше 220 одарённых детей в&nbsp;возрасте от&nbsp;14 до&nbsp;18 лет демонстрировали свои знания и&nbsp;навыки в&nbsp;сфере науки и&nbsp;технологий.

      p Участники защищали свои работыпо&nbsp;семи научным секциям: &laquo;Техническое конструирование», &laquo;Электроника и&nbsp;связь», &laquo;Робототехника», &laquo;Технологии программирования», &laquo;Аэрокосмические технологии», &laquo;Биотехнологии» и&nbsp;«Химические технологии».
      p Среди финалистов конкурса были и&nbsp;воспитанники Центров «IT-куб», они продемонстрировали свою любознательность и&nbsp;высокий уровень подготовки, предлагая конкретные и&nbsp;смелые технологические решения. Особых успехов достигли представители Смоленской и&nbsp;Брянской областей.
      p.mb4
         b Денис Шумилов, обучающийся из Центра «IT-куб.Смоленск»
         | , занял третье место с&nbsp;проектом «Веб-платформа для центра организации дорожного движения Смоленской области» (направление «Технологии программирования, обработка и&nbsp;защита данных»). Разработка, созданная под руководством педагога дополнительного образования Центра «IT-куб.Смоленск» Дмитрия Антонова, направлена на обеспечение прозрачного доступа граждан к&nbsp;информации о&nbsp;работе ЦОДД, улучшение взаимодействия населения с&nbsp;учреждением и&nbsp;повышение качества предоставления государственных услуг. Она также способствует созданию положительного образа ЦОДД как партнёра и&nbsp;помощника, стремящегося к&nbsp;обеспечению безопасности и&nbsp;комфорта на дорогах.

      +image( '10.29', '1', 'mb4', '© Пресс-служба Центра всестороннего развития детей «Прогресс»')

      p.mb3.quote «Смоленская команда, на мой взгляд, достойно показала себя на этом конкурсе! 17 команд, свыше 220 участников, очень строгое жюри, а наши ребята – среди лучших! Отдельно поздравляю Дениса Шумилова, он представил проект нашей команды «Патиссоны». Именно с&nbsp;ними ребята заняли второе место на хакатоне «Smolathon» в&nbsp;рамках международного ИТ-форума «Свой код». Призовое место на этом состязании еще раз доказывает, что работа проделана большая и&nbsp;серьёзная!»&nbsp;&mdash;
         b отметил наставник, педагог дополнительного образования Центра «IT-куб.Смоленск» Дмитрий Антонов
         | .

      p.mb4 Ещё одно третье место заняла
         b  Ангелина Короткова, обучающаяся Центра «IT-куб. Дятьково» (Брянская область)
         | по&nbsp;направлению «Медиатехнологии». Под наставничеством Дианы Мартыновой, педагога дополнительного образования Центра «IT-куб. Дятьково» Ангелина выступила с&nbsp;проектом «Хрустальная империя Мальцовых в&nbsp;городе Дятьково: Возрождение наследия через медиатехнологии». Она не&nbsp;просто изучила историю, а дала ей новую цифровую жизнь.

      +image( '10.29', '2', 'mb4', '© Пресс-служба Центра всестороннего развития детей «Прогресс»')

      p Проект представляет собой комплексную работупо&nbsp;созданию видеофильма, посвящённого истории и&nbsp;возрождению хрустальной империи Мальцовых в&nbsp;Дятьково. Он сочетает глубокое историческое исследование становления и&nbsp;развития промышленной династии с&nbsp;применением современных медиатехнологий&nbsp;&mdash; съёмки в&nbsp;4K, компьютерной графики и&nbsp;цифровых методов монтажа. Цель проекта&nbsp;&mdash; не&nbsp;только сохранить культурно-промышленное наследие, но и&nbsp;представить его в&nbsp;увлекательном формате, адаптированном для молодой аудитории. Особое внимание уделяется связи прошлого и&nbsp;настоящего с&nbsp;акцентом на современное возрождение завода и&nbsp;создание туристического кластера «Хрустальный город». Проект демонстрирует, как цифровые инструменты помогают оживить историю, превращая её в&nbsp;эмоциональный и&nbsp;познавательный медиапродукт.

      p.mb2
         b Елена Короткова, директор ГАУ ДО «Центр цифрового образования «АЙТИ-куб» Дятьковского района рассказала:
      p.quote Успех наших обучающихся на столь престижном международном уровне&nbsp;&mdash; это не&nbsp;случайность, а закономерный результат системной работы. Мы видим, как проекты наших ребят эволюционируют от&nbsp;идеи до&nbsp;реальных прототипов, решающих прикладные задачи. Работа Ангелины&nbsp;&mdash; это яркий пример того, как цифровые технологии служат сохранению культурно-исторического наследия малой родины. Для нас, как для Центра подготовки будущих IT-кадров, крайне важно, что дети учатся работать в&nbsp;команде, презентовать свои идеи экспертам из других регионов и&nbsp;стран, и&nbsp;видят реальную конкуренцию. Это бесценный опыт, который мотивирует их расти дальше.

      .italic
         strong Справочно
         p Всего в&nbsp;состязаниях приняли участие 17 команд (229 человек), представивших 7 областей Республики Беларусь и&nbsp;10 регионов Российской Федерации.
         p Организаторами конкурса выступают Министерство просвещения Российской Федерации, Постоянный Комитет Союзного государства, Министерство образования Республики Беларусь, оператором&nbsp;&mdash; Центр всестороннего развития детей «Прогресс».
         p Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
