article.news_one__article#news_16-04-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 В&nbsp;Центре IT&#8209;куб. Болохово&raquo; прошла Неделя космонавтики-2025
   img.mb4( src='./assets/data/images/news/2025/04.16/1.webp' )
   .text-22

      p Интеллектуально-интерактивный марафон позволил ребятам показать свой командный дух, а&nbsp;также получить новые знания.

      p Активное участие в&nbsp;мероприятиях также приняли ученики ГБОУ Херсонской области &laquo;Геническая школа &#8470;1&raquo;. Они одержали победу в&nbsp;викторине &laquo;С днем рождения, Рунет&raquo;.

      p Ранее Геническая школа &#8470;1 в&nbsp;рамках цифрового сотрудничества также приняла участие во Всероссийском технологическом диктанте, который прошел на&nbsp;офлайн-площадке &laquo;IT-куба&raquo; Болохово. В&nbsp;мероприятии приняло участие более 200 участников, в&nbsp;том числе ребята из&nbsp;Херсонской области.

      .italic
         strong Справочно
         p Сотрудничество между Генической школой &#8470;1 и&nbsp;Центром &laquo;IT-куб&raquo; Болохово (Тульская область) осуществляется в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;. Он запущен ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.

