article.news_one__article#news_12-08-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 &laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Липецк&raquo; и&nbsp;&laquo;Донецкой гимназии &#8470;6&raquo;
   .center-img
      img.mb4( src='./assets/data/images/news/2025/08.12/1.webp' )
   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo; продолжает подводить итоги сотрудничества Центров цифрового образования детей &laquo;IT-куб&raquo; с&nbsp;образовательными организациями воссоединённых территорий России за&nbsp;2024/25 учебный год.
      p В этом материале мы рассказываем о&nbsp;результатах работы команды Центра цифрового образования детей &laquo;IT-куб. Липецк&raquo; (Липецкая область), которая оказала поддержку по&nbsp;внедрению новых технологий в&nbsp;образовательный процесс &laquo;Донецкой гимназии &#8470;6&raquo; (Донецкая Народная Республика).
      p Такое сотрудничество стало возможным благодаря проекту &laquo;Цифровое наставничество&raquo;, запущенному ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31 мая 2024 года.
      p.italic В настоящее время к&nbsp;проекту &laquo;Цифровое наставничество&raquo; присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
      p За 2024/25 учебный год в&nbsp;рамках &laquo;Цифрового наставничества&raquo; между учебными заведениями выстроилась стабильная коммуникация. Сотрудники Центра &laquo;IT-куб. Липецк&raquo; и&nbsp;&laquo;Донецкой гимназии &#8470;6&raquo; определили зоны поддержки и&nbsp;совместно реализовали первые содержательные инициативы.
      p В рамках проекта был реализован комплекс мероприятий: от&nbsp;методических семинаров и&nbsp;круглых столов до более масштабных фестивалей и&nbsp;онлайн-хакатонов. Значительную роль для&nbsp;передачи эффективного опыта проведения образовательной и&nbsp;воспитательной работы сыграло организованное Центром онлайн-общение.
      p Была проведена серия тематических онлайн-мастер-классов и&nbsp;разработаны обучающие, в&nbsp;том числе, видеоматериалы по&nbsp;направлениям &laquo;Веб-технологии&raquo;, &laquo;Искусственный интеллект&raquo;, &laquo;Программирование роботов&raquo;.
      p.mb4 В ходе мастер-классов были подробно разобраны вопросы, связанные с&nbsp;выбором цифровых инструментов, особенностями внедрения геймификации в&nbsp;обучение, использования платформы JuniorSkills и&nbsp;Stepik. Педагог дополнительного образования Александр Булохов наглядно показал на&nbsp;мастер-классе &laquo;Образовательная платформа Junior Skills как путь к&nbsp;новому уровню вовлеченности и&nbsp;успеха&raquo;, как JuniorSkills поддерживает учебный процесс и&nbsp;позволяет адаптировать образовательную программу под&nbsp;потребности каждого ученика.

      img.mb4( src='./assets/data/images/news/2025/08.12/2.webp' )

      p.quote &laquo;Ребята не&nbsp;только получают знания, но&nbsp;и&nbsp;оттачивают критическое мышление, ведут проектную работу и&nbsp;занимаются решением практических задач&nbsp;&mdash; приобретая навыки, которые помогут им не&nbsp;только в&nbsp;учебе, но&nbsp;и&nbsp;в&nbsp;жизни. Геймификация добавляет процессу мотивации, позволяя зарабатывать баллы и&nbsp;достигать новых уровней, превращая обучение в&nbsp;интересное и&nbsp;увлекательное путешествие к&nbsp;успеху&raquo;,&nbsp;&mdash; отметил Александр Булохов.

      p Также для&nbsp;педагогов &laquo;Донецкой гимназии &#8470;6&raquo; Центр провёл митап &laquo;Из опыта работы: эффективные практики дополнительного образования&raquo;, в&nbsp;рамках которого педагог дополнительного образования Светлана Козлова рассказала о&nbsp;возможности использования искусственного интеллекта.
      p.quote &laquo;Речь шла о&nbsp;трансформации образовательного процесса с&nbsp;помощью нейросети, которая может значительно повысить эффективность обучения и&nbsp;открыть новые горизонты как для&nbsp;учеников, так и&nbsp;для&nbsp;преподавателей&raquo;,&nbsp;&mdash; поделилась Светлана Козлова.

      p Обучающиеся гимназии приняли участие в&nbsp;серии дистанционных мастер-классов по&nbsp;созданию Telegram-бота, здесь школьники узнали, как настроить среду разработки на&nbsp;Python, этапы разработки и&nbsp;средства размещения и&nbsp;запуска Telegram-бота.
      p Педагоги Центра &laquo;IT-куб. Липецк&raquo; продемонстрировали практическую значимость VEXcode VR на&nbsp;мастер-классе &laquo;Виртуальный робототехнический эмулятор на&nbsp;платформе VEXcode VR&raquo;. В&nbsp;ходе дистанционного занятия ребята из&nbsp;&laquo;Донецкой гимназии &#8470;6&raquo; научились программировать датчики и&nbsp;переносить смоделированную ситуацию на&nbsp;прикладную задачу.
      p Для педагогов обоих учебных заведений был проведён круглый стол &laquo;Проектная деятельность в&nbsp;курсах технической направленности дополнительного образования&raquo;. В ходе мероприятия наставники поделились опытом разработки и&nbsp;реализации проектов обучающихся. В качестве тренировки командообразования и&nbsp;сплочённости коллектива педагоги поучаствовали в&nbsp;деловой игре, а&nbsp;также заполнили матрицу распределения ответственности для&nbsp;повышения эффективности своего проекта.
      p Также учащиеся гимназии &#8470;6 г.&nbsp;Донецк приняли участие в&nbsp;региональном конкурсе разработок цифрового образовательного контента &laquo;Цифровая перемена&raquo;, в&nbsp;онлайн–хакатоне по&nbsp;программированию для&nbsp;школьников &laquo;The cosmic code&raquo;, а&nbsp;также в&nbsp;открытом фестивале виртуальной и&nbsp;дополненной реальности &laquo;Марафон VR/AR&raquo;.

      p.mb1
         b Директор ГБУ&nbsp;ДО &laquo;ЦДО ЛО&raquo;, ЦЦОД &laquo;IT-куб&raquo; Липецк Ирина Малько:
      p.mb4.quote Стоит отметить ценность состоявшегося диалога&nbsp;&mdash; как между педагогами, так и&nbsp;между учащимися обоих учебных заведений. Такой формат позволил оперативно обмениваться опытом, обсуждать возникающие трудности и&nbsp;находить решения, адаптированные под&nbsp;конкретные задачи. Это важная часть процесса интеграции в&nbsp;общее образовательное и&nbsp;цифровое пространство. Считаю, что фундамент для&nbsp;дальнейшего развития заложен


      img.mb4( src='./assets/data/images/news/2025/08.12/3.webp' )

      p.italic Центр цифрового образования детей &laquo;IT-куб&raquo; в&nbsp;Липецкой области является структурным подразделением Государственного бюджетного учреждения дополнительного образования &laquo;Центр дополнительного образования Липецкой области.

      .italic
         strong Справочно
         p В период реализации национального проекта &laquo;Образование&raquo; в&nbsp;соответствии с&nbsp;Методическими рекомендациями по&nbsp;созданию и&nbsp;функционированию Центров &laquo;IT-куб&raquo;, направленными письмом Министерства просвещения Российской Федерации от&nbsp;29.03.2023 &#8470;АБ-1339/02, ФГАНУ &laquo;ФИЦТО&raquo; было определено федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации.
