article.news_one__article#news_12-02-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Школьники Тульской и&nbsp;Херсонской областей сразились в&nbsp;киберспортивном поединке
   +image-26( '02.12', '0', 'mb4', '© Центр «IT-куб.Болохово»')
   .text-22
      p.mb4 В феврале 2026 года состоялся региональный киберспортивный турнир по&nbsp;Counter-Strike, организованный Центром цифрового образования детей «IT-куб.Болохово» (структурное подразделение ГПОУ&nbsp;ТО «Болоховский машиностроительный техникум») и&nbsp;ГБОУ Херсонской области «Геническая школа №1». Мероприятие проведено в&nbsp;рамках реализации проекта «Цифровое наставничество».

      +image-26( '02.12', '1', 'mb4', '© ГБОУ Херсонской области «Геническая школа №1»')

      p Турнир проходил в&nbsp;очном формате с&nbsp;применением дистанционных технологий. Участники&nbsp;— две команды обучающихся в&nbsp;возрасте 14–15&nbsp;лет, по&nbsp;пять игроков в&nbsp;каждой. Соревнования проводились на&nbsp;карте «Dust II» в&nbsp;режиме реального времени посредством телемоста. Матч состоял из&nbsp;13 раундов.
      p.mb4.quote «Киберспорт развивает скорость реакции, стратегическое мышление и&nbsp;идерские качества. Для ребят это возможность проявить себя и&nbsp;познакомиться со&nbsp;сверстниками из&nbsp;другого региона»,&nbsp;— отметил
         b  педагог дополнительного образования Центра «IT-куб.Болохово» Владимир Безруков
         | .


      +image-26( '02.12', '2', 'mb4', '© Центр «IT-куб.Болохово»')

      p «Турнир показал, что киберспорт&nbsp;— это не&nbsp;просто игра, а&nbsp;официально признанная дисциплина, которая активно развивает скорость реакции, стратегическое мышление и&nbsp;лидерские качества. А&nbsp;Counter-Strike&nbsp;— отличная площадка для их демонстрации», — подчеркнула
         b  заведующий Центром «IT-куб.Болохово» Лариса Марейчева
         | .

      .italic
         p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года.
         p К проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также Центры «IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p ФГАНУ «ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В&nbsp;рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 №&nbsp;АБ-1339/02).
