article.news_one__article#news_12-09-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 Дан старт Всероссийской олимпиаде по&nbsp;искусственному интеллекту&nbsp;2023
   img.mb4( src='./assets/data/images/news/2023/12-09-2023.png' loading="lazy")
   .text-22
      p Продолжается регистрация участников на&nbsp;отборочный этап Всероссийской олимпиады по&nbsp;искусственному интеллекту, который стартовал 1&nbsp;сентября и&nbsp;продлится до&nbsp;25 сентября включительно. Регистрация доступна и&nbsp;для воспитанников Центров цифрового образования детей &laquo;IT-куб&raquo;.
      p Всероссийская олимпиада по&nbsp;искусственному интеллекту проводится ежегодно с&nbsp;2021 года в&nbsp;начале учебного года для&nbsp;школьников 8–11&nbsp;классов в&nbsp;рамках федерального проекта &laquo;Искусственный интеллект&raquo; Национальной программы &laquo;Цифровая экономика Российской Федерации&raquo;. Ожидается, что в&nbsp;2023&nbsp;году в&nbsp;ней примут участие около 15&nbsp;тыс. школьников и&nbsp;свыше 1&nbsp;тыс. педагогов&nbsp;&mdash; в&nbsp;основном учителей информатики.
      p
         b Организатором Всероссийской олимпиады по&nbsp;искусственному интеллекту
         |  выступает Министерство просвещения Российской Федерации.
      p Научно&ndash;методическое сопровождение олимпиады в&nbsp;2023&nbsp;году обеспечивает ФГБОУ&nbsp;ВО &laquo;Государственный университет просвещения&raquo;.
      p
         b Партнёрами олимпиады являются
         |  Ассоциация &laquo;Альянс в&nbsp;сфере искусственного интеллекта&raquo;, АНО &laquo;Цифровая экономика&raquo;, Институт системного программирования РАН&nbsp;НИУ&nbsp;ВШЭ, Университет ИТМО&nbsp;МФТИ и&nbsp;многие другие.
      p Все этапы Олимпиады состоятся на&nbsp;All&nbsp;Cups&nbsp;&mdash; платформе VK&nbsp;для&nbsp;онлайн&ndash;соревнований и&nbsp;IT-чемпионатов. Для участия в&nbsp;Олимпиаде нужно зарегистрироваться на&nbsp;платформах &laquo;Сферум&raquo;&nbsp;и All&nbsp;Cups.

      p
         strong.mb15 Этапы Олимпиады:
      .ml1.mb2
         p.news_point Регистрация на&nbsp;отборочный этап (онлайн): 1–25&nbsp;сентября
         p.news_point Отборочный этап (онлайн): 26–30&nbsp;сентября
         p.news_point Основной этап (онлайн): 11–14&nbsp;октября
         p.news_point Заключительный этап (очно): 13–16&nbsp;ноября

      p Для&nbsp;участников заключительного этапа проведут экскурсии в&nbsp;IT-компаниях и&nbsp;лекции для&nbsp;знакомства с&nbsp;достижениями научных и&nbsp;индустриальных партнёров в&nbsp;сфере искусственного интеллекта (ИИ) и&nbsp;машинного обучения. С&nbsp;2023&nbsp;года для&nbsp;победителя и&nbsp;призёров открыта программа наставничества в&nbsp;сфере&nbsp;ИИ.
      p Победитель и&nbsp;призёры Олимпиады получат дополнительные баллы при поступлении в&nbsp;Университет ИТМО&nbsp;(г.&nbsp;Санкт-Петербург), МФТИ&nbsp;(г.&nbsp; Москва) и&nbsp;другие профильные высшие учебные заведения.

      p
         strong.mb15 Для педагогов, которые готовят участников Олимпиады, разработана система поощрений и&nbsp;наград:
      .ml1.mb2
         p.news_point Электронные сертификаты (3, 2 и&nbsp;1&nbsp;степени) для&nbsp;наставников успешных участников отборочного, основного и&nbsp;заключительного этапов
         p.news_point Благодарственные письма для&nbsp;педагогов, подготовивших победителя и&nbsp;призёров Олимпиады

      p Школы и&nbsp;организации дополнительного образования могут получить почётный статус соорганизатора Олимпиады, обеспечив активную регистрацию участников и&nbsp;медийное освещение события.
      p Узнать подробности и&nbsp;зарегистрироваться для&nbsp;участия в&nbsp;Олимпиаде можно на&nbsp;официальном сайте:&nbsp;
         a( href='https://ai.edu.gov.ru/registration#rec634667415' target='_blank').hover  ai.edu.gov.ru.


