article.news_one__article#news_15-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 В Нижнем Тагиле завершился Всероссийский хакатон для юных программистов
   +image( '12.15', '0', 'mb4', '© «IT-куб» г. Нижний Тагил')
   .text-22
      .mb4.italic
         p Второй сезон Всероссийского хакатона «Code & Go: марафон мобильных инноваций» объединил более 100 школьников из&nbsp;12&nbsp;городов России.

      p В Нижнем Тагиле подвели итоги второго сезона Всероссийского хакатона «Code &&nbsp;Go: марафон мобильных инноваций». Мероприятие прошло на площадке Центра цифрового образования «IT-куб» г.&nbsp;Нижний Тагил и&nbsp;собрало более 100&nbsp;школьников из&nbsp;12&nbsp;городов России, став значимым событием в&nbsp;преддверии 2026&nbsp;года, объявленного Годом единства народов.
      p Организаторы поставили перед участниками амбициозную задачу: с&nbsp;помощью программирования сделать музейное пространство и&nbsp;народные традиции более доступными для современного поколения. Из&nbsp;105 заявок от&nbsp;25&nbsp;команд в&nbsp;возрасте от&nbsp;10 до&nbsp;18 лет в&nbsp;финал вышли 75&nbsp;сильнейших участников, объединённых в&nbsp;15&nbsp;команд.

      .mb4.italic
         p Организатор хакатона: Центр цифрового образования «IT-куб» г.&nbsp;Нижний Тагил Муниципального автономного учреждения дополнительного образования городской Дворец детского и&nbsp;юношеского творчества (МАУ&nbsp;ДО ГДДЮТ).

      +image( '12.15', '1', 'mb4', '© «IT-куб» г. Нижний Тагил')


      p.mb4.quote «Всероссийский хакатон представлял собой интерактивную площадку для цифрового сотворчества талантливых юных программистов, объединяющих своими разработками Центры «IT-куб» разных городов, областей и&nbsp;даже народностей в&nbsp;единую партнёрскую сеть России. Для каждого участника — это уникальная возможность показать, что их знания и&nbsp;IT-компетенции служат «интеллектуальным клеем» для сохранения традиций русского народа в&nbsp;цифровом будущем. Благодаря ребятам из&nbsp;сети Центров «IT-куб» активно развивается цифровизация образования, культурного просвещения и&nbsp;прямо на&nbsp;наших глазах уже сегодня рождается будущее нашей страны!» —
         b  отметила автор и&nbsp;организатор мероприятия, заместитель руководителя ЦЦО «IT-куб» г.&nbsp;Нижний Тагил Галина Куприянова.

      p.mb4 Хакатон прошёл в&nbsp;три этапа. На первом этапе технологические партнёры презентовали участникам кейсы заданий и&nbsp;условия оценивания проектных работ. На втором этапе участники проходили интенсивы по мобильной разработке приложений в&nbsp;Центре цифрового образования «IT-куб» г.&nbsp;Нижний Тагил, консультируясь с&nbsp;педагогами-наставниками по&nbsp;структуре и&nbsp;содержанию будущей программной разработки прототипа мобильного приложения. На&nbsp;заключительном этапе участники создавали на&nbsp;площадке хакатона прототип мобильного приложения по&nbsp;одному из&nbsp;3&nbsp;выбранных кейсов, а&nbsp;затем представляли его на публичной защите.

      +image( '12.15', '2', 'mb4', '© «IT-куб» г. Нижний Тагил')

      p.mb2 Целую неделю юные IT-разработчики создавали мобильные приложения для гаджетов по&nbsp;трём сложным кейсам от&nbsp;технологического партнёра Центра «IT-куб» г.&nbsp;Нижний Тагил — МБУК «Нижнетагильский музей-заповедник «Городской Урал»:

      .ml2.mb4
         p.news_point программирование all-ассистента для подбора референсов народной росписи;
         p.news_point программирование all-ассистента для организации интерактивной экскурсии без&nbsp;экскурсовода;
         p.news_point программирование all-ассистента для организации игровой досуговой программы в&nbsp;музее.

      +image( '12.15', '3', 'mb4', '© «IT-куб» г. Нижний Тагил')

      p В финальный конкурсный день свои мобильные приложения презентовали 15&nbsp;команд из&nbsp;Центров цифрового образования детей «IT-куб» г.&nbsp;Брянск, Губкинский, Нижний Тагил, Сатка, Куйбышевского Дома детского творчества, школьники гимназий, лицеев и&nbsp;школ Нижнего Тагила, студенты Иркутского техникума архитектуры и&nbsp;строительства, НТГСПИ филиала УрГПУ.

      p.mb2
         b Победителями II сезона хакатона «Code &&nbsp;Go» стали:

      .ml2.mb3
         p.news_point I место — команда МАОУ Гимназия №18 (г.&nbsp;Нижний Тагил). Педагоги-наставники: В.В.&nbsp;Четина и к.п.н. М.А.&nbsp;Ушакова.
         p.news_point II место разделили команды Куйбышевского Дома детского творчества (наставник Е.А.&nbsp;Горбунов) и&nbsp;МАОУ Лицей №39 (Нижний Тагил, наставник А.В.&nbsp;Наймушина).
         p.news_point III место заняли команды ЦЦО «IT-куб» Нижний Тагил (наставник А.В.&nbsp;Жайворонская) и&nbsp;ЦЦО «IT-куб» Брянск (наставник Е.П.&nbsp;Маркелова).

      p.mb4 Событие проходило при поддержке Управления образования г.&nbsp;Нижний Тагил. Технологическими партнёрами мероприятия выступили: Молодёжная Дума — Нижний Тагил, Центр развития туризма города Нижний Тагил и&nbsp;Музей-заповедник «Горнозаводской Урал».

      .italic
         p Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при&nbsp;поддержке Министерства просвещения Российской Федерации. В&nbsp;период реализации национального проекта «Образование» федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров цифрового образования детей «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02) определено ФГАНУ «ФИЦТО».
