article.news_one__article#news_20-08-2024
   .news_one__date.mb2.text-22
   h1.title.mb4 II Всероссийский съезд руководителей центров &laquo;IT-куб&raquo; начал работу в&nbsp;Челябинске
   .news_img__slider.mb4
      img( src='./assets/data/images/news/2024/20.08/1.webp' )
      img( src='./assets/data/images/news/2024/20.08/2.webp' )
      img( src='./assets/data/images/news/2024/20.08/3.webp' )
      img( src='./assets/data/images/news/2024/20.08/8.webp' )
   .text-22
      p Руководители центров цифрового образования детей &laquo;IT-куб&raquo; из&nbsp;разных российских регионов встретились в&nbsp;Челябинске на&nbsp;II Всероссийском съезде &laquo;Как управлять будущим&raquo;. Организатором выступил федеральный оператор сети центров &laquo;IT-куб&raquo;&nbsp;— ФГАНУ &laquo;ФИЦТО&raquo;. Масштабное мероприятие с&nbsp;участием технологических партнёров и&nbsp;федеральных экспертов продлится 20–21&nbsp;августа.
      p Видеоприветствие к&nbsp;открытию съезда направил директор Департамента цифровой трансформации и&nbsp;больших данных Министерства просвещения Российской Федерации Андрей Горобец. Участников съезда таже приветствовал министр образования и&nbsp;науки Челябинской области Виталий Литке. Он подчеркнул значимость информационных технологий для развития экономики нашей страны и&nbsp;роль цифрового образования для&nbsp;формирования её кадрового потенциала.
      p Директор ФГАНУ &laquo;ФИЦТО&raquo; Юлия Пономарёва, открывая рабочую часть мероприятия, подчеркнула, что&nbsp;все участники съезда выполняют одну большую задачу по&nbsp;обеспечению технологического лидерства России. В&nbsp;своём докладе она осветила взаимосвязь в&nbsp;деятельности центров цифрового образования детей &laquo;IT-куб&raquo; с&nbsp;национальным целями развития нашей страны, отражёнными в&nbsp;Указе Президента Российской Федерации Владимира Владимировича Путина от&nbsp;7&nbsp;мая 2024&nbsp;года &laquo;О&nbsp;национальных целях развития Российской Федерации на&nbsp;период до&nbsp;2030&nbsp;года и&nbsp;на&nbsp;перспективу до&nbsp;2036&nbsp;года&raquo;.
      p Как отметила директор ФГАНУ &laquo;ФИЦТО&raquo;, центры &laquo;IT-куб&raquo; успешно реализуют задачи по&nbsp;предоставлению высококачественного цифрового образования, что напрямую влияет на&nbsp;повышение уровня жизни, реализацию потенциала каждого человека, создание комфортной и&nbsp;безопасной среды, поддержание экологического благополучия, развитие устойчивой и&nbsp;динамичной экономики, обеспечение технологического лидерства и&nbsp;цифровую трансформацию всех сфер жизни.
      p Работу проектной сессии &laquo;Направления развития центров &laquo;IT-куб&raquo; продолжили выступления экспертов. Директор проектов Центра молодёжных инициатив Агентства стратегических инициатив Ярослав Паунов рассказал о&nbsp;платформе &laquo;Карьерный навигатор&raquo;, которая создаётся для&nbsp;привлечения молодёжи в&nbsp;приоритетные отрасли российской экономики&nbsp;&mdash; промышленность, строительство, энергетику и&nbsp;IT. Пилотный запуск &laquo;Карьерного навигатора&raquo; ожидается в&nbsp;ноябре 2024&nbsp;года.
      p О&nbsp;ходе Всероссийской олимпиады по&nbsp;искусственному интеллекту как форме работы с&nbsp;одарёнными детьми рассказал проректор по&nbsp;научной работе ФГАОУ&nbsp;ВО &laquo;Государственный университет просвещения&raquo; Дмитрий Куликов.
      p Региональными наработками по&nbsp;взаимодействию центров &laquo;IT-куб&raquo; с&nbsp;реальным сектором экономики поделился директор ГБУ&nbsp;ДО &laquo;Дом юношеского технического творчества&raquo; (г.&nbsp;Челябинск) Владислав Халамов. Со&nbsp;своей стороны, руководитель Центра цифрового образования детей &laquo;IT-куб&raquo; (г.&nbsp;Магнитогорск, Челябинская область) Денис Полушкин поделился опытом проведения Всероссийского конкурса &laquo;Инженерные кадры России&raquo; в&nbsp;разрезе сотрудничества образовательных организаций и&nbsp;работодателей.
      p Вторая половина первого дня Всероссийского съезда руководителей центров цифрового образования детей &laquo;IT-куб&raquo; была отведена на&nbsp;работу по&nbsp;группам. Своими наработками по&nbsp;организации учебной работы и&nbsp;профориентации обучающихся в&nbsp;ходе мастер-классов поделились руководители и&nbsp;педагоги центров &laquo;IT-куб&raquo; Смоленска, Челябинска и&nbsp;Челябинской области (Южноуральска и&nbsp;Сатки), Липецка и&nbsp;Калуги. В&nbsp;рамках стратегической сессии руководители центров &laquo;IT-куб&raquo; решали управленческие кейсы, выстроенные вокруг реальной проблематики работы центров в&nbsp;регионах.

      .news_img__slider.mt3.mb4
         img( src='./assets/data/images/news/2024/20.08/4.webp' )
         img( src='./assets/data/images/news/2024/20.08/5.webp' )
         img( src='./assets/data/images/news/2024/20.08/6.webp' )
         img( src='./assets/data/images/news/2024/20.08/7.webp' )

      p Завершился первый день работы съезда экскурсией по&nbsp;достопримечательностям Челябинска. Работа съезда продолжится 21 августа. Наряду со&nbsp;стратегической и&nbsp;проектно&ndash;ориентированной сессией будет проведена проектная сессия, где&nbsp;своими наработками поделятся технологические партнёры.
