article.news_one__article#news_07-10-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 От&nbsp;&laquo;IT&#8209;куба&raquo; до&nbsp;&laquo;Артека&raquo;: курский школьник вошёл в&nbsp;число победителей профильной IT-смены
   img.mb4( src='./assets/data/images/news/2025/10.07/0.webp' )
   .text-22
      p В международном детском центре &laquo;Артек&raquo; завершилась бесплатная профильная смена по&nbsp;созданию ИТ-продуктов для школьников 9−10 классов. Программа одобрена методистами &laquo;Артека&raquo; и&nbsp;Министерства просвещения РФ.
      p В профильной смене приняли участие 25&nbsp;школьников из&nbsp;16&nbsp;субъектов РФ, которые успешно прошли конкурсный отбор и&nbsp;стали лучшими среди 13&nbsp;тысяч участников в&nbsp;решении задач по&nbsp;математике и&nbsp;бизнес-кейсов.
      p Смена проходила в&nbsp;лагере &laquo;Хрустальный&raquo; с&nbsp;1 по&nbsp;22 сентября и&nbsp;включала в&nbsp;себя полный цикл занятий по&nbsp;разработке ИТ-продуктов в&nbsp;командах&nbsp;&mdash; от&nbsp;гипотез и&nbsp;исследований до&nbsp;прототипа и&nbsp;презентации решений.
      p
         b Воспитанник Центра &laquo;IT-куб. Курск&raquo; Артур Дерр
         |  вошёл в&nbsp;число победителей. Он работал в&nbsp;команде, которая представила платформу F-Rent&nbsp;&mdash; сервис аренды вещей между соседями. Целевой аудиторией проекта стали городские жители от&nbsp;18 до&nbsp;40 лет, которые хотят экономить или&nbsp;зарабатывать, сдавая свои вещи в&nbsp;аренду. Школьники провели анализ рынка и&nbsp;обнаружили свободную нишу&nbsp;&mdash; по&nbsp;итогу команда разработала первый в&nbsp;России сервис, целенаправленно работающий с&nbsp;частными пользователями и&nbsp;локальными сообществами, а&nbsp;не&nbsp;с&nbsp;бизнесом.

      p.ml1.mb1
         b Состав команды-победителя:
         .ml2.mb4
            p.news_point Матвей Власов (г.&nbsp;Краснодар, МАОУ СОШ&nbsp;93);
            p.news_point Артур Дерр (г.&nbsp;Курск, МБОУ СОШ &#8470;60 им.&nbsp;героев Курской битвы, обучающийся Центра &laquo;IT-куб. Курск&raquo;);
            p.news_point Иван Попов (Челябинская область, город Миасс, МАОУ &laquo;ОЦ&raquo;);
            p.news_point Дмитрий Симаков (г.&nbsp;Кемерово, МБНОУ &laquo;Городской классический лицей&raquo;).

      img.mb4( src='./assets/data/images/news/2025/10.07/1.webp' )

      p Работы школьников оценивали эксперты Центрального университета и&nbsp;Т-Банка, а&nbsp;также более 3000 артековцев из&nbsp;всех регионов России и&nbsp;16&nbsp;стран, среди которых Алжир, Армения, Беларусь, Греция, Казахстан, Латвия, Литва, Молдова, ОАЭ, Тунис, Турция, Швейцария.
      p В награду команда получила 100% гранты на&nbsp;обучение в&nbsp;Центральном университете&nbsp;&mdash; блестящий результат для юных IT-специалистов!

      p.mb1
         b Артур Дерр
         |  поделился впечатлениями от&nbsp;участия в&nbsp;проекте:

      p.quote Смена в&nbsp;&laquo;Артеке&raquo; стала для меня настоящим погружением в&nbsp;мир современных ИТ-проектов. Мы работали как настоящая команда стартапа: анализировали рынок, продумывали логику продукта, создавали интерфейсы. Наше приложение F-Rent помогает людям делиться вещами в&nbsp;своём районе&nbsp;&mdash; это реальное решение, которое может принести пользу обществу.
         br
         br
         | Особенно запомнилась атмосфера в&nbsp;&laquo;Артеке&raquo;&nbsp;&mdash; рядом были талантливые ребята со&nbsp;всей России, поддержка наставников из&nbsp;Центрального университета и&nbsp;&laquo;Т-Банка&raquo;. Участие в&nbsp;этой смене стало для меня важным шагом в&nbsp;профессиональном развитии как будущего разработчика и&nbsp;дизайнера!

      .italic
         strong Справочно
         p Центры цифрового образования детей &laquo;IT-куб&raquo; были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo; при&nbsp;поддержке Министерства просвещения Российской Федерации.
         p 2025&nbsp;год объявлен Минпросвещения России Годом детского отдыха в&nbsp;системе образования.
