article.news_one__article#news_14-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Региональный конкурс компьютерного творчества «Digital Art» объединил школьников Тульской и&nbsp;Херсонской областей
   +image( '12.14', '0', 'mb4', '© Центр «IT-куб. Болохово»')
   .text-22
      .mb4.italic
         p В преддверии Дня Конституции Российской Федерации завершился региональный конкурс компьютерного творчества «Digital Art», объединивший школьников из&nbsp;Тульской и&nbsp;Херсонской областей. Мероприятие, организованно министерством образования Тульской области и&nbsp;Центром цифрового образования детей «IT-куб» структурным подразделением государственного профессионального образовательного учреждения Тульской области «Болоховский машиностроительный техникум» в&nbsp;рамках реализации проекта «Цифровое наставничество».

      p Конкурс проходил в&nbsp;два этапа: заочный, где ребята создавали цифровые коллажи, сочетающие государственные символы (герб, флаг, гимн) и&nbsp;современные тенденции цифрового искусства, и&nbsp;очный, где участники посетили мастер-класс «ИИ как соавтор в&nbsp;искусстве». На&nbsp;финальном этапе школьники разрабатывали социальные постеры ко&nbsp;Дню Конституции с&nbsp;использованием искусственного интеллекта.
      p На финальный этап конкурса было представлено свыше 40&nbsp;работ, в&nbsp;том числе от&nbsp;школьников из&nbsp;Херсонской области, активно включившихся в&nbsp;образовательное пространство России. Специальный дистанционный формат участия позволил ребятам из&nbsp;Херсонской области представить свои работы и&nbsp;стать частью общего творческого процесса.

      p.mb4.quote «Узнать, что моя работа удостоена специального приза «За творческую оригинальность»&nbsp;— это невероятно почётно и&nbsp;волнительно»,&nbsp;—
         b  отметила Таисия Узун, учащаяся ГБОУ Херсонской области «Геническая школа №1».
         |  — Для меня это значит, что жюри и&nbsp;эксперты увидели и&nbsp;оценили именно тот самый «уникальный подход». Это высокая оценка не&nbsp;только результата, но&nbsp;и&nbsp;того творческого поиска, который был проделан. Этот приз&nbsp;— огромная поддержка и&nbsp;мотивация для меня. Он даёт уверенность в&nbsp;том, что искусство и&nbsp;технологии могут идти рука об&nbsp;руку. Я очень благодарна организаторам конкурса, а&nbsp;также своим учителям, которые всегда поддерживают мои начинания. Теперь я ещё больше хочу развиваться в&nbsp;сфере digital-arts, учиться новому и&nbsp;участвовать в&nbsp;таких проектах, которые позволяют выразить своё видение мира».

      +image( '12.14', '1', 'mb4', '© Центр «IT-куб. Болохово»')

      p.quote «Конкурс стал не&nbsp;только демонстрацией технического мастерства, но&nbsp;и&nbsp;практическим примером создания общего образовательного пространства,&nbsp;—
         b  подчеркнула заведующий IT-куб. Болохово Лариса Марейчева.
         |  — Через цифровое искусство школьники из&nbsp;разных регионов вместе осмысливали значение конституционных ценностей».

      p Напоминаем, что&nbsp;
         a( href='https://ficto.ru/novosty/2099' target='_blank') соглашение, заложившее основы сотрудничества двух образовательных организаций, было заключено 19&nbsp;сентября 2024&nbsp;года в&nbsp;рамках проекта «Цифровое наставничество»
         | . Его подписали ФГАНУ «ФИЦТО», Геническая школа №1 (Херсонская область) и&nbsp;Болоховский машиностроительный техникум (Тульская область), на&nbsp;базе которого действует Центр «IT-куб» города Болохово.

      p За минувший год в&nbsp;рамках сотрудничества был проведён комплекс мероприятий, включающий онлайн-консультации и&nbsp;мастер-классы по&nbsp;робототехнике, выбору оборудования и&nbsp;цифровых платформ, а&nbsp;также разработку методических материалов с&nbsp;практическими примерами AR-проектов и&nbsp;веб-приложений, разработанных Центром.&nbsp;
         a( href='https://ficto.ru/novosty/2201' target='_blank') В&nbsp;новом учебном году партнёрство продолжает развиваться, укрепляя образовательные связи между регионами
         | .


      .italic
         p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в&nbsp;2024&nbsp;году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.&nbsp;
            a( href='https://ficto.ru/novosty/2074' target='_blank') Первое трёхстороннее соглашение в рамках проекта было подписано 31 мая 2024 года
            | .
         p К проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также Центры «IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p ФГАНУ «ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В&nbsp;рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02).
