article.news_one__article#news_09-10-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Программирование и&nbsp;креатив: стартовал финал II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2024/10-09/1.webp' loading='lazy')

   .text-22
      p Очный этап II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; стартовал в&nbsp;Нижнем Новгороде на&nbsp;площадке &laquo;Академии Маяк&raquo;. В&nbsp;борьбу за&nbsp;звание лучших вступили 30&nbsp;команд юных айтишников из&nbsp;23 регионов страны, в&nbsp;первую очередь представляющих центры цифрового образования детей &laquo;IT-куб&raquo;. Организатором мероприятия является федеральный оператор сети центров &laquo;IT-куб&raquo; Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;) при&nbsp;поддержке Минпросвещения России.
      p.mb4 Открывая хакатон, директор Департамента цифровой трансформации и&nbsp;больших данных Минпросвещения России Андрей Горобец поделился своим опытом работы в&nbsp;IT-сфере. Он призвал юных программистов к&nbsp;саморазвитию и&nbsp;пониманию своей роли в&nbsp;развитии общества.

      img.mb4( src='./assets/data/images/news/2024/10-09/5.webp' loading='lazy')

      p.mb4 Со стороны региональных властей участников хакатона приветствовал министр образования и&nbsp;науки Нижегородской области Михаил Пучков. Он рассказал о&nbsp;вкладе Нижнего Новгорода в&nbsp;развитие цифровых технологий и&nbsp;призвал ребят использовать всю мощь нуля и&nbsp;единицы для&nbsp;того, чтобы делать этот мир лучше.

      .row.flex.mb4
         .third.mb-sm
            img( src='./assets/data/images/news/2024/10-09/9.webp' loading='lazy')
         .two-thirds
            img( src='./assets/data/images/news/2024/10-09/3.webp' loading='lazy')

      p Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула отметил важность соглашения для&nbsp;развития цифровой грамотности обучающихся Херсонской области и&nbsp;поблагодарил сарапульских педагогов за&nbsp;готовность взять на&nbsp;себя роль наставников в&nbsp;этом вопросе.
      p.mb4 От&nbsp; лица организаторов хакатона слова напутствия юным программистам произнесла первый заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Юлия Пономарёва. Она пожелала ребятам отличного настроения, новых знакомств, знаний и&nbsp;навыков, а&nbsp;также призвала их не&nbsp;бояться ошибок, которые являются ключом к&nbsp;новым достижениям.

      img.mb4( src='./assets/data/images/news/2024/10-09/8.webp' loading='lazy')

      p После торжественной церемонии открытия команды-участники хакатона приступили к&nbsp;работе. В&nbsp;течение трёх дней, с&nbsp;9 по&nbsp;11&nbsp;октября, они будут решать задания (кейсы), специально разработанные для&nbsp;них технологическими партнёрами мероприятия по&nbsp;трём направлениям:
      .ml1.mb4
         p.news_point &laquo;Программирование&raquo;&nbsp;&mdash; ТБанк и&nbsp;Центральный университет
         p.news_point &laquo;VR-разработка&raquo;&nbsp;&mdash; Varwin
         p.news_point &laquo;Кибергигиена&nbsp;&mdash; КИБЕРПРОТЕКТ

      p Все технологические партнёры мероприятия&nbsp;&mdash; признанные игроки на&nbsp;рынке отечественных IT-разработок, а&nbsp;их кейсы для&nbsp;команд хакатона призваны решить реальные бизнес-задачи.
      p В&nbsp;последний день работы II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; пройдёт защита проектов команд-участников по&nbsp;одному из&nbsp;направлений. В&nbsp;каждом направлении жюри определит своих победителей.

      .news_img__slider.mt3.mb4
         img( src='./assets/data/images/news/2024/10-09/4.webp' loading='lazy')
         img( src='./assets/data/images/news/2024/10-09/2.webp' loading='lazy')
         img( src='./assets/data/images/news/2024/10-09/10.webp' loading='lazy')
         img( src='./assets/data/images/news/2024/10-09/11.webp' loading='lazy')
         img( src='./assets/data/images/news/2024/10-09/7.webp' loading='lazy')

      p.mb4 Среди участников хакатона по&nbsp;каждому из&nbsp;направлений есть и&nbsp;команды Донецкой Народной Республики. Они принимают участие в&nbsp;этом событии благодаря проекту &laquo;Цифровое наставничество&raquo;. Этот проект запущен ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускоренной интеграции образовательных организаций ДНР, ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Донецкие школьники прошли подготовку с&nbsp;помощью центра &laquo;IT-куб&raquo; Княгинино (Нижегородская область) и&nbsp;теперь готовы подтвердить свои знания.

      img.mb4( src='./assets/data/images/news/2024/10-09/12.webp' loading='lazy')

      p Современное образование неразрывно связано со&nbsp;здоровым образом жизни. Организаторы мероприятия подготовили для&nbsp;юных айтишников несколько увлекательных спортивных активностей, а&nbsp;также пешую экскурсию по&nbsp;Нижнему Новгороду. II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; продолжает свою работу: участников мероприятия ждут и&nbsp;другие интересные события.
