article.news_one__article#news_08-08-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 Экспертиза заявок участников I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей
      span.wwnow &laquo;IT&ndash;куб&raquo;
      | завершилась
   img.mb4( src='./assets/data/images/news/2023/08-08-2023.jpg' loading='lazy')
   .text-22
      i.mb3 Жюри приступает к&nbsp;подсчёту баллов за&nbsp;конкурсные материалы.
      p Конкурсная комиссия включает в&nbsp;себя представителей государственных учреждений и&nbsp;IT&ndash;компаний: подведомственных организаций Министерства просвещения Российской Федерации, а&nbsp;также Ассоциации разработчиков программных продуктов &laquo;Отечественный софт&raquo;, компаний &laquo;Киберпротект&raquo;, &laquo;Varwin&raquo;, &laquo;РЕД&nbsp;Софт&raquo; и&nbsp;других.
      p До&nbsp;10&nbsp;августа жюри определит 20&nbsp;полуфиналистов, которые пройдут в&nbsp;очный тур конкурса. Их имена будут опубликованы на&nbsp;
         a( href='https://it-cube.ficto.ru/teacher_competition.html' target='_blank' title='it-cube.ficto.ru/teacher_competition' ).inline-block.hover.mr официальной странице конкурса
         | . Остальные конкурсанты получат сертификаты участников.
      p.mt3 I&nbsp;Всероссийский конкурс педагогов Центров цифрового образования детей &laquo;IT-куб&raquo; проходит в&nbsp;пяти номинациях:
      p.ml2
         b.mr1 &laquo;Программирование&raquo;
         | (программирование роботов, программирование на&nbsp;Python, программирование на&nbsp;Java);
      p.ml2
         b.mr1 &laquo;Разработка приложений&raquo;
         | (мобильная разработка, разработка VR/AR&ndash;приложений);
      p.ml2
         b &laquo;Системное администрирование&raquo;;
      p.ml2
         b &laquo;Кибергигиена и&nbsp;работа с&nbsp;большими данными&raquo;;
      p.ml2
         b &laquo;Алгоритмика и&nbsp;логика&raquo;

      //p Очный этап конкурса пройдёт в&nbsp;сентябре 2023&nbsp;года.
      p.mt3 Организация и&nbsp;проведение I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo; осуществляется в&nbsp;рамках реализации Национального проекта &laquo;Образование&raquo; и&nbsp;концепции достижения технологического суверенитета страны.
      p С&nbsp;подробной информацией о&nbsp;Конкурсе, в&nbsp;том числе с&nbsp;Положением о&nbsp;его проведении, можно ознакомиться на&nbsp;
         a( href='https://it-cube.ficto.ru/teacher_competition.html' target='_blank' title='it-cube.ficto.ru/teacher_competition' ).inline-block.hover официальном информационном ресурсе Центров цифрового образования детей &laquo;IT-куб&raquo;
         | .
