article.news_one__article#news_27-05-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Обучающиеся Центра &laquo;IT-куб. Болохово&raquo; разработали мобильное приложение для&nbsp;&laquo;Генической школы &#8470;1&raquo;
   img.mb4( src='./assets/data/images/news/2025/05.27/1.webp' loading='lazy')
   .text-22
      p Обучающиеся Центра &laquo;IT-куб. Болохово&raquo; в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo; разработали мобильное приложение для&nbsp;ГБОУ Херсонской области &laquo;Геническая школа &#8470;1&raquo;.
      p.mb4 Приложение полностью повторяет функционал официального сайта Генической школы и&nbsp;имеет более интуитивный и&nbsp;адаптированный под&nbsp;мобильные устройства интерфейс, за&nbsp;счёт этого пользователи смогут в&nbsp;любой момент получать актуальные новости и&nbsp;расписание занятий.

      img.mb4( src='./assets/data/images/news/2025/05.27/2.webp' loading='lazy')

      p Обучающиеся Центра &laquo;IT-куб&raquo; создали приложение под&nbsp;руководством ведущего программиста ООО &laquo;ГлоуБайт&raquo; Владимира Щеглова и&nbsp;сотрудника Центра Надежды Павловой.


      p.mb4 Торжественная церемония передачи мобильного приложения прошла в&nbsp;дистанционном формате 27 мая.

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2025/05.27/4.webp' loading='lazy')
         img( src='./assets/data/images/news/2025/05.27/3.webp?v=2' loading='lazy')


      .italic
         strong Справочно
         p Проект &laquo;Цифровое наставничество&raquo; запущен ФГАНУ &laquo;ФИЦТО&raquo; как федеральным оператором центров &laquo;IT-куб&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. В&raquo;настоящее время к&nbsp;проекту уже присоединился ряд образовательных организаций ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
