article.news_one__article#news_26-04-2024
   .news_one__date.mb4.text-22
   h1.title.mb4 Опубликован Календарь рекомендованных региональных мероприятий Центров цифрового образования детей &laquo;IT-куб&raquo;
   img.mb5( src='../assets/data/images/news/2024/26.04.2024.webp' )
   .text-22
      p Федеральный оператор Центров &laquo;IT-кубов&raquo;, ФГАНУ &laquo;ФИЦТО&raquo;, опубликовал Календарь рекомендованных региональных мероприятий Центров &laquo;IT-куб&raquo;, основной задачей которого является улучшение межрегионального взаимодействия между обучающимися и&nbsp;педагогами Центров со&nbsp;всей страны. Было обработано множество заявок с&nbsp;конкурсами, хакатонами и&nbsp;олимпиадами, организаторами которых являются различные региональные &laquo;IT-кубы&raquo;.
      p.mt2.ml1.mb06 По&nbsp;итогам экспертизы в&nbsp;Календарь включены следующие мероприятия:
      .mb1.ml2
         b Всероссийский конкурс по&nbsp;системному администрированию и&nbsp;информационной безопасности &laquo;Uptime&raquo;, 20.04.2024&nbsp;&mdash; 15.05.2024
         |  (Республика Северная Осетия&nbsp;&mdash; Алания)
      .mb1.ml2
         b Хакатон по&nbsp;информационной безопасности &laquo;ИТ-вызов&raquo;, 17.06.2024&nbsp;&mdash; 24.08.2024
         |  (Удмуртская Республика)
      .mb1.ml2
         b Хакатон по&nbsp;виртуальной и&nbsp;дополненной реальности &laquo;PRO VR&raquo;, 01.10.2024&nbsp;&mdash; 10.11.2024
         |  (Оренбургская область)
      .mb1.ml2
         b Всероссийский научно&ndash;технический хакатон по&nbsp;программированию &laquo;Minin Code&raquo;, 14.10.2024&nbsp;&mdash; 29.11.2024
         |  (Нижегородская область)
      .mb1.ml2
         b Олимпиада по&nbsp;программированию &laquo;CodeMaster Challenge&raquo;, 25.11.2024&nbsp;&mdash; 13.12.2024
         |  (Воронежская область)

      p.mt3 Календарь позволяет обеспечить эффективность всех мероприятий по&nbsp;выявлению талантливых детей, организацию массового вовлечения обучающихся в&nbsp;исследовательскую деятельность и&nbsp;научно&ndash;техническое творчество для&nbsp;их будущего профессионального самоопределения.


      p.mt2 Подробнее с&nbsp;Календарём региональных мероприятий можно ознакомиться здесь:&nbsp;
         a( href='https://it-cube.ficto.ru/assets/data/files/documentation/Kalendar_rekomendovannykh_regionalnykh_meropriyatiy_TSTSOD_IT_kub_2024.pdf' target='_blank').hover календарь рекомендованных региональных мероприятий центров цифрового образования детей &laquo;IT-куб&raquo; (pdf)
