article.news_one__article#news_22-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центр «ТЕХНО-IT-куб» в&nbsp;Хабаровске стал площадкой для отбора будущих инженеров Дальнего Востока
   +image( '12.22', '0', 'mb4', '© Центр «ТЕХНО-IT-куб. Хабаровск»')
   .text-22
      p В ноябре стартовала регистрация на региональный этап Всероссийского профориентационного конкурса с международным участием «Инженерные кадры России» (ИКаР), который завершится очным этапом соревнований 13 февраля 2026 года.
      p Центр технического и цифрового образования «ТЕХНО-IT-куб» КГАОУ ДО РМЦ (Хабаровский край) в третий раз принимает региональный этап ИКаР. Современная образовательная площадка, оснащённая высокотехнологичным оборудованием, станет местом подготовки команд, которые поборются за право на участие на всероссийском финале в Челябинске в мае 2026 года

      .mb4.italic
         p Всероссийский профориентационный конкурс с международным участием «Инженерные кадры России» проводится с 2014 года и ежегодно входит в перечень мероприятий Минпросвещения РФ. Соревновательный сезон 2025-2026 включает три этапа: муниципальный, региональный и всероссийский с международным участием.

      +image( '12.22', '1', 'mb4', '© Центр «ТЕХНО-IT-куб. Хабаровск»')

      p.quote «Развитие робототехники в Хабаровском крае играет ключевую роль в формировании технологического будущего региона и всей страны. Привлечение детей к изучению основ робототехники способствует раннему выявлению талантов и развитию критического мышления, творческих способностей и навыков решения сложных инженерных задач. —
         b  отмечает Елена Хорошилова, директор Центра «ТЕХНО-IT-куб. Хабаровск»
         | . — Участие наших ребят в региональных этапах всероссийских конкурсов, таких как «Инженерные кадры России», помогает не только приобрести знания и опыт в реальных условиях, но и сформировать конкурентные преимущества среди сверстников, подготовиться к будущей профессиональной деятельности в высокотехнологичных отраслях экономики края и страны. Именно такие инициативы позволяют создавать условия для дальнейшего продвижения инноваций и разработки новых решений, востребованных на рынке труда и необходимых для устойчивого социально-экономического роста Дальнего Востока России».

      p.mt4.mb2 Региональный этап проводится по четырём номинациям для детей от 5 до 18 лет и включает:
      .ml2.mb4
         p.news_point «ИКаРёнок» (5-7 лет)
         p.news_point «ИКаР-СТАРТ» (8-10 лет)
         p.news_point «ИКаР-ДЕБЮТ» (11 – 14 лет)
         p.news_point «ИКаР-ПРОФИ-АГРОТЕХ» (11-18 лет)

      p.quote «ИКаР организуется Региональным модельным центром ежегодно с целью развития интереса и подготовки подрастающего поколения к выбору технических направлений и инженерных профессий. Участвовать приглашены педагогические работники, дети дошкольного возраста, школьники младших классов, учащиеся дополнительного образования и студенты средних специальных учебных заведений в возрасте от 5 до 18 лет вместе с родителями. В рамках мероприятия предусмотрено проведение четырёх номинаций, каждая из которых направлена на развитие творческого потенциала», —
         b подчёркивает методист Центра «ТЕХНО-IT-куб. Хабаровск» Ольга Цекунова
         | .

      p.mt4 Участие в таких конкурсах помогает детям не только приобрести знания, но и сформировать конкурентные преимущества для будущей профессиональной деятельности.
