article.news_one__article#news_09-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Четвёртый сезон инклюзивного конкурса &laquo;Проектор&raquo; стартовал в&nbsp;Смоленске
   +image( '12.09', '0', 'mb4', '© Центр «IT-куб. Смоленск»')
   .text-22
      p В Смоленске стартовал четвёртый сезон инклюзивного конкурса проектных и&nbsp;исследовательских работ &laquo;Проектор&raquo;. В&nbsp;этом году площадкой для его проведения стал Центр цифрового образования детей &laquo;IT-куб. Смоленск&raquo;, который с&nbsp;первого сезона является постоянным партнёром инициативы.
      p.mb4 Конкурс &laquo;Проектор&raquo; проводится для подростков с&nbsp;ограниченными возможностями здоровья (ОВЗ) и&nbsp;инвалидностью в&nbsp;возрасте от&nbsp;12 до&nbsp;18 лет. Его цель&nbsp;&mdash; не&nbsp;просто выбрать лучшие работы, а&nbsp;создать среду для мотивации, творческой реализации и&nbsp;помощи в&nbsp;профессиональном самоопределении детей с&nbsp;особыми образовательными потребностями.
      +image( '12.09', '1', 'mb4', '© Центр «IT-куб. Смоленск»')

      .mb4.italic
         p Конкурс реализуется совместно с&nbsp;АНО &laquo;Центр развития социальных и&nbsp;просветительских инициатив&raquo; уже несколько лет. В&nbsp;2024 году проект подтвердил свой высокий статус, став победителем регионального этапа Всероссийской премии #МЫВМЕСТЕ и&nbsp;войдя в&nbsp;топ-1000 лучших социальных инициатив страны.


      p.mb2
         b Татьяна Кудрявцева, руководитель центра &laquo;IT-куб. Смоленск&raquo;:

      p.mb4.quote Вот уже несколько лет мы сотрудничаем с&nbsp;преподавателями и&nbsp;учениками Центра образования для детей с&nbsp;особыми образовательными потребностями города Смоленска. Мы искренне убеждены, что&nbsp;каждый ребёнок заслуживает равных возможностей и&nbsp;права проявить себя в&nbsp;творчестве и&nbsp;науке. Именно поэтому в&nbsp;стенах нашего Центра проводятся инклюзивные мероприятия и&nbsp;обучаются ребята с&nbsp;ограниченными возможностями здоровья. Мы считаем очень важным проведение конкурсов и&nbsp;фестивалей для особенных детей!
         br
         br
         | Мы стали партнёрами конкурса &laquo;Проектор&raquo; в&nbsp;момент его создания. Наши педагоги принимали непосредственное участие в&nbsp;организации первого сезона конкурса, выступая в&nbsp;роли экспертов по&nbsp;направлению &laquo;IT-технологии&raquo;. Впоследствии наш Центр стал площадкой проведения торжественной церемонии награждения победителей последующих сезонов.
         br
         br
         | Это уникальный опыт взаимодействия талантливых детей, удивительных исследователей и&nbsp;неравнодушных преподавателей, открывающих перед всеми участниками дорогу к&nbsp;новым научным открытиям и&nbsp;творчеству. Мы гордимся возможностью поддерживать организаторов конкурса и&nbsp;вдохновлять юных учёных!

      p Проведение таких конкурсов полностью соответствует принципам инклюзивного образования, которые поддерживает Министерство просвещения РФ. В&nbsp;ведомстве подчёркивают, что инклюзия&nbsp;&mdash; это не&nbsp;просто зачисление ребёнка с&nbsp;ОВЗ в&nbsp;класс, а&nbsp;создание всех специальных условий для его успешного развития. Ежегодно Минпросвещения проводит обучающие мероприятия для педагогов и&nbsp;администраторов по&nbsp;организации качественного инклюзивного образования.

      .italic
         p Организаторами конкурса выступают Автономная некоммерческая организация &laquo;Центр развития социальных и&nbsp;просветительских инициатив&raquo; и&nbsp;ОГБОУ &laquo;Центр образования для подростков с&nbsp;особыми образовательными потребностями г.&nbsp;Смоленска&raquo;.
         p Центры цифрового образования детей &laquo;IT-куб&raquo; были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo; при&nbsp;поддержке Министерства просвещения Российской Федерации.
