article.news_one__article#news_24-04-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Обучающиеся центров &laquo;IT&#8209;куб&raquo; стали победителями и&nbsp;призёрами Всероссийского конкурса ИКаР
   img.mb4( src='./assets/data/images/news/2025/04.24/0.webp' )
   .text-22

      p В&nbsp;XI Всероссийском профориентационном технологическом конкурсе &laquo;Инженерные кадры России&raquo; (ИКаР) приняли участие более 650 юных робототехников, программистов и&nbsp;инженеров из&nbsp;47 регионов России, а&nbsp;также Казахстана, Таджикистана и&nbsp;Киргизии. По итогам финальных испытаний в&nbsp;число победителей и&nbsp;призёров соревнования вошли воспитанники центров цифрового образования детей &laquo;IT-куб&raquo;.

      p Защита проектов проводилась в&nbsp;восьми номинациях. Конкурсантами стали команды центров &laquo;IT-куб&raquo; Алтайского края, Амурской, Липецкой, Свердловской, Челябинской, Омской, Рязанской областей и&nbsp;Санкт-Петербурга. Ребята представили свои проекты, работа над которыми велась в&nbsp;течение года, и&nbsp;продемонстрировали функционирование своих изобретений.

      p.mb4 Три первых места в&nbsp;номинации &laquo;Взаимодействие c&nbsp;предприятием&raquo; в&nbsp;категориях &laquo;ИКаР-ТЕХНО-КОД&raquo;, &laquo;Оформление проекта&raquo;, &laquo;ИКаР-СТАРТ&raquo;, а&nbsp;также в&nbsp;номинации &laquo;Паспорт проекта&raquo; (категория &laquo;ИКаР-ПРОФИ-АГРОТЕХ&raquo;) получили команды Центра &laquo;IT-куб. Сатка&raquo; (Челябинская область).

      img.mb4( src='./assets/data/images/news/2025/04.24/1.webp' )

      p.mb4.quote &laquo;Наш проект направлен на&nbsp;улучшение микроклимата в&nbsp;школьных классах c&nbsp;использованием передовых технологий. Это комплексная система из&nbsp;множества датчиков и&nbsp;устройств, которая может значительно улучшить качество микроклимата в&nbsp;учебных кабинетах. Проект поможет школам эффективнее контролировать микроклимат, что приведёт к&nbsp;повышению успеваемости и&nbsp;концентрации учеников. Кроме того, это позволит экономить на&nbsp;отоплении и&nbsp;электроэнергии&raquo;, – прокомментировал участник конкурса и&nbsp;обучающийся Центра &laquo;IT-куб. Сатка&raquo; Сергей Бойко.

      p Команда Центра &laquo;IT-куб. Белогорск&raquo; (Амурская область) стала победителем в&nbsp;номинации &laquo;Юный инженер&raquo; (категория &laquo;ИКаР-КЛАССИК&raquo;). Как отметил наставник команды, педагог дополнительного образования направления &laquo;Программирование роботов&raquo; Сергей Кошевой, участие в&nbsp;региональном и&nbsp;финальном этапах конкурса и&nbsp;возвращение домой c&nbsp;победой&nbsp;&mdash; это большая удача и&nbsp;огромный труд:

      p.mb4.quote В&nbsp;этот раз наше участие вышло спонтанным, поэтому в&nbsp;проекте есть некоторые недоработки. Однако мы уже составили план по их устранению и&nbsp;планируем принять участие в&nbsp;следующем году, подготовившись более основательно.

      img.mb4( src='./assets/data/images/news/2025/04.24/2.webp' )

      p В&nbsp;целом впечатления от&nbsp;конкурса остались исключительно положительные и&nbsp;вдохновляющие. Мы получили ценный опыт, познакомились c&nbsp;талантливыми участниками со всей России и&nbsp;узнали много нового о&nbsp;современных инженерных решениях. Ребята поняли, что не&nbsp;сдаваться и&nbsp;покорять новые вершины, тестировать и&nbsp;испытывать свои изобретения&nbsp;&mdash; это и&nbsp;есть кредо настоящего инженера. Однозначно будем участвовать в&nbsp;следующем году!&raquo;

      p.mb4 Центр &laquo;IT-куб. Липецк&raquo; (Липецкая область) завоевал 2-е место в&nbsp;номинации &laquo;Абсолютный победитель&raquo; (категория &laquo;ИКаР-КЛАССИК&raquo;). Также ребята одержали победу в&nbsp;номинации &laquo;Работа модели&raquo; (категория &laquo;ИКаР-ДЕБЮТ&raquo;).

      img.mb4( src='./assets/data/images/news/2025/04.24/3.webp' )

      p.mb4 Ребята из&nbsp;Центра &laquo;IT-куб. Барнаул&raquo; (Алтайский край) в&nbsp;рамках конкурса собрали беспилотный летательный аппарат. Они стали обладателями 1-го места за&nbsp;сложность разработки в&nbsp;категории &laquo;ИКаР-БАС&raquo;. Воспитанники центра, собравшие производственную линию &laquo;СибЭм-БКЗ&raquo; из&nbsp;конструкторов Lego c&nbsp;собственной доработкой, заняли 3-е место в&nbsp;категории &laquo;ИКаР-КЛАССИК&raquo;.

      img.mb4( src='./assets/data/images/news/2025/04.24/4.webp' )

      p.mb4 Обучающиеся Центра &laquo;IT-куб. Уралмаш&raquo; (Екатеринбург, Свердловская область) в&nbsp;рамках конкурсных заданий подготовили и&nbsp;испытали гоночный робот, а&nbsp;также смогли восстановить нерабочую конструкцию. После успешного прохождения испытаний команда была удостоена 3-го места в&nbsp;номинации &laquo;Абсолютный победитель&raquo; (категория &laquo;ИКаР-СТАРТ&raquo;).

      img.mb4( src='./assets/data/images/news/2025/04.24/5.webp' )


      p.mb4 &laquo;Участие в&nbsp;конкурсе позволило ребятам получить бесценный опыт разработки и&nbsp;защиты проекта, а&nbsp;также взаимодействия c&nbsp;производственным партнёром. К тому же масштаб мероприятия был на&nbsp;высоком уровне – конкуренция не&nbsp;только c&nbsp;участниками из&nbsp;других городов России, но и&nbsp;из&nbsp;стран СНГ. Мы работали над кейсом нашего партнёра УЭТМ (&laquo;Уралэлектротяжмаш&raquo;)&nbsp;&mdash; создавали макет автоматизированной системы сборки магнитопровода трансформатора c&nbsp;помощью наборов Lego. Благодаря усердию команды и&nbsp;поддержке инициативных родителей мы вернулись c&nbsp;победой&raquo;,&nbsp;&mdash; отметил педагог и&nbsp;тренер команды Василий Портнягин.

      img.mb4( src='./assets/data/images/news/2025/04.24/6.webp' )

      p В&nbsp;том числе в&nbsp;мероприятии приняли участие обучающиеся Центра &laquo;IT-куб. Санкт-Петербург&raquo;. Их команда представила на&nbsp;конкурсе робота для&nbsp;проведения подводных работ. На&nbsp;всероссийском финале конкурса &laquo;ИКАР&raquo; проект ребят стал абсолютным победителем в&nbsp;категории &laquo;ИКаР Техно-Код&raquo;, заняв там второе место.

      p Команда учащихся &laquo;IT-куб. Рязань&raquo; создала робота для&nbsp;мониторинга и&nbsp;предотвращения утечек воды и&nbsp;нефтепродуктов на&nbsp;предприятиях нефтегазового комплекса. Разработка ребят&nbsp;&mdash; автономная система мониторинга и&nbsp;реагирования на&nbsp;аварийные ситуации&nbsp;&mdash; была представлена в&nbsp;категории &laquo;ИКАР-ДЕБЮТ&raquo;.

      p.mb4 Свои технические решения в&nbsp;конкурсе показали даже самые юные инженеры, которые участвовали в&nbsp;категории &laquo;ИКаРёнок&raquo; c&nbsp;5 до&nbsp;7 лет. Так, ребята из&nbsp;Центра &laquo;IT-куб. Омск&raquo; создали прототип автоматизированного токарного станка для&nbsp;ООО &laquo;ПО Спецдеталь&raquo;. Таким образом ребята решили помочь предприятию в&nbsp;импортозамещении токарных станков c&nbsp;ЧПУ (числовым программным управлением).

      img( src='./assets/data/images/news/2025/04.24/7.webp' )

      .italic
         strong Справочно
         p Всероссийский профориентационный технологический конкурс &laquo;Инженерные кадры России&raquo; направлен на&nbsp;популяризацию научно-технического направления и&nbsp;инженерных профессий. Состязание повышает интерес молодёжи к&nbsp;инженерным специальностям и&nbsp;предприятиям своего региона, а&nbsp;также обеспечивает быструю адаптацию будущих кадров на&nbsp;производстве.
         p Его организаторами выступают Ассоциация работников и&nbsp;организаций, использующих конструкторы образовательной робототехники в&nbsp;учебно-воспитательном процессе (РАОР), Министерство образования и&nbsp;науки Челябинской области и&nbsp;ГБУ ДО &laquo;Дом юношеского технического творчества Челябинской области&raquo; при поддержке Губернатора Челябинской области.


