article.news_one__article#news_01-07-2024
   .news_one__date.mb2.text-22
   h1.title.mb4 Стартовал тренировочный этап Всероссийской олимпиады по&nbsp;искусственному интеллекту 2024&nbsp;года от&nbsp;Минпросвещения России
   img.mb4( src='./assets/data/images/news/2024/2024-07-01.webp' )
   .text-22
      i.mb2 Мероприятие проводится для&nbsp;учеников 8-11&nbsp;классов, желающих углубить свои знания в&nbsp;информатике и&nbsp;математике.

      p Начался тренировочный этап Всероссийской олимпиады по&nbsp;искусственному интеллекту 2024&nbsp;года. Организатором мероприятие является Министерство просвещения Российской Федерации. Партнёрами Олимпиады являются: отечественные лидеры цифровой трансформации, ведущие вузы и&nbsp;учебные заведения России.
      p Участниками мероприятия являются ученики 8-11&nbsp;классов, желающие развить свои навыки программирования и&nbsp;углубить познания в&nbsp;информатике и&nbsp;математике. Активно участвуют в&nbsp;мероприятии обучающиеся Центров &laquo;Точки роста&raquo;, школьных &laquo;Кванториумов&raquo; и&nbsp;Центров цифрового образования детей &laquo;IT-куб&raquo;.
      p Знаковым моментом стала церемония открытия Олимпиады, которая состоялась 1&nbsp;июля 2024&nbsp;года в&nbsp;онлайн-формате на&nbsp;площадке Центра &laquo;IT-куб. Электросталь&raquo; (Московская область). Участие Центров &laquo;IT-куб&raquo; во&nbsp;Всероссийской олимпиаде по&nbsp;искусственному интеллекту осуществляется под&nbsp;эгидой федерального оператора&nbsp;&mdash; ФГАНУ &laquo;ФИЦТО&raquo;.
      p Открыли мероприятие директор Департамента цифровой трансформации и&nbsp;больших данных Минпросвещения России Андрей Горобец и&nbsp;проректор по&nbsp;научной работе Государственного университета просвещения Дмитрий Куликов. Они поприветствовали участников Олимпиады и&nbsp;преподавателей, призвав их к&nbsp;активному освоению технологий искусственного интеллекта.
      p Об условиях участия в&nbsp;тренировочном этапе Олимпиады и&nbsp;регистрации на&nbsp;сайте мероприятия рассказал руководитель направления ИТ-чемпионатов и&nbsp;онлайн-платформы All&nbsp;Cups ООО&nbsp;&laquo;ВК&raquo; Роман Чудин. Победитель Олимпиады 2023&nbsp;года Илья Гринюк поделился своими впечатлениями от&nbsp;мероприятия прошлого года и&nbsp;пожелал победы участникам этого года.
      p Зарегистрироваться на&nbsp;тренировочный этап Олимпиады можно по&nbsp;ссылке на&nbsp;официальном сайте мероприятия:&nbsp;
         a( href='https://ai.edu.gov.ru/' target='_blank' aria-label='открыть в новой вкладке сайт ai.edu.gov.ru') https://ai.edu.gov.ru/
         | . Участникам тренировочного этапа доступны задания прошлых лет, онлайн-занятия для&nbsp;подготовки к&nbsp;каждому этапу и&nbsp;консультационная поддержка на&nbsp;протяжении всей Олимпиады.
      p Тренировочный этап Олимпиады продлится до&nbsp;9 сентября, отборочный этап пройдёт 1–6&nbsp;октября, основной этап пройдёт 16–19&nbsp;октября, и, наконец, заключительный этап Олимпиады состоится 11–15&nbsp;ноября.

      strong Справочно
      p Проведение Всероссийской олимпиады по&nbsp;искусственному интеллекту направлено на&nbsp;выявление и&nbsp;развития у&nbsp;учащихся интеллектуальных и&nbsp;творческих способностей, повышение познавательного интереса к&nbsp;технологиям искусственного интеллекта, создание условий для&nbsp;поддержки одарённых детей и&nbsp;содействие в&nbsp;профессиональной ориентации.
      p Целью проведения тренировочного этапа Олимпиады является приобретение участниками опыта работы с&nbsp;различными алгоритмами и&nbsp;методами искусственного интеллекта и&nbsp;подготовка к&nbsp;участию в&nbsp;основных этапах соревнования. Тренировочные задания направлены на&nbsp;поиск нестандартных решений в&nbsp;области разработки и&nbsp;применения интеллектуальных алгоритмов и&nbsp;моделей обработки больших данных.
      p В 2023 году во&nbsp;Всероссийской олимпиаде по&nbsp;искусственному интеллекту приняли участие почти 16&nbsp;тыс.&nbsp;обучающихся. В&nbsp;заключительный этап прошло 50&nbsp;человек. Призёры Олимпиады получают преимущество при&nbsp;поступлении в&nbsp;ведущие вузы России.

