article.news_one__article#news_22-05-2024_2
   .news_one__date.mb4.text-22
   h1.title.mb4 На&nbsp;втором Окружном совещании в&nbsp;Грозном прошёл круглый стол &laquo;IT: соперничество или&nbsp;сотрудничество?&raquo;
   img.mb5( src='../assets/data/images/news/24_meeting/22.05_kryg_stol.webp' )
   .text-22
      p На&nbsp;втором Окружном совещании для&nbsp;руководителей Центров &laquo;IT-куб&raquo; &laquo;Поиск решений&raquo; в&nbsp;Грозном прошёл круглый стол на&nbsp;тему: &laquo;IT: соперничество или&nbsp;сотрудничество?&raquo;.
      p В&nbsp;мероприятии участвовали представители технопарка Чеченского государственного университета Рамзан Садыков, Хайпарка Грозненского государственного нефтяного технического университета Али Тасуев, дубайской IT-компании &laquo;Farcana&raquo; Юсуп Ибрагимов, а&nbsp;также руководители Центров &laquo;IT-куб&raquo; Северо-Кавказского, Приволжского и&nbsp;Южного федеральных округов.
      p На&nbsp;круглом столе подробно обсуждались вопросы сотрудничества Центров &laquo;IT-куб&raquo; с&nbsp;IT-компаниями и&nbsp;организациями профессионального образования, проблемы кадрового дефицита и&nbsp;состояния рынка труда в&nbsp;IT-сфере, а&nbsp;также методологические аспекты мотивации участия детей в&nbsp;олимпиадах, конкурсах и&nbsp;хакатонах.
      p Участниками была выделена роль Центров цифрового образования детей &laquo;IT-куб&raquo; по&nbsp;выработке инструментов ранней профориентации обучающихся и&nbsp;построения траектории их развития.
