article.news_one__article#news_27-04-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 На&nbsp;первом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили форматы поддержки центров &laquo;IT-куб&raquo; в&nbsp;2023 году
   img.mb4( src='./assets/data/images/news/common.webp' )
   .text-22
      p 26 апреля 2023 года состоялся онлайн&ndash;семинар для&nbsp;педагогов и&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo;. Это первое регулярное мероприятие такого рода, направленное на&nbsp;систематизацию работы центров и&nbsp;поддержку их работы на&nbsp;всероссийском уровне.
      p Открывая семинар, начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; (ФГАНУ &laquo;ФИЦТО&raquo;)&nbsp;&mdash; Даниил Артёмович Суханов, поделился с&nbsp;участниками основными направлениями проведения очных и&nbsp;онлайн&ndash;мероприятий по&nbsp;поддержке Центров в&nbsp;2023 году. Они включают в&nbsp;себя комплекс просветительских и&nbsp;популяризационных мероприятий, а&nbsp;также технологическое обеспечение работы Центров &laquo;IT-куб&raquo;. Важную роль в&nbsp;этих мероприятиях играют онлайн&ndash;семинары &laquo;IT в&nbsp;кубе&raquo;, которые будут проводиться на&nbsp;ежемесячной основе.
      p В&nbsp;своём выступлении начальник управления методологии и&nbsp;экспертно&ndash;организационного сопровождения проектной деятельности центра информационно-аналитического и&nbsp;проектного сопровождения ФГАУ &laquo;Центр просветительских инициатив Министерства просвещения Российской Федерации&raquo; Михаил Владимирович Воробьёв рассказал о&nbsp;направлениях сотрудничества Центров &laquo;IT-куб&raquo; с&nbsp;центрами &laquo;Точка роста&raquo; и&nbsp;детскими технопарками &laquo;Кванториум&raquo;. Здесь главной точкой соприкосновения является изучение информатики и&nbsp;информационных технологий.
      p Руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo; Софья Андреевна Заика поделилась актуальной статистикой по&nbsp;направлению дополнительного образования, собранной единой автоматизированной системой ЕАИС ДО. В&nbsp;частности, внимания требует процесс верификации Центров &laquo;IT-куб&raquo;, созданных в&nbsp;рамках реализации Национального проекта &laquo;Образование&raquo;.
      p Об информационной безопасности в&nbsp;сфере образования участникам семинара рассказал советник ФГАНУ &laquo;ФИЦТО&raquo; Денис Юрьевич Боков. Он не&nbsp;только осветил основные направления государственной политики в&nbsp;сфере защиты информации, но&nbsp;и&nbsp;акцентировал внимание присутствующих на&nbsp;практические примеры применения средств информационной защиты, доступные в&nbsp;том числе Центрам &laquo;IT-куб&raquo;.
      p Региональным опытом встраивания Центров &laquo;IT-куб&raquo; в&nbsp;социально-экономические процессы региона поделилась Оксана Васильевна Щелчкова, директор АНО &laquo;Центр цифрового образования детей &laquo;IT-куб&raquo;, находящегося в&nbsp;городе Ижевск (Удмуртская Республика).
      p
         a( href='https://vk.com/video-216917614_456239028' target='_blank').hover.mr Запись семинара
         | с&nbsp;выступлениями всех спикеров доступна по&nbsp;ссылке в&nbsp;официальном сообществе ФГАНУ &laquo;ФИЦТО&raquo; во&nbsp;Вконтакте.
      p Напоминаем, что онлайн-семинары &laquo;IT в&nbsp;кубе&raquo; для&nbsp;педагогов и&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; проводятся с&nbsp;апреля 2023 года в&nbsp;ежемесячном формате.
      strong.mt4 Справочно
      p В&nbsp;соответствии с&nbsp;
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank').hover.mr методическими рекомендациями от&nbsp;2023 года
         | Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo; Министерством просвещения Российской Федерации определено ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;.

