article.news_one__article#news_03-06-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Подведены итоги финала чемпионата &laquo;Профессионалы&raquo;
   img.mb4( src='./assets/data/images/news/2025/06.03/1.webp' loading='lazy')
   .text-22
      p В&nbsp;Нижнем Новгороде подвели итоги финала Всероссийского чемпионата по&nbsp;профессиональному мастерству &laquo;Профессионалы&raquo; по&nbsp;компетенциям креативных индустрий и&nbsp;информационных технологий.
      p.mb4 В&nbsp;торжественной церемонии награждения приняли участие вице-премьер Дмитрий Чернышенко, Министр просвещения Сергей Кравцов, губернатор Нижегородской области Глеб Никитин.

      img.mb4( src='./assets/data/images/news/2025/06.03/2.webp' loading='lazy')

      p.mb1
         b Дмитрий Чернышенко огласил приветствие Председателя Правительства Михаила Мишустина:

      p.quote На&nbsp;уникальной площадке федерального технопарка студенты колледжей, техникумов и&nbsp;школьники смогли продемонстрировать своё мастерство, умение решать задачи любой сложности.
         br
         br
         | Отличная подготовка, сильный характер позволили вам обойти соперников, доказать, что вы&nbsp;&mdash; лучшие в&nbsp;своём деле

      p Вице-премьер в&nbsp;свою очередь поздравил победителей и&nbsp;отметил, что победители конкурса являются ориентиром, и&nbsp;ими гордится страна.
      p.mb4 В&nbsp;2025 году в&nbsp;Нижнем Новгороде соревнования проводились по&nbsp;15&nbsp;компетенциям, десять из&nbsp;которых стали новыми для финала.

      img.mb4( src='./assets/data/images/news/2025/06.03/3.webp' loading='lazy')

      p.mb1 Поздравление победителям и&nbsp;слова благодарности их наставникам и&nbsp;учителям выразил
         b  глава Минпросвещения России Сергей Кравцов:

      p.quote Здесь присутствуют также представители ваших будущих работодателей&nbsp;&mdash; крупных предприятий. Они смотрят и&nbsp;выбирают лучших из лучших&raquo;,&nbsp;&mdash; отметил Министр просвещения
      p В&nbsp;основном зачёте соревновались студенты колледжей и&nbsp;техникумов (категория &laquo;Основная&raquo;), школьники в&nbsp;возрасте от&nbsp;14&nbsp;лет (категория &laquo;Юниоры&raquo;). Молодые специалисты профильных индустрий соревновались в&nbsp;индустриальном зачёте, представители иностранных государств&nbsp;&ndash; в&nbsp;международном. В&nbsp;юниорском и&nbsp;основном зачёте победителями стали 24&nbsp;участника, 48&nbsp;&mdash; призёрами.
      p.mb4 В&nbsp;число победителей вошёл обучающийся Центра &laquo;IT-куб. Липецк&raquo; Илья Федосенко. Он занял первое место в&nbsp;индивидуальном зачёте в&nbsp;компетенции &laquo;Веб-технологии. Юниоры&raquo; под&nbsp;руководством наставника Александра Булохова.

      img.mb4( src='./assets/data/images/news/2025/06.03/4.webp' loading='lazy')

      p
         b Илья Федосенко поделился,
         |  что информационными технологиями интересовался с&nbsp;детства, а&nbsp;первый С-подобный язык программирования освоил уже в&nbsp;10 лет.

      p.mb4.quote &laquo;Участие в&nbsp;чемпионате &laquo;Профессионалы&raquo; для меня&nbsp;&mdash; большая радость, ведь этот конкурс&nbsp;&mdash; один из&nbsp;самых масштабных в&nbsp;нашей стране
         br
         br
         | Приняв участие в&nbsp;межрегиональном этапе и&nbsp;заняв первое место, я получил огромное удовольствие от&nbsp;участия в&nbsp;конкурсе. Понимание того, что ты лучший, не&nbsp;сравнится ни&nbsp;с&nbsp;чем&raquo;,&nbsp;&mdash; поделился обучающийся Центра &laquo;IT-куб. Липецк&raquo;.

      img.mb4( src='./assets/data/images/news/2025/06.03/5.webp' loading='lazy')

      p
         b Его наставник, педагог дополнительного образования Александр Булохов
         | , рассказал, что о&nbsp;чемпионатном движении узнал четыре года назад и&nbsp;сразу понял ценность данного мероприятия.
      p.quote &laquo;Я горжусь своим учеником, его мотивацией, уровнем знаний и&nbsp;навыков. Уверен, что в&nbsp;свои 15&nbsp;лет Илья уже способен пройти собеседование в&nbsp;любой ИТ-компании&raquo;,&nbsp;&mdash; подчеркнул Александр Булохов.
      p Организатор чемпионата&nbsp;&mdash; Минпросвещения России при&nbsp;поддержке Правительства Российской Федерации, федеральный оператор&nbsp;&mdash; Институт развития профессионального образования.
