article.news_one__article#news_24-11-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 Дан старт очному этапу Всероссийского хакатона по программированию
   .news_img__slider.mb5
      img( src='../assets/data/images/news/24.11.2023/main.jpg' )
      img( src='../assets/data/images/news/24.11.2023/1.jpg' )
      img( src='../assets/data/images/news/24.11.2023/2.jpg' )
      img( src='../assets/data/images/news/24.11.2023/3.jpg' )
      img( src='../assets/data/images/news/24.11.2023/4.jpg' )
      img( src='../assets/data/images/news/24.11.2023/5.jpg' )
   .text-22
      p Очный этап Всероссийского хакатона по программированию «Обучаюсь. Проектирую. Программирую. Будущее» начался в Верхней Пышме (Свердловская область). Он пройдёт 24–26 ноября на площадке Дворца технического творчества – структурного подразделения Дворца молодёжи – крупнейшего центра дополнительного образования в Свердловской области.
      p В уникальном мероприятии участвуют более 160 юных программистов в возрасте 14–18 лет. Они объединены в 50 команд, представляющих Центры цифрового образования детей «IT-куб» из 30 российских регионов.
      p Организатором Хакатона выступает Федеральный институт цифровой трансформации в сфере образования (ФГАНУ «ФИЦТО») — федеральный оператор сети Центров «IT-куб». Соорганизатор мероприятия — ГАНОУ СО «Дворец молодёжи».
      p На торжественной церемонии открытия выступила и.о. директора ФГАНУ «ФИЦТО» Юлия Александровна Пономарёва. Она произнесла слова напутствия юным участником Хакатона и подчеркнула важность мероприятия для обеспечения технологического суверенитета нашей страны:
      p.quote Значимость нашего мероприятия сложно переоценить — это место, где рождаются будущие лидеры IT-индустрии и закладываются основы грядущего технологического лидерства нашей страны на мировой арене. Мы гордимся тем, что Хакатон через кейсы наших технологических партнёров непосредственно связан с российской экономикой, доказывая тем самым уровень цифрового образования в IT-кубах. Спасибо всем участникам, партнёрам и поддерживающим организациям за их вклад в организацию Хакатона. Уверена, что его результаты будут впечатляющими!
      p Со своей стороны директор Дворца молодёжи Александр Николаевич Слизько отметил важность мероприятий такого рода для развития творческого потенциала подрастающего поколения и пожелал успеха участникам хакатона:
      p.quote Мы рады участвовать в проведении этого грандиозного мероприятия. Цифровое образование с каждым годом всё больше проникает в нашу эту жизнь. Фактически это уже стандарт нормального уровня развития общества. Сегодня дети пробуют свои силы в мире IT, а завтра именно они будут формировать новые цифровые стандарты развития нашего общества и определять будущее информационных технологий
      p В течение трёх дней юные участники Хакатона будут работать над кейсами, которые предоставили технологические партнёры мероприятия — ведущие российские разработчики IT-решений.
      p По итогам очного этапа каждая из команд будет защищать презентацию своего проекта перед экспертной комиссией. Победителем будут признаны три команды: по одной для каждого из направлений.

      strong Справочно
      p
         b Центры цифрового образования детей «IT-куб» работают с обучающимися по программам, направленным на ускоренное освоение актуальных и востребованных знаний, навыков и компетенций в сфере информационных технологий.
         |   Проект формирует современную образовательную экосистему, объединяющую компании – лидеров ИТ-рынка, опытных наставников и начинающих разработчиков от 7 до 18 лет Сеть центров «IT-куб» является важным элементом реализации Национального проекта «Образования». Нацпроект направлен на достижение национальной цели Российской Федерации, определённой президентом России Владимиром Путиным, – обеспечение возможности самореализации и развития талантов. В 2023 году было открыто 63 Центра цифрового образования детей «IT-куб». На текущий момент федеральная сеть состоит из 261 центра.