article.news_one__article#news_24-11-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 Дан старт очному этапу Всероссийского хакатона по&nbsp;программированию
   .news_img__slider.mb5
      img( src='../assets/data/images/news/24.11.2023/main.jpg' )
      img( src='../assets/data/images/news/24.11.2023/1.jpg' )
      img( src='../assets/data/images/news/24.11.2023/2.jpg' )
      img( src='../assets/data/images/news/24.11.2023/3.jpg' )
      img( src='../assets/data/images/news/24.11.2023/4.jpg' )
      img( src='../assets/data/images/news/24.11.2023/5.jpg' )
   .text-22
      p Очный этап Всероссийского хакатона по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; начался в&nbsp;Верхней Пышме (Свердловская область). Он пройдёт 24–26&nbsp;ноября на&nbsp;площадке Дворца технического творчества&nbsp;&mdash; структурного подразделения Дворца молодёжи&nbsp;&mdash; крупнейшего центра дополнительного образования в&nbsp;Свердловской области.
      p В&nbsp;уникальном мероприятии участвуют более 160 юных программистов в&nbsp;возрасте 14–18&nbsp;лет. Они объединены в&nbsp;50&nbsp;команд, представляющих Центры цифрового образования детей &laquo;IT-куб&raquo; из&nbsp;30 российских регионов.
      p Организатором Хакатона выступает Федеральный институт цифровой трансформации в сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;)&nbsp;&mdash; федеральный оператор сети Центров &laquo;IT-куб&raquo;. Соорганизатор мероприятия&nbsp;&mdash; ГАНОУ&nbsp;СО &laquo;Дворец молодёжи&raquo;.
      p На торжественной церемонии открытия выступила и.о.&nbsp;директора ФГАНУ &laquo;ФИЦТО&raquo; Юлия Александровна Пономарёва. Она произнесла слова напутствия юным участником Хакатона и&nbsp;подчеркнула важность мероприятия для&nbsp;обеспечения технологического суверенитета нашей страны:
      p.quote Значимость нашего мероприятия сложно переоценить&nbsp;&mdash; это место, где рождаются будущие лидеры IT-индустрии и&nbsp;закладываются основы грядущего технологического лидерства нашей страны на&nbsp;мировой арене. Мы гордимся тем, что Хакатон через кейсы наших технологических партнёров непосредственно связан с&nbsp;российской экономикой, доказывая тем самым уровень цифрового образования в&nbsp;IT-кубах. Спасибо всем участникам, партнёрам и&nbsp;поддерживающим организациям за&nbsp;их вклад в&nbsp;организацию Хакатона. Уверена, что&nbsp;его результаты будут впечатляющими!
      p Со своей стороны директор Дворца молодёжи Александр Николаевич Слизько отметил важность мероприятий такого рода для&nbsp;развития творческого потенциала подрастающего поколения и&nbsp;пожелал успеха участникам хакатона:
      p.quote Мы рады участвовать в&nbsp;проведении этого грандиозного мероприятия. Цифровое образование с&nbsp;каждым годом всё больше проникает в&nbsp;нашу эту жизнь. Фактически это уже стандарт нормального уровня развития общества. Сегодня дети пробуют свои силы в&nbsp;мире&nbsp;IT, а&nbsp;завтра именно они будут формировать новые цифровые стандарты развития нашего общества и&nbsp;определять будущее информационных технологий
      p В&nbsp;течение трёх дней юные участники Хакатона будут работать над&nbsp;кейсами, которые предоставили технологические партнёры мероприятия&nbsp;&mdash; ведущие российские разработчики IT-решений.
      p По&nbsp;итогам очного этапа каждая из&nbsp;команд будет защищать презентацию своего проекта перед экспертной комиссией. Победителем будут признаны три команды: по&nbsp;одной для&nbsp;каждого из направлений.

      strong Справочно
      p
         b Центры цифрового образования детей &laquo;IT-куб&raquo; работают с&nbsp;обучающимися по&nbsp;программам, направленным на&nbsp;ускоренное освоение актуальных и&nbsp;востребованных знаний, навыков и&nbsp;компетенций в&nbsp;сфере информационных технологий.
         |   Проект формирует современную образовательную экосистему, объединяющую компании&nbsp;&mdash; лидеров ИТ-рынка, опытных наставников и&nbsp;начинающих разработчиков от&nbsp;7 до&nbsp;18&nbsp;лет Сеть центров &laquo;IT-куб&raquo; является важным элементом реализации Национального проекта &laquo;Образования&raquo;. Нацпроект направлен на&nbsp;достижение национальной цели Российской Федерации, определённой президентом России Владимиром Путиным,&nbsp;&mdash; обеспечение возможности самореализации и&nbsp;развития талантов. В&nbsp;2023 году было открыто 63&nbsp;Центра цифрового образования детей &laquo;IT-куб&raquo;. На&nbsp;текущий момент федеральная сеть состоит из&nbsp;261&nbsp;центра.
