article.news_one__article#news_15-11-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 В&nbsp;Смоленске стартует финал II Всероссийского конкурса педагогов центров &laquo;IT-куб&raquo;
   img.mb4( src='./assets/data/images/news/2024/11.15/1.webp' )
   .text-22
      p В&nbsp;Смоленске открывается заключительный этап II Всероссийского конкурса педагогов центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;. Организатором конкурса выступает Федеральный институт цифровой трансформации в&nbsp;сфере образования при поддержке Министерства просвещения Российской Федерации.
      p В&nbsp;торжественной церемонии открытия принимают участие:  заместитель председателя Правительства Смоленской области Вита Хомутова, заместитель министра образования и&nbsp;науки Смоленской области – директор департамента по&nbsp;обеспечению деятельности образовательных организаций Елена Кудрицкая, первый заместитель министра цифрового развития Смоленской области Татьяна Щербакова, первый заместитель директора Федерального института цифровой трансформации в&nbsp;сфере образования Юлия Пономарёва.
      p В&nbsp;финал состязания вышли 24 педагога из&nbsp;14 регионов страны. Все они преподают в&nbsp;центрах &laquo;IT-куб&raquo;, открытых в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo;. Мероприятия проходит на&nbsp;площадке Центра опережающей профессиональной подготовки.
      p Финалисты конкурса представят свои образовательные программы и&nbsp;методики преподавания, а&nbsp;также результаты работы c&nbsp;детьми.
      p Экспертное жюри определит победителей в&nbsp;восьми номинациях, каждая из&nbsp;которых представляет направление обучения в&nbsp;центрах &laquo;IT-куб&raquo;: &laquo;Программирование&raquo;, &laquo;Мобильная разработка&raquo;, &laquo;Робототехника&raquo;, &laquo;Системное администрирование&raquo;, &laquo;Кибергигиена&raquo;, &laquo;Разработка VR/AR-приложений&raquo;, &laquo;Большие данные&raquo;, &laquo;Алгоритмика и&nbsp;логика&raquo;.
      p Конкурс проводится для&nbsp;выявления талантливых педагогов дополнительного образования, а&nbsp;также обмена передовыми образовательными практиками для&nbsp;развития у детей цифровых навыков и&nbsp;расширения их знаний о&nbsp;современных информационных технологиях.

      .italic
         strong Справочно
         p Впервые Всероссийский конкурс педагогов центров &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo; прошёл в&nbsp;2023 году. Он завершился финальным мероприятием в&nbsp;Москве 11–12 декабря.
         p В&nbsp;заключительный этап конкурса тогда прошли 20 финалистов, представлявших &laquo;IT-кубы&raquo; 14 российских регионов. Победителями стали педагоги из&nbsp;Санкт-Петербурга, Иркутской, Смоленской, Свердловской и&nbsp;Челябинской областей.
