article.news_one__article#news_23-05-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 Сотрудники ФГАНУ &laquo;ФИЦТО&raquo; оценивали лучшие проекты учащихся на Фестивале идей &laquo;Коллаборация&raquo;
   img.mb5( src='../assets/data/images/news/2023/23-05-2023.jpeg' )
   .text-22
      p 19&nbsp;мая 2023&nbsp;года во&nbsp;Дворце технического творчества в&nbsp;Верхней Пышме (Свердловская область) состоялся Фестиваль идей &laquo;Коллаборация&raquo;, организованный ГАНОУ СО &laquo;Дворец молодёжи&raquo;. В&nbsp;работе мероприятия приняла участие рабочая группа ФГАНУ &laquo;ФИЦТО&raquo;.
      p Это масштабное событие уже в&nbsp;третий раз собрало ребят, педагогов и&nbsp;партнёров для обмена свежими идеями, опытом и&nbsp;техническими решениями. В&nbsp;этом году в&nbsp;Фестивале приняли участие более 200 обучающихся, представив на суд жюри свыше 50 проектов от технопарков &laquo;Кванториум&raquo;, Центров цифрового образования детей &laquo;IT-куб&raquo;, базовых площадок Дворца молодёжи, а&nbsp;также центров &laquo;Точка роста&raquo; Свердловской области.
      p Представители ведущих предприятий региона и&nbsp;федеральных организаций выбрали лучшие проекты обучающихся, созданные за год под руководством наставников.
      p Также в&nbsp;экспертной оценке представленных на мероприятии работ приняли участие:
      p.news_point Ольгерд Скрябин, начальник дирекции проектной деятельности и&nbsp;проектирования информационных систем ФГАНУ &laquo;ФИЦТО&raquo;.
      p.news_point.mb15 Олег Мулько, ведущий программист дирекции разработки программного обеспечения ФГАНУ &laquo;ФИЦТО&raquo;.
      p.quote.mb08 &laquo;Мы видим заинтересованность ребят. Отмечу высокий уровень проектов. Это первое мероприятие, где я оцениваю проекты детей. Сложно было подобрать слова, чтобы подростки оценили их не&nbsp;как критику, а&nbsp;воспринимали комментарии как совет. Важно научиться справляться с&nbsp;эмоциями. Этот навык пригодится в&nbsp;жизни&raquo;,&nbsp;&mdash; отметил Олег Алексеевич Мулько.
      p Он подчеркнул важность проведения таких мероприятий, поскольку участие в&nbsp;них позволяет школьникам научиться формулировать мысли в&nbsp;стрессовых ситуациях публичных выступлений.
      strong По итогам стендовой защиты победителями были признаны три проекта:
      p.mb07 1&ndash;е место&nbsp;&mdash; проект &laquo;Мобильное приложение для школьной столовой МАОУ СОШ № 215 &laquo;Созвездие&raquo;, &laquo;IT-куб. Солнечный&raquo;. Состав команды: Кристина Лобова, Елисавета Пиняскина, наставник&nbsp;&mdash; Алексей Андреевич Шмелев.
      p.mb07 2&ndash;е место и&nbsp;приз зрительских симпатий&nbsp;&mdash; &laquo;Гибридный гоночный автомобиль&raquo;, &laquo;Кванториум. Верхняя Пышма&raquo;. Состав команды: Аброр Ахунов, Вадим Савченко, Дмитрий Чистополов, Егор Исаев, Даниил Глушкин, наставники&nbsp;&mdash; Александр Сергеевич Веревкин, Сергей Игоревич Вздорнов.
      p.mb25 3&ndash;е место&nbsp;&mdash; &laquo;Тестер батареек&raquo;, детский технопарк &laquo;Кванториум. Екатеринбург&raquo;. Состав команды: Павел Першин, Никита Петюркин, Александр Чуркин, наставник&nbsp;&mdash; Денис Владимирович Брусов.
      p Отличные результаты на фестивале продемонстрировали обучающиеся центров цифрового образования &laquo;IT-куб&raquo;:
      p.news_point Победителем стал проект &laquo;Нейросеть для модуля безопасности на электросамокате&raquo;. Автор&nbsp;&mdash; Иван Белогуров, ЦЦОД &laquo;IT-куб. Солнечный&raquo;.
      p.news_point Призёр второй степени&nbsp;&mdash; проект Tele2Quiz&nbsp;&mdash; приложение для заработка интернет&ndash;трафика с&nbsp;помощью прохождения тестов по&nbsp;учебному материалу для ООО &laquo;Т2 Мобайл&raquo;, ЦЦОД &laquo;IT-куб. Солнечный&raquo;. Автор&nbsp;&mdash; Артём Сокерин.
      p.news_point.mb2 Призёр третьей степени&nbsp;&mdash; проект &laquo;Защита серверной&raquo;, ЦЦОД &laquo;IT-куб. г. Верхняя Пышма&raquo;. Автор&nbsp;&mdash; Нелина Рафикова.
      p.mt15 Эксперты выделили несколько проектов, которые получили номинации за внимание к деталям, перспективную разработку, готовое решение, экономичность, технологичность, лучшее решение для культурной институции, социальную значимость проекта.
      p Подробнее читайте в&nbsp;
         a( href='https://dm-centre.ru/novosti/kvantorium/nestandartnye-resheniya-dlya-realnogo-sektora-ekonomiki/' target='_blank').hover материале ГАНОУ СО &laquo;Дворец молодёжи&raquo;.
