article.news_one__article#news_24-10-2025_2
   .news_one__date.mb2.text-22
   h1.title.mb5 Подведены итоги Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;
   +image( '10.14', '0', 'mb4', '')
   .text-22
      .mb4.italic
         p Команда ФИЦТО объявляет итоги Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;, в&nbsp;котором приняли участие обучающиеся Центров цифрового образования детей &laquo;IT-куб&raquo;.
         p Мероприятие продолжило традиции проведения Всероссийских хакатонов &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;, которые ФИЦТО проводил в&nbsp;2023/24 гг. в&nbsp;качестве федерального оператора Сети Центров &laquo;IT-куб&raquo; при поддержке Министерства просвещения Российской Федерации.

      p.mb2
         b Победителями состязания стали 10 человек.

      .ml2.mb4
         p
            b 1-е место: Андрей Морозов
            |  (АНО ЦЦОД &laquo;IT-куб&raquo;)&nbsp;&mdash; Удмуртская Республика;
         p
            b 2-е место: Тамара Копылова
            |  (Центр &laquo;IT-куб. Добрянка&raquo;)&nbsp;&mdash; Пермский край;
         p
            b 3-е место: Татьяна Назаренкова
            |  (ЦЦОД &laquo;IT-куб&raquo; на базе МБОУ &laquo;Новосибирская классическая гимназия №17&raquo;)&nbsp;&mdash; Новосибирская область;
         p
            b 4-е место: Владислав Калугин
            |  (ЦЦО &laquo;IT-куб. Абакан&raquo;)&nbsp;&mdash; Республика Хакасия;
         p
            b 5-е место: Фёдор Урадовский
            |  (ЦЦОД &laquo;IT-куб&raquo;)&nbsp;&mdash; Новосибирская область;
         p
            b 6-е место: Александр Соловьёв
            |  (ЦЦОД &laquo;IT-куб. Сатка&raquo;)&nbsp;&mdash; Челябинская область;
         p
            b 7-е место: Даниил Рыков
            |  (ЦЦОД &laquo;IT-куб&raquo; на базе МБОУ &laquo;Технический лицей № 176&raquo;)&nbsp;&mdash; Новосибирская область;
         p
            b 8-е место: Данила Апрелков
            |  (ЦЦОД &laquo;IT-куб&raquo; на базе МБОУ &laquo;Новосибирская классическая гимназия №17&raquo;)&nbsp;&mdash; Новосибирская область;
         p
            b 9-е место: Матвей Ваулин
            |  (ЦЦОД &laquo;IT-куб. Сатка&raquo;)&nbsp;&mdash; Челябинская область;
         p
            b 10-е место: Максим Насибулин
            |  (ЦЦОД &laquo;IT-куб. Сатка&raquo;)&nbsp;&mdash; Челябинская область.

      p Ребята не&nbsp;просто решили поставленные задачи, а доказали, что профессиональный успех начинается с&nbsp;человеческих амбиций.

      p Команда ФИЦТО поздравляет победителей с&nbsp;заслуженными наградами и&nbsp;благодарит всех участников за проявленный энтузиазм, креативность и&nbsp;гибкость мышления.

      .italic
         p Каждому участнику на указанную при регистрации почту будет выслан сертификат об участии во Всероссийском онлайн-хакатоне &laquo;Код доступа&raquo;. На почту победителям также направлена информация о&nbsp;победе в&nbsp;состязании.

      p Актуальная информация, новости, обновления и&nbsp;конкурсная документация доступна на официальной странице Всероссийского онлайн-хакатона
         a( href='https://it-cube.ficto.ru/hackathon.html' target='_blank') &laquo;Код доступа&raquo;
         | , а также в&nbsp;группе Хакатона в&nbsp;социальной сети &laquo;ВКонтакте&raquo;.

      .italic
         p Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;) находится в&nbsp;ведении Минпросвещения России. Цель его деятельности&nbsp;&mdash; создание условий для развития цифровизации образования и&nbsp;науки, обеспечение научно-методической основы развития современной, безопасной и&nbsp;эффективной образовательной системы за счёт цифровой трансформации её деятельности.
