article.news_one__article#news_26-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Ещё одна школа Херсонской области присоединилась к&nbsp;проекту &laquo;Цифровое наставничество&raquo;
   img.mb4( src='./assets/data/images/news/2024/09.26/1.webp' )
   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo;, Ровненская школа Генического муниципального округа (Херсонская область) и&nbsp;Сарапульский техникум машиностроения и&nbsp;информационных технологий (СТМиИТ), на&nbsp;базе которого функционирует Центр &laquo;IT-куб&raquo; города Сарапула (Удмуртская Республика) подписали соглашение о&nbsp;сотрудничестве в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;.
      p Подписи под&nbsp;документом поставили заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула, директор ГБОУ Херсонской области &laquo;Ровненская школа Генического муниципального округа&raquo; Наталия Карпачева и&nbsp;директор БПОУ Удмуртской Республики &laquo;СТМиИТ&raquo; Галина Лукоянова.
      p.mb4 Участники соглашения будут сотрудничать в&nbsp;сфере проведения совместных онлайн-мероприятий, реализации общих образовательных проектов, профориентационной работе с&nbsp;обучающимися и&nbsp;методической деятельности. Основная цель сотрудничества в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;&nbsp;&mdash; вовлечение педагогов и&nbsp;обучающихся Херсонской области в&nbsp;цифровое образовательное пространство России.


      img.mb4( src='./assets/data/images/news/2024/09.26/3.webp' )

      p.mb4 Заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула отметил важность соглашения для&nbsp;развития цифровой грамотности обучающихся Херсонской области и&nbsp;поблагодарил сарапульских педагогов за&nbsp;готовность взять на&nbsp;себя роль наставников в&nbsp;этом вопросе.

      .row.flex.mb4
         .half.mb-sm
            img( src='./assets/data/images/news/2024/09.26/2.webp' )
         .half
            img( src='./assets/data/images/news/2024/09.26/5.webp' )

      p.mb4 Со&nbsp;своей стороны, директор Ровненской школы Наталия Карпачева отметила, что&nbsp;сотрудничество с&nbsp;коллегами из&nbsp;Удмуртии, открывает перед школой новые направления работы и&nbsp;новые горизонты цифрового образования.

      img.mb4( src='./assets/data/images/news/2024/09.26/4.webp' )

      p Директор СТМиИТ Галина Лукоянова, подчеркнула, что&nbsp;сотрудничество между образовательными учреждениями двух регионов многогранно и&nbsp;пойдёт на&nbsp;пользу не&nbsp;только обучающимся, но&nbsp;и&nbsp;педагогам. А&nbsp;в&nbsp;перспективе&nbsp;&mdash; выпускники Ровненской школы смогут стать студентами Сарапульского техникума. Уверенность в&nbsp;успешности сотрудничества образовательных учреждений выразила и&nbsp;директор сарапульского Центра &laquo;IT-куб&raquo; Светлана Волкова. Со&nbsp;своей стороны она пригласила преподавателей Ровненской школы посетить техникум во&nbsp;время каникул.

      .italic
         strong Справочно
         p Проект &laquo;Цифровое наставничество&raquo; запущен ФГАНУ &laquo;ФИЦТО&raquo; как федеральным оператором центров &laquo;IT-куб&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. В&nbsp;настоящее время к&nbsp;проекту уже присоединился ряд образовательных организаций ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
