article.news_one__article#news_06-05-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 Иииии ещё раз. На втором онлайн-семинаре «IT в кубе» анонсировали актуальные мероприятия для педагогов и руководителей Центров «IT-куб» / взято из дизайна
   p Текст текст

