article.news_one__article#news_19-02-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Центр «IT-куб.Мурманск» приглашает школьников на&nbsp;хакатон «3D&#8209;артист», посвящённый Году единства народов России
   +image-26( '02.19', '1', 'mb4', '© Центр «IT-куб.Мурманск»')
   .text-22
      p Центр цифрового образования детей «IT-куб.Мурманск» (структурное подразделение Мурманского колледжа экономики и&nbsp;информационных технологий) проводит межрегиональный хакатон по разработке VR&#8209;приложений и&nbsp;3D&#8209;моделированию «3D&#8209;артист».
      p Мероприятие, стартовавшее 2&nbsp;февраля, объединит юных программистов и&nbsp;дизайнеров от&nbsp;10 до&nbsp;17&nbsp;лет и&nbsp;продлится до&nbsp;21 марта.
      p.mb4 В Год единства народов России, объявленный в&nbsp;2026 году, организаторы хакатона выбрали особую тематику конкурсных заданий. Участникам предстоит познакомиться с&nbsp;культурой и&nbsp;бытом коренных народов Кольского Севера и&nbsp;создать цифровые проекты, посвящённые поморским традициям.

      +image-26( '02.19', '2', 'mb4', '© Центр «IT-куб.Мурманск»')

      p Хакатон пройдёт в&nbsp;два этапа: дистанционный отборочный тур (до&nbsp;23 февраля) и&nbsp;очный финал на&nbsp;площадке центра в&nbsp;Мурманске (19–21 марта). Конкурсанты выступят в&nbsp;двух треках: «3D&#8209;моделирование» (для участников 10–14&nbsp;лет) и&nbsp;«VR&#8209;разработка» (для 12–17&nbsp;лет).
      p Задания для участников разработаны при&nbsp;участии партнёров мероприятия: компании Varwin, Мурманского областного краеведческого музея и&nbsp;Арктического музея лодки.
      p Участникам трека «3D&#8209;моделирование» на&nbsp;отборочном этапе предложено создать библиотеку цифровых 3D&#8209;моделей, связанных с&nbsp;символикой Севера, морским промыслом или бытом поморов. Это могут быть модели старинных поморских судов (коч, карбас), инструментов (прялка, туес), элементов декора (наличники с&nbsp;морской символикой).
      p Участники трека «VR&#8209;разработка» на&nbsp;отборочном этапе будут работать над созданием VR&#8209;проекта регаты на&nbsp;поморских карбасах.

      p По словам
         b  директора Арктического музея лодки Аллы Распоповой
         | , проект имеет не&nbsp;только образовательное, но&nbsp;и&nbsp;практическое значение:

      p.mb3.quote Он не&nbsp;только позволит ребятам погрузиться в&nbsp;культуру северных народов, но&nbsp;и&nbsp;положит начало созданию уникальной открытой онлайн-библиотеки моделей, доступной для свободного скачивания российским школам и&nbsp;музеям.

      p.mb4 Регистрация на&nbsp;хакатон открыта до&nbsp;23&nbsp;часов 59&nbsp;минут 23&nbsp;февраля 2026&nbsp;года&nbsp;
         a( href='https://forms.yandex.ru/u/696e26c9068ff06ec7e8a00f' target='_blank') по&nbsp;ссылке
         | .

      p.italic Центр цифрового образования детей «IT-куб.Мурманск» создан в&nbsp;2021 году на&nbsp;базе ГАПОУ&nbsp;МО «Мурманский колледж экономики и&nbsp;информационных технологий» в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при&nbsp;поддержке Министерства просвещения Российской Федерации. Ежегодно в&nbsp;центре обучаются более 400 детей в&nbsp;возрасте от&nbsp;8 до&nbsp;17 лет, свыше 1500 человек принимают участие в&nbsp;мероприятиях, мастер-классах и&nbsp;воркшопах Центра.
