article.news_one__article#news_29-03-2024
   .news_one__date.mb2.text-22
   h1.title.mb4 ФГАНУ &laquo;ФИЦТО&raquo; открывает серию окружных совещаний руководителей Центров &laquo;IT-куб&raquo;
   img.mb4( src='../assets/data/images/news/2024/29.03.2024.webp' )
   .text-22
      p Федеральный оператор Центров цифрового образования детей &laquo;IT-куб&raquo; ФГАНУ &laquo;ФИЦТО&raquo; начинает серию окружных совещаний с&nbsp;руководителями Центров.
      p Окружные совещания &laquo;Поиск решений&raquo; станут площадками по&nbsp;обмену опытом и&nbsp;повышению уровня управленческих компетенций, обсуждению механизмов развития и&nbsp;точек роста системы Центров &laquo;IT-куб&raquo; в&nbsp;рамках федеральных округов. Задачей таких совещаний станет обсуждение и&nbsp;распространение лучших образовательных практик в&nbsp;сфере дополнительного цифрового образования детей.
      p Первое Окружное совещание &laquo;Поиск решений&raquo; по&nbsp;Северо&ndash;Западному и&nbsp;Центральному федеральным округам пройдёт 30&nbsp;марта 2024&nbsp;года в&nbsp;Санкт&ndash;Петербурге в&nbsp;рамках Всероссийского форума &laquo;Цифровой мир в&nbsp;жизни общества&raquo; (29–31&nbsp;марта 2024&nbsp;г.).
      p Среди тем, которые будут обсуждаться на&nbsp;совещании&nbsp;&mdash; федеральные и&nbsp;региональные мероприятия с&nbsp;участием Центров &laquo;IT-куб&raquo;, выполнение показателей функционирования Центров и&nbsp;методическое сопровождение их работы. На&nbsp;мероприятии выступят представители Федерального оператора Центров, пройдут мастер-классы и&nbsp;практико&ndash;ориентированные сессии от&nbsp;руководителей и&nbsp;педагогов &laquo;IT-кубов&raquo;.
      p Окружные совещания руководителей Центров &laquo;IT-куб&raquo; по&nbsp;другим федеральным округам пройдут в&nbsp;ближайшие месяцы:

      .mb1
         b Приволжский и&nbsp;Уральский федеральные округа:
         |  26&nbsp;апреля 2024&nbsp;года, онлайн
      .mb1
         b Южный и&nbsp;Северо&ndash;Кавказский федеральные округа:
         |  22&nbsp;мая 2024&nbsp;года, г.&nbsp;Грозный (Чеченская Республика)
      .mb1
         b Сибирский и&nbsp;Дальневосточный федеральные округа:
         |  14&nbsp;июня 2024&nbsp;года, онлайн

      p.mt2 С&nbsp;подробной информацией об&nbsp;Окружных совещаниях руководителей Центров &laquo;IT-куб&raquo; можно ознакомиться на&nbsp;официальном сайте Центров &laquo;IT-куб&raquo;:&nbsp;
         a( href='https://it-cube.ficto.ru/meetings.html' target='_blank' title='it-cube.ficto.ru/meetings').hover https://it-cube.ficto.ru/meetings.html

      strong Справочно
      p Центры цифрового образования детей &laquo;IT-куб&raquo; функционируют в&nbsp;системе дополнительного образования в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образования&raquo;. По&nbsp;данным на&nbsp;конец 2023&nbsp;года в&nbsp;стране действовал 261 Центр &laquo;IT-куб&raquo;. До конца текущего года их число должно вырасти до&nbsp;328.

      p В&nbsp;соответствии с&nbsp;
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank').hover методическими рекомендациями от&nbsp;18&nbsp;апреля 2023&nbsp;года
         |  Министерство просвещения Российской Федерации определило ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo;.
