article.news_one__article#news_03-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центр &laquo;IT&#8209;куб. Болохово&raquo; в&nbsp;День знаний провёл региональный телемост &laquo;Навстречу цифровому будущему!&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.03/0.webp' )
   .text-22
      p Команда центра цифрового образования детей «IT-куб. Болохово» (Тульская область) организовала телемост, посвящённый внедрению инноваций в образовательный процесс и развитию проекта «Цифровое наставничество». В рамках этого проекта Центр «IT-куб. Болохово» сотрудничает с ГБОУ Херсонской области «Геническая школа № 1»
      .italic
         p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в 2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и Луганской Народной Республики (ЛНР), Запорожской и Херсонской областей в цифровое образовательное пространство России. Первое трёхстороннее соглашение в рамках проекта было подписано 31 мая 2024 года.
         p.mb4 В настоящее время к проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и Херсонской области, а также центры «IT-куб» Липецкой, Нижегородской, Тульской областей и Удмуртской Республики.

      img.mb4( src='./assets/data/images/news/2025/09.03/1.webp' )

      p В мероприятии приняли участие педагоги и учащиеся Центра «IT-куб. Болохово», Генической школы № 1, ГОУ ТО «Донская школа № 1», генеральный директор ООО «АЙТИПЕЛАГ» Владислав Иваненко, председатель Тульского областного отделения ФКС России Бауржан Коканов и др. От ФГАНУ «ФИЦТО» к телемосту присоединились заместитель руководителя отраслевого центра компетенций в сфере производительности труда Татьяна Якубович и начальник отдела проектного сопровождения Андрей Рябов.

      p.mb4.quote «Телемост стал отличной площадкой для нетворкинга и обмена опытом между школьниками, педагогами и представителями IT-компаний. Особое внимание мы уделили сотрудничеству с Генической школой № 1. Мы недавно подвели итоги совместного проекта за год и уже разработали план мероприятий в рамках «Цифрового наставничества» на 2025–2026 учебный год», — отметила заведующий центром «IT-куб» Лариса Марейчева.

      img.mb4( src='./assets/data/images/news/2025/09.03/2.webp' )

      p Мероприятие прошло в гибридном онлайн/оффлайн-формате и подарило участникам массу положительных эмоций.

      p.mb1
         b Андрей Рябов, начальник отдела проектного сопровождения ФГАНУ «ФИЦТО»:

      p.quote Подписание трёхстороннего соглашения между ФИЦТО, Болоховским машиностроительным техникумом, на базе которого действует «IT-куб. Болохово», и Генической школой в сентябре прошлого года стало отправной точкой нашего сотрудничества. Прошедшие за год мероприятия впечатляют — онлайн-консультации, мастер-классы по робототехнике, семинары, воркшопы, совместное участие в «Уроке цифры», «Технологическом диктанте», шахматных турнирах и нейроарте. Это то самое прочное межрегиональное сотрудничество, ради которого всё и затевалось.
         br
         br
         | Кульминацией этой работы стало создание и успешная апробация мобильного приложения для школы — практический, осязаемый результат вашего совместного труда».

      p Участники мероприятия подвели итоги прошлого учебного года, поделились своими успехами, опытом реализации совместных проектов и планами сотрудничества в новом учебном году, включающими в себя различные формы наставничества и профориентационную деятельность.

      .italic
         strong Справочно
         p ФГАНУ «ФИЦТО» находится в ведении Минпросвещения России. В рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и информационное сопровождение центров «IT-куб» в субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от 29.03.2023 № АБ-1339/02).
