article.news_one__article#news_28-01-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 ФИЦТО исполнил мечты детей из Херсонской и Тульской областей
   +image-26( '01.28', '1', 'mb4', 'ИИ')
   .text-22
      p Команда Федерального института цифровой трансформации в&nbsp;сфере образования (ФИЦТО), подведомственного Минпросвещения России, совместно с&nbsp;Центром «IT-куб. Болохово» провела акцию «IT-Ёлка Желаний». Впервые была организована цифровая ёлка, на&nbsp;виртуальных ветвях которой дети из&nbsp;Тульской и&nbsp;Херсонской областей разместили свои пожелания.
      p Все 26 новогодних желаний, собранных с&nbsp;виртуальных ветвей первой digital-ёлки, успешно исполнились. Ребята из&nbsp;обоих регионов получили подарки, среди которых умная колонка, беспроводные наушники, 3D-ручки, смарт-часы, компьютерная клавиатура, спортивный инвентарь и&nbsp;другие полезные вещи, способствующие развитию интереса к&nbsp;цифровым технологиям и&nbsp;здоровому образу жизни.
      p 6-летняя Анна Свичкаренко из&nbsp;Херсонской области, получила долгожданную умную колонку и&nbsp;поделилась своими эмоциями: «Теперь у&nbsp;меня есть умная колонка! Я могу с&nbsp;ней играть и&nbsp;узнать много нового!»
      p Ключевым итогом акции стало не просто вручение подарков, а осмысленная поддержка детских увлечений.

      p.mb4.quote «Каждый подарок с&nbsp;нашей «IT-Ёлки»&nbsp;— это не&nbsp;просто вещь. Это осознанный выбор, который поддерживает конкретное увлечение ребёнка: инженерную мысль, логику, творчество, стремление к&nbsp;новым знаниям или активный отдых. Такой подход превращает праздничное чудо в&nbsp;инвестицию в&nbsp;будущее юного IT-специалиста и&nbsp;в&nbsp;гармоничное развитие личности. И&nbsp;в&nbsp;этом&nbsp;— практическое воплощение идеи «Цифрового наставничества»: мы не&nbsp;просто дарим, мы создаём условия для развития, стирая границы между регионами»,&nbsp;— добавил
         b  заместитель директора ФГАНУ «ФИЦТО» Андрей Гамула
         | .

      p К инициативе присоединились партнёры Центра «IT-Куб.Болохово»: ООО «Айтипелаг», ООО «Компания Бревис», Агентство SmartAgent&nbsp;— ИИ решения для бизнеса, ООО «Марс», компания «РобоТехник». Всего в&nbsp;рамках акции были исполнены все 26 желаний: 16 из&nbsp;них реализовала команда ФИЦТО в&nbsp;рамках проекта «Цифровое наставничество», а&nbsp;ещё 10 подарков вручили партнёры.

      p.mb4.quote «Совместные проекты с&nbsp;бизнес-партнёрами в&nbsp;сфере образования&nbsp;— это инвестиция в&nbsp;будущее. Поддерживая детские мечты сегодня, мы закладываем основу для сильного поколения IT-специалистов завтра»,&nbsp;— подчеркнула
         b  заведующий Центром «IT-Куб.Болохово» Лариса Марейчива
         | .

      p Проект успешно выполнил свою задачу: подарил детям веру в&nbsp;чудо, укрепил дружеские связи между регионами и&nbsp;наглядно показал, как технологии и&nbsp;добрые дела объединяются, чтобы создавать настоящее волшебство, которое не&nbsp;ограничивается новогодней ночью, а&nbsp;продолжает согревать сердца.

      .italic
         p Проект «Цифровое наставничество» был запущен ФГАНУ «ФИЦТО» в&nbsp;2024 году для ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года.
         p К проекту «Цифровое наставничество» присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также Центры «IT-куб» Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p ФГАНУ «ФИЦТО» находится в&nbsp;ведении Минпросвещения России. В&nbsp;рамках национального проекта «Образование» институт был определён федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров «IT-куб» в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 №&nbsp;АБ-1339/02).
