article.news_one__article#news_18-08-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 На съезде руководителей Центров
      span.wwnow  &laquo;IT&ndash;куб&raquo;
      |  обсудили взаимодействие с технологическими партнёрами
   img.mb5( src='../assets/data/images/news/18.08.2023/1.jpg' )
   img.mb5( src='../assets/data/images/news/18.08.2023/2.jpg' )
   img.mb5( src='../assets/data/images/news/18.08.2023/3.jpg' )
   img.mb5( src='../assets/data/images/news/18.08.2023/4.jpg' )
   img.mb5( src='../assets/data/images/news/18.08.2023/5.jpg' )
   .text-22
      p
         b Участники прошедшего 17–18&nbsp;августа Всероссийского съезда руководителей Центров цифрового образования детей
            span.wwnow «IT-куб»
            | обсудили различные аспекты технологического партнёрства с&nbsp;российскими компаниями и&nbsp;заслушали доклады с&nbsp;успешными примерами такого сотрудничества.
      p Предметно эти вопросы были рассмотрены на&nbsp;проектной сессии «Взаимодействие Центров «IT-куб» с&nbsp;технологическими партнёрами». Её модератором выступил Даниил Суханов, начальник Центра программной и&nbsp;проектной деятельности ФГАНУ «ФИЦТО».
         b  Сессия собрала экспертов в&nbsp;области образования и&nbsp;IT для&nbsp;обсуждения ключевых аспектов сотрудничества Центров «IT-куб» с&nbsp;разработчиками отечественных цифровых решений.
      p Заместитель директора ФГАНУ «ФИЦТО» Александр Лямин рассказал
         b  о&nbsp;современных возможностях и&nbsp;цифровых инструментах для&nbsp;организации и&nbsp;управления образовательной деятельностью в&nbsp;Центрах «IT-куб»
         | . В&nbsp;свою очередь, технологические партнёры образовательных организаций представили свои разработки и&nbsp;учебные программы для&nbsp;повышения эффективности и&nbsp;большей защищённости образовательных организаций.
      p Анастасия Горелова, руководитель комитета по&nbsp;информатизации АРПП «Отечественный софт», руководитель программ обучения центра «Хаб&nbsp;Знаний МойОфис», продемонстрировала актуальные подходы к&nbsp;использованию отечественных программных продуктов в&nbsp;образовательных процессах. Например, огромные возможности для&nbsp;педагогов и&nbsp;обучающихся открывает пакет решений
         b  «МойОфис»
         | . Уже заключены соглашения об&nbsp;оснащении им более 10&nbsp;тысяч школ в&nbsp;22&nbsp;регионах страны.
      p Олег Шутенко, вице-президент корпорации «Синергия», привёл пример
         b  эффективной организации экосистемы непрерывного образования: сад&nbsp;&mdash; школа&nbsp;&mdash; университет
         | . Все образовательные программы корпорации разрабатываются в&nbsp;соответствии с&nbsp;актуальными запросами работодателей. В&nbsp;первую очередь это касается дисциплин в&nbsp;сфере информационных технологий, например, программирования и&nbsp;робототехники.
      p Менеджер по&nbsp;работе с&nbsp;образовательными организациями ООО&nbsp;«КИБЕРПРОТЕКТ» Саркис Шмавонян рассказал участникам сессии о&nbsp;всероссийском проекте по&nbsp;
         b обучению детей и&nbsp;взрослых принципам безопасного поведения в&nbsp;сети Интернет
         | , а&nbsp;также поделился разработками компании в&nbsp;сфере информационной безопасности. Дополнил выступление увлекательный квиз, который был организован в&nbsp;конце работы сессии.
      p Примеры работы школьников и&nbsp;студентов с&nbsp;реальными проектами для&nbsp;бизнес-заказчиков привёл в&nbsp;своём выступлении Александр Пикулев, руководитель образовательного направления компании Varwin. Он также
         b  поделился наработками в&nbsp;сфере организации широкого спектра обучающих мероприятий
         |. Высокая результативность образовательных программ достигается, в&nbsp;том числе за&nbsp;счёт использования технологий работы в&nbsp;
         b 3D-пространстве, виртуальной и&nbsp;дополненной реальности
         | .
      p Игорь Алексеев, директор по&nbsp;развитию ООО&nbsp;«А-Реал Консалтинг», в&nbsp;дистанционном формате рассказал
         b  о&nbsp;ситуации в&nbsp;сфере информационной безопасности и&nbsp;об&nbsp;основных способах борьбы с&nbsp;киберугрозами
         |  в&nbsp;Российской Федерации. По&nbsp;последним данным, число кибератак на&nbsp;сектор образования и&nbsp;научных исследований выросло на&nbsp;44%, поэтому учебным организациям следует прикладывать больше усилий по&nbsp;обеспечению своей информационной защиты.
      p Все Центры «IT-куб», участвовавшие в&nbsp;работе съезда, получили от&nbsp;компании «А-Реал Консалтинг»
         b годовую подписку на&nbsp;контент-фильтр&nbsp;ИКС
         | .
      p Также ценные примеры запуска образовательных проектов российскими компаниями были приведены и&nbsp;во&nbsp;время финальной проектной сессии. Руководитель «Тинькофф Образование» Варвара Смирнова
         b  поделилась опытом работы компании со&nbsp;школьниками и&nbsp;студентами по&nbsp;подготовке квалифицированных кадров для&nbsp;IT и&nbsp;других направлений
         | . В&nbsp;свою очередь, ректор Центрального университета Евгений Ивашкевич подробно рассказал об&nbsp;образовательной концепции университета нового поколения. Обучение в&nbsp;университете включает в&nbsp;себя сочетание технических и&nbsp;гуманитарных дисциплин и&nbsp;
         b направлено на&nbsp;трудоустройство выпускников по&nbsp;востребованным специальностям
         | .
      p Плодотворная работа проектных сессий Всероссийского съезда руководителей Центров цифрового образования детей «IT-куб» позволила
         b обобщить имеющийся опыт сотрудничества между образовательными организациями и&nbsp;разработчиками IT-решений
         | , с&nbsp;тем чтобы сделать этот процесс ещё более эффективным.
