article.news_one__article#news_15-07-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Сергей Кравцов рассказал о&nbsp;планах развития допобразования
   img.mb4( src='./assets/data/images/news/2025/07.15/1.webp ' loading='lazy' title='© Пресс-служба Минпросвещения России')
   .text-22
      p Правительство РФ утвердило план второго этапа реализации Концепции развития дополнительного образования до&nbsp;2030&nbsp;года, в&nbsp;рамках которой особое внимание будет уделено доступности, качеству и&nbsp;обновлению содержания внешкольных занятий. Министр просвещения Сергей Кравцов подчеркнул, что система дополнительного образования должна отвечать запросам каждого ребёнка, раскрывая его таланты и&nbsp;способности.
      p По&nbsp;итогам реализации национального проекта &laquo;Образование&raquo; и&nbsp;первого этапа Концепции в&nbsp;образовательных организациях было создано более 1,4&nbsp;млн новых мест дополнительного образования и&nbsp;открыты десятки тысяч центров развития детей.
      p В&nbsp;ходе первого этапа в&nbsp;стране открылись 85&nbsp;региональных центров по&nbsp;работе с&nbsp;талантливыми детьми, 464&nbsp;детских технопарков &laquo;Кванториум&raquo; и&nbsp;329 центров цифрового образования детей &laquo;IT-куб&raquo;.

      p.quote &laquo;Наша цель&nbsp;&mdash; расширить систему допобразования, чтобы она отвечала запросам каждого ребёнка, раскрывая его таланты и&nbsp;способности. При этом внешкольная деятельность должна предлагать разнообразные возможности для всестороннего развития учащихся и&nbsp;быть максимально доступной для всех детей&raquo;,&nbsp;&mdash; отметил Сергей Кравцов.

      p Ключевым инструментом достижения этой цели станет дальнейшее распространение персонифицированного финансирования дополнительного образования через социальные сертификаты. К&nbsp;2030&nbsp;году планируется обеспечить не&nbsp;менее 30%&nbsp;детей в&nbsp;каждом регионе такими сертификатами, позволяющими бесплатно посещать выбранные кружки и&nbsp;секции.
      p На&nbsp;конец 2024&nbsp;года в&nbsp;ЕАИС&nbsp;ДО зарегистрировано более 87&nbsp;тыс. организаций, реализующих дополнительные образовательные программы, в&nbsp;которых обучаются более 19,4&nbsp;млн детей в&nbsp;возрасте от&nbsp;5 до&nbsp;18&nbsp;лет.
      p Также планируется совершенствование цифровых сервисов, в&nbsp;частности, расширение функционала сервиса записи на&nbsp;программы допобразования через портал &laquo;Госуслуги&raquo; за&nbsp;счёт введения подписки на&nbsp;уведомления о&nbsp;новых доступных программах.
      p Министерство просвещения выступает координатором всех ключевых направлений Концепции, обеспечивая методическую поддержку, анализ региональных практик, обновление нормативной базы, кадровое обеспечение и&nbsp;внедрение цифровых решений.
      p Особое внимание будет уделено развитию профильных направлений: технического творчества, культуры, гуманитарных и&nbsp;естественно-научных дисциплин, а&nbsp;также расширению программы экскурсий по&nbsp;историко-культурным маршрутам, музеям и&nbsp;научным центрам. Планируется активное вовлечение молодых педагогов в&nbsp;сферу дополнительного образования.
