article.news_one__article#news_02-06-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb3 На втором онлайн-семинаре «IT в кубе» анонсировали актуальные мероприятия для педагогов и руководителей Центров «IT-куб» / взято из дизайна
   img.mb5( src='../assets/data/images/news/02-06-2023.jpg' )
   p Текст текст
