article.news_one__article#news_02-12-2025-2
   .news_one__date.mb2.text-22
   h1.title.mb5 Обучающиеся Центра &laquo;IT-куб&raquo; стали призёрами на первой межрегиональной сменепо&nbsp;робототехнике в&nbsp;Красноярске
   +image( '12.02-2', '0', 'mb4', '© Центр цифрового образования детей «IT-куб. Солнечный&raquo;')
   .text-22
      .mb4.italic
         p В Красноярске завершилась первая межрегиональная сменапо&nbsp;робототехнике &laquo;Проф Смена&raquo;, собравшая 80 талантливых школьников из Свердловской, Иркутской, Томской областей, Красноярского края, Республики Алтай и&nbsp;Санкт-Петербурга.
         p Мероприятие в&nbsp;рамках нацпроекта &laquo;Молодёжь и&nbsp;дети&raquo; организовал региональный центр для одарённых детей &laquo;Спутник&raquo;.
         p Команда Центра цифрового образования детей &laquo;IT-куб. Солнечный&raquo; заняла второе место на первой межрегиональной сменепо&nbsp;робототехнике &laquo;Проф Смена&raquo; в&nbsp;Красноярске с&nbsp;проектом в&nbsp;направлении &laquo;Проф-Коллаборативный&raquo;.

      +image( '12.02-2', '1', 'mb4', '© Центр цифрового образования детей «IT-куб. Солнечный&raquo;')

      p На протяжении недели участники смены активно осваивали современные инженерные профессии и&nbsp;развивали свои технические навыки. Они решали различные кейсыпо&nbsp;робототехнике: создавали модели гидроэлектростанций, делали сенсоры, программировали ракеты и&nbsp;роботов. Участники работали с&nbsp;оборудованием, которое используется на современном производстве.
      p Для ребят также были организованы экскурсии на одно из ведущих предприятий ракетно-космической отрасли России &laquo;Красмаш&raquo; и&nbsp;в Сибирскую логистическую компанию.

      p.quote &laquo;В направлении &laquo;Проф-Сервис&raquo; мы открыли для себя много нового: впервые поработали с&nbsp;микрокомпьютером Raspberry Pi и&nbsp;собрали робота из незнакомых прежде наборов. В команде были чётко разделены обязанности: одни ребята были программистами, другие – инженерами. Такой подход помог нам успешно защитить проект. Такие смены очень полезны для будущего – это крутой способ узнать много интересного и&nbsp;завести друзей&raquo;, – поделилась впечатлениями
         b  Виктория Зырянова, обучающаяся &laquo;IT-куба. Солнечный&raquo;, подразделения Дворца молодёжи.

      p Среди экспертов смены, помогавших ребятам в&nbsp;решении проектных задач, – ведущие научные сотрудники и&nbsp;педагоги из федерального центра &laquo;Сириус&raquo; и&nbsp;Национального исследовательского университета информационных технологий, механики и&nbsp;оптики г. Санкт-Петербурга.
      p Во Дворце молодёжи отметили, что &laquo;Проф-Смена&raquo; продемонстрировала высокий уровень подготовки свердловских школьников и&nbsp;стала важным шагом в&nbsp;развитии инженерного творчества. Инженерные проекты, разработанные на смене, ребята смогут в&nbsp;дальнейшем представлять на таких крупных всероссийских соревнованиях, как &laquo;Большие вызовы&raquo; и&nbsp;международный чемпионатпо&nbsp;робототехнике.

      .mb4.italic
         p Дворец молодёжи объединяет более 20 структурных подразделений, 5 детских технопарков &laquo;Кванториум&raquo;, 4 центра цифрового образования детей &laquo;IT-куб&raquo;. Координирует 99 центров &laquo;Точка роста&raquo; и&nbsp;около ста базовых площадок в&nbsp;регионе.
         p Центры цифрового образования детей &laquo;IT-куб&raquo; были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование&raquo; при поддержке Министерства просвещения Российской Федерации. В период реализации национального проекта &laquo;Образование&raquo; федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение Центров цифрового образования детей &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации (согласно методическим рекомендациям Минпросвещения России от&nbsp;29.03.2023 № АБ-1339/02), определено ФГАНУ &laquo;ФИЦТО&raquo;.





