article.news_one__article#news_30-04-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 В&nbsp;Центре &laquo;IT&#8209;куб. Княгинино&raquo; прошёл VII областной молодёжный технический фестиваль &laquo;IT-диалог. Твоё цифровое будущее&raquo;
   img.mb4( src='./assets/data/images/news/2025/04.30/1.webp' )
   .text-22

      p.mb1 Программа мероприятия состояла из&nbsp;трёх частей:

      .ml1.mb4
         p.news_point
            b Открытая беседа о&nbsp;поступлении в&nbsp;вузы, приёмной кампании 2025 года и&nbsp;профессиональном самоопределении в&nbsp;сфере IT;
         p.news_point
            b Семинар-тренинг от&nbsp;ведущих специалистов ГБУ&nbsp;ДО НО &laquo;Центр психолого-педагогической, медицинской и&nbsp;социальной помощи&raquo;. Занятия были направлены на&nbsp;снижение стресса перед ЕГЭ, развитие саморегуляции и&nbsp;повышение уверенности в&nbsp;себе;
         p.news_point
            b Серии профессиональных мастер-классов &laquo;Подружись c&nbsp;технологиями&raquo;.

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2025/04.30/2.webp' )
         img( src='./assets/data/images/news/2025/04.30/3.webp' )

      p.mb1 В&nbsp;рамках фестиваля участникам была предоставлена возможность познакомиться c&nbsp;различными профессиями в&nbsp;сфере информационных технологий и&nbsp;инженерии:
      .ml1.mb4
         p.news_point
            b Мобильный разработчик
         p.news_point
            b Оператор беспилотных авиационных систем (БАС)
         p.news_point
            b 3D-дизайнер
         p.news_point
            b Оператор ЧПУ-систем
         p.news_point
            b Цифровой иллюстратор
         p.news_point
            b Системный администратор
         p.news_point
            b Робототехник

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2025/04.30/4.webp' )
         img( src='./assets/data/images/news/2025/04.30/5.webp' )

      p Участниками мероприятия стали представители пяти муниципалитетов Нижегородской области и&nbsp;шести школ. В&nbsp;дистанционном формате приняли участие обучающиеся ГБУ ДА &laquo;Центр технического творчества&nbsp;&mdash; &laquo;Кванториум&raquo; города Мариуполь Донецкой Народной Республики.

      .italic.mb3
         strong Справочно
         p Сотрудничество между ГБОУ ВО НГИЭУ, ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;ГБУ&nbsp;ДО &laquo;ЦТТ&nbsp;&mdash;&laquo;Кванториум&raquo; осуществляется в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;. Проект запущен ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России.

      p.mb1 Подробнее&nbsp;&mdash; в&nbsp;видео Центра &laquo;IT-куб. Княгинино&raquo;
      .video_relative
         .video_ratio
         .iframe_holder
            iframe(src='https://vk.com/video_ext.php?oid=-184564465&id=456239654&hd=2&autoplay=1' width='100%' height='100%' frameborder='0')
               p Твой браузер устарел для&nbsp;отображения элемента iframe
