article.news_one__article#news_05-02-2026_2
   .news_one__date.mb2.text-22
   h1.title.mb5 Десять воспитанников Центра «IT-куб. Мурманск» вышли в&nbsp;региональный финал Чемпионата «Профессионалы»
   +image-26( '02.05-2', '1', 'mb4', '© Центр «IT-куб. Мурманск»')
   .text-22
      p В Мурманской области дан старт региональному этапу чемпионата «Профессионалы». Торжественное открытие четвёртых по&nbsp;счету региональных соревнований состоялось 3 февраля на&nbsp;базе Губернаторского лицея. В&nbsp;этом году за&nbsp;победу в&nbsp;60 компетенциях поборются 344 конкурсанта&nbsp;– студенты организаций среднего профессионального образования и&nbsp;школьники.
      p Особую роль в&nbsp;подготовке будущих IT-специалистов играют Центры цифрового образования «IT-куб». Яркий пример&nbsp;– десять воспитанников мурманского Центра «IT-куб», действующего на&nbsp;базе ГАПОУ&nbsp;МО «Мурманский колледж экономики и&nbsp;информационных технологий», которые успешно прошли отбор и&nbsp;представят свои навыки на&nbsp;площадках чемпионата. Для них, как и&nbsp;для всех участников, это событие&nbsp;– важный шаг в&nbsp;профессиональном самоопределении.

      p.mb4.quote «Для ребят это не&nbsp;только соревнование, но&nbsp;и&nbsp;возможность профессионального самоопределения, получения практического опыта и&nbsp;уверенного старта в&nbsp;карьере. Многие предприятия региона принимают победителей и&nbsp;призёров на&nbsp;практику и&nbsp;стажировки, рассматривая их как будущих сотрудников. Важно, чтобы молодые специалисты связывали свою жизнь с&nbsp;Севером, видели перспективы для работы и&nbsp;самореализации в&nbsp;Мурманской области и&nbsp;строили здесь своё будущее»,&nbsp;–
         b &nbsp;
            a( href='https://gov-murman.ru/info/news/561685/' target='_blank') подчеркнула
            |  министр образования и&nbsp;науки Мурманской области Диана Кузнецова
         | .

      p Центр «IT-куб. Мурманск» готовит кадры по&nbsp;самым востребованным направлениям. Его воспитанники выступят в&nbsp;трёх ключевых компетенциях для юниоров: «Инженерный дизайн САПР», «Сетевое и&nbsp;системное администрирование» и&nbsp;«Графический дизайн». Эти направления напрямую соответствуют приоритетам развития региона.
      p Площадкой для компетенции «Сетевое и&nbsp;системное администрирование. Юниоры», которая проводится здесь уже в&nbsp;третий раз, вновь станет Мурманский колледж экономики и&nbsp;информационных технологий.
      p Среди участников от&nbsp;Центра «IT-куб. Мурманск»&nbsp;— Демид Шевцов. Он обучается в&nbsp;центре третий год, начав с&nbsp;«Летающей робототехники» и&nbsp;перейдя с&nbsp;сентября 2024&nbsp;года на&nbsp;направление «Сетевое и&nbsp;системное администрирование». В&nbsp;2025 году Демид стал победителем регионального этапа и&nbsp;занял шестое место на&nbsp;национальном финале в&nbsp;компетенции «Сетевое и&nbsp;системное администрирование. Юниоры».

      p.mb4.quote «Я хотел бы получить опыт в&nbsp;этой компетенции и&nbsp;попробовать добиться больших результатов. А&nbsp;также представить Мурманскую область на&nbsp;Национальном чемпионате», — поделился своими ожиданиями от&nbsp;участия в&nbsp;Чемпионате Демид.

      +image-26( '02.05-2', '2', 'mb4', '© Центр «IT-куб. Мурманск»')

      p По словам
         b  руководителя Центра «IT-куб. Мурманск» Юлии Щаповой
         | , участие в&nbsp;чемпионате&nbsp;– это бесценная возможность для учеников «примерить» на&nbsp;себя профессию, получить экспертные оценки и&nbsp;понять реальный уровень своих навыков.
      p Конкурсные испытания продлятся на&nbsp;различных площадках региона до&nbsp;3&nbsp;марта. Победители представят Мурманскую область на&nbsp;отборочных соревнованиях для участия в&nbsp;финалах национального чемпионата.
      p Участие воспитанников Центра «IT-куб. Мурманск» в&nbsp;региональном этапе чемпионата «Профессионалы» подтверждает значимость системы Центров «IT-куб» для подготовки будущих молодых специалистов, востребованных в&nbsp;экономике Заполярья и&nbsp;других регионах нашей страны. Успехи юных «кубовцев» показывают, как раннее приобщение ребят к&nbsp;цифровым технология формирует у&nbsp;них вектор карьерного развития и&nbsp;прививает им чувство гордости за&nbsp;свои регионы.

      .italic
         p Движение «Профессионалы» организовано при поддержке Минпросвещения России. Федеральный оператор&nbsp;– Институт развития профессионального образования.
         p Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.
