article.news_one__article#news_22-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Центр «ТЕХНО-IT-куб» в&nbsp;Хабаровске стал площадкой для отбора будущих инженеров Дальнего Востока
   +image( '12.22', '0', 'mb4', '© Центр «ТЕХНО-IT-куб. Хабаровск»')
   .text-22
      p На базе хабаровского Центра «ТЕХНО-IT-куб» стартовал региональный отбор на&nbsp;всероссийский профориентационный конкурс с&nbsp;международным участием «Инженерные кадры России» (ИКаР). Приём заявок для участия в&nbsp;этом этапе продлён до&nbsp;24&nbsp;декабря 2025&nbsp;года. Победители регионального тура, который завершится очно 13&nbsp;февраля 2026&nbsp;года, продолжат состязания на&nbsp;всероссийском финале в&nbsp;Челябинске в&nbsp;мае 2026&nbsp;года.
      .italic
         p Всероссийский профориентационный конкурс с&nbsp;международным участием «Инженерные кадры России» проводится с&nbsp;2014&nbsp;года и&nbsp;ежегодно входит в&nbsp;перечень мероприятий Минпросвещения РФ. Соревновательный сезон 2025-2026 включает три этапа: муниципальный, региональный и&nbsp;всероссийский с&nbsp;международным участием.
      p.mb4 Центр технического и&nbsp;цифрового образования «ТЕХНО-IT-куб» КГАОУ ДО РМЦ (Хабаровский край) в&nbsp;третий раз принимает региональный этап ИКаР. Современная образовательная площадка, оснащённая высокотехнологичным оборудованием, станет местом подготовки команд.

      +image( '12.22', '1', 'mb4', '© Центр «ТЕХНО-IT-куб. Хабаровск»')

      p.quote «Развитие робототехники в&nbsp;Хабаровском крае играет ключевую роль в&nbsp;формировании технологического будущего региона и&nbsp;всей страны. Привлечение детей к&nbsp;изучению основ робототехники способствует раннему выявлению талантов и&nbsp;развитию критического мышления, творческих способностей и&nbsp;навыков решения сложных инженерных задач.&nbsp;—
         b  отмечает Елена Хорошилова, директор Центра «ТЕХНО-IT-куб. Хабаровск»
         | .&nbsp;— Участие наших ребят в&nbsp;региональных этапах всероссийских конкурсов, таких как «Инженерные кадры России», помогает не&nbsp;только приобрести знания и&nbsp;опыт в&nbsp;реальных условиях, но&nbsp;и&nbsp;сформировать конкурентные преимущества среди сверстников, подготовиться к&nbsp;будущей профессиональной деятельности в&nbsp;высокотехнологичных отраслях экономики края и&nbsp;страны. Именно такие инициативы позволяют создавать условия для дальнейшего продвижения инноваций и&nbsp;разработки новых решений, востребованных на&nbsp;рынке труда и&nbsp;необходимых для устойчивого социально-экономического роста Дальнего Востока России».

      p.mt4.mb2 Региональный этап проводится по четырём номинациям для детей от&nbsp;5 до&nbsp;18 лет и&nbsp;включает:
      .ml2.mb4
         p.news_point «ИКаРёнок» (5-7&nbsp;лет)
         p.news_point «ИКаР-СТАРТ» (8-10&nbsp;лет)
         p.news_point «ИКаР-ДЕБЮТ» (11–14&nbsp;лет)
         p.news_point «ИКаР-ПРОФИ-АГРОТЕХ» (11-18&nbsp;лет)

      p.quote «ИКаР организуется Региональным модельным центром ежегодно с&nbsp;целью развития интереса и&nbsp;подготовки подрастающего поколения к&nbsp;выбору технических направлений и&nbsp;инженерных профессий. Участвовать приглашены педагогические работники, дети дошкольного возраста, школьники младших классов, учащиеся дополнительного образования и&nbsp;студенты средних специальных учебных заведений в&nbsp;возрасте от&nbsp;5 до&nbsp;18&nbsp;лет вместе с&nbsp;родителями. В&nbsp;рамках мероприятия предусмотрено проведение четырёх номинаций, каждая из&nbsp;которых направлена на&nbsp;развитие творческого потенциала»,&nbsp;—
         b  подчёркивает методист Центра «ТЕХНО-IT-куб. Хабаровск» Ольга Цекунова
         | .

      p.mt4.mb4 Участие в&nbsp;таких конкурсах помогает детям не&nbsp;только приобрести знания, но&nbsp;и&nbsp;сформировать конкурентные преимущества для будущей профессиональной деятельности.

      p.mb2
         b Как принять участие?
      .ml2.mb4
         p.news_point Подать заявку можно до&nbsp;24 декабря 2025 года&nbsp;
            a(href='https://clck.ru/3QsjiA' target='_blank') по&nbsp;ссылке
            | .
         p.news_point Конкурсные материалы принимаются до&nbsp;30 января&nbsp;2026 года на&nbsp;электронную почту:&nbsp;
            a(href='mailto:itcube@rmc27.ru') itcube@rmc27.ru
            | .
