article.news_one__article#news_26-07-2024
   .news_one__date.mb4.text-22
   h1.title.mb4 Открыта страница выставки достижений обучающихся центров &laquo;IT-куб&raquo;
   img.mb5( src='../assets/data/images/news/2024.07.26.webp' )
   .text-22
      i.mb2 Теперь с&nbsp;разработками талантливых ребят можно ознакомиться прямо на&nbsp;официальном сайте сети центров &laquo;IT-куб&raquo;

      p Виртуальная выставка достижений обучающихся центров &laquo;IT-куб&raquo; &laquo;#Цифровое_Поколение_Наше_Будущее&raquo; начала работать на&nbsp;официальном сайте сети центров &laquo;IT-куб&raquo;. С&nbsp;достижениями юных талантов можно познакомиться в&nbsp;
         a( href='https://it-cube.ficto.ru/digital_generation.html' target='_blank' aria-label='открыть в новой вкладке страницу на сайте IT-cube') специальном разделе сайта
         | .
      p Здесь представлены не&nbsp;только индивидуальные разработки обучающихся, но&nbsp;и&nbsp;достижения команд Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;. Подробнее узнать о&nbsp;достижениях ребят и&nbsp;их проектах можно, просмотрев видеоролики.
      p О&nbsp;запуске проекта виртуальной выставки достижений обучающихся было впервые объявлено на&nbsp;Окружном совещании руководителей центров &laquo;IT-куб&raquo; в&nbsp;Санкт-Петербурге 30&nbsp;марта 2024&nbsp;г. С&nbsp;тех пор от&nbsp;центров &laquo;IT-куб&raquo; из многих российских регионов поступило десятки заявок с&nbsp;описанием достижений обучающихся. Лучшие примеры творчества юных разработчиков пополнят коллекцию виртуальной выставки.
