article.news_one__article#news_10-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 В&nbsp;&laquo;IT-куб. Иркутск&raquo; успешно протестировали &laquo;Азбуку МойОфис&raquo;
   img( src='./assets/data/images/news/2024/10.09/6.webp ' loading='lazy' title='').mb4

   .text-22
      p &laquo;Хаб Знаний МойОфис&raquo; и&nbsp;центр &laquo;IT-куб. Иркутск&raquo; завершили эксперимент по&nbsp;использованию уникального учебного пособия по&nbsp;направлению &laquo;Цифровая грамотность&raquo;. &laquo;Азбука МойОфис&raquo; знакомит обучающихся с&nbsp;отечественными решениями для&nbsp;обработки информации в&nbsp;составе пакета &laquo;МойОфис Образование&raquo;.
      p За&nbsp;пять месяцев тестирования учебного материала преподаватели Центра и&nbsp;обучающиеся смогли оценить его практическую ценность. Ребята научились работать с&nbsp;цифровыми проектами, в&nbsp;том числе в&nbsp;формате презентаций, использовать расчётные таблицы для&nbsp;анализа данных и&nbsp;готовить текстовые материалы в&nbsp;редакторе документов. В&nbsp;процесс тестирования пособия активно вовлекались и&nbsp;родители, обсуждавшие материал вместе с&nbsp;детьми.

      img.mb4.mt4( src='./assets/data/images/news/2024/10.09/8.webp ' loading='lazy' title='')

      p Особенностью использования &laquo;Азбуки МойОфис&raquo; стало сочетание цифровых и&nbsp;печатных учебных материалов. Обучающиеся центра &laquo;IT-куб. Иркутск&raquo; получили двенадцать книг, адаптированных для&nbsp;детей от&nbsp;восьми лет. Эти необычные учебники, включающие в&nbsp;себя возможности учебной тетради, также содержат вклейки с&nbsp;текстом, написанным азбукой Брайля. Благодаря этой особенности дети смогли больше узнать о&nbsp;восприятии информации незрячими людьми и&nbsp;расширить свои знания в&nbsp;этой области. И, конечно&nbsp;же, такие пособия особенно хорошо подходят детям с&nbsp;ограниченными возможностями здоровья.

      .news_img__slider.mb4.mt4
         img( src='./assets/data/images/news/2024/10.09/2.webp ' loading='lazy' title='')
         img( src='./assets/data/images/news/2024/10.09/3.webp ' loading='lazy' title='')
         img( src='../assets/data/images/news/2024/10.09/4.webp ' loading='lazy' title='')


      p
         b Анастасия Горелова, руководитель программ обучения &laquo;Хаб Знаний МойОфис&raquo;:
      p.quote.mb08 &laquo;Идея провести апробацию в&nbsp;&laquo;IT-кубе&raquo; возникла после участия в&nbsp;первом съезде руководителей центров &laquo;IT-куб&raquo; в&nbsp;Тюмени. Именно там мы познакомились с&nbsp;площадкой и&nbsp;задачами, стоящими перед центрами цифрового образования детей. Там&nbsp;же стало очевидно, что&nbsp;программу работы &laquo;кубов&raquo; можно расширить, вовлекая в&nbsp;обучение и&nbsp;самых маленьких учеников. Работа с&nbsp;&laquo;IT-куб. Иркутск&raquo; как&nbsp;раз&nbsp;совпала с&nbsp;переизданием книги и&nbsp;появлением в&nbsp;ней той самой &laquo;вклейки&raquo; с&nbsp;азбукой Брайля. Здорово, что ребята оценили этот ход и&nbsp;подтвердили интерес к&nbsp;работе с&nbsp;книгой&raquo;.

      p.mt3
         b Анна Кличенко, преподаватель Центра &laquo;IT-куб. Иркутск&raquo;:
      p.quote.mb08 &laquo;Программа &laquo;Азбука цифровой грамотности&raquo; апробировалась на&nbsp;базе нашего &laquo;IT-куба&raquo; в&nbsp;прошлом учебном году при&nbsp;поддержке МойОфис. Учебное пособие&nbsp;&mdash; грамотно составленный, понятный и&nbsp;очень интересный для&nbsp;детей инструмент работы, который помогает малышам просто и&nbsp;легко разобраться с&nbsp;самыми сложными задачами при&nbsp;изучении офисных программ&raquo;.

      strong Справочно
      p Компания МойОфис (ООО &laquo;Новые Облачные Технологии&raquo;) является технологическим партнёром сети ЦЦОД &laquo;IT-куб&raquo; и&nbsp;принимает участие в&nbsp;федеральных и&nbsp;региональных мероприятиях. &laquo;Хаб Знаний МойОфис&raquo;&nbsp;&mdash; центр компетенций по&nbsp;продуктам МойОфис и&nbsp;организационному развитию, созданный для&nbsp;организации обучения и&nbsp;развития клиентов МойОфис.
