article.news_one__article#news_03-02-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 Обучающиеся Центра «IT-куб. Уралмаш» приняли участие в&nbsp;сменах Всероссийских детских центров
   +image-26( '02.03', '0', 'mb4', '© Центр «IT-куб. Уралмаш»')
   .text-22
      p.italic Четверо воспитанников Центра «IT-куб. Уралмаш» в&nbsp;рамках Года детского отдыха, объявленного в&nbsp;2025 году Министерством просвещения России, приняли участие в&nbsp;образовательных сменах Всероссийских детских центров (ВДЦ) «Артек» и&nbsp;«Океан».
      p.mb4 Участниками смен ВДЦ стали Майя Панова, Михаил Юхман, Константин Николаев и&nbsp;Данил Мухатинов. Каждая поездка стала заслуженной наградой за&nbsp;их упорный труд, личные достижения, проектную деятельность и&nbsp;победы на&nbsp;конкурсах. Они не&nbsp;просто отдыхали у&nbsp;моря, а&nbsp;учились, создавали, прокачивали навыки и&nbsp;знакомились с&nbsp;такими&nbsp;же целеустремлёнными и&nbsp;талантливыми ребятами со&nbsp;всей России.

      +image-26( '02.03', '1', 'mb4', '© ВДЦ «Океан»')

      p.mb4 Обучающаяся Центра Майя Панова, которая занимается авиамоделированием, попробовала себя в&nbsp;новых направлениях на&nbsp;инженерной смене «Юные инженеры» в&nbsp;«Океане». Майя погрузилась в&nbsp;изучение робототехники, 3D-моделирования и&nbsp;промышленного дизайна, а&nbsp;также успешно представила свой проект на&nbsp;конкурсе «Юный инженер», где получила заслуженный диплом. Помимо основной программы, она прошла курсы «Биология здоровья», «Древотехника» и&nbsp;«Школа судомоделирования и&nbsp;связи» и&nbsp;получила сертификаты с&nbsp;высокими оценками.

      +image-26( '02.03', '2', 'mb4', '© ВДЦ «Артек»')

      p Поездка в&nbsp;Международный детский центр «Артек» стала для Михаила Юхмана заслуженной наградой за&nbsp;высокие спортивные достижения в&nbsp;авиамоделировании. За&nbsp;свои заслуги в&nbsp;этом направлении воспитанник Центра уже выигрывал поездку на&nbsp;Байконур от&nbsp;Опытного конструкторского бюро «Новатор». В&nbsp;лагере «Лазурный» Михаил осваивал морское дело и&nbsp;даже завоевал второе место в&nbsp;швартовке.
      p.mb4.quote «Я попал в&nbsp;отряд «Пятнадцатилетний капитан». Мы ездили в&nbsp;Севастополь, видели Херсонес, лазили по&nbsp;скалодрому. Но главное&nbsp;— это друзья, которые теперь есть в&nbsp;разных концах России»,&nbsp;— вспоминает Михаил.

      +image-26( '02.03', '3', 'mb4', '© ВДЦ «Океан»')

      p Константин Николаев, занимающийся в&nbsp;IT-кубе судомоделированием, подал заявку на&nbsp;смену «ТехноКаникулы» в&nbsp;«Океан», представив свои достижения в&nbsp; олимпиадах и&nbsp;робототехнике. В&nbsp;ВДЦ его команда разработала приложение Ocean Map для навигации по&nbsp;территории детского центра и&nbsp;заняла с&nbsp;ним первое место.
      p.mb4.quote «Заявку я подавал ещё весной, а&nbsp;путёвку получил только в&nbsp;декабре&nbsp;— ждал с&nbsp;нетерпением! Самый крутой лагерь в&nbsp;моей жизни»,&nbsp;— говорит Константин.

      +image-26( '02.03', '4', 'mb4', '© ВДЦ «Океан»')

      p Данил Мухатинов обучается на&nbsp;направлении «Робототехника», он также прошёл отбор на&nbsp;«ТехноКаникулы» в&nbsp;«Океане», представив свои достижения. Помимо образовательных курсов и&nbsp;спорта, его впечатлили поездки во&nbsp;Владивосток и&nbsp;тренажёры, позволяющие почувствовать себя водителем разных видов транспорта.
      p
         b Начальник отдела развития педагогических кадров Регионального центра координации деятельности по&nbsp;организации отдыха и&nbsp;оздоровления детей Свердловской области, структурного подразделения ГАНОУ&nbsp;СО «Дворец молодежи» Сергей Ошев:
      p.quote Поездка в&nbsp;ВДЦ&nbsp;— это возможность побывать в&nbsp;большом федеральном центре, увидеть, как живут и&nbsp;учатся ребята со&nbsp;всей страны. Там дети знакомятся с&nbsp;ровесниками из разных регионов России, пробуют себя в&nbsp;новых направлениях и&nbsp;становятся увереннее в&nbsp;своих силах. Такой опыт надолго остаётся с&nbsp;ними и&nbsp;часто влияет на&nbsp;дальнейший выбор своего жизненного пути и&nbsp;интересы.

      p Участие юных уральцев в&nbsp;образовательных сменах Всероссийских детских центров&nbsp;— лучшее доказательство того, как знания, полученные в Центре «IT-куб», и&nbsp;инициатива ребят открывают двери к&nbsp;большим возможностям.

      p.italic Центр цифрового образования детей «IT-куб. Уралмаш» создан на&nbsp;базе ГАНОУ&nbsp;СО «Дворец молодёжи» в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при&nbsp;поддержке Министерства просвещения Российской Федерации. Всего в&nbsp;России открыто 329 центров «IT-куб». Минувший 2025&nbsp;год был объявлен Минпросвещения России Годом детского отдыха в&nbsp;системе образования.
