article.news_one__article#news_11-11-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 ProVR Оренбурге: три дня вдохновения и&nbsp;высоких технологий
   img.mb4( src='./assets/data/images/news/2024/11.11/1.webp' )

   .text-22
      p.mb4 С&nbsp;8 по&nbsp;10&nbsp;ноября 2024&nbsp;года в&nbsp;Оренбурге прошёл финальный этап Всероссийского хакатона по&nbsp;виртуальной и&nbsp;дополненной реальности &laquo;ProVR&raquo;. В&nbsp;состязании приняли участие 87&nbsp;школьников из&nbsp;14 регионов России, обучающиеся в&nbsp;центрах цифрового образования детей &laquo;IT-куб&raquo;, инженерных классах и&nbsp;детских технопарках &laquo;Кванториум&raquo;.

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2024/11.11/2.webp' )
         img( src='./assets/data/images/news/2024/11.11/3.webp' )
         img( src='./assets/data/images/news/2024/11.11/4.webp' )
         img( src='./assets/data/images/news/2024/11.11/5.webp' )
         img( src='./assets/data/images/news/2024/11.11/6.webp' )
         img( src='./assets/data/images/news/2024/11.11/7.webp' )
         img( src='./assets/data/images/news/2024/11.11/8.webp' )

      p Торжественное открытие хакатона состоялось 8&nbsp;ноября во&nbsp;Дворце культуры и&nbsp;спорта &laquo;Газовик&raquo; при&nbsp;участии членов правительства Оренбургской области. Яркую церемонию дополнило участие робота в&nbsp;роли одного из&nbsp;ведущих. Основная часть хакатона прошла на&nbsp;площадке Оренбургского колледжа экономики и&nbsp;информатики и&nbsp;собрала разработчиков программного обеспечения, представителей образовательных центров и&nbsp;промышленных компаний.
      p.mb4 Команды юных участников хакатона боролись за&nbsp;звание лучших по&nbsp;трём трекам&nbsp;&mdash; VR, 3D и&nbsp;AR. Каждое из&nbsp;направлений позволило ребятам продемонстрировать свои технические навыки и&nbsp;креативный подход к&nbsp;решению задач. Ценными советами и&nbsp;наставлениями с&nbsp;участниками делились эксперты в&nbsp;сфере VR и&nbsp;AR.

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2024/11.11/9.webp' )
         img( src='./assets/data/images/news/2024/11.11/10.webp' )
         img( src='./assets/data/images/news/2024/11.11/11.webp' )

      p В экспертную комиссию хакатона вошли представители ГАПОУ &laquo;Оренбургский колледж экономики и&nbsp;информатики&raquo;, ООО &laquo;Куформ&raquo;, регионального подразделения компании &laquo;Синимекс-Информатика&raquo;, сети GameZone и&nbsp;независимые эксперты&nbsp;&mdash; представители профессионального сообщества технологической сферы.
      p По итогам работы жюри были определены команды-победители в&nbsp;каждом из&nbsp;треков.

      p.ml1.mb2
         b VR
         .ml2.mb1
            p.news_point
               b 1 место:
               |  Glam VR (Оренбургская область): Никита Шульга, Артём Головчик
            p.news_point
               b 2 место:
               |  PixelForge (Свердловская область): Артём Гирев, Юлия Байборина , Дмитрий Распутин, Зарина Идиева
            p.news_point
               b 3 место:
               |  Компот (Саратовская область): Александр Бакурский, Игорь Савинков, Николай Липницкий, Георгий Спиридонов
      p.ml1.mb2
         b 3D
         .ml2.mb1
            p.news_point
               b 1 место:
               |  Куб в&nbsp;квадрате (К^2) (Республика Татарстан): Михаил Анисимов, Пётр Девжеев, Булат Гиндуллин, Камиль Ханов
            p.news_point
               b 2 место:
               |  Смайлики (Оренбургская область): Владислав Абрамов, Тимофей Попов
            p.news_point
               b 3 место:
               |  Arctic Shrimp (Красноярский край): Арина Трямкина, Варвара Гуревич, Иван Ефремов, Варвара Холудеева

      p.ml1.mb2
         b AR
         .ml2.mb1
            p.news_point
               b 1 место:
               |  UnityCEO (Удмуртская Республика): Никита Чазов, Степан Зайцев, Никита Бяков
            p.news_point
               b 2 место:
               |  WeAR (Оренбургская область) Нурсиля Кинзабаева, Надежда Зубкова
            p.news_point
               b 3 место:
               |  КМС по&nbsp;роблоксу (Оренбургская область) Анна Алтухова, Ирина Казакова, Олег Сулимов


      p.mt3 Участники хакатона смогли познакомиться и&nbsp;с&nbsp;технологическими наработками Оренбуржья. Для&nbsp;ребят была организована экскурсия в&nbsp;два ведущих профессиональных образовательных учреждения региона: Гуманитарно-технический техникум и&nbsp;Колледж сервиса.
      p В Гуманитарно-техническом техникуме гостям показали лаборатории и&nbsp;мастерские по&nbsp;лазерным технологиям, гончарному мастерству, робототехнике, сити-фермерству, сварочному производству. В&nbsp;Колледже сервиса участников хакатона встретили педагоги и&nbsp;студенты, представившие направления подготовки в&nbsp;сфере обслуживания и&nbsp;дизайна.
