article.news_one__article#news_13-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 На&nbsp;Всероссийском хакатоне выступят команды из&nbsp;23 регионов страны
   img.mb4( src='./assets/data/images/news/2024/09.13.webp' loading='lazy')
   .text-22
      p Завершился отбор участников заключительного этапа II Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;. Состязание проводит федеральный оператор сети центров &laquo;IT-куб&raquo; Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФИЦТО) при&nbsp;поддержке Минпросвещения России.

      p За&nbsp;звание лучших в&nbsp;направлениях &laquo;Программирование&raquo;, &laquo;VR-разработка&raquo; и&nbsp;&laquo;Кибергигиена&raquo; поборются представители 23&nbsp;регионов страны. Список субъектов, которые направят свои команды на&nbsp;очный этап хакатона, опубликован на&nbsp;
         a( href='https://it-cube.ficto.ru/hackathon.html' target='_blank' title='it-cube.ficto.ru/hackathon' aria-label='откроется новая страница о&nbsp;хакатоне на сайте it-cube') странице состязания.

      p II Всероссийский хакатон пройдёт с&nbsp;9 по&nbsp;11 октября в&nbsp;Нижнем Новгороде. Всего в&nbsp;состязании примут участие 30 команд&nbsp;&mdash; по&nbsp;10 в&nbsp;каждом из&nbsp;направлений. В&nbsp;команде&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек 14–18&nbsp;лет.
      p Ребятам предстоит решить реальные задачи технологических компаний&nbsp;&mdash; партнёров мероприятия, а&nbsp;также представить свои работы экспертной комиссии.
      p Все участники очного этапа получат электронный сертификат. Победители в&nbsp;каждом из&nbsp;направлений получат дипломы, специальные призы и&nbsp;смогут пройти стажировку в&nbsp;компании-партнёре.

      .italic
         strong Справочно
         p Впервые Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; прошёл с&nbsp;24 по&nbsp;26 ноября 2023&nbsp;года в&nbsp;Свердловской области. Мероприятие направлено на&nbsp;выявление талантливых детей, увлечённых информационными технологиями, развитие у&nbsp;ребят творческого потенциала, навыков решения реальных бизнес-задач с&nbsp;помощью современных информационных технологий.
