article.news_one__article#news_11-02-2026
   .news_one__date.mb2.text-22
   h1.title.mb5 От дошкольников до&nbsp;старшеклассников: фестиваль «ТехноСТАРТ» собрал в&nbsp;Хабаровске более 600&nbsp;юных инженеров
   +image-26( '02.11', '1', 'mb4', '© Центр «ТЕХНО-IT-куб» (Хабаровск)')
   .text-22
      p В Хабаровске подходит к&nbsp;завершению шестой фестиваль робототехники «ТехноСТАРТ». Его финальный очный этап прошёл 6&nbsp;февраля, а&nbsp;всего мероприятие для будущих техников от&nbsp;5 до&nbsp;18&nbsp;лет продлится до&nbsp;16&nbsp;февраля 2026&nbsp;года. Главная цель&nbsp;— увлечь детей миром технологий, поддержать таланты и&nbsp;популяризировать инженерные профессии.
      p.mb3 В Год дошкольного образования, объявленного Минпросвещения России, фестиваль «ТехноСТАРТ» получил небывалый отклик от&nbsp;самых юных участников в&nbsp;дистанционной номинации «ТехноДетки»: 80&nbsp;воспитанников детских садов прислали свои работы&nbsp;— от&nbsp;первых механизмов до&nbsp;программируемых моделей. Среди авторов&nbsp;— ребята из&nbsp;детского сада №145, включая детей с&nbsp;ОВЗ.

      p.mb4.quote «Это мероприятие&nbsp;— важная площадка для демонстрации способностей молодых инженеров,&nbsp;— отметила
         b  методист Центра «ТЕХНО-IT-куб» Маргарита Демченко
         | . — Мы особенно рады активности дошкольников: 80&nbsp;проектов сигнализируют, что интерес к&nbsp;инженерии закладывается с&nbsp;раннего возраста».

      p Фестиваль прошёл в&nbsp;гибридном формате. Помимо очного тура и&nbsp;номинации для дошколят, ещё 300&nbsp;ребят попробовали свои силы в&nbsp;дистанционных номинациях: «ТехноДетки», «Разработка технического проекта робота», «РобоОлимпиада». В&nbsp;двух номинациях очного этапа «РобоСила» и&nbsp;«РобоДрайв» (разных возрастных категорий) приняли участие 108&nbsp;юных робототехников. Общая география «ТехноСТАРТа» охватила 13&nbsp;муниципальных районов Хабаровского края.
      p Кроме соревновательной части, для робототехников и&nbsp;гостей соревнований прошло интерактивно-образовательное мероприятие, на&nbsp;котором можно было принять участие в&nbsp;мастер-классе по&nbsp;программированию, проверить свою эрудицию и&nbsp;знания в&nbsp;интеллектуальной игре, узнать, как делается обжим проводов, посмотреть на&nbsp;дроны и&nbsp;даже принять участие в&nbsp;РобоОлимпиаде.
      p Фестиваль проводится в&nbsp;рамках краевого комплексного плана мероприятий по&nbsp;поддержке центров «Точка роста», детских технопарков «Кванториум» и&nbsp;центров «IT-куб» в&nbsp;Хабаровском крае.
      p Его организатором выступает Региональный модельный центр дополнительного образования детей Хабаровского края совместно с&nbsp;образовательными организациями: детскими технопарками «Кванториум» в&nbsp;Комсомольске-на-Амуре и&nbsp;Хабаровске, Центром «IT-куб» в&nbsp;с.&nbsp;Восточное, гимназией п.&nbsp;Чегдомын Хабаровского края. Партнеры фестиваля&nbsp;– ведущие технологические компании и&nbsp;вузы региона.

      p.italic Центры цифрового образования детей «IT-куб» были созданы в&nbsp;рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование» при поддержке Министерства просвещения Российской Федерации.

