article.news_one__article#news_15-11-2024-2
   .news_one__date.mb2.text-22
   h1.title.mb5 Объявлены победители II Всероссийского конкурса педагогов &laquo;IT&#8209;куб&raquo;
   img.mb4( src='./assets/data/images/news/2024/11.15/1.1.webp' loading='lazy')
   .text-22
      p Заключительный этап II Всероссийского конкурса педагогов центров цифрового образования детей &laquo;IT&#8209;куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo; прошёл в&nbsp;Смоленске 15&nbsp;ноября на&nbsp;площадке Центра опережающей профессиональной подготовки.
      p.mb4 На&nbsp;торжественной церемонии открытия мероприятия педагогов из&nbsp;14 регионов России приветствовали областные власти, а&nbsp;также организаторы&nbsp;&mdash; руководство Федерального института цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;).

      img.mb4( src='./assets/data/images/news/2024/11.15/2.webp' loading='lazy')

      p.mb4 Первый заместитель директора ФИЦТО Юлия Пономарёва подчеркнула важность работы центров &laquo;IT&#8209;куб&raquo; для&nbsp;обеспечения технологического суверенитета и&nbsp;достижения технологического лидерства России. Она отметила стремительный рост востребованности IT&#8209;специальностей в&nbsp;социально-экономической жизни страны и&nbsp;выразила уверенность в&nbsp;конкурентоспособности выпускников центров &laquo;IT&#8209;куб&raquo; на&nbsp;рынке труда.

      img.mb4( src='./assets/data/images/news/2024/11.15/3.webp?v=2' loading='lazy')

      p Юлия Пономарёва высоко оценила профессионализм участников конкурса и&nbsp;пожелала им продуктивной работы на&nbsp;мероприятии, нового опыта, новых знакомств и, конечно, победы.
      p.mb4 Заместитель председателя правительства Смоленской области Вита Хомутова поблагодарила Минпросвещения России и&nbsp;ФИЦТО за&nbsp;проведение конкурса в&nbsp;Смоленске и&nbsp;передала участникам конкурса приветствие от&nbsp;губернатора региона Василия Анохина. Она отметила значимость центров &laquo;IT&#8209;куб&raquo; для&nbsp;подготовки кадров в&nbsp;IT&#8209;сфере и&nbsp;высокий интерес работодателей к&nbsp;молодым специалистам.

      img.mb4( src='./assets/data/images/news/2024/11.15/4.webp' loading='lazy')

      p Со словами поддержки и&nbsp;напутствия к&nbsp;педагогам также обратились заместитель министра образования и&nbsp;науки Смоленской области&nbsp;&mdash; директор департамента по&nbsp;обеспечению деятельности образовательных организаций Елена Кудрицкая и&nbsp;первый заместитель министра цифрового развития Смоленской области Татьяна Щербакова.
      p.mb4 После завершения церемонии открытия началась рабочая часть конкурса. В&nbsp;течение всего дня педагоги центров цифрового образования детей &laquo;IT&#8209;куб&raquo; представляли экспертному жюри свои дополнительные общеобразовательные программы. За&nbsp;звания лучших боролись 24&nbsp;педагога&nbsp;&mdash; по&nbsp;три человека в&nbsp;каждой номинации конкурса.

      img.mb4( src='./assets/data/images/news/2024/11.15/5.webp' loading='lazy')

      p Также в&nbsp;рамках мероприятия прошла практико-ориентированная сессия. Представители Смоленской области поделились своими наработками в&nbsp;сфере профориентационной работы и&nbsp;методикой командообразования.
      p По итогам дня были объявлены победители, а&nbsp;также педагоги, занявшие вторые и&nbsp;третьи места в&nbsp;каждой номинации.


      p.ml1.mb1
         b Направление &laquo;Алгоритмика и&nbsp;логика&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Новгородов Айисен Александрович&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Якутск (Республика Саха (Якутия).
            p.news_point
               b Второе место:
               |  Качалина Екатерина Алексеевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Рязань (Рязанская область).
            p.news_point
               b Третье место:
               |  Кирчегина Ирина Анатольевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Арамиль (Свердловская область).

      p.ml1.mb1
         b Направление &laquo;Программирование&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Никифорова Маргарита Дмитриевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Магнитогорск (Челябинская область).
            p.news_point
               b Второе место:
               |  Кузнецова Ксения Валерьевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Мурманск (Мурманская область).
            p.news_point
               b Третье место:
               |  Шатров Антон Рудольфович&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Южноуральск (Челябинская область).


      p.ml1.mb1
         b Направление &laquo;Кибергигиена&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Староверова Елена Львовна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Астрахань (Астраханская область).
            p.news_point
               b Второе место:
               |  Жукова Юлия Николаевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Липецк (Липецкая область).
            p.news_point
               b Третье место:
               |  Чернова Диана Брониславовна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Нижневартовск (ХМАО&nbsp;&mdash; Югра).

      p.ml1.mb1
         b Направление &laquo;Системное администрирование&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Бурдин Дмитрий Андреевич &laquo;IT&#8209;куб&raquo; г.&nbsp;Липецк (Липецкая область).
            p.news_point
               b Второе место:
               |  Зорин Захар Алексеевич&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Княгинино (Нижегородская область).
            p.news_point
               b Третье место:
               |  Авимский Денис Вадимович&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Сургут (ХМАО&nbsp;&mdash; Югра).


      p.ml1.mb1
         b Направление &laquo;Разработка VR/AR-приложений&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Войт Екатерина Игоревна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Сыктывкар (Республика Коми).
            p.news_point
               b Второе место:
               |  Вдовиченко Никита Александрович&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Кировск (Мурманская область).
            p.news_point
               b Третье место:
               |  Бобровских Владимир Алексеевич&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Семёнов (Нижегородская область).


      p.ml1.mb1
         b Направление &laquo;Робототехника&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Паньшина Арина Сергеевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Княгинино (Нижегородская область).
            p.news_point
               b Второе место:
               |  Есина Елена Николаевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Сургут (ХМАО&nbsp;&mdash; Югра).
            p.news_point
               b Третье место:
               |  Белицкая Анна Вячеславовна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Челябинск (Челябинская область).


      p.ml1.mb1
         b Направление &laquo;Большие данные&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Коннов Клим Глебович&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Санкт-Петербург.
            p.news_point
               b Второе место:
               |  Селезнёв Андрей Андреевич&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Сургут (ХМАО&nbsp;&mdash; Югра).
            p.news_point
               b Третье место:
               |  Шикан Алексей Владимирович&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Норильск (Красноярский край).


      p.ml1.mb1
         b Направление &laquo;Мобильная разработка&raquo;
         .ml2.mb2
            p.news_point
               b Первое место:
               |  Миронова Елена Николаевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Санкт-Петербург.
            p.news_point
               b Второе место:
               |  Воротова Наталия Афонасьевна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Ижевск (Удмуртская Республика).
            p.news_point
               b Третье место:
               |  Вантеева Анастасия Леонидовна&nbsp;&mdash; &laquo;IT&#8209;куб&raquo; г.&nbsp;Ангарск (Иркутская область).




      p.mb4 Награды победителями вручили заместители директора ФИЦТО Андрей Гамула и&nbsp;Тамара Агапкина.

      img( src='./assets/data/images/news/2024/11.15/6.webp' loading='lazy')


      .italic
         strong Справочно
         p Всероссийский конкурс педагогов центров &laquo;IT&#8209;куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo; проводится для&nbsp;выявления талантливых педагогов дополнительного образования, а&nbsp;также обмена передовыми образовательными практиками для&nbsp;развития у&nbsp;детей цифровых навыков и&nbsp;расширения их знаний о&nbsp;современных информационных технологиях.
         p Впервые конкурс прошёл в&nbsp;2023 году и&nbsp;завершился финальным мероприятием в&nbsp;Москве 11–12&nbsp;декабря. Победителями стали педагоги из&nbsp;Санкт-Петербурга, Иркутской, Смоленской, Свердловской и&nbsp;Челябинской областей.
