article.news_one__article#news_29-10-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 К&nbsp;проекту &laquo;Цифровое наставничество&raquo; подключилась ещё одна школа в&nbsp;Херсонской области
   img.mb4( src='./assets/data/images/news/2024/10.29/1.webp' )

   .text-22
      p ФГАНУ &laquo;ФИЦТО&raquo;, Приморская школа Скадовского муниципального округа (Херсонская область) и&nbsp;средняя общеобразовательная школа &#8470;13 города Калуги, на&nbsp;базе которой работает центр &laquo;IT-куб&raquo;, подписали соглашение о&nbsp;сотрудничестве в&nbsp;рамках проекта &laquo;Цифровое наставничество&raquo;.
      p.mb4 Подписи под&nbsp;документом поставили заместитель директора ФГАНУ &laquo;ФИЦТО&raquo; Андрей Гамула, директор ГБОУ Херсонской области &laquo;Приморская школа Скадовского муниципального округа&raquo; Ирина Бачинская и&nbsp;директор МБОУ &laquo;Средняя общеобразовательная школа &#8470;13&raquo; города Калуги Оксана Милованова.

      .row.flex.mb4
         .xs.mb-sm
            img( src='./assets/data/images/news/2024/10.29/2.webp' )
         .xs.mb-sm
            img( src='./assets/data/images/news/2024/10.29/3.webp' )
         .xs
            img( src='./assets/data/images/news/2024/10.29/4.webp' )

      p Участники соглашения будут организовывать совместные мероприятия, обмениваться опытом и&nbsp;методическими наработками. Они также будут сотрудничать в&nbsp;сферах профориентационной работы с&nbsp;обучающимися, организации проектной и&nbsp;исследовательской деятельности воспитанников.
      p Участие в&nbsp;проекте &laquo;Цифровое наставничество&raquo; поможет ребятам из&nbsp;Херсонской и&nbsp;Калужской областей обрести новых друзей, получить ценные знания и&nbsp;умения, сообща решать сложные задачи, отметил заместитель директора ФИЦТО Андрей Гамула. Он выразил надежду, что в&nbsp;2025 году ученики херсонской школы смогут благодаря проекту принять участие в&nbsp;III&nbsp;Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;.
      p Участие в&nbsp;проекте в&nbsp;качестве наставника&nbsp;&mdash; ответственная и&nbsp;почётная миссия для&nbsp;калужской школы &#8470;13, подчеркнула директор Оксана Милованова. У&nbsp;школы есть богатый опыт подобной работы&nbsp;&mdash; несколько лет подряд в&nbsp;её стенах принимают детей из&nbsp;других субъектов РФ в&nbsp;рамках межрегиональной образовательной IT-смены. Молодёжь Херсонской области интересуются современными IT-разработками и&nbsp;хочет их осваивать.
      p.mb4 Возможность сотрудничества c&nbsp;калужской школой &#8470;13 и&nbsp;расположенным на&nbsp;её базе центром &laquo;IT-куб&raquo; города Калуги значима и&nbsp;ценна для&nbsp;коллектива и&nbsp;воспитанников Приморской школы, отметила директор учреждения Ирина Бачинская.

      img.mb4( src='./assets/data/images/news/2024/10.29/5.webp' )

      p После заключения соглашения стороны разработают план совместных мероприятий.

      .italic
         strong Справочно
         p Проект &laquo;Цифровое наставничество&raquo; запущен ФГАНУ &laquo;ФИЦТО&raquo; как федеральным оператором центров &laquo;IT-куб&raquo; для&nbsp;ускорения интеграции образовательных организаций ДНР и&nbsp;ЛНР, Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. В&nbsp;настоящее время к&nbsp;проекту уже присоединился ряд образовательных организаций ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.

