article.news_one__article#news_10-09-2024
   .news_one__date.mb4.text-22
   h1.title.mb5 Награждены победители Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   .news_img__slider.mb3
      img( src='../assets/data/images/news/2024/10.09/1.webp' )
   .text-22
      p «Хаб Знаний МойОфис» и центр «IT-куб.Иркутск» завершили эксперимент по использованию уникального учебного пособия по направлению «Цифровая грамотность». «Азбука МойОфис» знакомит обучающихся с отечественными решениями для обработки информации в составе пакета «МойОфис Образование».
      p За пять месяцев тестирования учебного материала преподаватели Центра и обучающиеся смогли оценить его практическую ценность. Ребята научились работать с цифровыми проектами, в том числе в формате презентаций, использовать расчётные таблицы для анализа данных и готовить текстовые материалы в редакторе документов. В процесс тестирования пособия активно вовлекались и родители, обсуждавшие материал вместе с детьми.
      p Особенностью использования «Азбуки МойОфис» стало сочетание цифровых и печатных учебных материалов. Обучающиеся центра «IT-куб.Иркутск» получили двенадцать книг, адаптированных для детей от восьми лет. Эти необычные учебники, включающие в себя возможности учебной тетради, также содержат вклейки с текстом, написанным азбукой Брайля. Благодаря этой особенности дети смогли больше узнать о восприятии информации незрячими людьми и расширить свои знания в этой области. И, конечно же, такие пособия особенно хорошо подходят детям с ограниченными возможностями здоровья.


      .news_img__slider.mb5
         img( src='../assets/data/images/news/2024/10.09/2.webp' )
         img( src='../assets/data/images/news/2024/10.09/3.webp' )
         img( src='../assets/data/images/news/2024/10.09/4.webp' )


      p
         b Анастасия Горелова, руководитель программ обучения «Хаб Знаний МойОфис»:
      p.quote.mb08 «Идея провести апробацию в «IT-кубе» возникла после участия в первом съезде руководителей центров «IT-куб» в Тюмени. Именно там мы познакомились с площадкой и задачами, стоящими перед центрами цифрового образования детей. Там же стало очевидно, что программу работы «кубов» можно расширить, вовлекая в обучение и самых маленьких учеников. Работа с «IT-куб.Иркутск» как раз совпала с переизданием книги и появлением в ней той самой «вклейки» с азбукой Брайля. Здорово, что ребята оценили этот ход и подтвердили интерес к работе с книгой».

      p
         b Анна Кличенко, преподаватель Центра «IT-куб.Иркутск»:
      p.quote.mb08 «Программа «Азбука цифровой грамотности» апробировалась на базе нашего «IT-куба» в прошлом учебном году при поддержке МойОфис. Учебное пособие — грамотно составленный, понятный и очень интересный для детей инструмент работы, который помогает малышам просто и легко разобраться с самыми сложными задачами при изучении офисных программ».

      strong Справочно
      p Компания МойОфис (ООО «Новые Облачные Технологии») является технологическим партнёром сети ЦЦОД «IT-куб» и принимает участие в федеральных и региональных мероприятиях. «Хаб Знаний МойОфис» – центр компетенций по продуктам МойОфис и организационному развитию, созданный для организации обучения и развития клиентов МойОфис.
