article.news_one__article#news_16-02-2024
   .news_one__date.mb4.text-22
   h1.title.mb5 &laquo;IT-куб. Иркутск&raquo; начал работать по&nbsp;учебным пособиям МойОфис: обучающиеся по&nbsp;направлению &laquo;Кибергигиена и&nbsp;работа с&nbsp;большими данными&raquo; знакомятся с&nbsp;&laquo;Азбукой цифровой грамотности&raquo;
   .news_img__slider.mb5
      img( src='../assets/data/images/news/2024/16.02.2024/1.webp' )
      img( src='../assets/data/images/news/2024/16.02.2024/2.webp' )
   .text-22
      p Обучающиеся Центра &laquo;IT-куб. Иркутск&raquo; познакомились с&nbsp;учебными пособиями от&nbsp;российского разработчика IT-решений&nbsp;&mdash; компании МойОфис.
      p 13&nbsp;печатных версий &laquo;Азбуки МойОфис&raquo; стали основой курса &laquo;Азбука цифровой грамотности&raquo; в&nbsp;рамках направления &laquo;Кибергигиена и&nbsp;работа с&nbsp;большими данными&raquo;. Курс рассчитан на&nbsp;школьников от&nbsp;7 до&nbsp;12&nbsp;лет. Иркутск стал пилотной площадкой внедрения пособия в&nbsp;учебный процесс российских &laquo;IT-кубов&raquo;.
      p Пособие содержит 34&nbsp;тематических занятия и&nbsp;5 практических работ. Оно помогает сформировать у&nbsp;детей навыки самостоятельной подготовки цифровых учебных проектов, в&nbsp;том числе помогает освоить любые редакторы документов. &laquo;Азбука&raquo; очень понравилась ребятам благодаря интересному оформлению и&nbsp;доступной подаче материала. Например, в&nbsp;пособие включена азбука Брайля, как пример тактильной передачи информации для&nbsp;слепых людей.
      p &laquo;Азбука МойОфис&raquo; создана на&nbsp;базе отечественного офисного пакета &laquo;МойОфис Образование&raquo;. Он включает в&nbsp;себя настольные редакторы текстовых документов и&nbsp;электронных таблиц, а&nbsp;также приложение для&nbsp;работы с&nbsp;презентациями. Все &laquo;IT-кубы&raquo; могут получить это решение на&nbsp;безвозмездной основе.
      p Напоминаем, что&nbsp;компания МойОфис (ООО&nbsp;&laquo;Новые Облачные Технологии&raquo;) является технологическим партнёром сети &nbsp;&laquo;IT-куб&raquo; и&nbsp;принимает активное участие в&nbsp;федеральных и&nbsp;региональных мероприятиях.
