article.news_one__article#news_25-04-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 Продолжается приём заявок на&nbsp;II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2024/25.04.2024.webp' loading='lazy')
   .text-22
      i.mb2 Приём заявок от&nbsp;команд обучающихся Центров цифрового образования детей &laquo;IT-куб&raquo; продлится до&nbsp;конца апреля.
      p Центры &laquo;IT-куб&raquo; по&nbsp;всей России активно подают заявки на&nbsp;участие во&nbsp;II&nbsp;Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;. Огромный интерес к&nbsp;мероприятию проявляют педагоги и&nbsp;обучающиеся из&nbsp;новых территорий Российской Федерации.
      p Хакатон проводится с&nbsp;целью повышения мотивации детей к&nbsp;изучению информационных технологий, приобретения дополнительных компетенций через проектную деятельность, формирования у&nbsp;обучающихся осознанного отношения к&nbsp;выбору будущей профессии.
      p В&nbsp;задачи мероприятия входит расширение базовых знаний обучающихся в&nbsp;сфере информационных технологий, развитие у&nbsp;них навыков проектной деятельности и&nbsp;гибких компетенций (коммуникативных, социальных, исследовательских), а&nbsp;также выявление и&nbsp;поддержка юных талантов в&nbsp;сфере&nbsp;IT.
      p II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; проводится по&nbsp;трём направлениям: &laquo;Кибергигиена&raquo;, &laquo;VR-разработка&raquo; и&nbsp;&laquo;Программирование&raquo;.
      p От&nbsp;каждого Центра &laquo;IT-куб&raquo; в&nbsp;отборочном (заочном) этапе Хакатона смогут принять участие до&nbsp;трёх команд в&nbsp;составе 2–4 обучающихся возрастом 14–18 лет: по&nbsp;одной команде для&nbsp;каждого из&nbsp;направлений.
      p Хакатон пройдёт с&nbsp;апреля по&nbsp;октябрь 2024 года в&nbsp;два этапа. Отборочный этап в&nbsp;заочном формате проводится на&nbsp;базе субъектов РФ. Заявки на&nbsp;участие в&nbsp;мероприятии должны быть поданы до&nbsp;30&nbsp;апреля 2024&nbsp;г. До&nbsp;10 июня команды&ndash;участники будут работать с&nbsp;заданиями&ndash;кейсами.
      p В&nbsp;июле свою работу начнёт экспертная комиссия, которая к&nbsp;15 сентября отберёт 30&nbsp;команд&ndash;полуфиналистов&nbsp;&mdash; по&nbsp;10 команд в&nbsp;каждом направлении.
      p Важным элементом проведения мероприятия является участие технологических партнёров. Именно они и&nbsp;будут готовить задания для&nbsp;участников хакатона на&nbsp;всех этапах его проведения. Задания будут отражать потребности реального сектора российской экономики.
      p Технологическим партнёром направления &laquo;Кибергигиена&raquo; является ООО &laquo;КИБЕРПРОТЕКТ&raquo;, направления &laquo;VR-разработка&raquo;&nbsp;&mdash; компания Varwin, направления &laquo;Программирование&raquo;&nbsp;&mdash; АНО&nbsp;ДПО &laquo;Тинькофф Образование&raquo;.
      p Финальный (очный) этап хакатона запланирован на&nbsp;16–18 октября в&nbsp;Нижнем Новгороде. Команды, прошедшие в&nbsp;полуфинал, будут участвовать в&nbsp;публичной защите своих работ с&nbsp;кейсами технологических партнёров. По&nbsp;итогам защиты в&nbsp;финал хакатона выйдут девять команд&nbsp;&mdash; по&nbsp;три в&nbsp;каждом из&nbsp;направлений.
      p Финалистов ожидает ещё одна публичная защита работ. По&nbsp;её итогам жюри определит победителей в&nbsp;каждом из&nbsp;трёх направлений хакатона.
      p Организатором хакатона является Федеральное государственное автономное научное учреждение &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; (ФГАНУ &laquo;ФИЦТО&raquo;).

      p Актуальную информацию о&nbsp;мероприятии можно получить на&nbsp;
         a( href='https://it-cube.ficto.ru/hackathon.html' target='_blank' title='it-cube.ficto.ru/hackathon').hover официальном сайте Центров цифрового образования детей &laquo;IT-куб&raquo;
