article.news_one__article#news_18-09-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Онлайн-хакатон &laquo;Код доступа&raquo; объединит юных программистов из&nbsp;Центров &laquo;IT-куб&raquo;
   img.mb4( src='./assets/data/images/news/2025/09.19/0.webp' )
   .text-22
      p Команда ФИЦТО объявляет о&nbsp;старте всероссийского онлайн-хакатона &laquo;Код доступа&raquo;&nbsp;&mdash; стратегического проекта по&nbsp;выявлению и&nbsp;поддержке молодых талантов в&nbsp;сфере информационных технологий.
      p Мероприятие, которое пройдёт с&nbsp;15 по&nbsp;17 октября 2025&nbsp;года в&nbsp;инновационном мобильном формате, продолжает системную работу по&nbsp;цифровой трансформации образования и&nbsp;подготовке кадров для&nbsp;технологического лидерства России.
      p Аудитория: онлайн-хакатон &laquo;Код доступа&raquo; проводится для&nbsp;обучающихся Центров цифрового образования детей &laquo;IT-куб&raquo; в&nbsp;возрасте от&nbsp;10 до&nbsp;18 лет.

      .italic
         p Мероприятие продолжает традиции проведения Всероссийских хакатонов &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;, которое ФИЦТО проводил в&nbsp;2023/24&nbsp;гг. в&nbsp;качестве федерального оператора Сети Центров &laquo;IT-куб&raquo; при поддержке Министерства просвещения Российской Федерации.

      p.ml1.mb1
         b Регистрация участников
         .ml2.mb2
            p.news_point До&nbsp;10&nbsp;октября 2025&nbsp;г. (включительно)
            p.news_point Подача заявки: через Яндекс-форму
      p.ml1.mb1
         b Этапы проведения
         .ml2.mb2
            p.news_point Отборочный этап: 15&nbsp;октября 2025&nbsp;г.
            p.news_point Полуфинал: 16&nbsp;октября 2025&nbsp;г.
            p.news_point Финал: 17&nbsp;октября 2025&nbsp;г.

      p.ml1.mb1
         b Особенности формата
         .ml2.mb2
            p
             b 1. Мобильность:
             |  всё мероприятие пройдёт в&nbsp;мобильном приложении &laquo;Игра Первых&raquo;, разработанном командой ФИЦТО.
            p
             b 2. Геймификация:
             |  за&nbsp;выполнение заданий начисляются виртуальные баллы&nbsp;&mdash; Движкоины, которые можно обменять на&nbsp;бронзовые, серебряные или&nbsp;золотые ключи. Число ключей ограничено, что&nbsp;позволяет выявить наиболее подготовленных и&nbsp;быстрых участников.
            p
             b 3. Индивидуальность:
             |  юные программисты будут работать в&nbsp;одиночку и&nbsp;полностью отвечать за&nbsp;свои решения.
            p
             b 4. Динамичность:
             |  юные программисты будут работать в&nbsp;одиночку и&nbsp;полностью отвечать за&nbsp;свои решения.
            p
             b 5. Разнообразие задач:
             |  от&nbsp;логических до&nbsp;олимпиадного программирования.

      p После подачи заявки для&nbsp;регистрации участникам Хакатона будет направлена ссылка для&nbsp;регистрации в&nbsp;геймифицированном мобильном приложении &laquo;Игра Первых&raquo;. Вся дальнейшая активность в&nbsp;рамках Хакатона будет проходить в&nbsp;приложении.
      p Все принявшие участие в&nbsp;онлайн-хакатоне &laquo;Код доступа&raquo; получат сертификаты участников, а&nbsp;победители будут награждены памятными подарками. Актуальная информация о&nbsp;мероприятии будет публиковаться на&nbsp;официальных ресурсах ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;Сети центров &laquo;IT-куб&raquo;.

      p
         a( href='./assets/data/projects/hackathon/files/2025/Polozhenie_kod_dostupa.pdf' target='_blank' download='Положение Код Доступа') Положение о&nbsp;проведении
         |  Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;.
      p Подробности&nbsp;&mdash; на&nbsp;
         a( href='https://it-cube.ficto.ru/hackathon.html' target='_blank' ).hover официальной странице Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;
         | .
