article.news_one__article#news_24-07-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 &laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Болохово&raquo; и&nbsp;Генической школы &#8470;1&raquo;
   img.mb4( src='./assets/data/images/news/2025/07.24/1.webp ' loading='lazy' title='')
   .text-22
      p Завершился первый год реализации проекта &laquo;Цифровое наставничество&raquo;, запущенного ФГАНУ &laquo;ФИЦТО&raquo; для&nbsp;ускорения интеграции образовательных организаций Донецкой Народной Республики (ДНР) и&nbsp;Луганской Народной Республики (ЛНР), Запорожской и&nbsp;Херсонской областей в&nbsp;цифровое образовательное пространство России. Первое трёхстороннее соглашение в&nbsp;рамках проекта было подписано 31&nbsp;мая 2024&nbsp;года.
      p ФИЦТО подводит первые итоги сотрудничества Центров &laquo;IT-куб&raquo; с&nbsp;образовательными организациями воссоединённых территорий России за&nbsp;2024/25 учебный год.
      p.mb4 В этом материале мы делимся результатами работы команды Центра цифрового образования детей &laquo;IT-куб. Болохово&raquo; (Тульская область), которая активно поддерживала проект, направленный на&nbsp;внедрение инноваций в&nbsp;образовательный процесс ГБОУ Херсонской области &laquo;Геническая школа &#8470;1&raquo;. Соответствующее трёхстороннее соглашение с&nbsp;участием ФГАНУ &laquo;ФИЦТО&raquo; было подписано 19&nbsp;сентября 2024&nbsp;года.

      .news_img__flex-shift
         img.mb4.half( src='./assets/data/images/news/2025/07.24/2.webp ' loading='lazy' title='')
         img.mb4.half( src='./assets/data/images/news/2025/07.24/3.webp ' loading='lazy' title='')

      p.mb4 В рамках сотрудничества был проведён комплекс мероприятий, включающий онлайн-консультации и&nbsp;мастер-классы по&nbsp;робототехнике, выбору оборудования и&nbsp;цифровых платформ, а&nbsp;также разработку методических материалов с&nbsp;практическими примерами AR-проектов и&nbsp;веб-приложений, разработанных Центром.

      img.mb4( src='./assets/data/images/news/2025/07.24/4.webp ' loading='lazy' title='')

      p.mb4 Для развития цифровой образовательной среды были организованы семинары, вебинары, митапы и&nbsp;воркшопы, на&nbsp;которых преподаватели и&nbsp;ученики изучали создание контента, применение онлайн-сервисов и&nbsp;проведение эффективных уроков с&nbsp;использованием технологий. Важным элементом стали совместные онлайн-конференции, позволившие обменяться опытом и&nbsp;лучшими практиками.

      .news_img__slider.mb4
         img( src='./assets/data/images/news/2025/07.24/5.webp ' loading='lazy' title='')
         img( src='./assets/data/images/news/2025/07.24/6.webp ' loading='lazy' title='')

      p Результаты проекта показали, что уровень цифровой грамотности педагогов и&nbsp;учащихся школы Генической школы &#8470;1 значительно вырос, расширились возможности применения технологий в&nbsp;обучении, укрепилось межрегиональное сотрудничество и&nbsp;были созданы условия для&nbsp;устойчивого развития цифровой среды.
      p Партнёры приняли участие в&nbsp;масштабных проектах: &laquo;Телемост &laquo;Цифровой старт в&nbsp;мир IT&raquo;, &laquo;Урок цифры&raquo;, &laquo;Эхо Победы в&nbsp;наших сердцах&raquo;, &laquo;Всероссийском технологическом диктанте&raquo;, &laquo;Неделе космонавтики&nbsp;&ndash; 2025&raquo;, шахматном турнире &laquo;В&nbsp;единстве&nbsp;&mdash; сила!&raquo;, IT-Форсаже &laquo;Цифровые Мастера&raquo;, &laquo;Цифровом Новом годе&raquo;, межрегиональном конкурсе &laquo;Мастер Нейроарта&raquo;, региональном конкурсе &laquo;Мастер IT&raquo;, межрегиональном конкурсе &laquo;Живой аватар&raquo;. Особые достижения&nbsp;&mdash; победы Генической школы &#8470;1 в&nbsp;региональной викторине &laquo;С&nbsp;днём рождения, Рунет&raquo; и&nbsp;шахматном турнире &laquo;Онлайн-битва умов&raquo;.
      p Кульминацией сотрудничества стало создание мобильного приложения, дублирующего функционал официального сайта Генической школы &#8470;1. Приложение, разработанное при&nbsp;поддержке ведущего программиста ООО &laquo;ГлоубБайт&raquo;, успешно прошло апробацию на&nbsp;онлайн-мероприятии &laquo;IT-коллаборация: вместе в&nbsp;цифровое будущее&raquo; и&nbsp;уже активно используется.

      p.mb1
         b Заведующая центром цифрового образования детей &laquo;IT-Куб. Болохово&raquo; Лариса Марейчева:
      p.mb4.quote Положительные результаты совместной работы Генической школы &#8470;1 и&nbsp;Центра &laquo;IT-куб. Болохово&raquo; в&nbsp;рамках &laquo;Цифрового наставничества&raquo;&nbsp;&mdash; инвестиция в&nbsp;будущее, закладывающая фундамент для&nbsp;подготовки нового поколения к&nbsp;вызовам цифровой эпохи.
         br
         br
         | На&nbsp;2025/26 учебный год уже сформирован план мероприятий, в&nbsp;рамках которых подразумевается вовлечение обучающихся в&nbsp;различные формы сопровождения и&nbsp;наставничества, а&nbsp;также организация профориентационной деятельности.
         br
         br
         | Для педагогов и&nbsp;методистов Генической школы &#8470;1 и&nbsp;Центра &laquo;IT-куб. Болохово&raquo; будут проведены конференции &laquo;Эдьютех Инновации: технологии нового поколения в&nbsp;обучении&raquo; и&nbsp;&laquo;Наставничество в&nbsp;образовании: перспективы развития&raquo;, а&nbsp;также форум &laquo;Платформа успеха: обмен лучшими практиками
         br
         br
         | Обучающиеся обоих учебных заведений примут участие в&nbsp;телемосте &laquo;Навстречу цифровому будущему!&raquo;, в&nbsp;региональном конкурсе компьютерного творчества &laquo;Digital Art&raquo;, а&nbsp;также в&nbsp;воркшопе &laquo;Искусственный интеллект: Начало пути
         br
         br
         | Эти и&nbsp;другие мероприятия призваны создать благоприятную среду для&nbsp;обмена опытом, повышения квалификации педагогов и&nbsp;формирования цифровой культуры среди подрастающего поколения. Благодаря самоотверженности команды Центра &laquo;IT-куб&raquo; и&nbsp;готовности к&nbsp;сотрудничеству Генической школы &#8470;1, был создан прочный фундамент для&nbsp;дальнейшего развития системы образования и&nbsp;подготовки нового поколения к&nbsp;вызовам цифрового мира



      .italic
         strong Справочно
         p В период реализации национального проекта &laquo;Образование&raquo; в&nbsp;соответствии с&nbsp;Методическими рекомендациями по&nbsp;созданию и&nbsp;функционированию Центров &laquo;IT-куб&raquo;, направленными письмом Министерства просвещения Российской Федерации от&nbsp;29.03.2023 &#8470;АБ-1339/02, ФГАНУ &laquo;ФИЦТО&raquo; было определено федеральным оператором, осуществляющим организационно-методическое и&nbsp;информационное сопровождение функционирования Центров &laquo;IT-куб&raquo; в&nbsp;субъектах Российской Федерации.
         p В настоящее время к&nbsp;проекту &laquo;Цифровое наставничество&raquo; присоединились образовательные организации ДНР, ЛНР и&nbsp;Херсонской области, а&nbsp;также центры &laquo;IT-куб&raquo; Липецкой, Нижегородской, Тульской областей и&nbsp;Удмуртской Республики.
         p Центр цифрового образования детей &laquo;IT-куб&raquo; в&nbsp;Тульской области создан в&nbsp;форме структурного подразделения Государственного профессионального образовательного учреждения Тульской области &laquo;Болоховский машиностроительный техникум&raquo;.
