article.news_one__article#news_12-09-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 Дан старт Всероссийской олимпиаде по&nbsp;искусственному интеллекту&nbsp;2023
   img.mb5( src='../assets/data/images/news/common.png' )
   .text-22
      p Продолжается регистрация участников на отборочный этап Всероссийской олимпиады по искусственному интеллекту, который стартовал 1 сентября и продлится до 25 сентября включительно. Регистрация доступна и для воспитанников Центров цифрового образования детей «IT-куб».
      p Всероссийская олимпиада по искусственному интеллекту проводится ежегодно с 2021 года в начале учебного года для школьников 8–11 классов в рамках федерального проекта «Искусственный интеллект» Национальной программы «Цифровая экономика Российской Федерации». Ожидается, что в 2023 году в ней примут участие около 15 тыс. школьников и свыше 1 тыс. педагогов — в основном учителей информатики.
      p
         b Организатором Всероссийской олимпиады по искусственному интеллекту
         |  выступает Министерство просвещения Российской Федерации.
      p Научно-методическое сопровождение олимпиады в 2023 году обеспечивает ФГБОУ ВО «Государственный университет просвещения».
      p
         b Партнёрами олимпиады являются
         |  Ассоциация «Альянс в сфере искусственного интеллекта», АНО «Цифровая экономика», Институт системного программирования РАН НИУ ВШЭ, Университет ИТМО МФТИ и многие другие.
      p Все этапы Олимпиады состоятся на All Cups – платформе VK для онлайн-соревнований и IT-чемпионатов. Для участия в Олимпиаде нужно зарегистрироваться на платформах «Сферум» и All Cups.

      p
         strong.mb15 Этапы Олимпиады:
      .ml1.mb2
         p.news_point Регистрация на отборочный этап (онлайн): 1–25 сентября
         p.news_point Отборочный этап (онлайн): 26–30 сентября
         p.news_point Основной этап (онлайн): 11–14 октября
         p.news_point Заключительный этап (очно): 13–16 ноября

      p Для участников заключительного этапа проведут экскурсии в IT-компаниях и лекции для знакомства с достижениями научных и индустриальных партнёров в сфере искусственного интеллекта (ИИ) и машинного обучения. С 2023 года для победителя и призёров открыта программа наставничества в сфере ИИ.
      p Победитель и призёры Олимпиады получат дополнительные баллы при поступлении в Университет ИТМО (г. Санкт-Петербург), МФТИ (г. Москва) и другие профильные высшие учебные заведения.

      p
         strong.mb15 Для педагогов, которые готовят участников Олимпиады, разработана система поощрений и наград:
      .ml1.mb2
         p.news_point Электронные сертификаты (3, 2 и 1 степени) для наставников успешных участников отборочного, основного и заключительного этапов
         p.news_point Благодарственные письма для педагогов, подготовивших победителя и призёров Олимпиады

      p Школы и организации дополнительного образования могут получить почётный статус соорганизатора Олимпиады, обеспечив активную регистрацию участников и медийное освещение события.
      p Узнать подробности и зарегистрироваться для участия в Олимпиаде можно на официальном сайте:&nbsp;
         a( href='https://ai.edu.gov.ru/registration#rec634667415' target='_blank').hover  ai.edu.gov.ru.


