article.news_one__article#news_11-09-2024
   .news_one__date.mb2.text-22
   h1.title.mb4 Объявлены финалисты Всероссийского конкурса педагогов центров &laquo;IT-куб&raquo;
   img.mb4( src='../assets/data/images/news/2024/09.11/1.webp' )
   .text-22
      p Завершился отборочный этап II Всероссийского конкурса педагогов центров &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo;. Организатором профессионального состязания выступил федеральный оператор сети центров &laquo;IT-куб&raquo; Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФИЦТО).
      p.mb1 В&nbsp;финал конкурса вышли 24 педагога центров цифрового образования детей из&nbsp;15 субъектов РФ&nbsp;&mdash;
         b  по&nbsp;три участника в&nbsp;каждой из&nbsp;восьми номинаций:
      .ml1
         p.mb07 &laquo;Программирование&raquo;
         p.mb07 &laquo;Мобильная разработка&raquo;
         p.mb07 &laquo;Робототехника&raquo;
         p.mb07 &laquo;Системное администрирование&raquo;
         p.mb07 &laquo;Кибергигиена&raquo;
         p.mb07 &laquo;Разработка VR/AR-приложений&raquo;
         p.mb07 &laquo;Большие данные&raquo;
         p &laquo;Алгоритмика и&nbsp;логика&raquo;

      p.mt2 Список участников заключительного этапа доступен на&nbsp;
         a( href='https://it-cube.ficto.ru/teacher_competition.html' target='_blank' title='it-cube.ficto.ru/teacher_competition') странице состязания

      p Финал конкурса соберет педагогов в&nbsp;Смоленске 15&nbsp;ноября. Каждый участник выступит перед жюри с&nbsp;презентацией своей дополнительной общеобразовательной программы, а&nbsp;также расскажет о&nbsp;её эффективности и&nbsp;результатах.
      p Среди главных целей конкурса&nbsp;&mdash; повышение престижа профессии &laquo;педагог&raquo;, выявление талантливых специалистов, обмен знаниями и&nbsp;педагогическими практиками, а&nbsp;также развитие наставничества в&nbsp;сфере дополнительного образования детей.

      .italic
         strong Справочно
         p Впервые Всероссийский конкурс педагогов центров &laquo;IT-куб&raquo; &laquo;Помогаю. Проектирую. Программирую. Будущее&raquo; прошёл в&nbsp;2023&nbsp;году. Он завершился финальным мероприятием в&nbsp;Москве 11–12&nbsp;декабря.
         p В&nbsp;заключительный этап конкурса тогда прошли 20&nbsp;финалистов, представлявших &laquo;IT-кубы&raquo; 14&nbsp;российских регионов. Победителями стали педагоги из&nbsp;Санкт-Петербурга, Иркутской, Смоленской, Свердловской и&nbsp;Челябинской областей.
