article.news_one__article#news_02-12-2025
   .news_one__date.mb2.text-22
   h1.title.mb5 Сборная команда из Свердловской области завоевала международное признание на чемпионатепо&nbsp;подводной робототехнике в&nbsp;Минске.
   +image( '12.02', '0', 'mb4', '© Центр «IT-куб. Уралмаш&raquo;')
   .text-22
      .mb4.italic
         p В ноябре 2025 года в&nbsp;Минске прошёл Международный чемпионатпо&nbsp;подводно-исследовательскому спорту &laquo;IFURS-Минск&raquo;, в&nbsp;котором приняли участие команды из 49 городов России и&nbsp;Республики Беларусь, в&nbsp;числе которых&nbsp;&mdash; воспитанники Центра &laquo;IT-куб. Уралмаш&raquo; (Свердловская область).

      p.mb2
         b Участники чемпионата были разделены на четыре возрастные категории и&nbsp;три спортивные дисциплины:
      .ml2.mb3
         p
            b 1. подводный болид&nbsp;&mdash; S5 Кольцевые гонки
            | , 9-11 лет (подводный болид проекта&nbsp;&mdash; &laquo;КИТ&raquo; с&nbsp;пятью моторами).

         p
            b 2. подводный болид&nbsp;&mdash; S4 Подводный ниндзя
            | , 12-14 лет (подводный болид проекта&nbsp;&mdash; &laquo;Пиранья&raquo; с&nbsp;четырьмя моторами).

         p
            b 3. подводный болид&nbsp;&mdash; S4 Эстафета
            | , 15-17 лет (подводный болид проекта&nbsp;&mdash; &laquo;Пиранья&raquo; с&nbsp;четырьмя моторами).

         p
            b 4. подводный болид&nbsp;&mdash; S5 Кольцевые гонки
            | , 18+ лет (подводный болид проекта&nbsp;&mdash; &laquo;КИТ&raquo; с&nbsp;пятью моторами).

      p Соревнования организованы Федерациейпо&nbsp;подводно-исследовательскому спорту, Минским Дворцом Детей и&nbsp;Молодёжи, компанией ООО &laquo;ТехноСтандарт&raquo; (проект &laquo;Океаника&raquo;).
      p Сборная команда Свердловской области, состоящая из учащихся МАОУ Лицея №128 г. Екатеринбурга и&nbsp;Центра цифрового образования детей &laquo;IT-куб. Уралмаш&raquo; на базе Дворца молодёжи, завоевала призовые места в&nbsp;соревнованияхпо&nbsp;управлению подводными роботами. Участники демонстрировали навыки управления подводными аппаратами &laquo;КИТ&raquo; и&nbsp;&laquo;Пиранья&raquo; в&nbsp;течение нескольких дней.

      p.mb4 Самый юный участник сборной Ростислав Утемов успешно дебютировал в&nbsp;кольцевых гонках, преодолев сложную полосу препятствий на подводном аппарате.

      +image( '12.02', '1', 'mb4', '© Центр «IT-куб. Уралмаш&raquo;')

      p.mb4 Среди участников возрастной группы 12–14 лет Егор Бобровский и&nbsp;Дмитрий Таран участвовали в&nbsp;преодолении полосы препятствий и&nbsp;выполнении комплекса заданий, состоящего из шести этапов. Дмитрий занял четвёртое место, уступив бронзовому призёру лишь две секунды.

      +image( '12.02', '2', 'mb4', '© Центр «IT-куб. Уралмаш&raquo;')

      p Команда старшей группы в&nbsp;составе Юлии Бахтиной и&nbsp;Александра Конева показала достойный результат, заняв 5-е место. Ребята соревновались в&nbsp;подводной эстафете и&nbsp;преодолевали трассу с&nbsp;различными препятствиями, двигая фигуры с&nbsp;помощью специального захвата.
      p Тренер команды Виктория Таран выиграла серебряную медаль в&nbsp;Кольцевых гонках среди взрослых (18+), став примером профессионализма и&nbsp;настойчивости для юных спортсменов.

      p.mb2
         b Александра Лаптева, руководитель Центра &laquo;IT-куб. Уралмаш&raquo;
         | , отметила значимость участия в&nbsp;чемпионате:
      p.mb4.quote Участие в&nbsp;чемпионате выполнило все поставленные задачи: мы укрепили международное сотрудничество, обменялись знаниями, взяли пример с&nbsp;сильнейших и&nbsp;теперь готовы вывести подводно-исследовательские соревнования в&nbsp;нашем Центре &laquo;IT-куб&raquo; на качественно новый уровень.

      .italic
         p Центры цифрового образования детей &laquo;IT-куб&raquo; были созданы в&nbsp;рамках федерального проекта &laquo;Цифровая образовательная среда&raquo; национального проекта &laquo;Образование» при поддержке Министерства просвещения Российской Федерации.





