article.news_one__article#news_28-07-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 Руководители ЦЦОД
      span.wwnow &laquo;IT&ndash;куб&raquo;
      | встретятся в&nbsp;Тюмени на&nbsp;Всероссийском съезде &laquo;Как&nbsp;Управлять Будущим&raquo;
   img.mb4( src='./assets/data/images/news/2023/28-07-2023.JPG' loading='lazy')
   .text-22
      i.mb3 Всероссийский съезд руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Как&nbsp;Управлять Будущим&raquo; пройдёт в&nbsp;Тюмени 17-18&nbsp;августа 2023&nbsp;года.
      p В&nbsp;мероприятии примут участие руководители свыше 150&nbsp;&laquo;IT-кубов&raquo; из&nbsp;67 регионов России. Общее число участников составляет более 200&nbsp;человек. Съезд станет уникальной площадкой для&nbsp;обмена опытом, обсуждения актуальных вопросов и&nbsp;разработки стратегий для&nbsp;развития цифрового образования в&nbsp;нашей стране. Особую значимость мероприятие приобретает в&nbsp;контексте развития технологического суверенитета России.
      p Масштабность события подкрепляется участием в&nbsp;его работе государственных учреждений, влиятельных общественных организаций и&nbsp;IT-компаний: Министерства просвещения Российской Федерации подведомственных ему организаций, Агентства стратегических инициатив, АНО&nbsp;&laquo;Цифровая экономика&raquo;, Ассоциации разработчиков программных продуктов &laquo;Отечественный софт&raquo; и&nbsp;других.
      p В&nbsp;работе съезда будут участвовать более 20&nbsp;приглашённых экспертов. В&nbsp;течение двух дней работы съезда пройдёт несколько проектных сессий, где будут рассмотрены направления развития и&nbsp;меры поддержки Центров &laquo;IT-куб&raquo;, примеры лучших региональных практик, сотрудничество с&nbsp;технологическими партнёрами, вопросы разработки образовательных программ и&nbsp;методических рекомендаций.
      p Знаковым мероприятием в&nbsp;период работы съезда станет открытие первого в&nbsp;Тюменской области центра &laquo;IT-куб&raquo;. В&nbsp;торжественной церемонии примут участие представители Минпросвещения России, органов власти Тюменской области, ФГАНУ&nbsp;&laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo; и&nbsp;ФГАУ&nbsp;&laquo;Центр просветительских инициатив&raquo;.
      p Всероссийский съезд руководителей Центров &laquo;IT-куб&raquo; &laquo;Как&nbsp;Управлять Будущим&raquo; станет важным шагом на&nbsp;пути развития системы подготовки профессионалов будущего и&nbsp;создания эффективного образовательного пространства для&nbsp;подрастающего поколения.

