article.news_one__article#news_15-11-2024
   .news_one__date.mb2.text-22
   h1.title.mb5 В Смоленске стартует финал II Всероссийского конкурса педагогов центров &laquo;IT-куб»
   img.mb4( src='./assets/data/images/news/2024/11.15/1.webp' )
   .text-22
      p В Смоленске открывается заключительный этап II Всероссийского конкурса педагогов центров цифрового образования детей «IT-куб» «Помогаю. Проектирую. Программирую. Будущее». Организатором конкурса выступает Федеральный институт цифровой трансформации в сфере образования при поддержке Министерства просвещения Российской Федерации.
      p В торжественной церемонии открытия принимают участие:  заместитель председателя Правительства Смоленской области Вита Хомутова, заместитель министра образования и науки Смоленской области – директор департамента по обеспечению деятельности образовательных организаций Елена Кудрицкая, первый заместитель министра цифрового развития Смоленской области Татьяна Щербакова, первый заместитель директора Федерального института цифровой трансформации в сфере образования Юлия Пономарёва.
      p В финал состязания вышли 24 педагога из 14 регионов страны. Все они преподают в центрах «IT-куб», открытых в рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование». Мероприятия проходит на площадке Центра опережающей профессиональной подготовки.
      p Финалисты конкурса представят свои образовательные программы и методики преподавания, а также результаты работы с детьми.
      p Экспертное жюри определит победителей в восьми номинациях, каждая из которых представляет направление обучения в центрах «IT-куб»: «Программирование», «Мобильная разработка», «Робототехника», «Системное администрирование», «Кибергигиена», «Разработка VR/AR-приложений», «Большие данные», «Алгоритмика и логика».
      p Конкурс проводится для выявления талантливых педагогов дополнительного образования, а также обмена передовыми образовательными практиками для развития у детей цифровых навыков и расширения их знаний о современных информационных технологиях.

      .italic
         strong Справочно
         p Впервые Всероссийский конкурс педагогов центров «IT-куб» «Помогаю. Проектирую. Программирую. Будущее» прошёл в 2023 году. Он завершился финальным мероприятием в Москве 11–12 декабря.
         p В заключительный этап конкурса тогда прошли 20 финалистов, представлявших «IT-кубы» 14 российских регионов. Победителями стали педагоги из Санкт-Петербурга, Иркутской, Смоленской, Свердловской и Челябинской областей.
