article.news_one__article#news_15-09-2023_1
   .news_one__date.mb2.text-22
   h1.title.mb5 Стартовал Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
   img.mb4( src='./assets/data/images/news/2023/15-09-2023.png' loading='lazy')
   .text-22
      p Начался отборочный этап Всероссийского хакатона по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; для&nbsp;обучающихся Центров цифрового образования детей &laquo;IT-куб&raquo;. Мероприятие пройдёт при&nbsp;поддержке Минпросвещения России, организатором выступает Федеральный институт цифровой трансформации в&nbsp;сфере образования (ФГАНУ &laquo;ФИЦТО&raquo;).
      p Хакатон, проводимый в&nbsp;партнёрстве с&nbsp;аккредитованными отечественными разработчиками ИТ-решений, призван выявить и&nbsp;поддержать наиболее талантливых детей в&nbsp;сфере информационных технологий, привить обучающимся интерес к&nbsp;разработке реальных ИТ-продуктов, повысить навыки командной работы.
      p Соорганизатором мероприятия выступает ГАНОУ&nbsp;СО &laquo;Дворец Молодёжи&raquo; (Свердловская область).
      p
         strong.mb15 Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; проходит по&nbsp;трём направлениям:
      .ml1.mb2
         p.news_point Программирование: технологический партнёр&nbsp;&mdash; ПАО&nbsp;&laquo;Сбербанк&raquo;
         p.news_point Информационная безопасность: технологический партнёр&nbsp;&mdash; ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo;
         p.news_point Диджитал (VR/AR технологии): технологический партнёр&nbsp;&mdash; компания Varwin
      p
         strong.mb15 Этапы проведения Хакатона:
      .ml1.mb2
         p.news_point Заочный отборочный этап: с&nbsp;15&nbsp;сентября до&nbsp;10&nbsp;октября 2023&nbsp;года
         p.news_point Подготовительный этап (онлайн): с&nbsp;20&nbsp;октября по&nbsp;10&nbsp;ноября 2023&nbsp;года
         p.news_point Очный этап: с&nbsp;24 по&nbsp;26&nbsp;ноября (г.&nbsp;Верхняя Пышма, Свердловская область)

      p От&nbsp;каждого ЦЦОД&nbsp;&laquo;IT-куб&raquo; в&nbsp;заочном этапе Хакатона смогут принять участие до&nbsp;трёх команд в&nbsp;составе 2–4&nbsp;обучающихся возрастом 14–18&nbsp;лет: по&nbsp;одной команде для&nbsp;каждого из&nbsp;направлений. Один участник может быть зарегистрирован только в&nbsp;одной команде.
      p В&nbsp;подготовительный этап мероприятия по&nbsp;каждому из&nbsp;направлений проходит по&nbsp;одной команде от&nbsp;каждого субъекта Российской Федерации, охваченного системой &laquo;IT-кубов&raquo;. На&nbsp;этом этапе команды примут участие в&nbsp;онлайн&ndash;сессиях с&nbsp;партнёрами профильных направлений для&nbsp;консультаций и&nbsp;разъяснений по&nbsp;заданиям Хакатона.
      p Во&nbsp;время очного этапа Хакатона командам предстоит работа над&nbsp;кейсами по&nbsp;расширенному заданию от&nbsp;партнёров мероприятия. Итоги работы будут представлены в&nbsp;ходе публичной защиты презентации перед экспертной комиссией.
      p Все юные программисты, принявшие участие в&nbsp;очном этапе Хакатона, получат электронный сертификат участников. Победители в&nbsp;каждом из&nbsp;направлений будут награждены дипломами и&nbsp;специальными призами, а&nbsp;также получат возможность краткосрочной стажировки в&nbsp;компании, которая курирует их направление. Всех остальных участников ждут приятные призы и&nbsp;подарки.
      p Актуальную информацию о&nbsp;мероприятии, в&nbsp;том&nbsp;числе задания по&nbsp;направлениям, Положение о&nbsp;Хакатоне и&nbsp;бланки заявок на&nbsp;участие можно получить на&nbsp;официальном сайте сети Центров &laquo;IT-куб&raquo;:&nbsp;
         a( href='mailto:it-cube.ficto.ru' target='_blank').inline.hover  it-cube.ficto.ru
      p
         strong.mb15 Консультационно&ndash;методическая поддержка:
      .ml1.mb2
         p.news_point Телефон:&nbsp;
            a( href='tel:+74951374716').inline.hover  +7&nbsp;(495)&nbsp;137-47-16
         p.news_point Электронная почта:&nbsp;
            a( href='mailto:it-cube@ficto.ru').inline.hover  it-cube@ficto.ru

      strong Справочно
      p
         b Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;
         |   проводится в&nbsp;целях повышения интереса детей к&nbsp;практико&ndash;ориентированным активностям в&nbsp;части разработки решения реальных бизнес-задач в&nbsp;сфере современных информационных технологий, а&nbsp;также с&nbsp;целью приобретения дополнительных компетенций для&nbsp;реализации творческого потенциала и&nbsp;знаний в&nbsp;проектной деятельности.
      p Организатор мероприятия&nbsp;&mdash; ФГАНУ &laquo;Федеральный институт цифровой трансформации в&nbsp;сфере образования&raquo;&nbsp;&mdash; в&nbsp;соответствии с&nbsp;
         a( href='https://docs.edu.gov.ru/document/2b8ec6ca7e0e0f8f02d37808f9e5e92d/' target='_blank' ) методическими рекомендациями от&nbsp;18&nbsp;апреля 2023&nbsp;года
         |   определён Минпросвещения России Федеральным оператором Центров цифрового образования детей &laquo;IT-куб&raquo;.

