article.news_one__article#news_18-08-2023_1
   .news_one__date.mb4.text-22
   h1.title.mb5 На съезде руководителей Центров
      span.wwnow  &laquo;IT&ndash;куб&raquo;
      |  обсудили взаимодействие с технологическими партнёрами
   img.mb5( src='../assets/data/images/news/18.08.2023/1.jpg' )
   .text-22
      p
         b Участники прошедшего 17–18 августа Всероссийского съезда руководителей Центров цифрового образования детей
            span.wwnow «IT-куб»
            | обсудили различные аспекты технологического партнёрства с российскими компаниями и заслушали доклады с успешными примерами такого сотрудничества.
      p Предметно эти вопросы были рассмотрены на проектной сессии «Взаимодействие Центров «IT-куб» с технологическими партнёрами». Её модератором выступил Даниил Суханов, начальник Центра программной и проектной деятельности ФГАНУ «ФИЦТО».
         b  Сессия собрала экспертов в области образования и IT для обсуждения ключевых аспектов сотрудничества Центров «IT-куб» с разработчиками отечественных цифровых решений.
      p Заместитель директора ФГАНУ «ФИЦТО» Александр Лямин рассказал о современных возможностях и цифровых инструментах для организации и управления образовательной деятельностью в Центрах «IT-куб». В свою очередь, технологические партнёры образовательных организаций представили свои разработки и учебные программы для повышения эффективности и большей защищённости образовательных организаций.
      p Анастасия Горелова, руководитель комитета по информатизации АРПП «Отечественный софт», руководитель программ обучения центра «Хаб Знаний МойОфис», продемонстрировала актуальные подходы к использованию отечественных программных продуктов в образовательных процессах. Например, огромные возможности для педагогов и обучающихся открывает пакет решений
         b  «МойОфис»
         | . Уже заключены соглашения об оснащении им более 10 тыс. школ в 22 регионах страны.
      p Олег Шутенко, вице-президент корпорации «Синергия», привёл пример
         b  эффективной организации экосистемы непрерывного образования: сад – школа – университет
         | . Все образовательные программы корпорации разрабатываются в соответствии с актуальными запросами работодателей. В первую очередь это касается дисциплин в сфере информационных технологий, например, программирования и робототехники.
      p Менеджер по работе с образовательными организациями ООО «КИБЕРПРОТЕКТ» Саркис Шмавонян рассказал участникам сессии о всероссийском проекте по&nbsp;
         b обучению детей и взрослых принципам безопасного поведения в сети Интернет
         | , а также поделился разработками компании в сфере информационной безопасности. Дополнил выступление увлекательный квиз, который был организован в конце работы сессии.
      p Примеры работы школьников и студентов с реальными проектами для бизнес-заказчиков привёл в своём выступлении Александр Пикулев, руководитель образовательного направления компании Varwin. Он также
         b  поделился наработками в сфере организации широкого спектра обучающих мероприятий
         |. Высокая результативность образовательных программ достигается, в том числе за счёт использования технологий работы в&nbsp;
         b 3D-пространстве, виртуальной и дополненной реальности
         | .
      p Игорь Алексеев, директор по развитию ООО «А-Реал Консалтинг», в дистанционном формате рассказал о ситуации в сфере информационной безопасности и об основных способах борьбы с киберугрозами в Российской Федерации. По последним данным, число кибератак на сектор образования и научных исследований выросло на 44%, поэтому учебным организациям следует прикладывать больше усилий по обеспечению своей информационной защиты.
      p Все Центры «IT-куб», участвовавшие в работе съезда, получили от компании «А-Реал Консалтинг» годовую подписку на контент-фильтр ИКС.
      p Также ценные примеры запуска образовательных проектов российскими компаниями были приведены и во время финальной проектной сессии. Руководитель «Тинькофф Образование» Варвара Смирнова
         b  поделилась опытом работы компании со школьниками и студентами по подготовке квалифицированных кадров для IT и других направлений
         | . В свою очередь, ректор Центрального университета Евгений Ивашкевич подробно рассказал об образовательной концепции университета нового поколения. Обучение в университете включает в себя сочетание технических и гуманитарных дисциплин и&nbsp;
         b направлено на трудоустройство выпускников по востребованным специальностям
         | .
      p Плодотворная работа проектных сессий Всероссийского съезда руководителей Центров цифрового образования детей «IT-куб» позволила
         b обобщить имеющийся опыт сотрудничества между образовательными организациями и разработчиками IT-решений
         | , с тем чтобы сделать этот процесс ещё более эффективным.
