doctype
html
   head
      meta( name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0" )
      meta( http-equiv="X-UA-Compatible", content="IE=edge" )
      meta( name="MobileOptimized" content="width" )
      meta( name="HandheldFriendly", content="True" )
      meta( charset = "UTF-8")
      title Новость | IT-cube
      link( rel="shortcut icon" href="../assets/data/system/favicon.svg" type="image/x-icon" )
      link( type="text/css" rel="stylesheet" href="../assets/css/style.css?v=2" )

   body
      include ../assets/jade/static/metrika
      #container_news_one
         #black_back
         header.header__container
            .wrapper
               a( href='../index.html' ).header__logo.logo_kub
                  img( src='../assets/data/logo/kub-static.svg' )
               menu.header__menu_holder
                  a( href='../index.html').menu__item О&nbsp;проекте
                  a( href='../federal_operator.html').menu__item О&nbsp;федеральном операторе
                  a( href='../events.html').menu__item Мероприятия
                  a( href='../news.html'  class='active').menu__item.active Новости
                  //a( href='./videos.html').menu__item Видео
                  a( href='../documentation.html').menu__item Документы
                  //a( href='./list.html').menu__item Список &laquo;IT-КУБОВ&raquo;
                  a( href='../teacher_competition.html').menu__item Конкурс педагогов
                  a( href='../congress.html').menu__item Съезд руководителей
                  a( href='../hackathon.html').menu__item Хакатон
                  a( href='../meetings.html').menu__item Окружные совещания
               .menu__mobile
                  .menu__mobile_icon
            menu.menu__mobile_container
               .menu__mobile
                  .menu__mobile_icon
               .menu__mobile_holder
                  a( href='../index.html').menu__mobile_item О&nbsp;проекте
                  a( href='../federal_operator.html').menu__mobile_item О&nbsp;федеральном операторе
                  a( href='../events.html').menu__mobile_item Мероприятия
                  a( href='../news.html'  class='active').menu__mobile_item.active Новости
                  //a( href='./videos.html').menu__mobile_item Видео
                  a( href='./documentation.html').menu__mobile_item Документы
                  //a( href='./list.html').menu__mobile_item Список &laquo;IT-КУБОВ&raquo;
                  a( href='../teacher_competition.html').menu__mobile_item Конкурс педагогов
                  a( href='../congress.html').menu__mobile_item Съезд руководителей
                  a( href='../hackathon.html').menu__mobile_item Хакатон
                  a( href='../meetings.html').menu__item Окружные совещания

         include ../assets/jade/header/main-pages

         section.wrapper.news__container
            .row
               a( href='../news.html' ).back__holder.text-25.mb4
                  .icon-arrow-back
                  span назад
               .news_one__block
                  include __news_26-29032024
                  include __news_25-25032024
                  include __news_24-19022024
                  include __news_23-16022024
                  include __news_22-12022024
                  include __news_21_28112023
                  include __news_20-27112023
                  include __news_19-24112023
                  include __news_18-25102023
                  include __news_17-28092023
                  include __news_16-20092023
                  include __news_15-15092023
                  include __news_14-12092023
                  include __news_13-30082023
                  include __news_12-18082023_2
                  include __news_11-18082023
                  include __news_10-17082023
                  include __news_9-10082023
                  include __news_8-08082023
                  include __news_7-28072023
                  include __news_6-21072023
                  include __news_5-29062023
                  include __news_4-05062023
                  include __news_3-01062023
                  include __news_2-23052023
                  include __news_1-27042023




         include ../assets/jade/footer/footer

      script( src='../assets/js/jquery.js' )
      script( src='../assets/js/slick.min.js' )
      script( src='../assets/js/work.js' )






