.footer__container {
   position: relative;
   z-index: 200;
   width: 100%;
   margin-top: calc( 6rem + 5vw );
}
.footer__container .wrapper {}
.footer__container .mr05 {
   .md( margin-right, 1rem )
}
footer.footer__container .background-gray {

}
.footer__holder {
   .row();
   .items-start();
   color: white;
   padding-top: 4.2rem;
   padding-bottom: 4.8rem;
   .md-block({
      padding-top: 3.6rem;
      padding-bottom: 3.4rem;
   });
   .xs-block({
      padding-top: 3rem;
      padding-bottom: 2.8rem;
   })
}
.footer__holder:last-child {
   //.items-center();
}
.footer__section {
   .col();
   .size(12);
   .size-xl(12);
   .size-lg(12);
   .size-md(24);
   .size-sm(24);
   
}
.footer__block {
   margin-bottom: 2rem;
}
.footer__block span {
    display: inline-block;
}

.footer__logo {
   margin-bottom: 1.2rem;
}

.footer__section h1 {
   display: block;
   .montserrat-bold();
   font-size: 1.2rem;
   line-height: 1.4rem;
}
.footer__section a {
   display: inline-block;
}


.footer__section.row {
   .flex();
   .justify-between();
   .items-start();
   margin-bottom: 1rem;
   .md-block({
      .items-start();
      .column();
   })
}
.footer__contact_social {

   flex-grow: 1;
   .justify-end();

   .md-block({
      .justify-start()
   })
}
.footer__contact_social {
   .flex();
   flex-wrap: wrap;
   .justify-end();
   margin-left: 2rem;
   .md-block({
      margin-left: 0;
      padding-top: 1rem;
   })
}
.footer__social {
    width: 3rem;
   .ll-block({
       width: 3rem;
      margin-bottom: @offset_sm;
   });
   .middle-block({
       width: 2.5rem;
      margin-right: 1.4rem;
      margin-bottom: @offset_lg;
   })
}

.footer__contact_holder {
   flex-grow: 1;
   .items-center();
   .justify-end();
   margin-bottom: 1.5rem;

}

.footer__contact_holder .footer__contact:first-child {
   width: 60%;
   margin-right: 2rem;
   .xl-block({
      .flex();
   .justify-end()
   })
}
.footer__contact_holder .footer__contact:last-child {
   width: 45%;
   .flex();
   .justify-end()
}



a.footer__icon {
   .flex();
   .items-center();
}
.footer__logo.ficto {
   .md-block({
      margin-bottom: 2.2rem;
   })
}


.footer__bottom {
   .row();
   .justify-between();
   padding-top: 3rem;

   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 1px;
   
   color: white;
}
.footer__bottom .footer__block {
   padding-bottom: 3.4rem;
   margin-bottom: 0;
}



.footer__totop {
   cursor: pointer;
   .flex-center();
   .tr();
    align-self: end;
   margin-left: auto !important;
   width: 4.1rem;
   height: 4.1rem;
   border-radius: 1px;
   background-color: @color-blue-light;
   
   .md-block({
      width: 4.6rem;
      height: 4.6rem;
   })
}


.footer__section:first-child {
   .md-block({
      margin-bottom: 3rem;
   })
}
footer.footer__container .footer__section .hidden {
   display: block !important;
   .md-block({
      display: none !important;
   })
}
footer.footer__container .footer__section.open .hidden {
   .md-block({
      display: block !important;
   })
}

.element__more {
   .flex();
   .items-center();
   display: none;
   
   cursor: pointer;
   .md-block({
      display: flex;
   })
   
}
.element__more span {
   color: @color-back-gray-light;
}
.element__more_arrow {
   display: inline-block;
   margin-left: .8rem;
   .tr();
}

.element__more:hover .element__more_arrow {
   .element__more_arrow-hover();
   .tr();
}
