.footer__container {
   width: 100%;
   margin-top: calc( 6rem + 5vw );
}
.footer__container .wrapper {}
.footer__container .mr05 {
   .md( margin-right, 1rem )
}
footer.footer__container .background-gray {
   .xs-block({
      display: none;
   })
}
.footer__holder {
   .row();
   color: white;
   padding-top: 4.2rem;
   padding-bottom: 4.8rem;
   .md-block({
      padding-top: 3.6rem;
      padding-bottom: 3.4rem;
   });
   .xs-block({
      padding-top: 3rem;
      padding-bottom: 2.8rem;
   })
}
.footer__holder:last-child {
   .items-center();
}
.footer__section {
   .col();
   .size(12);
   .size-xl(12);
   .size-lg(12);
   .size-md(24);
   .size-sm(24);
   
}
.footer__section h1 {
   display: block;
   .montserrat-bold();
}
.footer__section a {
   display: inline-block;
}
.footer__section.flex {
   .justify-between();
   .items-center();
   margin-bottom: 1rem;
   .md-block({
      flex-wrap: wrap;
   })
}
.footer__block {
   margin-bottom: 2rem;
}

.footer__logo {
   margin-bottom: 1.2rem;
}
.footer__contact_holder {
   .row();
}
.footer__contact_holder:first-child {
   width: 95%;
   margin-right: 10%;
   .md-block({
      width: 100%;
      margin-bottom: 1.3rem;
   })
}
.footer__contact_holder:last-child {
   .md-block({
      width: 100%
   });
}
.footer__contact {
   .col();
   .size(10);
   .size-xl(10);
   .size-lg(10);
   .size-md(2);
   .size-sm(3);
   .size-xxs(4);
   .md-block({
      margin-bottom: 1rem;
   })
}
.footer__contact_holder:first-child .footer__contact:first-child {
   .size(12);
   .size-xxl(14);
   .size-xl(14);
   .size-lg(14);
   .size-md(10);
   .size-sm(12);
   .size-xxs(24);
}
.footer__contact_holder:first-child .footer__contact:last-child {
   .size(12);
   .size-xxl(10);
   .size-xl(10);
   .size-lg(10);
   .size-md(10);
   .size-sm(12);
   .size-xxs(24);
}

a.footer__icon {
   .flex();
   .items-center();
}
.footer__logo.ficto {
   .md-block({
      margin-bottom: 2.2rem;
   })
}


.footer__bottom {
   .row();
   .justify-between();
   padding-top: 3rem;

   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 1px;
   
   color: white;
}
.footer__bottom .footer__block {
   padding-bottom: 3.4rem;
   margin-bottom: 0;
}



.footer__totop {
   cursor: pointer;
   .flex-center();
   .tr();
    align-self: end;
   margin-left: auto !important;
   width: 4.1rem;
   height: 4.1rem;
   border-radius: 1px;
   background-color: @color-blue-light;
}
