mixin program( t1, t2, title, place )
   .program_row
      .hackathon_program__time #{t1}&nbsp;&ndash; #{t1}
      .meeting_program__dinner
         .meeting_program__text !{title}
      .hackathon_row_place / !{place}

