mixin scedule( time, place )
   article.row
         .block-6
            strong.text-27 !{time}
            .text-22 !{place}
         .block-18
            .schedule__event
               .icon-dot-green
               .schedule__about
                  h1.text-25.mb время
                  h2.text-25.mb08 Мероприятие
                  .text-20 ult
