@font1: 'Montserrat';
@font2: 'OpenSans';
@font3: 'Roboto';



@font-face {
  font-family: '@{font1}-Bold';
  src: url('../fonts/@{font1}/@{font1}-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: '@{font1}-SemiBold';
  src: url('../fonts/@{font1}/@{font1}-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: '@{font1}-Medium';
  src: url('../fonts/@{font1}/@{font1}-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: '@{font1}-Regular';
  src: url('../fonts/@{font1}/@{font1}-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: '@{font1}-Light';
  src: url('../fonts/@{font1}/@{font1}-Light.ttf') format('truetype');
  font-weight: 300;
}


@font-face {
  font-family: '@{font2}-Bold';
  src: url('../fonts/@{font2}/@{font2}-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: '@{font2}-SemiBold';
  src: url('../fonts/@{font2}/@{font2}-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: '@{font2}-Regular';
  src: url('../fonts/@{font2}/@{font2}-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: '@{font2}-Light';
  src: url('../fonts/@{font2}/@{font2}-Light.ttf') format('truetype');
  font-weight: 300;
}



@font-face {
  font-family: '@{font3}-Bold';
  src: url('../fonts/@{font3}/@{font3}-Bold.ttf') format('truetype');
  font-weight: 700;
}



.montserrat-bold() {
  font-family: '@{font1}-Bold';
}
.montserrat-semibold() {
  font-family: '@{font1}-SemiBold';
}
.montserrat-medium() {
  font-family: '@{font1}-Medium';
}
.montserrat-regular() {
  font-family: '@{font1}-Regular';
}
.montserrat-light() {
  font-family: '@{font1}-Light';
}

.opensans-bold() {
  font-family: '@{font2}-Bold';
}
.opensans-semibold() {
  font-family: '@{font2}-SemiBold';
}
.opensans-regular() {
  font-family: '@{font2}-Regular';
}
.opensans-light() {
  font-family: '@{font2}-Light';
}


.roboto-bold() {
  font-family: '@{font3}-Bold';
}
