.icon-svg-b(@folder, @name) {
   background-image: url("../data/icons/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-svg(@name) {
   background-image: url("../data/icons/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.size-1() {
   width: 1rem;
   height: 1rem;
}
.size-12() {
   width: 1.2rem;
   height: 1.2rem;
}
.size-14() {
   width: 1.4rem;
   height: 1.4rem;
}
.size-15() {
   width: 1.5rem;
   height: 1.5rem;
}
.size-18() {
   width: 1.8rem;
   height: 1.8rem;
}
.size-2() {
   width: 2rem;
   height: 2rem;
}
.size-23() {
   width: 2.3rem;
   height: 2.3rem;
}
.size-25() {
   width: 2.5rem;
   height: 2.5rem;
}
.size-30() {
   width: 3rem;
   height: 3rem;
}
.size-33() {
   width: 3.3rem;
   height: 3.3rem;
}
.size-36() {
   width: 3.6rem;
   height: 3.6rem;
}
.size-5() {
   width: 5rem;
   height: 5rem;
}
.size-6() {
   width: 6rem;
   height: 6rem;
}

.icon-phone {
   .icon-svg( 'phone' );
   .size-12();
}

.icon-mail{
   .icon-svg( 'mail' );
   .size-14();
}


.icon-ok {
   .icon-svg-b( 'social', 'ok-d' );
   .size-18();
   .tr();
}
.icon-vk {
   .icon-svg-b( 'social', 'vk-d' );
   .size-18();
   .tr();
}
.icon-telegram {
   .icon-svg-b( 'social', 'telegram' );
   .size-18();
   .tr();
}

.icon-arrow-top {
   .icon-svg( 'arrow-top' );
   .size-2();
   .tr();
}
.icon-arrow-back {
   .icon-svg( 'arrow-back' );
   .size-2();
   .tr();
   margin-right: .8rem;
}

.element__more_arrow {
   .icon-svg( 'corner' );
   .size-15();
   
   padding-top: 2px;
   .tr();
}
.element__more_arrow-hover() {
   .icon-svg( 'corner-hover' );
   .tr();
}


.next() {
   .icon-svg-b( 'slider', 'next' );
   .size-2();
   .tr();
}
.prev() {
   .icon-svg-b( 'slider', 'prev' );
   .size-2();
   .tr();
}

.next-hover() {
   .icon-svg-b( 'slider', 'next-hover' );
   .size-2();
   .tr();
}
.prev-hover() {
   .icon-svg-b( 'slider', 'prev-hover' );
   .size-2();
   .tr();
}


.competition-nav-arrow() {
   background-image: url("../data/teacher_competition/icons/arrow.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
   .tr();
}
.competition-nav-arrow-hover() {
   background-image: url("../data/teacher_competition/icons/arrow-hover.svg");
   .tr();
}

.competition-save() {
   background-image: url("../data/teacher_competition/icons/save.svg");
   //background-image: url("../data/teacher_competition/icons/save-disable.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-36();
   .tr();
}
.icon-save {
   background-image: url("../data/teacher_competition/icons/save.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-2();
   .tr();
}
.competition-save-hover() {
   background-image: url("../data/teacher_competition/icons/save-hover.svg");
   .tr();
}

.icon-check {
   background-image: url("../data/teacher_competition/icons/check.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-25();
   .tr();
}


.icon-blue-point {
   background-image: url("../data/teacher_competition/icons/point-blue.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-2();
   .tr();
}
.line-blue() {
   background-image: url("../data/teacher_competition/icons/blue-line.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   flex-shrink: 0;
   .tr();
}


.pagination() {
   position: relative;
   background-size: contain;
   background-position: center;
   width: 32px;
   height: 32px;
   .tr();
}
.pagination-before() {
   position: absolute;
   .pseudo();
   background-size: contain;
   background-position: center;
   width: 15px;
   height: 15px;
   .tr();
}

#next {
   .pagination();
}
#prev {
   .pagination();
}
.pagination_disable#prev:before {
   .icon-svg-b( 'arrow', 'disable_left');
   .pagination-before();
}
#next:before {
   .icon-svg-b( 'arrow', 'active_right');
   .pagination-before();
}
#prev:before {
   .icon-svg-b( 'arrow', 'active_left');
   .pagination-before();
}
.pagination_disable#next:before {
   .icon-svg-b( 'arrow', 'disable_right');
   .pagination-before();
}

.pagination__arrow:hover#next:before {
   .icon-svg-b( 'arrow', 'hover_right');
   .pagination-before();
}
.pagination__arrow:hover#prev:before {
   .icon-svg-b( 'arrow', 'hover_left');
   .pagination-before();
}

.pagination__arrow.pagination_disable:hover#prev:before {
   .icon-svg-b( 'arrow', 'disable_left');
}
.pagination__arrow.pagination_disable:hover#next:before {
   .icon-svg-b( 'arrow', 'disable_right');
}


.doc-icon() {
   .icon-svg( 'doc' );
   .size-5();
   background-position: left;
   .tr();
}
.doc-hover() {
   .icon-svg( 'doc-hover' );
   background-position: left;
   height: 5.3rem;
}


.expert-prev() {
   background-image: url("../data/teacher_competition/icons/arrow-prev.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
   .tr();
}
.expert-next() {
   background-image: url("../data/teacher_competition/icons/arrow-next.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
   .tr();
}
.expert-prev-hover() {
   background-image: url("../data/teacher_competition/icons/arrow-prev-hover.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
   .tr();
}
.expert-next-hover() {
   background-image: url("../data/teacher_competition/icons/arrow-next-hover.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
   .tr();
}


.icon_close() {
   .icon-svg( 'close' );
   .tr();
}
.icon_close-big() {
   .icon-svg( 'close-big' );
   .tr();
}
.icon_close-hover() {
   .icon-svg( 'close-hover' );
}

.icon-arr-bottom() {
   .icon-svg( 'arr-bottom');
   width: 1.1rem;
   height: 1.1rem;
}

.arrow-back() {
   .icon-svg-b( 'arrow', 'back' );
   .size-15();
   .tr();
}
.icon-more() {
   .icon-svg-b( 'arrow', 'more' );
   .size-15();
   .tr();
}
.icon-more-hover() {
   .icon-svg-b( 'arrow', 'more-hover' );
   .size-15();
   .tr();
}


// Congress
.congress-pin() {
   .congress('pin');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-pin2() {
   .congress('pin2');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-clock() {
   .congress('clock');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-dot() {
   .congress('dot');
   background-position: center;
   background-size: contain;
   .size-2();
}
.congress-car() {
   .congress('car');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-light() {
   .congress('light');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-break() {
   .congress('break');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-diner() {
   .congress('diner');
   background-position: center;
   background-size: contain;
   .size-36();
}
.congress-photo() {
   .congress('photo');
   background-position: center;
   background-size: contain;
   .size-36();
}


.congress-arrow() {
   background-image: url("../data/congress/after/arrow.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
}
.congress-arrow-hover() {
   background-image: url("../data/congress/after/arrow-hover.svg");
}
.icon-save-text {
   background-image: url("../data/congress/after/text.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-25();
}
.icon-video {
   background-image: url("../data/congress/after/video.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-30();
}
.icon-video-white {
   background-image: url("../data/congress/after/video-white.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-25();
}
.icon--vk() {
   background-image: url("../data/congress/after/vk.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
}
.icon-congress-vk {
   .icon--vk();
   .size-25();
}
.icon-video-vk {
   .icon--vk();
   .size-14();
}
.icon-file {
   display: block;
   background-image: url("../data/hackathon/file.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-25();
}


.hackathon-nav-arrow() {
   background-image: url("../data/hackathon/arrow.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
   .tr();
}
.hackathon-nav-arrow-hover() {
   background-image: url("../data/hackathon/arrow-hover.svg");
   .tr();
}

.icon-time {
   background-image: url("../data/hackathon/time.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-15();
}
.icon-dot {
   background-image: url("../data/hackathon/dot.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-12();
}

.icon-arrow-green() {
   background-image: url("../data/hackathon/arrow-green.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-33();
}
.schedule-dot-green() {
   background-image: url("../data/hackathon/dot-green.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   flex-shrink: 0;
   .size-2();
}
.schedule-diner-green() {
   background-image: url("../data/hackathon/food.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   .size-36();
}
.schedule-break-green() {
   background-image: url("../data/hackathon/coffee.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   .size-36();
}


.schedule-angle-green() {
   background-image: url("../data/hackathon/angle.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   .size-2();
}

