.svg-b(@folder1, @folder2, @name) {
   background-image: url("../data/@{folder1}/@{folder2}/@{name}.svg");
   background-repeat: no-repeat;
}
.svg(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
}
.png(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.png");
   background-repeat: no-repeat;
}



.logo_ficto {
   .svg( 'logo', 'ficto' );
   background-position: left;
   background-size: contain;
}
.logo_ficto-black {
   .svg( 'logo', 'ficto-black' );
   background-position: left;
   background-size: contain;
}
.logo_kub-adaptive() {
   .svg( 'logo', 'kub-adapt' );
   background-position: left;
   background-size: contain;
}


.body-lines-left() {
   .svg('bg', 'lines-dots-left');

}
.body-lines-right-sm() {
   .svg('bg', 'lines-dots-right-sm');
   background-position: right;
   background-size: contain;
}
.body-lines-right() {
   .svg('bg', 'lines-dots-right');
   background-position: right;
   background-size: contain;
}
.body-lines-center() {
   .svg('bg', 'lines-dots-center');
   background-position: right;
   background-size: contain;
}

.bg-mobile() {
   .svg( 'bg', 'menu-mobile' );
   background-position: right 460px;
   background-size: 85%;
}


.bg-purpose() {
   //.png( 'images', 'bg-children' );
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
   .from( 2100px, {
      background-size: contain;
   });
}
.bg-purpose-adapt() {
   //.png( 'images', 'bg-children-adapt' );
   background-repeat: no-repeat;
   background-position: left;
   background-size: contain;
}
.bg-federal() {
   //.png( 'images', 'bg-teen-sm' );
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   .from( 2100px, {
      background-size: contain;
   });
}
.bg-federal-adapt() {
   //.png( 'images', 'bg-teen-adapt' );
   background-repeat: no-repeat;
   background-position: right 30%;
   background-size: 80%;
}
.bg-event() {
   //.png( 'images', 'bg-events' );
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   .from( 2100px, {
      background-size: contain;
   });
    .md-block({
      background-size: cover;
   });
    .sm-block({
      background-size: cover;
   });
}

.competition-robo-hand() {
   .svg-b( 'teacher_competition', 'icons', 'robo-hand');
    background-position: left;
   background-size: contain;
}

.competition-hand-caption() {
   .svg-b( 'teacher_competition', 'icons', 'hand');
    background-position: bottom;
   background-size: contain;
}
.competition-caption() {
   .svg-b( 'teacher_competition', 'icons', 'caption-svg');
    background-position: left;
   background-size: contain;
}
.competition-caption-sm() {
   .svg-b( 'teacher_competition', 'icons', 'caption-sm-svg');
    background-position: left;
   background-size: contain;
}

.competition-main() {
   .png( 'teacher_competition', 'main-image' );
       background-position: center;
   background-size: contain;
}

.competition-stripes() {
   .svg-b( 'teacher_competition', 'icons', 'stripes' );
    background-position: left;
   background-size: contain;
}

.competition-cube() {
   .svg-b( 'teacher_competition', 'icons', 'cube' );
    background-position: center;
   background-size: contain;
}

.competition-about() {
   .svg-b( 'teacher_competition', 'icons', 'icon-about' );
    background-position: right;
   background-size: contain;
}
