.svg-b(@folder1, @folder2, @name) {
   background-image: url("../data/@{folder1}/@{folder2}/@{name}.svg");
   background-repeat: no-repeat;
}
.svg(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
}
.png(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.png");
   background-repeat: no-repeat;
}



.logo_ficto {
   .svg( 'logo', 'ficto' );
   background-position: left;
   background-size: contain;
}
.logo_ficto-black {
   .svg( 'logo', 'ficto-black' );
   background-position: left;
   background-size: contain;
}
.logo_kub-adaptive() {
   .svg( 'logo', 'kub-adapt' );
   background-position: left;
   background-size: contain;
}
.logo_arpp {
   .svg( 'logo', 'arpp' );
   background-position: left;
   background-size: contain;
}
.logo_arpp-adapt() {
   .svg( 'logo', 'arpp-adapt' );
   background-position: center;
   background-size: contain;
}


.body-lines-left() {
   .svg('bg', 'lines-dots-left');
}
.body-lines-right-sm() {
   .svg('bg', 'lines-dots-right-sm');
   background-position: right;
   background-size: contain;
}
.body-lines-right() {
   .svg('bg', 'lines-dots-right');
   background-position: right;
   background-size: contain;
}
.body-lines-center() {
   .svg('bg', 'lines-dots-center');
   background-position: right;
   background-size: contain;
}
.body-lines-competition() {
   .svg('bg', 'competition-lines');
   background-position: left;
   background-size: contain;
}
.body-lines-competition-left() {
   .svg('bg', 'competition-lines-left');
   background-position: right;
   background-size: contain;
}
.body-lines-news() {
   .svg('bg', 'lines-dots-news');
   background-position: right;
   background-size: contain;
}
.body-lines-doc() {
   .svg('bg', 'lines-doc');
   background-position: right;
   background-size: contain;
}
.list-lines() {
   .svg('bg', 'list-lines');
   background-position: top right;
   background-size: contain;
}




.bg-mobile() {
   .svg( 'bg', 'menu-mobile' );
   background-position: right 500px;
   background-size: 85%;
}


.bg-purpose() {
   //.png( 'images', 'bg-children' );
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
   .from( 2100px, {
      background-size: contain;
   });
}
.bg-purpose-adapt() {
   //.png( 'images', 'bg-children-adapt' );
   background-repeat: no-repeat;
   background-position: left;
   background-size: contain;
}
.bg-federal() {
   //.png( 'images', 'bg-teen-sm' );
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   .from( 2100px, {
      background-size: contain;
   });
}
.bg-federal-adapt() {
   //.png( 'images', 'bg-teen-adapt' );
   background-repeat: no-repeat;
   background-position: right 30%;
   background-size: 80%;
}
.bg-event() {
   //.png( 'images', 'bg-events' );
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   .from( 2100px, {
      background-size: contain;
   });
    .md-block({
      background-size: cover;
   });
}

.competition-robo-hand() {
   .svg-b( 'teacher_competition', 'icons', 'robo-hand');
    background-position: left;
   background-size: contain;
}

.competition-hand-caption() {
   .svg-b( 'teacher_competition', 'icons', 'hand');
    background-position: bottom;
   background-size: contain;
}
.competition-caption() {
   .svg-b( 'teacher_competition', 'icons', 'caption-svg');
    background-position: left;
   background-size: contain;
}
.competition-caption-sm() {
   .svg-b( 'teacher_competition', 'icons', 'caption-sm-svg');
    background-position: left;
   background-size: contain;
}

.competition-main() {
   .png( 'teacher_competition', 'main-image' );
       background-position: center;
   background-size: contain;
}

.competition-stripes() {
   .svg-b( 'teacher_competition', 'icons', 'stripes' );
    background-position: left;
   background-size: contain;
}

.competition-cube() {
   .svg-b( 'teacher_competition', 'icons', 'cube' );
    background-position: center;
   background-size: contain;
}

.competition-about() {
   .svg-b( 'teacher_competition', 'icons', 'icon-about' );
    background-position: left;
   background-size: contain;
}
.competition-about-adapt() {
   .svg-b( 'teacher_competition', 'icons', 'icon-about-adapt' );
    background-position: left;
   background-size: contain;
}


.competition-stage-arrow-2() {
   .svg-b( 'teacher_competition', 'arrows', 'arrow-2' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow-1() {
   .svg-b( 'teacher_competition', 'arrows', 'arrow-1' );
    background-position: center;
   background-size: contain;
}

.competition-stage-1() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-1' );
    background-position: center;
   background-size: contain;
}
.competition-stage-2() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-2' );
    background-position: center;
   background-size: contain;
}
.competition-stage-3() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-3' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-arrow' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow-long() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-arrow-long' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow-right() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-arrow-right' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow-right-long() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-arrow-right-long' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow-straight-long() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-straight-long' );
    background-position: center;
   background-size: contain;
}
.competition-stage-arrow-straight() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-straight' );
    background-position: center;
   background-size: contain;
}

.competition-stage-arrow-adapt() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-arrow-adapt' );
    background-position: center;
   background-size: contain;
}
.competition-stage-adapt-1() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-1-adapt' );
    background-position: center;
   background-size: contain;
}
.competition-stage-adapt-2() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-2-adapt' );
    background-position: center;
   background-size: contain;
}
.competition-stage-adapt-3() {
   .svg-b( 'teacher_competition', 'icons', 'icon-stage-3-adapt' );
    background-position: center;
   background-size: contain;
}

.nominations(@name) {
     background-image: url("../data/teacher_competition/icons/icon-nominations-@{name}.svg");
   background-repeat: no-repeat;
    background-position: 100% 100%;
   background-size: 300px auto;
   
   .lg-block({
      background-position: 98% 98%;
   });
   .md-block({
      background-size: 200px auto;
   });
   .sm-block({
      background-image: none;
   });
}

.competition-terms() {
   .svg-b( 'teacher_competition', 'icons', 'terms' );
    background-position: right top;
   background-size: contain;
}
.competition-quota() {
   .svg-b( 'teacher_competition', 'icons', 'quota' );
    background-position: left;
   background-size: contain;
}

.application(@name) {
   background-image: url("../data/teacher_competition/icons/application-@{name}.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}


.news-main() {
   .svg( 'news', 'main' );
    background-position: top;
   background-size: contain;
}


// Конгресс

.congress( @name ) {
   background-image: url("../data/congress/@{name}.svg");
   background-repeat: no-repeat;
}

.congress-bg() {
   .congress('bg');
}
.congress-bg2() {
   .congress('bg2');
}
.congress-bg3() {
   .congress('bg3');
}
.congress-caption() {
   .congress('caption');
   background-position: center;
   background-size: contain;
}
.congress-logo() {
   .congress('logo');
   background-position: center;
   background-size: contain;
}
.congress-dash() {
   .congress('dash');
   background-position: top;
   background-size: cover;
}

.schedule-dash-vert() {
   background-image: url("../data/hackathon/line-vert.svg");
   background-size: contain;
   background-position: top;
}
.schedule-dash-hor() {
   background-image: url("../data/hackathon/line-hor.svg");
   background-position: left;
   background-size: contain;
}
.congress-figure() {
   .congress('figure');
   background-position: center;
   background-size: contain;
}

.congress_cube() {
   background-image: url("../data/congress/after/cubes.svg");
   background-repeat: no-repeat;
   background-position: top left;
   background-size: contain;
}
.congress_c() {
   background-image: url("../data/congress/after/2c.svg");
   background-repeat: no-repeat;
   background-position: left;
   background-size: contain;
}
.congress-photo( @name ) {
   background-image: url("../data/congress/after/photo/header/@{name}.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.congress-after-video-img() {
   background-image: url("../data/congress/after/image-video.svg");
   background-repeat: no-repeat;
   background-position: top left;
}
.congress-result() {
   background-image: url("../data/congress/after/footer.svg");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
}

.congress-gecs() {
   background-image: url("../data/congress/after/photo/header/gecs.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}


.hackathon( @name ) {
   background-image: url("../data/hackathon/@{name}");
   background-repeat: no-repeat;
}
.hackathon-bg() {
   .hackathon('bg-top.svg');
}
.hackathon-logo() {
   .hackathon('logo.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-before-man() {
   .hackathon('bg-man.svg');
   background-position: left;
   background-size: contain;
}
.hackathon-before-center() {
   .hackathon('bd-center.svg');
   background-size: contain;
}
.hackathon-before-green() {
   .hackathon('bg-green.svg');
   background-position: left;
   background-size: contain;
}
.hackathon-who-1() {
   .hackathon('who-1.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-who-2() {
   .hackathon('who-2.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-gr() {
   .hackathon('green.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-direction-bg() {
   .hackathon('bg-kod.svg');
   background-position: right bottom;
}
.hackathon-direction-1() {
   .hackathon('direction-1.svg');
   background-position: right bottom;
   background-size: contain;
}
.hackathon-direction-2() {
   .hackathon('direction-2.svg');
   background-position: right bottom;
   background-size: contain;
}
.hackathon-direction-3() {
   .hackathon('direction-3.svg');
   background-position: right bottom;
   background-size: contain;
}
.hackathon-step-1() {
   .hackathon('step-1.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-step-2() {
   .hackathon('step-2.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-step-3() {
   .hackathon('step-3.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-application() {
   .hackathon('bg-application1.svg');
}
.hackathon-noyt() {
   .hackathon('application.svg');
}

.hackathon-winner-image( @nmbr ) {
   background-image: url("../data/hackathon/winners/caption-@{nmbr}.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.hackathon-winner-place( @nmbr ) {
   background-image: url("../data/hackathon/winners/@{nmbr}.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.teacher-winner-image( @nmbr ) {
   background-image: url("../data/teacher_competition/winners/@{nmbr}.svg");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
   .md-block({
      background-position: bottom right;
   })
}
.teacher-winner-image-p( @nmbr ) {
   background-image: url("../data/teacher_competition/winners/people/@{nmbr}.jpg");
   background-repeat: no-repeat;
   background-position: top;
   background-size: contain;
}

.teacher-winner-archive() {
   background-image: url("../data/teacher_competition/winners/archive_simple.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.teacher-winner-archive-left() {
   background-image: url("../data/teacher_competition/winners/archive_left.svg");
   background-repeat: no-repeat;
   background-position: top left;
   background-size: contain;
}
.teacher-winner-archive-right() {
   background-image: url("../data/teacher_competition/winners/archive_right.svg");
   background-repeat: no-repeat;
   background-position: top right;
   background-size: contain;
}


/*  Окружные совещания  */

.meeting( @name ) {
   background-image: url("../data/meeting/@{name}");
   background-repeat: no-repeat;
}
.meeting-bg() {
   .meeting('pattern.svg');
}
.meeting-elem() {
   .meeting('elem.svg');
}
.meeting-cover() {
   .meeting('cover.svg');
}
.meeting-logo() {
   .meeting('logo.svg');
   background-position: left;
   background-size: contain;
}
.meeting-bg-1() {
   .meeting('bg_1.svg');
   background-position: top left;
   background-size: contain;
}
.meeting-bg-2() {
   .meeting('bg_2.svg');
   background-position: top right;
   background-size: contain;
}



.archive-footer() {
   background-image: url("../data/teacher_competition/footer.svg");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
}
