#container_hackathon .footer__container {
   margin-top: 0;
}
.hackathon__application {


}
.hackathon_application__image {
   position: relative;
   z-index: 200;
   
   margin-bottom: -2px;
   width: 100%;
   height: 17rem;
   .hackathon-application();
   background-position: center;
   background-size: 1771px 345px;
   
   padding-top: 6rem;
   
   .middle-block({
      background-position: top;
      background-size: 1022px 276px;
      padding-top: 5rem;
   });
   .sm-block({
      background-position: top;
      background-size: 1020px 200px;
      padding-top: 5rem;
   });
}
.hackathon_application__icon {
   position: absolute;
   width: 27%;
   height: 90%;
   
   .hackathon-noyt();
}






.hackathon_application__holder {
   padding-top: 5rem;
   background-color: @color-green-new;
}
