#container_hackathon_archive_2023 {

.hackathon1( @name ) {
   background-image: url("../data/hackathon/archive/2023/winners/@{name}");
   background-repeat: no-repeat;
}
.hackathon-bg() {
   .hackathon1('bg-top.svg');
}
.hackathon-logo() {
   .hackathon1('logo.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-before-man() {
   .hackathon1('bg-man.svg');
   background-position: left;
   background-size: contain;
}
.hackathon-before-center() {
   .hackathon1('bd-center.svg');
   background-size: contain;
}
.hackathon-before-green() {
   .hackathon1('bg-green.svg');
   background-position: left;
   background-size: contain;
}
.hackathon-who-1() {
   .hackathon1('who-1.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-who-2() {
   .hackathon1('who-2.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-gr() {
   .hackathon1('green.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-direction-bg() {
   .hackathon1('bg-kod.svg');
   background-position: right bottom;
}
.hackathon-direction-1() {
   .hackathon1('direction-1.svg');
   background-position: right bottom;
   background-size: contain;
}
.hackathon-direction-2() {
   .hackathon1('direction-2.svg');
   background-position: right bottom;
   background-size: contain;
}
.hackathon-direction-3() {
   .hackathon1('direction-3.svg');
   background-position: right bottom;
   background-size: contain;
}
.hackathon-application() {
   .hackathon1('bg-application1.svg');
}
.hackathon-noyt() {
   .hackathon1('application.svg');
}

.hackathon-step-1() {
   .hackathon1('step-1.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-step-2() {
   .hackathon1('step-2.svg');
   background-position: center;
   background-size: contain;
}
.hackathon-step-3() {
   .hackathon1('step-3.svg');
   background-position: center;
   background-size: contain;
}
.hackathon__steps {
   margin-top: 10rem;
   
   h1.title {
      .montserrat-bold();
      font-size: 2rem;
      line-height: 2.4rem;
      .middle-block({
         font-size: 2.2rem;
         line-height: 2.6rem;
      });
      .sm-block({
         font-size: 1.8rem;
         line-height: 2rem;
      });
      .xxs-block({
         font-size: 1.6rem;
         line-height: 1.8rem;
      });
   }
   strong {
      display: inline-block;
   }
}
.hackathon_step__holder {
   .flex();
   margin-bottom: 1rem;
   padding-bottom: 10rem;
   .md-block({
       padding-bottom: 5rem;
   });
}
.hackathon_step__icon {
   position: relative;
   width: 13.5rem;
   height: 11.7rem;
   margin-right: 2rem;
   margin-left: 3.5rem;
   
   flex-shrink: 0;
   
   .lg-block({
      width: 10.5rem;
      height: 8.7rem;
      margin-left: 2.5rem;
   });
   .md-block({
      width: 6.5rem;
      height: 4.7rem;
      margin-right: 1rem;
      margin-left: 1.4rem;
   });
   .sm-block({
      margin-right: .8rem;
      margin-left: .8rem;
   });
}
.hackathon_step__icon-1 { .hackathon-step-1(); width: 100%; height: 100% }
.hackathon_step__icon-2 { .hackathon-step-2(); width: 100%; height: 100% }
.hackathon_step__icon-3 { .hackathon-step-3(); width: 100%; height: 100% }

.hackathon_step__icon:after {
   .pseudo();
   width: 3.5rem;
   height: 3px;
   
   top: 50%;
   left: -3.35rem;
   
   background-color: #1D2332;
   
   transform: translateY(-50%);
   
   .lg-block({
      width: 3rem;
      height: 3px;
      left: -2.6rem;
   });
   .md-block({
      width: 2rem;
      height: 2px;
      left: -1.35rem;
   });
   .sm-block({
      width: 1.5rem;
      left: -.8rem;
   });
}
.hackathon_step__icon:before {
   .pseudo();
   width: 3px;
   height: 250%;
   
   bottom: 50%;
   left: -3.4rem;
   
   background-color: #1D2332;
   
   .lg-block({
      height: 370%;
      left: -2.6rem;
   });
   .md-block({
      width: 2px;
      height: 580%;
      left: -1.4rem;
   });
   .sm-block({
      height: 700%;
      left: -.8rem;
   });
   .xs-block({
      height: 680%;
   });
   .xxs-block({
      height: 870%;
   });
}
.hackathon_step__holder:first-of-type .hackathon_step__icon:before {
   height: 80%;
   
   bottom: 50%;
   background: linear-gradient(180deg, rgba(29, 35, 50, 0.00) 0%, #1D2332 50%);
   
   .sm-block({
      height: 100%;
   });
}

.hackathon_step__date {
   color: @color-green-new;
   
   .montserrat-bold();
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 2.1rem;
   });
}
.hackathon__steps h1.title,
.hackathon_step__date {
   .md-block({
      margin-left: 3rem;
   })
}
.hackathon_step__about {
   .md-block({
       margin-left: -3rem;
   })
}


.hackathon_winners__caption {
   .flex();
   .items-center();
   
   .xs-block({
      flex-wrap: wrap;
   })
}
.hackathon_winners__caption_icon {
   width: 6.5rem;
   height: 6.5rem;
   
   margin-right: 2rem;
   .xs-block({
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
      background-position: left;
   })
}
.hackathon_winners__caption h1.title {
   text-align: left;
   text-transform: uppercase;
   color: #42C66E;
}


.hackathon-winner-image( @nmbr ) {
   background-image: url("../data/hackathon/archive/2023/winners/caption-@{nmbr}.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.hw__caption_icon-1 { .hackathon-winner-image( '1')}
.hw__caption_icon-2 { .hackathon-winner-image( '2')}
.hw__caption_icon-3 { .hackathon-winner-image( '3')}



.hackathon_winners__list .block_8 {
   .col();
   .size(8);
   .size-xl(8);
   .size-middle(12);
   .size-lg(12);
   .size-md(20);
   .size-sm(24);
   
   .shift-md-left(2);
   .shift-sm-left(0);
}
@media screen and (max-width: @break_middle) {
   .hackathon_winners__list .block_8 {
      margin-top: 1rem;
   }
   .hackathon_winners__list .block_8:last-of-type {
      margin-top: 3rem;
   }
}
@media screen and (max-width: @break_md) {
   .hackathon_winners__list .block_8:nth-of-type(2) {
      margin-top: 3rem;
   }
   .hackathon_winners__list .block_8:last-of-type {
      margin-bottom: 2rem;
   }
}
section .hackathon_winner__name.text-22 {
   .montserrat-bold();
   margin-top: 1.5rem;
   margin-bottom: .5rem;
   
   margin-left: 8px;
}
.hackathon_winner__location {
   margin-left: 8px;
}


.hackathon_winner__img {
   position: relative;
   z-index: 100;
   
   border: 8px solid transparent;
   border-radius: 2px;
   line-height: 0;
}
.hackathon_winners__holder article.block_8:first-of-type .hackathon_winner__img {
   border-color: @color-green-new;
}
.hackathon_winner__img img {
   position: relative;
   z-index: 90;
}
.hackathon_winner__place {
   position: absolute;
   z-index: 500;
   
   width: 5rem;
   height: 5rem;
   top: -2.5rem;
   right: -2.3rem;
}
.hackathon_winners__holder article.block_8:first-of-type .hackathon_winner__place {
   width: 6.5rem;
   height: 7rem;
   top: -2.7rem;
   right: -3rem;
}




.hackathon-winner-place( @nmbr ) {
   background-image: url("../data/hackathon/archive/2023/winners/@{nmbr}.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.hw__place-1 { .hackathon-winner-place( '1')}
.hw__place-2 { .hackathon-winner-place( '2')}
.hw__place-3 { .hackathon-winner-place( '3')}


.slick-dots li button:before {
   width: 40px;
   height: 40px;
   font-size: 40px;
   
   color: @color-green-new;
}
.slick-dots li.slick-active button:before {
   color: @color-green-new;
   opacity: 1;
}

.menu__item.active {
   color: @color-green-new;
}
.hackathon__title {
   margin-top: 8rem;
   position: relative;
}
.hackathon__title:before {
   .pseudo();
   z-index: 100;
   width: 70%;
   height: calc( 100% + 15vw );
   
   top: -15vw;
   right: -10px;
   
   .hackathon-bg();
   background-size: contain;
   background-position: bottom right;
   
   .smmd-block({
      right: -1px;
      background-position: 0 30%;
   })
}
.hackathon__title .wrapper:nth-of-type(2) {
   .flex();
   
   .smmd-block({
      .column();
   });
}
.hackathon__title .wrapper:nth-of-type(1) {
   .xs-block({
      margin-bottom: 3rem;
   });
}
.hackathon_header__image {
   order: 2;
   position: relative;
   z-index: 200;
   
   margin-left: 5vw;
   width: 50%;
   flex-grow: 1;
   
   .smmd-block({
      order: 1;
      width: 100%;
      height: 50vw;
      margin-top: 7rem;
      margin-bottom: 2rem;
   });
   .sm-block({
      height: 40vw;
   });
   .xs-block({
      height: 30vw;
      margin-top: 5rem;
      margin-left: 0;
      margin-bottom: 1rem;
   });
}
.hackathon__header {
   position: relative;
   z-index: 300;
   order: 1;
   .smmd-block({
      order: 2;
      width: 100%;
   });
   .xs-block({
      margin-bottom: 5rem;
   });
}
.hackathon__header .hackathon__button {
   .sm-block({
      margin-top: 12rem;
   });
   .xs-block({
      margin-top: 21rem;
   });
}
.hackathon__logo {
   .hackathon-logo();
   width: 100%;
   height: 100%;
   
   .xs-block({
      width: calc( 100% + 50px );
      height: calc( 100% + 50px );
      margin-bottom: 15px;
      margin-left: -15px;
   })
}
.hackathon__button {
   position: relative;
   z-index: 400;
   display: inline-block;
   background-color: @color-gray;
   padding: 1.4rem 2rem;
   border-radius: 4px;
   
   .tr();
}
.hackathon__button:hover {
   background-color: @color-gray-light;
   .tr();
}
.hackathon_button__inner {
   .flex-center();
   color: white;
   text-transform: uppercase;
   i {
      margin-right: 1rem;
   }
   span {
      .montserrat-semibold();
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: 1px;
   }
}




menu.hackathon_navigation__holder {
    position: relative;
    z-index: 600;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
   
   .column();
   .justify-center();
   .items-start();
   
   margin-top: 4rem;
   padding-bottom: 6rem;

    .smmd-block({
      margin-top: 3rem;
      flex-direction: row;
      flex-wrap: wrap;
      .justify-start();
   });
    .xs-block({
      margin-top: 1rem;
   });
}

.hackathon__navigation {
    .flex();
   .items-center();
   margin-bottom: 1rem;
   cursor: pointer;
    .smmd-block({
      width: 50%;
   });
    .xs-block({
      width: 100%;
   });
}
.hackathon__navigation_icon {
    margin-right: 2rem;
   .hackathon-nav-arrow();
}
.hackathon__navigation_text {
   .montserrat-bold();
   font-size: 1.8rem;
   line-height: 2rem;
   
   .tr();
}
.hackathon__navigation:hover .hackathon__navigation_icon {
   transform: translateX(10px);
   .hackathon-nav-arrow-hover();
   .tr();
}
.hackathon__navigation:hover .hackathon__navigation_text {
   color: @color-green-new;
   .tr();
}


.center {
   position: relative;
   z-index: 999;
   .sm-block({
      text-align: left;
   })
}

.logo_relative {
   position: relative;
   z-index: 500;
   width: 824px;
   max-width: 74vw;
   
}
.logo_ratio {
   width: 100%;
   height: 0;
   padding-top: 24.8%;
}
.logo_holder {
   position: absolute;
   z-index: 600;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}



.hackathon_header__image:before {
   .pseudo();
   width: calc( 100% + 4vw );
   max-width: 1000px;
   height: calc( 100% + 10rem );
   
   top: -3rem;
   left: 0;
   
   .hackathon-before-man();
   
   .smmd-block({
      left: -4vw
   });
   .xs-block({
      width: calc( 100% + 30px );
      height: calc( 100% + 21rem );
      
      left: -15px
   })
}


}
