.hackathon__finalists {

}
.hackathon_finalists__holder {

}
.hackathon_finalists__caption {
   .flex();
   .items-center();
   
   .xs-block({
      flex-wrap: wrap;
   })
}
.hackathon_finalists__caption_icon {
   width: 6.5rem;
   height: 6.5rem;
   
   margin-right: 2rem;
   .xs-block({
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
      background-position: left;
   })
}
.hackathon_finalists__caption h1.title {
   text-align: left;
   text-transform: uppercase;
   color: #00AF9D;
}


.hw__caption_icon-1 { .hackathon-finalist-image( '1')}
.hw__caption_icon-2 { .hackathon-finalist-image( '2')}
.hw__caption_icon-3 { .hackathon-finalist-image( '3')}



.hackathon_finalists__list .block_8 {
   .col();
/*   .size(8);
   .size-xl(8);
   .size-middle(12);
   .size-lg(12);
   .size-md(20);
   .size-sm(24);
   
   .shift-md-left(2);
   .shift-sm-left(0);*/
   
   .size(6);
   .size-xl(6);
   .size-middle(8);
   .size-lg(8);
   .size-md(12);
   .size-sm(20);
   .size-xs(24);
   
   //.shift-md-left(2);
   .shift-sm-left(2);
   .shift-xs-left(0);
   
   box-shadow: 0 0 10px 0 rgba(30, 30, 30, 0.1);
   padding: 1.5rem;
   border-radius: 2px;
   
   .column();
   
   margin-bottom: 3rem;
   .xl-block({
      margin-bottom: 2rem;
   });
   .middle-block({
      margin-bottom: 1.5rem;
   });
   .smmd-block({
      //margin-bottom: 1rem;
   })
}
@media screen and (max-width: @break_middle) {
   .hackathon_finalists__list .block_8 {
      margin-top: 1rem;
   }
   .hackathon_finalists__list .block_8:last-of-type {
      //margin-top: 3rem;
   }
}
@media screen and (max-width: @break_md) {
   .hackathon_finalists__list .block_8:nth-of-type(2) {
      //margin-top: 3rem;
   }
   .hackathon_finalists__list .block_8:last-of-type {
      //margin-bottom: 2rem;
   }
}
section .hackathon_finalist__name.text-22 {
   .montserrat-bold();
   //margin-top: 1.5rem;
   margin-bottom: auto;
   padding-bottom: 1rem;
   
   //margin-left: 8px;
}
section .hackathon_finalist__location {
   .montserrat-semibold();
   margin-bottom: auto;
   //margin-left: 8px;
   //border-bottom: 1px solid rgba(107, 107, 107, 0.7);
   padding-bottom: .6rem;
}

.hackathon_finalists__list .block_8 .finalist_line {
   width: 100%;
   height: 1px;
   background-color: rgba(107, 107, 107, 0.7);
}

.hackathon_finalist__img {
   position: relative;
   z-index: 100;
   
   border: 8px solid transparent;
   border-radius: 2px;
   line-height: 0;
}
.hackathon_finalists__holder article.block_8:first-of-type .hackathon_finalist__img {
   border-color: @color-green-new;
}
.hackathon_finalist__img img {
   position: relative;
   z-index: 90;
}
.hackathon_finalist__place {
   position: absolute;
   z-index: 500;
   
   width: 5rem;
   height: 5rem;
   top: -2.5rem;
   right: -2.3rem;
}
.hackathon_finalists__holder article.block_8:first-of-type .hackathon_finalist__place {
   width: 6.5rem;
   height: 7rem;
   top: -2.7rem;
   right: -3rem;
}




.hw__place-1 { .hackathon-finalist-place( '1')}
.hw__place-2 { .hackathon-finalist-place( '2')}
.hw__place-3 { .hackathon-finalist-place( '3')}


.slick-dots li button:before {
   width: 40px;
   height: 40px;
   font-size: 40px;
   
   color: @color-green-new;
}
.slick-dots li.slick-active button:before {
   color: @color-green-new;
   opacity: 1;
}
