#container_hackathon .menu__item.active {
   color: #1F75BA;
}
.hackathon__title {
   margin-top: 8rem;
   position: relative;
}
.hackathon__title:before {
   .pseudo();
   z-index: 100;
   width: 70%;
   height: calc( 100% + 15vw );
   
   top: -15vw;
   right: -10px;
   
   .hackathon-bg();
   background-size: contain;
   background-position: bottom right;
   
   .from( 2250px, {
      top: -12vw;
      right: -100px;
      .hackathon-bg-full();
   });
   
   .smmd-block({
      right: 0;
      width: 100%;
      background-position: 30% 30%;
      opacity: .8;
   });
   .sm-block({
      right: -1px;
      left: -1px;
      width: 105%;
      background-size: 105% auto;
      background-position: 50% 0;
      opacity: .7;
   });
}
.hackathon__title .wrapper:nth-of-type(2) {
   .flex();
   
   .smmd-block({
      .column();
   });
}
.hackathon__title .wrapper:nth-of-type(1) {
   .xs-block({
      margin-bottom: 3rem;
   });
}
.hackathon_header__image {
   order: 2;
   position: relative;
   z-index: 200;
   
   margin-left: 5vw;
   width: 50%;
   flex-grow: 1;
   
   .smmd-block({
      order: 1;
      width: 100%;
      height: 50vw;
      margin-top: 7rem;
      margin-bottom: 2rem;
   });
   .sm-block({
      height: 40vw;
      margin-bottom: 12rem;
   });
   .xs-block({
      height: 30vw;
      margin-top: 5rem;
      margin-left: 0;
      margin-bottom: 1rem;
   });
}
.hackathon__header {
   position: relative;
   z-index: 300;
   order: 1;
   .smmd-block({
      order: 2;
      width: 100%;
   });
   .xs-block({
      margin-bottom: 0;
   });
}
.hackathon__header .hackathon__button:first-of-type {
   .sm-block({
      margin-top: 12rem;
   });
   .xs-block({
      margin-top: 18rem;
   });
}
.hackathon__logo {
   .hackathon-logo();
   width: 100%;
   height: 100%;
   
   .xs-block({
      //width: calc( 100% + 50px );
      //height: calc( 100% + 50px );
      margin-bottom: 15px;
      margin-left: -15px;
   })
}
.hackathon__button {
   position: relative;
   z-index: 400;
   display: inline-block;
   background-color: @color-gray;
   padding: 1.4rem 2rem;
   border-radius: 4px;
   
   .tr();
}
.hackathon__button:hover {
   background-color: @color-gray-light;
   .tr();
}
.hackathon_button__inner {
   .flex-center();
   color: white;
   text-transform: uppercase;
   i {
      margin-right: 1rem;
   }
   span {
      .montserrat-semibold();
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: 1px;
   }
}




menu.hackathon_navigation__holder {
    position: relative;
    z-index: 600;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
   
   .column();
   .justify-center();
   .items-start();
   
   margin-top: 4rem;
   padding-bottom: 6rem;

    .smmd-block({
      margin-top: 3rem;
      flex-direction: row;
      flex-wrap: wrap;
      .justify-start();
   });
    .xs-block({
      margin-top: 1rem;
   });
}

.hackathon__navigation {
    .flex();
   .items-center();
   margin-bottom: 1rem;
   cursor: pointer;
    .smmd-block({
      width: 50%;
   });
    .xs-block({
      width: 100%;
   });
}
.hackathon__navigation_icon {
    margin-right: 2rem;
   .hackathon-nav-arrow();
}
.hackathon__navigation_text {
   .montserrat-bold();
   font-size: 1.8rem;
   line-height: 2rem;
   
   .tr();
}
.hackathon__navigation:hover .hackathon__navigation_icon {
   transform: translateX(10px);
   .hackathon-nav-arrow-hover();
   .tr();
}
.hackathon__navigation:hover .hackathon__navigation_text {
   color: #1F75BA;
   .tr();
}


#container_hackathon .center {
   position: relative;
   z-index: 999;
   .sm-block({
      text-align: left;
   })
}

.logo_relative {
   position: relative;
   z-index: 500;
   width: 700px;
   max-width: 70vw;
   .sm-block({
      max-width: 90vw;
   });
}
.container_hackathon-25 {
.logo_ratio {
   width: 100%;
   height: 0;
   padding-top: 27.8%;
}}
.logo_holder {
   position: absolute;
   z-index: 600;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}



.hackathon_header__image:before {
   .pseudo();
   width: calc( 100% + 10vw );
   max-width: 1000px;
   height: calc( 100% + 24rem );
   
   top: -14rem;
   left: 10vw;
   
   .hackathon-before-man();
   
   .from( 2250px, {
      left: 6vw;
   });
   
   .ll-block({
      width: calc( 100% + 30vw );
      height: calc( 100% + 24rem );
      top: -14rem;
      left: 9vw;
   });
   .lg-block({
      width: calc( 100% + 28vw );
      height: calc( 100% + 18rem );
      top: -7rem;
      left: 2vw
   });
   .smmd-block({
      width: 100%;
      height: 560px;
      top: -120px;
      right: 2vw;
      left: unset;
      background-position: right;
   });
   .xs-block({
      height: 440px;
      top: -140px;
      right: -15px
   });
   .xxs-block({
      height: 400px;
      top: -120px;
      right: -15px;
      left: unset;
      background-position: right;
   });
}
.container_hackathon-25 {
.hackathon_header__image:after {
   .pseudo();
   width: 900px;
   height: 650px;
   
   top: -14rem;
   left: 0;
   
   .hackathon-before-elements-plus();
   
   .from( 2250px, {
   });
   
   .ll-block({
      width: 800px;
      height: 600px;
      top: -16rem;
   });
   .lg-block({
      width: 600px;
      height: 500px;
      top: -7rem;
      left: -2vw
   });
   .smmd-block({
      width: 100%;
      height: 450px;
      top: -50px;
      right: unset;
      left: -6vw;
      
      .hackathon-before-elements();
      background-position: left;
   });
   .sm-block({
      width: 100%;
      height: 340px;
      top: 0;
      right: unset;
      left: -30px;
      background-position: left;
   });
   .xs-block({
      height: 280px;
      top: -50px;
   });
   .xxs-block({
      height: 230px;
      top: -50px;
      right: unset;
      left: -15px;
      background-position: left;
   });
}
}
