.hackathon_program__time {
   .meeting_program__time;
   background-color: #009484;
   .smmd-block({
      height: 32px
   });
}
.hackathon_program__place {
   .meeting_program__place;
   color: #00AF9D;
}
.hackathon_row_place {
   .program_row_place;
   color: #009484;
}
.hackathon_row_place {
   align-self: center;
}
.hackathon_row_place.top {
   align-self: flex-start;
}

.hackathon_program__caption {
   .program_row_caption;
}
