.mml03 {
   margin-left: -.35rem;
   
   .schedule__td-1 {
      width: 165px;
   }
}

.hackathon__schedule {
   margin-top: 9rem;
   margin-bottom: 9rem;
   
   
   .top {
      margin-bottom: .5rem;
      .md-block({
         margin-bottom: .8rem;
      })
   }
   
   .icon-dot {
      padding-top: .3rem;
   }
}


.schedule__numb {
   .montserrat-bold();
   font-size: 2.2rem;
}
.schedule__date {
   .montserrat-bold();
   font-size: 2.2rem;
   color: @color-green-new;
}
.schedule__more {

}
.schedule_more__arrow {
   .icon-arrow-green();
   opacity: .8;
   .tr();
   
   &:hover {
      opacity: 1;
      .tr();
   }
}
.schedule__trigger {
      .flex();
   .justify-between();
   
   div { .flex(); .items-center();}
   
   //margin-bottom: 3rem;
   padding-bottom: 2rem;
   cursor: pointer;
   border-bottom: 2px solid @color-gray;
}
#container_hackathon .list_section.open {
   .schedule_more__arrow {
      .tr();
      opacity: 1;
      transform: rotate(180deg);
   }
}



.schedule__event strong.text-27,
.schedule__column strong.text-27 {
   //width: 11rem;
   flex-shrink: 0;
   margin-right: 2rem;
}

.icon-dot-green {
   .schedule-dot-green();
   position: relative;
   z-index: 900;
   margin-right: 2.5rem;
   //margin-left: .3rem;
}
.icon-food-green {
   .schedule-food-green();
   position: relative;
   z-index: 900;
   margin-right: 2.5rem;
}
.icon-coffee-green {
   .schedule-coffee-green();
   position: relative;
   z-index: 900;
   margin-right: 2.5rem;
}
#container_hackathon .icon-dot-green:before,
#container_hackathon .icon-coffee-green:before,
#container_hackathon .icon-food-green:before {
   .pseudo();
   z-index: 20;
   width: 2px;
   height: 1000px;
   
   bottom: 98%;
   left: 50%;
   transform: translateX(-50%);
   .schedule-dash-vert();
}
#container_hackathon .icon-dot-green:after,
#container_hackathon .icon-coffee-green:after,
#container_hackathon .icon-food-green:after {
   .pseudo();
   z-index: 20;
   width: 2px;
   height: 1000px;
   
   top: 98%;
   left: 50%;
   transform: translateX(-50%);
   .schedule-dash-vert();
}
.block-18 .schedule__event:last-child .icon-dot:after {
   height: 100%;
}

.schedule__event h1.text-25 {
   color: @color-green-new;
   .montserrat-semibold();
   font-size: 1.2rem;
   line-height: 1.4rem;
   .middle-block({
      font-size: 1.3rem;
      line-height: 1.5rem;
   });
   .sm-block({
      font-size: 1.4rem;
      line-height: 1.6rem;
   });
}
.schedule__event h2.text-25,
.schedule__column h2.text-25 {
   .montserrat-semibold();
   font-size: 1.4rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.5rem;
      line-height: 1.7rem;
   });
   .sm-block({
      font-size: 1.6rem;
      line-height: 1.8rem;
   });
}

.schedule__event .font-sm h2.text-25 {
   .montserrat-semibold();
   font-size: 1.1rem;
   line-height: 1.2rem;
   .middle-block({
      font-size: 1.3rem;
      line-height: 1.5rem;
   });
   .sm-block({
      font-size: 1.4rem;
      line-height: 1.6rem;
   });
}

.icon-dot-green.empty {
   background-image: unset;
}
#container_hackathon .icon-dot-green.empty:after {
   top: 0;
}

#container_hackathon .block-4 {
   .column();
   .items-start();
   .justify-center();
}
#container_hackathon .block-6 strong.text-27,
#container_hackathon .block-4 strong.text-27 {
   color: @color-green-new;
}
#container_hackathon .block-6 .text-22,
#container_hackathon .block-4 .text-22 {
   height: 0;
}











