section#step.hackathon__steps {
   margin-top: 10rem;
   
   h1.caption {
      font-size: 3rem;
      line-height: 3.4rem;
      .middle-block({
         font-size: 3.1rem;
         line-height: 120%;
      });
      .sm-block({
         font-size: 3.2rem;
         line-height: 100%;
         margin-bottom: 1rem;
      });
      .xs-block({
         font-size: 3.3rem;
         line-height: 80%;
         margin-bottom: 1.6rem;
      });
   }
   strong {
      display: inline-block;
   }
}
.hackathon_step__holder {
   .flex();
   margin-bottom: 1rem;
   padding-bottom: 8rem;
   .md-block({
       padding-bottom: 5rem;
   });
}
.hackathon_step__icon {
   position: relative;
   width: 13.5rem;
   height: 11.7rem;
   margin-right: 2rem;
   margin-left: 3.5rem;
   
   flex-shrink: 0;
   
   .lg-block({
      width: 10.5rem;
      height: 8.7rem;
      margin-left: 2.5rem;
   });
   .md-block({
      width: 6.5rem;
      height: 4.7rem;
      margin-right: 1rem;
      margin-left: 1.4rem;
   });
   .sm-block({
      margin-right: .8rem;
      margin-left: .8rem;
   });
}
.hackathon_step__icon-0 { .hackathon-step-0(); width: 100%; height: 100% }
.hackathon_step__icon-1 { .hackathon-step-1(); width: 100%; height: 100% }
.hackathon_step__icon-2 { .hackathon-step-2(); width: 100%; height: 100% }
.hackathon_step__icon-3 { .hackathon-step-3(); width: 100%; height: 100% }

.hackathon_step__icon:after {
   .pseudo();
   width: 3.5rem;
   height: 3px;
   
   top: 50%;
   left: -3.35rem;
   
   background-color: #1D2332;
   
   transform: translateY(-50%);
   
   .lg-block({
      width: 3rem;
      height: 3px;
      left: -2.6rem;
   });
   .md-block({
      width: 2rem;
      height: 2px;
      left: -1.35rem;
   });
   .sm-block({
      width: 1.5rem;
      left: -.8rem;
   });
}
.hackathon_step__icon:before {
   .pseudo();
   width: 3px;
   height: 300%;
   
   bottom: -40%;
   left: -3.4rem;
   
   background-color: #1D2332;
   
   .lg-block({
      height: 250%;
      left: -2.6rem;
   });
   .md-block({
      width: 2px;
      height: 350%;
      left: -1.4rem;
   });
   .smmd-block({
      height: 380%;
   });
   .sm-block({
      height: 320%;
      left: -.8rem;
   });
   .xs-block({
      height: 320%;
   });
   .xxs-block({
      height: 380%;
   });
}
.hackathon_step__holder:first-of-type .hackathon_step__icon:before {
   height: 200%;
   
   bottom: -10%;
   background: linear-gradient(180deg, rgba(29, 35, 50, 0.00) 0%, #1D2332 50%);
   
   .sm-block({
      height: 200%;
      bottom: -40%;
   });
}
.hackathon_step__holder:last-of-type .hackathon_step__icon:before {
   height: 800%;
   bottom: -500%;
   z-index: -1;
   
   .xl-block({
      height: 720%;
   });
   .md-block({
      height: 1100%;
      bottom: -800%;
   });
   .sm-block({
      height: 1100%;
   });
   .xxs-block({
      height: 1500%;
   });
}

.hackathon_step__date {
   color: #1F75BA;
   
   .montserrat-bold();
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 2.1rem;
   });
}
.hackathon__steps h1.title,
.hackathon_step__date {
   .md-block({
      margin-left: 3rem;
   })
}
.hackathon_step__about {
   max-width: 900px;
   .md-block({
       margin-left: -3rem;
   })
}


.hackathon_step__more {
   .flex();
   .items-start();
   
   margin-bottom: 3rem;
   .md-block({
      margin-bottom: 1rem;
   });

   &:last-of-type {
      margin-bottom: -2rem;
      .md-block({
         margin-bottom: -1rem;
      });
   }
   .icon__green_hackathon {
      flex-shrink: 0;
   }
   .hackathon_step__date {
      .md-block({
         margin-left: 0;
      })
   }
}
.hackathon_step__more.first {
   margin-top: 7rem;
   .md-block({
      margin-top: 3rem;
   });
}
