.hackathon__winners {
   position: relative;
   z-index: 100;
   
   margin-top: 6rem;
   
   .lg-block({
      margin-top: 9rem;
   });
   .md-block({
   });
   .xs-block({
      margin-top: 7rem;
   });
}
.hackathon_winners__holder {

}
.hackathon_winners__caption {
   .flex();
   .items-center();
   
   .xs-block({
      flex-wrap: wrap;
   })
}
.hackathon_winners__caption_icon {
   width: 6.5rem;
   height: 6.5rem;
   
   margin-right: 2rem;
   .xs-block({
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
      background-position: left;
   })
}
.hackathon_winners__caption h1.title {
   text-align: left;
   text-transform: uppercase;
   color: #00AF9D;
}


.hw__caption_icon-1 { .hackathon-winner-image( '1')}
.hw__caption_icon-2 { .hackathon-winner-image( '2')}
.hw__caption_icon-3 { .hackathon-winner-image( '3')}


.hackathon_winners__list .block_8 {
   .col();
   .size(7);
   .size-xl(7.5);
   .size-middle(7.5);
   .size-lg(10);
   .size-md(16);
   .size-sm(18);
   .size-xs(24);
   
   .shift-right(1);
   .shift-xl-right(.5);
   .shift-middle-right(.5);
   .shift-lg-left(1);
   .shift-lg-right(1);
   .shift-md-left(4);
   .shift-md-right(4);
   .shift-sm-right(3);
   .shift-sm-left(3);
   .shift-xs-right(0);
   .shift-xs-left(0);
}
.hackathon_winners__list .block_16 {
   .col();
   .size(16);
   .size-xl(16);
   .size-middle(16);
   .size-lg(16);
   .size-md(20);
   .size-sm(24);
   
   .shift-md-left(2);
   .shift-sm-left(0);
}
@media screen and (max-width: @break_middle) {
   .hackathon_winners__list .block_8 {
      margin-top: 1rem;
   }
   .hackathon_winners__list article.block_8.mt1 {
      margin-top: 1rem;
   }
   .hackathon_winners__list .block_8:last-of-type {
      margin-top: 3rem;
   }
   .hackathon_winners__list article.block_8.mt1:last-of-type {
      margin-top: 1rem;
   }
}
@media screen and (max-width: @break_md) {
   .hackathon_winners__list .block_8:nth-of-type(2) {
      margin-top: 3rem;
   }
   .hackathon_winners__list .block_8:last-of-type {
      margin-bottom: 2rem;
   }
   
   .hackathon_winners__list article.block_8.mt1:nth-of-type(2) {
      margin-top: 1rem;
   }
   .hackathon_winners__list article.block_8.mt1:last-of-type {
      margin-top: 1rem;
   }
}
section .hackathon_winner__name.text-22 {
   margin-top: 1.5rem;
   margin-bottom: .5rem;
   
   margin-left: 8px;
}
.hackathon_winner__location.text-22 {
   .montserrat-bold();
   margin-left: 8px;
}


.hackathon_winner__img {
   position: relative;
   z-index: 100;
   
   //border: 8px solid transparent;
   border-radius: 2px;
   line-height: 0;
}
.hackathon_winners__holder article.block_8:first-of-type .hackathon_winner__img {
   border-color: @color-green-new;
}
.hackathon_winner__img img {
   position: relative;
   z-index: 90;
}
.hackathon_winner__place {
   position: absolute;
   z-index: 500;
   
   width: 3.5rem;
   height: 3.5rem;
   top: -1.28rem;
   right: -1.5rem;
   
   padding-left: 2rem;
}
.hackathon_winners__holder article.block_8:first-of-type .hackathon_winner__place {
   width: 2rem;
   height: 7rem;
   top: -2.3rem;
   right: -1.5rem;
}

.hackathon_winners__holder article.block_8 .hackathon_winner__place.hw__place-0,
.hackathon_winners__holder article.block_8:first-of-type .hackathon_winner__place.hw__place-0 {
   width: 3.5rem;
   height: 3.5rem;
   top: .8rem;
   right: -1.5rem;

   //padding-left: 0;
}

.hackathon_winners__list .row.others {
   .justify-center();
}

.hw__place-0 { .hackathon-winner-place( '0')}
.hw__place-1 { .hackathon-winner-place( '1')}
.hw__place-2 { .hackathon-winner-place( '2')}
.hw__place-3 { .hackathon-winner-place( '3')}


.slick-dots li button:before {
   width: 40px;
   height: 40px;
   font-size: 40px;
   
   color: @color-green-new;
}
.slick-dots li.slick-active button:before {
   color: @color-green-new;
   opacity: 1;
}
