mixin gallery ( name, photo )
   a( href='##{photo}' aria-label='#{name}' ).js_href.digital_generation__item
      .digital_generation__card
         span !{name}
      .digital_generation__photo
         img( src='./assets/data/images/digital_generation/#{photo}.webp' )
