.meeting__logo {
   .meeting-logo();
   width: 100%;
   height: 100%;
   
   .xs-block({
      margin-bottom: 15px;
      margin-left: -15px;
   })
}
.meeting__title {
   margin-top: 8rem;
   position: relative;
   z-index: 500;
}
.meeting__title:before {
   .pseudo();
   z-index: 295;
   width: 70%;
   height: calc( 100% + 15vw );
   
   top: -8vw;
   right: -10px;
   
   .meeting-bg();
   background-size: contain;
   background-position: bottom right;
   .ll-block({
      .meeting-cover();
   });
   .lg-block({
      top: -8vw;
      width: calc( 100% + 10vw );
      height: calc( 100% + 15vw );
   });
   .smmd-block({
      opacity: .7;
   });
   .xs-block({
      opacity: .4;
   });
}
.meeting__title:after {
   .pseudo();
   z-index: 298;
   
   .from( @break_ll, {
     display: none;
   });
   .ll-block({
      .meeting-cover();
      width: 370px;
      height: 411px;
      top: 0;
      right: 3vh;
      
      .meeting-elem();
      background-size: contain;
      background-position: center;
   });
   .xxl-block({
      width: 300px;
      height: 341px;
      top: 12vh;
      right: 20px;
   });
   .lg-block({
      width: 260px;
      height: 290px;
      top: 100px;
      right: 20px;
      background-position: top;
   });
   .smmd-block({
      top: 80px;
      width: 160px;
      opacity: .7;
   });
   .sm-block({
      top: 40px;
      width: 140px;
      height: 170px;
      opacity: .4;
   });
   .xs-block({
      right: 10px;
      width: 120px;
      height: 150px;
      opacity: .4;
   });
   .xxs-block({
      width: 100px;
      opacity: .7;
   });
}

.meeting__trigger {
   .flex();
   .justify-between();
   .items-center();
}

.meeting__day {
   .flex();
   .items-end();
}
.meeting__day .caption {
   .montserrat-bold();
   font-size: 3rem;
   line-height: 105%;
   .middle-block({
      font-size: 3.1rem;
   });
   .sm-block({
      font-size: 3.2rem;
   });
   .xs-block({
      font-size: 3.3rem;
   });
}




.meeting__main {
   position: relative;
   z-index: 2000;
   margin-top: 22rem;
   margin-bottom: calc(5rem + 5vw);
   .to( 1520px, {
      margin-top: 20rem;
   });
   .lg-block({
      margin-top: 18rem;
   });
   .md-block({
      margin-top: 18rem;
   });
   .smmd-block({
      margin-top: 12rem;
   });
   .sm-block({
      margin-top: 14rem;
   });
   .xs-block({
      margin-top: 15rem;
   });
   .xxs-block({
      margin-top: 15rem;
   });
}
.meeting__main:after {
   .pseudo();
   z-index: 50;
   .congress-bg3();
   background-position: 0 0;
   background-size: 80%;
   
   height: 80vw;
   width: 100%;
   
   top: -13vw;
   right: -50vw;
   .xs-block({
      top: -60%;
      right: 0;
      .meeting-bg-2();
      background-size: 70%;
   });
}

.meeting__header {
   position: relative;
   z-index: 300;
   order: 1;
   .smmd-block({
      order: 2;
      width: 100%;
   });
   .xs-block({
      margin-bottom: 5rem;
   });
}
.meeting__header:before {
   .pseudo();
   z-index: 50;
   .meeting-bg-1();
   background-size: 80%;
   
   height: 622px;
   max-width: 1775px;
   width: 90vw;
   
   top: -5vw;
   left: 0;
}

.meeting__header .wrapper {
   position: relative;
   z-index: 1400;
}
.meeting__img {
   .flex();
   .justify-end();
   position: absolute;
   z-index: 1300;
   top: -80%;
   right: 200px;
   
   width: 800px;
   height: auto !important;
   
   .to( 1485px, {
      right: 100px;
      width: 740px;
   });
   .ll-block({
      top: -70%;
      right: 80px;
      width: 680px;
   });
   .xxl-block({
      top: -55%;
      right: 40px;
      width: 640px;
    });
   .xl-block({
      top: -40%;
    });
   .middle-block({
      top: -30%;
      right: 30px;
      width: 480px;
    });
   .lg-block({
      top: -30%;
      right: 20px;
      width: 450px;
    });
   .smmd-block({
      top: -20%;
      width: 380px;
   });
   .sm-block({
      top: -10%;
      right: 10px;
      width: 290px;
   });
   .xs-block({
      top: -5%;
      right: 5px;
      width: 290px;
    });
   .xxs-block({
      top: 30%;
      width: 210px;
    });
}


.meeting_navigation__holder {
    position: relative;
    z-index: 1600;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
   & br { display: none }
   .column();
   .justify-center();
   .items-start();
   
   margin-top: 4rem;
   padding-bottom: 6rem;

    .smmd-block({
      margin-top: 3rem;
       & br { display: block }
   });
}

.meeting__navigation {
    .flex();
   .items-center();
   margin-bottom: 1rem;
   cursor: pointer;
    .smmd-block({
      width: 50%;
   });
    .xs-block({
      width: 100%;
       margin-bottom: .5rem;
   });
}
.meeting__navigation_icon {
    margin-right: 2rem;
   .meeting-nav-arrow();
   
   .xs-block({
      margin-right: 1rem;
   });
}
.meeting__navigation_text {
   .montserrat-bold();
   font-size: 1.8rem;
   line-height: 2rem;
   .tr();
   .sm-block({
      font-size: 1.4rem;
      line-height: 1.4rem;
   })
}
.meeting__navigation:hover .meeting__navigation_icon {
   transform: translateX(10px);
   .meeting-nav-arrow-hover();
   .tr();
   .xs-block({
      transform: translateX(5px);
   });
}
.meeting__navigation:hover .meeting__navigation_text {
   color: @color-blue;
   .tr();
}

.meeting__day {
   .lg-block({
      margin-right: 1.5rem;
   });
   .xs-block({
      margin-right: 2rem;
   });
}
.meeting__more .congress_more__text {
   .lg-block({
      font-size: 1.3rem;
      line-height: 1.4rem;
      margin-right: .5rem;
   });
   cursor: default;
}
.meeting__more .congress_more__arrow {
   opacity: .4;
   .sm-block({
      width: 2.5rem;
      height: 2.5rem;
   });
   cursor: default;
}

.meeting_list__section {
   .flex();
   .justify-between();
   position: relative;
   z-index: 250;
   padding-bottom: 20px;
   border-bottom: 3px solid black;
   .md-block({
      flex-direction: column;
   });
}


#container_meetings .footer__container {
   margin-top: 0;
}


.meeting_map__container {
   position: relative;
   z-index: 9000;
   padding-top: calc(5rem + 5vw);
   background-color: #F8F9FA;
   padding-bottom: calc(5rem + 5vw);
   .section_caption {
      margin-bottom: calc(3rem + 5vw);
   }
}
.meeting__map {
   margin-bottom: 5.4rem;
}
.meeting__row {
   .row-flex();
   .justify-between();
    align-items: stretch;
   //.xxl {
   //   .justify-between();
   //}
}
.meeting_block__holder {
   .col();
   .size(8);
   .size-ll(8);
   .size-xl(12);
   .size-lg(12);
   .size-sm(12);
   .size-xs(24);
   
   .column();
   .justify-start();
   .items-start();
   
   padding-left: 1.1rem;
   border-left: .9rem solid;
   
    
    margin-bottom: @fields;
    .xl-block({
        margin-bottom: @fields;
    });
    .middle-block({
        margin-bottom: @fields;
    });
    .lg-block({
        margin-bottom: @fields;
    });
    .sm-block({
        margin-bottom: @fields_lg;
    });
}
.meeting_block__title {
   .flex();
   .items-end();
}
.meeting_block_1 {
   border-left-color: #FA90AF;
}
.meeting_block_2 {
   border-left-color: #55BAF3;
}
.meeting_block_3 {
   border-left-color: #F0CFA7;
}
.meeting_block_4 {
   border-left-color: #8BAEF1;
}
.meeting_list__section .icon-angle {
   width: 40px;
   height: 23px;
   align-self: center;
}
.meeting_block__title .icon-arrow-sm {
   width: 18px;
   height: 15px;
   margin-bottom: 6px;
   margin-left: 15px;
}
.meeting_block__title:hover .icon-arrow-sm {
   margin-left: 20px;
   .tr();
}



.meeting__place {
   display: grid;
   max-width: 860px;
   margin-left: auto;
   padding-left: 6rem;
   grid-template-columns: 50px auto;
   grid-template-rows: repeat(2, auto);
   grid-column-gap: 22px;
   grid-row-gap: 10px;
   .lg-block({
      grid-template-columns: 30px auto;
   });
   .md-block({
      margin-top: 10px;
      margin-left: auto;
      grid-column-gap: 15px;
      grid-row-gap: 2px;
      padding-left: 0;
   });
   .sm-block({
      padding-top: 5px;
   });

}
.meeting__pin {
   .meeting-pin();
   background-position: top;
   grid-column: ~"1 / 2";
   grid-row: ~"1 / 3";
}
.meeting__name {
   grid-column: ~"2 / 3";
   .montserrat-bold();
   font-size: 1.6rem;
   line-height: 105%;
   .middle-block({
      font-size: 1.8rem;
   });
   .sm-block({
      font-size: 1.7rem;
   });
   .xs-block({
      font-size: 1.5rem;
   });
   .xxs-block({
      font-size: 1.4rem;
   });
}
.meeting__address {
   grid-column: ~"2 / 3";
   .montserrat-medium();
   font-size: 1.2rem;
   line-height: 105%;
   .middle-block({
      font-size: 1.3rem;
   });
   .sm-block({
      font-size: 1.4rem;
   });
   .xs-block({
      font-size: 1.3rem;
   });
}

.meeting_program__holder {
   align-items: flex-start;
}
.list .icon-angle {
   .tr();
   transform: rotate(0);
}
.list.show .icon-angle {
   .tr();
   transform: rotate(180deg);
}
.meeting__program {
   display: grid;
   grid-template-columns: 173px auto;
   grid-template-rows: repeat(auto-fit, minmax(24px, auto));
   grid-column-gap: 5rem;
   grid-row-gap: 10px;
   
   margin-bottom: 3rem;
   
   .md-block({
      grid-column-gap: 3rem;
   });
   .sm-block({
      grid-template-columns: auto;
      grid-template-rows: 40px repeat(auto-fit, minmax(24px, auto));
      grid-column-gap: 2rem;
   });
}
.meeting_program__time {
   .flex-center();
   height: 40px;
   background-color: #00A7E4;
   border-radius: 1px;
   padding: 10px;
   box-sizing: border-box;
    .montserrat-bold();
   color: white;
   font-size: 1.4rem;
   line-height: 105%;
   .middle-block({
      font-size: 1.5rem;
   });
   .sm-block({
      font-size: 1.5rem;
      width: 125px;
   });
   .xs-block({
      font-size: 1.6rem;
   });
}
.meeting_program__info {
   display: grid;
   grid-template-rows: repeat(auto-fit, minmax(24px, auto));
   grid-row-gap: 0;
   align-self: flex-start;
   padding-top: 2px;
}
.meeting_program__title,
.meeting_program__text {
    .montserrat-bold();
   color: #1D2332;
   margin-bottom: 12px;
   font-size: 1.4rem;
   line-height: 105%;
   .middle-block({
      font-size: 1.5rem;
   });
   .sm-block({
      font-size: 1.5rem;
   });
   .xs-block({
      font-size: 1.6rem;
   });
}
.meeting_program__text {
   margin-bottom: 0;
}
.meeting_program__person {
    .montserrat-bold();
   color: #1D2332;
   font-size: 1.2rem;
   line-height: 105%;
   .middle-block({
      font-size: 1.2rem;
   });
   .sm-block({
      font-size: 1.2rem;
   });
   .xs-block({
      font-size: 1.2rem;
   });
}
.meeting_program__topic {
    .montserrat-regular();
   color: #1D2332;
   font-size: 1.2rem;
   line-height: 110%;
   .middle-block({
      font-size: 1.2rem;
   });
   .sm-block({
      font-size: 1.1rem;
   });
   .xs-block({
      font-size: 1.1rem;
   });
}
.meeting_program__place {
   .montserrat-bold();
   margin-top: 12px;
   color: #00A7E4;
   font-size: 1.2rem;
   line-height: 105%;
   .middle-block({
      font-size: 1.2rem;
   });
   .sm-block({
      font-size: 1.3rem;
   });
   .xs-block({
      font-size: 1.3rem;
   });
   b {
      font-size: 1.35rem;
      line-height: 105%;
      .middle-block({
         font-size: 1.35rem;
      });
      .sm-block({
         font-size: 1.4rem;
      });
      .xs-block({
         font-size: 1.4rem;
      });
   }
}
.meeting_program__dinner {
   .flex();
   .items-center();
}

.meeting_program__question {
   .flex();
   margin-top: 1.2rem;
}
.meeting_program__num {
   .montserrat-bold();
   font-size: 2rem;
   line-height: 117%;
   color: #1D2332;
}
.meeting_program__q {
   font-size: 1.1rem;
}


.map_index__information {
   position: absolute;
   z-index: 9999;
   background-color: white;
   box-shadow: 0 0 10px 1px rgba(224, 224, 224, 0.53);
   max-width: 300px;
   padding: 1.8rem;
   border-radius: 2px;
   .sm-block({
      width: 200px;
   })
}
.map_index__information .data {
   display: inline-block;
   color: white;
   padding: 8px 15px;
   border-radius: 1px;
   .montserrat-semibold();
}
.map_index__information.pink .data {
   background-color: #FA90AF;
}
.map_index__information.beige .data {
   background-color: #F0CFA7;
}
.map_index__information.blue .data {
   background-color: #8CAEF2;
}

.meeting_list__section .icon-angle.trigger {
   .md-block({
      margin-left: auto;
      margin-top: 15px;
   });
}


.prelative {
   position: relative;
}
