mixin winner( name1, place1, numb )
      article.block_12( class='hackathon_winner-25-#{numb}' )
         .hackathon_winner__img
            .hackathon_winner__place.hackathon_winner__place-2025( class='hw__place-#{numb}' )
         .hackathon_winner__name.text-22 !{name1}
         .hackathon_winner__location.text-22 !{place1}

