doctype
html

   include assets/jade/static/__head
   +title( 'Съезд руководителей "Кубов в кубе" | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_congress
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         include assets/jade/content/congress/__navigation
         section( aria-label='Страница съезда руководителей "Кубов в кубе"' ).congress__title
            .congress__image.congress__cube
            .wrapper
               .congress_caption__holder
                  .congress__logo
                  .congress__caption
               .congress_header__holder
                  .congress_image__holder
                     //.congress__image.congress__cubes
                     .congress__image.congress__image-1
                  .congress_menu__holder
                     menu.congress_navigation__holder
                        +item( 'Программа', 'program' )
                        +item( 'Видеопрезентация', 'videopresentation' )
                        +item( 'Фотогалерея', 'gallery' )
                        +item( 'Итоги', 'result' )


         include assets/jade/content/congress/__trigger
         include assets/jade/content/congress/__text
         include assets/jade/content/congress/__text-0
         include assets/jade/content/congress/__video
         include assets/jade/content/congress/__ps-1
         include assets/jade/content/congress/__ps-2
         include assets/jade/content/congress/__ps-3
         section( aria-label='Программа прошедших мероприятий' )#program.congress__main
            .wrapper
               h1.caption.center.mb3 Программа мероприятий

               section( aria-label='День первый, 17 августа').mb3
                  .congress_list__section
                     +trigger( '17', '1' )
                     .congress_list__holder
                        .congress__block
                           strong.text-22.upper Торжественное открытие мероприятия, секция государственной образовательной политики
                        .congress__list
                           +video( 'Кравцов Сергей Сергеевич', 'Министр просвещения Российской Федерации', 'Обращение Министра просвещения Российской Федерации к&nbsp;руководителям Центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>', 'https://vk.com/video_ext.php?oid=-193270730&id=456239039&hash=bcf1ea11826427a1')
                           +text-0( 'Райдер Алексей Владимирович', 'заместитель Губернатора Тюменской области', 'Приветственное слово, обращение к&nbsp;руководителям Центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>')
                           +text( 'Кожевников Сергей Михайлович', 'директор ФГАНУ &laquo;ФИЦТО&raquo;', 'Центры <div class="wwnow">&laquo;IT-куб&raquo;</div> как драйвер в&nbsp;технологическом развитии регионов', 'СМ Кожевников Центры «IT-куб» как драйвер в технологическом развитии регионов.pdf')
                           +text-0( 'Руденок Мария Алексеевна', 'директор Департамента стратегии, программной и&nbsp;проектной деятельности Минпросвещения России', 'Роль Центров <div class="wwnow">&laquo;IT-куб&raquo;</div> в&nbsp;экосистеме Национального проекта &laquo;Образование&raquo;')

                        .congress__block
                           strong.text-22.upper Сессия о&nbsp;современных инструментах и&nbsp;возможностях управления деятельностью Центров <div class="wwnow">&laquo;IT-куб&raquo;</div> и&nbsp;мерах, направленных на&nbsp;развитие Центров
                        .congress__list
                           +ps-1( 'Проектная сессия, часть 1.<br>Направления развития и&nbsp;меры поддержки Центров <div class="wwnow">&laquo;IT-куб&raquo;</div>', 'Кожевников Сергей Михайлович', 'директор ФГАНУ &laquo;ФИЦТО&raquo;' )
                           +text( 'Пономарева Юлия Александровна', 'генеральный директор ФГАУ &laquo;Центр просветительских инициатив Министерства просвещения Российской Федерации&raquo;', '3 столпа нацпроекта &laquo;Образование&raquo;: <div class="wwnow mr0">&laquo;IT-куб&raquo;</div>, Кванториум, Точка роста', 'ЮА Пономарева 3 столпа нацпроекта «Образование» «IT-куб», Кванториум, Точка роста.pdf')
                           +text( 'Суханов Даниил Артемович', 'начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;', 'Меры поддержки Центров <div class="wwnow">&laquo;IT-куб&raquo;</div> со&nbsp;стороны Федерального оператора в&nbsp;2023 году', 'ДА Суханов Меры поддержки.pptx')
                           +text( 'Вайно Александр Антонович', 'руководитель центра молодежных инициатив Агентства стратегических инициатив', 'Инфраструктура мер поддержки Агентства стратегических инициатив', 'АА Вайно Инфраструктура мер поддержки Агентства стратегических инициатив.pdf')

                        .congress__block
                           strong.text-22.upper Представление лучших региональных практик
                        .congress__list
                           +ps-1( 'Проектная сессия, часть 2.<br>Успешная деятельность образовательных организаций на&nbsp;примере лучших региональных практик', 'Кожевников Сергей Михайлович', 'директор ФГАНУ &laquo;ФИЦТО&raquo;' )
                           +text( 'Горковец Дина Николаевна', 'директор Департамента образования и&nbsp;науки Тюменской области', 'Развитие инженерного образования в&nbsp;Тюменской области', 'ДН Горковец Развитие инженерного образования в Тюменской области.pdf')
                           +text( 'Косолапов Владимир Викторович', 'руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Нижегородская область', 'Ментор&ndash;сессии&nbsp;&mdash; как инструмент формирования единой экосистемы образования и&nbsp;развития образовательной инфраструктуры', 'ВВ Косолапов Ментор–сессии — как инструмент формирования единой экосистемы образования и развития образовательной инфраструктуры.pdf')
                           +text( 'Кешко Анна Александровна', 'Руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Чувашская Республика', 'Частно&ndash;государственное партнерство. Образование и&nbsp;бизнес на&nbsp;пути к&nbsp;технологическому суверенитету страны', 'АА Кешко Частно–государственное партнерство. Образование и бизнес на пути к технологическому суверенитету страны.pdf')
                           +text( 'Марейчева Лариса Ивановна', 'Руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Тульская область', 'Работа с&nbsp;детьми с&nbsp;ОВЗ при&nbsp;функционировании Центров <div class="wwnow mr0">&laquo;IT-куб&raquo;</div>. Специфика составления дополнительных образовательных программ технической направленности (для детей с&nbsp;ОВЗ)', 'ЛИ Марейчева Работа с детьми с ОВЗ при функционировании Центров «IT-куб».pdf')

                        .congress__block
                           strong.text-22.upper Взаимодействие с&nbsp;технологическими партнерами
                        .congress__list
                           +ps-1( 'Проектная сессия, часть 3.<br>Взаимодействие Центров <div class="wwnow">&laquo;IT-куб&raquo;</div> с&nbsp;технологическими партнерами', 'Суханов Даниил Артемович', 'начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                           +text( 'Горелова Анастасия Ивановна', 'руководитель комитета по&nbsp;информатизации АРПП &laquo;Отечественный софт&raquo;, руководитель программ обучения &laquo;Хаб знаний МойОфис&raquo;', 'Начинаем образовательный процесс с&nbsp;использованием отечественных программных продуктов, на&nbsp;примере решений &laquo;МойОфис&raquo;', 'АИ Горелова Начинаем образовательный процесс с использованием отечественных программных продуктов, на примере решений «МойОфис».pdf')
                           +text( 'Лямин Александр Сергеевич', 'заместитель директора ФГАНУ &laquo;ФИЦТО&raquo;', 'Современные возможности и&nbsp;цифровые инструменты для&nbsp;организации и&nbsp;управления образовательной деятельностью в&nbsp;Центрах <div class="wwnow">&laquo;IT-куб&raquo;</div>', 'АС Лямин Современные возможности и цифровые инструменты для организации и управления образовательной деятельностью в Центрах «IT-куб».pdf')
                           +text( 'Шутенко Олег Владимирович', 'вице&ndash;президент корпорации &laquo;Синергия&raquo;', 'Экосистема непрерывного IT-образования: сад&nbsp;&mdash; школа&nbsp;&mdash; университет', 'ОВ Шутенко Экосистема непрерывного IT-образования сад – школа – университет.pdf' )
                           +text( 'Шмавонян Саркис Артушевич', 'менеджер по&nbsp;работе с&nbsp;образовательными организациями ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo;', 'Информационная безопасность детей: от концепции к&nbsp;реализации', 'СА Шмавонян Информационная безопасность детей от концепции к реализации.pdf')
                           +text( 'Пикулев Александр Евгеньевич', 'руководитель образовательного направления Varwin', 'От обучения и&nbsp;хакатонов к&nbsp;реальной практике: как школьники и&nbsp;студенты участвовали в&nbsp;разработке проектов для&nbsp;реальных бизнес&ndash;заказчиков компании Varwin', 'АЕ_Пикулев_От_обучения_и_хакатонов_к_реальной_практике_как_школьники.pptx')
                           +text( 'Алексеев Игорь Владимирович', 'директор по&nbsp;развитию ООО&nbsp;&laquo;А-Реал Консалтинг&raquo;', 'Основные способы борьбы с&nbsp;киберугрозами в&nbsp;Российской Федерации', 'ИВ Алексеев Основные способы борьбы с киберугрозами в РФ.pdf')


               section( aria-label='День второй, 18 августа')
                  .congress_list__section
                     +trigger( '18', '2' )
                     .congress_list__holder
                        .congress__block
                           strong.text-22.upper Практико&ndash;ориентированная сессия для&nbsp;руководителей Центров <div class="wwnow">&laquo;IT-куб&raquo;</div>
                        .congress__list
                           +ps-3( 'Практико&ndash;ориентированная сессия и&nbsp;деловая игра (проработка кейсов) для&nbsp;руководителей Центров <div class="wwnow">&laquo;IT-куб&raquo;</div> по&nbsp;группам (3 группы)', 'Минасян Наталия Валерьевна', 'заместитель начальника Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;', 'Заика Софья Андреевна', 'руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;', 'Король Анна Александровна', 'руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                           +text( 'Щелчкова Оксана Васильевна', 'руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Удмуртская Республика', 'IT-куб: Сотрудничество с&nbsp;сущностями Нацпроекта &laquo;Образование&raquo;<br><i>(Работа с&nbsp;&laquo;Точка роста&raquo;, &laquo;Кванториум&raquo;, &laquo;Дом научной коллаборации&raquo;, проведение совместных мероприятий внутри региона, развитие сетевого взаимодействия)</i>', 'ОВ Щелчкова IT-куб Сотрудничество с сущностями Нацпроекта «Образование».pdf')
                           +text( 'Якубович Татьяна Валерьевна', 'руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Брянская область', 'IT-куб: Руководство организационно&ndash;педагогической деятельностью<br><i>(Разработка учебных программ, работа руководителя с&nbsp;коллективом)</i>', 'ТВ Якубович IT-куб Руководство организационно–педагогической деятельностью.pdf')
                           +text( 'Шефер Светлана Анатольевна', 'руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Алтайский край', 'IT-куб: Сотрудничество с&nbsp;технологическими партнерами<br><i>(Проведение охватных мероприятий в&nbsp;сотрудничестве с&nbsp;ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo;)</i>', 'СА Шефер IT-куб Сотрудничество с технологическими партнерами.pdf')
                           +text-0( 'Кешко Анна Александровна', 'руководитель Центра <div class="wwnow">&laquo;IT-куб&raquo;</div>, Чувашская Республика', 'Деловая игра. IT-куб: Управление кадрами')
                        .congress__block
                           strong.text-22.upper Подведение итогов
                        .congress__list
                           +ps-2( 'Проектная сессия,<br>Подведение итогов Всероссийского съезда руководителей Центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> &laquo;Как&nbsp;Управлять Будущим&raquo;', 'Лямин Александр Сергеевич', 'заместитель директора ФГАНУ &laquo;ФИЦТО&raquo;', 'Суханов Даниил Артемович', 'начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                           +text( 'Смирнова Варвара Андреевна', 'руководитель Тинькофф образования', 'Опыт Тинькофф в&nbsp;образовательных проектах: зачем компании работать со&nbsp;школьниками и&nbsp;студентами', 'ВА Смирнова Опыт Тинькофф в образовательных проектах зачем компании работать со школьниками и студентами.pdf')
                           +text( 'Ивашкевич Евгений Васильевич', 'ректор Центрального университета', 'Центральный университет: концепция университета нового поколения', 'ЕВ Ивашкевич Центральный университет концепция университета нового поколения.pdf')




         section( aria-label='Видео-презентация' )#videopresentation.congress__video
            .wrapper
               h1.caption.center.mb5 Видео&ndash;презентация
                  br
                  span.mr1 Центров
                  span.wwnow.ml0 &laquo;IT&ndash;куб&raquo;
               .congress_button__holder.mt7
                  a( href='./assets/data/congress/after/video/IT-cube.mp4' download='Видео-презентация Центров IT-куб' ).congress__button
                     .congress_button__inner
                        .icon-video-white.mr2
                        .congress_button__text Скачать видеоролик

               video(width='100%' height='auto' controls='controls' poster='./assets/data/congress/after/video/poster.jpg').congress_video__holder.mt3
                 source(src='./assets/data/congress/after/video/IT-cube.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                 |    Тег video не поддерживается вашим браузером



         section( aria-label='Фотогалерея' )#gallery.congress__gallery
            .wrapper
               h1.caption.center.mb5 Фотогалерея
               .congress_button__holder.mt6
                  a( href='https://vk.com/album-193270730_295740458' target='_blank' ).congress__button
                     .congress_button__inner
                        .icon-congress-vk.mr2
                        .congress_button__text Посмотреть все фотографии

            .congress_gallery__holder.mt3
               .congress__photo
                  img( src='./assets/data/congress/after/photo/gallery/1.jpg' loading="lazy")
               .congress__photo
                  img( src='./assets/data/congress/after/photo/gallery/2.jpg' loading="lazy")
               .congress__photo
                  img( src='./assets/data/congress/after/photo/gallery/3.jpg' loading="lazy")
               .congress__photo
                  img( src='./assets/data/congress/after/photo/gallery/4.jpg' loading="lazy")
               .congress__photo
                  img( src='./assets/data/congress/after/photo/gallery/5.jpg' loading="lazy")




         //section( aria-label='Видео итогов съезда' )#result.congress__results
         //   .wrapper
         //      h1.caption.center.mb5 Итоги съезда
         //
         //      .congress_results__video.mt3
         //         .result__video_ratio
         //         .result__iframe
         //            iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239040&hash=e5b88aebf6905e14   ' width='100%' height='100%' frameborder='0')
         //               p Твой браузер устарел для отображения элемента iframe



         include assets/jade/footer/footer

      include assets/jade/static/script




