doctype
html

   include assets/jade/static/__head
   +title( 'Съезд руководителей "Кубов в кубе" | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_congress
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', 'active', '', '', '' )
         include assets/jade/header/main-pages


         include assets/jade/content/congress/__navigation
         section( aria-label='Страница съезда руководителей "Кубов в кубе"' ).congress__title
            .congress__image.congress__cube
            .wrapper
               .congress_caption__holder
                  .congress__logo
                  .congress__caption
               .congress_header__holder
                  .congress_image__holder
                     .congress__image.congress__image-1
                  .congress_menu__holder
                     menu.congress_navigation__holder
                        +item( 'Программа на&nbsp;20 августа', 'program20' )
                        +item( 'Программа на&nbsp;21 августа', 'program21' )
                        +item( 'Видеопрезентация', 'videopresentation' )
                        +item( 'Итоги I Съезда', 'result' )

                        a( href='./assets/data/congress/Zayavka_na_uchastiye_vo_Vserossiyskom_syezde_rukovoditeley.zip' download target='blank').save_regulations
                           .competition__regulations_icon
                           .competition__regulations_text Заявка
                              br
                              | на&nbsp;участие


         include assets/jade/content/congress/__trigger
         include assets/jade/content/congress/__text
         include assets/jade/content/congress/__text-0
         include assets/jade/content/congress/__video
         include assets/jade/content/congress/__ps-1
         include assets/jade/content/congress/__ps-2
         include assets/jade/content/congress/__ps-3

         section( aria-label='Программа мероприятий на 20 и 21 августа' ).congress__main
            .wrapper
               h1.caption.center.mb8 Программа мероприятий



         include assets/jade/content/congress/__day
         include assets/jade/content/congress/__place
         include assets/jade/content/congress/__place2
         include assets/jade/content/congress/__event-simple
         include assets/jade/content/congress/__event-0
         include assets/jade/content/congress/__event
         include assets/jade/content/congress/__event-more
         include assets/jade/content/congress/__event-no-time
         include assets/jade/content/congress/__clock
         include assets/jade/content/congress/__clock-0
         include assets/jade/content/congress/__clock-simple
         include assets/jade/content/congress/__clock-1
         include assets/jade/content/congress/__clock-2
         include assets/jade/content/congress/__clock-3
         include assets/jade/content/congress/__break

         section( aria-label='Программа проведения съезда руководителей' ).congress__container
            .wrapper.list#program20
               section( aria-label='')
                  .congress_list__section
                     .congress__day_title
                        .congress__day
                           .congress__numb
                              h1.caption.inline 20
                              .text-22.inline   &nbsp;августа

                        a( href='https://yandex.ru/maps/-/CDcG7ZMy' target='_blank').congress__main_place
                           .meeting__pin
                           .meeting__name г.&nbsp;Челябинск
                           .meeting__address улица Труда,&nbsp;179

                        .congress__more
                           .congress_more__arrow.congress__trigger


               section( aria-label='День один' style='display: none').congress__wrapper.list__holder
                  .row.mt3
                     .block-6.mt05
                        +place2( 'Холл 1 этажа')
                     .block-18
                        +break( 'break', '09:00&nbsp;&ndash; 10:30', 'Приветственный кофе&ndash;брейк' )

                  .congress__block
                     strong.text-22.upper Открытие мероприятия, пленарное заседание
                  +clock( '10:30&nbsp;&ndash; 11:15', ' Открытие мероприятия, пленарное заседание')


                  .row
                     .block-6
                        +place( 'Galaxy Hall')
                     .block-18
                        +event-simple( '10:30&nbsp;&ndash; 10:35', 'Открытие Всероссийского съезда руководителей центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> &laquo;Как Управлять Будущим»')
                        +event( '10:30&nbsp;&ndash; 10:45', 'Литке Виталий Владимирович', 'Министр образования и&nbsp;науки Челябинской области', 'Приветственное слово, обращение к&nbsp;руководителям центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>')
                        +event( '10:45&nbsp;&ndash; 11:00', 'Горобец Андрей Валерьевич', 'директор Департамента цифровой трансформации и&nbsp;больших данных', '&laquo;Достижение &laquo;цифровой зрелости» сферы образования на&nbsp;базе единого, качественного, безопасного образовательного пространства» <b>(Стратегия цифровой трансформации образования)</b>')
                        +event( '11:00&nbsp;&ndash; 11:15', 'Пономарёва Юлия Александровна', 'директор ФГАНУ &laquo;ФИЦТО»', '&laquo;Роль центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> в&nbsp;достижении национальных целей» ')

                  .congress__block
                     strong.text-22.upper Проектная сессия
                  +clock-1( '11:15&nbsp;&ndash; 12:40 ', 'Проектная сессия &laquo;Направления развития центров <div class="wwnow">&laquo;IT-куб&raquo;</div>', 'Пономарёва Юлия Александровна', 'директор ФГАНУ &laquo;ФИЦТО&raquo;' )
                  .row.mb3
                     .block-6
                        +place( 'Galaxy Hall')
                     .block-18
                        +event( '11:15&nbsp;&ndash; 11:30', 'Есин Иван Владимирович', 'директор Фонда гуманитарных проектов', 'Включение партнёров в&nbsp;единую модель профориентации. Опыт взаимодействия с&nbsp;центрами <div class="wwnow mr0">&laquo;IT-куб&raquo;</div>')
                        +event( '11:30&nbsp;&ndash; 11:45', 'Паунов Ярослав Иванович', 'директор проектов Центра молодежных инициатив Агентства стратегических инициатив', '&laquo;Карьерный Навигатор»')
                        +event( '11:45&nbsp;&ndash; 12:00', 'Куликов Дмитрий Александрович', 'проректор по&nbsp;научной работе ФГАОУ ВО &laquo;Государственный университет просвещения»', '&laquo;Всероссийская олимпиада по&nbsp;искусственному интеллекту как форма работы с&nbsp;одарёнными детьми»')
                        +event( '12:00&nbsp;&ndash; 12:15', 'Халамов Владислав Николаевич', 'директор ГБУ ДО &laquo;Дом юношеского технического творчества», г. Челябинск', '&laquo;Роль центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> в&nbsp;развитии экономики региона')
                        +event( '12:15&nbsp;&ndash; 12:30', 'Полушкин Денис Павлович', 'руководитель Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> г.&nbsp;Магнитогорск', '&laquo;Всероссийский конкурс &laquo;Инженерные кадры России» как&nbsp;форма эффективного сотрудничества образовательных организаций с&nbsp;работодателями»')
                        +event-simple( '12:30&nbsp;&ndash; 12:40', '&laquo;Вопрос-ответ»')
                  .row
                     .block-6
                        +place2( 'Ресторан<br>1, 2 этаж')
                     .block-18
                        +break( 'diner', '12:50&nbsp;&ndash; 14:00', 'Обед' )
                  .congress__block
                     strong.text-22.upper Практико&ndash;ориентированная сессия ( группы 1-3 )
                  +clock-simple( '14:00&nbsp;&ndash; 17:00', 'Практико-ориентированная сессия &laquo;Презентация региональных практик»', 'Calipso, Astra, Sigma' )
                  .row.mb3
                     .block-6
                     .block-18
                        +event-more( '14:00&nbsp;&ndash; 15:40', 'Зал Calipso', 'Ковалев Владислав Алексеевич', 'педагог дополнительного образования Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div><br>г.&nbsp;Смоленск', 'Мастер-класс &laquo;Командообразование. Как&nbsp;собрать команду мечты из&nbsp;своих учеников»')
                        +event-notime( 'Зал Astra', 'Канова Мария Идрисовна', 'педагог дополнительного образования Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div><br>г.&nbsp;Южноуральск, Челябинская область', 'Мастер-классы &laquo;Организация проектной деятельности обучающихся»')
                        +event-notime( 'Зал Sigma', 'Мальцев Алексей Александрович', 'педагог дополнительного образования Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div><br>г.&nbsp;Сатка, Челябинская область', 'Мастер-класс &laquo;Нестандартные подходы к&nbsp;решению задач»')

                        +event-more( '15:50&nbsp;&ndash; 17:00', 'Зал Calipso', 'Денисов Дмитрий Анатольевич', 'начальник информационно&ndash;методического отдела ГБУ&nbsp;ДО &laquo;Дом юношеского технического творчества», г.&nbsp;Челябинск', '&laquo;Использование малозатратных форм при&nbsp;организации обучениях летних смен в&nbsp;центрах цифрового образования детей &laquo;IT-куб')
                        +event-notime( 'Зал Astra', 'Малько Ирина Александровна', 'руководитель Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> г.&nbsp;Липецк', '&laquo;Подбор, сохранение и&nbsp;развитие кадров в&nbsp;центрах цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>')
                        +event-notime( 'Зал Sigma', 'Милованова Оксана Владимировна', 'руководитель Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> г.&nbsp;Калуга', '&laquo;Возможности профориентационной работы центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>')


                  .congress__block
                     strong.text-22.upper стратегическая сессия (группы 4-6 )
                  +clock-simple( '14:00&nbsp;&ndash; 17:00', 'Стратегическая сессия &laquo;Поиск эффективных управленческих решений» (решение кейсов)', 'Galaxy 1, Galaxy 2, Galaxy 3')
                  .row.mb3
                     .block-6
                     .block-18


                  .congress__block
                     strong.text-22.upper Экскурсионная программа
                  .row
                     .block-6
                     .block-18
                        +break( 'photo', '17:00&nbsp;&ndash; 19:00', 'Экскурсионная программа по&nbsp;достопримечательностям Челябинска' )




            .wrapper.list#program21
               section( aria-label='').mb3.mt5
                  .congress_list__section
                     .congress__day_title
                        .congress__day
                           .congress__numb
                              h1.caption.inline 21
                              .text-22.inline   &nbsp;августа

                        a( href='https://yandex.ru/maps/-/CDcG7ZMy' target='_blank').congress__main_place
                           .meeting__pin
                           .meeting__name отель Radisson Blu
                           .meeting__address улица Труда, 179
                        .congress__more.trigger
                           .congress_more__arrow.congress__trigger


                  section( aria-label='День два' style='display: none').congress__wrapper.spec.mb4.list__holder
                     .row.mt3
                        .block-6.mt05
                           +place2( 'Холл 1 этажа')
                        .block-18
                           +break( 'break', '09:00&nbsp;&ndash; 10:00', 'Приветственный кофе&ndash;брейк' )

                     .congress__block
                        strong.text-22.upper Стратегическая сессия ( группы 1-3 )
                     +clock-simple( '10:00&nbsp;&ndash; 13:00', 'Практико-ориентированная сессия &laquo;Презентация региональных практик»', 'Galaxy 1, Galaxy 2, Galaxy 3')
                     .row.mb3
                        .block-6
                        .block-18


                     .congress__block
                        strong.text-22.upper Практико&ndash;ориентированная сессия ( группы 4-6 )
                     +clock-simple( '10:00&nbsp;&ndash; 13:00', 'Практико-ориентированная сессия &laquo;Презентация региональных практик»', 'Calipso, Astra, Sigma')
                     .row.mb3
                        .block-6
                        .block-18
                           +event-more( '10:00&nbsp;&ndash; 11:40', 'Зал Calipso', 'Ковалев Владислав Алексеевич', 'педагог дополнительного образования Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div><br>г.&nbsp;Смоленск', 'Мастер-класс &laquo;Командообразование. Как&nbsp;собрать команду мечты из&nbsp;своих учеников»')
                           +event-notime( 'Зал Astra', 'Канова Мария Идрисовна', 'педагог дополнительного образования Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div><br>г.&nbsp;Южноуральск, Челябинская область', 'Мастер-классы &laquo;Организация проектной деятельности обучающихся»')
                           +event-notime( 'Зал Sigma', 'Мальцев Алексей Александрович', 'педагог дополнительного образования Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div><br>г.&nbsp;Сатка, Челябинская область', 'Мастер-класс &laquo;Нестандартные подходы к&nbsp;решению задач»')

                           +event( '11:50&nbsp;&ndash; 13:00', 'Зал Calipso', 'Денисов Дмитрий Анатольевич', 'начальник информационно-методического отдела ГБУ&nbsp;ДО &laquo;Дом юношеского технического творчества», г.&nbsp;Челябинск', '&laquo;Использование малозатратных форм при&nbsp;организации обучениях летних смен в&nbsp;центрах цифрового образования детей &laquo;IT-куб')
                           +event-notime( 'Зал Astra', 'Малько Ирина Александровна', 'руководитель Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> г.&nbsp;Липецк', '&laquo;Подбор, сохранение и&nbsp;развитие кадров в&nbsp;центрах цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>')
                           +event-notime( 'Зал Sigma', 'Милованова Оксана Владимировна', 'руководитель Центра цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> г.&nbsp;Калуга', '&laquo;Возможности профориентационной работы центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div>')


                     .row
                        .block-6
                           +place2( 'Ресторан<br>1,2 этаж')
                        .block-18
                           +break( 'diner', '13:00&nbsp;&ndash; 14:00', 'Обед' )

                     .congress__block
                        strong.text-22.upper Проектная сессия
                     +clock-1( '14:00&nbsp;&ndash; 16:00', '&laquo;Модели выстраивания сотрудничества центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> с&nbsp;технологическими партнёрами&raquo;', 'Шумилов Алексей Сергеевич', 'директор Центра реализации проектов и&nbsp;научной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                     .row.mb3
                        .block-6
                           +place( 'Galaxy Hall')
                        .block-18
                           +event( '14:00&nbsp;&ndash; 14:15', 'Пикулев Александр Евгеньевич', 'руководитель образовательного направления Varwin, ООО&nbsp;&laquo;3Д Инновации&raquo;', '&laquo;Модели сетевого взаимодействия с&nbsp;технологическим партнёром: от&nbsp;мастер-классов и&nbsp;конференций до&nbsp;подготовки детей к&nbsp;НТО Junior&raquo; ')
                           +event( '14:15&nbsp;&ndash; 14:30', 'Елина Яна Анатольевна', 'координатор образовательных программ, Т-Банк', '&laquo;Форматы продуктивного сотрудничества Т-Образования и&nbsp;центров IT-куб: успешный опыт, перспективы сотрудничества&raquo;')
                           +event( '14:30&nbsp;&ndash; 14:45', 'Шахов Александр Дмитриевич', 'академический лидер направления разработки, Центральный университет', '&laquo;Почему важно уметь задавать вопросы в&nbsp;эпоху генерации ответов?&raquo;')
                           +event( '14:45&nbsp;&ndash; 15:00', 'Хорошилов Евгений Владимирович', 'директор проектного офиса цифровизации образования ПАО&nbsp;&laquo;Ростелеком&raquo;', '&laquo;Ростелеком-Лицей как&nbsp;образовательный инструмент для&nbsp;центров <div class="wwnow">&laquo;IT-куб&raquo;</div>')
                           +event( '15:00&nbsp;&ndash; 15:15', 'Черникина Юлия Ильинична', 'руководитель образовательного направления компании &laquo;Киберпротект&raquo;', '&laquo;От&nbsp;цифровой гигиены к&nbsp;передовым инструментам защиты данных&nbsp;&mdash; бесплатные образовательные программы компании Киберпротект для&nbsp;педагогов центров <div class="wwnow">&laquo;IT-куб&raquo;</div> и&nbsp;СПО&raquo;')
                           +event( '15:15&nbsp;&ndash; 15:30', 'Шмавонян Саркис Артушевич', 'ведущий менеджер по&nbsp;работе с&nbsp;образовательными организациями компании &laquo;Киберпротект&raquo;', '&laquo;Квиз &laquo;Киберзащитник&raquo; для&nbsp;учащихся IT-кубов интерактивная игра для&nbsp;обучения цифровой гигиене и&nbsp;основам информационной безопасности&raquo;')

                     .congress__block
                        strong.text-22.upper Закрытие мероприятия
                     +clock-0( '15:30&nbsp;&ndash; 16:00', 'Закрытие мероприятия. Подведение итогов Всероссийского съезда руководителей Центров цифрового образования детей <div class="wwnow">&laquo;IT-куб&raquo;</div> &laquo;Как Управлять Будущим&raquo;')
                     .row.mb3
                        .block-6
                           +place( 'Galaxy Hall')
                        .block-18


         section( aria-label='Видео-презентация' )#videopresentation.congress__video
            .wrapper
               h1.caption.center.mb5 Видеопрезентация
                  br
                  span.mr1 центров
                  span.wwnow.ml0 &laquo;IT&ndash;куб&raquo;
               .congress_button__holder.mt7
                  a( href='./assets/data/congress/after/video/IT-cube.mp4' download='Видео-презентация Центров IT-куб' ).congress__button
                     .congress_button__inner
                        .icon-video-white.mr2
                        .congress_button__text Скачать видеоролик

               video(width='100%' height='auto' controls='controls' poster='./assets/data/congress/after/video/poster24.jpg').congress_video__holder.mt3
                  source(src='./assets/data/congress/after/video/IT-cube.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                  |    Тег video не поддерживается вашим браузером



         section( aria-label='Видео итогов съезда' )#result.congress__results
            .wrapper
               h1.caption.center.mb5 Итоги I Съезда

               .video_relative
                  .video_ratio
                  .iframe_holder
                     iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239062&hash=a2f2e19fe1da2a74' width='100%' height='100%' frameborder='0')
                        p Твой браузер устарел для отображения элемента iframe

         include assets/jade/footer/footer

      include assets/jade/static/script




