doctype
html

   include assets/jade/static/__head
   +title( 'Съезд руководителей "Кубов в кубе" | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_congress
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         section( aria-label='Страница съезда руководителей "Кубов в кубе"' ).congress__title.mb5
            .wrapper
               .congress__logo
               .congress__caption
         include assets/jade/content/congress/__day
         include assets/jade/content/congress/__place
         include assets/jade/content/congress/__place2
         include assets/jade/content/congress/__event-simple
         include assets/jade/content/congress/__event-0
         include assets/jade/content/congress/__event
         include assets/jade/content/congress/__clock
         include assets/jade/content/congress/__clock-0
         include assets/jade/content/congress/__clock-1
         include assets/jade/content/congress/__clock-2
         include assets/jade/content/congress/__clock-3
         include assets/jade/content/congress/__break

         section( aria-label='Программа проведения съезда руководителей' ).congress__container
            .wrapper
               section( aria-label='День заезда' ).congress__wrapper.mb4
                  +day( '16', 'День заезда' )
                  .congress__block
                     strong.text-22 Заезд участников, встреча в&nbsp;Аэропорту/ЖД вокзале, заселение в&nbsp;отель

               section( aria-label='День один' ).congress__wrapper.mb4
                  +day( '17', 'День 1' )
                  .congress__block
                     strong.text-22.upper Торжественное открытие мероприятия, секция государственной образовательной политики

                  .row
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event-simple( '09:30&nbsp;&ndash; 10:30', 'Регистрация участников, приветственный кофе&ndash;брейк')
                        +event-simple( '10:30&nbsp;&ndash; 10:40', 'Открытие мероприятия')
                        +event( '10:40&nbsp;&ndash; 10:45', 'Кравцов Сергей Сергеевич', 'Министр просвещения Российской Федерации', 'Обращение Министра просвещения Российской Федерации к&nbsp;руководителям Центров цифрового образования детей &laquo;IT-куб&raquo;')
                        +event( '10:45&nbsp;&ndash; 10:50', 'Райдер Алексей Владимирович', 'заместитель Губернатора Тюменской области', 'Приветственное слово, обращение к&nbsp;руководителям Центров цифрового образования детей &laquo;IT-куб&raquo;')
                        +event( '10:50&nbsp;&ndash; 11:05', 'Руденок Мария Алексеевна', 'директор Департамента стратегии, программной и&nbsp;проектной деятельности Минпросвещения России', 'Роль Центров &laquo;IT-куб&raquo; в&nbsp;экосистеме Национального проекта &laquo;Образование&raquo;')
                        +event( '11:05&nbsp;&ndash; 11:25', 'Кожевников Сергей Михайлович', 'директор ФГАНУ &laquo;ФИЦТО&raquo;', 'Центры &laquo;IT-куб&raquo; как драйвер в&nbsp;технологическом развитии регионов ')

                  .congress__block
                     strong.text-22.upper Сессия о&nbsp;современных инструментах и&nbsp;возможностях управления деятельностью Центров &laquo;IT-куб&raquo; и&nbsp;мерах, направленных на&nbsp;развитие Центров
                  +clock-1( '11:30&nbsp;&ndash; 12:35', 'Проектная сессия, часть 1.<br>Направления развития и&nbsp;меры поддержки Центров &laquo;IT-куб&raquo;', 'Кожевников Сергей Михайлович', 'директор ФГАНУ &laquo;ФИЦТО&raquo;' )
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '11:30&nbsp;&ndash; 11:45', 'Пономарева Юлия Александровна', 'генеральный директор ФГАУ &laquo;Центр просветительских инициатив Министерства просвещения Российской Федерации&raquo;', '3 столпа нацпроекта &laquo;Образование&raquo;: IT-куб, Кванториум, Точка роста')
                        +event( '11:45&nbsp;&ndash; 12:15', 'Суханов Даниил Артемович', 'начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;', 'Меры поддержки Центров &laquo;IT-куб&raquo; со&nbsp;стороны Федерального оператора в&nbsp;2023 году')
                        +event( '12:15&nbsp;&ndash; 12:35', 'Вайно Александр Антонович', 'руководитель центра молодежных инициатив Агентства стратегических инициатив', 'Инфраструктура мер поддержки Агентства стратегических инициатив')
                  .row
                     .block-6
                        +place2( 'Тюменский технопарк, 2 этаж')
                     .block-18
                        +break( 'diner', '12:45&nbsp;&ndash; 14:00', 'Обед' )
                  .congress__block
                     strong.text-22.upper Представление лучших региональных практик
                  +clock-1( '14:00&nbsp;&ndash; 15:00', 'Проектная сессия, часть 2.<br>Успешная деятельность образовательных организаций на&nbsp;примере лучших региональных практик', 'Кожевников Сергей Михайлович', 'директор ФГАНУ &laquo;ФИЦТО&raquo;' )
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '14:00&nbsp;&ndash; 14:15', 'Горковец Дина Николаевна', 'директор Департамента образования и&nbsp;науки Тюменской области', 'Развитие инженерного образования в&nbsp;Тюменской области')
                        +event( '14:15&nbsp;&ndash; 14:30', 'Косолапов Владимир Викторович', 'руководитель Центра &laquo;IT-куб&raquo;, Нижегородская область', 'Ментор&ndash;сессии&nbsp;&mdash; как инструмент формирования единой экосистемы образования и&nbsp;развития образовательной инфраструктуры')
                        +event( '14:30&nbsp;&ndash; 14:45', 'Кешко Анна Александровна', 'Руководитель Центра &laquo;IT-куб&raquo;, Чувашская Республика', 'Частно&ndash;государственное партнерство. Образование и&nbsp;бизнес на&nbsp;пути к&nbsp;технологическому суверенитету страны')
                        +event( '14:45&nbsp;&ndash; 15:00', 'Марейчева Лариса Ивановна', 'Руководитель Центра &laquo;IT-куб&raquo;, Тульская область', 'Работа с&nbsp;детьми с&nbsp;ОВЗ при&nbsp;функционировании Центров &laquo;IT-куб&raquo;. Специфика составления дополнительных образовательных программ технической направленности (для детей с&nbsp;ОВЗ)')
                  .row
                     .block-6
                        +place2( 'Тюменский технопарк')
                     .block-18
                        +break( 'light', '15:00&nbsp;&ndash; 15:30', 'Перерыв' )
                  .congress__block
                     strong.text-22.upper Взаимодействие с&nbsp;технологическими партнерами
                  +clock-1( '15:30&nbsp;&ndash; 17:00', 'Проектная сессия, часть 3.<br>Взаимодействие Центров &laquo;IT-куб&raquo; с&nbsp;технологическими партнерами', 'Суханов Даниил Артемович', 'начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '15:30&nbsp;&ndash; 15:45', 'Горелова Анастасия Ивановна', 'руководитель комитета по&nbsp;информатизации АРПП &laquo;Отечественный софт&raquo;, руководитель программ обучения &laquo;Хаб знаний МойОфис&raquo;', 'Начинаем образовательный процесс с&nbsp;использованием отечественных программных продуктов, на&nbsp;примере решений &laquo;МойОфис&raquo;')
                        +event( '15:45&nbsp;&ndash; 16:00', 'Лямин Александр Сергеевич', 'заместитель директора ФГАНУ &laquo;ФИЦТО&raquo;', 'Современные возможности и&nbsp;цифровые инструменты для&nbsp;организации и&nbsp;управления образовательной деятельностью в&nbsp;Центрах &laquo;IT-куб&raquo;')
                        +event( '16:00&nbsp;&ndash; 16:15', 'Шмавонян Саркис Артушевич', 'менеджер по&nbsp;работе с&nbsp;образовательными организациями ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo;', 'Информационная безопасность детей: от концепции к&nbsp;реализации')
                        +event( '16:15&nbsp;&ndash; 16:30', 'Пикулев Александр Евгеньевич', 'руководитель образовательного направления Varwin', 'От обучения и&nbsp;хакатонов к&nbsp;реальной практике: как школьники и&nbsp;студенты участвовали в&nbsp;разработке проектов для&nbsp;реальных бизнес&ndash;заказчиков компании Varwin')
                        +event( '16:30&nbsp;&ndash; 16:45', 'Алексеев Игорь Владимирович', 'директор по&nbsp;развитию ООО&nbsp;&laquo;А-Реал Консалтинг&raquo;', 'Основные способы борьбы с&nbsp;киберугрозами в&nbsp;Российской Федерации')
                  .row
                     .block-6
                        +place2( 'Тюменский технопарк, 2 этаж')
                     .block-18
                        +break( 'break', '17:00&nbsp;&ndash; 17:30', 'Кофе&ndash;брейк' )
                  .congress__block
                     strong.text-22.upper Подведение итогов первого дня
                  +clock-0( '17:30&nbsp;&ndash; 17:45', 'Подведение итогов первого дня Всероссийского съезда руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Как Управлять Будущим&raquo;')
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                  .row
                     .block-6
                        +place2( 'Экскурсионная программа')
                     .block-18
                        +break( 'photo', '18:00', 'Экскурсионная программа по&nbsp;достопримечательностям Тюмени' )


               section( aria-label='День два' ).congress__wrapper.spec.mb4
                  +day( '18', 'День 2' )
                  .congress__block
                     strong.text-22.upper Торжественное открытие Центра &laquo;IT-куб&raquo; Тюменской области
                  +clock( '10:00&nbsp;&ndash; 11:30', 'Приветственное слово, поздравления с&nbsp;открытием первого Центра в&nbsp;Тюменской области', 'Только для представителей Минпросвещения России, Тюменской области, ФГАНУ &laquo;ФИЦТО&raquo;, ФГАУ&nbsp;ЦПИ')
                  .row.mb3
                     .block-6
                        +place( 'МБОУ СОШ № 65')
                     .block-18

                  .row
                     .block-6
                        +place2( 'Экскурсионная программа')
                     .block-18
                        +break( 'photo', '11:30', 'Экскурсия по&nbsp;открываемому Центру &laquo;IT-куб&raquo;' )
                  .congress__block
                     strong.text-22.upper Практико&ndash;ориентированная сессия для&nbsp;руководителей Центров &laquo;IT-куб&raquo;
                  +clock-3( '09:00&nbsp;&ndash; 12:00', 'Практико&ndash;ориентированная сессия и&nbsp;деловая игра (проработка кейсов) для&nbsp;руководителей Центров &laquo;IT-куб&raquo; по&nbsp;группам (3 группы)', 'Минасян Наталия Валерьевна', 'заместитель начальника Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;', 'Заика Софья Андреевна', 'руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;', 'Король Анна Александровна', 'руководитель проектов Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                  .row.mb3
                     .block-6
                        +place( 'Конференц&ndash;зал отеля VOSTOK')
                     .block-18
                        +event( '09:00&nbsp;&ndash; 09:40', 'Щелчкова Оксана Васильевна', 'руководитель Центра &laquo;IT-куб&raquo;, Удмуртская Республика', 'IT-куб: Сотрудничество с&nbsp;сущностями Нацпроекта &laquo;Образование&raquo;<br><i>(Работа с&nbsp;&laquo;Точка роста&raquo;, &laquo;Кванториум&raquo;, &laquo;Дом научной коллаборации&raquo;, проведение совместных мероприятий внутри региона, развитие сетевого взаимодействия)</i>')
                        +event( '09:50&nbsp;&ndash; 10:30', 'Якубович Татьяна Валерьевна', 'руководитель Центра &laquo;IT-куб&raquo;, Брянская область', 'IT-куб: Руководство организационно&ndash;педагогической деятельностью<br><i>(Разработка учебных программ, работа руководителя с&nbsp;коллективом)</i>')
                        +event( '10:40&nbsp;&ndash; 11:20', 'Шефер Светлана Анатольевна', 'руководитель Центра &laquo;IT-куб&raquo;, Алтайский край', 'IT-куб: Сотрудничество с&nbsp;технологическими партнерами<br><i>(Проведение охватных мероприятий в&nbsp;сотрудничестве с&nbsp;ООО&nbsp;&laquo;КИБЕРПРОТЕКТ&raquo;)</i>')
                        +event( '11:30&nbsp;&ndash; 12:00', 'Кешко Анна Александровна', 'руководитель Центра &laquo;IT-куб&raquo;, Чувашская Республика', 'Деловая игра. IT-куб: Управление кадрами')
                  .row
                     .block-6
                        +place2( 'Отель VOSTOK, Ресторан')
                     .block-18
                        +break( 'diner', '12:00&nbsp;&ndash; 13:30', 'Обед' )
                        +break( 'car', '13:30&nbsp;&ndash; 14:15', 'Трансфер в&nbsp;Музейный комплекс им. И.Я.&nbsp;Словцова')
                  .congress__block
                     strong.text-22.upper Подведение итогов
                  +clock-2( '14:30&nbsp;&ndash; 16:00', 'Проектная сессия,<br>Подведение итогов Всероссийского съезда руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; &laquo;Как Управлять Будущим&raquo;', 'Лямин Александр Сергеевич', 'заместитель директора ФГАНУ &laquo;ФИЦТО&raquo;', 'Суханов Даниил Артемович', 'начальник Центра программной и&nbsp;проектной деятельности ФГАНУ &laquo;ФИЦТО&raquo;')
                  .row.mb3
                     .block-6
                        +place( 'Актовый зал Музейного комплекса им. И.Я.&nbsp;Словцова')
                     .block-18
                        +event( '14:30&nbsp;&ndash; 14:50', 'Смирнова Варвара Андреевна', 'руководитель Тинькофф образования', 'Опыт Тинькофф в&nbsp;образовательных проектах: зачем компании работать со&nbsp;школьниками и&nbsp;студента')
                        +event( '14:50&nbsp;&ndash; 15:10', 'Ивашкевич Евгений Васильевич', 'ректор Центрального университета', 'Центральный университет: концепция университета нового поколения')
                        +event-simple( '15:10&nbsp;&ndash; 15:20', 'Торжественное подписание соглашения о&nbsp;сотрудничестве между ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;АНО&nbsp;ВО &laquo;Центральный университет&raquo; в&nbsp;рамках развития и&nbsp;поддержки деятельности Центров цифрового образования детей &laquo;IT-куб&raquo;')
                        +event-simple( '15:20', 'Подведение итогов Всероссийского съезда руководителей Центров цифрового образования детей &laquo;IT-куб&raquo; <i>&laquo;Как Управлять Будущим&raquo;</i>')
                  .row
                     .block-6.mt1
                        +place2( 'Музейный комплекс')
                     .block-18
                        +break( 'break', '16:00&nbsp;&ndash; 17:00', 'Торжественный завершающий кофе&ndash;брейк' )
                        +break( 'photo', '17:00&nbsp;&ndash; 18:00', 'Экскурсионная программа по&nbsp;Музейному комплексу им. И.Я.&nbsp;Словцова' )

               section( aria-label='День отъезда' ).congress__wrapper.spec2.mb4
                  +day( '19', 'День отъезда' )
                  .congress__block
                     strong.text-25 Отъезд участников

         include assets/jade/footer/footer

      include assets/jade/static/script




