doctype
html

   include assets/jade/static/__head
   +title( 'Съезд руководителей "Кубов в кубе" | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_congress
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', 'active', '', '' )
         include assets/jade/header/main-pages

         include assets/jade/content/congress/__navigation
         section( aria-label='Страница съезда руководителей "Кубов в кубе"' ).congress__title
            .congress__image.congress__cube
            .wrapper
               .congress_caption__holder
                  .congress__logo
                  .congress__caption
               .congress_header__holder
                  .congress_image__holder
                     .congress__image.congress__image-1
                  .congress_menu__holder
                     menu.congress_navigation__holder
                        +item( 'Программа', 'program' )
                        +item( 'Видеопрезентация', 'videopresentation' )
                        +item( 'Итоги I Съезда', 'result' )

                        a( href='./assets/data/congress/Zayavka_na_uchastiye_vo_Vserossiyskom_syezde_rukovoditeley.zip' download target='blank').save_regulations
                           .competition__regulations_icon
                           .competition__regulations_text Заявка
                              br
                              | на&nbsp;участие


         include assets/jade/content/congress/__trigger
         include assets/jade/content/congress/__text
         include assets/jade/content/congress/__text-0
         include assets/jade/content/congress/__video
         include assets/jade/content/congress/__ps-1
         include assets/jade/content/congress/__ps-2
         include assets/jade/content/congress/__ps-3
         section( aria-label='Программа прошедших мероприятий' )#program.congress__main
            .wrapper
               h1.caption.center.mb3 Программа мероприятий

               section( aria-label='').mb3
                  .congress_list__section
                        .congress__trigger
                           .congress__day
                              .congress__numb
                                 h1.caption.inline 20-21
                                 .text-22.inline   &nbsp;августа
                           .congress__more
                              .congress_more__text список выступлений
                              .congress_more__arrow



         section( aria-label='Видео-презентация' )#videopresentation.congress__video
            .wrapper
               h1.caption.center.mb5 Видеопрезентация
                  br
                  span.mr1 Центров
                  span.wwnow.ml0 &laquo;IT&ndash;куб&raquo;
               .congress_button__holder.mt7
                  a( href='./assets/data/congress/after/video/IT-cube.mp4' download='Видео-презентация Центров IT-куб' ).congress__button
                     .congress_button__inner
                        .icon-video-white.mr2
                        .congress_button__text Скачать видеоролик

               video(width='100%' height='auto' controls='controls' poster='./assets/data/congress/after/video/poster24.jpg').congress_video__holder.mt3
                 source(src='./assets/data/congress/after/video/IT-cube.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                 |    Тег video не поддерживается вашим браузером



         section( aria-label='Видео итогов съезда' )#result.congress__results
            .wrapper
               h1.caption.center.mb5 Итоги I Съезда

               .video_relative
                  .video_ratio
                  .iframe_holder
                     iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239062&hash=a2f2e19fe1da2a74' width='100%' height='100%' frameborder='0')
                        p Твой браузер устарел для отображения элемента iframe

         include assets/jade/footer/footer

      include assets/jade/static/script




