doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      include assets/jade/static/metrika
      #container_congress
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         section( aria-label='Страница съезда руководителей "Кубов в кубе"' ).congress__container.mt8.mb5
            .wrapper


         include assets/jade/footer/footer

      include assets/jade/static/script




