doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      include assets/jade/static/metrika
      #container_congress
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         section( aria-label='Страница съезда руководителей "Кубов в кубе"' ).congress__title.mb5
            .wrapper
               .congress__logo
               .congress__caption
         include assets/jade/content/congress/__day
         include assets/jade/content/congress/__place
         include assets/jade/content/congress/__place2
         include assets/jade/content/congress/__event-simple
         include assets/jade/content/congress/__event-0
         include assets/jade/content/congress/__event
         include assets/jade/content/congress/__clock
         include assets/jade/content/congress/__clock-0
         include assets/jade/content/congress/__clock-1
         include assets/jade/content/congress/__clock-2
         include assets/jade/content/congress/__clock-3
         include assets/jade/content/congress/__break
         section( aria-label='Программа проведения съезда руководителей' ).congress__container
            .wrapper
               section( aria-label='День заезда' ).congress__wrapper.mb4
                  +day( '16', 'День заезда' )
                  .congress__block
                     strong.text-22 Заезд участников, встреча в Аэропорту/ЖД вокзале, заселение в отель

               section( aria-label='День один' ).congress__wrapper.mb4
                  +day( '17', 'День 1' )
                  .congress__block
                     strong.text-22.upper Торжественное открытие мероприятия, секция государственной образовательной политики

                  .row
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event-simple( '09:30 - 10:30', 'Регистрация участников, приветственный кофе-брейк')
                        +event-simple( '10:30 - 10:40', 'Открытие мероприятия')
                        +event( '10:40 - 10:45', 'Кравцов Сергей Сергеевич', 'Министр просвещения Российской Федерации', 'Обращение Министра просвещения Российской Федерации к руководителям Центров цифрового образования детей «IT-куб»')
                        +event( '10:45 - 10:50', 'Райдер Алексей Владимирович', 'заместитель Губернатора Тюменской области', 'Приветственное слово, обращение к руководителям Центров цифрового образования детей «IT-куб»')
                        +event( '10:50 - 11:05', 'Руденок Мария Алексеевна', 'директор Департамента стратегии, программной и проектной деятельности Минпросвещения России', 'Роль Центров «IT-куб» в экосистеме Национального проекта «Образование»')
                        +event( '11:05 - 11:25', 'Кожевников Сергей Михайлович', 'директор ФГАНУ «ФИЦТО»', 'Центры «IT-куб» как драйвер в технологическом развитии регионов ')

                  .congress__block
                     strong.text-22.upper Сессия о современных инструментах и возможностях управления деятельностью Центров «IT-куб» и мерах, направленных на развитие Центров
                  +clock-1( '11:30 - 12:45', 'Проектная сессия, часть 1.<br>Направления развития и меры поддержки Центров «IT-куб»', 'Кожевников Сергей Михайлович', 'директор ФГАНУ «ФИЦТО»' )
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '11:30 - 11:45', 'Пономарева Юлия Александровна', 'генеральный директор ФГАУ «Центр просветительских инициатив Министерства просвещения Российской Федерации»', '3 столпа нацпроекта «Образование»: IT-куб, Кванториум, Точка роста')
                        +event( '11:45 - 12:05', 'Суханов Даниил Артемович', 'начальник Центра программной и проектной деятельности ФГАНУ «ФИЦТО»', 'Меры поддержки Центров «IT-куб» со стороны Федерального оператора в 2023 году')
                        +event( '12:05 -12:20', 'Есин Иван Владимирович', 'управляющий директор Фонда гуманитарных проектов', 'Тема уточняется')
                        +event( '12:20 - 12:40', 'Вайно Александр Антонович', 'руководитель центра молодежных инициатив Агентства стратегических инициатив', 'Инфраструктура мер поддержки Агентства стратегических инициатив')
                  .row
                     .block-6
                        +place2( 'Тюменский технопарк, 2 этаж')
                     .block-18
                        +break( 'diner', '12:45 - 14:00', 'Обед' )
                  .congress__block
                     strong.text-22.upper Представление лучших региональных практик
                  +clock-1( '14:00 - 15:00', 'Проектная сессия, часть 2.<br>Успешная деятельность образовательных организаций на примере лучших региональных практик', 'Кожевников Сергей Михайлович', 'директор ФГАНУ «ФИЦТО»' )
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '14:00-14:15', 'Горковец Дина Николаевна', 'директор Департамента образования и науки Тюменской области', 'Развитие инженерного образования в Тюменской области')
                        +event( '14:15-14:30', 'Косолапов Владимир Викторович', 'руководитель Центра «IT-куб», Нижегородская область', 'Ментор-сессии - как инструмент формирования единой экосистемы образования и развития образовательной инфраструктуры')
                        +event( '14:30-14:45', 'Кешко Анна Александровна', 'Руководитель Центра «IT-куб», Чувашская Республика', 'Частно-государственное партнерство. Образование и бизнес на пути к технологическому суверенитету страны')
                        +event( '14:45-15:00', 'Марейчева Лариса Ивановна', 'Руководитель Центра «IT-куб», Тульская область', 'Работа с детьми с ОВЗ при функционировании Центров «IT-куб». Специфика составления дополнительных образовательных программ технической направленности (для детей с ОВЗ)')
                  .row
                     .block-6
                        +place2( 'Тюменский технопарк')
                     .block-18
                        +break( 'light', '15:00 - 15:30', 'Перерыв' )
                  .congress__block
                     strong.text-22.upper Взаимодействие с технологическими партнерами
                  +clock-1( '15:30 - 17:00', 'Проектная сессия, часть 3.<br>Взаимодействие Центров «IT-куб» с технологическими партнерами', 'Суханов Даниил Артемович', 'начальник Центра программной и проектной деятельности ФГАНУ «ФИЦТО»')
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '15:30 - 15:45', 'Горелова Анастасия Ивановна', 'руководитель комитета по информатизации АРПП «Отечественный софт», руководитель программ обучения «Хаб знаний МойОфис»', 'Начинаем образовательный процесс с использованием отечественных программных продуктов, на примере решений «МойОфис»')
                        +event( '15:45 - 16:00', 'Лямин Александр Сергеевич', 'заместитель директора ФГАНУ «ФИЦТО»', 'Современные возможности и цифровые инструменты для организации и управления образовательной деятельностью в Центрах «IT-куб»')
                        +event( '16:00 - 16:15', 'Шутенко Олег Владимирович', 'вице-президент корпорации «Синергия»', 'Экосистема непрерывного IT-образования: сад – школа – университет ')
                        +event( '16:15 - 16:30', 'Шмавонян Саркис Артушевич', 'Представитель ООО «КИБЕРПРОТЕКТ»', 'Информационная безопасность детей: от концепции к реализации')
                        +event( '16:30 - 16:45', 'Пикулев Александр Евгеньевич', 'руководитель образовательного направления Varwin', 'От обучения и хакатонов к реальной практике: как школьники и студенты участвовали в разработке проектов для реальных бизнес-заказчиков компании Varwin')
                        +event( '16:45 – 17:00', 'Алексеев Игорь Владимирович', 'директор по развитию ООО «А-Реал Консалтинг»', 'Основные способы борьбы с киберугрозами в Российской Федерации')
                  .row
                     .block-6
                        +place2( 'Тюменский технопарк, 2 этаж')
                     .block-18
                        +break( 'break', '17:00 - 17:30', 'Кофе-брейк' )
                  .congress__block
                     strong.text-22.upper Подведение итогов первого дня
                  +clock-0( '17:30 - 17:45', 'Подведение итогов первого дня Всероссийского съезда руководителей Центров цифрового образования детей «IT-куб» «Как Управлять Будущим»')
                  .row.mb3
                     .block-6
                        +place( 'Тюменский технопарк, Атриум')
                     .block-18
                        +event( '17:30-17:45', 'Руденок Мария Алексеевна', 'директор Департамента стратегии, программной и проектной деятельности Минпросвещения России', '')
                        +event-0( 'Кожевников Сергей Михайлович', 'директор ФГАНУ «ФИЦТО»')
                        +event-0( 'Горковец Дина Николаевна', 'директор Департамента образования и науки Тюменской области')
                  .row
                     .block-6
                        +place2( 'Экскурсионная программа')
                     .block-18
                        +break( 'photo', '18:00', 'Экскурсионная программа по достопримечательностям Тюмени' )


               section( aria-label='День два' ).congress__wrapper.spec.mb4
                  +day( '18', 'День 2' )
                  .congress__block
                     strong.text-22.upper Торжественное открытие Центра «IT-куб» Тюменской области
                  +clock( '10:00-11:30', 'Приветственное слово, поздравления с открытием первого Центра в Тюменской области', 'участвуют представители Минпросвещения России, Тюменской области, ФГАНУ «ФИЦТО», ФГАУ ЦПИ')
                  .row.mb3
                     .block-6
                        +place( 'МБОУ СОШ № 65')
                     .block-18
                        +event( '10:00-11:30', 'Руденок Мария Алексеевна', 'директор Департамента стратегии, программной и проектной деятельности Минпросвещения России', '')
                        +event-0( 'Горковец Дина Николаевна', 'директор Департамента образования и науки Тюменской области')
                        +event-0( 'Пономарева Юлия Александровна', 'генеральный директор ФГАУ «Центр просветительских инициатив Министерства просвещения Российской Федерации»')
                        +event-0( 'Кожевников Сергей Михайлович', 'директор ФГАНУ «ФИЦТО»')
                  .row
                     .block-6
                        +place2( 'Экскурсионная программа')
                     .block-18
                        +break( 'photo', '', 'Экскурсия по открываемому Центру «IT-куб»' )
                  .congress__block
                     strong.text-22.upper Практико-ориентированная сессия для руководителей Центров «IT-куб»
                  +clock-3( '09:00-12:00', 'Практико-ориентированная сессия и деловая игра (проработка кейсов) для руководителей Центров «IT-куб» по группам (3 группы)', 'Минасян Наталия Валерьевна', 'заместитель начальника Центра программной и проектной деятельности ФГАНУ «ФИЦТО»', 'Заика Софья Андреевна', 'руководитель проектов Центра программной и проектной деятельности ФГАНУ «ФИЦТО»', 'Король Анна Александровна', 'руководитель проектов Центра программной и проектной деятельности ФГАНУ «ФИЦТО»')
                  .row.mb3
                     .block-6
                        +place( 'Конференц-зал отеля VOSTOK')
                     .block-18
                        +event( '09:00 - 09:40', 'Щелчкова Оксана Васильевна', 'руководитель Центра «IT-куб», Удмуртская Республика', 'IT-куб: Сотрудничество с сущностями Нацпроекта «Образование»<br><i>(Работа с «Точка роста», «Кванториум», «Дом научной коллаборации», проведение совместных мероприятий внутри региона, развитие сетевого взаимодействия)</i>')
                        +event( '09:50 – 10:30', 'Якубович Татьяна Валерьевна', 'руководитель Центра «IT-куб», Брянская область', 'IT-куб: Руководство организационно-педагогической деятельностью<br><i>(Разработка учебных программ, работа руководителя с коллективом)</i>')
                        +event( '10:40 – 11:20', 'Шефер Светлана Анатольевна', 'руководитель Центра «IT-куб», Алтайский край', 'IT-куб: Сотрудничество с технологическими партнерами<br><i>(Проведение охватных мероприятий в сотрудничестве с ООО «КИБЕРПРОТЕКТ»)</i>')
                        +event( '11:30 - 12:00', 'Кешко Анна Александровна', 'руководитель Центра «IT-куб», Чувашская Республика', 'Деловая игра. IT-куб: Управление кадрами')
                  .row
                     .block-6
                        +place2( 'Отель VOSTOK, Ресторан')
                     .block-18
                        +break( 'diner', '12:00 - 13:30', 'Обед' )
                        +break( 'car', '13:30-14:15', 'Трансфер в Музейный комплекс им. И.Я. Словцова')
                  .congress__block
                     strong.text-22.upper Подведение итогов
                  +clock-2( '14:30-16:00', 'Проектная сессия,<br>Подведение итогов Всероссийского съезда руководителей Центров цифрового образования детей «IT-куб» «Как Управлять Будущим»', 'Лямин Александр Сергеевич', 'заместитель директора ФГАНУ «ФИЦТО»', 'Суханов Даниил Артемович', 'начальник Центра программной и проектной деятельности ФГАНУ «ФИЦТО»')
                  .row.mb3
                     .block-6
                        +place( 'Актовый зал Музейного комплекса им. И.Я. Словцова')
                     .block-18
                        +event( '14:30-14:50', 'Смирнова Варвара Андреевна', 'руководитель Тинькофф образования', 'Опыт Тинькофф в образовательных проектах: зачем компании работать со школьниками и студента')
                        +event( '14:50-15:10', 'Ивашкевич Евгений Васильевич', 'ректор Центрального университета', 'Центральный университет: концепция университета нового поколения')
                        +event-simple( '15:10-15:20', 'Торжественное подписание соглашения о сотрудничестве между ФГАНУ «ФИЦТО» и АНО ВО «Центральный университет» в рамках развития и поддержки деятельности Центров цифрового образования детей «IT-куб»')
                        +event-simple( '15:20', 'Подведение итогов Всероссийского съезда руководителей Центров цифрового образования детей «IT-куб» <i>«Как Управлять Будущим»</i>')
                  .row
                     .block-6.mt1
                        +place2( 'Музейный комплекс')
                     .block-18
                        +break( 'break', '16:00 – 17:00', 'Торжественный завершающий кофе-брейк' )
                        +break( 'photo', '17:00 - 18:00', 'Экскурсионная программа по Музейному комплексу им. И.Я. Словцова' )

               section( aria-label='День отъезда' ).congress__wrapper.spec2.mb4
                  +day( '19', 'День отъезда' )
                  .congress__block
                     strong.text-25 10:00
                     strong.text-22.ml1 Отъезд участников

         include assets/jade/footer/footer

      include assets/jade/static/script




