doctype
html

   include assets/jade/static/__head
   +title( '#цифровое_поколение_наше_будущее | IT-cube')

   body
      include assets/jade/static/metrika
      include assets/jade/content/digital_generation/__gallery
      include assets/jade/content/digital_generation/__article-team
      include assets/jade/content/digital_generation/__article-team-links
      include assets/jade/content/digital_generation/__article-one
      include assets/jade/content/digital_generation/__article-two
      include assets/jade/content/digital_generation/__article-one-nonastavnic
      include assets/jade/content/digital_generation/__article-one-short
      include assets/jade/content/digital_generation/__article-one-links
      #container_digital_generation
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         section.mt10
            .wrapper
               h1.digital_generation__caption #цифровое_поколение_наше_будущее


         section.digital_generation__gallery
            +gallery( '«IT-куб» Смоленск', '15__team_smolensk')
            +gallery( 'Дмитров Даниил', '14__Dmitrov_Daniil')
            +gallery( 'Гриценко Ярослав', '13__Gricenko_Iaroslav')
            +gallery( '«IT-куб» Княгинино ', '12__team_knagino')
            +gallery( 'Дзиов Марат', '11__Dziov_Maratat')
            +gallery( 'Фотиев Денис', '10__Fotiyev_Denis')
            +gallery( 'Ставский Тихон и Полищук Даниил', '9__Stavskiy_Polishchuk')
            +gallery( 'Литвиненко Даниил', '8__litvinenko_daniil')
            +gallery( 'Добрухин Григорий', '7__dobruhin_grigorii')
            +gallery( 'Огородников Даниил', '6__ogorodnikov_daniil')
            +gallery( 'Черныгов Ярослав', '5__chernigov_yaroslav')
            +gallery( 'Зезюля Кирилл', '4__zezula_kirill')
            +gallery( '«IT-куб» Смоленск', '3__team_izhevck')
            +gallery( '«IT-Куб» Ижевск', '2__team_smolenck')
            +gallery( '«IT-куб» Верхняя Пышма', '1__team_verhnaya_pizhma')



         section.wrapper
            .digital_generation__tile
               +article-team( '&laquo;IT-куб&raquo; Верхняя Пышма', '1__team_verhnaya_pizhma', 'Александр Грунчев', 'Иван Газалтдинов, Артём Дзень и&nbsp;Кирилл Помазкин', '<b>Разработали симулятор профессии &laquo;сварщик&raquo;</b>, предназначенный для&nbsp;прохождения профессиональной пробы. Сейчас проект <b>используется в&nbsp;учебных заведениях Марий Эл</b>.', '<b>Первое&nbsp;место в&nbsp;направлении &laquo;Диджитал (VR/AR&nbsp;технологии)&raquo;</b> на&nbsp;I&nbsp;Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; в&nbsp;2023&nbsp;году.', 'https://vk.com/itcube_official?z=video-193270730_456239066%2Fvideos-193270730%2Fpl_-193270730_-2' )
               +article-team( '&laquo;IT-куб&raquo; Смоленск', '3__team_izhevck', 'Владислав Ковалёв', 'Георгий Гусев, Алексей Ефременков, Яков Мартыненков и&nbsp;Артём Жуков', 'Разработали мобильное приложение, которое поможет <b>автоматизировать взаимодействие сотрудников с&nbsp;компанией, предоставляющей услуги корпоративного питания</b>.', '<b>Первое&nbsp;место в&nbsp;направлении &laquo;Программирование&raquo;</b> на&nbsp;I&nbsp;Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; в&nbsp;2023&nbsp;году.', 'https://vk.com/itcube_official?z=video-193270730_456239066%2Fvideos-193270730%2Fpl_-193270730_-2')
               +article-team( '&laquo;IT-Куб&raquo; Ижевск', '2__team_smolenck', 'Виталий Городилов', 'Аскар Касимов, Данил Митрошин, Иван Вахрушев и&nbsp;Денис Ватлин', 'Настроили <b>систему защиты корпоративных данных</b>.', '<b>Первое&nbsp;место в&nbsp;направлении &laquo;Информационная безопасность&raquo;</b> на&nbsp;I&nbsp;Всероссийском хакатоне &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo; в&nbsp;2023&nbsp;году.', 'https://vk.com/itcube_official?z=video-193270730_456239066%2Fvideos-193270730%2Fpl_-193270730_-2' )
               +article-one( 'Зезюля Кирилл,', '4__zezula_kirill', '16 лет', '&laquo;IT-куб&raquo; Брянск', 'Крестниковская Екатерина Павловна', 'Разработал мобильное приложение для&nbsp;<b>контроля микроклимата промышленных теплиц</b>, использующее датчики температуры, влажности и&nbsp;освещённости.', '<b>Диплом II&nbsp;степени</b> XXII&nbsp;научно-практической конференции <b>&laquo;Старт в&nbsp;инновации&raquo;</b>.', 'https://vk.com/itcube3232?w=wall-205111450_1023')
               +article-one(  'Черныгов Ярослав,', '5__chernigov_yaroslav', '16 лет', '&laquo;IT-куб&raquo; Рязань', 'Диденко Владимир Андреевич', '<b>Разработал цифровую экосистему &laquo;Yarach&raquo;&nbsp;&mdash; рязанский ответ Google-сервисам</b>, уже получивший народное признание. Это набор сервисов для&nbsp;работы и&nbsp;учебы.', 'Импортозаменяющий проект работает исключительно <b>на&nbsp;отечественных технологиях</b>.', 'https://vk.com/video-197911173_456239090')
               +article-one-links( 'Огородников Даниил,', '6__ogorodnikov_daniil', '15 лет', '&laquo;IT-куб&raquo; Липецк', 'Горяйнов Александр Олегович', '<b>Разработал метод управления роботизированными системами</b> на&nbsp;основе совокупности нейросетей <b>и&nbsp;систему визуализации погоды в&nbsp;замкнутой камере</b> для&nbsp;тестирования электронных устройств <b>&laquo;Погодный фонарь&raquo;</b>.', '<b>Диплом III&nbsp;степени</b> на&nbsp;Международном форуме научной молодёжи <b>&laquo;Шаг в&nbsp;будущее&raquo;</b>.', 'https://vk.com/video-184246628_456239259', 'Смотреть видеоролик', 'https://vk.com/video-184246628_456239258', 'Смотреть второй видеоролик', 'icon')
               +article-one( 'Добрухин Григорий,', '7__dobruhin_grigorii', '17 лет', '&laquo;IT-куб&raquo; Южноуральск', 'Шатров Антон Рудольфович', 'Соавтор проекта <b>&laquo;Интерактивный баннер&raquo;</b>. Проект разработан <b>по&nbsp;техническому заданию партнёра&nbsp;&mdash; АО&nbsp;&laquo;Южноуральский арматурно-изоляторный завод&raquo;&nbsp;&mdash; и&nbsp;в&nbsp;настоящее время внедрён</b>.', '<b>Победитель</b> номинации Всероссийского профориентационного <b>конкурса &laquo;Икар&raquo;</b>.', 'https://vk.com/wall-196154709_3525' )
               +article-one( 'Литвиненко Даниил,', '8__litvinenko_daniil', '16 лет', '&laquo;IT-куб&raquo; Барнаул', 'Чуйков Антон Юрьевич', 'Разработал <b>мобильное приложение</b>, с&nbsp;помощью которого можно <b>подобрать и&nbsp;приобрести спортивные товары, а&nbsp;затем отслеживать их&nbsp;доставку</b>.', '<b>Третье&nbsp;место</b> на&nbsp;межрегиональном (итоговом) этапе Чемпионата по&nbsp;профессиональному мастерству <b>&laquo;Профессионалы&raquo;&nbsp;&mdash; 2024 в&nbsp;компетенции &laquo;Разработка мобильных приложений (юниоры)&raquo;</b>.', 'https://vk.com/video-197166957_456239652' )
               +article-two( '9__Stavskiy_Polishchuk', 'Ставский Тихон,', '14 лет', 'Полищук Даниил,', '13 лет', '&laquo;IT-куб&raquo; Ялуторовск', '<b>Призёры</b> национального чемпионата по&nbsp;робототехнике <b>&laquo;Красноярск 5.0&raquo;</b>', '<b>Второе место в&nbsp;направлении &laquo;Дерзай, робот!&raquo;</b> за&nbsp;создание управляемого робота из&nbsp;конструктора <b>Lego Mindstorms</b>&nbsp;Ev3.', 'https://vk.com/yalcub?z=video-222542227_456239040%2Fb1cf8579696335c876%2Fpl_wall_-222542227')
               +article-one( 'Фотиев Денис,', '10__Fotiyev_Denis', '17 лет', '&laquo;IT-куб&raquo; Сыктывкар', 'Бушенев Игорь Владимирович', 'Разработал платформу <b>Jeopardy Gamemaker</b>, позволяющую <b>проверять знания детей в&nbsp;формате квиза</b>. С&nbsp;помощью Jeopardy Gamemaker уже проводятся игры для&nbsp;проверки знаний обучающихся Центра &laquo;IT-куб&raquo;, технопарка &laquo;Кванториум&raquo;, а&nbsp;также школ и&nbsp;лицеев Сыктывкара.', '<b>Призёр всероссийского чемпионата по&nbsp;технологическому предпринимательству</b> &laquo;Технолидеры Москвы&raquo; <b>и&nbsp;всероссийской олимпиады по&nbsp;промышленной разработке</b> PROD.', 'https://vk.com/video-185045020_456239070' )
               +article-one( 'Дзиов Марат,', '11__Dziov_Maratat', '16 лет', '&laquo;IT-куб&raquo; Владикавказ', 'Макаренко Мария Дмитриевна', 'Разработал <b>мобильное приложение для&nbsp;изучения слов на&nbsp;осетинском языке в&nbsp;игровой форме</b>&nbsp;&mdash; &laquo;Собери животное&raquo;. Участвует в&nbsp;разработке портала игр на&nbsp;осетинском языке.', 'Диплом III&nbsp;степени на&nbsp;<b>Международном форуме научной молодёжи &laquo;Шаг в&nbsp;будущее&raquo;</b> (2024) в&nbsp;секции &laquo;Информатика, вычислительная техника, телекоммуникации&raquo; и&nbsp;специальный диплом &laquo;За&nbsp;сохранение культурного наследия коренных народов Республики Северная Осетия&nbsp;&ndash; Алания&raquo;.', 'https://vk.com/wall-197440965_833' )
               +article-team-links( '&laquo;IT-куб&raquo; Княгинино', '12__team_knagino', 'Паньшина Арина Сергеевна<br>Ваняев Дмитрий Андреевич', 'Косолапов Степан, 8 лет; Горюнова Элина, 9 лет; Кокурин Матвей, 8 лет; Ларина Елизавета, 9 лет.', '<b>Разработали макет добычи, сортировки, транспортировки и переработки полезных ископаемых</b> в Нижегородской области.', '<b>Национальный чемпионат по&nbsp;робототехнике</b> &laquo;Красноярск 5.0&raquo;, <b>победители в&nbsp;номинации</b> &laquo;Лучшая инженерная тетрадь&raquo;.', 'https://vk.com/video-184564465_456239530', 'https://vk.com/video-184564465_456239531')
               +article-one( 'Гриценко Ярослав,', '13__Gricenko_Iaroslav', '17 лет', '&laquo;IT-куб&raquo; Барнаул', 'Шефер Светлана Анатольевна', '<b>Абсолютный победитель</b> Национальной технологической олимпиады в&nbsp;профиле &laquo;Автоматизация бизнес-процессов&raquo; сезона 2023/2024.', 'В&nbsp;2023&nbsp;году стал <b>победителем регионального этапа чемпионата по профессиональному мастерству</b> &laquo;Профессионалы&raquo; от&nbsp;Алтайского края в&nbsp;компетенции &laquo;Разработка мобильных приложений (юниоры)&raquo;.', 'https://vk.com/video-197166957_456239650')
               +article-one( 'Дмитров Даниил,', '14__Dmitrov_Daniil', '15 лет', '&laquo;IT-куб&raquo; Брянск', 'Моргунов Михаил Валерьевич', 'Вместе с&nbsp;командой разработал <b>чат-бот доверия</b> для&nbsp;Брянского машиностроительного завода. Сервис <b>помогает</b> оперативно собирать информацию о&nbsp;ситуации на&nbsp;предприятии и&nbsp;<b>улучшать условия труда</b>.', '<b>Диплом II&nbsp;степени</b> XXIII научно-практической конференции &laquo;Старт в&nbsp;инновации&raquo;.', 'https://vk.com/itcube3232?w=wall-205111450_1682')
               +article-team( '&laquo;IT-куб&raquo; Смоленск', '15__team_smolensk', 'Владислав Ковалёв', 'Кожурина Юлия, Кравцов Григорий, Михальченков Александр и&nbsp;Базин Алексей', '<b>Первое место в направлении «Программирование»</b>  на II Всероссийском хакатоне «Обучаюсь. Проектирую. Программирую. Будущее» в 2024 году.', 'Финальное задание от партнеров: Задача кейса разработать сервис, который позволит оценить удовлетворенность клиентов по различным характеристикам товаров или услуг. Мы называем это Swipe CSAT - сервис, где пользователи могут с легкостью выразить свое мнение.', 'https://vk.com/itcube3232?w=wall-205111450_1682')


         include assets/jade/footer/footer

      include assets/jade/static/script

