doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      include assets/jade/static/metrika
      #container_documentation
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', 'active', '', '', '', '', '', '' )
         include assets/jade/header/main-pages

         section( aria-label='Документы' ).documentation__container
            .wrapper
               h1.caption.mb7 Документы

         include assets/jade/content/__doc-one
         section( aria-label='Документы проекта' ).doc_list__container
            .wrapper
               +doc( 'Федеральный календарь мероприятий для центров цифрового образования детей &laquo;IT-куб&raquo; (2024&nbsp;год)', 'Federalnyy_kalendar_meropriyatiy_dlya_tsentrov_tsifrovogo_obrazovaniya.pdf' )
               +doc( 'Методические рекомендации по&nbsp;созданию и&nbsp;функционированию центров цифрового образования детей &laquo;IT-куб&raquo; (2023&nbsp;год)', 'Metodicheskiye_rekomendatsii_IT_kuby_2023.pdf' )
               +doc( 'Приложение 1 к&nbsp;&laquo;Методические рекомендации по&nbsp;созданию и&nbsp;функционированию центров цифрового образования детей &laquo;IT-куб&raquo; (2023&nbsp;год)', 'Metodicheskiye_rekomendatsii_IT_kuby_2023_Prilojenie-1.pdf' )
               +doc( 'Приложение 2 к&nbsp;&laquo;Методические рекомендации по&nbsp;созданию и&nbsp;функционированию центров цифрового образования детей &laquo;IT-куб&raquo; (2023&nbsp;год)', 'Metodicheskiye_rekomendatsii_IT_kuby_2023_Prilojenie-2.pdf' )

         include assets/jade/footer/footer

      include assets/jade/static/script




