doctype
html

   include assets/jade/static/__head
   +title( 'Мероприятия | IT-Kub' )

   body
      #container_events
         #black_back
         include assets/jade/header/__header
         +menu( '', '', 'active', '', '', '', '' )
         include assets/jade/header/main-pages


         section( aria-label='О федеральном операторе' ).event__container
            .wrapper
               h1.caption.mb9 Мероприятия
               .text-22
                  .event__holder
                     .event__about.event_about-blue
                        .event__icon
                        .event__type Онлайн семинар для руководителей и&nbsp;педагогов Центров &laquo;IT-куб&raquo;
                     .event__text
                        p.mb Ежемесячные образовательные мероприятия с&nbsp;участием профессиональных экспертов IT-отрасли
                  .event__holder
                     .event__about.event_about-orange
                        .event__icon
                        .event__type Просветительское мероприятие для руководителей и&nbsp;педагогов Центров &laquo;IT-куб&raquo;
                     .event__text
                        p.mb Съезд для руководителей Центров &laquo;IT-куб&raquo;
                        p.mb Конкурс для педагогов &laquo;IT-куб&raquo;
                  .event__holder
                     .event__about.event_about-green
                        .event__icon
                        .event__type Мероприятия для обучающихся Центров &laquo;IT-куб&raquo;
                     .event__text
                        p.mb Детский хакатон по&nbsp;программированию

         include assets/jade/content/events_calendar/events

         section( aria-label='Об онлайн семинаре для руководителей и педагогов' ).seminar__container
            .wrapper
               h1.title.mb3 Ежемесячный онлайн семинар для руководителей и&nbsp;педагогов Центров &laquo;IТ-куб&raquo;
               h2.title.mb4 Рубрики онлайн&ndash;семинара
               .row.mb3
                  .seminar__block
                     .seminar__icon.seminar_icon-1
                     .seminar__text.text-22 Государственная образовательная политика в&nbsp;части развития, функционирования и&nbsp;поддержки Центров цифрового образования детей &laquo;IT-куб&raquo;
                  .seminar__block
                     .seminar__icon.seminar_icon-2
                     .seminar__text.text-22 Выступления на прикладные технические тематики (программирование, системное администрирование, информационная безопасность, анализ данных)
                  .seminar__block
                     .seminar__icon.seminar_icon-3
                     .seminar__text.text-22 Региональный опыт реализации проектов
                  .seminar__block
                     .seminar__icon.seminar_icon-4
                     .seminar__text.text-22 Новости в&nbsp;сфере развития информационных технологий в&nbsp;России и&nbsp;мире

               .text-25.mb1 Мы открыты для предложений по демонстрации успешных региональных практик.
               .text-25 Ждем ваши предложения по участию на почту
                  a( href='mailto:it-cube@ficto.ru' ).hover.ml it-cube@ficto.ru

         include assets/jade/footer/footer

      include assets/jade/static/script




