doctype
html

   include assets/jade/static/__head
   +title( 'Мероприятия | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_events
         #black_back
         include assets/jade/header/__header
         +menu( '', '', 'active', '', '', '', '', '', '', '' )
         include assets/jade/header/main-pages


         section( aria-label='О федеральном операторе' ).event__container
            .wrapper
               h1.caption.mb9 Федеральный календарь
               .text-22
                  .event__holder
                     .event__about.event_about-orange
                        .event__icon
                        .event__type Мероприятия для&nbsp;руководителей и&nbsp;педагогов Центров
                           span.wwnow &laquo;IT-куб&raquo;
                  .event__holder
                     .event__about.event_about-green
                        .event__icon
                        .event__type Мероприятия для&nbsp;обучающихся Центров
                           span.wwnow &laquo;IT-куб&raquo;
                  .event__holder
                     .event__about.event_about-blue
                        .event__icon
                        .event__type Методическая и&nbsp;консультационная поддержка

         include assets/jade/content/events_calendar/events

         include assets/jade/footer/footer

      include assets/jade/static/script




