doctype
html

   include assets/jade/static/__head
   +title( 'Мероприятия | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_events
         #black_back
         include assets/jade/header/__header
         +menu( '', '', 'active', '', '', '', '', '', '', '', '' )
         include assets/jade/header/main-pages


         section( aria-label='О федеральном операторе' ).event__container
            .wrapper
               h1.caption.mb9 Федеральный календарь
               .text-22
                  .event__holder
                     .event__about.event_about-orange
                        .event__icon
                        .event__type Мероприятия для&nbsp;руководителей и&nbsp;педагогов Центров
                           span.wwnow &laquo;IT-куб&raquo;
                  .event__holder
                     .event__about.event_about-green
                        .event__icon
                        .event__type Мероприятия для&nbsp;обучающихся Центров
                           span.wwnow &laquo;IT-куб&raquo;
                  .event__holder
                     .event__about.event_about-blue
                        .event__icon
                        .event__type Методическая и&nbsp;консультационная поддержка

         include assets/jade/content/events_calendar/events

         section( aria-label='Об онлайн семинаре для руководителей и педагогов' ).seminar__container
            .wrapper
               h1.title.mb3 Ежемесячный онлайн семинар для руководителей и&nbsp;педагогов Центров
                  span.wwnow &laquo;IТ-куб&raquo;
               h2.title.mb4 Рубрики онлайн&ndash;семинара
               .row.mb3
                  .seminar__block
                     .seminar__icon.seminar_icon-1
                     .seminar__text.text-22 Государственная образовательная политика в&nbsp;части развития, функционирования и&nbsp;поддержки Центров цифрового образования детей
                        span.wwnow &laquo;IT-куб&raquo;
                  .seminar__block
                     .seminar__icon.seminar_icon-2
                     .seminar__text.text-22 Выступления на&nbsp;прикладные технические тематики (программирование, системное администрирование, информационная безопасность, анализ данных)
                  .seminar__block
                     .seminar__icon.seminar_icon-3
                     .seminar__text.text-22 Региональный опыт реализации проектов
                  .seminar__block
                     .seminar__icon.seminar_icon-4
                     .seminar__text.text-22 Новости в&nbsp;сфере развития информационных технологий в&nbsp;России и&nbsp;мире

               .text-25.mb1 Мы открыты для предложений по&nbsp;демонстрации успешных региональных практик.
               .text-25 Ждем ваши предложения по&nbsp;участию на&nbsp;почту
                  a( href='mailto:it-cube@ficto.ru' ).hover.ml it-cube@ficto.ru

         include assets/jade/footer/footer

      include assets/jade/static/script




