doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_hackathon
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='./assets/data/files/documentation/Polozheniye_o_Khakatone_2024.pdf' target='_blank').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне
                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Этапы проведения', 'step' )
                        +item( 'Заявка на&nbsp;участие', 'application' )
                        +item( 'Мероприятие 2023', 'archive' )


         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb5 В&nbsp;Хакатоне могут принять участие:
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 14-18&nbsp;лет' )
                  +participation( '2', 'Состав команды&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек* <br><span class="sup">*Один участник может быть зарегистрирован только в&nbsp;одной команде</span>'  )


         include assets/jade/content/hackathon/__direction
         include assets/jade/content/hackathon/__direction-more
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction
            .wrapper
               h1.caption.center.mb5 Направления
               .row
                  +direction-more( '1', 'Программирование', 't-bank', 'cu', 'Zadaniye_otborochnogo_etapa_po_napravleniyu_Programmirovaniye_(II_Vserossiyskiy_khakaton).pdf' )
                  +direction( '2', 'Кибергигиена', 'kiber', 'Zadaniye_otborochnogo_etapa_po_napravleniyu_Kibergigiyena_(II_Vserossiyskiy_khakaton).pdf' )
                  +direction( '3', 'VR-разработка', 'varmin', 'Zadaniye_otborochnogo_etapa_po_napravleniyu_VR-razrabotka_(II_Vserossiyskiy_khakaton).pdf' )


         include assets/jade/content/hackathon/__step
         section( aria-label='Этапы проведения хакатона' )#step.hackathon__steps
            .wrapper
               h1.caption.center.mb5 Этапы проведения
               //+step( '0', 'Объявление команд, прошедших в&nbsp;очный заключительный этап', '15 сентября', '' )
               +step( '1', 'Подача заявок', '1&nbsp;&mdash; 30&nbsp;апреля 2024 года', '' )
               article.hackathon_step__holder
                  .hackathon_step__icon
                     .hackathon_step__icon-2
                  .hackathon_step__about
                     h1.title.mb04 Отборочный этап
                     .hackathon_step__date.mb06 апрель&nbsp;&mdash; сентябрь 2024 года
                     .hackathon_step__about
                        .text-22 На&nbsp;базе субъектов Российской Федерации среди обучающихся Центров&nbsp;
                           span.wwnow  &laquo;IT-куб&raquo;
                           |  при&nbsp;информационной и&nbsp;консультационно&ndash;методической поддержке Организатора и&nbsp;Партнеров
                        .hackathon_step__more.first
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Работа над кейсовым заданием
                              .hackathon_step__date.mb06 май&nbsp;&mdash; июнь
                              //.text-22 Работа команд над&nbsp;кейсами по&nbsp;расширенному заданию, полученному в&nbsp;первый день мероприятия

                        .hackathon_step__more
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Прием работ
                              .hackathon_step__date.mb06 до&nbsp;10 июня (включительно)

                        .hackathon_step__more
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Работа экспертной комиссии
                              .hackathon_step__date.mb06 июль&nbsp;&mdash; август

                        .hackathon_step__more
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Объявление команд, прошедших в&nbsp;очный заключительный этап
                              .hackathon_step__date.mb06 15 сентября


               +step( '3', 'Заключительный очный этап', '9&nbsp;&mdash; 11 октября 2024&nbsp;года', '' )


         section( aria-label='Подать заявку на участие' )#application.hackathon__application
            .hackathon_application__image
               .wrapper
                  .hackathon_application__icon
            .hackathon_application__holder
               .wrapper
                  h1.caption.center.mb4 Заявка на&nbsp;участие
                  h2.text-25.mb3 Для участия в&nbsp;Хакатоне региональные координаторы Центров&nbsp;
                     span.wwnow   &laquo;ІТ-куб&raquo;
                     |  субъектов Российской Федерации направляют заявку и&nbsp;согласия на&nbsp;обработку персональных данных от&nbsp;команд не&nbsp;позднее 30&nbsp;апреля 2024&nbsp;года на&nbsp;почту&nbsp;
                     span.wwnow
                        a( href='mailto:it-cube@ficto.ru').inline.hover   it-cube@ficto.ru
                  a( href='./assets/data/hackathon/files/Zayavka_na_uchastiye_v_khakatone.zip' download='Заявка на участие в хакатоне 2024.zip' target='_blank' ).hackathon__button.mb12
                     .hackathon_button__inner
                        i.icon-file
                        span Скачать пакет документов на&nbsp;участие


                  .video_wrapper.mb8
                     .video_relative
                        .video_ratio
                        .iframe_holder
                           iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239066&hd=2' width='100%' height='100%' frameborder='0' allowfullscreen)
                              p Твой браузер устарел для отображения элемента iframe


                  a( href='./archive/2023/hackathon.html').archive_button__image.mb12
                     .video_ratio
                     .iframe_holder
                        .archive__image



         include assets/jade/footer/footer

      include assets/jade/static/script
