doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_hackathon
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='./assets/data/files/documentation/Polozheniye_Khakaton.pdf' target='_blank').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне
                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Этапы проведения', 'step' )
                        +item( 'Расписание', 'schedule' )
                        +item( 'Заявка на&nbsp;участие', 'application' )


         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb5 В&nbsp;Хакатоне могут принять участие:
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 14-18&nbsp;лет' )
                  +participation( '2', 'Состав команды&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек* <br><span class="sup">*Один участник может быть зарегистрирован только в&nbsp;одной команде</span>'  )


         include assets/jade/content/hackathon/__direction
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction
            .wrapper
               h1.caption.center.mb5 Направления
               .row
                  +direction( '1', '<span class="wwnow ml0">Программирование</span>', 'sber', 'Zadaniye_Zaochnyy_etap_Sber.pdf' )
                  +direction( '2', '<span class="wwnow ml0">Информационная</span><br>безопасность', 'kiber', 'Zadaniye_Zaochnyy_etap_Kiberprotekt.pdf' )
                  +direction( '3', 'Диджитал <div class="text-25">(VR/AR&nbsp;технологии)</span>', 'varmin', 'Zadaniye_Zaochnyy_etap_Varvin.pdf' )


         include assets/jade/content/hackathon/__step
         section( aria-label='Этапы проведения хакатона' )#step.hackathon__steps
            .wrapper
               h1.caption.center.mb5 Этапы проведения
               +step( '1', 'Заочный этап', '15 сентября&nbsp;&mdash; 10 октября 2023 года', '<div class="text-22 mb1">На&nbsp;базе субъектов Российской Федерации среди обучающихся Центров <span class="wwnow">&laquo;IT-куб&raquo;</span></div><strong class="text-22">В&nbsp;целях определения команд, направляемых на&nbsp;очный этап Хакатона, субъекту Российской Федерации необходимо провести внутренний отбор, опираясь на&nbsp;представленные задания и&nbsp;критерии оценивания заданий, разработанные Партнерами</strong>' )
               +step( '2', 'Подготовительный этап', '20 октября&nbsp;&mdash; 10 ноября 2023', '<strong class="text-22">Проведение серии подготовительных онлайн-сессий по&nbsp;каждому направлению с&nbsp;партнерами Хакатона</strong>' )
               +step( '3', 'Очный этап', '24&nbsp;&mdash; 26 ноября 2023', '<div class="text-22 mb1">Свердловская область, г.&nbsp;Верхняя Пышма, Успенский&nbsp;пр., 2Г</span></div><strong class="text-22 mb03">Работа команд над&nbsp;кейсами по&nbsp;расширенному заданию, полученному в&nbsp;первый день мероприятия</strong><strong class="text-22">Демонстрация итогов работы путем публичной защиты презентации</strong>' )


         include assets/jade/content/hackathon/__schedule
         include assets/jade/content/hackathon/__schedule-one
         include assets/jade/content/hackathon/__schedule-two
         section( aria-label='Расписание подготовительного этапа' )#schedule.hackathon__schedule
            .wrapper
               h1.caption.center.mb2 Расписание подготовительного этапа
               h2.text-25.mb5.center Все встречи пройдут в официальной группе Хакатона
               section.hackathon_schedule__holder
                  .hackathon_schedule__title
                     .hackathon_schedule__icon.schedule_icon-1
                     h1.hackathon_schedule__text Программирование
                     +schedule-two( '26.10.2023<br>13:00 мск ', 'Евгений Кравченко', 'Java/Kotlin Backend Developer, Сбер', 'Максим Барсукевич', 'MS SQL Developer, Сбер ', 'Разработка приложения: технические требования и особенности')
                     +schedule-one( '02.11.2023<br>13:00 мск', 'Ирина Феофилова', 'руководитель индустриального центра бизнес-единицы «Кейтеринбург»', 'Corporate Dinner Dash: особенности организации корпоративного питания ')

               section.hackathon_schedule__holder
                  .hackathon_schedule__title
                     .hackathon_schedule__icon.schedule_icon-2
                     h1.hackathon_schedule__text Диджитал (VR/AR технологий)
                  +schedule-one( '24.10.2023<br>14:00 мск', 'Пикулев Александр Евгеньевич', 'Руководитель образовательного направления Varwin Education', 'Классические приемы визуального программирования на Blockly')
                  +schedule-one( '30.10.2023<br>11:00 мск', 'Пикулев Александр Евгеньевич', 'Руководитель образовательного направления Varwin Education', 'QA-сессия с бизнес-заказчиком (ЦОПП Марий Эл)')
                  +schedule-one( '07.11.2023<br>15:30 мск', 'Пикулев Александр Евгеньевич', 'Руководитель образовательного направления Varwin Education', 'Консультационный час для участников по работе с Varwin')
                  //+schedule-one( '', '', '', '')

               section.hackathon_schedule__holder
                  .hackathon_schedule__title
                     .hackathon_schedule__icon.schedule_icon-3
                     h1.hackathon_schedule__text Информационная безопасность
                  +schedule( '24.10.2023', 'Алексей Смирнов', 'Старший системный инженер', 'Общие принципы организации сети', 'Сетевая безопасность: основные угрозы, уязвимости и способы защиты')
                  +schedule( '25.10.2023', 'Екатерина Вавилова', 'Ведущий инженер', 'Обзор системы предотвращения утечек данных с рабочих станций Кибер Протего', 'Механизмы блокировок, инструменты мониторинга и анализа событий')
                  +schedule( '26.10.2023', 'Федор Воинов', 'Менеджер по информационной безопасности', 'Обзор основных нормативно-правовых актов по информационной безопасности', 'Локально нормативные акты организации для реализации корпоративной системы менеджмента информационной безопасности')
                  +schedule( '01.11.2023', 'Михаил Долгополов', 'Инженер по тестированию', 'Основы Линукс', 'Основные механизы организации безопасного доступа к корпоративным ресурсам')
                  +schedule( '02.11.2023', 'Владимир Болотских', 'Ведущий инженер по тестированию', 'Обзор системы резервного копирования данных Кибер Бэкап', 'Механизмы создания резерных копий и восстановления данных')
                  //+schedule( '', '', '', '', '')



         section( aria-label='Подать заявку на участие' )#application.hackathon__application
            .hackathon_application__image
               .wrapper
                  .hackathon_application__icon
            .hackathon_application__holder
               .wrapper
                  h1.caption.center.mb4 Заявка на&nbsp;участие
                  h2.text-25.mb3 Для&nbsp;участия в&nbsp;подготовительном и&nbsp;очном этапах Хакатона региональный координатор Центров
                     span.wwnow   &laquo;ІТ-куб&raquo;
                     |  субъекта Российской Федерации должен направить Заявку и&nbsp;Согласие на&nbsp;обработку персональных данных от&nbsp;команд не&nbsp;позднее 16&nbsp;октября 2023&nbsp;года на&nbsp;почту&nbsp;
                     span.wwnow
                        a( href='mailto:it-cube@ficto.ru').inline.hover   it-cube@ficto.ru
                  a( href='./assets/data/files/hackathon/Paket_dokumentov_na_uchastiye.zip' target='_blank' ).hackathon__button.mb12
                     .hackathon_button__inner
                        i.icon-file
                        span Скачать пакет документов на&nbsp;участие




         include assets/jade/footer/footer

      include assets/jade/static/script




