doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_hackathon
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='./assets/data/files/documentation/Polozheniye_Khakaton.pdf' target='_blank').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне
                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Этапы проведения', 'step' )
                        +item( 'Расписание', 'schedule' )
                        +item( 'Победители', 'winners' )


         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb5 В&nbsp;Хакатоне могут принять участие:
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 14-18&nbsp;лет' )
                  +participation( '2', 'Состав команды&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек* <br><span class="sup">*Один участник может быть зарегистрирован только в&nbsp;одной команде</span>'  )


         include assets/jade/content/hackathon/__direction
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction
            .wrapper
               h1.caption.center.mb5 Направления
               .row
                  +direction( '1', '<span class="wwnow ml0">Программирование</span>', 'sber', 'Zadaniye_Zaochnyy_etap_Sber.pdf' )
                  +direction( '2', '<span class="wwnow ml0">Информационная</span><br>безопасность', 'kiber', 'Zadaniye_Zaochnyy_etap_Kiberprotekt.pdf' )
                  +direction( '3', 'Диджитал <div class="text-25">(VR/AR&nbsp;технологии)</span>', 'varmin', 'Zadaniye_Zaochnyy_etap_Varvin.pdf' )


         include assets/jade/content/hackathon/__step
         section( aria-label='Этапы проведения хакатона' )#step.hackathon__steps
            .wrapper
               h1.caption.center.mb5 Этапы проведения
               +step( '1', 'Заочный этап', '15 сентября&nbsp;&mdash; 10 октября 2023 года', '<div class="text-22 mb1">На&nbsp;базе субъектов Российской Федерации среди обучающихся Центров <span class="wwnow">&laquo;IT-куб&raquo;</span></div><strong class="text-22">В&nbsp;целях определения команд, направляемых на&nbsp;очный этап Хакатона, субъекту Российской Федерации необходимо провести внутренний отбор, опираясь на&nbsp;представленные задания и&nbsp;критерии оценивания заданий, разработанные Партнерами</strong>' )
               +step( '2', 'Подготовительный этап', '20 октября&nbsp;&mdash; 10 ноября 2023', '<strong class="text-22">Проведение серии подготовительных онлайн-сессий по&nbsp;каждому направлению с&nbsp;партнерами Хакатона</strong>' )
               +step( '3', 'Очный этап', '24&nbsp;&mdash; 26 ноября 2023', '<div class="text-22 mb1">Свердловская область, г.&nbsp;Верхняя Пышма, Успенский&nbsp;пр., 2Г</span></div><strong class="text-22 mb03">Работа команд над&nbsp;кейсами по&nbsp;расширенному заданию, полученному в&nbsp;первый день мероприятия</strong><strong class="text-22">Демонстрация итогов работы путем публичной защиты презентации</strong>' )


         include assets/jade/content/hackathon/__schedule-day
         include assets/jade/content/hackathon/__schedule-triger

         section( aria-label='Расписание очного этапа' )#schedule.hackathon__schedule
            .wrapper
               h1.caption.center.mb5 Расписание очного этапа

               section( aria-label='День первый, 24 ноября').mb3
                  .schedule_list__section.list_section
                     +trigger( '24', '1')
                     include assets/jade/content/hackathon/__scedule-big

               section( aria-label='День второй, 25 ноября').mb3
                  .schedule_list__section.list_section
                     +trigger( '25', '2')
                     include assets/jade/content/hackathon/__scedule-big-2


               section( aria-label='День третий, 26 ноября')
                  .schedule_list__section.list_section
                     +trigger( '26', '3')
                     include assets/jade/content/hackathon/__scedule-big-3


         include assets/jade/content/hackathon/__winners
         section( aria-label='Победители' )#winners.hackathon__winners.mb8
            .wrapper
               h1.caption.center.mb5 Победители
               +winners( '1', 'Программирование', 'Васяяяян', 'Живёт где-то наверно', 'Игоррр', 'Где-то на земле', 'Какие-то гении', 'Лаборатория по выращиванию гениев' )
               +winners( '2', 'Диджитал (VR/AR технологии)', 'Олежка Шэпс. Он этого достоин!', 'Такой дьявол точно живёт в замке', 'Мать МОЯ, скоро Новый год же... Госпади', 'Где-то на земле', 'Какие-то гении', 'Лаборатория по выращиванию гениев'  )
               +winners( '3', 'Информационная безопасность', 'Васяяяян', 'В тёмном-тёмном городе, на тёмной-тёмной улице, в тёмном-тёмном доме', 'Игоррр', 'Где-то на земле', 'Какие-то признанные гении по информационной безопасности всякого, очень ценные специалисы, без них никуда', 'Лаборатория по выращиванию гениев'  )









         section( aria-label='Фотогалерея' )#gallery.hackathon__gallery.mb9
            .wrapper
               h1.caption.center.mb5 Фотогалерея

            .hackathon_gallery__holder.mt3
               .gallery_big__photo
                  img( src='./assets/data/congress/after/photo/gallery/1.jpg')
               .gallery_big__photo
                  img( src='./assets/data/congress/after/photo/gallery/2.jpg')
               .gallery_big__photo
                  img( src='./assets/data/congress/after/photo/gallery/3.jpg')


         section( aria-label='Видео итогов хакатона' )#result.hackathon__results.mb9
            .wrapper
               h1.caption.center.mb5 Итоги Хакатона

               .video_relative
                  .video_ratio
                  .iframe_holder
                     iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239062&hash=a2f2e19fe1da2a74' width='100%' height='100%' frameborder='0')
                        p Твой браузер устарел для отображения элемента iframe




         include assets/jade/footer/footer

      include assets/jade/static/script




