doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/content/hackathon/__program
      include assets/jade/content/hackathon/__program1
      include assets/jade/content/hackathon/__program-3
      include assets/jade/content/hackathon/__program-4
      include assets/jade/content/hackathon/__program-4-1
      include assets/jade/static/metrika
      #container_hackathon
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', 'active', '' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='./assets/data/projects/hackathon/files/2024/Polozheniye_o_Khakatone_2024.pdf' target='_blank' download='Положение о Хакатоне.pdf').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне
                  a( href='./assets/data/projects/hackathon/files/2024/programm_hackaton_2024_full.pdf' download='Программа хакатона 2024. День 1, 2, 3.pdf' target='_blank').hackathon__button.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Программа&nbsp;хакатона
                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Результаты', 'winners' )
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Фотогалерея', 'gallery' )
                        +item( 'Мероприятие 2023', 'archive' )



         include ./assets/jade/content/hackathon/__winners
         include ./assets/jade/content/hackathon/__winners+
         section( aria-label='Победители' )#winners.hackathon__winners
            .wrapper
               h1.caption.center.mb5 Результаты заключительного этапа хакатона
               section.hackathon_winners__holder.mb5
                  .hackathon_winners__caption.mt5
                     .hackathon_winners__caption_icon( class='hw__caption_icon-1')
                     h1.title Программирование
                  .hackathon_winners__list.mt2
                     .row
                        +winners-plus( 'Кожурина Юлия Александровна<br>Кравцов Григорий Павлович<br>Михальченков Александр Николаевич<br>Базин Алексей Сергеевич', 'Смоленская область', 'Суяков Егор Владимирович<br>Дерендяев Александр Сергеевич<br>Мироненко Виктор Яковлевич<br>Вострецова Евгения Сергеевна', 'Удмуртская Республика', 'Сивец Данил Юрьевич<br>Назаров Назар Романович<br>Яковлев Артём Сергеевич<br>Петишев Дмитрий Евгеньевич', 'Новосибирская область' )
                     .row.mt3.others
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Донецкая Народная Республика
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Иркутская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Камчатский край
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Ленинградская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Нижегородская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Оренбургская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Ульяновская область

                  .hackathon_winners__caption.mt5
                     .hackathon_winners__caption_icon( class='hw__caption_icon-3')
                     h1.title Кибергигиена
                  .hackathon_winners__list.mt2
                     .row
                        +winners-plus( 'Черняев Кирилл Евгеньевич<br>Шишин Даниил Олегович<br>Миргород Максим Дмитриевич', 'Забайкальский край', 'Амрулин Эльдар Халидович<br>Зотов Артемий Евгеньевич<br>Гельбер Екатерина Андреевна<br>Евстратова Мария Михайловна', 'Новосибирская область', 'Волобуев Олег Андреевич<br>Бирюков Егор Александрович', 'Ставропольский край' )
                     .row.mt3.others
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Донецкая Народная Республика
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Красноярский край
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Республика Дагестан
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Калужская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Свердловская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Тульская область


                  .hackathon_winners__caption.mt5
                     .hackathon_winners__caption_icon( class='hw__caption_icon-2')
                     h1.title VR&ndash;разработка
                  .hackathon_winners__list.mt2
                     .row
                        +winners-plus( 'Ким Эвелина Алексеевна<br>Рыличев Александр Игоревич<br>Хон Егор Константинович', 'Приморский край', 'Деревягин Семён Денисович<br>Еланцев Николай Леонидович<br>Загнойко Олег Александрович<br>Помазкин Кирилл Евгеньевич', 'Свердловская область', 'Митин Игорь Александрович<br>Огурцова Екатерина Витальена', 'Оренбургская область' )
                     .row.mt3.others
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Алтайский край
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Донецкая Народная Республика
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Кировская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Псковская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Республика Хакасия
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Смоленская область
                        article.block_8.mt1
                           .hackathon_winner__img.mb2
                              .hackathon_winner__place.hw__place-0
                           .hackathon_winner__location.text-22 Удмуртская Республика




         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb4 Об участии
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 14-18&nbsp;лет' )
                  +participation( '2', 'Состав команды&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек* <br><span class="sup">*Один участник может быть зарегистрирован только в&nbsp;одной команде</span>'  )


         include assets/jade/content/hackathon/__direction
         include assets/jade/content/hackathon/__direction-more
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction.mb9
            .wrapper
               h1.caption.center.mb5 Направления
               .row
                  +direction-more( '1', 'Программирование', 't-bank', 'cu', 'Zadaniye_po_programmirovaniyu_Final_Khakatona.pdf' )
                  +direction( '2', 'Кибергигиена', 'kiber', 'Zadaniye_po_kibergigiene_Final_Khakatona.pdf' )
                  +direction( '3', 'VR-разработка', 'varmin', 'Zadaniye_po_VR_Final_Khakatona.pdf' )





         section#gallery.hackathon__gallery.mb9
            .wrapper
               h1.caption.center.mb5 Фотогалерея
               .congress_button__holder.mt6
                  a( href='https://vk.com/album-193270730_304609817' target='_blank' ).congress__button
                     .congress_button__inner
                        .icon-congress-vk.mr2
                        .congress_button__text Посмотреть все фотографии

            .hackathon_gallery__holder.mt3
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/1.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/2.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/3.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/4.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/5.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/6.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/7.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/8.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/9.webp')
               .gallery_big__photo
                  img( src='./assets/data/projects/hackathon/gallery_2024/10.webp')



         .wrapper
            .video_wrapper.mb10
               .video_relative
                  .video_ratio
                  .iframe_holder
                     iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239091&hd=2' width='100%' height='100%' frameborder='0' allowfullscreen)
                        p Твой браузер устарел для отображения элемента iframe


         section( aria-label='' )#application.hackathon__application
            .hackathon_application__image
               .wrapper
                  .hackathon_application__icon
            .hackathon_application__holder
               .wrapper
                  a( href='./archive/2023/hackathon.html')#archive.archive_button__image.mb10.mt4
                     .video_ratio
                     .iframe_holder
                        .archive__image



         include assets/jade/footer/footer

      include assets/jade/static/script
