doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/content/hackathon/__program
      include assets/jade/content/hackathon/__program1
      include assets/jade/content/hackathon/__program-3
      include assets/jade/content/hackathon/__program-4
      include assets/jade/content/hackathon/__program-4-1
      include assets/jade/static/metrika
      #container_hackathon
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', 'active', '' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='./assets/data/files/documentation/Polozheniye_o_Khakatone_2024.pdf' target='_blank').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне
                  a( href='./assets/data/projects/hackathon/files/2024/program_full.pdf' download='Программа хакатона 2024. День 1, 2, 3.pdf' target='_blank').hackathon__button.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Программа&nbsp;хакатона
                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Этапы проведения', 'step' )
                        +item( 'Программа мероприятий', 'program' )
                        +item( 'Мероприятие 2023', 'archive' )


         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb5 В&nbsp;Хакатоне могут принять участие:
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 14-18&nbsp;лет' )
                  +participation( '2', 'Состав команды&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек* <br><span class="sup">*Один участник может быть зарегистрирован только в&nbsp;одной команде</span>'  )


         include assets/jade/content/hackathon/__direction
         include assets/jade/content/hackathon/__direction-more
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction.mb9
            .wrapper
               h1.caption.center.mb5 Направления
               .row
                  +direction-more( '1', 'Программирование', 't-bank', 'cu', 'Zadaniye_po_programmirovaniyu_Final_Khakatona.pdf' )
                  +direction( '2', 'Кибергигиена', 'kiber', 'Zadaniye_po_kibergigiene_Final_Khakatona.pdf' )
                  +direction( '3', 'VR-разработка', 'varmin', 'Zadaniye_po_VR_Final_Khakatona.pdf' )

         //
         //include assets/jade/content/hackathon/__step
         //section( aria-label='Этапы проведения хакатона' )#step.hackathon__steps
         //   .wrapper
         //      h1.caption.center.mb5 Этапы проведения
         //      //+step( '0', 'Объявление команд, прошедших в&nbsp;очный заключительный этап', '15 сентября', '' )
         //      +step( '1', 'Подача заявок', '1&nbsp;&mdash; 30&nbsp;апреля 2024 года', '' )
         //      article.hackathon_step__holder
         //         .hackathon_step__icon
         //            .hackathon_step__icon-2
         //         .hackathon_step__about
         //            h1.title.mb04 Отборочный этап
         //            .hackathon_step__date.mb06 апрель&nbsp;&mdash; сентябрь 2024 года
         //            .hackathon_step__about
         //               .text-22 На&nbsp;базе субъектов Российской Федерации среди обучающихся Центров&nbsp;
         //                  span.wwnow  &laquo;IT-куб&raquo;
         //                  |  при&nbsp;информационной и&nbsp;консультационно&ndash;методической поддержке Организатора и&nbsp;Партнеров
         //               .hackathon_step__more.first
         //                  .icon__green_hackathon.mr1
         //                  .hackathon_step__text
         //                     b.text-24.mb04 Работа над кейсовым заданием
         //                     .hackathon_step__date.mb06 май&nbsp;&mdash; июнь
         //                     //.text-22 Работа команд над&nbsp;кейсами по&nbsp;расширенному заданию, полученному в&nbsp;первый день мероприятия
         //
         //               .hackathon_step__more
         //                  .icon__green_hackathon.mr1
         //                  .hackathon_step__text
         //                     b.text-24.mb04 Прием работ
         //                     .hackathon_step__date.mb06 до&nbsp;10 июня (включительно)
         //
         //               .hackathon_step__more
         //                  .icon__green_hackathon.mr1
         //                  .hackathon_step__text
         //                     b.text-24.mb04 Работа экспертной комиссии
         //                     .hackathon_step__date.mb06 июль&nbsp;&mdash; август
         //
         //               .hackathon_step__more
         //                  .icon__green_hackathon.mr1
         //                  .hackathon_step__text
         //                     b.text-24.mb04 Объявление команд, прошедших в&nbsp;очный заключительный этап
         //                     .hackathon_step__date.mb06 15 сентября
         //
         //
         //      +step( '3', 'Заключительный очный этап', '9&nbsp;&mdash; 11 октября 2024&nbsp;года', '' )
         //




         include assets/jade/content/meeting/__trigger
         section.hackathon__program.mb9#program
            .wrapper
               h2.caption.center.mb6 Программа II Всероссийского хакатона по программированию 
                  br
                  | «
                  span Обучаюсь.
                  |  Проектирую. Программирую. Будущее»

               section( aria-label='9 октября').mb5
                  .meeting_list__section
                     .program_trigger
                        .program_day
                           .caption.mr 9
                           .text-22 октября,
                           .number.mr первый
                           .text-22 день
                     a( href='https://yandex.ru/maps/-/CDXQuG1E' target='_blank').program_place
                        .program__pin
                        .program_place_name &laquo;Академия Маяк&raquo; имени А. Д. Сахарова
                        .program_place_address г.&nbsp;Нижний Новгород


                  section.meeting_program__holder.mt3
                     .program_row
                        .hackathon_program__time 09:30&nbsp;&ndash; 10:30
                        .program_row_info
                           .meeting_program__text Регистрация участников
                        .hackathon_row_place / Холл первого этажа

                     +program-3( '10:30', '11:00', 'Церемония открытия мероприятия', 'Приветственное слово:',
                        'Горобец Андрей Валерьевич,', 'директор Департамента цифровой трансформации и&nbsp;больших данных Министерства просвещения Российской Федерации',
                        'Пучков Михаил Юрьевич,', 'министр образования и&nbsp;науки Нижегородской области',
                        'Пономарёва Юлия Александровна,', 'первый заместитель директора ФГАНУ &laquo;ФИЦТО&raquo;',
                        '/ Конференц-зал' )

                     .program_row
                        .hackathon_program__time 11:00&nbsp;&ndash; 13:00
                        .program_row_info
                           .meeting_program__text Получение заданий и&nbsp;начало работы над&nbsp;кейсами
                        .hackathon_row_place / Аудитории по&nbsp;направлениям

                     .program_row
                        .hackathon_program__time 13:00&nbsp;&ndash; 13:15
                        .program_row_info
                           .meeting_program__text Игра &laquo;Спорт в&nbsp;кубе&raquo;
                        .hackathon_row_place / Аудитории по&nbsp;направлениям

                     .program_row
                        .hackathon_program__time 13:15&nbsp;&ndash; 14:00
                        .meeting_program__dinner
                           .hackathon__dinner.mr-20
                           .meeting_program__text Обед
                        .hackathon_row_place / Холл второго этажа

                     .program_row
                        .hackathon_program__time 14:00&nbsp;&ndash; 17:00
                        .program_row_info
                           .meeting_program__text Работа над кейсами
                        .hackathon_row_place / Аудитории по&nbsp;направлениям

                     .program_row
                        .hackathon_program__time 17:00&nbsp;&ndash; 17:15
                        .program_row_info
                           .meeting_program__text Игра &laquo;Спорт в&nbsp;кубе&raquo;
                        .hackathon_row_place / Аудитории по&nbsp;направлениям





               section( aria-label='10 октября').mb5.mt2
                  .meeting_list__section
                     .program_trigger
                        .program_day
                           .caption.mr 10
                           .text-22 октября,
                           .number.mr второй
                           .text-22 день
                     a( href='https://yandex.ru/maps/-/CDXQuG1E' target='_blank').program_place
                        .program__pin
                        .program_place_name &laquo;Академия Маяк&raquo; имени А. Д. Сахарова
                        .program_place_address г.&nbsp;Нижний Новгород


                  section.meeting_program__holder.mt3

                     .program_row
                        .hackathon_program__time 10:00&nbsp;&ndash; 13:00
                        .program_row_info
                           .meeting_program__text Работа над&nbsp;кейсами
                        .hackathon_row_place / Аудитории по&nbsp;направлениям

                     .program_row
                        .hackathon_program__time 13:00&nbsp;&ndash; 13:15
                        .program_row_info
                           .meeting_program__text Игра &laquo;Спорт в&nbsp;кубе&raquo;
                        .hackathon_row_place / Аудитории по&nbsp;направлениям


                     .program_row
                        .hackathon_program__time 13:15&nbsp;&ndash; 14:00
                        .meeting_program__dinner
                           .hackathon__dinner.mr-20
                           .meeting_program__text Обед
                        .hackathon_row_place / Холл второго этажа


                     .program_row
                        .hackathon_program__time 14:00&nbsp;&ndash; 17:00
                        .program_row_info
                           .meeting_program__text Работа над кейсами
                        .hackathon_row_place / Аудитории по&nbsp;направлениям


                     .program_row.no_place
                        .hackathon_program__time 17:00&nbsp;&ndash; 18:30
                        .program_row_info
                           .hackathon_program__caption.mb15 Пешая экскурсия по&nbsp;Нижнему Новгороду

                           .program_row_topic.mb05 Викторина с&nbsp;использованием мобильного приложения &laquo;Игра Первых&raquo;
                           .program_row_person.mb15 Пегов Кирилл Евгеньевич,
                              i.ml03 специалист ФГАНУ &laquo;ФИЦТО&raquo;


               section( aria-label='11 октября').mb5
                  .meeting_list__section
                     .program_trigger
                        .program_day
                           .caption.mr 11
                           .text-22 октября,
                           .number.mr третий
                           .text-22 день
                     a( href='https://yandex.ru/maps/-/CDXQuG1E' target='_blank').program_place
                        .program__pin
                        .program_place_name &laquo;Академия Маяк&raquo; имени А. Д. Сахарова
                        .program_place_address г.&nbsp;Нижний Новгород


                  section.meeting_program__holder.mt3

                     .program_row
                        .hackathon_program__time 10:00&nbsp;&ndash; 10:30
                        .program_row_info
                           .meeting_program__text Подготовка к защите проектов
                        .hackathon_row_place / Аудитории по&nbsp;направлениям

                     .program_row
                        .hackathon_program__time 10:30&nbsp;&ndash; 12:45
                        .program_row_info
                           .meeting_program__text ЗАЩИТА проектов по направлениям
                        .hackathon_row_place / Аудитории по&nbsp;направлениям

                     .program_row
                        .hackathon_program__time 12:45&nbsp;&ndash; 13:15
                        .program_row_info
                           .meeting_program__text Финал игры &laquo;Спорт в&nbsp;кубе&raquo;
                        .hackathon_row_place / Конференц-зал


                     .program_row
                        .hackathon_program__time 13:15&nbsp;&ndash; 14:00
                        .meeting_program__dinner
                           .hackathon__dinner.mr-20
                           .meeting_program__text Обед
                        .hackathon_row_place / Холл второго этажа

                     .program_row
                        .hackathon_program__time 14:00&nbsp;&ndash; 15:30
                        .program_row_info
                           .meeting_program__text ФИНАЛ. ЗАЩИТА проектов
                        .hackathon_row_place / Конференц-зал


                     .program_row
                        .hackathon_program__time 15:40&nbsp;&ndash; 16:30
                        .program_row_info
                           .flex
                              .dot &bull;
                              .program_row_topic.mb15 Квиз от&nbsp;компании &laquo;КИБЕРПРОТЕКТ&raquo;

                           .flex
                              .dot &bull;
                              .block
                                 .program_row_topic.mb05 Итоги викторины с&nbsp;использованием мобильного приложения &laquo;Игра Первых&raquo;
                                 .program_row_person.mb15 Пегов Кирилл Евгеньевич,
                                    i.ml03 специалист ФГАНУ &laquo;ФИЦТО&raquo;
                        .hackathon_row_place / Конференц-зал

                     .program_row
                        .hackathon_program__time 16:30&nbsp;&ndash; 17:00
                        .program_row_info
                           .hackathon_program__caption.mb05 Подведение итогов. Награждение победителей
                           .program_row_topic.mb15 Представители технологических партнёров: ТБанк, КИБЕРПРОТЕКТ, VARWIN

                           .hackathon_program__caption.mb15 Церемония закрытия мероприятия
                           .flex
                              .dot &bull;
                              .program_row_person.mb08 Пучков Михаил Юрьевич,
                                 i.ml03 министр образования и науки Нижегородской области
                           .flex
                              .dot &bull;
                              .program_row_person.mb08 Пономарёва Юлия Александровна,
                                 i.ml03 первый заместитель директора ФГАНУ &laquo;ФИЦТО&raquo;
                           .flex
                              .dot &bull;
                              .block
                                 .program_row_person.mb2 Гамула Андрей Николаевич,
                                    i.ml03 заместитель директора  ФГАНУ &laquo;ФИЦТО&raquo;

                        .hackathon_row_place.top / Конференц-зал




         include ./assets/jade/content/hackathon/__finalist
         section( aria-label='Команды — участники заключительного этапа' )#winners.hackathon__winners.mt5.mb10
            .wrapper
               h1.caption.center.mb5 Команды&ndash;участники заключительного этапа

               section.hackathon_finalists__holder.mb5
                  .hackathon_finalists__caption
                     .hackathon_finalists__caption_icon( class='hw__caption_icon-1')
                     h1.title Программирование
                  .hackathon_finalists__list.mt2
                     .row
                        +finalist( 'Донецкая Народная Республика', '')
                        +finalist( 'Иркутская область', '')
                        +finalist( 'Камчатский край', '')
                        +finalist( 'Ленинградская область', '')
                        +finalist( 'Нижегородская область', '')
                        +finalist( 'Новосибирская область', '')
                        +finalist( 'Оренбургская область', '')
                        +finalist( 'Смоленская область', '')
                        +finalist( 'Удмуртская Республика', '')
                        +finalist( 'Ульяновская область', '')


               section.hackathon_finalists__holder.mb5
                  .hackathon_finalists__caption
                     .hackathon_finalists__caption_icon( class='hw__caption_icon-2')
                     h1.title VR-разработка
                  .hackathon_finalists__list.mt2
                     .row
                        +finalist( 'Алтайский край', '')
                        +finalist( 'Донецкая Народная Республика', '')
                        +finalist( 'Кировская область', '')
                        +finalist( 'Оренбургская область', '')
                        +finalist( 'Приморский край', '')
                        +finalist( 'Псковская область', '')
                        +finalist( 'Республика Хакасия', '')
                        +finalist( 'Свердловская область', '')
                        +finalist( 'Смоленская область', '')
                        +finalist( 'Удмуртская Республика', '')




               section.hackathon_finalists__holder.mb5
                  .hackathon_finalists__caption
                     .hackathon_finalists__caption_icon( class='hw__caption_icon-3')
                     h1.title Кибергигиена
                  .hackathon_finalists__list.mt2
                     .row
                        +finalist( 'Астраханская область', '')
                        +finalist( 'Донецкая Народная Республика', '')
                        +finalist( 'Забайкальский край', '')
                        +finalist( 'Красноярский край', '')
                        +finalist( 'Новосибирская область', '')
                        +finalist( 'Приморский край', '')
                        +finalist( 'Республика Дагестан', '')
                        +finalist( 'Республика Северная Осетия&nbsp;&mdash; Алания', '')
                        +finalist( 'Ставропольский край', '')
                        +finalist( 'Тульская область', '')





         section( aria-label='' )#application.hackathon__application
            .hackathon_application__image
               .wrapper
                  .hackathon_application__icon
            .hackathon_application__holder
               .wrapper
                  .video_wrapper.mb8
                     .video_relative
                        .video_ratio
                        .iframe_holder
                           iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239066&hd=2' width='100%' height='100%' frameborder='0' allowfullscreen)
                              p Твой браузер устарел для отображения элемента iframe


                  a( href='./archive/2023/hackathon.html')#archive.archive_button__image.mb12
                     .video_ratio
                     .iframe_holder
                        .archive__image



         include assets/jade/footer/footer

      include assets/jade/static/script
