doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_hackathon
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', '', '', 'active', '' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='./assets/data/files/documentation/Polozheniye_o_Khakatone_2024.pdf' target='_blank').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне
                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Этапы проведения', 'step' )
                        +item( 'Заявка на&nbsp;участие', 'application' )
                        +item( 'Мероприятие 2023', 'archive' )


         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb5 В&nbsp;Хакатоне могут принять участие:
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 14-18&nbsp;лет' )
                  +participation( '2', 'Состав команды&nbsp;&mdash; от&nbsp;2 до&nbsp;4 человек* <br><span class="sup">*Один участник может быть зарегистрирован только в&nbsp;одной команде</span>'  )


         include assets/jade/content/hackathon/__direction
         include assets/jade/content/hackathon/__direction-more
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction
            .wrapper
               h1.caption.center.mb5 Направления
               .row
                  +direction-more( '1', 'Программирование', 't-bank', 'cu', 'Zadaniye_otborochnogo_etapa_po_napravleniyu_Programmirovaniye_(II_Vserossiyskiy_khakaton).pdf' )
                  +direction( '2', 'Кибергигиена', 'kiber', 'Zadaniye_otborochnogo_etapa_po_napravleniyu_Kibergigiyena_(II_Vserossiyskiy_khakaton).pdf' )
                  +direction( '3', 'VR-разработка', 'varmin', 'Zadaniye_otborochnogo_etapa_po_napravleniyu_VR-razrabotka_(II_Vserossiyskiy_khakaton).pdf' )


         include assets/jade/content/hackathon/__step
         section( aria-label='Этапы проведения хакатона' )#step.hackathon__steps
            .wrapper
               h1.caption.center.mb5 Этапы проведения
               //+step( '0', 'Объявление команд, прошедших в&nbsp;очный заключительный этап', '15 сентября', '' )
               +step( '1', 'Подача заявок', '1&nbsp;&mdash; 30&nbsp;апреля 2024 года', '' )
               article.hackathon_step__holder
                  .hackathon_step__icon
                     .hackathon_step__icon-2
                  .hackathon_step__about
                     h1.title.mb04 Отборочный этап
                     .hackathon_step__date.mb06 апрель&nbsp;&mdash; сентябрь 2024 года
                     .hackathon_step__about
                        .text-22 На&nbsp;базе субъектов Российской Федерации среди обучающихся Центров&nbsp;
                           span.wwnow  &laquo;IT-куб&raquo;
                           |  при&nbsp;информационной и&nbsp;консультационно&ndash;методической поддержке Организатора и&nbsp;Партнеров
                        .hackathon_step__more.first
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Работа над кейсовым заданием
                              .hackathon_step__date.mb06 май&nbsp;&mdash; июнь
                              //.text-22 Работа команд над&nbsp;кейсами по&nbsp;расширенному заданию, полученному в&nbsp;первый день мероприятия

                        .hackathon_step__more
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Прием работ
                              .hackathon_step__date.mb06 до&nbsp;10 июня (включительно)

                        .hackathon_step__more
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Работа экспертной комиссии
                              .hackathon_step__date.mb06 июль&nbsp;&mdash; август

                        .hackathon_step__more
                           .icon__green_hackathon.mr1
                           .hackathon_step__text
                              b.text-24.mb04 Объявление команд, прошедших в&nbsp;очный заключительный этап
                              .hackathon_step__date.mb06 15 сентября


               +step( '3', 'Заключительный очный этап', '9&nbsp;&mdash; 11 октября 2024&nbsp;года', '' )




         include ./assets/jade/content/hackathon/__finalist
         section( aria-label='Команды — участники заключительного этапа' )#winners.hackathon__winners.mt5.mb10
            .wrapper
               h1.caption.center.mb5 Команды&ndash;участники заключительного этапа

               section.hackathon_finalists__holder.mb5
                  .hackathon_finalists__caption
                     .hackathon_finalists__caption_icon( class='hw__caption_icon-1')
                     h1.title Программирование
                  .hackathon_finalists__list.mt2
                     .row
                        +finalist( 'Донецкая Народная Республика', '')
                        +finalist( 'Иркутская область', '')
                        +finalist( 'Камчатский край', '')
                        +finalist( 'Ленинградская область', '')
                        +finalist( 'Нижегородская область', '')
                        +finalist( 'Новосибирская область', '')
                        +finalist( 'Оренбургская область', '')
                        +finalist( 'Смоленская область', '')
                        +finalist( 'Удмуртская Республика', '')
                        +finalist( 'Ульяновская область', '')


               section.hackathon_finalists__holder.mb5
                  .hackathon_finalists__caption
                     .hackathon_finalists__caption_icon( class='hw__caption_icon-2')
                     h1.title Диджитал (VR/AR-технологии)
                  .hackathon_finalists__list.mt2
                     .row
                        +finalist( 'Алтайский край', '')
                        +finalist( 'Донецкая Народная Республика', '')
                        +finalist( 'Кировская область', '')
                        +finalist( 'Оренбургская область', '')
                        +finalist( 'Приморский край', '')
                        +finalist( 'Псковская область', '')
                        +finalist( 'Республика Хакасия', '')
                        +finalist( 'Свердловская область', '')
                        +finalist( 'Смоленская область', '')
                        +finalist( 'Удмуртская Республика', '')




               section.hackathon_finalists__holder.mb5
                  .hackathon_finalists__caption
                     .hackathon_finalists__caption_icon( class='hw__caption_icon-3')
                     h1.title Кибергигиена
                  .hackathon_finalists__list.mt2
                     .row
                        +finalist( 'Астраханская область', '')
                        +finalist( 'Донецкая Народная Республика', '')
                        +finalist( 'Забайкальский край', '')
                        +finalist( 'Красноярский край', '')
                        +finalist( 'Новосибирская область', '')
                        +finalist( 'Приморский край', '')
                        +finalist( 'Республика Дагестан', '')
                        +finalist( 'Республика Северная Осетия&nbsp;&mdash; Алания', '')
                        +finalist( 'Ставропольский край', '')
                        +finalist( 'Тульская область', '')


               //+finalist( '1', 'Программирование', 'Гусев Георгий Андреевич,<br>Ефременков Алексей Александрович,<br>Мартыненков Яков Юрьевич,<br>Жуков Артём Геннадьевич', 'Смоленская область', 'Юрков Владислав Юрьевич,<br>Литвиненко Даниил Александрович,<br>Бабкина Мария Игоревна', 'Алтайский край', 'Аверьянов Павел Андреевич,<br>Бакурин Максим Николаевич,<br>Русин-Купраш Григорий Васильевич,<br>Чебунин Георгий Викторович', 'Ульяновская область' )
               //+finalist( '2', 'Диджитал (VR/AR технологии)', 'Газалтдинов Иван Равильевич,<br>Дзень Артем Сергеевич,<br>Помазкин Кирилл Евгеньевич', 'Свердловская область', 'Курлаев Никита Александрович,<br>Ахтямова София Ильдаровна', 'Оренбургская область', 'Сергеев Степан Сергеевич,<br>Кульбякина Дарья Алексеевна', 'Челябинская область'  )
               //+finalist( '3', 'Информационная безопасность', 'Касимов Аскар Маратович,<br>Митрошин Данил Дмитриевич,<br>Вахрушев Иван Юрьевич,<br>Ватлин Денис Витальевич', 'Удмуртская Республика', 'Цукров Михаил Евгеньевич,<br>Воронский Алексей Станиславович,<br>Лапидус Арсений Евгеньевич,<br>Карпов Дмитрий Павлович', ' Свердловская область', 'Дранишников Сергей Юрьевич,<br>Федотко Назар Вадимович', 'Красноярский край'  )






         section( aria-label='' )#application.hackathon__application
            .hackathon_application__image
               .wrapper
                  .hackathon_application__icon
            .hackathon_application__holder
               .wrapper
                  .video_wrapper.mb8
                     .video_relative
                        .video_ratio
                        .iframe_holder
                           iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239066&hd=2' width='100%' height='100%' frameborder='0' allowfullscreen)
                              p Твой браузер устарел для отображения элемента iframe


                  a( href='./archive/2023/hackathon.html').archive_button__image.mb12
                     .video_ratio
                     .iframe_holder
                        .archive__image



         include assets/jade/footer/footer

      include assets/jade/static/script
