doctype
html

   include assets/jade/static/__head
   +title( 'Всероссийский хакатон по программированию | IT-cube' )

   body
      include assets/jade/content/hackathon/__program
      include assets/jade/content/hackathon/__program1
      include assets/jade/content/hackathon/__program-3
      include assets/jade/content/hackathon/__program-4
      include assets/jade/content/hackathon/__program-4-1
      include assets/jade/static/metrika
      #container_hackathon.container_hackathon-25
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', 'active', '' )
         include assets/jade/header/main-pages

         include assets/jade/content/hackathon/__navigation
         section( aria-label='Страница всероссийского хакатона по программированию' ).hackathon__title.mb16
            .wrapper
               .logo_relative
                  .logo_ratio
                  .logo_holder
                     .hackathon__logo
            .wrapper
               .hackathon_header__image
               .hackathon__header

                  a( href='https://vk.com/doc-193270730_687765910?hash=WTZM7DC4lXkyZtsDNvvr5mqeCEScAtSa5O5NpxZSL8H&dl=e0y0QwCPty8gRz5MZ1EvozJa9kAU1nbBC5esRKL1T0k' target='_blank' download='').hackathon__button.mt9.mb3
                     .hackathon_button__inner
                        i.icon-file
                        span Положение о&nbsp;хакатоне

                  .hackathon_menu__holder
                     menu.hackathon_navigation__holder
                        +item( 'Об&nbsp;участии', 'participation' )
                        +item( 'Направления', 'direction' )
                        +item( 'Этапы проведения', 'step' )
                        +item( 'Мероприятие 2024', 'archive' )



         include assets/jade/content/hackathon/__participation
         section( aria-label='Кто может принять участие' )#participation.hackathon__participation
            .wrapper
               h1.caption.center.mb4 В Хакатоне могут  принять участие:
               .row
                  +participation( '1', 'Обучающиеся Центров цифрового образования детей <span class="wwnow">&laquo;IT-куб&raquo;</span> в&nbsp;возрасте 10-18&nbsp;лет' )


         include assets/jade/content/hackathon/__direction
         section( aria-label='По каким направлениям проводится хакатон' )#direction.hackathon__direction.mb16
            .wrapper
               h1.caption.center.mb4 Направление
               article.hackathon_direction__holder
                  .hackathon_direction__about
                     h1.title.mb4.mt1 Программирование
                  .hackathon_direction__icon( class='hackathon_direction__icon-1' )




         include assets/jade/content/hackathon/__step
         section( aria-label='Этапы проведения хакатона' )#step.hackathon__steps
            .wrapper
               h1.caption.center Этапы проведения
               h2.title.center.mb8 15–17 октября 2025 г.

               +step( '1', 'Подача заявок', '15&nbsp;октября 2025&nbsp;г.', 'Работа над отборочными заданиями' )
               +step( '2', 'Полуфинал', '16&nbsp;октября 2025&nbsp;г.', 'Работа над заданием полуфинала' )
               +step( '3', 'Финал', '17&nbsp;октября 2025&nbsp;г.', 'Работа над заданием финала' )


         section( aria-label='Подать заявку на участие' )#application.hackathon__application
            .hackathon_application__image
               .wrapper
                  .hackathon_application__icon
            .hackathon_application__holder
               .wrapper
                  h1.caption.center.mb4 Заявка на&nbsp;участие
                  h2.text-25.mb2
                     p Для участия в Хакатоне необходимо в&nbsp;срок до&nbsp;10&nbsp;октября 2025&nbsp;г. (включительно) подать заявку для&nbsp;регистрации в&nbsp;
                        a.inline-block.hover( href='https://clck.ru/3PH43i' target='_blank') Яндекс-форме Организатора.
                  p.text-25.mb2 После подачи заявки для&nbsp;регистрации участники Хакатона будет направлена ссылка для&nbsp;регистрации в&nbsp;геймифицированном мобильном приложении &laquo;Игра Первых&raquo;.
                  p.text-25 Хакатон проводится с&nbsp;использованием геймифицированного мобильного приложения  &laquo;Игра Первых&raquo;. Задания Хакатона размещаются в&nbsp;приложении и&nbsp;предполагают ввод ответов для&nbsp;автоматической проверки в&nbsp;соответствующих модулях.



               .wrapper.mt4
                  a( href='./archive/2024/hackathon.html')#archive.archive_button__image.mb10.mt4
                     .video_ratio
                     .iframe_holder
                        .archive__image



         include assets/jade/footer/footer

      include assets/jade/static/script
