doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      #container_main
         #black_back
         include assets/jade/header/__header
         +menu( 'active', '', '', '', '', '', '' )
         include assets/jade/header/main

         section( aria-label='О проекте' ).wrapper
            .row
               h1.caption.block-11.mt1 О проекте
               .block-13.text-22.mt2 Центры цифрового образования детей
                  strong.mr.ml «IT-куб»
                  | создаются и функционируют на базе образовательных организаций высшего, общего, среднего профессионального и дополнительного образования.

         section( aria-label='Цели создания IT-кубов' ).purpose__container
            .wrapper
               .purpose__text
                  h1 Центры «IT-куб» направлены на создание среды, обеспечивающей:
                  .text-22.mt3
                     strong.mr Продвижение
                     | компетенций в области цифровизации
                  .text-22.mt1 Освоение обучающимися актуальных и востребованных
                     strong.mr.ml знаний, навыков
                     |  и компетенций в сфере информационно-коммуникационных технологий
                  .text-22.mt1 Выявление, поддержку и развитие у детей
                     strong.mr.ml способностей и талантов
                  .text-22.mt1
                     strong.mr Профориентацию
                     | школьников
                  .text-22.mt1 Развитие у детей
                     strong.mr.ml математической, информационной грамотности,
                     |   формирование критического мышления


         include assets/jade/footer/footer

      include assets/jade/static/script




