doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      #container_main
         #black_back
         include assets/jade/header/__header
         +menu( 'active', '', '', '', '', '', '' )
         include assets/jade/header/main

         section( aria-label='О проекте' ).wrapper
            .row
               h1.caption.block-11.mt1 О проекте
               .block-13.text-22.mt2 Центры цифрового образования детей
                  strong.mr.ml «IT-куб»
                  | создаются и функционируют на базе образовательных организаций высшего, общего, среднего профессионального и дополнительного образования.

         section( aria-label='Цели создания IT-кубов' ).purpose__container
            .wrapper
               .row
                  .purpose__text
                     h1 Центры «IT-куб» направлены на создание среды, обеспечивающей:
                     .text-22.mt3
                        strong.mr Продвижение
                        | компетенций в области цифровизации
                     .text-22.mt1 Освоение обучающимися актуальных и востребованных
                        strong.mr.ml знаний, навыков
                        |  и компетенций в сфере информационно-коммуникационных технологий
                     .text-22.mt1 Выявление, поддержку и развитие у детей
                        strong.mr.ml способностей и талантов
                     .text-22.mt1
                        strong.mr Профориентацию
                        | школьников
                     .text-22.mt1 Развитие у детей
                        strong.mr.ml математической, информационной грамотности,
                        |   формирование критического мышления

         section( aria-label='Направления образовательной деятельноси' ).directions__container
            .wrapper
               h1.title.mb5 Рекомендованные направления образовательной деятельности Центров «IT-куб»
               .row.directions__holder
                  .directions__item
                     .directions__icon.directions_icon-1
                     .directions__text Программирование роботов
                  .directions__item
                     .directions__icon.directions_icon-2
                     .directions__text Программирование на Python
                  .directions__item
                     .directions__icon.directions_icon-3
                     .directions__text Мобильная разработка
                  .directions__item
                     .directions__icon.directions_icon-4
                     .directions__text Кибергигиена и работа с большими данными
                  .directions__item
                     .directions__icon.directions_icon-5
                     .directions__text Основы алгоритмики и логики
                  .directions__item
                     .directions__icon.directions_icon-6
                     .directions__text Программирование на Java
                  .directions__item
                     .directions__icon.directions_icon-7
                     .directions__text Системное администрирование
                  .directions__item
                     .directions__icon.directions_icon-8
                     .directions__text Разработка VR/AR-приложений

         section( aria-label='Число центров' ).number__container
            .wrapper
               h1.caption.mb3 Количество центров «IT-куб» в России
               .row
                  .text-25
                     p К
                        strong.mr.ml 2024
                        |  году должно быть создано не менее
                     p
                        strong.mr 340
                        |  Центров «IT-куб» с охватом не менее
                     p
                        strong.mr 136 тысяч
                        |   детей.
                  include assets/jade/content/diagram/diagram


         include assets/jade/footer/footer

      include assets/jade/static/script




