doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      #container
         include assets/jade/header/__header
         +menu( '', '', '', 'active', '', '', '' )


         include assets/jade/footer/footer

      include assets/jade/static/script




