doctype
html

   include assets/jade/static/__head
   +title( 'Новости центров | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_news
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', 'active', '', '', '', '', '' , '' )
         include assets/jade/header/main-pages

         section( aria-label='Новости проекта' ).news__container
            .wrapper
               h1.caption Новости центров
                  .wwnow &laquo;IT&ndash;куб&raquo;

         .wrapper.grand_news__container
            .row

               .one_news__container
                  #one_news__close.one_news__close.text-25.mb3
                     span назад
                     .icon-arrow-back

                  .one_news__list

                     include ./news/__img_26
                     include ./news/__img_25
                     include ./news/__img_25-lazy


                     include ./news/__news_98_20012026
                     include ./news/__news_97_19012026
                     include ./news/__news_96_13012026
                     include ./news/__news_95_12012026
                     include ./news/__news_94_26122025
                     include ./news/__news_93_22122025
                     include ./news/__news_92_14122025
                     include ./news/__news_91_15122025
                     include ./news/__news_90_09122025
                     include ./news/__news_89_03122025
                     include ./news/__news_88_02122025_2
                     include ./news/__news_87_02122025
                     include ./news/__news_86_24112025
                     include ./news/__news_86_17112025
                     include ./news/__news_85_01112025
                     include ./news/__news_84_30102025
                     include ./news/__news_83_29102025
                     include ./news/__news_82_24102025_2
                     include ./news/__news_82_24102025
                     include ./news/__news_81_21102025
                     include ./news/__news_80_20102025
                     include ./news/__news_79_14102025
                     include ./news/__news_78_13102025
                     include ./news/__news_77_13102025
                     include ./news/__news_76_07102025
                     include ./news/__news_75_24092025
                     include ./news/__news_74_18092025
                     include ./news/__news_73_17092025
                     include ./news/__news_72_08092025
                     include ./news/__news_71_03092025
                     include ./news/__news_70_22082025
                     include ./news/__news_69_15072025
                     include ./news/__news_68_03062025
                     include ./news/__news_67_12082025
                     include ./news/__news_66_30072025
                     include ./news/__news_65_24072025
                     include ./news/__news_64_30042025
                     include ./news/__news_63_29042025
                     include ./news/__news_62_28042025
                     include ./news/__news_61_24042025
                     include ./news/__news_60_22042025
                     include ./news/__news_59_16042025
                     include ./news/__news_58_15042025
                     include ./news/__news_57_29052025
                     include ./news/__news_56_27052025
                     include ./news/__news_55_07052025
                     include ./news/__news_54_15112024
                     include ./news/__news_53_15112024
                     include ./news/__news_52-11112024
                     include ./news/__news_51-29102024
                     include ./news/__news_50-12102024
                     include ./news/__news_49-09102024
                     include ./news/__news_48-26092024
                     include ./news/__news_47-19092024
                     include ./news/__news_46-13092024
                     include ./news/__news_45-11092024
                     include ./news/__news_44-10092024
                     include ./news/__news_43-04092024
                     include ./news/__news_42-22082024
                     include ./news/__news_41-20082024
                     include ./news/__news_40-14082024
                     include ./news/__news_39-26072024
                     include ./news/__news_38-01072024
                     include ./news/__news_37-15062024
                     include ./news/__news_36-14062024_2
                     include ./news/__news_35-14062024
                     include ./news/__news_34-11062024
                     include ./news/__news_33-22052024_2
                     include ./news/__news_32-22052024
                     include ./news/__news_31-21052024_2
                     include ./news/__news_30-21052024
                     include ./news/__news_29-26042024
                     include ./news/__news_28-25042024
                     include ./news/__news_27-01042024
                     include ./news/__news_26-29032024
                     include ./news/__news_25-25032024
                     include ./news/__news_24-19022024
                     include ./news/__news_23-16022024
                     include ./news/__news_22-12022024
                     include ./news/__news_21_28112023
                     include ./news/__news_20-27112023
                     include ./news/__news_19-24112023
                     include ./news/__news_18-25102023
                     include ./news/__news_17-28092023
                     include ./news/__news_16-20092023
                     include ./news/__news_15-15092023
                     include ./news/__news_14-12092023
                     include ./news/__news_13-30082023
                     include ./news/__news_12-18082023_2
                     include ./news/__news_11-18082023
                     include ./news/__news_10-17082023
                     include ./news/__news_9-10082023
                     include ./news/__news_8-08082023
                     include ./news/__news_7-28072023
                     include ./news/__news_6-21072023
                     include ./news/__news_5-29062023
                     include ./news/__news_4-05062023
                     include ./news/__news_3-01062023
                     include ./news/__news_2-23052023
                     include ./news/__news_1-27042023



               .all_news__container
                  section( aria-label='Главная новость' ).main_news__container
                     .row
                        .main_news__image
                           img( src='./assets/data/images/news/2026/01.20/0.webp' title='© Центр «IT-куб.Уралмаш»' )
                        main.main_news__holder
                           .main_news__date.text-25 20
                              span.first &nbsp;/&nbsp;
                              span.second .
                              | 01
                              span.first &nbsp;/&nbsp;
                              span.second .
                              | 2026
                           .main_news__text.text-22
                              p Воспитанники Центров «IT-куб» Амурской области показали выдающийся результат на чемпионате по подводно-исследовательскому спорту «IFURS-Благовещенск»
                           a( href='./news.html#news_20-01-2026' ).news__more.hover.inline Подробнее



                  section( aria-label='Новости' ).news_list__container.mt4
                     #news_pagination
                        .news__block.news_block-1#active
                           include ./assets/jade/content/__news-one
                           .pagination__block.pagination_show#block_1
                              +news( '19', '01', '2026', 'Воспитанники Центра «IT-куб. Уралмаш» взяли серебро и бронзу на чемпионате по подводной робототехнике', 'news_19-01-2026' )
                              +news( '13', '01', '2026', 'Учащиеся Центра «IT-куб» покоряют Байконур', 'news_13-01-2026' )
                              +news( '12', '01', '2026', 'Шестой робототехнический фестиваль «ТехноСТАРТ» объединяет юных инженеров Хабаровского края', 'news_12-01-2026' )
                              +news( '26', '12', '2025', 'ФИЦТО исполнит 16&nbsp;новогодних желаний детей из&nbsp;Тульской и&nbsp;Херсонской областей', 'news_26-12-2025' )
                              +news( '22', '12', '2025', 'Центр «ТЕХНО-IT-куб» в&nbsp;Хабаровске стал площадкой для отбора будущих инженеров Дальнего Востока', 'news_22-12-2025' )
                              +news( '15', '12', '2025', 'В Нижнем Тагиле завершился Всероссийский хакатон для юных программистов', 'news_15-12-2025' )
                              +news( '14', '12', '2025', 'Региональный конкурс компьютерного творчества «Digital Art» объединил школьников Тульской и&nbsp;Херсонской областей', 'news_14-12-2025' )
                              +news( '09', '12', '2025', 'Четвёртый сезон инклюзивного конкурса &laquo;Проектор&raquo; стартовал в&nbsp;Смоленске', 'news_09-12-2025' )
                              +news( '03', '12', '2025', 'В Хакасском государственном университете им. Н.Ф. Катанова разработали мобильное приложение-путешествие по Абакану для школьников', 'news_03-12-2025' )
                              +news( '02', '12', '2025', 'Обучающиеся Центра &laquo;IT-куб&raquo; стали призёрами на первой межрегиональной смене по робототехнике в Красноярске', 'news_02-12-2025-2' )
                           .pagination__block#block_2
                              +news( '02', '12', '2025', 'Сборная команда из Свердловской области завоевала международное признание на чемпионате по подводной робототехнике в Минске.', 'news_02-12-2025' )
                              +news( '24', '11', '2025', 'Финал республиканского хакатона «Pro_СПО.18» объединил более 600&nbsp;юных разработчиков в&nbsp;Удмуртии', 'news_24-11-2025' )
                              +news( '17', '11', '2025', 'Шахматный турнир объединил школьников Тульской и Херсонской областей', 'news_17-11-2025' )
                              +news( '01', '11', '2025', 'От Центра &laquo;IT-куб&raquo; до космодрома Байконур: уральские школьники покоряют аэрокосмическую отрасль', 'news_01-11-2025' )
                              +news( '30', '10', '2025', 'Воркшоп &laquo;Искусственный интеллект: Начало пути&raquo; объединил педагогов сети Центров &laquo;IT-куб&raquo; по всей России', 'news_30-10-2025' )
                              +news( '29', '10', '2025', 'Центры &laquo;IT-куб&raquo; достойно выступили на конкурсе инноваций &laquo;Таланты XXI века&raquo;', 'news_29-10-2025' )
                              +news( '24', '10', '2025', 'Подведены итоги Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;', 'news_24-10-2025_2' )
                              +news( '24', '10', '2025', 'Воспитанники Центра &laquo;IT-куб&raquo; в Смоленске &laquo;взломали&raquo; код успеха на международном IT-форуме', 'news_24-10-2025' )
                              +news( '21', '10', '2025', 'Воспитанник Центра &laquo;IT-куб.Кетово&raquo; вошёл в сотню лучших на всероссийском фестивале &laquo;Пилоты будущего&raquo;!', 'news_21-10-2025' )
                              +news( '20', '10', '2025', '&laquo;Цифровое наставничество&raquo; помогает изучению искусственного интеллекта', 'news_20-10-2025' )
                           .pagination__block#block_3
                              +news( '14', '10', '2025', 'Приближается старт Всероссийского онлайн-хакатона &laquo;Код доступа&raquo;!', 'news_14-10-2025' )
                              +news( '13', '10', '2025', 'Сеть Центров &laquo;IT&#8209;куб&raquo; по&nbsp;всей стране погрузились в&nbsp;мир ИИ&#8209;агентов', 'news_13-10-2025_2' )
                              +news( '13', '10', '2025', 'Завершена регистрация на&nbsp;Всероссийский онлайн-хакатон &laquo;Код&nbsp;доступа&raquo;', 'news_13-10-2025' )
                              +news( '07', '10', '2025', 'От&nbsp;&laquo;IT&#8209;куба&raquo; до&nbsp;&laquo;Артека&raquo;: курский школьник вошёл в&nbsp;число победителей профильной IT-смены', 'news_07-10-2025' )
                              +news( '24', '09', '2025', 'Центры &laquo;IT&#8209;куб&raquo; достойно выступили на&nbsp;XII Всероссийской конференции &laquo;Юные техники и&nbsp;изобретатели&raquo;', 'news_24-09-2025' )
                              +news( '18', '09', '2025', 'Онлайн-хакатон &laquo;Код доступа&raquo; объединит юных программистов из&nbsp;Центров &laquo;IT-куб&raquo;', 'news_18-09-2025' )
                              +news( '17', '09', '2025', '&laquo;Цифровое наставничество&raquo;: сотрудничество организаций Удмуртской Республики, Херсонской области и&nbsp;ЛНР', 'news_17-09-2025' )
                              +news( '08', '09', '2025', '&laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Княгинино&raquo; и&nbsp;ГБОУДО &laquo;Центр технического творчества&raquo;&nbsp;&mdash; &laquo;Кванториум&raquo;', 'news_08-09-2025' )
                              +news( '03', '09', '2025', 'Центр &laquo;IT&#8209;куб. Болохово&raquo; в&nbsp;День знаний провёл региональный телемост &laquo;Навстречу цифровому будущему!&raquo;', 'news_03-09-2025' )
                              +news( '22', '08', '2025', 'Центры &laquo;IT&#8209;куб&raquo; открывают двери в&nbsp;новый учебный&nbsp;год', 'news_22-08-2025' )
                           .pagination__block#block_4
                              +news( '12', '08', '2025', '&laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Липецк&raquo; и&nbsp;&laquo;Донецкой гимназии &#8470;6&raquo;', 'news_12-08-2025' )
                              +news( '30', '07', '2025', 'Обучающиеся Центра &laquo;IT&#8209;куб. Магнитогорск&raquo; создали смарт-теплицу', 'news_30-07-2025' )
                              +news( '24', '07', '2025', '&laquo;Цифровое наставничество&raquo;: сотрудничество Центра &laquo;IT&#8209;куб. Болохово&raquo; и&nbsp;Генической школы &#8470;1&raquo;', 'news_24-07-2025' )
                              +news( '15', '07', '2025', 'Сергей Кравцов рассказал о&nbsp;планах развития допобразования', 'news_15-07-2025' )
                              +news( '03', '06', '2025', 'Подведены итоги финала чемпионата &laquo;Профессионалы&raquo;', 'news_03-06-2025' )
                              +news( '29', '05', '2025', 'Обучающиеся Центра &laquo;IT&#8209;куб. Оренбург&raquo; заняли второе место на&nbsp;первом Кубке России по&nbsp;спортивному программированию', 'news_29-05-2025' )
                              +news( '27', '05', '2025', 'Обучающиеся Центра &laquo;IT&#8209;куб. Болохово&raquo; разработали мобильное приложение для&nbsp;&laquo;Генической школы &#8470;1&raquo;', 'news_27-05-2025' )
                              +news( '07', '05', '2025', 'Центры &laquo;IT&#8209;куб&raquo; участвуют в&nbsp;мероприятиях, приуроченных ко&nbsp;Дню Победы', 'news_07-05-2025' )
                              +news( '30', '04', '2025', 'В&nbsp;Центре &laquo;IT&#8209;куб. Княгинино&raquo; прошёл VII областной молодёжный технический фестиваль &laquo;IT-диалог. Твоё цифровое будущее&raquo;', 'news_30-04-2025' )
                              +news( '29', '04', '2025', 'В&nbsp;Центре &laquo;IT&#8209;куб. Болохово&raquo; прошла онлайн-дискуссия &laquo;Путь наставника: расширение возможностей обучения&raquo;', 'news_29-04-2025' )
                              +news( '28', '04', '2025', 'Команда ФИЦТО провела тестовый запуск геймифицированного мобильного приложения в&nbsp;Центре &laquo;IT&#8209;куб. Химки&raquo;', 'news_28-04-2025' )
                              +news( '24', '04', '2025', 'Обучающиеся центров &laquo;IT&#8209;куб&raquo; стали победителями и&nbsp;призёрами Всероссийского конкурса ИКаР', 'news_24-04-2025' )
                              +news( '22', '04', '2025', 'ФГАНУ &laquo;ФИЦТО&raquo; совместно c&nbsp;Центром &laquo;IT&#8209;куб. Химки&raquo; проведёт цифровой квест', 'news_22-04-2025' )
                              +news( '16', '04', '2025', 'В&nbsp;Центре IT&#8209;куб. Болохово&raquo; прошла Неделя космонавтики-2025', 'news_16-04-2025' )
                           .pagination__block#block_5
                              +news( '15', '04', '2025', 'Разработчики ФИЦТО совместно c&nbsp;командой &laquo;IT&#8209;куб. Смоленск&raquo; создали мобильное приложение &laquo;Столовая Минпросвещения&raquo;', 'news_15-04-2025' )
                              +news( '15', '11', '2024', 'Объявлены победители II Всероссийского конкурса педагогов &laquo;IT&#8209;куб&raquo;', 'news_15-11-2024-2' )
                              +news( '15', '11', '2024', 'В Смоленске стартует финал II Всероссийского конкурса педагогов центров &laquo;IT&#8209;куб&raquo;', 'news_15-11-2024' )
                              +news( '11', '11', '2024', 'ProVR в&nbsp;Оренбурге: три дня вдохновения и&nbsp;высоких технологий', 'news_11-11-2024' )
                              +news( '29', '10', '2024', 'К&nbsp;проекту &laquo;Цифровое наставничество&raquo; подключилась ещё одна школа в&nbsp;Херсонской области', 'news_29-10-2024' )
                              +news( '12', '10', '2024', 'Новые звёзды IT: объявлены победители II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_12-10-2024' )
                              +news( '09', '10', '2024', 'Программирование и&nbsp;креатив: стартовал финал II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_09-10-2024' )
                              +news( '26', '09', '2024', 'Ещё одна школа Херсонской области присоединилась к&nbsp;проекту &laquo;Цифровое наставничество&raquo;', 'news_26-09-2024' )
                              +news( '19', '09', '2024', 'Подписано соглашение о&nbsp;сотрудничестве между школой Херсонской области и&nbsp;Центром &raquo;IT&#8209;куб&laquo; Болохово', 'news_19-09-2024' )
                              +news( '13', '09', '2024', 'На Всероссийском хакатоне выступят команды из&nbsp;23 регионов страны', 'news_13-09-2024' )
                              +news( '11', '09', '2024', 'Объявлены финалисты Всероссийского конкурса педагогов центров &laquo;IT&#8209;куб&raquo;', 'news_11-09-2024' )
                              +news( '10', '09', '2024', 'В &laquo;IT&#8209;куб. Иркутск&raquo; успешно протестировали &laquo;Азбуку МойОфис&raquo;', 'news_10-09-2024' )
                              +news( '04', '09', '2024', 'В Минпросвещения России открылась выставка достижений обучающихся центров &laquo;IT&#8209;куб&raquo;', 'news_04-09-2024' )
                              +news( '22', '08', '2024', 'Подведены итоги II Всероссийского съезда руководителей центров цифрового образования детей &laquo;IT&#8209;куб&raquo;', 'news_22-08-2024' )
                           .pagination__block#block_6
                              +news( '20', '08', '2024', 'II Всероссийский съезд руководителей центров &laquo;IT&#8209;куб&raquo; начал работу в&nbsp;Челябинске', 'news_20-08-2024' )
                              +news( '14', '08', '2024', 'Подписано соглашение о&nbsp;сотрудничестве между ФГАНУ&nbsp;&laquo;ФИЦТО&raquo;, образовательной организацией ЛНР и&nbsp;Центром &laquo;IT&#8209;куб&raquo;&nbsp;Ижевска', 'news_14-08-2024' )
                              +news( '26', '07', '2024', 'Открыта страница выставки достижений обучающихся центров &laquo;IT&#8209;куб&raquo;', 'news_26-07-2024' )
                              +news( '01', '07', '2024', 'Стартовал тренировочный этап Всероссийской олимпиады по&nbsp;искусственному интеллекту 2024&nbsp;года от&nbsp;Минпросвещения России', 'news_01-07-2024' )
                              +news( '15', '06', '2024', 'Завершилась череда окружных совещаний для&nbsp;руководителей Центров цифрового образования детей &laquo;IT&#8209;куб&raquo;', 'news_15-06-2024' )
                              +news( '14', '06', '2024', 'Участники Окружного совещания руководителей Центров &laquo;IT&#8209;куб&raquo; в&nbsp;Красноярске обсудили практические вопросы и&nbsp;результаты работы', 'news_14-06-2024_2' )
                              +news( '14', '06', '2024', 'Третье окружное совещание руководителей Центров &laquo;IT&#8209;куб&raquo; &laquo;Поиск решений&raquo; открылось в&nbsp;Красноярске', 'news_14-06-2024' )
                              +news( '11', '06', '2024', 'Завершился приём работ отборочного этапа II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_11-06-2024' )
                              +news( '22', '05', '2024', 'На&nbsp;втором Окружном совещании в&nbsp;Грозном прошёл круглый стол &laquo;IT: соперничество или&nbsp;сотрудничество?&raquo;', 'news_22-05-2024_2' )
                              +news( '22', '05', '2024', 'Участники Окружного совещания руководителей Центров &laquo;IT&#8209;куб&raquo; в&nbsp;Грозном обсудили цифровизацию регионального образования', 'news_22-05-2024' )
                              +news( '21', '05', '2024', 'Участники Окружного совещания руководителей Центров &laquo;IT&#8209;куб&raquo; обменялись опытом и&nbsp;практическими наработками', 'news_21-05-2024' )
                              +news( '21', '05', '2024', 'В&nbsp;Грозном открылось окружное совещание руководителей ЦЦОД &laquo;IT&#8209;куб&raquo; &laquo;Поиск решений&raquo;', 'news_21-05-2024_2' )
                              +news( '26', '04', '2024', 'Опубликован Календарь рекомендованных региональных мероприятий Центров цифрового образования детей &laquo;IT&#8209;куб&raquo;', 'news_26-04-2024' )
                              +news( '25', '04', '2024', 'Продолжается приём заявок на&nbsp;II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_25-04-2024' )
                              +news( '01', '04', '2024', 'Центры &laquo;IT&#8209;куб&raquo; приняли участие в&nbsp;работе форума &laquo;Цифровой мир в&nbsp;жизни общества&raquo;', 'news_01-04-2024' )
                              +news( '29', '03', '2024', 'ФГАНУ &laquo;ФИЦТО&raquo; открывает серию окружных совещаний руководителей Центров &laquo;IT&#8209;куб&raquo;', 'news_29-03-2024' )
                              +news( '25', '03', '2024', 'Опубликован календарь федеральных мероприятий, проводимых для&nbsp;Центров &laquo;IT&#8209;куб&raquo;, на&nbsp;2024&nbsp;год', 'news_25-03-2024' )
                           .pagination__block#block_7
                              +news( '19', '02', '2024', '&laquo;IT&#8209;кубы&raquo; достойно провели День образования на&nbsp;выставке&ndash;форуме &laquo;Россия&raquo;', 'news_19-02-2024' )
                              +news( '16', '02', '2024', '&laquo;IT&#8209;куб. Иркутск&raquo; начал работать по&nbsp;учебным пособиям МойОфис: обучающиеся по&nbsp;направлению &laquo;Кибергигиена и&nbsp;работа с&nbsp;большими данными&raquo; знакомятся с&nbsp;&laquo;Азбукой цифровой грамотности&raquo;', 'news_16-02-2024' )
                              +news( '12', '02', '2024', '&laquo;IT&#8209;кубы&raquo; на&nbsp;выставке&ndash;форуме &laquo;Россия&raquo;: цифровые наработки и&nbsp;достижения юных россиян представлены на&nbsp;главной выставке страны', 'news_12-02-2024' )
                              +news( '28', '11', '2023', 'Участники онлайн&nbsp;семинара &laquo;IT в&nbsp;кубе&raquo; обменялись опытом организации образовательных инициатив в&nbsp;рамках Нацпроекта &laquo;Образование&raquo;', 'news_28-11-2023' )
                              +news( '27', '11', '2023', 'Награждены победители Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_27-11-2023' )
                              +news( '24', '11', '2023', 'Дан старт очному этапу Всероссийского хакатона по&nbsp;программированию', 'news_24-11-2023_1' )
                              +news( '25', '10', '2023', 'На шестом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили сетевое взаимодействие в&nbsp;сфере образования и&nbsp;предстоящие мероприятия', 'news_25-10-2023_1' )
                              +news( '28', '09', '2023', 'На пятом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; были представлены образовательные решения для&nbsp;преподавателей и&nbsp;обучающихся', 'news_28-09-2023_1' )
                              +news( '20', '09', '2023', 'ФГАНУ &laquo;ФИЦТО&raquo; провело стажировку финалистов городского проекта &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo; из&nbsp;Сургута', 'news_20-09-2023_1' )
                              +news( '15', '09', '2023', 'Стартовал Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_15-09-2023_1' )
                              +news( '12', '09', '2023', 'Дан старт Всероссийской олимпиаде по&nbsp;искусственному интеллекту&nbsp;2023', 'news_12-09-2023_1' )
                              +news( '30', '08', '2023', 'На&nbsp;онлайн&ndash;семинаре &laquo;IT в кубе&raquo; был анонсирован всероссийский хакатон по&nbsp;программированию для&nbsp;обучающихся Центров &laquo;IT&ndash;куб&raquo;', 'news_30-08-2023_2' )
                              +news( '18', '08', '2023', 'На съезде руководителей Центров &laquo;IT&ndash;куб&raquo; обсудили внедрение цифровых технологий в&nbsp;систему российского образования', 'news_18-08-2023_2' )
                              +news( '18', '08', '2023', 'На съезде руководителей Центров &laquo;IT&ndash;куб&raquo; обсудили взаимодействие с&nbsp;технологическими партнёрами', 'news_18-08-2023_1' )
                              +news( '17', '08', '2023', 'В Тюмени открылся первый Всероссийский съезд руководителей центров цифрового образования детей &laquo;IT&#8209;куб&raquo;', 'news_17-08-2023_1' )
                              +news( '10', '08', '2023', 'Подведены итоги первого этапа I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT&ndash;куб&raquo;', 'news_10-08-2023_1' )
                              +news( '08', '08', '2023', 'Экспертиза заявок участников I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT&ndash;куб&raquo; завершилась', 'news_08-08-2023_1' )
                              +news( '28', '07', '2023', 'Руководители ЦЦОД &laquo;IT&ndash;куб&raquo; встретятся в&nbsp;Тюмени на&nbsp;Всероссийском съезде &laquo;Как&nbsp;Управлять Будущим&raquo;', 'news_28-07-2023_1' )
                              +news( '21', '07', '2023', 'Началась экспертиза заявок участников I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей', 'news_21-07-2023_1' )
                              +news( '29', '06', '2023', 'На&nbsp;очередном онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили федеральные мероприятия и&nbsp;региональные практики', 'news_29-06-2023_1' )
                              +news( '05', '06', '2023', 'ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;АРПП &laquo;Отечественный софт&raquo; заключили соглашение о&nbsp;сотрудничестве', 'news_05-06-2023_1' )
                              +news( '01', '06', '2023', 'На&nbsp;втором онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; анонсировали актуальные мероприятия для&nbsp;педагогов и&nbsp;руководителей Центров &laquo;IT&#8209;куб&raquo;', 'news_01-06-2023_1')
                              +news( '23', '05', '2023', 'Сотрудники ФГАНУ &laquo;ФИЦТО&raquo; оценивали лучшие проекты учащихся на&nbsp;Фестивале идей &laquo;Коллаборация&raquo;', 'news_23-05-2023_1' )
                              +news( '27', '04', '2023', 'На&nbsp;первом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили форматы поддержки центров &laquo;IT&#8209;куб&raquo; в&nbsp;2023&nbsp;году', 'news_27-04-2023_1' )

                        include ./assets/jade/content/pagination







      include assets/jade/footer/footer

      include assets/jade/static/script




