doctype
html

   include assets/jade/static/__head
   +title( 'Новости центров | IT-cube' )

   body
      include assets/jade/static/metrika
      #container_news
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', 'active', '', '', '', '', '', '', '' , '' )
         include assets/jade/header/main-pages

         section( aria-label='Новости проекта' ).news__container
            .wrapper
               h1.caption Новости центров
                  .wwnow &laquo;IT&ndash;куб&raquo;

         section( aria-label='Главная новость' ).main_news__container
            .wrapper
               .row
                  .main_news__image
                     img( src='./assets/data/images/news/2024/04.09/1.webp' )
                  main#news_04-09-2024.main_news__holder
                     .main_news__date.text-25 04
                        span.first &nbsp;/&nbsp;
                        span.second .
                        | 09
                        span.first &nbsp;/&nbsp;
                        span.second .
                        | 2024
                     .main_news__text.text-22
                        p В Минпросвещения России открылась выставка достижений обучающихся центров &laquo;IT-куб&raquo;
                     a( href='./news/news-one.html#news_04-09-2024' ).news__more.hover.inline Подробнее

         section( aria-label='Новости' ).news_list__container.mt4
            .wrapper
               #news_pagination
                  .news__block.news_block-1#active
                     include assets/jade/content/__news-one
                     .pagination__block.pagination_show#block_1
                        +news( '22', '08', '2024', 'Подведены итоги II Всероссийского съезда руководителей центров цифрового образования детей &laquo;IT-куб&raquo;', 'news_22-08-2024' )
                        +news( '20', '08', '2024', 'II Всероссийский съезд руководителей центров &laquo;IT-куб&raquo; начал работу в&nbsp;Челябинске', 'news_20-08-2024' )
                        +news( '14', '08', '2024', 'Подписано соглашение о&nbsp;сотрудничестве между ФГАНУ&nbsp;&laquo;ФИЦТО&raquo;, образовательной организацией ЛНР и&nbsp;Центром &laquo;IT-куб&raquo;&nbsp;Ижевска', 'news_14-08-2024' )
                        +news( '26', '07', '2024', 'Открыта страница выставки достижений обучающихся центров &laquo;IT-куб&raquo;', 'news_26-07-2024' )
                        +news( '01', '07', '2024', 'Стартовал тренировочный этап Всероссийской олимпиады по&nbsp;искусственному интеллекту 2024&nbsp;года от&nbsp;Минпросвещения России', 'news_01-07-2024' )
                        +news( '15', '06', '2024', 'Завершилась череда окружных совещаний для&nbsp;руководителей Центров цифрового образования детей &laquo;IT-куб&raquo;', 'news_15-06-2024' )
                     .pagination__block#block_2
                        +news( '14', '06', '2024', 'Участники Окружного совещания руководителей Центров &laquo;IT-куб&raquo; в&nbsp;Красноярске обсудили практические вопросы и&nbsp;результаты работы', 'news_14-06-2024_2' )
                        +news( '14', '06', '2024', 'Третье окружное совещание руководителей Центров &laquo;IT-куб&raquo; &laquo;Поиск решений&raquo; открылось в&nbsp;Красноярске', 'news_14-06-2024' )
                        +news( '11', '06', '2024', 'Завершился приём работ отборочного этапа II&nbsp;Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_11-06-2024' )
                        +news( '22', '05', '2024', 'На&nbsp;втором Окружном совещании в&nbsp;Грозном прошёл круглый стол &laquo;IT: соперничество или&nbsp;сотрудничество?&raquo;', 'news_22-05-2024_2' )
                        +news( '22', '05', '2024', 'Участники Окружного совещания руководителей Центров &laquo;IT-куб&raquo; в&nbsp;Грозном обсудили цифровизацию регионального образования', 'news_22-05-2024' )
                        +news( '21', '05', '2024', 'Участники Окружного совещания руководителей Центров &laquo;IT-куб&raquo; обменялись опытом и&nbsp;практическими наработками', 'news_21-05-2024' )
                     .pagination__block#block_3
                        +news( '21', '05', '2024', 'В&nbsp;Грозном открылось окружное совещание руководителей ЦЦОД &laquo;IT-куб&raquo; &laquo;Поиск решений&raquo;', 'news_21-05-2024_2' )
                        +news( '26', '04', '2024', 'Опубликован Календарь рекомендованных региональных мероприятий Центров цифрового образования детей &laquo;IT-куб&raquo;', 'news_26-04-2024' )
                        +news( '25', '04', '2024', 'Продолжается приём заявок на&nbsp;II&nbsp;Всероссийский хакатон &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_25-04-2024' )
                        +news( '01', '04', '2024', 'Центры &laquo;IT-куб&raquo; приняли участие в&nbsp;работе форума &laquo;Цифровой мир в&nbsp;жизни общества&raquo;', 'news_01-04-2024' )
                        +news( '29', '03', '2024', 'ФГАНУ &laquo;ФИЦТО&raquo; открывает серию окружных совещаний руководителей Центров &laquo;IT-куб&raquo;', 'news_29-03-2024' )
                        +news( '25', '03', '2024', 'Опубликован календарь федеральных мероприятий, проводимых для&nbsp;Центров &laquo;IT-куб&raquo;, на&nbsp;2024&nbsp;год', 'news_25-03-2024' )
                     .pagination__block#block_4
                        +news( '19', '02', '2024', '&laquo;IT-кубы&raquo; достойно провели День образования на&nbsp;выставке&ndash;форуме &laquo;Россия&raquo;', 'news_19-02-2024' )
                        +news( '16', '02', '2024', '&laquo;IT-куб. Иркутск&raquo; начал работать по&nbsp;учебным пособиям МойОфис: обучающиеся по&nbsp;направлению &laquo;Кибергигиена и&nbsp;работа с&nbsp;большими данными&raquo; знакомятся с&nbsp;&laquo;Азбукой цифровой грамотности&raquo;', 'news_16-02-2024' )
                        +news( '12', '02', '2024', '&laquo;IT-кубы&raquo; на&nbsp;выставке&ndash;форуме &laquo;Россия&raquo;: цифровые наработки и&nbsp;достижения юных россиян представлены на&nbsp;главной выставке страны', 'news_12-02-2024' )
                        +news( '28', '11', '2023', 'Участники онлайн&nbsp;семинара &laquo;IT в&nbsp;кубе&raquo; обменялись опытом организации образовательных инициатив в&nbsp;рамках Нацпроекта &laquo;Образование&raquo;', 'news_28-11-2023' )
                        +news( '27', '11', '2023', 'Награждены победители Всероссийского хакатона &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_27-11-2023' )
                        +news( '24', '11', '2023', 'Дан старт очному этапу Всероссийского хакатона по&nbsp;программированию', 'news_24-11-2023_1' )
                     .pagination__block#block_5
                        +news( '25', '10', '2023', 'На шестом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили сетевое взаимодействие в&nbsp;сфере образования и&nbsp;предстоящие мероприятия', 'news_25-10-2023_1' )
                        +news( '28', '09', '2023', 'На пятом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; были представлены образовательные решения для&nbsp;преподавателей и&nbsp;обучающихся', 'news_28-09-2023_1' )
                        +news( '20', '09', '2023', 'ФГАНУ &laquo;ФИЦТО&raquo; провело стажировку финалистов городского проекта &laquo;Будущее здесь&nbsp;&mdash; 2023&raquo; из&nbsp;Сургута', 'news_20-09-2023_1' )
                        +news( '15', '09', '2023', 'Стартовал Всероссийский хакатон по&nbsp;программированию &laquo;Обучаюсь. Проектирую. Программирую. Будущее&raquo;', 'news_15-09-2023_1' )
                        +news( '12', '09', '2023', 'Дан старт Всероссийской олимпиаде по&nbsp;искусственному интеллекту&nbsp;2023', 'news_12-09-2023_1' )
                        +news( '30', '08', '2023', 'На&nbsp;онлайн&ndash;семинаре &laquo;IT в кубе&raquo; был анонсирован всероссийский хакатон по&nbsp;программированию для&nbsp;обучающихся Центров &laquo;IT&ndash;куб&raquo;', 'news_30-08-2023_2' )
                     .pagination__block#block_6
                        +news( '18', '08', '2023', 'На съезде руководителей Центров &laquo;IT&ndash;куб&raquo; обсудили внедрение цифровых технологий в&nbsp;систему российского образования', 'news_18-08-2023_2' )
                        +news( '18', '08', '2023', 'На съезде руководителей Центров &laquo;IT&ndash;куб&raquo; обсудили взаимодействие с&nbsp;технологическими партнёрами', 'news_18-08-2023_1' )
                        +news( '17', '08', '2023', 'В Тюмени открылся первый Всероссийский съезд руководителей центров цифрового образования детей &laquo;IT-куб&raquo;', 'news_17-08-2023_1' )
                        +news( '10', '08', '2023', 'Подведены итоги первого этапа I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT&ndash;куб&raquo;', 'news_10-08-2023_1' )
                        +news( '08', '08', '2023', 'Экспертиза заявок участников I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей &laquo;IT&ndash;куб&raquo; завершилась', 'news_08-08-2023_1' )
                     .pagination__block#block_7
                        +news( '28', '07', '2023', 'Руководители ЦЦОД &laquo;IT&ndash;куб&raquo; встретятся в&nbsp;Тюмени на&nbsp;Всероссийском съезде &laquo;Как&nbsp;Управлять Будущим&raquo;', 'news_28-07-2023_1' )
                        +news( '21', '07', '2023', 'Началась экспертиза заявок участников I&nbsp;Всероссийского конкурса педагогов Центров цифрового образования детей', 'news_21-07-2023_1' )
                        +news( '29', '06', '2023', 'На&nbsp;очередном онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили федеральные мероприятия и&nbsp;региональные практики', 'news_29-06-2023_1' )
                        +news( '05', '06', '2023', 'ФГАНУ &laquo;ФИЦТО&raquo; и&nbsp;АРПП &laquo;Отечественный софт&raquo; заключили соглашение о&nbsp;сотрудничестве', 'news_05-06-2023_1' )
                        +news( '01', '06', '2023', 'На&nbsp;втором онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; анонсировали актуальные мероприятия для&nbsp;педагогов и&nbsp;руководителей Центров &laquo;IT-куб&raquo;', 'news_01-06-2023_1')
                     .pagination__block#block_8
                        +news( '23', '05', '2023', 'Сотрудники ФГАНУ &laquo;ФИЦТО&raquo; оценивали лучшие проекты учащихся на&nbsp;Фестивале идей &laquo;Коллаборация&raquo;', 'news_23-05-2023_1' )
                        +news( '27', '04', '2023', 'На&nbsp;первом онлайн&ndash;семинаре &laquo;IT в&nbsp;кубе&raquo; обсудили форматы поддержки центров &laquo;IT-куб&raquo; в&nbsp;2023&nbsp;году', 'news_27-04-2023_1' )


                  include assets/jade/content/pagination

         include assets/jade/footer/footer

      include assets/jade/static/script




