doctype
html

   include assets/jade/static/__head
   +title( 'Конкурс педагогов | IT-cube')

   body
      include assets/jade/static/metrika
      #container_competition
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', 'active' )
         include assets/jade/header/main-pages

         include assets/jade/content/teacher_competition/top

         section( aria-label='О конкурсе' ).about_competition__container.mt8
            .wrapper
               h1.caption.mb4.center О конкурсе
               .row
                  .about_competition__holder
                     h2.title.mb4 Цели конкурса
                     include assets/jade/content/teacher_competition/__about
                     +about-item( '' )
                  .about_competition
                     .about_competition_icon



         include assets/jade/footer/footer

      include assets/jade/static/script




