doctype
html

   include assets/jade/static/__head
   +title( 'Конкурс педагогов | IT-cube')

   body
      include assets/jade/static/metrika
      #container_competition
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', '', '', '', 'active', '', '', '', '' )
         include assets/jade/header/main-pages

         include assets/jade/content/teacher_competition/top

         section( aria-label='О конкурсе' )#about.about_competition__container
            .wrapper
               h1.caption.mb4.center
                  span О&nbsp;конкурсе
               .about_competition__holder
                  h2.title.mb4 Цели конкурса
                  include assets/jade/content/teacher_competition/__about
                  +about-item( 'Повышение престижа профессии &laquo;Педагог дополнительного образования&raquo;' )
                  +about-item( 'Выявление талантливых педагогов' )
                  +about-item( 'Создание эффективных условий, обеспечивающих непрерывное профессиональное развитие' )
                  +about-item( 'Кооперация знаний' )
                  +about-item( 'Развитие новых форм наставничества в&nbsp;сфере дополнительного образования детей' )
               .about_competition
                  .about_competition_icon

         section( aria-label='Какие задачи преследует этот конкурс' )#task.competition_task__container.mt8
            .wrapper
               h1.title.mb4 Задачи конкурса
               .row
                  include assets/jade/content/teacher_competition/__task
                  +task( '01', 'Совершенствование профессионального мастерства педагогов дополнительного образования' )
                  +task( '02', 'Повышение общественного и&nbsp;профессионального статуса педагогов дополнительного образования' )
                  +task( '03', 'Выявление лучших педагогических практик и&nbsp;образовательных технологий в&nbsp;сфере дополнительного образования' )
                  +task( '04', 'Консолидация сообщества педагогов Центров &laquo;IT-куб&raquo;' )
                  +task( '05', 'Обобщение и&nbsp;трансляция опыта педагогов' )


         section( aria-label='Этапы проведения"' )#stages.competition_stage__container.mt7
            .wrapper
               h1.caption.center.mb7 Этапы проведения
               .competition_stage__block
                  .competition_stage__row-top
                     .competition_stage__icon.stage_icon-1
                     .stage-arrow
                     .competition_stage__arrow
                        object( type="image/svg+xml", data="assets/data/teacher_competition/animate/arrow-1.svg" )
                           img( src='./assets/data/teacher_competition/icons/icon-stage-arrow-adapt.svg' )

                     .competition_stage__icon.stage_icon-2
                     .stage-arrow
                     .competition_stage__arrow
                        object( type="image/svg+xml", data="assets/data/teacher_competition/animate/arrow-2.svg" )
                           img( src='./assets/data/teacher_competition/icons/icon-stage-arrow-adapt.svg' )
                     .competition_stage__icon.stage_icon-3
                  .competition_stage__row-bottom
                     .competition_stage__holder.text-22
                        .competition_stage__about
                           .competition_stage__title
                              h2.title.mb15 Отборочный этап
                           .competition_stage__phase Прием заявок на&nbsp;конкурс
                           .competition_stage__text.mb1 до 1&nbsp;июня 2024&nbsp;года (включительно)
                           .competition_stage__phase Работа конкурсной комиссии
                           .competition_stage__text.mb1 июнь&nbsp;&mdash; август 2024&nbsp;года
                           .competition_stage__phase Объявление финалистов
                           .competition_stage__text.mb1 10&nbsp;сентября 2024&nbsp;года

                     .competition_stage__holder.text-22
                        .competition_stage__about
                           .competition_stage__title
                              h2.title.mb15 Подготовительный этап
                           .competition_stage__phase Подготовка презентационных материалов финалистами
                           .competition_stage__text.mb1 сентябрь&nbsp;&mdash; октябрь 2024&nbsp;года

                     .competition_stage__holder.text-22
                        .competition_stage__about
                           .competition_stage__title
                              h2.title.mb15 Заключительный этап
                           .competition_stage__phase Финал Конкурса
                           .competition_stage__text.mb-10 15&nbsp;ноября 2024&nbsp;года
                           .competition_stage__phase Публичная презентация дополнительной общеобразовательной программы педагогов Центров &laquo;IT-куб&raquo;


         section( aria-label='Финалисты' )#semifinalists.semifinalists__container.mt8
            .wrapper
               h1.caption.center.mb5 Финалисты конкурса

               article.semifinalists__holder.mt4.semifinalists-1
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Программирование
                  .row
                     include assets/jade/content/teacher_competition/__semifinalists
                     +semifinalists( 'Кузнецова Ксения Валерьевна ', '&laquo;IT-куб&raquo; г.&nbsp;Мурманск ', 'lapaev', 'https://vk.com/video_ext.php?oid=-193270730&id=456239041&hash=3928020f79a45862', 'https://vk.com/video-193270730_456239041?list=ln-qM79z6owHAfgm3Zgw0' )
                     +semifinalists( 'Никифорова Маргарита Дмитриевна', '&laquo;IT-куб&raquo; г.&nbsp;Магнитогорск (Челябинская область)', 'makarenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239042&hash=07bb8b6189d7def0', 'https://vk.com/video-193270730_456239042?list=ln-JpLB5Hkeq07Ob5P6bN' )
                     +semifinalists( 'Шатров Антон Рудольфович', '&laquo;IT-куб&raquo; г.&nbsp;Южноуральск (Челябинская область)', 'kovalev', 'https://vk.com/video_ext.php?oid=-193270730&id=456239043&hash=f3acbc5d57786ced', 'https://vk.com/video-193270730_456239043?list=ln-tniBz0wnycf2f5WQPK' )

               article.semifinalists__holder.mt4.semifinalists-2
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Разработка VR/AR-приложений
                  .row
                     +semifinalists( 'Войт Екатерина Игоревна', '&laquo;IT-куб&raquo; г.&nbsp;Сыктывкар', 'ilyina', 'https://vk.com/video_ext.php?oid=-193270730&id=456239053&hash=bd0da4f6574769f2', 'https://vk.com/video-193270730_456239053?list=ln-odY2ooImkB68rI1FhH' )
                     +semifinalists( 'Вдовиченко Никита Александрович', '&laquo;IT-куб&raquo; г.&nbsp;Кировск (Мурманская область)', 'anisimov', 'https://vk.com/video_ext.php?oid=-193270730&id=456239054&hash=0840d904fbc36409', 'https://vk.com/video-193270730_456239054?list=ln-g5VY6JXbaW4RflF3ww' )
                     +semifinalists( 'Бобровских Владимир Алексеевич', '&laquo;IT-куб&raquo; г.&nbsp;Семёнов (Нижегородская область)', 'lobanova', 'https://vk.com/video_ext.php?oid=-193270730&id=456239056&hash=fda655456c3f84a3', 'https://vk.com/video-193270730_456239056?list=ln-ztHbphJAVfERGvjBep' )

               article.semifinalists__holder.mt4.semifinalists-3
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Системное администрирование
                  .row
                     +semifinalists( 'Зорин Захар Алексеевич', '&laquo;IT-куб&raquo; г.&nbsp;Княгинино (Нижегородская область)', 'muravcev', 'https://vk.com/video_ext.php?oid=-193270730&id=456239057&hash=2ad31d38fea640de', 'https://vk.com/video-193270730_456239057?list=ln-ABM8D0zdaw8trXrwlU' )
                     +semifinalists( 'Самореченков Кирилл Александрович', '&laquo;IT-куб&raquo; г.&nbsp;Верхняя Пышма  (Свердловская область)', 'malcev', 'https://vk.com/video_ext.php?oid=-193270730&id=456239058&hash=fc675cb916a41e97', 'https://vk.com/video-193270730_456239058?list=ln-82jR0qNpreJd1wx6zz' )
                     +semifinalists( 'Плугов Сергей Юрьевич', '&laquo;IT-куб&raquo; г.&nbsp;Владикавказ', 'dyachkovskiy', 'https://vk.com/video_ext.php?oid=-193270730&id=456239059&hash=e2771430c2b1a280', 'https://vk.com/video-193270730_456239059?list=ln-ZdYnOh8pFJzN64ELK3' )

               article.semifinalists__holder.mt4.semifinalists-4
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Кибергигиена
                  .row
                     +semifinalists( 'Староверова Елена Львовна ', '&laquo;IT-куб&raquo; г.&nbsp;Астрахань', 'didenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239045&hash=0422fb01ecd865f7', 'https://vk.com/video-193270730_456239045?list=ln-LoJ1tj9TLFU37Px8Ez' )
                     +semifinalists( 'Суслов Петр Витальевич ', '&laquo;IT-куб&raquo; г.&nbsp;Челябинск', 'shmelev', 'https://vk.com/video_ext.php?oid=-193270730&id=456239046&hash=52e041c2ea0c8def', 'https://vk.com/video-193270730_456239046?list=ln-QmXuKJaJv64pOkZ5vq' )
                     +semifinalists( 'Жукова Юлия Николаевна', '&laquo;IT-куб&raquo; г.&nbsp;Липецк', 'klichenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239048&hash=1efdbf4a604a2e30', 'https://vk.com/video-193270730_456239048?list=ln-QzMVBYZs8YaWCVoZ32' )

               article.semifinalists__holder.mt4.semifinalists-5
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Алгоритмика и&nbsp;логика
                  .row
                     +semifinalists( 'Качалина Екатерина Алексеевна', '&laquo;IT-куб&raquo; г.&nbsp;Рязань', 'razdobreeva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239049&hash=b46b70ca90019502', 'https://vk.com/video-193270730_456239049?list=ln-cZ18Oxub2ngZhqGxQt' )
                     +semifinalists( 'Новгородов Айисен Александрович', '&laquo;IT-куб&raquo; г.&nbsp;Якутск', 'bondareva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239050&hash=935dcfe59cc0bea9', 'https://vk.com/video-193270730_456239050?list=ln-8wLbKK6OZ1l2b1YLaz' )
                     +semifinalists( 'Осипова Анастасия Сергеевна ', '&laquo;IT-куб&raquo; г.&nbsp;Новосибирск', 'davidenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239051&hash=3991919358221e03', 'https://vk.com/video-193270730_456239051?list=ln-K1pYAmNlGDS0HZ0klB' )

               article.semifinalists__holder.mt4.semifinalists-6
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Мобильная разработка
                  .row
                     +semifinalists( 'Воротова Наталия Афонасьевна ', '&laquo;IT-куб&raquo; г.&nbsp;Ижевск', 'razdobreeva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239049&hash=b46b70ca90019502', 'https://vk.com/video-193270730_456239049?list=ln-cZ18Oxub2ngZhqGxQt' )
                     +semifinalists( 'Вантеева Анастасия Леонидовна ', '&laquo;IT-куб&raquo; г.&nbsp;Ангарск (Иркутская область)', 'bondareva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239050&hash=935dcfe59cc0bea9', 'https://vk.com/video-193270730_456239050?list=ln-8wLbKK6OZ1l2b1YLaz' )
                     +semifinalists( 'Миронова Елена Николаевна', '&laquo;IT-куб&raquo; г.&nbsp;Санкт-Петербург', 'davidenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239051&hash=3991919358221e03', 'https://vk.com/video-193270730_456239051?list=ln-K1pYAmNlGDS0HZ0klB' )

               article.semifinalists__holder.mt4.semifinalists-7
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Робототехника
                  .row
                     +semifinalists( 'Паньшина Арина Сергеевна ', '&laquo;IT-куб&raquo; г.&nbsp;Княгинино (Нижегородская область)', 'razdobreeva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239049&hash=b46b70ca90019502', 'https://vk.com/video-193270730_456239049?list=ln-cZ18Oxub2ngZhqGxQt' )
                     +semifinalists( 'Есина Елена Николаевна ', '&laquo;IT-куб&raquo; г.&nbsp;Сургут (ХМАО – Югра)', 'bondareva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239050&hash=935dcfe59cc0bea9', 'https://vk.com/video-193270730_456239050?list=ln-8wLbKK6OZ1l2b1YLaz' )
                     +semifinalists( 'Горяйнов Александр Олегович', '&laquo;IT-куб&raquo; г.&nbsp;Липецк', 'davidenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239051&hash=3991919358221e03', 'https://vk.com/video-193270730_456239051?list=ln-K1pYAmNlGDS0HZ0klB' )

               article.semifinalists__holder.mt4.semifinalists-8
                  .text-22 Лучший педагог Центров &laquo;IT-куб&raquo; в&nbsp;направлении
                  h1.mt07 Большие данные
                  .row
                     +semifinalists( 'Селезнев Андрей Андреевич ', '&laquo;IT-куб&raquo; г.&nbsp;Сургут (ХМАО – Югра)', 'razdobreeva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239049&hash=b46b70ca90019502', 'https://vk.com/video-193270730_456239049?list=ln-cZ18Oxub2ngZhqGxQt' )
                     +semifinalists( 'Коннов Клим Глебович ', '&laquo;IT-куб&raquo; г.&nbsp;Санкт-Петербург', 'bondareva', 'https://vk.com/video_ext.php?oid=-193270730&id=456239050&hash=935dcfe59cc0bea9', 'https://vk.com/video-193270730_456239050?list=ln-8wLbKK6OZ1l2b1YLaz' )
                     +semifinalists( 'Шикан Алексей Владимирович', '&laquo;IT-куб&raquo; г.&nbsp;Норильск (Красноярский край)', 'davidenko', 'https://vk.com/video_ext.php?oid=-193270730&id=456239051&hash=3991919358221e03', 'https://vk.com/video-193270730_456239051?list=ln-K1pYAmNlGDS0HZ0klB' )



         section.wrapper.mb4.mt18
            .video_relative
               .video_ratio
               .iframe_holder
                  iframe(src='https://vk.com/video_ext.php?oid=-193270730&id=456239065&hd=2' width='100%' height='100%' frameborder='0' allowfullscreen)
                     p Твой браузер устарел для отображения элемента iframe


         section( aria-label='Архив выступлений победителей конкурса' )#archive.archive__container
            .wrapper
               a( href='./archive/2023/teacher_competition.html').archive_button__image
                  .video_ratio
                  .iframe_holder
                     .archive__image


         include assets/jade/footer/footer

      include assets/jade/static/script




