doctype
html

   include assets/jade/static/__head
   +title( 'Центры цифрового образования детей' )

   body
      include assets/jade/static/metrika
      #container_videos
         #black_back
         include assets/jade/header/__header
         +menu( '', '', '', '', 'active', '', '', '', '', '' )
         include assets/jade/header/main


         include assets/jade/footer/footer

      include assets/jade/static/script




