.list__container {}
.list__container .wrapper {
   .flex();
}
.list__container h1.caption {
   width: 50%;
   padding-right: 2rem;
   box-sizing: border-box;
}
.list__diagram_holder {
   width: 50%;
}
