

path[data-district^='CFO']:hover {
   fill: #3b3eaf;
}
path[data-district^='DFO']:hover {
   fill: #456094;
}
path[data-district^='SZFO']:hover {
   fill: #2B7133;
}
path[data-district^='SFO']:hover {
   fill: #579E54;
}
path[data-district^='YFO']:hover {
   fill: #C7A91E;
}




.region_chosen {
   fill: #e4423d;
   stroke: #d5ccc9;
   stroke-width: .6;
}

