.animation__container

   .kub.kub-gray-1
      .image
   .kub.kub-small
      .image
   .kub.kub-blue
      .image
   .kub.kub-center
      .image
   .kub.kub-big
      .image
   .kub.kub-gray-2
      .image
   .kub.kub-red
      .image
   .kub.kub-back
