@purpose-container: 12rem;
.purpose__container {
   position: relative;
   z-index: 100;
   margin-top: @purpose-container;
   margin-bottom: @purpose-container;
   
   .md-block({
      margin-top: 20rem;
   })
}
.purpose__container .row {
   .justify-end();
}
.purpose__container:before {
   .pseudo();
   z-index: 90;
   top: @purpose-container * -1 - 1rem;
   bottom: @purpose-container * -1 - 1rem;
   left: 0;
   width: 45%;
    .bg-purpose();
   
   .md-block({
      .bg-purpose-adapt();
      top: -20rem;
      bottom: 70%;
      width: 100%;
   })
}


@purpose: 52%;
.purpose__text {
   position: relative;
   z-index: 100;
   
   .col();
   .size(13);
   .size-xl(13);
   .size-lg(13);
   .size-md(25);
   .size-sm(25);
}
.purpose__container h1 {
   .montserrat-bold();
   font-size: 2rem;
   line-height: 2.4rem;
}
