.about_index strong {
    white-space: nowrap;
}

/* Index раздел со списком */
@purpose-container: 12rem;
.purpose__container {
   position: relative;
   z-index: 100;
   margin-top: @purpose-container;
   margin-bottom: @purpose-container + 8rem;
   .xl-block({
      margin-bottom: @purpose-container + 3rem;
   });
   .middle-block({
      margin-bottom: @purpose-container + 1rem;
   });
   .md-block({
      margin-top: 20rem;
      margin-bottom: 6rem;
   });
   .sm-block({
      margin-top: 22rem;
      margin-bottom: 6rem;
   });
}
.purpose__container .row {
   .justify-end();
}
.purpose__container:before {
   .pseudo();
   z-index: 90;
   top: @purpose-container * -1 - 1rem;
   bottom: @purpose-container * -1 - 4rem;
   left: 0;
   width: 45%;
    .bg-purpose();
   
   .xxl-block({
      bottom: @purpose-container * -1 - 3rem;
   });
   .xl-block({
      bottom: @purpose-container * -1;
      top: @purpose-container * -1 - 3rem;
   });
   
   .md-block({
      .bg-purpose-adapt();
       top: -19rem;
       width: 100%;
      height: 43rem
   });
   .sm-block({
      top: -20rem;
    height: 37rem;
      width: 455px
   });
   .xs-block({
      height: 34rem;
    top: -22rem;
          left: -30px;
   });
   .xxs-block({
      top: -22rem;
      left: -80px;
      width: 400px;
   })
}

.purpose__text {
   position: relative;
   z-index: 100;
   
   .col();
   .size(13);
   .size-xl(13);
   .size-middle(13);
   .size-lg(13);
   .size-md(25);
   .size-sm(25);
   
   .md-block({
      margin-top: 25rem;
   });
   .sm-block({
      margin-top: 18rem;
   });
   .xs-block({
      margin-top: 12rem;
   });
}
.purpose__container h1 {
   .montserrat-bold();
   font-size: 2.2rem;
   line-height: 2.6rem;
}


/* Index раздел с иконками */
.directions__container {
   position: relative;
   z-index: 200;
}
.directions__container:after {
   .pseudo();
   top: -35%;
   right: 0;
   width: calc( 75% - 15vw );
   height: 150%;
   .body-lines-right-sm();
   .md-block({
      width: 95%;
   });
    .xs-block({
       width: 100%;
       height: 70%;
       top: -15%;
       background-size: 150%;
    });
}
.directions__container .wrapper {
   position: relative;
   z-index: 300;
}
.row.directions__holder {
   .justify-center();
   margin-bottom: calc( 6rem + 3vw );
}
.directions__item {
   .col();
   .size(8);
   .size-xl(8);
   .size-middle(8);
   .size-lg(8);
   .size-md(12);
   .size-sm(12);
   .size-xs(22);
   .size-xxs(23);
   
   .shift-xs-right(2);
   .shift-xxs-right(1);
   
    margin-bottom: (@offset * 1.5);
    .xl-block({
        margin-bottom: (@offset_xl * 1.5);
    });
    .middle-block({
        margin-bottom: (@offset_middle * 1.5);
    });
    .lg-block({
        margin-bottom: (@offset_lg * 1.5);
    });
   .md-block({
      margin-bottom: 3rem;
   });
    .sm-block({
        margin-bottom: 3rem;
    });
    .xs-block({
       .flex();
       .items-center();
    });
}
.directions-icon( @name ) {
   background-image: url("../data/icons/index/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
  
}
.directions__icon {
   width: 100%;
   height: 10rem;
    
    .xs-block({
       width: 50%;
       height: 8rem;
       
       flex-shrink: 0;
    });
    .xxs-block({
       width: 35%;
       height: 5rem;
    });
}
.directions__text {
   .montserrat-medium();
   text-align: center;
   margin-top: 2rem;
   font-size: 1.5rem;
   line-height: 1.8rem;
   .middle-block({
      font-size: 1.5rem;
      line-height: 1.8rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-align: left;
   });
}
.directions_icon-1 { .directions-icon( '1' ) }
.directions_icon-2 { .directions-icon( '2' ) }
.directions_icon-3 { .directions-icon( '3' ); background-size: auto 92%; background-position: bottom; }
.directions_icon-4 { .directions-icon( '4' ); background-size: auto 95%; background-position: bottom; }
.directions_icon-5 { .directions-icon( '5' ); background-size: auto 95%; background-position: bottom; }
.directions_icon-6 { .directions-icon( '6' ) }
.directions_icon-7 { .directions-icon( '7' ); background-size: auto 95%; background-position: bottom;  }
.directions_icon-8 { .directions-icon( '8' ); padding-top: .6rem }

.directions_icon-8 + .directions__text {
   margin-top: 1.4rem;
}

/* Index диаграмма внизу страницы */
.number__container {
}
.number__container .row {
   .justify-between();
}
.number__container .row br {
   .md-block({
      display: none;
   })
}
.number__container .caption {
   width: 55%;
   margin-bottom: 4rem;
       max-width: 710px;
   .lg-block({
      width: 70%;
      margin-bottom: 8rem;
   });
   .md-block({
      width: 90%;
      margin-bottom: 4rem;
   });
}
.number__container .text-25 {
   align-self: center;
   .col();
   .size(7);
   .size-xxl(7);
   .size-xl(8);
   .size-middle(10);
   .size-lg(10);
   .size-md(12);
   .size-sm(20);
   .size-xs(24);
   .md-block({
      margin-bottom: 10rem;
   });
   .xs-block({
      margin-bottom: 8rem;
   });
   .xxs-block({
      margin-bottom: 5rem;
   })
}
.number__diagram {
   .col();
   .size(16);
   .size-xxl(16);
   .size-xl(15);
   .size-middle(13);
   .size-lg(13);
   .size-md(24);
   .size-sm(24);
   .size-xs(24);
   
   min-height: 200px;
   .md-block({
   
   })
}

.number__container strong {
   .montserrat-regular();
   display: inline;
   font-size: 2.3rem;
   line-height: 2.7rem;
   .middle-block({
      font-size: 2.3rem;
      line-height: 2.7rem;
   });
   .sm-block({
      font-size: 2.4rem;
      line-height: 2.8rem;
   });
}


/* EVENTS последний блок о семинаре */
.seminar__container a {
   display: inline-block;
}
.seminar__block {
   .col();
   .size(12);
   .size-xl(12);
   .size-middle(12);
   .size-lg(20);
   .size-md(20);
   .size-sm(24);
   
   .flex();
   .items-center();
   
   .shift-lg-left(2);
   .shift-md-left(2);
   .shift-sm-left(0);
   
   margin-bottom: 3rem;
}
.seminar__icon {
   width: 8rem;
   height: 8rem;
   
   flex-shrink: 0;
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   
   margin-right: 3rem;
   
   .lg-block({
      margin-right: 2rem;
   });
   .xs-block({
      width: 6rem;
      height: 6rem;
      margin-right: 1.5rem;
   });
   .xxs-block({
      width: 5rem;
      height: 5rem;
   });
}
.seminar__text {

}
.seminar(@name) {
   background-image: url("../data/icons/seminar/@{name}.svg");
}
.seminar_icon-1 { .seminar('1') }
.seminar_icon-2 { .seminar('2') }
.seminar_icon-3 { .seminar('3') }
.seminar_icon-4 { .seminar('4') }


/* конкурс педагоговю Условия участия */
.competition_terms__container {
   position: relative;
   z-index: 100;
}
.competition_terms__container:after {
   .pseudo();
   .body-lines-competition-left();
   width: 80vw;
   height: 140vh;
   right: 0;
   top: -55vh;
   .lg-block({
      width: 120vw;
      top: -21rem;
   });
   .md-block({
      width: 120vw;
      top: -28rem;
   })
}
.competition_terms__container .wrapper {
   position: relative;
   z-index: 200;
}
.competition_terms__container .row {
   position: relative;
   z-index: 200;
   .justify-center();
}
.competition_terms__container .competition_terms__holder {
   position: relative;
   .col();
   .size(7);
   .size-xl(8);
   .size-middle(9);
   .size-lg(10);
   .size-md(11);
   .size-sm(24);
   
   .shift-left(7);
   .shift-xl-left(8);
   .shift-middle-left(9);
   .shift-lg-left(10);
   .shift-md-left(11);
   .shift-sm-left(0);
   
   .column();
}
.competition_terms__text {
    font-size: 1.3rem;
   line-height: 1.8rem;
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.9rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 1.9rem;
   });
}
.competition_terms__text strong {
   display: inline-block;
}
.competition_terms__holder:before {
   .pseudo();
   z-index: 200;
   top: 0;
   right: 0;
   width: 22.4rem;
   height: 21rem;
   
   .competition-terms();
   
   .shift-right(24);
   .shift-sm-right(0);
   
   .sm-block({
      top: calc( 37% - 3vw );
      right: 50%;
      
      transform: translateX(62%);
      
      background-position: center;
   });
}

section .competition_terms__holder h2.title {
   .tr();
  .sm-block({
     z-index: 150;
     margin-top: 26rem !important;
      text-align: center;
   })
}
section .competition_terms__holder a:hover {
  .tr();
   color: @color-blue
}

/* конкурс педагогов. Квота участия*/
.quota__container {
   margin-top: 14rem;
   .sm-block({ margin-top: 12rem })
}
.quota__container .row {
   .justify-center()
}
.quota__title,
.quota__holder {
   position: relative;
   .col();
   .size(8);
   .size-xl(9);
   .size-middle(9);
   .size-lg(10);
   .size-md(11);
   .size-sm(11);
   .size-xs(15);
   
   .shift-left(7);
   .shift-xl-left(8);
   .shift-middle-left(9);
   .shift-lg-left(10);
   .shift-md-left(13);
   .shift-sm-left(13);
   
   .column();
}
.quota__container .quota__title {
   .md-block({
      margin-bottom: 14rem;
      padding-top: 5rem;
      box-sizing: border-box;
   });
   .sm-block({
      margin-bottom: 12rem;
   });
   .xs-block({
      margin-bottom: 9rem;
   });
   .xxs-block({
      margin-bottom: 7rem;
   })
   
}
.quota__holder {
   .size-md(24);
   .size-sm(24);
   .size-xs(24);
   .shift-md-left(0);
   .shift-sm-left(0);
}
.quota__title:after {
   .pseudo();
   z-index: 200;
   top: -5rem;
   right: 0;
   width: 24.3rem;
   height: 24.6rem;
   
   .competition-quota();
   
   .shift-right(24);
   .shift-sm-right(0);
   
   .sm-block({
      left: -240px;
      right: unset;
   });
   .xs-block({
      width: 22.3rem;
      height: 22.6rem;
      left: -200px;
   });
   .xxs-block({
      width: 16.3rem;
    height: 16.6rem;
    left: -140px;
    top: -1rem;
   })
   
}
.quota__title {}
.quota__holder {
   .md-block({
      margin-top: 10rem;
   });
   .xs-block({
      margin-top: 5rem;
   });
}
.quota__text_holder {
   .flex();
}


/*  парнёры проекта  */
.partner__logo {
   .col();
   .size(8);
   .size-xl(8);
   .size-middle(9);
   .size-lg(9);
   .size-md(25);
   .size-sm(16);
   .size-xs(24);
   
   .shift-sm-left(4);
   .shift-xs-left(0);
   
   
   .md-block({
      .logo_arpp-adapt();
      width: 55vw;
      height: 46vw;
      flex-shrink: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2rem;
      
      background-color: #F7F5F5;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.11);
      border-radius: 3px;
   });
   .xs-block({
      width: 20rem;
      height: 18rem;
      margin-right: auto;
      margin-left: auto;
   });
}
.partner__holder {
   .col();
   .size(15);
   .size-xl(15);
   .size-middle(15);
   .size-lg(15);
   .size-md(24);
   .size-sm(24);
   .size-xs(24);
}
.partner__article {
   .flex();
   margin-bottom: 1.5rem;
}
.partner__text {
   .montserrat-semibold();
   font-size: 1.3rem;
   line-height: 1.6rem;
}


/* цитаты в новости */
.quote {
   position: relative;
   margin-right: 2.5rem;
   margin-left: 2.5rem;
   text-align: justify;
   .md-block({
      text-align: start;
   })
}
.quote span {
   display: block;
   text-align: right;
   margin-top: .8rem;
}
.quote:before {
   content: '«';
   display: block;
   position: absolute;
   top: -2px;
   left: -3rem;
   
   font-size: 4rem;
   color: #426591;
}
.quote:after {
   content: '»';
   display: block;
   position: absolute;
   bottom: 3px;
   right: -3rem;
  
   font-size: 4rem;
   color: #426591;
}


/* документы */
.documentation__container {
   position: relative;
   z-index: 200;
   overflow: hidden;
   padding-top: 11rem;
   
   margin-top: -2rem;
   //margin-bottom: 6rem;
   
   .md-block({
      padding-top: 4rem;
   });
}
.doc_list__container {
}
.doc__holder {
   .flex();
   .items-start();
}
.doc_text__holder {
   padding-bottom: 1.5rem;
   box-sizing: border-box;
    .md-block({
      padding-bottom: .8rem;
   });
}
.doc__icon {
   .doc-icon();
   margin-right: 2rem;
}
.doc_text__holder strong.block.text-22 {
   margin-bottom: 2rem;
   .md-block({
      margin-bottom: 1rem;
   });
   .xs-block({
      margin-bottom: .8rem;
   });
}
.doc__more {
   color: @color-blue;
}
.doc__more.inline.hover:after {
    background-color: #3C78EC;
}


/* Оргкомитет и экспертное жюри конкурса */
.expert__container {
   max-width: 1000px;
   margin-top: 8rem;
   margin-right: auto;
   margin-left: auto;
}
.expert_carousel__container {
   margin-top: 10rem;
}
article.expert_carousel__item {
   height: 650px;
}
.expert_carousel__item_hover {
   .column();
   height: 100%;
   background-color: white;
   border-radius: 2px;
   padding: 1.5rem;
   box-sizing: border-box;
   margin: .5rem;
}
.expert_carousel__position {
   margin-top: auto;
}
.expert_carousel__photo img {
   border-radius: 2px;
}

.expert_carousel__container .slick-disabled {
   opacity: .25;
}
.expert_carousel__container .slick-next.slick-disabled:hover {
   .expert-next();
}
.expert_carousel__container .slick-prev.slick-disabled:hover {
   .expert-prev();
}
.expert_carousel__container .slick-next {
   .expert-next();
   
   right: 0;
   top: -4rem
}
.expert_carousel__container .slick-prev {
   .expert-prev();
   
   top: -4rem;
   right: 4rem;
   left: unset;
}
.expert_carousel__container .slick-next:hover {
   .expert-next-hover();
   
   right: 0;
   top: -4rem
}
.expert_carousel__container .slick-prev:hover {
   .expert-prev-hover();
   
   top: -4rem;
   right: 4rem;
   left: unset;
}
