.about_index strong {
    white-space: nowrap;
}

/* Index раздел со списком */
@purpose-container: 12rem;
.purpose__container {
   position: relative;
   z-index: 100;
   margin-top: @purpose-container;
   margin-bottom: @purpose-container + 8rem;
   .xl-block({
      margin-bottom: @purpose-container + 3rem;
   });
   .middle-block({
      margin-bottom: @purpose-container + 1rem;
   });
   .md-block({
      margin-top: 20rem;
      margin-bottom: 6rem;
   });
   .sm-block({
      margin-top: 22rem;
      margin-bottom: 6rem;
   });
}
.purpose__container .row {
   .justify-end();
}
.purpose__container:before {
   .pseudo();
   z-index: 90;
   top: @purpose-container * -1 - 1rem;
   bottom: @purpose-container * -1 - 4rem;
   left: 0;
   width: 45%;
    .bg-purpose();
   
   .xxl-block({
      bottom: @purpose-container * -1 - 3rem;
   });
   .xl-block({
      bottom: @purpose-container * -1;
      top: @purpose-container * -1 - 3rem;
   });
   
   .md-block({
      .bg-purpose-adapt();
      top: -20rem;
      bottom: 70%;
      width: 100%;
   })
}

.purpose__text {
   position: relative;
   z-index: 100;
   
   .col();
   .size(13);
   .size-xl(13);
   .size-middle(13);
   .size-lg(13);
   .size-md(25);
   .size-sm(25);
   
   .md-block({
          margin-top: 4rem;
   })
}
.purpose__container h1 {
   .montserrat-bold();
   font-size: 2.2rem;
   line-height: 2.6rem;
}


/* Index раздел с иконками */
.directions__container {
   position: relative;
}
.directions__container:after {
   .pseudo();
   top: -35%;
   right: 0;
   width: calc( 75% - 15vw );
   height: 150%;
   .body-lines-right-sm();
   .md-block({
      width: 95%;
   });
    .xs-block({
       width: 100%;
       height: 70%;
       top: -15%;
       background-size: 150%;
    });
}
.row.directions__holder {
   .justify-center();
   margin-bottom: calc( 6rem + 3vw );
}
.directions__item {
   .col();
   .size(8);
   .size-xl(8);
   .size-middle(8);
   .size-lg(8);
   .size-md(12);
   .size-sm(12);
   .size-xs(22);
   .size-xxs(23);
   
   .shift-xs-right(2);
   .shift-xxs-right(1);
   
    margin-bottom: (@offset * 1.5);
    .xl-block({
        margin-bottom: (@offset_xl * 1.5);
    });
    .middle-block({
        margin-bottom: (@offset_middle * 1.5);
    });
    .lg-block({
        margin-bottom: (@offset_lg * 1.5);
    });
   .md-block({
      margin-bottom: 3rem;
   });
    .sm-block({
        margin-bottom: 3rem;
    });
    .xs-block({
       .flex();
       .items-center();
    });
}
.directions-icon( @name ) {
   background-image: url("../data/icons/index/@{name}.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
  
}
.directions__icon {
   width: 100%;
   height: 10rem;
    
    .xs-block({
       width: 50%;
       height: 8rem;
       
       flex-shrink: 0;
    });
    .xxs-block({
       width: 35%;
       height: 5rem;
    });
}
.directions__text {
   .montserrat-medium();
   text-align: center;
   margin-top: 2rem;
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 1.9rem;
   });
}
.directions_icon-1 { .directions-icon( '1' ) }
.directions_icon-2 { .directions-icon( '2' ) }
.directions_icon-3 { .directions-icon( '3' ); background-size: auto 92%; background-position: bottom; }
.directions_icon-4 { .directions-icon( '4' ); background-size: auto 95%; background-position: bottom; }
.directions_icon-5 { .directions-icon( '5' ); background-size: auto 95%; background-position: bottom; }
.directions_icon-6 { .directions-icon( '6' ) }
.directions_icon-7 { .directions-icon( '7' ); background-size: auto 95%; background-position: bottom;  }
.directions_icon-8 { .directions-icon( '8' ); padding-top: .6rem }

.directions_icon-8 + .directions__text {
   margin-top: 1.4rem;
}

/* Index диаграмма внизу страницы */
.number__container {
}
.number__container .row {
   .justify-between();
}
.number__container .caption {
   width: 55%;
   margin-bottom: 4rem;
       max-width: 710px;
   .lg-block({
      width: 70%;
      margin-bottom: 8rem;
   });
   .md-block({
      width: 90%;
      margin-bottom: 4rem;
   });
}
.number__container .text-25 {
   align-self: center;
   .col();
   .size(7);
   .size-xxl(7);
   .size-xl(8);
   .size-middle(10);
   .size-lg(10);
   .size-md(12);
   .size-sm(20);
   .size-xs(24);
   .md-block({
      margin-bottom: 10rem;
   });
   .xs-block({
      margin-bottom: 8rem;
   });
   .xxs-block({
      margin-bottom: 5rem;
   })
}
.number__diagram {
   .col();
   .size(16);
   .size-xxl(16);
   .size-xl(15);
   .size-middle(13);
   .size-lg(13);
   .size-md(24);
   .size-sm(24);
   .size-xs(24);
   
   min-height: 200px;
   .md-block({
   
   })
}

.number__container strong {
   .montserrat-regular();
   display: inline;
   font-size: 2.3rem;
   line-height: 2.7rem;
   .middle-block({
      font-size: 2.3rem;
      line-height: 2.7rem;
   });
   .sm-block({
      font-size: 2.4rem;
      line-height: 2.8rem;
   });
}


/* EVENTS последний блок о семинаре */
.seminar__container a {
   display: inline-block;
}
.seminar__block {
   .col();
   .size(12);
   .size-xl(12);
   .size-middle(12);
   .size-lg(20);
   .size-md(20);
   .size-sm(24);
   
   .flex();
   .items-center();
   
   .shift-lg-left(2);
   .shift-md-left(2);
   .shift-sm-left(0);
   
   margin-bottom: 3rem;
}
.seminar__icon {
   width: 8rem;
   height: 8rem;
   
   flex-shrink: 0;
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   
   margin-right: 3rem;
   
   .lg-block({
      margin-right: 2rem;
   });
   .xs-block({
      width: 6rem;
      height: 6rem;
      margin-right: 1.5rem;
   });
   .xxs-block({
      width: 5rem;
      height: 5rem;
   });
}
.seminar__text {

}
.seminar(@name) {
   background-image: url("../data/icons/seminar/@{name}.svg");
}
.seminar_icon-1 { .seminar('1') }
.seminar_icon-2 { .seminar('2') }
.seminar_icon-3 { .seminar('3') }
.seminar_icon-4 { .seminar('4') }
