@color-black: #292C33;
@color-back-white: #F8F9FA;
@color-blue-light: #2F73F7;
@color-blue-dark: #2862D3;
@color-red-light: #E4423D;
@color-red-dark: #CC332F;
@color-orange: #E4793D;
@color-green: #41A05C;


@color-back-gray-dark: #343843;
@color-back-gray-c-dark: #A7A9AF;
@color-back-gray-middle: #C7C7C7;
@color-back-gray-light: #D9DADC;
