html {
   font-size: 15px;
   .middle( font-size, 12px );
   .sm( font-size, 10px );
}
body {
   font-size: 1.1rem; /* 17 */
   line-height: 1.4rem;
   .sm-block({
      font-size: 1.3rem; /* 13 */
      line-height: 1.6;
   });
   .montserrat-regular();
   background-color: @color-back-white;
   color: @color-black;
}
.sm {
   font-size: 1rem;
   line-height: 1.15rem;
   .sm-block({
      font-size: 1.2rem;
      line-height: 1.35;
   });
}
#container_main {
   overflow: hidden;
   .body-lines-left();
      background-position: -10vw 18vw;
   background-size: 85vw;
   
    .xs-block({
       background-position: -10vw 38vw;
      background-size: 120%;
    });
}
#container_federal {
   position: relative;
   z-index: 100;
}
#container_federal:before {
   .pseudo();
   z-index: 100;
   width: 100%;
   height: 100%;
   
   top: 0;
   left: 0;
   
   .body-lines-right();
   background-position: 45vw 18vw;
    background-size: 55vw;
   .ll-block({
      background-position: 40vw 45vw;
      background-size: 85vw;
   });

    .md-block({
       background-position: 40vw 80vw;
      background-size: 120%;
    });
   
   .sm-block({
          background-position: right 25%;
    background-size: 120%;
   })
}
#container_events {
   .body-lines-center();
   background-position: 2vw -2vw;
   background-size: 80vw;
   .md-block({
          background-position: 2vw 30vw;
    background-size: 120%;
   })
}
#container_competition {
   overflow: hidden;
}
#container_news {
   overflow: hidden;
   .body-lines-news();
}
#container_documentation {
   overflow: hidden;
   .body-lines-news();
}

#container_list {
   overflow: hidden;
   .list-lines();
}

#container_congress {
   overflow: hidden;
   .congress-bg();
   background-position: -15vw 5rem;
   background-size: 90%;
}
#container_hackathon {
   overflow: hidden;
   position: relative;
}
.wrapper {
   .wrapper();
}
.row() {
   .row-flex();
}
.row {
   .row-flex();
}
.col {
   .col();
}

a {
   display: block;
   text-decoration: none;
   cursor: pointer;
   
   color: inherit;
   .tr();
}
