mixin semifinalists( name, position, img, link, link2 )
   article.semifinalist_one__holder
      strong.text-22 !{name}
      .semi-line
      p.text-20 !{position}
      //.semifinalists__image.mtauto( id='trigger_#{img}' )
      //   img( src='./assets/data/teacher_competition/semifinalist/#{img}.jpg' )

