mixin winners( img )
   article.winners__holder
      .block_12.winners__image
         .winners_image__text текст
            br
            | текст
            br
            | текст
            br
            | текст
            br
            | текст
            br
            | текст
         .winners_image_relative
            .winners_image_ratio
            .winners_image_holder( class='winners__image-#{img}' )
      .block_12
