
.congress__list .text-blue {
   color: @color-blue-2
}
.congress__main .wwnow {
   margin-right: 0;
   margin-left: 0;
}
section .congress__numb h1.caption {
   font-size: 4rem;
   line-height: 4.4rem;
   .middle-block({
      font-size: 4.2rem;
      line-height: 4.6rem;
   });
   .sm-block({
      font-size: 4.2rem;
      line-height: 4.6rem;
   });
   .xs-block({
      font-size: 3.8rem;
      line-height: 4.1rem;
   });
   .xxs-block({
      font-size: 3.5rem;
      line-height: 3.7rem;
   });
}
.congress__article h1 {
   .montserrat-semibold();
   font-size: 1.4rem;
   line-height: 1.8rem;
   .middle-block({
      font-size: 1.5rem;
      line-height: 1.9rem;
   });
   .sm-block({
      font-size: 1.6rem;
      line-height: 2rem;
   });
}
.congress__ps h2.text-22 {
   .montserrat-semibold();
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.3rem;
      line-height: 1.7rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 1.9rem;
   });
   .xs-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   })
}
.congress__ps h2.text-22 span {
   .montserrat-regular();
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 2.1rem;
   });
}
.congress__ps strong {
   .montserrat-semibold();
}
/*
.congress__clock h2.text-22 {
   .montserrat-semibold();
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.3rem;
      line-height: 1.7rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 1.9rem;
   });
   .xs-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   })
}*/

.congress__day {
   .flex();
   .items-end();
   
   //color: @color-blue-2;
}
.congress__numb {
   margin-right: 3rem;
}
h2.congress__name {
   margin-bottom: .3rem;
   .montserrat-semibold();
   font-size: 2.5rem;
   line-height: 2.7rem;
   .middle-block({
      font-size: 2.8rem;
      line-height: 3rem;
   });
   .sm-block({
      font-size: 2.7rem;
      line-height: 2.9rem;
   });
}

.congress__block {
   margin-bottom: 2.5rem;
   padding: 2rem 3.6rem;
   
   background-color: @color-blue-2;
   border-radius: 2px;
   color: white;
}



.congress__place {
   .flex();
   .items-start();
}
.icon-pin {
   .congress-pin();
   flex-shrink: 0;
   margin-right: 1rem;
}
.congress__place .text-22 {
   color: @color-blue-2;
}


.congress__event {
   .flex();
   overflow: hidden;
   
   padding-bottom: 2rem;
}
.congress__event strong.text-27 {
   width: 11rem;
   flex-shrink: 0;
   margin-right: 2rem;
}

.congress__event .icon-dot {
   .congress-dot();
   flex-shrink: 0;
   position: relative;
   margin-right: 2.5rem;
}
.congress__event .icon-dot:after {
   .pseudo();
   width: 2px;
   height: 2000%;
   
   top: 98%;
   left: 50%;
   transform: translateX(-50%);
   .congress-dash();
}
.block-18 .congress__event:last-child .icon-dot:after {
   height: 100%;
}


.congress__clock {
   .flex();
   .items-start();
}
.icon-clock {
   .congress-clock();
   flex-shrink: 0;
   margin-right: 1rem;
}
.congress__clock .simple {
   .montserrat-regular();
}


.icon-pin-2 {
   .congress-pin2();
   flex-shrink: 0;
   margin-right: 1rem;
}

.congress__place-2 {
   .flex();
   .items-start();
}
.congress__place-2 .text-22 {
   color: @color-violet;
}

.congress__break {
   .flex();
   .items-center();
}
.congress__break strong.text-27 {
   width: 11rem;
   flex-shrink: 0;
   margin-right: 2rem;
}
.congress__break div[class^='icon-'] {
   margin-left: -.8rem;
   flex-shrink: 0;
   margin-right: 1.8rem;
}

.icon-diner {
   .congress-diner();
}
.icon-car {
   .congress-car();
}
.icon-light {
   .congress-light();
}
.icon-break {
   .congress-break();
}
.icon-photo {
   .congress-photo();
}


.congress__wrapper.spec2,
.congress__wrapper.spec {
   position: relative;
   z-index: 200;
}
.congress__wrapper.spec2:before,
.congress__wrapper.spec:before {
   .pseudo();
   z-index: 10;
   width: 100%;
   background-size: contain;
}
.congress__wrapper.spec:before {
   top: -5vw;
   right: -10vw;
   
   height: 20vw;
   
   .congress-bg2();
   background-position: right;
}
.congress__wrapper.spec2:before {
   top: -12vw;
   left: -15vw;
   
   height: 23vw;
   
   .congress-bg();
   background-position: left;
}


/*  NEW  */

.congress_header__holder {
   .flex();
   
   .smmd-block({
      display: block;
   });
}



menu.congress_navigation__holder {
    position: relative;
    z-index: 200;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
   
   .column();
   .justify-center();
   .items-start();
   
   margin-top: 4rem;
      padding-bottom: 6rem;

    .smmd-block({
      margin-top: 5rem;
      flex-direction: row;
       flex-wrap: wrap;
       .justify-start();
   })
}
.congress__navigation {
    .flex();
   .items-center();
   margin-bottom: 1rem;
   cursor: pointer;
    .smmd-block({
      width: 50%;
   });
    .xs-block({
      width: 100%;
   });
}
.congress__navigation_icon {
    margin-right: 2rem;
   .competition-nav-arrow();
}
.congress__navigation_text {
   .montserrat-bold();
   font-size: 1.8rem;
   line-height: 2rem;
   
   .tr();
}



.congress__main {
   position: relative;
   z-index: 200;
   margin-top: 16rem;
   .to( 1520px, {
      margin-top: 13rem;
   });
   .lg-block({
      margin-top: 16rem;
   });
   .md-block({
      margin-top: 8rem;
   });
   .smmd-block({
      margin-top: 5rem;
   });
   .sm-block({
      margin-top: 6rem;
   });
   .xs-block({
      margin-top: 5rem;
   });
}
.congress__main:after {
   .pseudo();
   z-index: 50;
   .congress-bg3();
   background-position: 0 0;
   background-size: 90%;
   
   height: 80vw;
   width: 100%;
   
   top: -5vw;
   right: -45vw;
}

.congress_list__section {
   position: relative;
   z-index: 250;
}

.congress__trigger {
   .flex();
   .justify-between();
   .items-center();
   
   padding-bottom: 2rem;
   border-bottom: 2px solid @color-blue;
   //transition: border .3s ease-in-out;
}

.congress__more {
   .flex();
   .items-center();
   cursor: pointer;
}
.congress_more__text {
   color: #6990F2;
   opacity: .7;
   margin-right: 2rem;
   .tr();
}

.congress_list__section:hover .congress_more__text {
   color: @color-blue;
   opacity: 1;
   .tr();
}
.congress_more__arrow {
   .congress-arrow();
   .tr();
}

.congress_list__section:hover .congress_more__arrow {
   .congress-arrow-hover();
}
.congress_list__holder {
   display: none;
}

.congress_list__section.open .congress__trigger {
   border-bottom-color: transparent;
   //.tr();
}
.congress_list__section.open .congress_more__text {
   opacity: 0;
   .tr();
}
.congress_list__section.open .congress_more__arrow {
   .tr();
   transform: rotate(180deg);
   .congress-arrow-hover();
}


.congress__list {
   padding: 0 3.6rem;
   margin-bottom: 1rem;
}
.congress__article {
   .flex();
   .items-center();
   .justify-between();
   margin-bottom: 2.5rem;
}
article.congress__article a {
   border-bottom: 1px solid rgba(105, 144, 242, 0.2);
   display: inline;
   
   line-height: 1.8rem;
   .middle-block({
      line-height: 2rem;
   });
   .sm-block({
      line-height: 2.3rem;
   });
   
   .tr();
}
section article.congress__article a span {
   display: inline-block;
   margin-top: .8rem;
}
article.congress__article:hover a {
   border-bottom-color: @color-blue-2;
   .tr();
}


.congress__video {
   position: relative;
   z-index: 200;
   margin-top: 15rem;
   .md-block({
      margin-top: 13rem;
   });
}
.congress__video .wrapper {
   position: relative;
   z-index: 250;
}
.congress__video:after {
   .pseudo();
   z-index: 50;
   .congress-bg();
   background-position: right top;
   background-size: 90%;
   
   height: 80vw;
   width: 100%;
   
   top: -5vw;
   left: -45vw;
   
   .md-block({
   
   });
}

.congress__video:before {
   .pseudo();
   z-index: 70;
   .congress-after-video-img();
   background-size: 90%;
   
   height: 34rem;
   width: 38.5rem;
   max-width: 40%;
   
   top: -1rem;
   left: 15%;
   
   .to( 2300px, {
      max-width: 30%;
      left: 5%;
   });
   .to( 1710px, {
      left: 0
   });
   .to( 1200px, {
      width: 26%
   });
   .to( 700px, {
      display: none;
   });
}

.congress_button__holder {
   position: relative;
   z-index: 500;
}
.congress__button {
    display: table;
    margin: 0 auto;
   background-color: @color-blue;
   border-radius: 3px;
   padding: 1.2rem 1.5rem;
   cursor: pointer;
   .tr();
}
.congress__button:hover {
   background-color: #6990F2;
}

.congress_button__inner {
   .flex();
   .items-center()
}
.icon-video-white {}
.congress_button__text {
   color: white;
   text-transform: uppercase;
   
   .montserrat-semibold();
   font-size: 1.5rem;
   line-height: 1.9rem;
   .middle-block({
      font-size: 1.6rem;
      line-height: 2rem;
   });
   .sm-block({
      font-size: 1.7rem;
      line-height: 2.1rem;
   });
}


.congress__gallery,
.congress__results {
   position: relative;
   z-index: 400;
   margin-top: 13rem;
   .md-block({
      margin-top: 8rem;
   });
}
.congress__gallery:before {
   .pseudo();
   z-index: 50;
   .congress-bg2();
   background-position: 0 0;
   background-size: 90%;
   
   height: 80vw;
   width: 100%;
   
   top: -5vw;
   right: -45vw;
   
   .md-block({
      width: 120%;
      height: 120vw;
      
      background-size: 110%;
      
      right: -30vw;
   });
}
.congress_gallery__holder {
   position: relative;
   z-index: 500;
}
.gallery_big__photo {
   margin-right: 1.4rem;
   margin-left: 1.4rem;
   //
   //max-height: 70vh;
   //max-width: 60%;
}
.gallery_big__photo img {
   max-width: 96%;
   width: auto;
   object-fit: scale-down;
   //max-height: 70vh;
}


.congress_gallery__holder .slick-dots li button:before {
   content: '';
}
.congress_gallery__holder .slick-dots li button {
   background-color: #d1dcf8;
   border-radius: 25px;
   
   
    height: 14px;
    width: 14px;
    margin: 0 10px;
}
.congress_gallery__holder .slick-dots li.slick-active button {
   background-color: @color-blue;
}
.congress_gallery__holder .slick-dots {
   bottom: -35px;
}
#container_congress .footer__container {
   margin-top: 0;
}
#container_congress .footer__container .background-gray,
#container_congress .footer__container .background-black {
   background-color: #191B3E;
}

.congress__results {
   padding-bottom: 4rem;
   
   .xl-block({
      padding-bottom: 3rem;
   });
   .lg-block({
      padding-bottom: 2rem;
   });
   .sm-block({
      padding-bottom: 1rem;
   });
   .xs-block({
      padding-bottom: 1px;
   });
}
.congress_results__video {
   position: relative;
   z-index: 400;
}
.congress__results:before {
   .pseudo();
   .congress-result();
   
   width: 110%;
   height: 100%;
   
   bottom: -2%;
   left: -4%;
}

.congress__results .video_relative {
   margin-bottom: 3rem;
   .lg-block({
      margin-bottom: 2rem;
   });
   .sm-block({
      margin-bottom: 1rem;
   });
}

