.congress__title {
   position: relative;
   z-index: 300;
   //margin-top: 1rem;
   //padding-top: 3rem;
/*   .congress-bg();
   background-position: 7vw 0;
   background-size: auto 90%;*/
}
.congress_caption__holder {
   position: relative;
   z-index: 500;
   .flex();
   .justify-end();
   width: 100%;
}



.congress__logo {
   .congress-logo();
   position: relative;
   z-index: 500;
   
   height: 11rem;
   width: 9%;
   
   margin-right: 2rem;
   
   .lg-block({
      margin-right: 1.5rem;
   });
   .md-block({
      width: 15%;
   });
   .smmd-block({
      height: 11rem;
   });
   .sm-block({
      height: 8rem;
       margin-right: 1rem;
   });
   .xs-block({
      margin-right: .5rem;
   });
}
.congress__caption {
   .congress-caption();
   position: relative;
   z-index: 300;
   
   height: 12rem;
   width: 60%;
   
   margin-top: 2rem;
   
   .md-block({
      width: 85%;
      margin-top: 3.6rem;
   });
   .smmd-block({
      height: 11rem;
   });
   .sm-block({
      height: 8rem;
      margin-top: 3rem;
   });
   .xxs-block({
      margin-top: 1.8rem;
   });
}
