.congress__title {
   margin-top: 1rem;
   padding-top: 5rem;
   .congress-bg();
   background-position: -40% 0;
   background-size: auto 90%;
}


.congress__title .wrapper {
   .flex();
   .items-center();
}

.congress__logo {
   .congress-logo();
   height: 15rem;
   width: 14rem;
   
   margin-right: 3rem;
   
   .lg-block({
      margin-right: 1.5rem;
   });
   .smmd-block({
      height: 11rem;
      width: 10rem;
   });
   .sm-block({
      height: 9rem;
      width: 8rem;
   });
   .xs-block({
      height: 7rem;
      width: 6rem;
      margin-right: 1rem;
   });
}
.congress__caption {
   .congress-caption();
   height: 10rem;
   width: 100%;
   
   margin-top: 2rem;
   
   .smmd-block({
      height: 11rem;
   });
   .sm-block({
      height: 8rem;
   });
}
