mixin event-notime-last( zal, name, position, title  )
   article.congress__event.spec
      .icon-dot.spec.last
      strong.text-27
      .congress__person
         .text-25.zal.mb03 !{zal}
         h1.text-25.big !{name}
         h2.text-22.sm.mb05 !{position}
         h3.text-22.text-blue !{title}
