style.
   .purpose__container:before{background-image: url("./assets/data/images/bg-children.png");}@media screen and (max-width: 770px) {.purpose__container:before{background-image: url("./assets/data/images/bg-children-adapt.png");}}.about_federal__container:before {background-image: url("./assets/data/images/bg-teen-sm.png");}@media screen and (max-width: 770px) {.about_federal__container:before{background-image: url("./assets/data/images/bg-teen-adapt.png");}}.event__container:before {background-image: url("./assets/data/images/bg-events.png");}
