style.
   .purpose__container:before{background-image: url("./assets/data/images/bg-children.png");}.purpose__container:before{background-image: url("./assets/data/images/bg-children-adapt.png");}.about_federal__container:before {background-image: url("./assets/data/images/bg-teen-sm.png");} .about_federal__container{background-image: url("../data/images/bg-teen-adapt.png");}.event__container:before {background-image: url("./assets/data/images/bg-events.png");}
