style.
   .purpose__container:before{background-image: url("./assets/data/images/sections_img/bg-children.webp");}.about_federal__container:before {background-image: url("./assets/data/images/sections_img/bg-teen-sm.webp");}.event__container:before {background-image: url("./assets/data/images/sections_img/bg-events.webp");}
