.event__container {
   padding-top: 11rem;
   padding-bottom: 6rem;
   
   margin-top: -2rem;
   margin-bottom: 2rem;
   
   .bg-event();
   .to(1720px, {
      background-size: 50vw;
      background-position: 90%;
   });
   .ll-block({
      background-position: 110% 0;
      background-size: 60vw;
   });
   .middle-block({
      background-position: 110% 33%;
      background-size: 63vw;
   });
   .md-block({
      padding-top: 4rem;
   });
   .sm-block({
      background-size: calc(6rem + 80vw);
      background-position: 50% 29%;
   });
   .xs-block({
      background-size: 110%;
   });
   .xxs-block({
      background-position: 50% 23%;
   })
}
.event__container .text-22 {
   .middle-block({
      margin-top: 26rem;
   });
   .sm-block({
      margin-top: 35rem;
   });
   .xxs-block({
      margin-top: 29rem;
   })
}
.event__holder {
   margin-top: 3rem;
   max-width: 600px;
   
}
.event__about {
   .flex();
   .items-start();
   margin-bottom: .8rem;
}
.event__icon {
   width: 1.5rem;
   height: 1.5rem;
   border-right: 1px;
   
   margin-right: 1.5rem;
   
   flex-shrink: 0;
}
.event__type {
   .montserrat-semibold();
   margin-top: -3px;
}
.event__text {
   margin-left: 3rem;
}

.event_about-blue {
   .event__icon {
      background-color: @color-blue-light;
   }
   .event__type {
      color: @color-blue-light;
   }
}
.event_about-orange {
   .event__icon {
      background-color: @color-orange;
   }
   .event__type {
      color: @color-orange;
   }
}
.event_about-green {
   .event__icon {
      background-color: @color-green;
   }
   .event__type {
      color: @color-green;
   }
}
