.event__container {
   position: relative;
   z-index: 200;
   overflow: hidden;
   padding-top: 11rem;
   padding-bottom: 6rem;
   
   margin-top: -2rem;
   margin-bottom: 2rem;
   
   .md-block({
      padding-top: 4rem;
   });
}
.event__container:before {
   .pseudo();
   top: 0;
   right: 0;
   width: 46vw;
   height: 100%;
   .bg-event();

   .from( 2100px, {
      width: 48vw;
   });
   
   .middle-block({
      top: 3rem;
      right: -3vw;
      width: 56vw;
      height: 41rem;
   });
   .lg-block({
      width: 50vw;
   });
   .md-block({
       width: 570px;
    top: 1rem;
    right: -70px;
   });
   .sm-block({
      background-size: contain;
      width: 100%;
      height: 34rem;
      top: 9rem;
      right: 30px;
      left: 30px;
   });
   .xs-block({
      width: 100%;
      top: 7rem;
      left: 40px;
   });
   .xxs-block({
      width: 100%;
      top: 5rem;
      left: 40px;
   })
}
.event__container .wrapper {
   position: relative;
   z-index: 300;
}
.event__container .text-22 {
   .middle-block({
      margin-top: 26rem;
   });
   .sm-block({
      margin-top: 33rem;
   });
   .xxs-block({
      margin-top: 29rem;
   })
}
.event__holder {
   margin-top: 3rem;
   max-width: 600px;
   
}
.event__about {
   .flex();
   .items-center();
   margin-bottom: .8rem;
}
.event__icon {
   width: 1.5rem;
   height: 1.5rem;
   border-right: 1px;
   
   margin-right: 1.5rem;
   
   flex-shrink: 0;
}
.event__type {
   .montserrat-semibold();
   margin-top: -3px;
}
.event__text {
   margin-left: 3rem;
}

.event_about-blue {
   .event__icon {
      background-color: @color-blue-light;
   }
   .event__type {
      color: @color-blue-light;
   }
}
.event_about-orange {
   .event__icon {
      background-color: @color-orange;
   }
   .event__type {
      color: @color-orange;
   }
}
.event_about-green {
   .event__icon {
      background-color: @color-green;
   }
   .event__type {
      color: @color-green;
   }
}
