.logo_ficto {
   width: 100%;
   height: 65px;
   flex-shrink: 0;
   
   .lg-block({
      height: 55px;
   });
   .md-block({
      height: 60px;
   })
}
.logo_kub {
   width: 9rem;
   height: 9rem;
   flex-shrink: 0;
   
   .lg-block({
      width: 8rem;
      height: 8rem;
   });
   .md-block({
      width: 7rem;
      height: 7rem;
   });
   .md-block({
      display: none;
   })
}
