.about_competition__container {
   margin-top: 18rem;
}

.about_competition__holder {
   .col();
   .size(14);
   .size-xl(14);
   .size-lg(16);
   .size-md(24);
   .size-sm(24);
}
.about_competition {
   .col();
   .size(10);
   .size-xl(10);
   .size-lg(8);
   .size-md(24);
   .size-sm(24);
}
.about_competition_icon {
   .competition-about();
}

.about_competition_item {

}
.about_competition__icon {
   .competition-check();
}
.about_competition__text {
   .montserrat-regular();
   font-size: 1.5rem;
   line-height: 1.9rem;
}


@media screen and (max-width: 1400px) {
   .about_competition__container {
       margin-top: 15rem;
   }
}
@media screen and (max-width: 1265px) {
   .about_competition__container {
       margin-top: 4rem;
   }
}
@media screen and (max-width: 1135px) {
   .about_competition__container {
       margin-top: 0;
   }
}
@media screen and (max-width: 1000px) {
   .about_competition__container {
      margin-top: 43rem;
   }
}
@media screen and (max-width: 945px) {
   .about_competition__container {
      margin-top: 46vw;
   }
}
@media screen and (max-width: 690px) {
   .about_competition__container {
      margin-top: 15rem;
   }
}
@media screen and (max-width: 605px) {
   .about_competition__container {
      margin-top: 28vw;
   }
}
@media screen and (max-width: 560px) {
   .about_competition__container {
      margin-top: 42vw;
   }
}
@media screen and (max-width: 480px) {
   .about_competition__container {
      margin-top: 28vw;
   }
}
