#container_competition  .footer__container {
   margin-top: 0;
}
.archive__container {
   
   padding-top: 3rem;
   position: relative;
   margin-top: 18rem;
   padding-bottom: 3rem;
   
   .video_ratio {
       width: 100%;
       height: 0;
       padding-top: 57.1%;
   }
}
.archive__container:before {
   .pseudo();
   .archive-footer();
   
   width: 110%;
   height: 100%;
   
   bottom: -2%;
   left: -4%;
}
.archive_button__image {
   position: relative;
   max-width: 880px;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 4px 4px 13px 0 rgba(69, 69, 69, 0.2);
}
.archive__image {
   width: 100%;
   height: 100%;
   background-image: url("../data/teacher_competition/2023.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   
   .tr();
}


.archive_button__image:hover .archive__image {
   background-image: url("../data/teacher_competition/2023-hover.png");
   .tr();
}
