.semifinalists__container {}

.semifinalists__holder {
   padding: 4rem 2rem;
   box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
   background-color: white;
   border-radius: 2px;
}

.semifinalists__holder h1 {
   .montserrat-semibold();
   font-size: 2.2rem;
   line-height: 2.4rem;
   .middle-block({
      font-size: 2.4rem;
      line-height: 2.6rem;
   });
   .sm-block({
      font-size: 2.5rem;
      line-height: 2.7rem;
   });
   .to(390px, {
      font-size: 2rem;
      line-height: 2.2rem;
   });
}

.semifinalists__holder .row {
   margin-top: 5rem;
   
   .u-row-flex(2rem)
}
.semifinalist_one__holder {
   .column-center();
   
   .u-col(2rem);
   .u-size(6, 24, 2rem);
   .col-offsets-bottom();
   
   .xl-block({
      .u-size(8, 24, 2rem);
   });
   .middle-block({
      .u-size(8, 24, 2rem);
   });
   .lg-block({
      .u-size(8, 24, 2rem);
   });
   .md-block({
      .u-size(12, 24, 2rem);
   });
   .sm-block({
      .u-size(20, 24, 2rem);
      .shift-left(.55)
   });
   .xs-block({
      .u-size(24, 24, 2rem);
      //.shift-left(.55)
      margin-left: 1rem;
   });
   
   padding: 1.5rem 1rem;
   box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
   background-color: white;
   border-radius: 2px;
}
.semifinalist_one__holder .semi-line {
   width: 100%;
   height: 1px;
   background-color: @color-black;
   border-radius: 1px;
   
   margin-bottom: 1rem;
}

.semifinalist_one__holder strong {
   display: block;
   height: 4rem;
   padding-bottom: 1rem;
   
   .md-block({
      height: 3rem;
   });
   .sm-block({
      height: 2.5rem;
   });
   .xs-block({
      min-height: 3.5rem;
      height: auto;
   });
}
.semifinalist_one__holder p {
   margin-bottom: 1rem;
}


.semifinalist_one__modal {
   position: fixed;
   z-index: 9999;
   overflow: auto;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(17, 17, 17, 0.5);
   
   display: none;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal_container {
   margin: 50px;
   padding: 20px;
   width: 70vw;
   min-width: 280px;
   max-width: 900px;
   //height: 360px;
   //min-height: 350px;
   //max-height: 900px;
   
   background-color: #fff;
   border-radius: 2px;
}
.modal_close {
   margin-left: auto;
   .icon_close-big();
   .size-12();
}
.modal_close:hover {
   .icon_close-hover();
}

.video_relative {
   position: relative;
}
.video_ratio {
   width: 100%;
   height: 0;
   padding-top: 56.3%;
}
.iframe_holder {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}



.video__button {
    display: table;
    margin: 0 auto;
    background-color: #3C78EC;
    border-radius: 2px;
    padding: .5rem 1rem;
    cursor: pointer;
   .tr();
}

.video__button:hover {
   background-color: #6990F2;
}

.video_button__inner {
   .flex();
   .items-center()
}
.icon-video-white {}
.video_button__text {
   color: white;
   
   .montserrat-regular();
   font-size: 1.2rem;
   line-height: 1.6rem;
   .middle-block({
      font-size: 1.4rem;
      line-height: 1.8rem;
   });
   .sm-block({
      font-size: 1.5rem;
      line-height: 2.1rem;
   });
}









.semifinalists-1 { .nominations( '1'); }
.semifinalists-2 { .nominations( '2'); }
.semifinalists-3 { .nominations( '3'); background-size: 500px auto; }
.semifinalists-4 { .nominations( '4'); }
.semifinalists-5 { .nominations( '5'); }


@media screen and (max-width: 1250px) {
   .semifinalists-3 {
      background-size: 400px auto;
   }
}
@media screen and (max-width: 1125px) {
   .semifinalists-3 {
      background-size: 370px auto;
   }
}
@media screen and (max-width: 995px) {
   .semifinalists-2 {
      background-position: 98% 93%;
   }
   .semifinalists-3 {
      background-size: 430px auto;
   }
}
@media screen and (max-width: 770px) {
   .semifinalists-3 {
      background-size: 310px auto;
   }
   .semifinalists-5 {
      background-size: 250px auto;
   }
}
