#container_digital_generation {
   overflow-x: hidden;
}
#container_digital_generation .background-gray,
#container_digital_generation .background-black {
   background-color: #191B3E;
}
#container_digital_generation .active.menu__item {
   color: #3b3eab;
}

section h1.digital_generation__caption {
   .montserrat-bold();
   font-size: 3.4rem;
   line-height: 120%;
   margin-bottom: 8rem;
   .xxl-block({
      font-size: 2.9rem;
   });
   .middle-block({
      font-size: 4vw;
   });
   .sm-block({
      font-size: 3.5vw;
      margin-bottom: 4rem;
   });
}

.digital_generation__item {
   margin: 0 .5vw;
   max-height: 550px;
   //min-height: 300px;
   position: relative;
   .middle-block({
      min-height: 400px;
      max-height: 400px;
   });
   .lg-block({
      min-height: 300px;
      max-height: 300px;
   });
   .md-block({
      min-height: 250px;
      max-height: 250px;
   });
   .xs-block({
      min-height: 150px;
      max-height: 150px;
   });
}
.digital_generation__item .digital_generation__photo img {
   border-radius: 2px;
   max-height: 550px;
   //min-height: 300px;
      object-fit: cover;
   transition: all .6s;
   filter: opacity(70%);
   .middle-block({
      min-height: 400px;
      max-height: 400px;
   });
   .lg-block({
      min-height: 300px;
      max-height: 300px;
   });
   .md-block({
      min-height: 250px;
      max-height: 250px;
   });
   .xs-block({
      min-height: 150px;
      max-height: 150px;
   });

}
#container_digital_generation .slick-current .digital_generation__item img {
   transition: all .6s;
   filter: opacity(100%);
   .sm-block({
      filter: opacity(100%);
   });
   animation: filter .3s ease;
}
.digital_generation__card {
   position: absolute;
   z-index: 300;
   left: 2rem;
   bottom: 10%;
   padding: .5rem 1.5rem;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 1px;
   span {
      .montserrat-medium();
      color: #191919;
   }
   
   .lg-block({
      left: 1rem;
   });
   .sm-block({
      padding: .3rem .5rem;
      right: 1rem
   });
}



.digital_generation__gallery {
   margin-bottom: 10rem;
   .sm-block({
      margin-bottom: 6rem;
   });
}


@keyframes filter {
   0% { filter: opacity(70%) }
   100% { filter: opacity(100%) }
}
