
#container_digital_generation .slick-dots li button:before {
   width: 20px;
   height: 40px;
   font-size: 40px;
   
   color: #3b3eab;
}
#container_digital_generation .slick-dots li.slick-active button:before {
   color: #3b3eab;
}

#container_digital_generation .slick-arrow {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 3vw;
   height: 100%;
   background-image: none;
   background-color: rgba(199, 199, 199, 0.25);
   .lg-block({
      width: 1vw;
   });
   .sm-block({
      width: 15vw;
      background-color: transparent;
   })
}

#container_digital_generation .slick-next {
   right: 0;
}
#container_digital_generation .slick-prev {
   left: 0;
}
#container_digital_generation .slick-next:before,
#container_digital_generation .slick-prev:before {
   content: '';
   display: none;
}
